Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools, @tanstack/angular-query, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

codecov.yml:

codecov:
  max_report_age: off

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto

comment:
  layout: 'header, reach, diff, flags, components'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  hide_project_coverage: false

component_management:
  individual_components:
    - component_id: angular-query-devtools
      name: '@tanstack/angular-query-devtools'
      paths:
        - packages/angular-query-devtools/**
    - component_id: angular-query
      name: '@tanstack/angular-query'
      paths:
        - packages/angular-query/**
    - component_id: eslint-plugin-query
      name: '@tanstack/eslint-plugin-query'
      paths:
        - packages/eslint-plugin-query/**
    - component_id: query-async-storage-persister
      name: '@tanstack/query-async-storage-persister'
      paths:
        - packages/query-async-storage-persister/**
    - component_id: query-broadcast-client-experimental
      name: '@tanstack/query-broadcast-client-experimental'
      paths:
        - packages/query-broadcast-client-experimental/**
    - component_id: query-codemods
      name: '@tanstack/query-codemods'
      paths:
        - packages/query-codemods/**
    - component_id: query-core
      name: '@tanstack/query-core'
      paths:
        - packages/query-core/**
    - component_id: query-devtools
      name: '@tanstack/query-devtools'
      paths:
        - packages/query-devtools/**
    - component_id: query-persist-client-core
      name: '@tanstack/query-persist-client-core'
      paths:
        - packages/query-persist-client-core/**
    - component_id: query-sync-storage-persister
      name: '@tanstack/query-sync-storage-persister'
      paths:
        - packages/query-sync-storage-persister/**
    - component_id: query-test-utils
      name: '@tanstack/query-test-utils'
      paths:
        - packages/query-test-utils/**
    - component_id: react-query
      name: '@tanstack/react-query'
      paths:
        - packages/react-query/**
    - component_id: react-query-devtools
      name: '@tanstack/react-query-devtools'
      paths:
        - packages/react-query-devtools/**
    - component_id: react-query-next-experimental
      name: '@tanstack/react-query-next-experimental'
      paths:
        - packages/react-query-next-experimental/**
    - component_id: react-query-persist-client
      name: '@tanstack/react-query-persist-client'
      paths:
        - packages/react-query-persist-client/**
    - component_id: solid-query
      name: '@tanstack/solid-query'
      paths:
        - packages/solid-query/**
    - component_id: solid-query-devtools
      name: '@tanstack/solid-query-devtools'
      paths:
        - packages/solid-query-devtools/**
    - component_id: solid-query-persist-client
      name: '@tanstack/solid-query-persist-client'
      paths:
        - packages/solid-query-persist-client/**
    - component_id: svelte-query
      name: '@tanstack/svelte-query'
      paths:
        - packages/svelte-query/**
    - component_id: svelte-query-devtools
      name: '@tanstack/svelte-query-devtools'
      paths:
        - packages/svelte-query-devtools/**
    - component_id: svelte-query-persist-client
      name: '@tanstack/svelte-query-persist-client'
      paths:
        - packages/svelte-query-persist-client/**
    - component_id: vue-query
      name: '@tanstack/vue-query'
      paths:
        - packages/vue-query/**
    - component_id: vue-query-devtools
      name: '@tanstack/vue-query-devtools'
      paths:
        - packages/vue-query-devtools/**

test(angular-query-experimental/injectQueries): add test for error state when one of the queries rejects
  packages/angular-query-experimental/src/__tests__/inject-queries.test.ts
Due: none

test(angular-query-experimental/injectQueries): add test for error state when one of the queries rejects (#10597)
  packages/angular-query-experimental/src/__tests__/inject-queries.test.ts
Due: none

refactor(query-core): drop NoInfer re-export, use built-in everywhere
  .changeset/query-core-noinfer-builtin.md
  packages/preact-query/src/useQuery.ts
  packages/query-core/src/noInfer.ts
  packages/query-core/src/queryClient.ts
  packages/query-core/src/types.ts
  packages/react-query/src/useQuery.ts
  packages/vue-query/src/queryClient.ts
Due: @tanstack/query-core, @tanstack/react-query, @tanstack/vue-query

test(vue-query): pin suspense() Promise<TResult> parameterization
  packages/vue-query/src/__tests__/useQuery.test-d.ts
Due: @tanstack/vue-query

fix(solid-query): skip reconcile when data reference is unchanged
  .changeset/solid-query-reconcile-dedup.md
  packages/solid-query/src/__tests__/useQuery.test.tsx
  packages/solid-query/src/useBaseQuery.ts
Due: @tanstack/solid-query

test(angular-query-experimental/injectIsRestoring): add test for resolving 'provideIsRestoring' value with 'injector' option
  packages/angular-query-experimental/src/__tests__/inject-is-restoring.test.ts
Due: none

fix(query-core): restore NoInfer on persister's TQueryKey
  .changeset/fix-persister-query-key-infer.md
  packages/query-core/src/types.ts
Due: @tanstack/query-core

chore(lit-query): clean up stale package checks
  knip.json
  packages/lit-query/scripts/check-package.mjs
  packages/lit-query/src/QueryClientProvider.ts
  packages/lit-query/src/controllers/BaseController.ts
  packages/lit-query/src/createQueriesController.ts
  packages/lit-query/src/tests/context-provider.test.ts
  packages/lit-query/src/tests/queries-controller.test.ts
Due: none

test(angular-query-experimental/injectIsRestoring): add test for resolving 'provideIsRestoring' value with 'injector' option (#10599)
  packages/angular-query-experimental/src/__tests__/inject-is-restoring.test.ts
Due: none

refactor(solid-query): remove 'Solid' prefix from 'SolidQueryOptions', 'SolidInfiniteQueryOptions', and 'SolidMutationOptions' (#10500)
  .changeset/five-lizards-camp.md
  packages/solid-query/src/__tests__/mutationOptions.test-d.tsx
  packages/solid-query/src/__tests__/useQueries.test-d.tsx
  packages/solid-query/src/__tests__/useQueries.test.tsx
  packages/solid-query/src/index.ts
  packages/solid-query/src/infiniteQueryOptions.ts
  packages/solid-query/src/mutationOptions.ts
  packages/solid-query/src/queryOptions.ts
  packages/solid-query/src/types.ts
  packages/solid-query/src/useQueries.ts
Due: @tanstack/solid-query

test(preact-query/ErrorBoundary): replace British 'behaviour' with American 'behavior'
  packages/preact-query/src/__tests__/ErrorBoundary/ErrorBoundary.ts
Due: none

test(preact-query/ErrorBoundary): replace British 'behaviour' with American 'behavior' (#10605)
  packages/preact-query/src/__tests__/ErrorBoundary/ErrorBoundary.ts
Due: none

fix: remove typo in QueryOptions#retry JSDoc
  packages/query-core/src/types.ts
Due: @tanstack/query-core

fix(query-devtools): align onClose setter type
  .changeset/query-devtools-onclose-setter-type.md
  packages/query-devtools/src/TanstackQueryDevtoolsPanel.tsx
Due: @tanstack/query-devtools

docs(devtools): align Vue and Solid option types
  docs/framework/solid/devtools.md
  docs/framework/vue/devtools.md
Due: none

feat(angular-query): add devtools theme option
  .changeset/angular-devtools-theme-option.md
  packages/angular-query-experimental/src/devtools/types.ts
  packages/angular-query-experimental/src/devtools/with-devtools.ts
Due: none

fix query option declaration emit
  .changeset/fix-query-options-declaration-emit.md
  packages/angular-query-experimental/src/__tests__/infinite-query-options.test-d.ts
  packages/angular-query-experimental/src/__tests__/query-options.test-d.ts
  packages/angular-query-experimental/src/index.ts
  packages/angular-query-experimental/src/infinite-query-options.ts
  packages/angular-query-experimental/src/query-options.ts
  packages/preact-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/preact-query/src/__tests__/queryOptions.test-d.tsx
  packages/preact-query/src/index.ts
  packages/preact-query/src/infiniteQueryOptions.ts
  packages/preact-query/src/queryOptions.ts
  packages/react-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/react-query/src/__tests__/queryOptions.test-d.tsx
  packages/react-query/src/index.ts
  packages/react-query/src/infiniteQueryOptions.ts
  packages/react-query/src/queryOptions.ts
  packages/solid-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/solid-query/src/__tests__/queryOptions.test-d.tsx
  packages/solid-query/src/index.ts
  packages/solid-query/src/infiniteQueryOptions.ts
  packages/solid-query/src/queryOptions.ts
  packages/svelte-query/src/index.ts
  packages/svelte-query/src/queryOptions.ts
  packages/svelte-query/tests/queryOptions.test-d.ts
  packages/vue-query/src/__tests__/infiniteQueryOptions.test-d.ts
  packages/vue-query/src/__tests__/queryOptions.test-d.ts
  packages/vue-query/src/index.ts
  packages/vue-query/src/infiniteQueryOptions.ts
  packages/vue-query/src/queryOptions.ts
Due: @tanstack/react-query, @tanstack/solid-query, @tanstack/svelte-query, @tanstack/vue-query

fix(hydration): set dataUpdatedAt when pending query resolves before hydration
  packages/query-core/src/hydration.ts
Due: @tanstack/query-core

docs(devtools): add 'relative' to Vue/Solid 'buttonPosition' and fix Vue 'style' type (#10608)
  docs/framework/solid/devtools.md
  docs/framework/vue/devtools.md
Due: none

docs(preact-query/devtools): add missing 'relative' to 'buttonPosition'
  docs/framework/preact/devtools.md
Due: none

docs(preact-query/devtools): add missing 'relative' to 'buttonPosition' (#10611)
  docs/framework/preact/devtools.md
Due: none

fix(lit-query): address review feedback for lit examples and lifecycle tests
  examples/lit/ssr/src/api.ts
  packages/lit-query/src/tests/client-switch-controllers.test.ts
Due: none

chore: upgrade to solid v2 beta 10
  examples/solid/astro/package.json
  examples/solid/astro/tsconfig.json
  examples/solid/basic-graphql-request/package.json
  examples/solid/basic-graphql-request/tsconfig.json
  examples/solid/basic/package.json
  examples/solid/basic/tsconfig.json
  examples/solid/default-query-function/package.json
  examples/solid/default-query-function/tsconfig.json
  examples/solid/offline/package.json
  examples/solid/offline/tsconfig.json
  examples/solid/simple/package.json
  examples/solid/simple/tsconfig.json
  examples/solid/solid-start-streaming/package.json
  examples/solid/solid-start-streaming/tsconfig.json
  integrations/solid-vite/package.json
  packages/solid-query-devtools/package.json
  packages/solid-query-devtools/src/clientOnly.tsx
  packages/solid-query-devtools/src/devtoolsPanel.tsx
  packages/solid-query-devtools/tsconfig.json
  packages/solid-query-devtools/tsconfig.prod.json
  packages/solid-query-persist-client/package.json
  packages/solid-query-persist-client/src/PersistQueryClientProvider.tsx
  packages/solid-query-persist-client/tsconfig.json
  packages/solid-query/package.json
  packages/solid-query/src/QueryClientProvider.tsx
  packages/solid-query/src/__tests__/useIsMutating.test.tsx
  packages/solid-query/src/__tests__/useQuery.test.tsx
  packages/solid-query/tsconfig.json
  packages/solid-query/tsconfig.legacy.json
  pnpm-lock.yaml
Due: @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client

docs(devtools): replace framework-specific logo with 'TanStack logo' to match the actual rendered component
  docs/framework/preact/devtools.md
  docs/framework/react/devtools.md
  docs/framework/solid/devtools.md
  docs/framework/vue/devtools.md
Due: none

docs(vue-query/devtools): replace 'React Query' panel leftover with 'Vue Query'
  docs/framework/vue/devtools.md
Due: none

docs(devtools): replace framework-specific logo with 'TanStack logo' and use adapter naming for 'devtools panel' in JSDoc
  packages/angular-query-experimental/src/devtools/types.ts
  packages/react-query-devtools/src/ReactQueryDevtools.tsx
  packages/solid-query-devtools/src/devtools.tsx
  packages/svelte-query-devtools/src/Devtools.svelte
  packages/vue-query-devtools/src/types.ts
Due: @tanstack/react-query-devtools, @tanstack/solid-query-devtools, @tanstack/svelte-query-devtools, @tanstack/vue-query-devtools

docs(devtools): add missing 'relative' to JSDoc 'buttonPosition' union
  packages/preact-query-devtools/src/PreactQueryDevtools.tsx
  packages/react-query-devtools/src/ReactQueryDevtools.tsx
  packages/solid-query-devtools/src/devtools.tsx
  packages/svelte-query-devtools/src/Devtools.svelte
  packages/vue-query-devtools/src/types.ts
Due: @tanstack/react-query-devtools, @tanstack/solid-query-devtools, @tanstack/svelte-query-devtools, @tanstack/vue-query-devtools

chore(.changeset): add changeset for devtools logo, panel, and 'buttonPosition' union alignment
  .changeset/good-pots-brush.md
Due: none

ci(labeler-config): add missing 'preact-query-devtools' and 'preact-query-persist-client' package labels
  labeler-config.yml
Due: none

ci(labeler-config): add missing 'preact-query-devtools' and 'preact-query-persist-client' package labels (#10618)
  labeler-config.yml
Due: none

fix: use query's own queryKeyHashFn in setQueriesData
  packages/query-core/src/queryClient.ts
Due: @tanstack/query-core

docs(preact-query-devtools): add missing 'position' union to JSDoc
  packages/preact-query-devtools/src/PreactQueryDevtools.tsx
Due: none

docs(devtools): align logo, panel, and option union descriptions across docs and JSDoc (#10617)
  .changeset/good-pots-brush.md
  docs/framework/preact/devtools.md
  docs/framework/react/devtools.md
  docs/framework/solid/devtools.md
  docs/framework/vue/devtools.md
  packages/angular-query-experimental/src/devtools/types.ts
  packages/preact-query-devtools/src/PreactQueryDevtools.tsx
  packages/react-query-devtools/src/ReactQueryDevtools.tsx
  packages/solid-query-devtools/src/devtools.tsx
  packages/svelte-query-devtools/src/Devtools.svelte
  packages/vue-query-devtools/src/types.ts
Due: @tanstack/react-query-devtools, @tanstack/solid-query-devtools, @tanstack/svelte-query-devtools, @tanstack/vue-query-devtools

docs(devtools): add missing 'theme' option
  docs/framework/preact/devtools.md
  docs/framework/react/devtools.md
  docs/framework/solid/devtools.md
  docs/framework/vue/devtools.md
Due: none

docs(devtools): add missing 'theme' option (#10621)
  docs/framework/preact/devtools.md
  docs/framework/react/devtools.md
  docs/framework/solid/devtools.md
  docs/framework/vue/devtools.md
Due: none

refactor(preact-query-devtools): replace deprecated 'JSX.CSSProperties' with 'CSSProperties' from Preact namespace
  packages/preact-query-devtools/src/PreactQueryDevtoolsPanel.tsx
Due: none

chore(.changeset): add changeset for 'JSX.CSSProperties' refactor
  .changeset/cyan-words-hunt.md
Due: none

refactor(preact-query-devtools): replace deprecated 'JSX.CSSProperties' with 'CSSProperties' from Preact namespace (#10622)
  .changeset/cyan-words-hunt.md
  packages/preact-query-devtools/src/PreactQueryDevtoolsPanel.tsx
Due: none

fix(solid-query): resubscribe client counters
  packages/solid-query/src/__tests__/QueryClientProvider.test.tsx
  packages/solid-query/src/__tests__/useIsFetching.test.tsx
  packages/solid-query/src/__tests__/useIsMutating.test.tsx
  packages/solid-query/src/useIsFetching.ts
  packages/solid-query/src/useIsMutating.ts
Due: @tanstack/solid-query
