Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

release: v5.20.0
  examples/react/algolia/package.json
  examples/react/basic-typescript/package.json
  examples/react/basic/package.json
  examples/solid/simple/package.json
  packages/eslint-plugin-query/package.json
  pnpm-lock.yaml
Due: @tanstack/eslint-plugin-query

chore: Replace ts-ignore with ts-expect-error
  docs/framework/react/devtools.md
  packages/angular-query-experimental/src/signal-proxy.ts
  packages/query-devtools/src/Devtools.tsx
  packages/query-persist-client-core/src/__tests__/createPersister.test.ts
  packages/react-query/src/__tests__/HydrationBoundary.test.tsx
  packages/react-query/src/__tests__/ssr.test.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/svelte-query/src/createQueries.ts
Due: @tanstack/angular-query-experimental, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/react-query, @tanstack/svelte-query

chore: Replace `@ts-ignore` with `@ts-expect-error` (#6866)
  docs/framework/react/devtools.md
  packages/angular-query-experimental/src/signal-proxy.ts
  packages/query-devtools/src/Devtools.tsx
  packages/query-persist-client-core/src/__tests__/createPersister.test.ts
  packages/react-query/src/__tests__/HydrationBoundary.test.tsx
  packages/react-query/src/__tests__/ssr.test.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/svelte-query/src/createQueries.ts
Due: @tanstack/angular-query-experimental, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/react-query, @tanstack/svelte-query

refactor: Use ESLintUtils.RuleCreator
  packages/eslint-plugin-query/src/configs.ts
  packages/eslint-plugin-query/src/rules.ts
  packages/eslint-plugin-query/src/rules/exhaustive-deps.rule.ts
  packages/eslint-plugin-query/src/rules/no-rest-desctructuring/no-rest-destructuring.rule.ts
  packages/eslint-plugin-query/src/rules/stable-query-client/stable-query-client.rule.ts
  packages/eslint-plugin-query/src/utils/create-rule.ts
  packages/eslint-plugin-query/src/utils/get-docs-url.ts
Due: @tanstack/eslint-plugin-query

Move files, fix folder name
  packages/eslint-plugin-query/src/__tests__/exhaustive-deps.test.ts
  packages/eslint-plugin-query/src/__tests__/no-rest-destructuring.test.ts
  packages/eslint-plugin-query/src/__tests__/stable-query-client.test.ts
  packages/eslint-plugin-query/src/__tests__/test-utils.ts
  packages/eslint-plugin-query/src/rules.ts
  packages/eslint-plugin-query/src/rules/exhaustive-deps/exhaustive-deps.rule.ts
  packages/eslint-plugin-query/src/rules/exhaustive-deps/exhaustive-deps.utils.ts
  packages/eslint-plugin-query/src/rules/no-rest-destructuring/no-rest-destructuring.rule.ts
  packages/eslint-plugin-query/src/rules/no-rest-destructuring/no-rest-destructuring.utils.ts
Due: @tanstack/eslint-plugin-query

Remove empty type import
  packages/eslint-plugin-query/src/rules/stable-query-client/stable-query-client.rule.ts
Due: @tanstack/eslint-plugin-query

Fix knip
  packages/eslint-plugin-query/src/utils/detect-react-query-imports.ts
Due: @tanstack/eslint-plugin-query

refactor(eslint-plugin-query): Use ESLintUtils.RuleCreator (#6867)
  packages/eslint-plugin-query/src/__tests__/exhaustive-deps.test.ts
  packages/eslint-plugin-query/src/__tests__/no-rest-destructuring.test.ts
  packages/eslint-plugin-query/src/__tests__/stable-query-client.test.ts
  packages/eslint-plugin-query/src/__tests__/test-utils.ts
  packages/eslint-plugin-query/src/configs.ts
  packages/eslint-plugin-query/src/rules.ts
  packages/eslint-plugin-query/src/rules/exhaustive-deps/exhaustive-deps.rule.ts
  packages/eslint-plugin-query/src/rules/exhaustive-deps/exhaustive-deps.utils.ts
  packages/eslint-plugin-query/src/rules/no-rest-destructuring/no-rest-destructuring.rule.ts
  packages/eslint-plugin-query/src/rules/no-rest-destructuring/no-rest-destructuring.utils.ts
  packages/eslint-plugin-query/src/rules/stable-query-client/stable-query-client.rule.ts
  packages/eslint-plugin-query/src/utils/create-rule.ts
  packages/eslint-plugin-query/src/utils/detect-react-query-imports.ts
  packages/eslint-plugin-query/src/utils/get-docs-url.ts
Due: @tanstack/eslint-plugin-query

chore: Replace plugin:react/recommended with plugin:react/jsx-runtime
  examples/react/algolia/.eslintrc
  examples/react/basic-graphql-request/.eslintrc
  examples/react/basic-typescript/.eslintrc
  examples/react/basic/.eslintrc
  examples/react/default-query-function/.eslintrc
  examples/react/offline/.eslintrc
  examples/react/playground/.eslintrc
  examples/react/react-router/.eslintrc
  examples/react/rick-morty/.eslintrc
  examples/react/simple/.eslintrc
  examples/react/star-wars/.eslintrc
  examples/react/suspense/.eslintrc
  integrations/react-cra4/.eslintrc.cjs
  integrations/react-cra5/.eslintrc.cjs
  integrations/react-next/.eslintrc.cjs
  integrations/react-vite/.eslintrc.cjs
  packages/react-query-devtools/.eslintrc.cjs
  packages/react-query-next-experimental/.eslintrc.cjs
  packages/react-query-persist-client/.eslintrc.cjs
  packages/react-query/.eslintrc.cjs
Due: @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client

Remove unused namespace import
  packages/react-query/src/__tests__/ssr-hydration.test.tsx
Due: @tanstack/react-query

Fix tsconfig jsx field
  packages/react-query-devtools/tsconfig.json
  packages/react-query-next-experimental/tsconfig.json
  packages/react-query-persist-client/tsconfig.json
  packages/react-query/src/__tests__/QueryClientProvider.test.tsx
  packages/react-query/tsconfig.json
Due: @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client

chore: Use plugin:react/jsx-runtime config (#6868)
  examples/react/algolia/.eslintrc
  examples/react/basic-graphql-request/.eslintrc
  examples/react/basic-typescript/.eslintrc
  examples/react/basic/.eslintrc
  examples/react/default-query-function/.eslintrc
  examples/react/offline/.eslintrc
  examples/react/playground/.eslintrc
  examples/react/react-router/.eslintrc
  examples/react/rick-morty/.eslintrc
  examples/react/simple/.eslintrc
  examples/react/star-wars/.eslintrc
  examples/react/suspense/.eslintrc
  integrations/react-cra4/.eslintrc.cjs
  integrations/react-cra5/.eslintrc.cjs
  integrations/react-next/.eslintrc.cjs
  integrations/react-vite/.eslintrc.cjs
  packages/react-query-devtools/.eslintrc.cjs
  packages/react-query-devtools/tsconfig.json
  packages/react-query-next-experimental/.eslintrc.cjs
  packages/react-query-next-experimental/tsconfig.json
  packages/react-query-persist-client/.eslintrc.cjs
  packages/react-query-persist-client/tsconfig.json
  packages/react-query/.eslintrc.cjs
  packages/react-query/src/__tests__/QueryClientProvider.test.tsx
  packages/react-query/src/__tests__/ssr-hydration.test.tsx
  packages/react-query/tsconfig.json
Due: @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client

reordering setup to start agents earlier
  .github/workflows/pr.yml
Due: none

adding in nvmrc file
  .github/workflows/pr.yml
Due: none

making sure pnpm is there for node setup
  .github/workflows/pr.yml
Due: none

docs(angular-query): remove msw from angular example
  examples/angular/infinite-query-with-max-pages/package.json
  examples/angular/infinite-query-with-max-pages/src/app/api/projects-mock.interceptor.ts
  examples/angular/infinite-query-with-max-pages/src/app/app.config.ts
  examples/angular/infinite-query-with-max-pages/src/main.ts
  examples/angular/infinite-query-with-max-pages/src/mockServiceWorker.js
  examples/angular/infinite-query-with-max-pages/src/mocks/browser.ts
  examples/angular/infinite-query-with-max-pages/src/mocks/handlers.ts
  pnpm-lock.yaml
Due: none

docs(angular-query): replace msw with http interceptor (#6870)
  examples/angular/infinite-query-with-max-pages/package.json
  examples/angular/infinite-query-with-max-pages/src/app/api/projects-mock.interceptor.ts
  examples/angular/infinite-query-with-max-pages/src/app/app.config.ts
  examples/angular/infinite-query-with-max-pages/src/main.ts
  examples/angular/infinite-query-with-max-pages/src/mockServiceWorker.js
  examples/angular/infinite-query-with-max-pages/src/mocks/browser.ts
  examples/angular/infinite-query-with-max-pages/src/mocks/handlers.ts
  pnpm-lock.yaml
Due: none

Update knip to v4
  knip.json
  knip.ts
  package.json
  pnpm-lock.yaml
Due: none

Update sherif
  package.json
  pnpm-lock.yaml
Due: none

Update jsdom
  package.json
  pnpm-lock.yaml
Due: none

Update types
  examples/react/algolia/package.json
  examples/react/basic-typescript/package.json
  examples/react/nextjs-suspense-streaming/package.json
  examples/react/optimistic-updates-cache/package.json
  examples/react/optimistic-updates-ui/package.json
  integrations/react-next/package.json
  package.json
  packages/react-query-devtools/package.json
  packages/react-query-next-experimental/package.json
  packages/react-query-persist-client/package.json
  packages/react-query/package.json
  pnpm-lock.yaml
Due: @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client

Update solid deps
  examples/solid/basic-graphql-request/package.json
  examples/solid/basic-typescript/package.json
  examples/solid/default-query-function/package.json
  examples/solid/simple/package.json
  integrations/solid-vite/package.json
  package.json
  packages/query-devtools/package.json
  packages/solid-query-devtools/package.json
  packages/solid-query-persist-client/package.json
  packages/solid-query/package.json
  packages/solid-query/vite.config.ts
  pnpm-lock.yaml
Due: @tanstack/query-devtools, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client

Dedupe dependencies
  pnpm-lock.yaml
Due: none

Update expo to v50
  examples/react/react-native/package.json
  pnpm-lock.yaml
Due: none

Update @vitejs/plugin-vue
  examples/vue/basic/package.json
  examples/vue/dependent-queries/package.json
  examples/vue/persister/package.json
  integrations/vue-vite/package.json
  packages/vue-query-devtools/package.json
  packages/vue-query/package.json
  pnpm-lock.yaml
Due: @tanstack/vue-query, @tanstack/vue-query-devtools

Update testing-library
  package.json
  packages/svelte-query-persist-client/package.json
  packages/svelte-query/package.json
  pnpm-lock.yaml
Due: @tanstack/svelte-query, @tanstack/svelte-query-persist-client

Update svelte dependencies
  examples/svelte/auto-refetching/package.json
  examples/svelte/basic/package.json
  examples/svelte/load-more-infinite-scroll/package.json
  examples/svelte/optimistic-updates-typescript/package.json
  examples/svelte/playground/package.json
  examples/svelte/simple/package.json
  examples/svelte/ssr/package.json
  examples/svelte/star-wars/package.json
  integrations/svelte-vite/package.json
  packages/svelte-query-devtools/package.json
  packages/svelte-query-persist-client/package.json
  packages/svelte-query/package.json
  pnpm-lock.yaml
Due: @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client

Update vite and vitest
  examples/angular/default-query-function/package.json
  examples/angular/simple/package.json
  examples/react/algolia/package.json
  examples/react/basic-graphql-request/package.json
  examples/react/basic-typescript/package.json
  examples/react/basic/package.json
  examples/react/default-query-function/package.json
  examples/react/offline/package.json
  examples/react/playground/package.json
  examples/react/react-router/package.json
  examples/react/rick-morty/package.json
  examples/react/simple/package.json
  examples/react/star-wars/package.json
  examples/react/suspense/package.json
  examples/solid/basic-graphql-request/package.json
  examples/solid/basic-typescript/package.json
  examples/solid/default-query-function/package.json
  examples/solid/simple/package.json
  examples/svelte/auto-refetching/package.json
  examples/svelte/basic/package.json
  examples/svelte/load-more-infinite-scroll/package.json
  examples/svelte/optimistic-updates-typescript/package.json
  examples/svelte/playground/package.json
  examples/svelte/simple/package.json
  examples/svelte/ssr/package.json
  examples/svelte/star-wars/package.json
  examples/vue/basic/package.json
  examples/vue/dependent-queries/package.json
  examples/vue/persister/package.json
  integrations/react-vite/package.json
  integrations/solid-vite/package.json
  integrations/svelte-vite/package.json
  integrations/vue-vite/package.json
  package.json
  packages/vue-query-devtools/package.json
  pnpm-lock.yaml
Due: @tanstack/vue-query-devtools

Update solid and vinxi
  examples/solid/basic-graphql-request/package.json
  examples/solid/basic-typescript/package.json
  examples/solid/default-query-function/package.json
  examples/solid/simple/package.json
  examples/solid/solid-start-streaming/package.json
  integrations/solid-vite/package.json
  package.json
  packages/query-devtools/package.json
  packages/solid-query-devtools/package.json
  packages/solid-query-persist-client/package.json
  packages/solid-query/package.json
  pnpm-lock.yaml
Due: @tanstack/query-devtools, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client

Update some example deps
  examples/angular/default-query-function/package.json
  examples/react/algolia/package.json
  examples/react/auto-refetching/package.json
  examples/react/basic-typescript/package.json
  examples/react/basic/package.json
  examples/react/default-query-function/package.json
  examples/react/infinite-query-with-max-pages/package.json
  examples/react/load-more-infinite-scroll/package.json
  examples/react/nextjs/package.json
  examples/react/offline/package.json
  examples/react/optimistic-updates-cache/package.json
  examples/react/optimistic-updates-ui/package.json
  examples/react/pagination/package.json
  examples/react/prefetching/package.json
  examples/react/react-router/package.json
  examples/react/rick-morty/package.json
  examples/react/simple/package.json
  examples/react/star-wars/package.json
  examples/react/suspense/package.json
  pnpm-lock.yaml
Due: none

Update tanstack dependencies
  package.json
  packages/query-devtools/package.json
  packages/vue-query/package.json
  pnpm-lock.yaml
Due: @tanstack/query-devtools, @tanstack/vue-query

Update Nx to v18
  package.json
  pnpm-lock.yaml
Due: none

Remove @types/react-native
  examples/react/react-native/package.json
  pnpm-lock.yaml
Due: none

pnpm dedupe
  pnpm-lock.yaml
Due: none

Downgrade Nx
  package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  @tanstack/angular-query-devtools-experimental: any of: packages/angular-query-devtools-experimental/**
  @tanstack/angular-query-experimental: any of: packages/angular-query-experimental/**
  @tanstack/eslint-plugin-query: any of: packages/eslint-plugin-query/**
  @tanstack/query-async-storage-persister: any of: packages/query-async-storage-persister/**
  @tanstack/query-broadcast-client-experimental: any of: packages/query-broadcast-client-experimental/**
  @tanstack/query-codemods: any of: packages/codemods/**
  @tanstack/query-core: any of: packages/query-core/**
  @tanstack/query-devtools: any of: packages/query-devtools/**
  @tanstack/query-persist-client-core: any of: packages/query-persist-client-core/**
  @tanstack/query-sync-storage-persister: any of: packages/query-sync-storage-persister/**
  @tanstack/react-query: any of: packages/react-query/**
  @tanstack/react-query-devtools: any of: packages/react-query-devtools/**
  @tanstack/react-query-next-experimental: any of: packages/react-query-next-experimental/**
  @tanstack/react-query-persist-client: any of: packages/react-query-persist-client/**
  @tanstack/solid-query: any of: packages/solid-query/**
  @tanstack/solid-query-devtools: any of: packages/solid-query-devtools/**
  @tanstack/solid-query-persist-client: any of: packages/solid-query-persist-client/**
  @tanstack/svelte-query: any of: packages/svelte-query/**
  @tanstack/svelte-query-devtools: any of: packages/svelte-query-devtools/**
  @tanstack/svelte-query-persist-client: any of: packages/svelte-query-persist-client/**
  @tanstack/vue-query: any of: packages/vue-query/**
  @tanstack/vue-query-devtools: any of: packages/vue-query-devtools/**
