Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 1%

comment:
  layout: 'header, reach, diff, flags, components'

component_management:
  individual_components:
    - component_id: angular-query-devtools-experimental
      name: '@tanstack/angular-query-devtools-experimental'
      paths:
        - packages/angular-query-devtools-experimental/**
    - component_id: angular-query-experimental
      name: '@tanstack/angular-query-experimental'
      paths:
        - packages/angular-query-experimental/**
    - component_id: eslint-plugin-query
      name: '@tanstack/eslint-plugin-query'
      paths:
        - packages/eslint-plugin-query/**
    - component_id: query-async-storage-persister
      name: '@tanstack/query-async-storage-persister'
      paths:
        - packages/query-async-storage-persister/**
    - component_id: query-broadcast-client-experimental
      name: '@tanstack/query-broadcast-client-experimental'
      paths:
        - packages/query-broadcast-client-experimental/**
    - component_id: query-codemods
      name: '@tanstack/query-codemods'
      paths:
        - packages/codemods/**
    - component_id: query-core
      name: '@tanstack/query-core'
      paths:
        - packages/query-core/**
    - component_id: query-devtools
      name: '@tanstack/query-devtools'
      paths:
        - packages/query-devtools/**
    - component_id: query-persist-client-core
      name: '@tanstack/query-persist-client-core'
      paths:
        - packages/query-persist-client-core/**
    - component_id: query-sync-storage-persister
      name: '@tanstack/query-sync-storage-persister'
      paths:
        - packages/query-sync-storage-persister/**
    - component_id: react-query
      name: '@tanstack/react-query'
      paths:
        - packages/react-query/**
    - component_id: react-query-devtools
      name: '@tanstack/react-query-devtools'
      paths:
        - packages/react-query-devtools/**
    - component_id: react-query-next-experimental
      name: '@tanstack/react-query-next-experimental'
      paths:
        - packages/react-query-next-experimental/**
    - component_id: react-query-persist-client
      name: '@tanstack/react-query-persist-client'
      paths:
        - packages/react-query-persist-client/**
    - component_id: solid-query
      name: '@tanstack/solid-query'
      paths:
        - packages/solid-query/**
    - component_id: solid-query-devtools
      name: '@tanstack/solid-query-devtools'
      paths:
        - packages/solid-query-devtools/**
    - component_id: solid-query-persist-client
      name: '@tanstack/solid-query-persist-client'
      paths:
        - packages/solid-query-persist-client/**
    - component_id: svelte-query
      name: '@tanstack/svelte-query'
      paths:
        - packages/svelte-query/**
    - component_id: svelte-query-devtools
      name: '@tanstack/svelte-query-devtools'
      paths:
        - packages/svelte-query-devtools/**
    - component_id: svelte-query-persist-client
      name: '@tanstack/svelte-query-persist-client'
      paths:
        - packages/svelte-query-persist-client/**
    - component_id: vue-query
      name: '@tanstack/vue-query'
      paths:
        - packages/vue-query/**
    - component_id: vue-query-devtools
      name: '@tanstack/vue-query-devtools'
      paths:
        - packages/vue-query-devtools/**

test(react-query/HydrationBoundary): add tests for 'non-object' state and missing 'queries' property handling (#9605)
  packages/react-query/src/__tests__/HydrationBoundary.test.tsx
Due: @tanstack/react-query

refactor(query-core): use shallowEqualObjects for result comparison
  packages/query-core/src/queriesObserver.ts
Due: @tanstack/query-core

refactor(query-core): improve setQueries flow and fix persist/restore issue with memoized combine
  packages/query-core/src/queriesObserver.ts
Due: @tanstack/query-core

refactor(query-core): improve setQueries flow and remove log
  packages/query-core/src/queriesObserver.ts
Due: @tanstack/query-core

test(react-query): update useQueries expectations for metadata change detection
  packages/react-query/src/__tests__/useQueries.test.tsx
Due: @tanstack/react-query

test(react-query): fix test comments
  packages/react-query/src/__tests__/useQueries.test.tsx
Due: @tanstack/react-query

test(react-query): add test for stable combine optimization on unrelated re-renders
  packages/react-query/src/__tests__/useQueries.test.tsx
Due: @tanstack/react-query

fix(query-core): ensure combine re-executes after cache restoration with memoized combine (#9592)
  packages/query-core/src/__tests__/queriesObserver.test.tsx
  packages/query-core/src/queriesObserver.ts
  packages/react-query-persist-client/src/__tests__/use-queries-with-persist.test.tsx
  packages/react-query/src/__tests__/useQueries.test.tsx
Due: @tanstack/query-core, @tanstack/react-query, @tanstack/react-query-persist-client

test(react-query/useMutationState): clarify assertions and improve code formatting
  packages/react-query/src/__tests__/useMutationState.test.tsx
Due: @tanstack/react-query

add timeoutManager class
  packages/query-core/src/timeoutManager.ts
Due: @tanstack/query-core

add additional types & export functions
  packages/query-core/src/index.ts
  packages/query-core/src/timeoutManager.ts
Due: @tanstack/query-core

convert all setTimeout/setInterval to managed versions
  packages/query-async-storage-persister/src/asyncThrottle.ts
  packages/query-core/src/notifyManager.ts
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/removable.ts
  packages/query-core/src/utils.ts
  packages/query-persist-client-core/src/createPersister.ts
  packages/query-sync-storage-persister/src/index.ts
Due: @tanstack/query-async-storage-persister, @tanstack/query-core, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister

tweaks
  packages/query-core/src/timeoutManager.ts
Due: @tanstack/query-core

add claude-generated tests
  packages/query-core/src/__tests__/timeoutManager.test.tsx
Due: @tanstack/query-core

tests
  packages/query-core/src/__tests__/timeoutManager.test.tsx
Due: @tanstack/query-core

revert changes in query-async-storage-persister: no path to import query-core
  packages/query-async-storage-persister/src/asyncThrottle.ts
Due: @tanstack/query-async-storage-persister

re-export more types
  packages/query-core/src/index.ts
Due: @tanstack/query-core

console.warn -> non-production console.error
  packages/query-core/src/__tests__/timeoutManager.test.tsx
  packages/query-core/src/timeoutManager.ts
Due: @tanstack/query-core

query-async-storage-persister: use query-core managedSetTimeout
  packages/query-async-storage-persister/package.json
  packages/query-async-storage-persister/src/asyncThrottle.ts
Due: @tanstack/query-async-storage-persister

pdate pnpm-lock for new dependency edge
  pnpm-lock.yaml
Due: none

sleep: always managedSetTimeout
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

Optional core devtools dependency
  packages/angular-query-experimental/package.json
  packages/angular-query-experimental/src/__tests__/inject-devtools-panel.test.ts
  packages/angular-query-experimental/src/devtools-panel/inject-devtools-panel.ts
  packages/angular-query-experimental/src/devtools/with-devtools.ts
  pnpm-lock.yaml
Due: @tanstack/angular-query-experimental

Fix svelte optimistic updates example (#8005)
  examples/svelte/optimistic-updates/src/routes/api/data/+server.ts
Due: none

chore(tsconfig.json): simplify 'include' patterns by consolidating file extensions and directory paths (#9547)
  packages/angular-query-devtools-experimental/tsconfig.json
  packages/angular-query-experimental/tsconfig.json
  packages/angular-query-persist-client/tsconfig.json
  packages/eslint-plugin-query/tsconfig.json
  packages/query-async-storage-persister/tsconfig.json
  packages/query-broadcast-client-experimental/tsconfig.json
  packages/query-codemods/tsconfig.json
  packages/query-core/tsconfig.json
  packages/query-devtools/tsconfig.json
  packages/query-persist-client-core/tsconfig.json
  packages/query-sync-storage-persister/tsconfig.json
  packages/query-test-utils/tsconfig.json
  packages/react-query-devtools/tsconfig.json
  packages/react-query-next-experimental/tsconfig.json
  packages/react-query-persist-client/tsconfig.json
  packages/react-query/tsconfig.json
  packages/solid-query-devtools/tsconfig.json
  packages/solid-query-persist-client/tsconfig.json
  packages/solid-query/tsconfig.json
  packages/svelte-query-devtools/tsconfig.json
  packages/svelte-query-persist-client/tsconfig.json
  packages/svelte-query/tsconfig.json
  packages/vue-query-devtools/tsconfig.json
  packages/vue-query/tsconfig.json
  tsconfig.json
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

test(react-query/useMutationState): clarify assertions and improve code formatting (#9611)
  packages/react-query/src/__tests__/useMutationState.test.tsx
Due: @tanstack/react-query

fix(docs): clarify reducer function description in streamedQuery documentation
  docs/reference/streamedQuery.md
Due: none

chore: docs
  docs/reference/streamedQuery.md
  examples/react/chat/src/chat.ts
Due: none

fix(tests): Code Review :: update streamedQuery tests to use correct initialValue type
  packages/query-core/src/__tests__/streamedQuery.test.tsx
  packages/query-core/src/streamedQuery.ts
Due: @tanstack/query-core

remove managed* functions, call method directly
  packages/query-async-storage-persister/src/asyncThrottle.ts
  packages/query-core/src/index.ts
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/removable.ts
  packages/query-core/src/timeoutManager.ts
  packages/query-core/src/utils.ts
  packages/query-sync-storage-persister/src/index.ts
Due: @tanstack/query-async-storage-persister, @tanstack/query-core, @tanstack/query-sync-storage-persister

remove runtime coercion and accept unsafe any within TimeoutManager class
  packages/query-core/src/timeoutManager.ts
Due: @tanstack/query-core

cleanup; fix test after changes
  packages/query-core/src/__tests__/timeoutManager.test.tsx
  packages/query-core/src/index.ts
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

name is __TEST_ONLY__
  packages/query-core/src/__tests__/timeoutManager.test.tsx
Due: @tanstack/query-core

notifyManager: default scheduler === systemSetTimeoutZero
  packages/query-core/src/notifyManager.ts
Due: @tanstack/query-core

Improve TimeoutCallback comment since ai was confused
  packages/query-core/src/timeoutManager.ts
Due: @tanstack/query-core

remove unnecessary timeoutManager-related exports
  packages/query-core/src/index.ts
  packages/query-core/src/timeoutManager.ts
Due: @tanstack/query-core

prettier-ify index.ts (seems my editor messed with it already this pr?)
  packages/query-core/src/index.ts
Due: @tanstack/query-core

continue to export defaultTimeoutProvider for tests
  packages/query-core/src/__tests__/timeoutManager.test.tsx
  packages/query-core/src/timeoutManager.ts
Due: @tanstack/query-core

oops missing import
  packages/query-core/src/__tests__/timeoutManager.test.tsx
Due: @tanstack/query-core
