Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 1%

comment:
  layout: 'header, reach, diff, flags, components'

component_management:
  individual_components:
    - component_id: angular-query-devtools-experimental
      name: '@tanstack/angular-query-devtools-experimental'
      paths:
        - packages/angular-query-devtools-experimental/**
    - component_id: angular-query-experimental
      name: '@tanstack/angular-query-experimental'
      paths:
        - packages/angular-query-experimental/**
    - component_id: eslint-plugin-query
      name: '@tanstack/eslint-plugin-query'
      paths:
        - packages/eslint-plugin-query/**
    - component_id: query-async-storage-persister
      name: '@tanstack/query-async-storage-persister'
      paths:
        - packages/query-async-storage-persister/**
    - component_id: query-broadcast-client-experimental
      name: '@tanstack/query-broadcast-client-experimental'
      paths:
        - packages/query-broadcast-client-experimental/**
    - component_id: query-codemods
      name: '@tanstack/query-codemods'
      paths:
        - packages/codemods/**
    - component_id: query-core
      name: '@tanstack/query-core'
      paths:
        - packages/query-core/**
    - component_id: query-devtools
      name: '@tanstack/query-devtools'
      paths:
        - packages/query-devtools/**
    - component_id: query-persist-client-core
      name: '@tanstack/query-persist-client-core'
      paths:
        - packages/query-persist-client-core/**
    - component_id: query-sync-storage-persister
      name: '@tanstack/query-sync-storage-persister'
      paths:
        - packages/query-sync-storage-persister/**
    - component_id: react-query
      name: '@tanstack/react-query'
      paths:
        - packages/react-query/**
    - component_id: react-query-devtools
      name: '@tanstack/react-query-devtools'
      paths:
        - packages/react-query-devtools/**
    - component_id: react-query-next-experimental
      name: '@tanstack/react-query-next-experimental'
      paths:
        - packages/react-query-next-experimental/**
    - component_id: react-query-persist-client
      name: '@tanstack/react-query-persist-client'
      paths:
        - packages/react-query-persist-client/**
    - component_id: solid-query
      name: '@tanstack/solid-query'
      paths:
        - packages/solid-query/**
    - component_id: solid-query-devtools
      name: '@tanstack/solid-query-devtools'
      paths:
        - packages/solid-query-devtools/**
    - component_id: solid-query-persist-client
      name: '@tanstack/solid-query-persist-client'
      paths:
        - packages/solid-query-persist-client/**
    - component_id: svelte-query
      name: '@tanstack/svelte-query'
      paths:
        - packages/svelte-query/**
    - component_id: svelte-query-devtools
      name: '@tanstack/svelte-query-devtools'
      paths:
        - packages/svelte-query-devtools/**
    - component_id: svelte-query-persist-client
      name: '@tanstack/svelte-query-persist-client'
      paths:
        - packages/svelte-query-persist-client/**
    - component_id: vue-query
      name: '@tanstack/vue-query'
      paths:
        - packages/vue-query/**
    - component_id: vue-query-devtools
      name: '@tanstack/vue-query-devtools'
      paths:
        - packages/vue-query-devtools/**

fix(eslint-plugin): separate legacy and modern dts files (#8972)
  examples/react/eslint-legacy/.eslintrc
  examples/react/eslint-legacy/.gitignore
  examples/react/eslint-legacy/README.md
  examples/react/eslint-legacy/index.html
  examples/react/eslint-legacy/package.json
  examples/react/eslint-legacy/public/emblem-light.svg
  examples/react/eslint-legacy/src/index.tsx
  examples/react/eslint-legacy/tsconfig.json
  examples/react/eslint-legacy/vite.config.ts
  package.json
  packages/eslint-plugin-query/package.json
  packages/eslint-plugin-query/root.tsup.config.js
  packages/eslint-plugin-query/scripts/patch-missing-export-equals.js
  packages/eslint-plugin-query/src/index.ts
  packages/eslint-plugin-query/tsconfig.prod.json
  packages/eslint-plugin-query/tsup.config.js
  packages/eslint-plugin-query/tsup.config.ts
  pnpm-lock.yaml
Due: @tanstack/eslint-plugin-query

Reflect feedback
  packages/query-core/src/__tests__/hydration.test.tsx
Due: @tanstack/query-core

Remove unnecessary code
  packages/query-core/src/__tests__/hydration.test.tsx
Due: @tanstack/query-core

reflect not share a client between tests
  packages/query-core/src/__tests__/hydration.test.tsx
Due: @tanstack/query-core

test(query-core): add test case for mutationObserver
  packages/query-core/src/__tests__/mutationObserver.test.tsx
Due: @tanstack/query-core

test(query-core): add test case for notifyManager
  packages/query-core/src/__tests__/notifyManager.test.tsx
Due: @tanstack/query-core

refactor: make test:lib depend on compile again
  nx.json
Due: none

chore: remove eslint task from basic example
  examples/react/basic/package.json
Due: none

chore: add eslint test script to package.json
  examples/react/basic/package.json
Due: none

fix(nx): ensure test eslint depends on build for plugin workspace
  examples/react/basic/package.json
Due: none

chore: add eslint test script to package.json (#8979)
  examples/react/basic/package.json
Due: none

fix build error
  examples/angular/devtools-panel/src/app/components/lazy-load-devtools-panel-example.component.ts
  packages/angular-query-experimental/src/inject-mutation.ts
Due: @tanstack/angular-query-experimental

test(react-query): use fakeTimers in ssr.test.tsx
  packages/react-query/src/__tests__/ssr.test.tsx
Due: @tanstack/react-query

test(react-query): use fakeTimers in useIsFetching.test.tsx
  packages/react-query/src/__tests__/useIsFetching.test.tsx
Due: @tanstack/react-query

test(query-core): use fakeTimers for onlineManager.test.tsx
  packages/query-core/src/__tests__/onlineManager.test.tsx
Due: @tanstack/query-core

test(react-query): use fakeTimers for usePrefetchQuery.test.tsx
  packages/react-query/src/__tests__/usePrefetchQuery.test.tsx
Due: @tanstack/react-query

fix
  packages/react-query/src/__tests__/ssr.test.tsx
Due: @tanstack/react-query

revert changes to deprecated injectQueryClient
  packages/angular-query-experimental/src/inject-query-client.ts
Due: @tanstack/angular-query-experimental

Rename optionsFn as we now also have an options parameter
  packages/angular-query-devtools-experimental/src/inject-devtools-panel.ts
  packages/angular-query-experimental/src/inject-infinite-query.ts
  packages/angular-query-experimental/src/inject-mutation-state.ts
  packages/angular-query-experimental/src/inject-mutation.ts
  packages/angular-query-experimental/src/inject-query.ts
  packages/angular-query-experimental/src/providers.ts
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental

Revert changes to injectQueries as there's a PR in progress for that
  packages/angular-query-experimental/src/inject-queries.ts
Due: @tanstack/angular-query-experimental

Add types for options
  packages/angular-query-devtools-experimental/src/inject-devtools-panel.ts
  packages/angular-query-experimental/src/inject-infinite-query.ts
  packages/angular-query-experimental/src/inject-is-fetching.ts
  packages/angular-query-experimental/src/inject-is-mutating.ts
  packages/angular-query-experimental/src/inject-mutation-state.ts
  packages/angular-query-experimental/src/inject-mutation.ts
  packages/angular-query-experimental/src/inject-query.ts
  packages/angular-query-experimental/src/types.ts
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental

fix(angular-query): align function signatures to have an options parameter accepting an object with injector property (#8776)
  examples/angular/devtools-panel/src/app/components/lazy-load-devtools-panel-example.component.ts
  packages/angular-query-devtools-experimental/src/inject-devtools-panel.ts
  packages/angular-query-experimental/src/__tests__/inject-infinite-query.test.ts
  packages/angular-query-experimental/src/__tests__/inject-is-fetching.test.ts
  packages/angular-query-experimental/src/__tests__/inject-is-mutating.test.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation.test.ts
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
  packages/angular-query-experimental/src/inject-infinite-query.ts
  packages/angular-query-experimental/src/inject-is-fetching.ts
  packages/angular-query-experimental/src/inject-is-mutating.ts
  packages/angular-query-experimental/src/inject-mutation-state.ts
  packages/angular-query-experimental/src/inject-mutation.ts
  packages/angular-query-experimental/src/inject-queries.ts
  packages/angular-query-experimental/src/inject-query.ts
  packages/angular-query-experimental/src/providers.ts
  packages/angular-query-experimental/src/util/assert-injector/assert-injector.ts
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental

release: v5.72.3
  examples/angular/auto-refetching/package.json
  examples/angular/basic/package.json
  examples/angular/devtools-panel/package.json
  examples/angular/infinite-query-with-max-pages/package.json
  examples/angular/optimistic-updates/package.json
  examples/angular/pagination/package.json
  examples/angular/query-options-from-a-service/package.json
  examples/angular/router/package.json
  examples/angular/rxjs/package.json
  examples/angular/simple/package.json
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/package.json
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental

docs: update createPersister.md with info about cache mutations (#8893)
  docs/framework/react/plugins/createPersister.md
Due: none

docs(vue-query): update example in disabling-queries.md (#8433)
  docs/framework/vue/guides/disabling-queries.md
Due: none

types(vue-query): add `shallow` support to `QueryClientConfig` (#8692)
  packages/vue-query/src/queryClient.ts
  packages/vue-query/src/types.ts
  packages/vue-query/src/useMutation.ts
  packages/vue-query/src/useQuery.ts
  packages/vue-query/src/vueQueryPlugin.ts
Due: @tanstack/vue-query

docs: fix a few typos (#8962)
  docs/framework/react/guides/migrating-to-v5.md
Due: none

refactor(query-core): make common type more readable
  packages/query-core/src/types.ts
Due: @tanstack/query-core

fix: types
  packages/vue-query/src/useBaseQuery.ts
Due: @tanstack/vue-query

feat(vue-query): useInfiniteQuery options support maybe ref type (#8956)
  packages/vue-query/src/__tests__/useInfiniteQuery.test-d.tsx
  packages/vue-query/src/useInfiniteQuery.ts
Due: @tanstack/vue-query

release: v5.73.0
  examples/vue/2.6-basic/package.json
  examples/vue/2.7-basic/package.json
  examples/vue/basic/package.json
  examples/vue/dependent-queries/package.json
  examples/vue/nuxt3/package.json
  examples/vue/persister/package.json
  examples/vue/simple/package.json
  packages/vue-query-devtools/package.json
  packages/vue-query/package.json
Due: @tanstack/vue-query, @tanstack/vue-query-devtools

fix: revert WithRequired type
  packages/query-core/src/types.ts
Due: @tanstack/query-core

fix: remove blank
  packages/query-core/src/types.ts
Due: @tanstack/query-core

refactor(query-core): change Omitkeyof to Omit
  packages/query-core/src/types.ts
Due: @tanstack/query-core

fix(persistQueryClientRestore): better error handling for persistQueryClientRestore (#8969)
  docs/framework/react/plugins/persistQueryClient.md
  packages/query-persist-client-core/src/__tests__/persist.test.ts
  packages/query-persist-client-core/src/persist.ts
  packages/react-query-persist-client/src/PersistQueryClientProvider.tsx
  packages/react-query-persist-client/src/__tests__/PersistQueryClientProvider.test.tsx
  packages/solid-query-persist-client/src/PersistQueryClientProvider.tsx
  packages/solid-query-persist-client/src/__tests__/PersistQueryClientProvider.test.tsx
  packages/svelte-query-persist-client/src/PersistQueryClientProvider.svelte
  packages/svelte-query-persist-client/tests/PersistQueryClientProvider.test.ts
  packages/svelte-query-persist-client/tests/RemoveCache/Provider.svelte
Due: @tanstack/query-persist-client-core, @tanstack/react-query-persist-client, @tanstack/solid-query-persist-client, @tanstack/svelte-query-persist-client

release: v5.73.1
  examples/react/basic/package.json
  examples/react/eslint-legacy/package.json
  examples/react/offline/package.json
  examples/svelte/basic/package.json
  examples/vue/persister/package.json
  packages/query-async-storage-persister/package.json
  packages/query-persist-client-core/package.json
  packages/query-sync-storage-persister/package.json
  packages/react-query-persist-client/package.json
  packages/solid-query-persist-client/package.json
  packages/svelte-query-persist-client/package.json
Due: @tanstack/query-async-storage-persister, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query-persist-client, @tanstack/solid-query-persist-client, @tanstack/svelte-query-persist-client

fix(query-devtools): resolve solid-js as dep
  packages/query-devtools/package.json
  pnpm-lock.yaml
Due: @tanstack/query-devtools

fix(eslint-plugin-query): add footer workaround for CJS default export in modernConfig
  examples/react/eslint-legacy/.eslintrc
  examples/react/eslint-legacy/package.json
  examples/react/eslint-legacy/tsconfig.json
  packages/eslint-plugin-query/root.tsup.config.js
  pnpm-lock.yaml
Due: @tanstack/eslint-plugin-query
