Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 1%

comment:
  layout: 'header, reach, diff, flags, components'

component_management:
  individual_components:
    - component_id: angular-query-devtools-experimental
      name: '@tanstack/angular-query-devtools-experimental'
      paths:
        - packages/angular-query-devtools-experimental/**
    - component_id: angular-query-experimental
      name: '@tanstack/angular-query-experimental'
      paths:
        - packages/angular-query-experimental/**
    - component_id: eslint-plugin-query
      name: '@tanstack/eslint-plugin-query'
      paths:
        - packages/eslint-plugin-query/**
    - component_id: query-async-storage-persister
      name: '@tanstack/query-async-storage-persister'
      paths:
        - packages/query-async-storage-persister/**
    - component_id: query-broadcast-client-experimental
      name: '@tanstack/query-broadcast-client-experimental'
      paths:
        - packages/query-broadcast-client-experimental/**
    - component_id: query-codemods
      name: '@tanstack/query-codemods'
      paths:
        - packages/codemods/**
    - component_id: query-core
      name: '@tanstack/query-core'
      paths:
        - packages/query-core/**
    - component_id: query-devtools
      name: '@tanstack/query-devtools'
      paths:
        - packages/query-devtools/**
    - component_id: query-persist-client-core
      name: '@tanstack/query-persist-client-core'
      paths:
        - packages/query-persist-client-core/**
    - component_id: query-sync-storage-persister
      name: '@tanstack/query-sync-storage-persister'
      paths:
        - packages/query-sync-storage-persister/**
    - component_id: react-query
      name: '@tanstack/react-query'
      paths:
        - packages/react-query/**
    - component_id: react-query-devtools
      name: '@tanstack/react-query-devtools'
      paths:
        - packages/react-query-devtools/**
    - component_id: react-query-next-experimental
      name: '@tanstack/react-query-next-experimental'
      paths:
        - packages/react-query-next-experimental/**
    - component_id: react-query-persist-client
      name: '@tanstack/react-query-persist-client'
      paths:
        - packages/react-query-persist-client/**
    - component_id: solid-query
      name: '@tanstack/solid-query'
      paths:
        - packages/solid-query/**
    - component_id: solid-query-devtools
      name: '@tanstack/solid-query-devtools'
      paths:
        - packages/solid-query-devtools/**
    - component_id: solid-query-persist-client
      name: '@tanstack/solid-query-persist-client'
      paths:
        - packages/solid-query-persist-client/**
    - component_id: svelte-query
      name: '@tanstack/svelte-query'
      paths:
        - packages/svelte-query/**
    - component_id: svelte-query-devtools
      name: '@tanstack/svelte-query-devtools'
      paths:
        - packages/svelte-query-devtools/**
    - component_id: svelte-query-persist-client
      name: '@tanstack/svelte-query-persist-client'
      paths:
        - packages/svelte-query-persist-client/**
    - component_id: vue-query
      name: '@tanstack/vue-query'
      paths:
        - packages/vue-query/**
    - component_id: vue-query-devtools
      name: '@tanstack/vue-query-devtools'
      paths:
        - packages/vue-query-devtools/**

feat (react-query-next-experimental): introduce nonce prop
  packages/react-query-next-experimental/src/HydrationStreamProvider.tsx
  packages/react-query-next-experimental/src/ReactQueryStreamedHydration.tsx
Due: @tanstack/react-query-next-experimental

refactor(react-query): improve type inference for useSuspenseQueries with skipToken (#7564)
  packages/react-query/src/__tests__/useSuspenseQueries.test-d.tsx
  packages/react-query/src/useSuspenseQueries.ts
Due: @tanstack/react-query

release: v5.45.1
  examples/react/algolia/package.json
  examples/react/auto-refetching/package.json
  examples/react/basic-graphql-request/package.json
  examples/react/basic-typescript/package.json
  examples/react/basic/package.json
  examples/react/default-query-function/package.json
  examples/react/infinite-query-with-max-pages/package.json
  examples/react/load-more-infinite-scroll/package.json
  examples/react/nextjs-app-prefetching/package.json
  examples/react/nextjs-suspense-streaming/package.json
  examples/react/nextjs/package.json
  examples/react/offline/package.json
  examples/react/optimistic-updates-cache/package.json
  examples/react/optimistic-updates-ui/package.json
  examples/react/pagination/package.json
  examples/react/playground/package.json
  examples/react/prefetching/package.json
  examples/react/react-native/package.json
  examples/react/react-router/package.json
  examples/react/rick-morty/package.json
  examples/react/shadow-dom/package.json
  examples/react/simple/package.json
  examples/react/star-wars/package.json
  examples/react/suspense/package.json
  packages/react-query-devtools/package.json
  packages/react-query-next-experimental/package.json
  packages/react-query-persist-client/package.json
  packages/react-query/package.json
  pnpm-lock.yaml
Due: @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client

docs(vue): up-to-date devtools information
  docs/framework/vue/devtools.md
Due: none

Update devtools.md
  docs/framework/vue/devtools.md
Due: none

ci: Update Nx and @tanstack/config
  .gitignore
  package.json
  pnpm-lock.yaml
Due: none

Undo prettier change
  package.json
  pnpm-lock.yaml
Due: none

ci: Update Nx and @tanstack/config (#7580)
  .gitignore
  package.json
  pnpm-lock.yaml
Due: none

feat: usePrefetchQuery
  packages/query-core/src/queryClient.ts
  packages/query-core/src/types.ts
  packages/react-query/src/index.ts
  packages/react-query/src/prefetch.ts
Due: @tanstack/query-core, @tanstack/react-query

refactor: switch to actual prefetching
  packages/react-query/src/prefetch.ts
Due: @tanstack/react-query

refactor: remove ensureInfiniteQueryData function
  packages/query-core/src/queryClient.ts
  packages/query-core/src/types.ts
Due: @tanstack/query-core

chore: add tests for usePrefetchQuery and usePrefetchInfiniteQuery
  packages/react-query/src/__tests__/prefetch.test.tsx
Due: @tanstack/react-query

chore: update tests to assert the alternative spy is not called
  packages/react-query/src/__tests__/prefetch.test.tsx
Due: @tanstack/react-query

chore: add some new tests
  packages/react-query/src/__tests__/prefetch.test.tsx
Due: @tanstack/react-query

chore: remove it.only whoops
  packages/react-query/src/__tests__/prefetch.test.tsx
Due: @tanstack/react-query

docs(react-query): `queryFn` must be a function calling (#7572)
  docs/framework/react/guides/advanced-ssr.md
Due: none

chore: call mockClear after fetching
  packages/react-query/src/__tests__/prefetch.test.tsx
Due: @tanstack/react-query

chore: improve waterfall test by asserting fallback calls instead of loading node query
  packages/react-query/src/__tests__/prefetch.test.tsx
Due: @tanstack/react-query

chore: improve code repetition
  packages/react-query/src/__tests__/prefetch.test.tsx
Due: @tanstack/react-query

chore: add some generics to helper functions
  packages/react-query/src/__tests__/prefetch.test.tsx
Due: @tanstack/react-query

chore: add tests for usePrefetchQuery and usePrefetchInfiniteQuery (#7586)
  packages/react-query/src/__tests__/prefetch.test.tsx
Due: @tanstack/react-query

chore: prettier
  docs/framework/react/guides/advanced-ssr.md
Due: none

chore: add type tests and docs
  docs/framework/react/guides/prefetching.md
  docs/framework/react/reference/usePrefetchInfiniteQuery.md
  docs/framework/react/reference/usePrefetchQuery.md
  packages/react-query/src/__tests__/prefetch.test-d.tsx
Due: @tanstack/react-query

chore: update hooks to use FetchQueryOptions and FetchInfiniteQueryOptions
  packages/react-query/src/prefetch.ts
Due: @tanstack/react-query

chore: update tests
  packages/react-query/src/__tests__/prefetch.test-d.tsx
  packages/react-query/src/__tests__/prefetch.test.tsx
Due: @tanstack/react-query

chore: update docs
  docs/config.json
  docs/framework/react/guides/prefetching.md
  docs/framework/react/reference/usePrefetchInfiniteQuery.md
  docs/framework/react/reference/usePrefetchQuery.md
Due: none

chore: remove .md extension from link
  docs/framework/react/guides/prefetching.md
Due: none

chore: add unknown default value to TQueryFnData
  packages/react-query/src/prefetch.ts
Due: @tanstack/react-query

Apply suggestions from code review
  docs/framework/react/reference/usePrefetchInfiniteQuery.md
  docs/framework/react/reference/usePrefetchQuery.md
Due: none

usePrefetchQuery type tests and docs (#7592)
  docs/config.json
  docs/framework/react/guides/prefetching.md
  docs/framework/react/reference/usePrefetchInfiniteQuery.md
  docs/framework/react/reference/usePrefetchQuery.md
  packages/react-query/src/__tests__/prefetch.test-d.tsx
  packages/react-query/src/__tests__/prefetch.test.tsx
  packages/react-query/src/prefetch.ts
Due: @tanstack/react-query

Fix merge
  examples/svelte/svelte-melt/package.json
  packages/angular-query-experimental/src/inject-queries.ts
  packages/solid-query-persist-client/vite.config.ts
  packages/svelte-query-runes/package.json
  packages/svelte-query-runes/vite.config.ts
  pnpm-lock.yaml
Due: @tanstack/angular-query-experimental, @tanstack/solid-query-persist-client

Fix createQueries merge
  packages/svelte-query-runes/src/createQueries.svelte.ts
Due: none

Fix some CI errors
  examples/svelte/svelte-melt/.eslintrc.cjs
  examples/svelte/svelte-melt/package.json
  examples/svelte/svelte-melt/src/app.d.ts
  examples/svelte/svelte-melt/src/routes/+layout.svelte
  examples/svelte/svelte-melt/src/routes/+page.svelte
  examples/svelte/svelte-melt/src/routes/+page.ts
  examples/svelte/svelte-melt/src/routes/cacheUpdate.svelte
  examples/svelte/svelte-melt/src/routes/derivedQuery.svelte
  examples/svelte/svelte-melt/src/routes/external.svelte.ts
  examples/svelte/svelte-melt/src/routes/external.ts
  examples/svelte/svelte-melt/src/routes/paginate.svelte
  examples/svelte/svelte-melt/src/routes/queries.svelte
  examples/svelte/svelte-melt/src/routes/store.svelte.ts
  examples/svelte/svelte-melt/src/routes/test.svelte
  examples/svelte/svelte-melt/svelte.config.js
  examples/svelte/svelte-melt/vite.config.ts
  packages/svelte-query-runes/package.json
  packages/svelte-query-runes/src/QueryClientProvider.svelte
  packages/svelte-query-runes/src/__tests__/CreateQuery.svelte
  pnpm-lock.yaml
Due: none

Fix svelte-melt example
  examples/svelte/svelte-melt/src/routes/+layout.svelte
  examples/svelte/svelte-melt/src/routes/cacheUpdate.svelte
  examples/svelte/svelte-melt/src/routes/derivedQuery.svelte
  examples/svelte/svelte-melt/src/routes/external.svelte.ts
  examples/svelte/svelte-melt/src/routes/external.ts
  examples/svelte/svelte-melt/src/routes/paginate.svelte
  examples/svelte/svelte-melt/src/routes/queries.svelte
  examples/svelte/svelte-melt/src/routes/test.svelte
Due: none

refactor(angular-query): align inject-query and inject-infinite-query + clean-up create-base-query + add query correct type tests
  packages/angular-query-experimental/src/__tests__/inject-infinite-query.test.ts
  packages/angular-query-experimental/src/__tests__/inject-is-fetching.test.ts
  packages/angular-query-experimental/src/__tests__/inject-is-mutating.test.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation-state.test-d.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation-state.test.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation.test-d.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation.test.ts
  packages/angular-query-experimental/src/__tests__/inject-query.test-d.ts
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
  packages/angular-query-experimental/src/__tests__/query-options.test-d.ts
  packages/angular-query-experimental/src/__tests__/test-utils.ts
  packages/angular-query-experimental/src/create-base-query.ts
  packages/angular-query-experimental/src/inject-infinite-query.ts
  packages/angular-query-experimental/src/inject-query.ts
Due: @tanstack/angular-query-experimental

fix(query-core): add failing test
  packages/query-core/src/__tests__/query.test.tsx
Due: @tanstack/query-core

fix(query-core): add error management around this.setData(data)
  packages/query-core/src/query.ts
Due: @tanstack/query-core
