Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools, @tanstack/angular-query, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

chore(angular): clean prerelease changesets and rename CLI integration
  .changeset/angular-20-ssr-lazy-signals.md
  .changeset/angular-devtools-theme.md
  .changeset/angular-effect-subscriptions.md
  .changeset/angular-restoration-factory.md
  .changeset/angular-ssr-zone-timers.md
  .changeset/angular-stable-release.md
  .changeset/angular-store-zone-boundary.md
  .changeset/persist-inject-factory.md
  .changeset/reactive-devtools-options.md
  integrations/angular-cli/.gitignore
  integrations/angular-cli/.vscode/extensions.json
  integrations/angular-cli/.vscode/launch.json
  integrations/angular-cli/.vscode/tasks.json
  integrations/angular-cli/README.md
  integrations/angular-cli/angular.json
  integrations/angular-cli/package.json
  integrations/angular-cli/public/favicon.ico
  integrations/angular-cli/src/app/app.config.ts
  integrations/angular-cli/src/app/app.ts
  integrations/angular-cli/src/index.html
  integrations/angular-cli/src/main.ts
  integrations/angular-cli/src/styles.css
  integrations/angular-cli/tsconfig.app.json
  integrations/angular-cli/tsconfig.json
  pnpm-lock.yaml
Due: none

docs(angular): clarify server retry behavior
  docs/framework/angular/guides/migrating-from-ngneat-query.md
  docs/framework/angular/guides/ssr.md
Due: none

chore: restore npm provenance configuration
  .npmrc
Due: none

fix(solid-query): sweep X-Revalidate without a slice; reserve '*' for all
  .changeset/solid-query-flight-metadata.md
  packages/solid-query/src/QueryClientProvider.tsx
  packages/solid-query/src/__tests__/flightData.test.tsx
Due: @tanstack/solid-query

fix(solid-query): finish SSR when reading a disabled query (#11449)
  .changeset/solid-disabled-query-ssr.md
  packages/solid-query/src/__tests__/fixtures/hydration/build-and-render.mjs
  packages/solid-query/src/__tests__/fixtures/hydration/entry-server-disabled.tsx
  packages/solid-query/src/__tests__/hydration-utils.ts
  packages/solid-query/src/__tests__/hydration.test.tsx
  packages/solid-query/src/useBaseQuery.ts
Due: @tanstack/solid-query

fix(solid-query): sweep X-Revalidate without a slice; reserve '*' for all (#11517)
  .changeset/solid-query-flight-metadata.md
  packages/solid-query/src/QueryClientProvider.tsx
  packages/solid-query/src/__tests__/flightData.test.tsx
Due: @tanstack/solid-query

docs(*): regenerate reference docs to fix stale source links
  docs/framework/angular/reference/functions/keepPreviousData.md
  docs/framework/angular/reference/functions/shouldThrowError.md
  docs/framework/angular/reference/type-aliases/SkipToken.md
  docs/framework/angular/reference/variables/skipToken.md
  docs/framework/lit/reference/functions/keepPreviousData.md
  docs/framework/lit/reference/functions/shouldThrowError.md
  docs/framework/lit/reference/type-aliases/SkipToken.md
  docs/framework/lit/reference/variables/skipToken.md
  docs/framework/preact/reference/functions/keepPreviousData.md
  docs/framework/preact/reference/functions/shouldThrowError.md
  docs/framework/preact/reference/type-aliases/SkipToken.md
  docs/framework/preact/reference/variables/skipToken.md
  docs/framework/react/reference/functions/keepPreviousData.md
  docs/framework/react/reference/functions/shouldThrowError.md
  docs/framework/react/reference/type-aliases/SkipToken.md
  docs/framework/react/reference/variables/skipToken.md
  docs/framework/solid/reference/functions/keepPreviousData.md
  docs/framework/solid/reference/functions/shouldThrowError.md
  docs/framework/solid/reference/type-aliases/SkipToken.md
  docs/framework/solid/reference/variables/skipToken.md
  docs/framework/svelte/reference/functions/keepPreviousData.md
  docs/framework/svelte/reference/functions/shouldThrowError.md
  docs/framework/svelte/reference/type-aliases/SkipToken.md
  docs/framework/svelte/reference/variables/skipToken.md
  docs/framework/vue/reference/functions/keepPreviousData.md
  docs/framework/vue/reference/functions/shouldThrowError.md
  docs/framework/vue/reference/type-aliases/SkipToken.md
  docs/framework/vue/reference/variables/skipToken.md
Due: none

docs(*): regenerate reference docs to fix stale source links (#11521)
  docs/framework/angular/reference/functions/keepPreviousData.md
  docs/framework/angular/reference/functions/shouldThrowError.md
  docs/framework/angular/reference/type-aliases/SkipToken.md
  docs/framework/angular/reference/variables/skipToken.md
  docs/framework/lit/reference/functions/keepPreviousData.md
  docs/framework/lit/reference/functions/shouldThrowError.md
  docs/framework/lit/reference/type-aliases/SkipToken.md
  docs/framework/lit/reference/variables/skipToken.md
  docs/framework/preact/reference/functions/keepPreviousData.md
  docs/framework/preact/reference/functions/shouldThrowError.md
  docs/framework/preact/reference/type-aliases/SkipToken.md
  docs/framework/preact/reference/variables/skipToken.md
  docs/framework/react/reference/functions/keepPreviousData.md
  docs/framework/react/reference/functions/shouldThrowError.md
  docs/framework/react/reference/type-aliases/SkipToken.md
  docs/framework/react/reference/variables/skipToken.md
  docs/framework/solid/reference/functions/keepPreviousData.md
  docs/framework/solid/reference/functions/shouldThrowError.md
  docs/framework/solid/reference/type-aliases/SkipToken.md
  docs/framework/solid/reference/variables/skipToken.md
  docs/framework/svelte/reference/functions/keepPreviousData.md
  docs/framework/svelte/reference/functions/shouldThrowError.md
  docs/framework/svelte/reference/type-aliases/SkipToken.md
  docs/framework/svelte/reference/variables/skipToken.md
  docs/framework/vue/reference/functions/keepPreviousData.md
  docs/framework/vue/reference/functions/shouldThrowError.md
  docs/framework/vue/reference/type-aliases/SkipToken.md
  docs/framework/vue/reference/variables/skipToken.md
Due: none

ci(.github/workflows/autofix): run 'generate-docs' to keep reference docs current
  .github/workflows/autofix.yml
Due: none

fix(solid-query): don't re-create and refetch a removed query (#11360)
  .changeset/solid-removed-query-not-rebuilt.md
  packages/solid-query/src/__tests__/useQuery-semantics.test.tsx
  packages/solid-query/src/useBaseQuery.ts
Due: @tanstack/solid-query

fix(scripts/generate-docs): build referenced packages and fail on TypeDoc conversion errors
  .github/workflows/autofix.yml
  scripts/generate-docs.ts
Due: none

fix(package.json): build referenced packages as part of 'generate-docs'
  .github/workflows/autofix.yml
  package.json
  scripts/generate-docs.ts
Due: none

docs(CONTRIBUTING): document generated reference docs
  CONTRIBUTING.md
Due: none

fix(query-core): ignore stale query removals
  .changeset/stale-query-removal.md
  packages/query-core/src/__tests__/queryCache.test.tsx
  packages/query-core/src/queryCache.ts
Due: @tanstack/query-core

docs(.github/pull_request_template): add checklist item for 'generate-docs'
  .github/pull_request_template.md
Due: none

docs(CONTRIBUTING): document generated reference docs (#11523)
  CONTRIBUTING.md
Due: none

fix(query-core): ignore stale query removals (#11524)
  .changeset/stale-query-removal.md
  packages/query-core/src/__tests__/queryCache.test.tsx
  packages/query-core/src/queryCache.ts
Due: @tanstack/query-core

ci(.github/workflows/autofix): only generate reference docs on push
  .github/workflows/autofix.yml
Due: none

fix(eslint-plugin-query): recognize query client methods
  .changeset/tough-queries-listen.md
  packages/angular-query-experimental/src/__tests__/infinite-query-options.test-d.ts
  packages/eslint-plugin-query/src/__tests__/no-void-query-fn.test.ts
  packages/eslint-plugin-query/src/__tests__/prefer-query-options.test.ts
  packages/eslint-plugin-query/src/rules/prefer-query-options/prefer-query-options.rule.ts
  packages/preact-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/react-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/solid-query/src/__tests__/useInfiniteQuery.test-d.tsx
  packages/svelte-query/tests/createInfiniteQuery/createInfiniteQuery.test-d.ts
Due: @tanstack/eslint-plugin-query, @tanstack/react-query, @tanstack/solid-query, @tanstack/svelte-query

fix(eslint-plugin-query): keep flagging deprecated query client methods
  packages/eslint-plugin-query/src/rules/prefer-query-options/prefer-query-options.rule.ts
Due: @tanstack/eslint-plugin-query

chore(angular): isolate prerelease versioning group
  .changeset/config.json
Due: none

test(query-core): assert prefetch caches data in garbage collection test
  packages/query-core/src/__tests__/queryClient.test.tsx
Due: @tanstack/query-core

fix(query-core): preserve null infinite page params
  .changeset/null-page-param-refetch.md
  packages/query-core/src/__tests__/infiniteQueryBehavior.test.tsx
  packages/query-core/src/infiniteQueryBehavior.ts
Due: @tanstack/query-core

ci(.github/workflows/autofix): skip runs started from its own commit
  .github/workflows/autofix.yml
Due: none

ci(*): generate reference docs in autofix and fail on TypeDoc conversion errors (#11522)
  .github/workflows/autofix.yml
  package.json
  scripts/generate-docs.ts
Due: none

ci(.github/workflows/autofix): match only the subject in the autofix commit guard
  .github/workflows/autofix.yml
Due: none

fix(query-core): preserve invalidation intent during an initial fetch
  .changeset/invalidate-during-initial-fetch.md
  packages/query-core/src/__tests__/queryClient.test.tsx
  packages/query-core/src/query.ts
Due: @tanstack/query-core

feat(react-query): add pause provider
  docs/framework/react/react-native.md
  docs/framework/react/reference/PauseManagerProvider.md
  examples/react/pause/.eslintrc
  examples/react/pause/.gitignore
  examples/react/pause/README.md
  examples/react/pause/index.html
  examples/react/pause/package.json
  examples/react/pause/public/emblem-light.svg
  examples/react/pause/src/index.tsx
  examples/react/pause/tsconfig.json
  examples/react/pause/vite.config.ts
  packages/query-core/src/index.ts
  packages/query-core/src/pauseManager.ts
  packages/react-query/src/PauseManagerProvider.tsx
  packages/react-query/src/index.ts
  packages/react-query/src/useBaseQuery.ts
  packages/react-query/src/useQueries.ts
  pnpm-lock.yaml
Due: @tanstack/query-core, @tanstack/react-query

fix(preact-query): do not go into optimistic fetching state when not subscribed
  .changeset/preact-unsubscribed-optimistic-state.md
  packages/preact-query/src/__tests__/unsubscribed-optimistic.test.tsx
  packages/preact-query/src/useBaseQuery.ts
Due: none

ci(.github/workflows/autofix): match only the subject in the autofix commit guard (#11528)
  .github/workflows/autofix.yml
Due: none

Reset signal consumption for infinite queries
  .changeset/fix-infinite-query-signal-reset.md
  packages/query-core/src/__tests__/infiniteQueryBehavior.test.tsx
  packages/query-core/src/query.ts
  packages/react-query/src/__tests__/useInfiniteQuery.test.tsx
Due: @tanstack/query-core, @tanstack/react-query

Preserve mutation scope across option updates
  .changeset/fix-mutation-scope-queue.md
  packages/query-core/src/__tests__/mutationObserver.test.tsx
  packages/query-core/src/mutation.ts
  packages/react-query/src/__tests__/useMutation.test.tsx
Due: @tanstack/query-core, @tanstack/react-query

Recompute placeholders when selectors change
  .changeset/placeholder-select-fix.md
  packages/query-core/src/__tests__/queryObserver.test.tsx
  packages/query-core/src/queryObserver.ts
  packages/react-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/query-core, @tanstack/react-query

Clear errors when query selectors are removed
  .changeset/removed-select-fix.md
  packages/query-core/src/__tests__/queryObserver.test.tsx
  packages/query-core/src/queryObserver.ts
  packages/react-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/query-core, @tanstack/react-query

Skip pausing retries after cancellation
  .changeset/cancelled-retry-pause.md
  packages/query-core/src/__tests__/query.test.tsx
  packages/query-core/src/__tests__/retryer.test.tsx
  packages/query-core/src/retryer.ts
  packages/react-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/query-core, @tanstack/react-query

Recompute re-added placeholder selectors
  packages/query-core/src/__tests__/queryObserver.test.tsx
  packages/query-core/src/queryObserver.ts
  packages/react-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/query-core, @tanstack/react-query

Path conditions:
  @tanstack/angular-query-devtools: any of: packages/angular-query-devtools/**
  @tanstack/angular-query: any of: packages/angular-query/**
  @tanstack/eslint-plugin-query: any of: packages/eslint-plugin-query/**
  @tanstack/query-async-storage-persister: any of: packages/query-async-storage-persister/**
  @tanstack/query-broadcast-client-experimental: any of: packages/query-broadcast-client-experimental/**
  @tanstack/query-codemods: any of: packages/query-codemods/**
  @tanstack/query-core: any of: packages/query-core/**
  @tanstack/query-devtools: any of: packages/query-devtools/**
  @tanstack/query-persist-client-core: any of: packages/query-persist-client-core/**
  @tanstack/query-sync-storage-persister: any of: packages/query-sync-storage-persister/**
  @tanstack/query-test-utils: any of: packages/query-test-utils/**
  @tanstack/react-query: any of: packages/react-query/**
  @tanstack/react-query-devtools: any of: packages/react-query-devtools/**
  @tanstack/react-query-next-experimental: any of: packages/react-query-next-experimental/**
  @tanstack/react-query-persist-client: any of: packages/react-query-persist-client/**
  @tanstack/solid-query: any of: packages/solid-query/**
  @tanstack/solid-query-devtools: any of: packages/solid-query-devtools/**
  @tanstack/solid-query-persist-client: any of: packages/solid-query-persist-client/**
  @tanstack/svelte-query: any of: packages/svelte-query/**
  @tanstack/svelte-query-devtools: any of: packages/svelte-query-devtools/**
  @tanstack/svelte-query-persist-client: any of: packages/svelte-query-persist-client/**
  @tanstack/vue-query: any of: packages/vue-query/**
  @tanstack/vue-query-devtools: any of: packages/vue-query-devtools/**
