Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 1%

comment:
  layout: 'header, reach, diff, flags, components'

component_management:
  individual_components:
    - component_id: angular-query-devtools-experimental
      name: '@tanstack/angular-query-devtools-experimental'
      paths:
        - packages/angular-query-devtools-experimental/**
    - component_id: angular-query-experimental
      name: '@tanstack/angular-query-experimental'
      paths:
        - packages/angular-query-experimental/**
    - component_id: eslint-plugin-query
      name: '@tanstack/eslint-plugin-query'
      paths:
        - packages/eslint-plugin-query/**
    - component_id: query-async-storage-persister
      name: '@tanstack/query-async-storage-persister'
      paths:
        - packages/query-async-storage-persister/**
    - component_id: query-broadcast-client-experimental
      name: '@tanstack/query-broadcast-client-experimental'
      paths:
        - packages/query-broadcast-client-experimental/**
    - component_id: query-codemods
      name: '@tanstack/query-codemods'
      paths:
        - packages/codemods/**
    - component_id: query-core
      name: '@tanstack/query-core'
      paths:
        - packages/query-core/**
    - component_id: query-devtools
      name: '@tanstack/query-devtools'
      paths:
        - packages/query-devtools/**
    - component_id: query-persist-client-core
      name: '@tanstack/query-persist-client-core'
      paths:
        - packages/query-persist-client-core/**
    - component_id: query-sync-storage-persister
      name: '@tanstack/query-sync-storage-persister'
      paths:
        - packages/query-sync-storage-persister/**
    - component_id: react-query
      name: '@tanstack/react-query'
      paths:
        - packages/react-query/**
    - component_id: react-query-devtools
      name: '@tanstack/react-query-devtools'
      paths:
        - packages/react-query-devtools/**
    - component_id: react-query-next-experimental
      name: '@tanstack/react-query-next-experimental'
      paths:
        - packages/react-query-next-experimental/**
    - component_id: react-query-persist-client
      name: '@tanstack/react-query-persist-client'
      paths:
        - packages/react-query-persist-client/**
    - component_id: solid-query
      name: '@tanstack/solid-query'
      paths:
        - packages/solid-query/**
    - component_id: solid-query-devtools
      name: '@tanstack/solid-query-devtools'
      paths:
        - packages/solid-query-devtools/**
    - component_id: solid-query-persist-client
      name: '@tanstack/solid-query-persist-client'
      paths:
        - packages/solid-query-persist-client/**
    - component_id: svelte-query
      name: '@tanstack/svelte-query'
      paths:
        - packages/svelte-query/**
    - component_id: svelte-query-devtools
      name: '@tanstack/svelte-query-devtools'
      paths:
        - packages/svelte-query-devtools/**
    - component_id: svelte-query-persist-client
      name: '@tanstack/svelte-query-persist-client'
      paths:
        - packages/svelte-query-persist-client/**
    - component_id: vue-query
      name: '@tanstack/vue-query'
      paths:
        - packages/vue-query/**
    - component_id: vue-query-devtools
      name: '@tanstack/vue-query-devtools'
      paths:
        - packages/vue-query-devtools/**

Undo changes to pnpm-lock
  packages/angular-query-experimental/etc/angular-query-experimental.api.md
  pnpm-lock.yaml
Due: @tanstack/angular-query-experimental

Export createMutationState
  packages/svelte-query/src/index.ts
Due: @tanstack/svelte-query

Rename to useMutationState
  packages/svelte-query/src/__tests__/UseMutationState.svelte
  packages/svelte-query/src/__tests__/useMutationState.test.ts
  packages/svelte-query/src/index.ts
  packages/svelte-query/src/types.ts
  packages/svelte-query/src/useMutationState.ts
Due: @tanstack/svelte-query

Fix eslint issues
  packages/svelte-query/src/__tests__/useMutationState.test.ts
  packages/svelte-query/src/createInfiniteQuery.ts
  packages/svelte-query/src/types.ts
  packages/svelte-query/src/useMutationState.ts
Due: @tanstack/svelte-query

Fix eslint/prettier
  packages/svelte-query/src/createInfiniteQuery.ts
  packages/svelte-query/src/useMutationState.ts
Due: @tanstack/svelte-query

feat(svelte-query): useMutationState (#7477)
  packages/svelte-query/src/__tests__/UseMutationState.svelte
  packages/svelte-query/src/__tests__/useMutationState.test.ts
  packages/svelte-query/src/index.ts
  packages/svelte-query/src/types.ts
  packages/svelte-query/src/useMutationState.ts
Due: @tanstack/svelte-query

feat: add the react-compiler linter
  packages/react-query/.eslintrc.cjs
  packages/react-query/package.json
  pnpm-lock.yaml
Due: @tanstack/react-query

chore: move examples to react 19, except nextJs ones
  examples/react/algolia/package.json
  examples/react/basic-graphql-request/package.json
  examples/react/basic-typescript/package.json
  examples/react/basic/package.json
  examples/react/default-query-function/package.json
  examples/react/offline/package.json
  examples/react/playground/package.json
  examples/react/react-native/package.json
  examples/react/react-router/package.json
  examples/react/rick-morty/package.json
  examples/react/shadow-dom/package.json
  examples/react/simple/package.json
  examples/react/star-wars/package.json
  examples/react/suspense/package.json
  integrations/react-cra4/package.json
  integrations/react-cra5/package.json
  integrations/react-vite/package.json
  package.json
  pnpm-lock.yaml
Due: none

feat(react-query): support React 19
  examples/react/algolia/package.json
  examples/react/basic-graphql-request/package.json
  examples/react/basic-typescript/package.json
  examples/react/basic/package.json
  examples/react/default-query-function/package.json
  examples/react/offline/package.json
  examples/react/playground/package.json
  examples/react/react-native/package.json
  examples/react/react-router/package.json
  examples/react/rick-morty/package.json
  examples/react/shadow-dom/package.json
  examples/react/simple/package.json
  examples/react/star-wars/package.json
  examples/react/suspense/package.json
  integrations/react-cra4/package.json
  integrations/react-cra5/package.json
  integrations/react-vite/package.json
  package.json
  packages/react-query-devtools/package.json
  packages/react-query-next-experimental/package.json
  packages/react-query-persist-client/package.json
  packages/react-query-persist-client/src/PersistQueryClientProvider.tsx
  packages/react-query/.eslintrc.cjs
  packages/react-query/package.json
  packages/react-query/src/__tests__/ssr-hydration.test.tsx
  packages/react-query/src/__tests__/suspense.test.tsx
  packages/react-query/src/__tests__/useMutation.test.tsx
  packages/react-query/src/useMutationState.ts
  pnpm-lock.yaml
Due: @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client

release: v5.39.0
  examples/react/algolia/package.json
  examples/react/auto-refetching/package.json
  examples/react/basic-graphql-request/package.json
  examples/react/basic-typescript/package.json
  examples/react/basic/package.json
  examples/react/default-query-function/package.json
  examples/react/infinite-query-with-max-pages/package.json
  examples/react/load-more-infinite-scroll/package.json
  examples/react/nextjs-suspense-streaming/package.json
  examples/react/nextjs/package.json
  examples/react/offline/package.json
  examples/react/optimistic-updates-cache/package.json
  examples/react/optimistic-updates-ui/package.json
  examples/react/pagination/package.json
  examples/react/playground/package.json
  examples/react/prefetching/package.json
  examples/react/react-native/package.json
  examples/react/react-router/package.json
  examples/react/rick-morty/package.json
  examples/react/shadow-dom/package.json
  examples/react/simple/package.json
  examples/react/star-wars/package.json
  examples/react/suspense/package.json
  packages/react-query-devtools/package.json
  packages/react-query-next-experimental/package.json
  packages/react-query-persist-client/package.json
  packages/react-query/package.json
  pnpm-lock.yaml
Due: @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client

feat: switch to `use` instead of throwing promises
  packages/react-query/src/suspense.ts
  packages/react-query/src/useBaseQuery.ts
  packages/react-query/src/useQueries.ts
Due: @tanstack/react-query

feat: allow to dehydrate and restore promises
  packages/query-core/src/hydration.ts
  packages/query-core/src/query.ts
  packages/query-core/src/retryer.ts
Due: @tanstack/query-core

fix: retries with initialPromise, but without queryFn
  packages/query-core/src/query.ts
Due: @tanstack/query-core

fix: retries for infinite queries
  packages/query-core/src/infiniteQueryBehavior.ts
  packages/query-core/src/query.ts
  packages/query-core/src/queryObserver.ts
Due: @tanstack/query-core

refactor: streamline the way we get the queryFn between Query and InfiniteQuery
  packages/query-core/src/infiniteQueryBehavior.ts
  packages/query-core/src/query.ts
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

fix: only dehydrate query.promise for pending queries
  packages/query-core/src/hydration.ts
Due: @tanstack/query-core

feat: allow setting hydration and dehydration defaultOptions on the QueryClient
  packages/query-core/src/hydration.ts
  packages/query-core/src/types.ts
Due: @tanstack/query-core

test: global defaultOptions for hydrate / dehydrate
  packages/query-core/src/__tests__/hydration.test.tsx
Due: @tanstack/query-core

tests: hydration of promises
  packages/query-core/src/__tests__/hydration.test.tsx
Due: @tanstack/query-core

feat: next15 integration test
  integrations/react-next-15/.eslintrc.cjs
  integrations/react-next-15/.gitignore
  integrations/react-next-15/README.md
  integrations/react-next-15/app/client-component.tsx
  integrations/react-next-15/app/favicon.ico
  integrations/react-next-15/app/layout.tsx
  integrations/react-next-15/app/make-query-client.ts
  integrations/react-next-15/app/page.tsx
  integrations/react-next-15/app/providers.tsx
  integrations/react-next-15/next.config.js
  integrations/react-next-15/package.json
  integrations/react-next-15/tsconfig.json
  pnpm-lock.yaml
Due: none

docs: app directory prefetching example
  docs/config.json
  examples/react/nextjs-app-prefetching/.eslintrc.cjs
  examples/react/nextjs-app-prefetching/.gitignore
  examples/react/nextjs-app-prefetching/README.md
  examples/react/nextjs-app-prefetching/app/favicon.ico
  examples/react/nextjs-app-prefetching/app/layout.tsx
  examples/react/nextjs-app-prefetching/app/make-query-client.ts
  examples/react/nextjs-app-prefetching/app/page.tsx
  examples/react/nextjs-app-prefetching/app/pokemon-info.tsx
  examples/react/nextjs-app-prefetching/app/pokemon.ts
  examples/react/nextjs-app-prefetching/app/providers.tsx
  examples/react/nextjs-app-prefetching/next.config.js
  examples/react/nextjs-app-prefetching/package.json
  examples/react/nextjs-app-prefetching/tsconfig.json
  pnpm-lock.yaml
Due: none

docs: global hydrate and dehydrate options
  docs/framework/react/reference/hydration.md
  docs/reference/QueryClient.md
Due: none

feat: use streaming
  examples/react/nextjs-app-prefetching/app/get-query-client.ts
  examples/react/nextjs-app-prefetching/app/make-query-client.ts
  examples/react/nextjs-app-prefetching/app/page.tsx
  examples/react/nextjs-app-prefetching/app/pokemon-info.tsx
  examples/react/nextjs-app-prefetching/app/providers.tsx
Due: none

docs: prefetching
  docs/framework/react/guides/advanced-ssr.md
  docs/framework/react/guides/suspense.md
  examples/react/nextjs-app-prefetching/app/page.tsx
Due: none

test: useQuery with initialPromise
  packages/react-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/react-query

fix: do not leak server errors to the client
  packages/query-core/src/hydration.ts
  packages/react-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/query-core, @tanstack/react-query

docs: typo
  docs/framework/react/guides/advanced-ssr.md
Due: none

fix: ignore next in sherif
  package.json
Due: none

test: await promise before clearing client to avoid error
  packages/query-core/src/__tests__/hydration.test.tsx
Due: @tanstack/query-core

feat: always respect the `promise` passed to hydrate, even if we already have a cached entry.
  packages/query-core/src/hydration.ts
Due: @tanstack/query-core

Update docs/framework/react/guides/advanced-ssr.md
  docs/framework/react/guides/advanced-ssr.md
Due: none

chore: better error messages
  packages/query-core/src/hydration.ts
  packages/react-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/query-core, @tanstack/react-query

docs: better text
  docs/framework/react/guides/advanced-ssr.md
Due: none

oops
  docs/framework/react/guides/advanced-ssr.md
Due: none

chore: remove leftover 'use client'
  docs/framework/react/guides/advanced-ssr.md
Due: none

update note
  docs/framework/react/guides/advanced-ssr.md
Due: none

refactor(react-query): improved type inference for useQueries
  packages/react-query/src/useQueries.ts
Due: @tanstack/react-query

chore: fix lock file
  pnpm-lock.yaml
Due: none
