Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools, @tanstack/angular-query, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

codecov.yml:

codecov:
  max_report_age: off

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto

comment:
  layout: 'header, reach, diff, flags, components'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  hide_project_coverage: false

component_management:
  individual_components:
    - component_id: angular-query-devtools
      name: '@tanstack/angular-query-devtools'
      paths:
        - packages/angular-query-devtools/**
    - component_id: angular-query
      name: '@tanstack/angular-query'
      paths:
        - packages/angular-query/**
    - component_id: eslint-plugin-query
      name: '@tanstack/eslint-plugin-query'
      paths:
        - packages/eslint-plugin-query/**
    - component_id: query-async-storage-persister
      name: '@tanstack/query-async-storage-persister'
      paths:
        - packages/query-async-storage-persister/**
    - component_id: query-broadcast-client-experimental
      name: '@tanstack/query-broadcast-client-experimental'
      paths:
        - packages/query-broadcast-client-experimental/**
    - component_id: query-codemods
      name: '@tanstack/query-codemods'
      paths:
        - packages/query-codemods/**
    - component_id: query-core
      name: '@tanstack/query-core'
      paths:
        - packages/query-core/**
    - component_id: query-devtools
      name: '@tanstack/query-devtools'
      paths:
        - packages/query-devtools/**
    - component_id: query-persist-client-core
      name: '@tanstack/query-persist-client-core'
      paths:
        - packages/query-persist-client-core/**
    - component_id: query-sync-storage-persister
      name: '@tanstack/query-sync-storage-persister'
      paths:
        - packages/query-sync-storage-persister/**
    - component_id: query-test-utils
      name: '@tanstack/query-test-utils'
      paths:
        - packages/query-test-utils/**
    - component_id: react-query
      name: '@tanstack/react-query'
      paths:
        - packages/react-query/**
    - component_id: react-query-devtools
      name: '@tanstack/react-query-devtools'
      paths:
        - packages/react-query-devtools/**
    - component_id: react-query-next-experimental
      name: '@tanstack/react-query-next-experimental'
      paths:
        - packages/react-query-next-experimental/**
    - component_id: react-query-persist-client
      name: '@tanstack/react-query-persist-client'
      paths:
        - packages/react-query-persist-client/**
    - component_id: solid-query
      name: '@tanstack/solid-query'
      paths:
        - packages/solid-query/**
    - component_id: solid-query-devtools
      name: '@tanstack/solid-query-devtools'
      paths:
        - packages/solid-query-devtools/**
    - component_id: solid-query-persist-client
      name: '@tanstack/solid-query-persist-client'
      paths:
        - packages/solid-query-persist-client/**
    - component_id: svelte-query
      name: '@tanstack/svelte-query'
      paths:
        - packages/svelte-query/**
    - component_id: svelte-query-devtools
      name: '@tanstack/svelte-query-devtools'
      paths:
        - packages/svelte-query-devtools/**
    - component_id: svelte-query-persist-client
      name: '@tanstack/svelte-query-persist-client'
      paths:
        - packages/svelte-query-persist-client/**
    - component_id: vue-query
      name: '@tanstack/vue-query'
      paths:
        - packages/vue-query/**
    - component_id: vue-query-devtools
      name: '@tanstack/vue-query-devtools'
      paths:
        - packages/vue-query-devtools/**

fix(vue-query): accept optional infinite query initial data
  .changeset/tidy-cats-wait.md
  packages/vue-query/src/__tests__/infiniteQueryOptions.initialData.test-d.ts
  packages/vue-query/src/infiniteQueryOptions.ts
Due: @tanstack/vue-query

style(vue-query): format optional initial data type
  packages/vue-query/src/infiniteQueryOptions.ts
Due: @tanstack/vue-query

style(vue-query): format initial data regression cases
  packages/vue-query/src/__tests__/infiniteQueryOptions.initialData.test-d.ts
Due: @tanstack/vue-query

fix(svelte-query): useMutationState array never shrank when mutations stopped matching filter
  .changeset/fix-svelte-use-mutation-state-shrink.md
  packages/svelte-query/src/useMutationState.svelte.ts
  packages/svelte-query/tests/useMutationState/useMutationState.svelte.test.ts
Due: @tanstack/svelte-query

fix(angular): explicit signal mapping in types
  packages/angular-query/src/__tests__/inject-infinite-query.test-d.ts
  packages/angular-query/src/__tests__/inject-mutation.test-d.ts
  packages/angular-query/src/__tests__/inject-query.test-d.ts
  packages/angular-query/src/types.ts
  packages/angular-query/src/utils/result-fields.ts
  packages/angular-query/src/utils/signal-proxy.ts
Due: @tanstack/angular-query

fix(svelte-query): untrack observer subscription
  .changeset/svelte-query-untrack-subscribe.md
  packages/svelte-query/src/createBaseQuery.svelte.ts
  packages/svelte-query/src/createQueries.svelte.ts
  packages/svelte-query/tests/createQueries/createQueries.svelte.test.ts
  packages/svelte-query/tests/createQuery/createQuery.svelte.test.ts
Due: @tanstack/svelte-query

fix(solid-query): follow Solid 2.0.0-rc.9
  .changeset/solid-rc9.md
  examples/solid/astro/package.json
  examples/solid/basic-graphql-request/package.json
  examples/solid/basic/package.json
  examples/solid/default-query-function/package.json
  examples/solid/offline/package.json
  examples/solid/simple/package.json
  examples/solid/solid-start-streaming/package.json
  integrations/solid-vite/package.json
  package.json
  packages/solid-query-devtools/package.json
  packages/solid-query-devtools/tsup.config.ts
  packages/solid-query-persist-client/package.json
  packages/solid-query-persist-client/tsup.config.ts
  packages/solid-query/package.json
  packages/solid-query/src/__tests__/useMutation-semantics.test.tsx
  packages/solid-query/src/__tests__/useQuery.test.tsx
  packages/solid-query/src/useBaseQuery.ts
  packages/solid-query/tsup.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client

docs(vue-query): regenerate infinite query option references
  docs/framework/vue/reference/functions/infiniteQueryOptions.md
  docs/framework/vue/reference/type-aliases/DefinedInitialDataInfiniteOptions.md
  docs/framework/vue/reference/type-aliases/UndefinedInitialDataInfiniteOptions.md
Due: none

docs(vue-query): clarify defined initial data overload
  docs/framework/vue/reference/functions/infiniteQueryOptions.md
  docs/framework/vue/reference/type-aliases/DefinedInitialDataInfiniteOptions.md
  packages/vue-query/src/infiniteQueryOptions.ts
Due: @tanstack/vue-query

fix(solid-query): follow reactive mutation query client
  packages/solid-query/src/useMutation.ts
Due: @tanstack/solid-query

test(solid-query): cover mutation client switching
  packages/solid-query/src/__tests__/useMutation.queryClient.test.tsx
Due: @tanstack/solid-query

chore: add solid query client switch changeset
  .changeset/solid-mutation-client-switch.md
Due: none

chore(solid-query): format mutation client switch
  packages/solid-query/src/useMutation.ts
Due: @tanstack/solid-query

refactor(solid-query): keep mutation observer replacement local
  packages/solid-query/src/useMutation.ts
Due: @tanstack/solid-query

fix(solid-query): refresh mutation state when client changes
  packages/solid-query/src/useMutationState.ts
Due: @tanstack/solid-query

test(solid-query): cover mutation state client switching
  packages/solid-query/src/__tests__/useMutationState.queryClient.test.tsx
Due: @tanstack/solid-query

chore: add mutation state client switch changeset
  .changeset/solid-mutation-state-client-switch.md
Due: none

fix(solid-query): follow reactive queries query client
  packages/solid-query/src/useQueries.ts
Due: @tanstack/solid-query

test(solid-query): cover queries client switching
  packages/solid-query/src/__tests__/useQueries.queryClient.test.tsx
Due: @tanstack/solid-query

chore: add Solid queries client switch changeset
  .changeset/solid-queries-client-switch.md
Due: none

chore(solid-query): format mutation observer result type
  packages/solid-query/src/useMutation.ts
Due: @tanstack/solid-query

test(solid-query): keep useQueries client switch output renderable
  packages/solid-query/src/__tests__/useQueries.queryClient.test.tsx
Due: @tanstack/solid-query

style(solid-query): format useQueries client switch
  packages/solid-query/src/useQueries.ts
Due: @tanstack/solid-query

test(solid-query): preserve pending mutate callbacks across client switch
  packages/solid-query/src/__tests__/useMutation.queryClient.test.tsx
Due: @tanstack/solid-query

fix(solid-query): retain pending mutation callbacks on client switch
  packages/solid-query/src/useMutation.ts
Due: @tanstack/solid-query

refactor(solid-query): derive QueriesObserver from current client
  packages/solid-query/src/useQueries.ts
Due: @tanstack/solid-query

fix(svelte-query): sync observer subscription lifecycle during restoration
  .changeset/shiny-walls-battle.md
  packages/svelte-query/src/createBaseQuery.svelte.ts
  packages/svelte-query/tests/createQuery/IsRestoringDynamic.svelte
  packages/svelte-query/tests/createQuery/createQuery.svelte.test.ts
Due: @tanstack/svelte-query

fix(svelte-query): untrack createResult inside subscription effect to avoid refetch loops
  packages/svelte-query/src/createBaseQuery.svelte.ts
Due: @tanstack/svelte-query

fix(svelte-query): prevent reactive options from cancelling refetch
  .changeset/quiet-options-refetch.md
  packages/svelte-query/src/createBaseQuery.svelte.ts
  packages/svelte-query/tests/createInfiniteQuery/createInfiniteQuery.svelte.test.ts
Due: @tanstack/svelte-query
