Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

docs: remove extra link
  docs/framework/react/guides/advanced-ssr.md
Due: none

Update eslint-plugin-query.md
  docs/eslint/eslint-plugin-query.md
Due: none

docs: fix links in ssr guide
  docs/framework/react/guides/ssr.md
Due: none

docs: fix eslint links
  docs/eslint/eslint-plugin-query.md
Due: none

docs: streamedQuery
  docs/config.json
  docs/reference/QueryObserver.md
  docs/reference/streamedQuery.md
Due: none

feat(core): streamedQuery (#8814)
  docs/config.json
  docs/reference/QueryObserver.md
  docs/reference/streamedQuery.md
  examples/react/chat/.eslintrc
  examples/react/chat/.gitignore
  examples/react/chat/README.md
  examples/react/chat/index.html
  examples/react/chat/package.json
  examples/react/chat/public/emblem-light.svg
  examples/react/chat/src/chat.ts
  examples/react/chat/src/index.tsx
  examples/react/chat/src/message.tsx
  examples/react/chat/src/style.css
  examples/react/chat/tsconfig.json
  examples/react/chat/vite.config.ts
  packages/query-core/src/__tests__/streamedQuery.test.tsx
  packages/query-core/src/index.ts
  packages/query-core/src/streamedQuery.ts
  pnpm-lock.yaml
Due: @tanstack/query-core

fix: pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

docs: fix what prettier broke
  docs/framework/react/guides/migrating-to-v5.md
Due: none

fix(angular-query): forward queryFn errors to the NgZone
  packages/angular-query-experimental/src/create-base-query.ts
Due: @tanstack/angular-query-experimental

fix(angular-query): forward mutationFn errors to the NgZone
  packages/angular-query-experimental/src/inject-mutation.ts
Due: @tanstack/angular-query-experimental

refactor: remove wrapping try catches
  packages/angular-query-experimental/src/create-base-query.ts
  packages/angular-query-experimental/src/inject-mutation.ts
Due: @tanstack/angular-query-experimental

fix(angular-query): forward queryFn errors to the NgZone (#8842)
  packages/angular-query-experimental/src/create-base-query.ts
  packages/angular-query-experimental/src/inject-mutation.ts
Due: @tanstack/angular-query-experimental

release: v5.69.1
  examples/angular/auto-refetching/package.json
  examples/angular/basic/package.json
  examples/angular/devtools-panel/package.json
  examples/angular/infinite-query-with-max-pages/package.json
  examples/angular/optimistic-updates/package.json
  examples/angular/pagination/package.json
  examples/angular/query-options-from-a-service/package.json
  examples/angular/router/package.json
  examples/angular/rxjs/package.json
  examples/angular/simple/package.json
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/package.json
  pnpm-lock.yaml
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental

test
  packages/query-devtools/src/Devtools.tsx
Due: @tanstack/query-devtools

feat(devtools): add action event types and notify functionality for query actions
  packages/query-core/src/query.ts
  packages/query-devtools/src/Devtools.tsx
Due: @tanstack/query-core, @tanstack/query-devtools

cleanup commeny
  packages/query-devtools/src/Devtools.tsx
Due: @tanstack/query-devtools

fix(devtools): update notifyDevtools to use queryClient for all action notifications
  packages/query-devtools/src/Devtools.tsx
Due: @tanstack/query-devtools

remove dup call
  packages/query-devtools/src/Devtools.tsx
Due: @tanstack/query-devtools

Fix online manager bug not syncing correctly
  packages/query-devtools/src/Devtools.tsx
Due: @tanstack/query-devtools

docs: Update testing.md
  docs/framework/react/guides/testing.md
Due: none

Update docs
  docs/framework/react/devtools.md
  docs/framework/react/react-native.md
Due: none

fix(query-broadcast-client-experimental): removing query from one tab doesn't remove it from all tabs
  packages/query-broadcast-client-experimental/src/index.ts
Due: @tanstack/query-broadcast-client-experimental

test(query-broadcast-client-experimental): added initial tests
  packages/query-broadcast-client-experimental/package.json
  packages/query-broadcast-client-experimental/src/index.test.ts
Due: @tanstack/query-broadcast-client-experimental

docs: Add Connect RPC to the list of community projects
  docs/framework/react/community/community-projects.md
Due: none

chore: Improve reactive containers
  packages/svelte-query/src/containers.svelte.ts
  packages/svelte-query/src/createBaseQuery.svelte.ts
  packages/svelte-query/src/createQueries.svelte.ts
Due: @tanstack/svelte-query

oops
  packages/svelte-query/package.json
  packages/svelte-query/src/types.ts
Due: @tanstack/svelte-query

docs: fix internal link
  docs/framework/react/guides/query-invalidation.md
Due: none

Update docs/framework/react/guides/query-invalidation.md
  docs/framework/react/guides/query-invalidation.md
Due: none

docs: fix internal link (#8855)
  docs/framework/react/guides/query-invalidation.md
Due: none

fix(docs): Promise returned from invalidateQueries is ignored in optimistic-updates documentation
  docs/framework/react/guides/optimistic-updates.md
Due: none

fix(examples): Promise returned from invalidateQueries being ignored in optimistic-updates-cache example
  examples/react/optimistic-updates-cache/src/pages/index.tsx
Due: none

fix(examples): Promise returned from invalidateQueries is ignored in optimistic-updates-ui example
  examples/react/optimistic-updates-ui/src/pages/index.tsx
Due: none

Update docs/framework/react/guides/optimistic-updates.md
  docs/framework/react/guides/optimistic-updates.md
Due: none

refactor(docs, examples): standardize queryClient.invalidateQueries syntax in all onSettled callbacks
  docs/framework/react/guides/optimistic-updates.md
  examples/react/optimistic-updates-cache/src/pages/index.tsx
  examples/react/optimistic-updates-ui/src/pages/index.tsx
Due: none

docs: fix ignored promise from invalidate queries (#8847)
  docs/framework/react/guides/optimistic-updates.md
  examples/react/optimistic-updates-cache/src/pages/index.tsx
Due: none

docs: Add Connect RPC to the list of community projects (#8850)
  docs/framework/react/community/community-projects.md
Due: none

Path conditions:
  @tanstack/angular-query-devtools-experimental: any of: packages/angular-query-devtools-experimental/**
  @tanstack/angular-query-experimental: any of: packages/angular-query-experimental/**
  @tanstack/eslint-plugin-query: any of: packages/eslint-plugin-query/**
  @tanstack/query-async-storage-persister: any of: packages/query-async-storage-persister/**
  @tanstack/query-broadcast-client-experimental: any of: packages/query-broadcast-client-experimental/**
  @tanstack/query-codemods: any of: packages/codemods/**
  @tanstack/query-core: any of: packages/query-core/**
  @tanstack/query-devtools: any of: packages/query-devtools/**
  @tanstack/query-persist-client-core: any of: packages/query-persist-client-core/**
  @tanstack/query-sync-storage-persister: any of: packages/query-sync-storage-persister/**
  @tanstack/react-query: any of: packages/react-query/**
  @tanstack/react-query-devtools: any of: packages/react-query-devtools/**
  @tanstack/react-query-next-experimental: any of: packages/react-query-next-experimental/**
  @tanstack/react-query-persist-client: any of: packages/react-query-persist-client/**
  @tanstack/solid-query: any of: packages/solid-query/**
  @tanstack/solid-query-devtools: any of: packages/solid-query-devtools/**
  @tanstack/solid-query-persist-client: any of: packages/solid-query-persist-client/**
  @tanstack/svelte-query: any of: packages/svelte-query/**
  @tanstack/svelte-query-devtools: any of: packages/svelte-query-devtools/**
  @tanstack/svelte-query-persist-client: any of: packages/svelte-query-persist-client/**
  @tanstack/vue-query: any of: packages/vue-query/**
  @tanstack/vue-query-devtools: any of: packages/vue-query-devtools/**
