Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools, @tanstack/angular-query, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

test(lit-query/createQueryController): add type tests (#11765)
  packages/lit-query/src/__tests__/createQueryController.test-d.ts
Due: none

test(lit-query/createInfiniteQueryController): add type tests (#11766)
  packages/lit-query/src/__tests__/createInfiniteQueryController.test-d.ts
Due: none

test(lit-query/createMutationController): add type tests (#11767)
  packages/lit-query/src/__tests__/createMutationController.test-d.ts
Due: none

style(lit-query/createMutationController): attach the wait to the preceding assertion
  packages/lit-query/src/__tests__/createMutationController.test.ts
Due: none

test(lit-query): group each trigger with the waits and assertions that follow it in tests
  packages/lit-query/src/__tests__/QueryClientProvider.test.ts
  packages/lit-query/src/__tests__/createInfiniteQueryController.test.ts
  packages/lit-query/src/__tests__/createMutationController.test.ts
  packages/lit-query/src/__tests__/createQueriesController.test.ts
  packages/lit-query/src/__tests__/createQueryController.test.ts
  packages/lit-query/src/__tests__/mutationOptions.test.ts
  packages/lit-query/src/__tests__/useIsFetching.test.ts
  packages/lit-query/src/__tests__/useIsMutating.test.ts
  packages/lit-query/src/__tests__/useMutationState.test.ts
Due: none

test(lit-query): group each trigger with the waits and assertions that follow it in tests (#11814)
  packages/lit-query/src/__tests__/QueryClientProvider.test.ts
  packages/lit-query/src/__tests__/createInfiniteQueryController.test.ts
  packages/lit-query/src/__tests__/createMutationController.test.ts
  packages/lit-query/src/__tests__/createQueriesController.test.ts
  packages/lit-query/src/__tests__/createQueryController.test.ts
  packages/lit-query/src/__tests__/mutationOptions.test.ts
  packages/lit-query/src/__tests__/useIsFetching.test.ts
  packages/lit-query/src/__tests__/useIsMutating.test.ts
  packages/lit-query/src/__tests__/useMutationState.test.ts
Due: none

test(lit-query/createMutationController): add test for not applying updates from the previous client mutation after switching clients (#11805)
  packages/lit-query/src/__tests__/createMutationController.test.ts
Due: none

test(lit-query): separate setup from the flow that starts with its baseline assertions in tests
  packages/lit-query/src/__tests__/BaseController.test.ts
  packages/lit-query/src/__tests__/QueryClientProvider.test.ts
  packages/lit-query/src/__tests__/createInfiniteQueryController.test.ts
  packages/lit-query/src/__tests__/createMutationController.test.ts
  packages/lit-query/src/__tests__/createQueriesController.test.ts
  packages/lit-query/src/__tests__/createQueryController.test.ts
  packages/lit-query/src/__tests__/mutationOptions.test.ts
  packages/lit-query/src/__tests__/useIsFetching.test.ts
  packages/lit-query/src/__tests__/useIsMutating.test.ts
  packages/lit-query/src/__tests__/useMutationState.test.ts
Due: none

test(lit-query/ssr): keep the server rendering setup together and group reads with their assertions
  packages/lit-query/src/__tests__/ssr.test.ts
Due: none

test(lit-query): separate element class declarations from the setup in tests
  packages/lit-query/src/__tests__/QueryClientProvider.test.ts
  packages/lit-query/src/__tests__/createInfiniteQueryController.test.ts
  packages/lit-query/src/__tests__/createMutationController.test.ts
  packages/lit-query/src/__tests__/createQueriesController.test.ts
  packages/lit-query/src/__tests__/createQueryController.test.ts
  packages/lit-query/src/__tests__/mutationOptions.test.ts
  packages/lit-query/src/__tests__/ssr.test.ts
  packages/lit-query/src/__tests__/useIsFetching.test.ts
  packages/lit-query/src/__tests__/useIsMutating.test.ts
  packages/lit-query/src/__tests__/useMutationState.test.ts
Due: none

test(lit-query): separate initial assertions, rerenders, and prefetches from the flows that follow them in tests
  packages/lit-query/src/__tests__/QueryClientProvider.test.ts
  packages/lit-query/src/__tests__/createInfiniteQueryController.test.ts
  packages/lit-query/src/__tests__/createMutationController.test.ts
  packages/lit-query/src/__tests__/createQueriesController.test.ts
  packages/lit-query/src/__tests__/createQueryController.test.ts
  packages/lit-query/src/__tests__/mutationOptions.test.ts
  packages/lit-query/src/__tests__/ssr.test.ts
  packages/lit-query/src/__tests__/useIsFetching.test.ts
  packages/lit-query/src/__tests__/useIsMutating.test.ts
  packages/lit-query/src/__tests__/useMutationState.test.ts
Due: none

test(lit-query): group declarations, setup, and each action flow with blank lines in tests (#11815)
  packages/lit-query/src/__tests__/BaseController.test.ts
  packages/lit-query/src/__tests__/QueryClientProvider.test.ts
  packages/lit-query/src/__tests__/createInfiniteQueryController.test.ts
  packages/lit-query/src/__tests__/createMutationController.test.ts
  packages/lit-query/src/__tests__/createQueriesController.test.ts
  packages/lit-query/src/__tests__/createQueryController.test.ts
  packages/lit-query/src/__tests__/mutationOptions.test.ts
  packages/lit-query/src/__tests__/ssr.test.ts
  packages/lit-query/src/__tests__/useIsFetching.test.ts
  packages/lit-query/src/__tests__/useIsMutating.test.ts
  packages/lit-query/src/__tests__/useMutationState.test.ts
Due: none

test(*): start test titles with 'should'
  packages/angular-query-experimental/src/__tests__/inject-queries.test-d.ts
  packages/angular-query-experimental/src/__tests__/inject-query.test-d.ts
  packages/lit-query/src/__tests__/createInfiniteQueryController.test-d.ts
  packages/lit-query/src/__tests__/createQueriesController.test-d.ts
  packages/lit-query/src/__tests__/createQueryController.test-d.ts
  packages/lit-query/src/__tests__/infiniteQueryOptions.test-d.ts
  packages/lit-query/src/__tests__/ssr.test.ts
  packages/preact-query/src/__tests__/QueryClientProvider.test.tsx
  packages/preact-query/src/__tests__/QueryResetErrorBoundary.test.tsx
  packages/preact-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/preact-query/src/__tests__/ssr.test.tsx
  packages/preact-query/src/__tests__/useInfiniteQuery.test-d.tsx
  packages/preact-query/src/__tests__/useQueries.test-d.tsx
  packages/preact-query/src/__tests__/useQuery.test-d.tsx
  packages/preact-query/src/__tests__/useQuery.test.tsx
  packages/preact-query/src/__tests__/useSuspenseQueries.test-d.tsx
  packages/preact-query/src/__tests__/useSuspenseQueries.test.tsx
  packages/react-query/src/__tests__/QueryClientProvider.test.tsx
  packages/react-query/src/__tests__/QueryResetErrorBoundary.test.tsx
  packages/react-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/react-query/src/__tests__/ssr.test.tsx
  packages/react-query/src/__tests__/useInfiniteQuery.test-d.tsx
  packages/react-query/src/__tests__/useQueries.test-d.tsx
  packages/react-query/src/__tests__/useQuery.test-d.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/react-query/src/__tests__/useSuspenseQueries.test-d.tsx
  packages/react-query/src/__tests__/useSuspenseQueries.test.tsx
  packages/solid-query/src/__tests__/QueryClientProvider.test.tsx
  packages/solid-query/src/__tests__/useInfiniteQuery.test-d.tsx
  packages/solid-query/src/__tests__/useQueries.test-d.tsx
  packages/solid-query/src/__tests__/useQuery.test-d.tsx
  packages/solid-query/src/__tests__/useQuery.test.tsx
  packages/vue-query/src/__tests__/queryOptions.test-d.ts
  packages/vue-query/src/__tests__/useQueries.test-d.ts
  packages/vue-query/src/__tests__/useQuery.test-d.ts
Due: @tanstack/react-query, @tanstack/solid-query, @tanstack/vue-query

test(*): start the remaining test titles with 'should'
  packages/angular-query-experimental/src/__tests__/inject-mutation.test-d.ts
  packages/angular-query-experimental/src/__tests__/inject-query.test-d.ts
  packages/angular-query-persist-client/src/__tests__/with-persist-query-client.test.ts
  packages/eslint-plugin-query/src/__tests__/ast-utils.test.ts
  packages/preact-query-persist-client/src/__tests__/PersistQueryClientProvider.test.tsx
  packages/preact-query-persist-client/src/__tests__/use-queries-with-persist.test.tsx
  packages/query-async-storage-persister/src/__tests__/asyncThrottle.test.ts
  packages/query-core/src/__tests__/focusManager.test.tsx
  packages/query-core/src/__tests__/mutation.test.tsx
  packages/query-core/src/__tests__/mutationCache.test.tsx
  packages/query-core/src/__tests__/mutationObserver.test.tsx
  packages/query-core/src/__tests__/onlineManager.test.tsx
  packages/query-core/src/__tests__/query.test.tsx
  packages/query-core/src/__tests__/queryCache.test.tsx
  packages/query-core/src/__tests__/queryClient.test.tsx
  packages/query-core/src/__tests__/timeoutManager.test.tsx
  packages/query-devtools/src/__tests__/Devtools.test.tsx
  packages/query-devtools/src/__tests__/createCacheSubscriptionRegistry.test.ts
  packages/query-sync-storage-persister/src/__tests__/storageIsFull.test.ts
  packages/react-query-persist-client/src/__tests__/PersistQueryClientProvider.test.tsx
  packages/solid-query-persist-client/src/__tests__/PersistQueryClientProvider.test.tsx
  packages/solid-query/src/__tests__/QueryClientProvider.test.tsx
  packages/solid-query/src/__tests__/useQueries.test-d.tsx
  packages/solid-query/src/__tests__/useQuery.test.tsx
  packages/svelte-query-persist-client/tests/PersistQueryClientProvider.svelte.test.ts
  packages/svelte-query/tests/createInfiniteQuery/createInfiniteQuery.test-d.ts
  packages/svelte-query/tests/createQuery/createQuery.svelte.test.ts
  packages/svelte-query/tests/createQuery/createQuery.test-d.ts
  packages/vue-query/src/__tests__/queryClient.test-d.ts
  packages/vue-query/src/__tests__/useInfiniteQuery.test-d.tsx
  packages/vue-query/src/__tests__/useMutation.test-d.tsx
  packages/vue-query/src/__tests__/useQuery.test-d.ts
Due: @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-sync-storage-persister, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-persist-client, @tanstack/vue-query

test(eslint-plugin-query): start 'it.each' titles with 'should'
  packages/eslint-plugin-query/src/__tests__/sort-data-by-order.utils.test.ts
  packages/eslint-plugin-query/src/__tests__/test-utils.test.ts
Due: @tanstack/eslint-plugin-query

test({react,preact}-query/useSuspenseQueries): fix title to match the assertion that 'TData' excludes 'undefined'
  packages/preact-query/src/__tests__/useSuspenseQueries.test-d.tsx
  packages/react-query/src/__tests__/useSuspenseQueries.test-d.tsx
Due: @tanstack/react-query

chore(*): update '@tanstack/typedoc-config' to v0.3.4 and load its custom settings plugin by package export
  package.json
  pnpm-lock.yaml
  scripts/generate-docs.ts
Due: none

chore(preact-query-devtools): replace stale 'root.eslint.config.js' copy with a symlink to the root config
  packages/preact-query-devtools/root.eslint.config.js
Due: none

chore(preact-query-devtools): replace stale 'root.eslint.config.js' copy with a symlink to the root config (#11818)
  packages/preact-query-devtools/root.eslint.config.js
Due: none

chore(eslint.config): use 'defineConfig' from 'eslint/config'
  eslint.config.js
  packages/angular-query-experimental/eslint.config.js
  packages/angular-query-persist-client/eslint.config.js
  packages/eslint-plugin-query/eslint.config.js
  packages/lit-query/eslint.config.js
  packages/preact-query-devtools/eslint.config.js
  packages/preact-query-persist-client/eslint.config.js
  packages/preact-query/eslint.config.js
  packages/query-async-storage-persister/eslint.config.js
  packages/query-broadcast-client-experimental/eslint.config.js
  packages/query-codemods/eslint.config.js
  packages/query-core/eslint.config.js
  packages/query-devtools/eslint.config.js
  packages/query-persist-client-core/eslint.config.js
  packages/query-sync-storage-persister/eslint.config.js
  packages/query-test-utils/eslint.config.js
  packages/react-query-devtools/eslint.config.js
  packages/react-query-next-experimental/eslint.config.js
  packages/react-query-persist-client/eslint.config.js
  packages/react-query/eslint.config.js
  packages/solid-query-devtools/eslint.config.js
  packages/solid-query-persist-client/eslint.config.js
  packages/solid-query/eslint.config.js
  packages/svelte-query-devtools/eslint.config.js
  packages/svelte-query-persist-client/eslint.config.js
  packages/svelte-query/eslint.config.js
  packages/vue-query-devtools/eslint.config.js
  packages/vue-query/eslint.config.js
Due: @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

chore(eslint.config): use 'defineConfig' from 'eslint/config' (#11819)
  eslint.config.js
  packages/angular-query-experimental/eslint.config.js
  packages/angular-query-persist-client/eslint.config.js
  packages/eslint-plugin-query/eslint.config.js
  packages/lit-query/eslint.config.js
  packages/preact-query-devtools/eslint.config.js
  packages/preact-query-persist-client/eslint.config.js
  packages/preact-query/eslint.config.js
  packages/query-async-storage-persister/eslint.config.js
  packages/query-broadcast-client-experimental/eslint.config.js
  packages/query-codemods/eslint.config.js
  packages/query-core/eslint.config.js
  packages/query-devtools/eslint.config.js
  packages/query-persist-client-core/eslint.config.js
  packages/query-sync-storage-persister/eslint.config.js
  packages/query-test-utils/eslint.config.js
  packages/react-query-devtools/eslint.config.js
  packages/react-query-next-experimental/eslint.config.js
  packages/react-query-persist-client/eslint.config.js
  packages/react-query/eslint.config.js
  packages/solid-query-devtools/eslint.config.js
  packages/solid-query-persist-client/eslint.config.js
  packages/solid-query/eslint.config.js
  packages/svelte-query-devtools/eslint.config.js
  packages/svelte-query-persist-client/eslint.config.js
  packages/svelte-query/eslint.config.js
  packages/vue-query-devtools/eslint.config.js
  packages/vue-query/eslint.config.js
Due: @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

chore(package.json): update '@tanstack/eslint-config' to v0.4.0
  package.json
  pnpm-lock.yaml
Due: none

chore(package.json): update '@tanstack/eslint-config' to v0.4.0 (#11820)
  package.json
  pnpm-lock.yaml
Due: none

chore(*): update 'typescript-eslint' packages to v8.71.0 and '@eslint-react/eslint-plugin' to v5.23.3
  packages/eslint-plugin-query/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: @tanstack/eslint-plugin-query

chore(*): update 'typescript-eslint' packages to v8.71.0 and '@eslint-react/eslint-plugin' to v5.23.3 (#11821)
  packages/eslint-plugin-query/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: @tanstack/eslint-plugin-query

chore(eslint-plugin-query): move '@typescript-eslint/rule-tester' to the pnpm catalog
  packages/eslint-plugin-query/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: @tanstack/eslint-plugin-query

chore(eslint-plugin-query): move '@typescript-eslint/rule-tester' to the pnpm catalog (#11822)
  packages/eslint-plugin-query/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: @tanstack/eslint-plugin-query

chore(angular-query-persist-client): update 'eslint-plugin-jsdoc' to v65.0.1
  packages/angular-query-persist-client/package.json
  pnpm-lock.yaml
Due: none

chore(angular-query-persist-client): update 'eslint-plugin-jsdoc' to v65.0.1 (#11823)
  packages/angular-query-persist-client/package.json
  pnpm-lock.yaml
Due: none

chore(package.json): update '@cspell/eslint-plugin' to v10.3.6
  package.json
  pnpm-lock.yaml
Due: none

chore(package.json): update '@cspell/eslint-plugin' to v10.3.6 (#11824)
  package.json
  pnpm-lock.yaml
Due: none

chore(eslint.config): apply 'eslint-plugin-jsdoc' recommended rules to non-test source files
  eslint.config.js
  package.json
  packages/angular-query-persist-client/eslint.config.js
  packages/angular-query-persist-client/package.json
  pnpm-lock.yaml
Due: none

chore(eslint.config): name the 'jsdoc' config object 'tanstack/jsdoc'
  eslint.config.js
Due: none

chore(eslint.config): apply 'eslint-plugin-jsdoc' recommended rules to non-test source files (#11825)
  eslint.config.js
  package.json
  packages/angular-query-persist-client/eslint.config.js
  packages/angular-query-persist-client/package.json
  pnpm-lock.yaml
Due: none

chore(eslint.config): name the repository config objects under 'tanstack/query'
  eslint.config.js
Due: none

chore(eslint.config): name the repository config objects under 'tanstack/query' (#11826)
  eslint.config.js
Due: none

chore(eslint.config): raise 'jsdoc/tag-lines' from warning to error
  eslint.config.js
Due: none

Path conditions:
  @tanstack/angular-query-devtools: any of: packages/angular-query-devtools/**
  @tanstack/angular-query: any of: packages/angular-query/**
  @tanstack/eslint-plugin-query: any of: packages/eslint-plugin-query/**
  @tanstack/query-async-storage-persister: any of: packages/query-async-storage-persister/**
  @tanstack/query-broadcast-client-experimental: any of: packages/query-broadcast-client-experimental/**
  @tanstack/query-codemods: any of: packages/query-codemods/**
  @tanstack/query-core: any of: packages/query-core/**
  @tanstack/query-devtools: any of: packages/query-devtools/**
  @tanstack/query-persist-client-core: any of: packages/query-persist-client-core/**
  @tanstack/query-sync-storage-persister: any of: packages/query-sync-storage-persister/**
  @tanstack/query-test-utils: any of: packages/query-test-utils/**
  @tanstack/react-query: any of: packages/react-query/**
  @tanstack/react-query-devtools: any of: packages/react-query-devtools/**
  @tanstack/react-query-next-experimental: any of: packages/react-query-next-experimental/**
  @tanstack/react-query-persist-client: any of: packages/react-query-persist-client/**
  @tanstack/solid-query: any of: packages/solid-query/**
  @tanstack/solid-query-devtools: any of: packages/solid-query-devtools/**
  @tanstack/solid-query-persist-client: any of: packages/solid-query-persist-client/**
  @tanstack/svelte-query: any of: packages/svelte-query/**
  @tanstack/svelte-query-devtools: any of: packages/svelte-query-devtools/**
  @tanstack/svelte-query-persist-client: any of: packages/svelte-query-persist-client/**
  @tanstack/vue-query: any of: packages/vue-query/**
  @tanstack/vue-query-devtools: any of: packages/vue-query-devtools/**
