Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

fix(solid-query): Fix race condition issues with `createQuery` Tests
  packages/solid-query/src/__tests__/createQuery.test.tsx
Due: @tanstack/solid-query

fix(solid-query): Fix race condition issues with createQuery (#7748)
  packages/solid-query/src/__tests__/createQuery.test.tsx
  packages/solid-query/src/createBaseQuery.ts
Due: @tanstack/solid-query

release: v5.51.6
  examples/solid/astro/package.json
  examples/solid/basic-graphql-request/package.json
  examples/solid/basic/package.json
  examples/solid/default-query-function/package.json
  examples/solid/simple/package.json
  examples/solid/solid-start-streaming/package.json
  packages/solid-query-devtools/package.json
  packages/solid-query-persist-client/package.json
  packages/solid-query/package.json
  pnpm-lock.yaml
Due: @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client

untrack
  packages/svelte-query/src/createQueries.svelte.ts
Due: @tanstack/svelte-query

Fix createQueries, remove console.log
  packages/svelte-query/src/context.ts
  packages/svelte-query/src/createBaseQuery.svelte.ts
  packages/svelte-query/src/createMutation.svelte.ts
  packages/svelte-query/src/createQueries.svelte.ts
  packages/svelte-query/tests/createQuery/DisabledExample.svelte
  packages/svelte-query/vite.config.ts
Due: @tanstack/svelte-query

fix(eslint-plugin): handle ternary expressions in queryFn (#7747)
  packages/eslint-plugin-query/src/__tests__/exhaustive-deps.test.ts
  packages/eslint-plugin-query/src/rules/exhaustive-deps/exhaustive-deps.rule.ts
Due: @tanstack/eslint-plugin-query

release: v5.51.7
  examples/react/algolia/package.json
  examples/react/basic/package.json
  examples/solid/simple/package.json
  packages/eslint-plugin-query/package.json
  pnpm-lock.yaml
Due: @tanstack/eslint-plugin-query

Format
  docs/framework/react/guides/filters.md
Due: none

docs(query-core): add matchQuery and matchMutation utils (#7643)
  docs/framework/react/guides/filters.md
Due: none

Fix knip, update exclude
  knip.json
  package.json
  scripts/reference-docs.js
Due: none

Update knip.json
  knip.json
Due: none

Throw error or mutation doesn't see any the 500 coming from API
  examples/react/optimistic-updates-ui/src/pages/index.tsx
Due: none

fix: prettier
  examples/react/optimistic-updates-ui/src/pages/index.tsx
Due: none

ci: Add autofix.yml
  .github/workflows/autofix.yml
Due: none

Intentionally break formatting :(
  nx.json
Due: none

Update commit message
  .github/workflows/autofix.yml
Due: none

Oops, very long line
  packages/query-core/src/infiniteQueryBehavior.ts
Due: @tanstack/query-core

fix(query-core): allow function value of `notifyOnChangeProps` query option to return `undefined` (#7441)
  docs/framework/react/reference/useQuery.md
  packages/query-core/src/types.ts
Due: @tanstack/query-core

ci: Add autofix.yml (#7755)
  .github/workflows/autofix.yml
Due: none

ci: Remove git pre-commit hook
  .husky/pre-commit
  .lintstagedrc
  package.json
  pnpm-lock.yaml
Due: none

Lock setup action digest
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  pnpm-lock.yaml
Due: none

ci: Remove git pre-commit hook (#7756)
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  .husky/pre-commit
  .lintstagedrc
  package.json
  pnpm-lock.yaml
Due: none

Update paginated-queries.md
  docs/framework/react/guides/paginated-queries.md
Due: none

fix(eslint-plugin-query): get scope from sourceCode
  packages/eslint-plugin-query/src/utils/ast-utils.ts
Due: @tanstack/eslint-plugin-query

fix(eslint-plugin-query): get scope from sourceCode (#7760)
  packages/eslint-plugin-query/src/utils/ast-utils.ts
Due: @tanstack/eslint-plugin-query

release: v5.51.10
  examples/react/algolia/package.json
  examples/react/basic/package.json
  examples/solid/simple/package.json
  packages/eslint-plugin-query/package.json
  pnpm-lock.yaml
Due: @tanstack/eslint-plugin-query

docs: Update paginated-queries.md (#7759)
  docs/framework/react/guides/paginated-queries.md
Due: none

docs: Throw error or mutation doesn't see any the 500 coming from API (#7754)
  examples/react/optimistic-updates-ui/src/pages/index.tsx
Due: none

docs: update the syntax highlighting for angular
  docs/framework/angular/devtools.md
  docs/framework/angular/guides/background-fetching-indicators.md
  docs/framework/angular/guides/disabling-queries.md
  docs/framework/angular/guides/infinite-queries.md
  docs/framework/angular/guides/mutations.md
  docs/framework/angular/guides/optimistic-updates.md
  docs/framework/angular/guides/paginated-queries.md
  docs/framework/angular/guides/queries.md
  docs/framework/angular/guides/query-cancellation.md
  docs/framework/angular/overview.md
  docs/framework/angular/quick-start.md
Due: none

hi
  packages/svelte-query-persist-client/src/PersistQueryClientProvider.svelte
  packages/svelte-query/package.json
  packages/svelte-query/src/createMutation.svelte.ts
  packages/svelte-query/src/createQueries.svelte.ts
  packages/svelte-query/src/queryOptions.ts
  packages/svelte-query/tests/createInfiniteQuery/BaseExample.svelte
  packages/svelte-query/tests/createQuery/BaseExample.svelte
  packages/svelte-query/tests/createQuery/DisabledExample.svelte
  packages/svelte-query/tests/createQuery/PlaceholderData.svelte
  packages/svelte-query/tests/queryOptions/queryOptions.test.ts
  pnpm-lock.yaml
Due: @tanstack/svelte-query, @tanstack/svelte-query-persist-client

omit
  packages/svelte-query-persist-client/src/PersistQueryClientProvider.svelte
  packages/svelte-query/tests/queryOptions/queryOptions.test.ts
Due: @tanstack/svelte-query, @tanstack/svelte-query-persist-client

fix types
  packages/svelte-query-persist-client/src/PersistQueryClientProvider.svelte
  packages/svelte-query/tests/queryOptions/queryOptions.test.ts
Due: @tanstack/svelte-query, @tanstack/svelte-query-persist-client

ci: Enable autofix on push to release branch
  .github/workflows/autofix.yml
  scripts/publish.js
Due: none

docs: update the syntax highlighting for angular (#7762)
  docs/framework/angular/devtools.md
  docs/framework/angular/guides/background-fetching-indicators.md
  docs/framework/angular/guides/disabling-queries.md
  docs/framework/angular/guides/infinite-queries.md
  docs/framework/angular/guides/mutations.md
  docs/framework/angular/guides/optimistic-updates.md
  docs/framework/angular/guides/paginated-queries.md
  docs/framework/angular/guides/queries.md
  docs/framework/angular/guides/query-cancellation.md
  docs/framework/angular/overview.md
  docs/framework/angular/quick-start.md
Due: none

Path conditions:
  @tanstack/angular-query-devtools-experimental: any of: packages/angular-query-devtools-experimental/**
  @tanstack/angular-query-experimental: any of: packages/angular-query-experimental/**
  @tanstack/eslint-plugin-query: any of: packages/eslint-plugin-query/**
  @tanstack/query-async-storage-persister: any of: packages/query-async-storage-persister/**
  @tanstack/query-broadcast-client-experimental: any of: packages/query-broadcast-client-experimental/**
  @tanstack/query-codemods: any of: packages/codemods/**
  @tanstack/query-core: any of: packages/query-core/**
  @tanstack/query-devtools: any of: packages/query-devtools/**
  @tanstack/query-persist-client-core: any of: packages/query-persist-client-core/**
  @tanstack/query-sync-storage-persister: any of: packages/query-sync-storage-persister/**
  @tanstack/react-query: any of: packages/react-query/**
  @tanstack/react-query-devtools: any of: packages/react-query-devtools/**
  @tanstack/react-query-next-experimental: any of: packages/react-query-next-experimental/**
  @tanstack/react-query-persist-client: any of: packages/react-query-persist-client/**
  @tanstack/solid-query: any of: packages/solid-query/**
  @tanstack/solid-query-devtools: any of: packages/solid-query-devtools/**
  @tanstack/solid-query-persist-client: any of: packages/solid-query-persist-client/**
  @tanstack/svelte-query: any of: packages/svelte-query/**
  @tanstack/svelte-query-devtools: any of: packages/svelte-query-devtools/**
  @tanstack/svelte-query-persist-client: any of: packages/svelte-query-persist-client/**
  @tanstack/vue-query: any of: packages/vue-query/**
  @tanstack/vue-query-devtools: any of: packages/vue-query-devtools/**
