Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools, @tanstack/angular-query, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

codecov.yml:

codecov:
  max_report_age: off

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto

comment:
  layout: 'header, reach, diff, flags, components'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  hide_project_coverage: false

component_management:
  individual_components:
    - component_id: angular-query-devtools
      name: '@tanstack/angular-query-devtools'
      paths:
        - packages/angular-query-devtools/**
    - component_id: angular-query
      name: '@tanstack/angular-query'
      paths:
        - packages/angular-query/**
    - component_id: eslint-plugin-query
      name: '@tanstack/eslint-plugin-query'
      paths:
        - packages/eslint-plugin-query/**
    - component_id: query-async-storage-persister
      name: '@tanstack/query-async-storage-persister'
      paths:
        - packages/query-async-storage-persister/**
    - component_id: query-broadcast-client-experimental
      name: '@tanstack/query-broadcast-client-experimental'
      paths:
        - packages/query-broadcast-client-experimental/**
    - component_id: query-codemods
      name: '@tanstack/query-codemods'
      paths:
        - packages/query-codemods/**
    - component_id: query-core
      name: '@tanstack/query-core'
      paths:
        - packages/query-core/**
    - component_id: query-devtools
      name: '@tanstack/query-devtools'
      paths:
        - packages/query-devtools/**
    - component_id: query-persist-client-core
      name: '@tanstack/query-persist-client-core'
      paths:
        - packages/query-persist-client-core/**
    - component_id: query-sync-storage-persister
      name: '@tanstack/query-sync-storage-persister'
      paths:
        - packages/query-sync-storage-persister/**
    - component_id: query-test-utils
      name: '@tanstack/query-test-utils'
      paths:
        - packages/query-test-utils/**
    - component_id: react-query
      name: '@tanstack/react-query'
      paths:
        - packages/react-query/**
    - component_id: react-query-devtools
      name: '@tanstack/react-query-devtools'
      paths:
        - packages/react-query-devtools/**
    - component_id: react-query-next-experimental
      name: '@tanstack/react-query-next-experimental'
      paths:
        - packages/react-query-next-experimental/**
    - component_id: react-query-persist-client
      name: '@tanstack/react-query-persist-client'
      paths:
        - packages/react-query-persist-client/**
    - component_id: solid-query
      name: '@tanstack/solid-query'
      paths:
        - packages/solid-query/**
    - component_id: solid-query-devtools
      name: '@tanstack/solid-query-devtools'
      paths:
        - packages/solid-query-devtools/**
    - component_id: solid-query-persist-client
      name: '@tanstack/solid-query-persist-client'
      paths:
        - packages/solid-query-persist-client/**
    - component_id: svelte-query
      name: '@tanstack/svelte-query'
      paths:
        - packages/svelte-query/**
    - component_id: svelte-query-devtools
      name: '@tanstack/svelte-query-devtools'
      paths:
        - packages/svelte-query-devtools/**
    - component_id: svelte-query-persist-client
      name: '@tanstack/svelte-query-persist-client'
      paths:
        - packages/svelte-query-persist-client/**
    - component_id: vue-query
      name: '@tanstack/vue-query'
      paths:
        - packages/vue-query/**
    - component_id: vue-query-devtools
      name: '@tanstack/vue-query-devtools'
      paths:
        - packages/vue-query-devtools/**

add respect for select
  packages/query-core/src/__tests__/queryClient.test-d.tsx
  packages/query-core/src/__tests__/queryClient.test.tsx
  packages/query-core/src/queryClient.ts
  packages/query-core/src/types.ts
  packages/vue-query/src/queryClient.ts
Due: @tanstack/query-core, @tanstack/vue-query

react query options testing
  packages/react-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/react-query/src/__tests__/queryOptions.test-d.tsx
Due: @tanstack/react-query

update changeset
  .changeset/famous-owls-battle.md
Due: none

fixes
  packages/react-query/src/__tests__/infiniteQueryOptions.test-d.tsx
Due: @tanstack/react-query

update link for blog posts
  docs/community-resources.md
Due: none

update community resource links
  docs/framework/react/guides/query-keys.md
  docs/framework/react/typescript.md
Due: none

rm vue community section
  docs/framework/vue/community/community-projects.md
  docs/framework/vue/community/tkdodos-blog.md
Due: none

fix(query-core): align focusManager with batching and error handling
  packages/query-core/src/focusManager.ts
Due: @tanstack/query-core

fix: remove try catch handling to keep consistency
  packages/query-core/src/focusManager.ts
Due: @tanstack/query-core

more type fixes
  .changeset/famous-owls-battle.md
  .changeset/wise-suns-ask.md
  packages/query-core/src/__tests__/queryClient.test-d.tsx
Due: @tanstack/query-core

fix typo
  packages/query-core/src/__tests__/queryClient.test-d.tsx
Due: @tanstack/query-core

fix(solid-query): ignore error if data undefined so can redirect
  packages/solid-query/src/useBaseQuery.ts
Due: @tanstack/solid-query

add changset
  .changeset/green-lands-occur.md
Due: none

typo again
  packages/query-core/src/__tests__/queryClient.test-d.tsx
Due: @tanstack/query-core

Type fix
  packages/query-core/src/types.ts
Due: @tanstack/query-core

fix(solid-query): ignore error if data undefined so can redirect (#9841)
  .changeset/green-lands-occur.md
  packages/solid-query/src/useBaseQuery.ts
Due: @tanstack/solid-query

update old links
  docs/framework/react/guides/advanced-ssr.md
  docs/framework/react/guides/important-defaults.md
  docs/framework/react/guides/infinite-queries.md
  docs/framework/react/guides/initial-query-data.md
  docs/framework/react/guides/invalidations-from-mutations.md
  docs/framework/react/guides/mutations.md
  docs/framework/react/guides/optimistic-updates.md
  docs/framework/react/guides/placeholder-query-data.md
  docs/framework/react/guides/prefetching.md
  docs/framework/react/guides/queries.md
  docs/framework/react/guides/query-keys.md
  docs/framework/react/guides/render-optimizations.md
  docs/framework/react/guides/testing.md
  docs/framework/react/overview.md
  docs/framework/react/reference/queryOptions.md
  docs/framework/react/typescript.md
  docs/reference/QueryCache.md
Due: none

Init upgrade
  examples/react/algolia/package.json
  examples/react/basic-graphql-request/package.json
  examples/react/basic/package.json
  examples/react/chat/package.json
  examples/react/default-query-function/package.json
  examples/react/devtools-panel/package.json
  examples/react/eslint-legacy/package.json
  examples/react/offline/package.json
  examples/react/playground/package.json
  examples/react/react-router/package.json
  examples/react/rick-morty/package.json
  examples/react/shadow-dom/package.json
  examples/react/simple/package.json
  examples/react/star-wars/package.json
  examples/react/suspense/package.json
  examples/solid/basic-graphql-request/package.json
  examples/solid/basic/package.json
  examples/solid/default-query-function/package.json
  examples/solid/simple/package.json
  examples/svelte/auto-refetching/package.json
  examples/svelte/basic/package.json
  examples/svelte/load-more-infinite-scroll/package.json
  examples/svelte/optimistic-updates/package.json
  examples/svelte/playground/package.json
  examples/svelte/simple/package.json
  examples/svelte/ssr/package.json
  examples/svelte/star-wars/package.json
  examples/vue/basic/package.json
  examples/vue/dependent-queries/package.json
  examples/vue/persister/package.json
  examples/vue/simple/package.json
  integrations/react-vite/package.json
  integrations/solid-vite/package.json
  integrations/svelte-vite/package.json
  integrations/vue-vite/package.json
  package.json
  packages/vue-query-devtools/package.json
  pnpm-lock.yaml
Due: @tanstack/vue-query-devtools

Fixed query core
  packages/query-core/src/__tests__/timeoutManager.test.tsx
Due: @tanstack/query-core

fix(core): only attach .then and .catch onto a promise if it gets dehydrated
  packages/query-core/src/hydration.ts
Due: @tanstack/query-core

revert delegations
  packages/query-core/src/queryClient.ts
  packages/query-core/src/types.ts
Due: @tanstack/query-core

typo
  packages/query-core/src/queryClient.ts
Due: @tanstack/query-core

client update async
  packages/query-core/src/queryClient.ts
Due: @tanstack/query-core

Fix promise handling in core for dehydrated states
  .changeset/little-berries-search.md
Due: none

fix(core): only attach .then and .catch onto a promise if it gets dehydrated (#9847)
  .changeset/little-berries-search.md
  packages/query-core/src/hydration.ts
Due: @tanstack/query-core

chore: Update bundle size badges for React Query
  .github/workflows/pr.yml
Due: none

fix community resource link
  docs/framework/react/guides/important-defaults.md
  docs/framework/react/guides/query-keys.md
Due: none

docs: fix grammar issue in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

update
  CONTRIBUTING.md
Due: none

docs: fix grammar issue in CONTRIBUTING.md (#9849)
  CONTRIBUTING.md
Due: none

docs: add community resources page (#9831)
  docs/community-resources.md
  docs/config.json
  docs/framework/react/community/community-projects.md
  docs/framework/react/community/tkdodos-blog.md
  docs/framework/react/guides/advanced-ssr.md
  docs/framework/react/guides/important-defaults.md
  docs/framework/react/guides/infinite-queries.md
  docs/framework/react/guides/initial-query-data.md
  docs/framework/react/guides/invalidations-from-mutations.md
  docs/framework/react/guides/mutations.md
  docs/framework/react/guides/optimistic-updates.md
  docs/framework/react/guides/placeholder-query-data.md
  docs/framework/react/guides/prefetching.md
  docs/framework/react/guides/queries.md
  docs/framework/react/guides/query-keys.md
  docs/framework/react/guides/render-optimizations.md
  docs/framework/react/guides/testing.md
  docs/framework/react/overview.md
  docs/framework/react/reference/queryOptions.md
  docs/framework/react/typescript.md
  docs/framework/react/videos.md
  docs/framework/solid/community/community-projects.md
  docs/framework/solid/community/tkdodos-blog.md
  docs/framework/vue/community/community-projects.md
  docs/framework/vue/community/tkdodos-blog.md
  docs/reference/QueryCache.md
Due: none

test(react-query-persist-client/use-queries-with-persist): switch to fake timers, replace 'waitFor' with 'vi.advanceTimersByTimeAsync', and replace 'setTimeout' with 'sleep'
  packages/react-query-persist-client/src/__tests__/use-queries-with-persist.test.tsx
Due: @tanstack/react-query-persist-client

Add ability to pass mutation scope via mutate function
  docs/framework/react/guides/mutations.md
  docs/framework/react/reference/useMutation.md
  packages/query-core/src/__tests__/mutationObserver.test.tsx
  packages/query-core/src/mutationObserver.ts
  packages/query-core/src/types.ts
Due: @tanstack/query-core

Fixed persist tests
  examples/react/auto-refetching/next-env.d.ts
  examples/react/infinite-query-with-max-pages/next-env.d.ts
  examples/react/load-more-infinite-scroll/next-env.d.ts
  examples/react/nextjs-suspense-streaming/next-env.d.ts
  examples/react/nextjs/next-env.d.ts
  examples/react/optimistic-updates-cache/next-env.d.ts
  examples/react/optimistic-updates-ui/next-env.d.ts
  examples/react/pagination/next-env.d.ts
  examples/react/prefetching/next-env.d.ts
  packages/query-persist-client-core/src/__tests__/createPersister.test.ts
Due: @tanstack/query-persist-client-core

Fixed coverage
  packages/query-codemods/vite.config.ts
Due: @tanstack/query-codemods

Rename Todo component to BlogPost
  docs/framework/react/guides/placeholder-query-data.md
Due: none

docs: Rename Todo component to BlogPost (#9853)
  docs/framework/react/guides/placeholder-query-data.md
Due: none

test(react-query-persist-client/use-queries-with-persist): switch to fake timers, replace 'waitFor' with 'vi.advanceTimersByTimeAsync', and replace 'setTimeout' with 'sleep' (#9850)
  packages/react-query-persist-client/src/__tests__/use-queries-with-persist.test.tsx
Due: @tanstack/react-query-persist-client

fix(query-core): allow partial query keys in `QueryFilters` (#9686)
  .changeset/wise-numbers-double.md
  packages/query-core/src/__tests__/utils.test-d.tsx
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

Fixed React
  packages/react-query/package.json
  pnpm-lock.yaml
Due: @tanstack/react-query
