Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 1%

comment:
  layout: 'header, reach, diff, flags, components'

component_management:
  individual_components:
    - component_id: angular-query-devtools-experimental
      name: '@tanstack/angular-query-devtools-experimental'
      paths:
        - packages/angular-query-devtools-experimental/**
    - component_id: angular-query-experimental
      name: '@tanstack/angular-query-experimental'
      paths:
        - packages/angular-query-experimental/**
    - component_id: eslint-plugin-query
      name: '@tanstack/eslint-plugin-query'
      paths:
        - packages/eslint-plugin-query/**
    - component_id: query-async-storage-persister
      name: '@tanstack/query-async-storage-persister'
      paths:
        - packages/query-async-storage-persister/**
    - component_id: query-broadcast-client-experimental
      name: '@tanstack/query-broadcast-client-experimental'
      paths:
        - packages/query-broadcast-client-experimental/**
    - component_id: query-codemods
      name: '@tanstack/query-codemods'
      paths:
        - packages/codemods/**
    - component_id: query-core
      name: '@tanstack/query-core'
      paths:
        - packages/query-core/**
    - component_id: query-devtools
      name: '@tanstack/query-devtools'
      paths:
        - packages/query-devtools/**
    - component_id: query-persist-client-core
      name: '@tanstack/query-persist-client-core'
      paths:
        - packages/query-persist-client-core/**
    - component_id: query-sync-storage-persister
      name: '@tanstack/query-sync-storage-persister'
      paths:
        - packages/query-sync-storage-persister/**
    - component_id: react-query
      name: '@tanstack/react-query'
      paths:
        - packages/react-query/**
    - component_id: react-query-devtools
      name: '@tanstack/react-query-devtools'
      paths:
        - packages/react-query-devtools/**
    - component_id: react-query-next-experimental
      name: '@tanstack/react-query-next-experimental'
      paths:
        - packages/react-query-next-experimental/**
    - component_id: react-query-persist-client
      name: '@tanstack/react-query-persist-client'
      paths:
        - packages/react-query-persist-client/**
    - component_id: solid-query
      name: '@tanstack/solid-query'
      paths:
        - packages/solid-query/**
    - component_id: solid-query-devtools
      name: '@tanstack/solid-query-devtools'
      paths:
        - packages/solid-query-devtools/**
    - component_id: solid-query-persist-client
      name: '@tanstack/solid-query-persist-client'
      paths:
        - packages/solid-query-persist-client/**
    - component_id: svelte-query
      name: '@tanstack/svelte-query'
      paths:
        - packages/svelte-query/**
    - component_id: svelte-query-devtools
      name: '@tanstack/svelte-query-devtools'
      paths:
        - packages/svelte-query-devtools/**
    - component_id: svelte-query-persist-client
      name: '@tanstack/svelte-query-persist-client'
      paths:
        - packages/svelte-query-persist-client/**
    - component_id: vue-query
      name: '@tanstack/vue-query'
      paths:
        - packages/vue-query/**
    - component_id: vue-query-devtools
      name: '@tanstack/vue-query-devtools'
      paths:
        - packages/vue-query-devtools/**

Remove mutation defaults todo
  packages/query-core/src/__tests__/queryClient.test-d.tsx
Due: @tanstack/query-core

Rename var
  packages/query-core/src/__tests__/utils.test-d.tsx
Due: @tanstack/query-core

test(query-core): add type check tests for `queryObserver` (#8304)
  packages/query-core/src/__tests__/queryObserver.test-d.tsx
Due: @tanstack/query-core

add failing repro test
  packages/query-core/src/__tests__/hydration.test.tsx
  packages/query-core/src/hydration.ts
Due: @tanstack/query-core

update assertinos
  packages/query-core/src/__tests__/hydration.test.tsx
Due: @tanstack/query-core

add logg
  packages/query-core/src/hydration.ts
Due: @tanstack/query-core

ehm - maybe fix?
  packages/query-core/src/__tests__/hydration.test.tsx
  packages/query-core/src/hydration.ts
Due: @tanstack/query-core

rm -only
  packages/query-core/src/__tests__/hydration.test.tsx
Due: @tanstack/query-core

make example
  integrations/react-next-15/app/_action.ts
  integrations/react-next-15/app/client-component.tsx
  integrations/react-next-15/app/count/route.ts
  integrations/react-next-15/app/make-query-client.ts
  integrations/react-next-15/app/page.tsx
  packages/query-core/src/__tests__/hydration.test.tsx
Due: @tanstack/query-core

upd
  integrations/react-next-15/app/make-query-client.ts
Due: none

fix: handle non-null at then end of var in exhaustive-deps
  packages/eslint-plugin-query/src/__tests__/exhaustive-deps.test.ts
  packages/eslint-plugin-query/src/utils/ast-utils.ts
Due: @tanstack/eslint-plugin-query

ad debug logs
  packages/query-core/src/hydration.ts
Due: @tanstack/query-core

fix(eslint-plugin-query): handle non-null at then end of var in exhaustive-deps (#8385)
  packages/eslint-plugin-query/src/__tests__/exhaustive-deps.test.ts
  packages/eslint-plugin-query/src/utils/ast-utils.ts
Due: @tanstack/eslint-plugin-query

more debugging
  integrations/react-next-15/app/page.tsx
  packages/query-core/src/hydration.ts
  packages/react-query/src/HydrationBoundary.tsx
Due: @tanstack/query-core, @tanstack/react-query

Update examples/angular/auto-refetching/.devcontainer/devcontainer.json
  examples/angular/auto-refetching/.devcontainer/devcontainer.json
Due: none

Update examples/angular/auto-refetching/package.json
  examples/angular/auto-refetching/package.json
Due: none

Update examples/angular/auto-refetching/src/index.html
  examples/angular/auto-refetching/src/index.html
Due: none

Update examples/angular/auto-refetching/tsconfig.json
  examples/angular/auto-refetching/tsconfig.json
Due: none

Update examples/angular/auto-refetching/src/app/app.config.ts
  examples/angular/auto-refetching/src/app/app.config.ts
Due: none

Remove all additional overloads in favour of a single definition which supports all cases
  packages/query-core/src/queryClient.ts
Due: @tanstack/query-core

Update MR change interceptor to function interceptor and update all tasks to quert options obj
  examples/angular/auto-refetching/package.json
  examples/angular/auto-refetching/src/app/app.config.ts
  examples/angular/auto-refetching/src/app/components/auto-refetching.component.ts
  examples/angular/auto-refetching/src/app/interceptor/mock-api.interceptor.ts
  examples/angular/auto-refetching/src/app/services/tasks.service.ts
Due: none

Change type tests to more idomatic api
  packages/query-core/src/__tests__/queryClient.test-d.tsx
Due: @tanstack/query-core

docs: useQuery to object syntax
  docs/framework/vue/guides/query-keys.md
Due: none

fix(types): Fix type errors when using fully-typed inputs like QueryFilters<Data, Error>, and test all QueryClient methods to detect similar issues (#8375)
  packages/query-core/src/__tests__/queryClient.test-d.tsx
  packages/query-core/src/__tests__/utils.test-d.tsx
  packages/query-core/src/queryClient.ts
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

docs: useQuery to object syntax (#8387)
  docs/framework/vue/guides/query-keys.md
Due: none

push
  integrations/react-next-15/app/make-query-client.ts
  integrations/react-next-15/app/page.tsx
  integrations/react-next-15/app/providers.tsx
  packages/query-core/package.json
  packages/query-core/src/hydration.ts
  packages/query-core/src/query.ts
  packages/react-query/package.json
  packages/react-query/src/HydrationBoundary.tsx
Due: @tanstack/query-core, @tanstack/react-query

maybe???
  integrations/react-next-15/app/page.tsx
  integrations/react-next-15/app/providers.tsx
  packages/query-core/src/hydration.ts
  packages/react-query/src/HydrationBoundary.tsx
Due: @tanstack/query-core, @tanstack/react-query

rm log
  packages/react-query/src/HydrationBoundary.tsx
Due: @tanstack/react-query

revert
  integrations/react-next-15/app/providers.tsx
Due: none

fix(eslint-plugin-query): export Plugin interface
  packages/eslint-plugin-query/src/index.ts
Due: @tanstack/eslint-plugin-query

Fix issues with queryOptions factory method types
  packages/query-core/src/__tests__/queryClient.test-d.tsx
  packages/query-core/src/__tests__/utils.test-d.tsx
  packages/query-core/src/types.ts
  packages/react-query/src/__tests__/queryOptions.test-d.tsx
  packages/react-query/src/queryOptions.ts
Due: @tanstack/query-core, @tanstack/react-query

Fix typo in useMutation.md
  docs/framework/react/reference/useMutation.md
Due: none

fix(react-query): ensureSuspenseTimers should ALWAYS set staleTime to 1000 when it is below 1000.
  packages/react-query/src/suspense.ts
Due: @tanstack/react-query

Apply the same fixes to infiniteQueryOptions
  packages/react-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/react-query/src/__tests__/queryOptions.test-d.tsx
  packages/react-query/src/infiniteQueryOptions.ts
Due: @tanstack/react-query

fix(react-query): fix ensureSuspenseTimers logic
  packages/react-query/src/suspense.ts
Due: @tanstack/react-query

test(react-query): add test code
  packages/react-query/src/__tests__/suspense.test.tsx
Due: @tanstack/react-query
