Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 1%

comment:
  layout: 'header, reach, diff, flags, components'

component_management:
  individual_components:
    - component_id: angular-query-devtools-experimental
      name: '@tanstack/angular-query-devtools-experimental'
      paths:
        - packages/angular-query-devtools-experimental/**
    - component_id: angular-query-experimental
      name: '@tanstack/angular-query-experimental'
      paths:
        - packages/angular-query-experimental/**
    - component_id: eslint-plugin-query
      name: '@tanstack/eslint-plugin-query'
      paths:
        - packages/eslint-plugin-query/**
    - component_id: query-async-storage-persister
      name: '@tanstack/query-async-storage-persister'
      paths:
        - packages/query-async-storage-persister/**
    - component_id: query-broadcast-client-experimental
      name: '@tanstack/query-broadcast-client-experimental'
      paths:
        - packages/query-broadcast-client-experimental/**
    - component_id: query-codemods
      name: '@tanstack/query-codemods'
      paths:
        - packages/codemods/**
    - component_id: query-core
      name: '@tanstack/query-core'
      paths:
        - packages/query-core/**
    - component_id: query-devtools
      name: '@tanstack/query-devtools'
      paths:
        - packages/query-devtools/**
    - component_id: query-persist-client-core
      name: '@tanstack/query-persist-client-core'
      paths:
        - packages/query-persist-client-core/**
    - component_id: query-sync-storage-persister
      name: '@tanstack/query-sync-storage-persister'
      paths:
        - packages/query-sync-storage-persister/**
    - component_id: react-query
      name: '@tanstack/react-query'
      paths:
        - packages/react-query/**
    - component_id: react-query-devtools
      name: '@tanstack/react-query-devtools'
      paths:
        - packages/react-query-devtools/**
    - component_id: react-query-next-experimental
      name: '@tanstack/react-query-next-experimental'
      paths:
        - packages/react-query-next-experimental/**
    - component_id: react-query-persist-client
      name: '@tanstack/react-query-persist-client'
      paths:
        - packages/react-query-persist-client/**
    - component_id: solid-query
      name: '@tanstack/solid-query'
      paths:
        - packages/solid-query/**
    - component_id: solid-query-devtools
      name: '@tanstack/solid-query-devtools'
      paths:
        - packages/solid-query-devtools/**
    - component_id: solid-query-persist-client
      name: '@tanstack/solid-query-persist-client'
      paths:
        - packages/solid-query-persist-client/**
    - component_id: svelte-query
      name: '@tanstack/svelte-query'
      paths:
        - packages/svelte-query/**
    - component_id: svelte-query-devtools
      name: '@tanstack/svelte-query-devtools'
      paths:
        - packages/svelte-query-devtools/**
    - component_id: svelte-query-persist-client
      name: '@tanstack/svelte-query-persist-client'
      paths:
        - packages/svelte-query-persist-client/**
    - component_id: vue-query
      name: '@tanstack/vue-query'
      paths:
        - packages/vue-query/**
    - component_id: vue-query-devtools
      name: '@tanstack/vue-query-devtools'
      paths:
        - packages/vue-query-devtools/**

test(react-query): update vitest type test correctly (#6990)
  packages/react-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/react-query/src/__tests__/useQueries.test.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/react-query/src/__tests__/utils.tsx
Due: @tanstack/react-query

fix: do not notify the cache of `observerOptionsUpdated` if the prevOptions weren't defaulted
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/tests/queryCache.test.tsx
Due: @tanstack/query-core

fix: react-query tests
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/tests/queryObserver.test.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/query-core, @tanstack/react-query

fix: solid-query tests
  packages/solid-query/src/__tests__/createQuery.test.tsx
Due: @tanstack/solid-query

test: setup global mock restore
  packages/angular-query-devtools-experimental/vite.config.ts
  packages/angular-query-experimental/vite.config.ts
  packages/eslint-plugin-query/vite.config.ts
  packages/query-async-storage-persister/vite.config.ts
  packages/query-codemods/vite.config.ts
  packages/query-core/src/tests/query.test.tsx
  packages/query-core/vite.config.ts
  packages/query-devtools/vite.config.ts
  packages/query-persist-client-core/vite.config.ts
  packages/query-sync-storage-persister/vite.config.ts
  packages/react-query-devtools/vite.config.ts
  packages/react-query-persist-client/vite.config.ts
  packages/react-query/vite.config.ts
  packages/solid-query-persist-client/vite.config.ts
  packages/solid-query/vite.config.ts
  packages/svelte-query-persist-client/vite.config.ts
  packages/svelte-query/vite.config.ts
  packages/vue-query/vite.config.ts
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-persist-client, @tanstack/vue-query

fix: re-add check
  packages/query-core/src/queryObserver.ts
Due: @tanstack/query-core

chore: revert changes for vue-query
  packages/vue-query/vite.config.ts
Due: @tanstack/vue-query

test: setup global mock restore (#7060)
  packages/angular-query-devtools-experimental/vite.config.ts
  packages/angular-query-experimental/vite.config.ts
  packages/eslint-plugin-query/vite.config.ts
  packages/query-async-storage-persister/vite.config.ts
  packages/query-codemods/vite.config.ts
  packages/query-core/src/tests/query.test.tsx
  packages/query-core/vite.config.ts
  packages/query-devtools/vite.config.ts
  packages/query-persist-client-core/vite.config.ts
  packages/query-sync-storage-persister/vite.config.ts
  packages/react-query-devtools/vite.config.ts
  packages/react-query-persist-client/vite.config.ts
  packages/react-query/vite.config.ts
  packages/solid-query-persist-client/vite.config.ts
  packages/solid-query/vite.config.ts
  packages/svelte-query-persist-client/vite.config.ts
  packages/svelte-query/vite.config.ts
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-persist-client

ci(eslint): add `typecheck` for cspell words (#6939)
  .eslintrc.cjs
Due: none

test(query-core): update vitest type test correctly (#7039)
  packages/query-core/src/tests/infiniteQueryObserver.test-d.tsx
  packages/query-core/src/tests/infiniteQueryObserver.test.tsx
  packages/query-core/src/tests/queryClient.test-d.tsx
  packages/query-core/src/tests/queryClient.types.test.tsx
  packages/query-core/src/tests/queryObserver.test-d.tsx
  packages/query-core/src/tests/queryObserver.test.tsx
  packages/query-core/src/tests/queryObserver.types.test.tsx
  packages/query-core/src/tests/utils.ts
Due: @tanstack/query-core

docs: fix link in typescript.md
  docs/framework/react/typescript.md
Due: none

fix(query-core): allow for unconditional resuming of paused mutations if we get an online event
  packages/query-core/src/onlineManager.ts
  packages/query-core/src/queryClient.ts
  packages/react-query/src/__tests__/useMutation.test.tsx
Due: @tanstack/query-core, @tanstack/react-query

test: do not rely on dispatching events in tests
  packages/query-core/src/onlineManager.ts
  packages/query-core/src/queryClient.ts
  packages/react-query/src/__tests__/useMutation.test.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/react-query/src/__tests__/utils.tsx
Due: @tanstack/query-core, @tanstack/react-query

test: don't use getAll
  packages/react-query/src/__tests__/useMutation.test.tsx
Due: @tanstack/react-query

ci(vue-query): check all vue version strictly
  packages/vue-query/package.json
Due: @tanstack/vue-query

test: try to fix flakiness around offline mocks (#7061)
  packages/react-query/src/__tests__/useMutation.test.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/react-query/src/__tests__/utils.tsx
Due: @tanstack/react-query

test: simplify a flaky test
  packages/react-query/src/__tests__/useInfiniteQuery.test.tsx
Due: @tanstack/react-query

test(vue-query): use vitest typecheck correctly with *.test-d.ts (#6988)
  packages/vue-query/src/__tests__/queryClient.test-d.ts
  packages/vue-query/src/__tests__/queryClient.type.test.ts
  packages/vue-query/src/__tests__/queryOptions.test-d.ts
  packages/vue-query/src/__tests__/queryOptions.types.test.ts
  packages/vue-query/src/__tests__/test-utils.ts
  packages/vue-query/src/__tests__/useInfiniteQuery.test-d.tsx
  packages/vue-query/src/__tests__/useInfiniteQuery.types.test.tsx
  packages/vue-query/src/__tests__/useMutation.test-d.tsx
  packages/vue-query/src/__tests__/useMutation.types.test.tsx
  packages/vue-query/src/__tests__/useQueries.test-d.ts
  packages/vue-query/src/__tests__/useQueries.types.test.ts
  packages/vue-query/src/__tests__/useQuery.test-d.ts
  packages/vue-query/src/__tests__/useQuery.types.test.ts
Due: @tanstack/vue-query

chore(vue-query): ad vite.config.ts as tsconfig include
  packages/vue-query/tsconfig.json
Due: @tanstack/vue-query

ci(eslint): add vue-demi as cspell words
  .eslintrc.cjs
Due: none

chore: update
  .eslintrc.cjs
Due: none

fix(core): pass isFocused boolean to focusManager callback
  packages/query-core/src/focusManager.ts
  packages/query-core/src/queryClient.ts
  packages/query-core/src/tests/focusManager.test.tsx
Due: @tanstack/query-core

Update packages/query-core/src/queryClient.ts
  packages/query-core/src/queryClient.ts
Due: @tanstack/query-core

ci(eslint): add vue-demi as cspell words (#7064)
  .eslintrc.cjs
Due: none

Revert "test(vue-query): use vitest typecheck correctly with *.test-d.ts (#6988)"
  packages/vue-query/src/__tests__/queryClient.test-d.ts
  packages/vue-query/src/__tests__/queryClient.type.test.ts
  packages/vue-query/src/__tests__/queryOptions.test-d.ts
  packages/vue-query/src/__tests__/queryOptions.types.test.ts
  packages/vue-query/src/__tests__/test-utils.ts
  packages/vue-query/src/__tests__/useInfiniteQuery.test-d.tsx
  packages/vue-query/src/__tests__/useInfiniteQuery.types.test.tsx
  packages/vue-query/src/__tests__/useMutation.test-d.tsx
  packages/vue-query/src/__tests__/useMutation.types.test.tsx
  packages/vue-query/src/__tests__/useQueries.test-d.ts
  packages/vue-query/src/__tests__/useQueries.types.test.ts
  packages/vue-query/src/__tests__/useQuery.test-d.ts
  packages/vue-query/src/__tests__/useQuery.types.test.ts
Due: @tanstack/vue-query

chore: Revert "test(vue-query): use vitest typecheck correctly with *.test-d.ts (#6988)" (#7068)
  packages/vue-query/src/__tests__/queryClient.test-d.ts
  packages/vue-query/src/__tests__/queryClient.type.test.ts
  packages/vue-query/src/__tests__/queryOptions.test-d.ts
  packages/vue-query/src/__tests__/queryOptions.types.test.ts
  packages/vue-query/src/__tests__/test-utils.ts
  packages/vue-query/src/__tests__/useInfiniteQuery.test-d.tsx
  packages/vue-query/src/__tests__/useInfiniteQuery.types.test.tsx
  packages/vue-query/src/__tests__/useMutation.test-d.tsx
  packages/vue-query/src/__tests__/useMutation.types.test.tsx
  packages/vue-query/src/__tests__/useQueries.test-d.ts
  packages/vue-query/src/__tests__/useQueries.types.test.ts
  packages/vue-query/src/__tests__/useQuery.test-d.ts
  packages/vue-query/src/__tests__/useQuery.types.test.ts
Due: @tanstack/vue-query

chore: update
  packages/vue-query/package.json
  pnpm-lock.yaml
Due: @tanstack/vue-query

ci(vue-query): remove vue version 2.6
  packages/vue-query/package.json
  pnpm-lock.yaml
Due: @tanstack/vue-query

chore: update
  packages/vue-query-devtools/package.json
  packages/vue-query/package.json
Due: @tanstack/vue-query, @tanstack/vue-query-devtools

chore: update
  packages/vue-query/vite.config.ts
Due: @tanstack/vue-query

test(solid-query): update vitest type test correctly (#7031)
  packages/solid-query/src/__tests__/createQueries.test.tsx
  packages/solid-query/src/__tests__/createQuery.test.tsx
  packages/solid-query/src/__tests__/useMutationState.test-d.tsx
  packages/solid-query/src/__tests__/useMutationState.test.tsx
  packages/solid-query/src/__tests__/utils.tsx
Due: @tanstack/solid-query

feat: pass context to mutationFn
  packages/query-core/src/mutation.ts
  packages/query-core/src/types.ts
Due: @tanstack/query-core

fix(core): pass isFocused boolean to focusManager callback (#7066)
  packages/query-core/src/focusManager.ts
  packages/query-core/src/queryClient.ts
  packages/query-core/src/tests/focusManager.test.tsx
Due: @tanstack/query-core

chore(vue-query): add vite.config.ts as tsconfig's include field (#7063)
  packages/vue-query/tsconfig.json
  packages/vue-query/vite.config.ts
Due: @tanstack/vue-query

fix: prefer the stale value of observers if one exists
  packages/query-core/src/query.ts
Due: @tanstack/query-core

feat(devtools): add shadowDOMTarget prop to vue, svelte, angular and solid
  docs/framework/angular/devtools.md
  docs/framework/solid/devtools.md
  docs/framework/vue/devtools.md
  examples/react/shadow-dom/src/main.tsx
  packages/angular-query-devtools-experimental/src/angular-query-devtools.component.ts
  packages/solid-query-devtools/src/devtools.tsx
  packages/svelte-query-devtools/src/Devtools.svelte
  packages/vue-query-devtools/src/devtools.vue
  packages/vue-query-devtools/src/types.ts
Due: @tanstack/angular-query-devtools-experimental, @tanstack/solid-query-devtools, @tanstack/svelte-query-devtools, @tanstack/vue-query-devtools

fix: make sure all options of a query are reactive
  packages/query-core/src/query.ts
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/tests/queryClient.test.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/query-core, @tanstack/react-query

test: solid adapter
  packages/solid-query/src/__tests__/createQuery.test.tsx
Due: @tanstack/solid-query
