Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools, @tanstack/angular-query, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

codecov.yml:

codecov:
  max_report_age: off

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto

comment:
  layout: 'header, reach, diff, flags, components'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  hide_project_coverage: false

component_management:
  individual_components:
    - component_id: angular-query-devtools
      name: '@tanstack/angular-query-devtools'
      paths:
        - packages/angular-query-devtools/**
    - component_id: angular-query
      name: '@tanstack/angular-query'
      paths:
        - packages/angular-query/**
    - component_id: eslint-plugin-query
      name: '@tanstack/eslint-plugin-query'
      paths:
        - packages/eslint-plugin-query/**
    - component_id: query-async-storage-persister
      name: '@tanstack/query-async-storage-persister'
      paths:
        - packages/query-async-storage-persister/**
    - component_id: query-broadcast-client-experimental
      name: '@tanstack/query-broadcast-client-experimental'
      paths:
        - packages/query-broadcast-client-experimental/**
    - component_id: query-codemods
      name: '@tanstack/query-codemods'
      paths:
        - packages/query-codemods/**
    - component_id: query-core
      name: '@tanstack/query-core'
      paths:
        - packages/query-core/**
    - component_id: query-devtools
      name: '@tanstack/query-devtools'
      paths:
        - packages/query-devtools/**
    - component_id: query-persist-client-core
      name: '@tanstack/query-persist-client-core'
      paths:
        - packages/query-persist-client-core/**
    - component_id: query-sync-storage-persister
      name: '@tanstack/query-sync-storage-persister'
      paths:
        - packages/query-sync-storage-persister/**
    - component_id: query-test-utils
      name: '@tanstack/query-test-utils'
      paths:
        - packages/query-test-utils/**
    - component_id: react-query
      name: '@tanstack/react-query'
      paths:
        - packages/react-query/**
    - component_id: react-query-devtools
      name: '@tanstack/react-query-devtools'
      paths:
        - packages/react-query-devtools/**
    - component_id: react-query-next-experimental
      name: '@tanstack/react-query-next-experimental'
      paths:
        - packages/react-query-next-experimental/**
    - component_id: react-query-persist-client
      name: '@tanstack/react-query-persist-client'
      paths:
        - packages/react-query-persist-client/**
    - component_id: solid-query
      name: '@tanstack/solid-query'
      paths:
        - packages/solid-query/**
    - component_id: solid-query-devtools
      name: '@tanstack/solid-query-devtools'
      paths:
        - packages/solid-query-devtools/**
    - component_id: solid-query-persist-client
      name: '@tanstack/solid-query-persist-client'
      paths:
        - packages/solid-query-persist-client/**
    - component_id: svelte-query
      name: '@tanstack/svelte-query'
      paths:
        - packages/svelte-query/**
    - component_id: svelte-query-devtools
      name: '@tanstack/svelte-query-devtools'
      paths:
        - packages/svelte-query-devtools/**
    - component_id: svelte-query-persist-client
      name: '@tanstack/svelte-query-persist-client'
      paths:
        - packages/svelte-query-persist-client/**
    - component_id: vue-query
      name: '@tanstack/vue-query'
      paths:
        - packages/vue-query/**
    - component_id: vue-query-devtools
      name: '@tanstack/vue-query-devtools'
      paths:
        - packages/vue-query-devtools/**

okay
  packages/vue-query/src/__tests__/queryClient.test.ts
Due: @tanstack/vue-query

environmentManager
  docs/config.json
  docs/reference/environmentManager.md
  packages/preact-query/src/__tests__/utils.tsx
  packages/preact-query/src/useBaseQuery.ts
  packages/query-core/src/__tests__/environmentManager.test.tsx
  packages/query-core/src/__tests__/utils.ts
  packages/query-core/src/environmentManager.ts
  packages/query-core/src/focusManager.ts
  packages/query-core/src/index.ts
  packages/query-core/src/onlineManager.ts
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/removable.ts
  packages/query-core/src/retryer.ts
  packages/query-core/src/utils.ts
  packages/react-query/src/__tests__/utils.tsx
  packages/react-query/src/useBaseQuery.ts
  packages/vue-query/src/__tests__/queryClient.test.ts
Due: @tanstack/query-core, @tanstack/react-query, @tanstack/vue-query

ref: environmentManager
  docs/reference/environmentManager.md
  packages/preact-query/src/__tests__/utils.tsx
  packages/query-core/src/__tests__/environmentManager.test.tsx
  packages/query-core/src/__tests__/utils.ts
  packages/query-core/src/environmentManager.ts
  packages/react-query/src/__tests__/utils.tsx
Due: @tanstack/query-core, @tanstack/react-query

fix: adapt tests to not using isServer anymore
  packages/query-core/src/__tests__/focusManager.test.tsx
  packages/query-core/src/__tests__/onlineManager.test.tsx
Due: @tanstack/query-core

ref: revert to main
  packages/vue-query/src/__tests__/queryClient.test.ts
Due: @tanstack/vue-query

make tests better
  packages/query-core/src/__tests__/environmentManager.test.tsx
  packages/query-core/src/__tests__/focusManager.test.tsx
  packages/query-core/src/__tests__/onlineManager.test.tsx
Due: @tanstack/query-core

feat(experimental_createQueryPersister): removeItem if deserialize fails (#10190)
  .changeset/hungry-adults-count.md
  packages/query-persist-client-core/src/createPersister.ts
Due: @tanstack/query-persist-client-core

Another fix
  packages/preact-query/src/HydrationBoundary.tsx
Due: none

test(preact-query/useSuspenseQueries): align cached data test with react-query to verify background refetch (#10195)
  packages/preact-query/src/__tests__/useSuspenseQueries.test.tsx
Due: none

test(react-query/useQueries): add test for not fetching during restoring period when 'isRestoring' is true (#10196)
  packages/react-query/src/__tests__/useQueries.test.tsx
Due: @tanstack/react-query

test(preact-query/useQueries): add test for not fetching during restoring period when 'isRestoring' is true (#10197)
  packages/preact-query/src/__tests__/useQueries.test.tsx
Due: none

fix(examples): guard missing #app mount target in svelte simple example (#10144)
  examples/svelte/simple/src/main.ts
Due: none

Update versioning for preact-query packages
  .changeset/dirty-foxes-heal.md
Due: none

Add preact query devtools (#10119)
  .changeset/dirty-foxes-heal.md
  docs/config.json
  docs/framework/preact/devtools.md
  packages/preact-query-devtools/.attw.json
  packages/preact-query-devtools/eslint.config.js
  packages/preact-query-devtools/package.json
  packages/preact-query-devtools/root.eslint.config.js
  packages/preact-query-devtools/root.tsup.config.js
  packages/preact-query-devtools/src/PreactQueryDevtools.tsx
  packages/preact-query-devtools/src/PreactQueryDevtoolsPanel.tsx
  packages/preact-query-devtools/src/index.ts
  packages/preact-query-devtools/src/production.ts
  packages/preact-query-devtools/test-setup.ts
  packages/preact-query-devtools/tsconfig.json
  packages/preact-query-devtools/tsconfig.legacy.json
  packages/preact-query-devtools/tsconfig.prod.json
  packages/preact-query-devtools/tsup.config.ts
  packages/preact-query-devtools/vite.config.ts
  packages/preact-query/src/HydrationBoundary.tsx
  pnpm-lock.yaml
Due: none

fix(examples): guard missing mount targets in solid examples
  examples/solid/basic-graphql-request/src/index.tsx
  examples/solid/basic/src/index.tsx
  examples/solid/default-query-function/src/index.tsx
  examples/solid/offline/src/index.tsx
  examples/solid/simple/src/index.tsx
  examples/solid/solid-start-streaming/src/entry-client.tsx
Due: none

test({react,preact}-query/useSuspenseQueries): add test for not suspending when all queries have fresh cached data
  packages/preact-query/src/__tests__/useSuspenseQueries.test.tsx
  packages/react-query/src/__tests__/useSuspenseQueries.test.tsx
Due: @tanstack/react-query

Add preact persist plugin
  packages/preact-query-persist-client/eslint.config.js
  packages/preact-query-persist-client/package.json
  packages/preact-query-persist-client/root.eslint.config.js
  packages/preact-query-persist-client/root.tsup.config.js
  packages/preact-query-persist-client/src/PersistQueryClientProvider.tsx
  packages/preact-query-persist-client/src/index.ts
  packages/preact-query-persist-client/test-setup.ts
  packages/preact-query-persist-client/tsconfig.json
  packages/preact-query-persist-client/tsconfig.legacy.json
  packages/preact-query-persist-client/tsconfig.prod.json
  packages/preact-query-persist-client/tsup.config.ts
  packages/preact-query-persist-client/vite.config.ts
  pnpm-lock.yaml
Due: none

Add docs
  docs/config.json
  docs/framework/preact/plugins/createAsyncStoragePersister.md
  docs/framework/preact/plugins/createPersister.md
  docs/framework/preact/plugins/createSyncStoragePersister.md
Due: none

Add tests
  packages/preact-query-persist-client/src/__tests__/PersistQueryClientProvider.test.tsx
  packages/preact-query-persist-client/src/__tests__/testPersistProvider.tsx
  packages/preact-query-persist-client/src/__tests__/testUtils.ts
  packages/preact-query-persist-client/src/__tests__/use-queries-with-persist.test.tsx
Due: none

Fixes
  packages/preact-query-persist-client/src/__tests__/PersistQueryClientProvider.test.tsx
  packages/preact-query-persist-client/src/__tests__/testUtils.ts
  packages/preact-query-persist-client/src/__tests__/use-queries-with-persist.test.tsx
Due: none

Fix type issue
  packages/preact-query-persist-client/src/__tests__/use-queries-with-persist.test.tsx
Due: none

Update changeset for preact-query packages
  .changeset/six-countries-tickle.md
Due: none

Add preact persist plugin (#10120)
  .changeset/six-countries-tickle.md
  docs/config.json
  docs/framework/preact/plugins/createAsyncStoragePersister.md
  docs/framework/preact/plugins/createPersister.md
  docs/framework/preact/plugins/createSyncStoragePersister.md
  packages/preact-query-persist-client/eslint.config.js
  packages/preact-query-persist-client/package.json
  packages/preact-query-persist-client/root.eslint.config.js
  packages/preact-query-persist-client/root.tsup.config.js
  packages/preact-query-persist-client/src/PersistQueryClientProvider.tsx
  packages/preact-query-persist-client/src/__tests__/PersistQueryClientProvider.test.tsx
  packages/preact-query-persist-client/src/__tests__/testPersistProvider.tsx
  packages/preact-query-persist-client/src/__tests__/use-queries-with-persist.test.tsx
  packages/preact-query-persist-client/src/index.ts
  packages/preact-query-persist-client/test-setup.ts
  packages/preact-query-persist-client/tsconfig.json
  packages/preact-query-persist-client/tsconfig.legacy.json
  packages/preact-query-persist-client/tsconfig.prod.json
  packages/preact-query-persist-client/tsup.config.ts
  packages/preact-query-persist-client/vite.config.ts
  pnpm-lock.yaml
Due: none

fix(examples): guard missing mount targets in solid examples (#10205)
  examples/solid/basic-graphql-request/src/index.tsx
  examples/solid/basic/src/index.tsx
  examples/solid/default-query-function/src/index.tsx
  examples/solid/offline/src/index.tsx
  examples/solid/simple/src/index.tsx
  examples/solid/solid-start-streaming/src/entry-client.tsx
Due: none

test({react,preact}-query/useSuspenseQueries): add test for not suspending when all queries have fresh cached data (#10202)
  packages/preact-query/src/__tests__/useSuspenseQueries.test.tsx
  packages/react-query/src/__tests__/useSuspenseQueries.test.tsx
Due: @tanstack/react-query

feat(svelte-query): add 'mutationOptions' (#10175)
  .changeset/smart-spiders-sing.md
  docs/config.json
  docs/framework/svelte/reference/functions/mutationOptions.md
  packages/svelte-query/src/index.ts
  packages/svelte-query/src/mutationOptions.ts
  packages/svelte-query/tests/mutationOptions/BaseExample.svelte
  packages/svelte-query/tests/mutationOptions/MultiExample.svelte
  packages/svelte-query/tests/mutationOptions/mutationOptions.svelte.test.ts
  packages/svelte-query/tests/mutationOptions/mutationOptions.test-d.ts
Due: @tanstack/svelte-query

test(svelte-query/queryOptions): add runtime test for identity function (#10178)
  packages/svelte-query/tests/queryOptions/queryOptions.svelte.test.ts
Due: @tanstack/svelte-query

fix(examples): guard missing mount target in preact simple example
  examples/preact/simple/src/index.tsx
Due: none

Use replaceData util to replace combined result.
  packages/query-core/src/queriesObserver.ts
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

Pass complete queries options to getOptimisticResult.
  packages/angular-query-experimental/src/inject-queries.ts
  packages/preact-query/src/useQueries.ts
  packages/query-core/src/queriesObserver.ts
  packages/react-query/src/useQueries.ts
  packages/solid-query/src/useQueries.ts
  packages/svelte-query/src/createQueries.svelte.ts
  packages/vue-query/src/useQueries.ts
Due: @tanstack/query-core, @tanstack/react-query, @tanstack/solid-query, @tanstack/svelte-query, @tanstack/vue-query

fix(examples): guard missing mount target in preact simple example (#10208)
  examples/preact/simple/src/index.tsx
Due: none

test({react,preact}-query/useSuspenseQueries): add test for not suspending but refetching when all queries have stale cached data
  packages/preact-query/src/__tests__/useSuspenseQueries.test.tsx
  packages/react-query/src/__tests__/useSuspenseQueries.test.tsx
Due: @tanstack/react-query

Create moody-mails-deliver.md
  .changeset/moody-mails-deliver.md
Due: none

test({react,preact}-query/useSuspenseQueries): add test for suspending when the faster query already has data
  packages/preact-query/src/__tests__/useSuspenseQueries.test.tsx
  packages/react-query/src/__tests__/useSuspenseQueries.test.tsx
Due: @tanstack/react-query

test({react,preact}-query/useSuspenseQueries): add test for not suspending but refetching when all queries have stale cached data (#10209)
  packages/preact-query/src/__tests__/useSuspenseQueries.test.tsx
  packages/react-query/src/__tests__/useSuspenseQueries.test.tsx
Due: @tanstack/react-query

test({react,preact}-query/useSuspenseQueries): add test for suspending when the faster query already has data (#10210)
  packages/preact-query/src/__tests__/useSuspenseQueries.test.tsx
  packages/react-query/src/__tests__/useSuspenseQueries.test.tsx
Due: @tanstack/react-query

test(react-query/useSuspenseQueries): remove unnecessary 'act' from background refetch and post-unmount assertions
  packages/react-query/src/__tests__/useSuspenseQueries.test.tsx
Due: @tanstack/react-query

test(react-query/useSuspenseQuery): remove unnecessary 'act' from background refetch, 'refetchInterval', and post-unmount assertions
  packages/react-query/src/__tests__/useSuspenseQuery.test.tsx
Due: @tanstack/react-query

test(react-query/useSuspenseInfiniteQuery): add test for basic suspend and resolve states
  packages/react-query/src/__tests__/useSuspenseInfiniteQuery.test.tsx
Due: @tanstack/react-query

docs(react): fix broken anchors in SSR and migration guides
  docs/framework/react/guides/migrating-to-react-query-4.md
  docs/framework/react/guides/ssr.md
Due: none
