Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools, @tanstack/angular-query, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

fix: resetQueries predicate filter no longer matches after reset
  packages/query-core/src/queryClient.ts
Due: @tanstack/query-core

test(query-core): cover query key undefined and timeout validation
  docs/community-resources.md
  packages/query-core/src/__tests__/utils.test.tsx
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

fix(vue-query/queryOptions): accept the same options as useQuery
  packages/vue-query/src/__tests__/queryOptions.test-d.ts
  packages/vue-query/src/__tests__/queryOptions.test.ts
  packages/vue-query/src/__tests__/useQueries.test-d.ts
  packages/vue-query/src/index.ts
  packages/vue-query/src/infiniteQueryOptions.ts
  packages/vue-query/src/queryClient.ts
  packages/vue-query/src/queryOptions.ts
  packages/vue-query/src/useBaseQuery.ts
  packages/vue-query/src/useInfiniteQuery.ts
  packages/vue-query/src/useQueries.ts
  packages/vue-query/src/useQuery.ts
Due: @tanstack/vue-query

fix(solid-query): drop disabled idle SSR promise
  packages/solid-query/src/__tests__/useBaseQuery.server.test.ts
  packages/solid-query/src/useBaseQuery.ts
Due: @tanstack/solid-query

docs: hide React guide marker comments
  docs/framework/react/graphql.md
  docs/framework/react/guides/advanced-ssr.md
  docs/framework/react/guides/background-fetching-indicators.md
  docs/framework/react/guides/default-query-function.md
  docs/framework/react/guides/dependent-queries.md
  docs/framework/react/guides/disabling-queries.md
  docs/framework/react/guides/important-defaults.md
  docs/framework/react/guides/infinite-queries.md
  docs/framework/react/guides/initial-query-data.md
  docs/framework/react/guides/invalidations-from-mutations.md
  docs/framework/react/guides/migrating-to-v5.md
  docs/framework/react/guides/mutations.md
  docs/framework/react/guides/optimistic-updates.md
  docs/framework/react/guides/paginated-queries.md
  docs/framework/react/guides/parallel-queries.md
  docs/framework/react/guides/placeholder-query-data.md
  docs/framework/react/guides/polling.md
  docs/framework/react/guides/prefetching.md
  docs/framework/react/guides/queries.md
  docs/framework/react/guides/query-cancellation.md
  docs/framework/react/guides/query-functions.md
  docs/framework/react/guides/query-invalidation.md
  docs/framework/react/guides/query-keys.md
  docs/framework/react/guides/query-options.md
  docs/framework/react/guides/query-retries.md
  docs/framework/react/guides/request-waterfalls.md
  docs/framework/react/guides/updates-from-mutation-responses.md
  docs/framework/react/guides/window-focus-refetching.md
  docs/framework/react/installation.md
  docs/framework/react/overview.md
  docs/framework/react/quick-start.md
  docs/framework/react/typescript.md
Due: none

fix(solid-query): restore observer subscription after SSR hydration
  .changeset/solid-query-hydration-observer-recovery.md
  packages/solid-query/src/useBaseQuery.ts
Due: @tanstack/solid-query

test(react-query-devtools/ReactQueryDevtools): add tests for forwarding option changes after mount
  packages/react-query-devtools/src/__tests__/ReactQueryDevtools.test.tsx
Due: @tanstack/react-query-devtools

test(preact-query-devtools/PreactQueryDevtools): add tests for forwarding option changes after mount
  packages/preact-query-devtools/src/__tests__/PreactQueryDevtools.test.tsx
Due: none

test(solid-query-devtools/devtools): add tests for forwarding option changes after mount
  packages/solid-query-devtools/src/__tests__/devtools.test.tsx
Due: @tanstack/solid-query-devtools

test(react-query-devtools/ReactQueryDevtools): add tests for forwarding option changes after mount (#11019)
  packages/react-query-devtools/src/__tests__/ReactQueryDevtools.test.tsx
Due: @tanstack/react-query-devtools

fix(react-query): preserve narrowing with NoInfer
  packages/react-query/src/__tests__/useQuery.test-d.tsx
  packages/react-query/src/useQuery.ts
Due: @tanstack/react-query

test(preact-query-devtools/PreactQueryDevtools): add tests for forwarding option changes after mount (#11020)
  packages/preact-query-devtools/src/__tests__/PreactQueryDevtools.test.tsx
Due: none

test(solid-query-devtools/devtools): add tests for forwarding option changes after mount (#11021)
  packages/solid-query-devtools/src/__tests__/devtools.test.tsx
Due: @tanstack/solid-query-devtools

fix(query-sync-storage-persister): recover from throttle errors instead of permanently disabling persistence
  .changeset/sync-storage-persister-throttle-error-recovery.md
  packages/query-sync-storage-persister/src/__tests__/storageIsFull.test.ts
  packages/query-sync-storage-persister/src/index.ts
Due: @tanstack/query-sync-storage-persister

docs: add StitchAPI to community resources
  docs/community-resources.md
Due: none

docs: reframe StitchAPI entry as a queryFn complement, not a competitor
  docs/community-resources.md
Due: none

test(react-query-devtools): extract shared test setup into 'beforeEach'
  packages/react-query-devtools/src/__tests__/ReactQueryDevtools.test.tsx
  packages/react-query-devtools/src/__tests__/ReactQueryDevtoolsPanel.test.tsx
Due: @tanstack/react-query-devtools

test(preact-query-devtools): extract shared test setup into 'beforeEach'
  packages/preact-query-devtools/src/__tests__/PreactQueryDevtools.test.tsx
  packages/preact-query-devtools/src/__tests__/PreactQueryDevtoolsPanel.test.tsx
Due: none

test(solid-query-devtools): extract shared test setup into 'beforeEach'
  packages/solid-query-devtools/src/__tests__/devtools.test.tsx
  packages/solid-query-devtools/src/__tests__/devtoolsPanel.test.tsx
Due: @tanstack/solid-query-devtools

test(react-query-devtools): extract shared test setup into 'beforeEach' (#11026)
  packages/react-query-devtools/src/__tests__/ReactQueryDevtools.test.tsx
  packages/react-query-devtools/src/__tests__/ReactQueryDevtoolsPanel.test.tsx
Due: @tanstack/react-query-devtools

test(preact-query-devtools): extract shared test setup into 'beforeEach' (#11027)
  packages/preact-query-devtools/src/__tests__/PreactQueryDevtools.test.tsx
  packages/preact-query-devtools/src/__tests__/PreactQueryDevtoolsPanel.test.tsx
Due: none

test(solid-query-devtools): extract shared test setup into 'beforeEach' (#11028)
  packages/solid-query-devtools/src/__tests__/devtools.test.tsx
  packages/solid-query-devtools/src/__tests__/devtoolsPanel.test.tsx
Due: @tanstack/solid-query-devtools

test({react,preact}-query-devtools): assert the forwarded 'onClose' callback in the panel instead of 'expect.any(Function)'
  packages/preact-query-devtools/src/__tests__/PreactQueryDevtoolsPanel.test.tsx
  packages/react-query-devtools/src/__tests__/ReactQueryDevtoolsPanel.test.tsx
Due: @tanstack/react-query-devtools

test(solid-query-devtools/devtoolsPanel): assert the default 'onClose' is a no-op instead of 'expect.any(Function)'
  packages/solid-query-devtools/src/__tests__/devtoolsPanel.test.tsx
Due: @tanstack/solid-query-devtools

test({react,preact}-query-devtools): assert the forwarded 'onClose' callback in the panel instead of 'expect.any(Function)' (#11029)
  packages/preact-query-devtools/src/__tests__/PreactQueryDevtoolsPanel.test.tsx
  packages/react-query-devtools/src/__tests__/ReactQueryDevtoolsPanel.test.tsx
Due: @tanstack/react-query-devtools

test(solid-query-devtools/devtoolsPanel): assert the default 'onClose' is a no-op instead of 'expect.any(Function)' (#11030)
  packages/solid-query-devtools/src/__tests__/devtoolsPanel.test.tsx
Due: @tanstack/solid-query-devtools

fix: CVE-2026-9277 security vulnerability
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

test(vue-query/{useQuery,useInfiniteQuery}): assert watcher rethrow via console.error and 'unhandledRejection' for cross-version support
  packages/vue-query/src/__tests__/useInfiniteQuery.test.ts
  packages/vue-query/src/__tests__/useQuery.test.ts
Due: @tanstack/vue-query

fix(react-query/HydrationBoundary): derive pending hydration set in render instead of mutating a ref
  packages/react-query/src/HydrationBoundary.tsx
  packages/react-query/src/IsHydratingProvider.ts
  packages/react-query/src/__tests__/HydrationBoundary.test.tsx
  packages/react-query/src/useQueries.ts
Due: @tanstack/react-query

fix(query-core/queryObserver): match the server on the first hydrating render by not showing fetching state
  packages/query-core/src/queryObserver.ts
  packages/react-query/src/__tests__/HydrationBoundary.test.tsx
Due: @tanstack/query-core, @tanstack/react-query

fix(broadcast-client): catch postMessage serialization failures
  .changeset/broadcast-client-catch-datacloneerror.md
  packages/query-broadcast-client-experimental/src/__tests__/broadcast-errors.test.ts
  packages/query-broadcast-client-experimental/src/index.ts
Due: @tanstack/query-broadcast-client-experimental

fix(broadcast-client): catch postMessage serialization failures
  .changeset/broadcast-client-catch-datacloneerror.md
  .gitignore
  examples/solid/astro/tailwind.config.mjs
  packages/query-broadcast-client-experimental/src/__tests__/broadcast-errors.test.ts
  packages/query-broadcast-client-experimental/src/index.ts
Due: @tanstack/query-broadcast-client-experimental

test(query-core/{hydration,queriesObserver}): remove unnecessary 'async' from tests without 'await'
  packages/query-core/src/__tests__/hydration.test.tsx
  packages/query-core/src/__tests__/queriesObserver.test.tsx
Due: @tanstack/query-core

test(query-core/{hydration,queriesObserver}): remove unnecessary 'async' from tests without 'await' (#11035)
  packages/query-core/src/__tests__/hydration.test.tsx
  packages/query-core/src/__tests__/queriesObserver.test.tsx
Due: @tanstack/query-core

fix(query-core): resolve suspense when query data is set programmatically
  packages/query-core/src/queryObserver.ts
  packages/react-query/src/__tests__/useSuspenseQuery.test.tsx
Due: @tanstack/query-core, @tanstack/react-query

chore: add changeset for suspense setQueryData fix
  .changeset/resolve-suspense-setquerydata.md
Due: none

fix(solid-query): avoid stale-notification resuspend
  packages/solid-query/src/__tests__/suspense.test.tsx
  packages/solid-query/src/useBaseQuery.ts
Due: @tanstack/solid-query

fix(query-core): prevent subscription leak in fetchOptimistic on fetch rejection
  packages/query-core/src/queryObserver.ts
Due: @tanstack/query-core

fix(query-codemods): forward extra args in keep-previous-data
  packages/query-codemods/src/v5/keep-previous-data/keep-previous-data.cjs
Due: @tanstack/query-codemods

fix: correct spelling typos across docs, examples, and source comments
  docs/framework/react/plugins/createPersister.md
  docs/framework/vue/plugins/createPersister.md
  examples/angular/pagination/src/app/components/example.component.html
  examples/react/pagination/src/pages/index.tsx
  examples/solid/solid-start-streaming/src/routes/with-error.tsx
  packages/angular-query-experimental/src/inject-queries.ts
  packages/preact-query/src/useQueries.ts
  packages/preact-query/src/useSuspenseQueries.ts
  packages/react-query/src/useQueries.ts
  packages/solid-query/src/useQueries.ts
  packages/svelte-query/src/createQueries.svelte.ts
  packages/vue-query/src/useQueries.ts
Due: @tanstack/react-query, @tanstack/solid-query, @tanstack/svelte-query, @tanstack/vue-query

Path conditions:
  @tanstack/angular-query-devtools: any of: packages/angular-query-devtools/**
  @tanstack/angular-query: any of: packages/angular-query/**
  @tanstack/eslint-plugin-query: any of: packages/eslint-plugin-query/**
  @tanstack/query-async-storage-persister: any of: packages/query-async-storage-persister/**
  @tanstack/query-broadcast-client-experimental: any of: packages/query-broadcast-client-experimental/**
  @tanstack/query-codemods: any of: packages/query-codemods/**
  @tanstack/query-core: any of: packages/query-core/**
  @tanstack/query-devtools: any of: packages/query-devtools/**
  @tanstack/query-persist-client-core: any of: packages/query-persist-client-core/**
  @tanstack/query-sync-storage-persister: any of: packages/query-sync-storage-persister/**
  @tanstack/query-test-utils: any of: packages/query-test-utils/**
  @tanstack/react-query: any of: packages/react-query/**
  @tanstack/react-query-devtools: any of: packages/react-query-devtools/**
  @tanstack/react-query-next-experimental: any of: packages/react-query-next-experimental/**
  @tanstack/react-query-persist-client: any of: packages/react-query-persist-client/**
  @tanstack/solid-query: any of: packages/solid-query/**
  @tanstack/solid-query-devtools: any of: packages/solid-query-devtools/**
  @tanstack/solid-query-persist-client: any of: packages/solid-query-persist-client/**
  @tanstack/svelte-query: any of: packages/svelte-query/**
  @tanstack/svelte-query-devtools: any of: packages/svelte-query-devtools/**
  @tanstack/svelte-query-persist-client: any of: packages/svelte-query-persist-client/**
  @tanstack/vue-query: any of: packages/vue-query/**
  @tanstack/vue-query-devtools: any of: packages/vue-query-devtools/**
