Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools, @tanstack/angular-query, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

test(svelte-query/mutationOptions): use 'Accessor' type for props in BaseExample and wrap test values with arrow functions
  packages/svelte-query/tests/mutationOptions/BaseExample.svelte
  packages/svelte-query/tests/mutationOptions/mutationOptions.svelte.test.ts
Due: @tanstack/svelte-query

fix: bump @typescript-eslint/utils to ^8.57.0 and add changeset
  .changeset/eslint-v10-peer-dep.md
  packages/eslint-plugin-query/package.json
Due: @tanstack/eslint-plugin-query

throw error if enabled: true/skiptoken and no cached data
  packages/query-core/src/__tests__/queryClient.test-d.tsx
  packages/query-core/src/__tests__/queryClient.test.tsx
  packages/query-core/src/queryClient.ts
  packages/query-core/src/types.ts
Due: @tanstack/query-core

fix title
  packages/query-core/src/__tests__/queryClient.test-d.tsx
Due: @tanstack/query-core

style(svelte-query/mutationOptions): remove blank lines between 'fireEvent' and assertion blocks
  packages/svelte-query/tests/mutationOptions/mutationOptions.svelte.test.ts
Due: @tanstack/svelte-query

refactor(svelte-query/mutationOptions): split BaseExample into BaseExample and MultiExample for single and multi mutation tests
  packages/svelte-query/tests/mutationOptions/MultiExample.svelte
  packages/svelte-query/tests/mutationOptions/mutationOptions.svelte.test.ts
Due: @tanstack/svelte-query

test(svelte-query/infiniteQueryOptions): add runtime test for identity function
  packages/svelte-query/tests/infiniteQueryOptions/infiniteQueryOptions.svelte.test.ts
Due: @tanstack/svelte-query

test(svelte-query/queryOptions): add runtime test for identity function
  packages/svelte-query/tests/queryOptions/queryOptions.svelte.test.ts
Due: @tanstack/svelte-query

test(svelte-query/infiniteQueryOptions): replace type annotation with 'as const' for consistency
  packages/svelte-query/tests/infiniteQueryOptions/infiniteQueryOptions.svelte.test.ts
Due: @tanstack/svelte-query

test(svelte-query/HydrationBoundary): add test for hydrating queries to the cache on context
  packages/svelte-query/tests/HydrationBoundary/BaseExample.svelte
  packages/svelte-query/tests/HydrationBoundary/HydrationBoundary.svelte.test.ts
Due: @tanstack/svelte-query

dump
  packages/eslint-plugin-query/src/rules/invalidate-queries-no-inline-query.test.ts
  packages/eslint-plugin-query/src/rules/invalidate-queries-no-inline-query.ts
  packages/eslint-plugin-query/src/rules/use-query-no-inline-query.test.ts
  packages/eslint-plugin-query/src/rules/use-query-no-inline-query.ts
  packages/eslint-plugin-query/src/utils.ts
Due: @tanstack/eslint-plugin-query

refactor(svelte-query/HydrationBoundary): create 'QueryClient' inside component instead of receiving via props
  packages/svelte-query/tests/HydrationBoundary/BaseExample.svelte
  packages/svelte-query/tests/HydrationBoundary/HydrationBoundary.svelte.test.ts
Due: @tanstack/svelte-query

test(preact-query/useQuery): add test for not fetching during restoring period when 'isRestoring' is true
  packages/preact-query/src/__tests__/useQuery.test.tsx
Due: none

test(query-core/mutationCache): add test for deleting scope when removing the only mutation in that scope
  packages/query-core/src/__tests__/mutationCache.test.tsx
Due: @tanstack/query-core

feat(eslint-plugin-query): add ESLint v10 to peer dependencies
  .changeset/eslint-plugin-query-eslint-v10.md
  packages/eslint-plugin-query/package.json
Due: @tanstack/eslint-plugin-query

fix: bump @typescript-eslint/utils to ^8.56.0 for ESLint v10 peer support
  packages/eslint-plugin-query/package.json
  pnpm-lock.yaml
Due: @tanstack/eslint-plugin-query

dump
  packages/eslint-plugin-query/src/__tests__/invalidate-queries-no-inline-query.test.ts
  packages/eslint-plugin-query/src/__tests__/use-query-no-inline-query.test.ts
  packages/eslint-plugin-query/src/index.ts
  packages/eslint-plugin-query/src/rules.ts
  packages/eslint-plugin-query/src/rules/invalidate-queries-no-inline-query.ts
  packages/eslint-plugin-query/src/rules/invalidate-queries-no-inline-query/invalidate-queries-no-inline-query.rule.ts
  packages/eslint-plugin-query/src/rules/use-query-no-inline-query.ts
  packages/eslint-plugin-query/src/rules/use-query-no-inline-query/use-query-no-inline-query.rule.ts
  packages/eslint-plugin-query/src/utils.ts
  packages/eslint-plugin-query/src/utils/detect-query-options-in-object.ts
Due: @tanstack/eslint-plugin-query

fix
  packages/eslint-plugin-query/src/utils/detect-query-options-in-object.ts
Due: @tanstack/eslint-plugin-query

update rules
  packages/eslint-plugin-query/src/__tests__/invalidate-queries-no-inline-query.test.ts
  packages/eslint-plugin-query/src/__tests__/use-query-no-inline-query.test.ts
Due: @tanstack/eslint-plugin-query

combine rules
  packages/eslint-plugin-query/src/__tests__/invalidate-queries-no-inline-query.test.ts
  packages/eslint-plugin-query/src/__tests__/prefer-query-options.test.ts
  packages/eslint-plugin-query/src/__tests__/use-query-no-inline-query.test.ts
  packages/eslint-plugin-query/src/index.ts
  packages/eslint-plugin-query/src/rules.ts
  packages/eslint-plugin-query/src/rules/invalidate-queries-no-inline-query/invalidate-queries-no-inline-query.rule.ts
  packages/eslint-plugin-query/src/rules/prefer-query-options/prefer-query-options.rule.ts
  packages/eslint-plugin-query/src/rules/use-query-no-inline-query/use-query-no-inline-query.rule.ts
Due: @tanstack/eslint-plugin-query

small cleanup
  packages/eslint-plugin-query/src/rules/prefer-query-options/prefer-query-options.rule.ts
Due: @tanstack/eslint-plugin-query

update messages
  packages/eslint-plugin-query/src/rules/prefer-query-options/prefer-query-options.rule.ts
Due: @tanstack/eslint-plugin-query

fix test
  packages/eslint-plugin-query/src/__tests__/prefer-query-options.test.ts
Due: @tanstack/eslint-plugin-query

dump
  packages/eslint-plugin-query/src/__tests__/prefer-query-options.test.ts
Due: @tanstack/eslint-plugin-query

update changeset
  .changeset/perky-comics-dig.md
Due: none

Update rule description
  packages/eslint-plugin-query/src/rules/prefer-query-options/prefer-query-options.rule.ts
Due: @tanstack/eslint-plugin-query

move utils to the same folder
  packages/eslint-plugin-query/src/rules/prefer-query-options/prefer-query-options.rule.ts
  packages/eslint-plugin-query/src/rules/prefer-query-options/prefer-query-options.utils.ts
Due: @tanstack/eslint-plugin-query

add recommendedStrict config
  packages/eslint-plugin-query/src/index.ts
Due: @tanstack/eslint-plugin-query

Fix eslint warnings
  packages/eslint-plugin-query/src/rules/prefer-query-options/prefer-query-options.rule.ts
  packages/eslint-plugin-query/src/rules/prefer-query-options/prefer-query-options.utils.ts
Due: @tanstack/eslint-plugin-query

Fix coderabbit suggestion
  packages/eslint-plugin-query/src/rules/prefer-query-options/prefer-query-options.utils.ts
Due: @tanstack/eslint-plugin-query

fix coderabbit warning
  packages/eslint-plugin-query/src/__tests__/prefer-query-options.test.ts
Due: @tanstack/eslint-plugin-query

remove use*Queries check since it's not working
  packages/eslint-plugin-query/src/rules/prefer-query-options/prefer-query-options.rule.ts
Due: @tanstack/eslint-plugin-query

add more tests
  packages/eslint-plugin-query/src/__tests__/prefer-query-options.test.ts
Due: @tanstack/eslint-plugin-query

remove rule from recommended config
  packages/eslint-plugin-query/src/index.ts
Due: @tanstack/eslint-plugin-query

fix
  packages/eslint-plugin-query/src/index.ts
Due: @tanstack/eslint-plugin-query

enable rule as error in recommended strict config
  packages/eslint-plugin-query/src/index.ts
Due: @tanstack/eslint-plugin-query

update
  packages/eslint-plugin-query/src/rules/prefer-query-options/prefer-query-options.rule.ts
Due: @tanstack/eslint-plugin-query

Add mutationOptions for vue-query
  packages/vue-query/src/index.ts
  packages/vue-query/src/mutationOptions.ts
Due: @tanstack/vue-query

Add changeset
  .changeset/lucky-numbers-change.md
Due: none

Path conditions:
  @tanstack/angular-query-devtools: any of: packages/angular-query-devtools/**
  @tanstack/angular-query: any of: packages/angular-query/**
  @tanstack/eslint-plugin-query: any of: packages/eslint-plugin-query/**
  @tanstack/query-async-storage-persister: any of: packages/query-async-storage-persister/**
  @tanstack/query-broadcast-client-experimental: any of: packages/query-broadcast-client-experimental/**
  @tanstack/query-codemods: any of: packages/query-codemods/**
  @tanstack/query-core: any of: packages/query-core/**
  @tanstack/query-devtools: any of: packages/query-devtools/**
  @tanstack/query-persist-client-core: any of: packages/query-persist-client-core/**
  @tanstack/query-sync-storage-persister: any of: packages/query-sync-storage-persister/**
  @tanstack/query-test-utils: any of: packages/query-test-utils/**
  @tanstack/react-query: any of: packages/react-query/**
  @tanstack/react-query-devtools: any of: packages/react-query-devtools/**
  @tanstack/react-query-next-experimental: any of: packages/react-query-next-experimental/**
  @tanstack/react-query-persist-client: any of: packages/react-query-persist-client/**
  @tanstack/solid-query: any of: packages/solid-query/**
  @tanstack/solid-query-devtools: any of: packages/solid-query-devtools/**
  @tanstack/solid-query-persist-client: any of: packages/solid-query-persist-client/**
  @tanstack/svelte-query: any of: packages/svelte-query/**
  @tanstack/svelte-query-devtools: any of: packages/svelte-query-devtools/**
  @tanstack/svelte-query-persist-client: any of: packages/svelte-query-persist-client/**
  @tanstack/vue-query: any of: packages/vue-query/**
  @tanstack/vue-query-devtools: any of: packages/vue-query-devtools/**
