Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

test(query-core): rename test directory for consistency (#7122)
  packages/query-core/src/__tests__/focusManager.test.tsx
  packages/query-core/src/__tests__/hydration.test.tsx
  packages/query-core/src/__tests__/infiniteQueryBehavior.test.tsx
  packages/query-core/src/__tests__/infiniteQueryObserver.test-d.tsx
  packages/query-core/src/__tests__/infiniteQueryObserver.test.tsx
  packages/query-core/src/__tests__/mutationCache.test.tsx
  packages/query-core/src/__tests__/mutationObserver.test.tsx
  packages/query-core/src/__tests__/mutations.test.tsx
  packages/query-core/src/__tests__/notifyManager.test.tsx
  packages/query-core/src/__tests__/onlineManager.test.tsx
  packages/query-core/src/__tests__/queriesObserver.test.tsx
  packages/query-core/src/__tests__/query.test.tsx
  packages/query-core/src/__tests__/queryCache.test.tsx
  packages/query-core/src/__tests__/queryClient.test-d.tsx
  packages/query-core/src/__tests__/queryClient.test.tsx
  packages/query-core/src/__tests__/queryObserver.test-d.tsx
  packages/query-core/src/__tests__/queryObserver.test.tsx
  packages/query-core/src/__tests__/utils.test.tsx
  packages/query-core/src/__tests__/utils.ts
Due: @tanstack/query-core

wip
  examples/svelte/svelte-melt/package.json
  examples/svelte/svelte-melt/src/routes/+page.svelte
  examples/svelte/svelte-melt/src/routes/+page.ts
  examples/svelte/svelte-melt/src/routes/derivedQuery.svelte
  examples/svelte/svelte-melt/src/routes/external.svelte.ts
  examples/svelte/svelte-melt/src/routes/external.ts
  packages/svelte-query-runes/package.json
  packages/svelte-query-runes/src/createBaseQuery.svelte.ts
  packages/svelte-query-runes/src/types.ts
  pnpm-lock.yaml
Due: none

fix(guides/disabling-queries): typo
  docs/framework/react/guides/disabling-queries.md
Due: none

fix(guides/disabling-queries): another typo
  docs/framework/react/guides/disabling-queries.md
Due: none

docs(guides/disabling-queries): typo (#7132)
  docs/framework/react/guides/disabling-queries.md
Due: none

ci(*): add attw --pack for all packages (#7119)
  nx.json
  package.json
  packages/angular-query-devtools-experimental/.attw.json
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/.attw.json
  packages/angular-query-experimental/package.json
  packages/eslint-plugin-query/package.json
  packages/query-async-storage-persister/package.json
  packages/query-broadcast-client-experimental/package.json
  packages/query-core/package.json
  packages/query-devtools/package.json
  packages/query-persist-client-core/package.json
  packages/query-sync-storage-persister/package.json
  packages/react-query-devtools/.attw.json
  packages/react-query-devtools/package.json
  packages/react-query-next-experimental/package.json
  packages/react-query-persist-client/package.json
  packages/react-query/package.json
  packages/solid-query-devtools/package.json
  packages/solid-query-persist-client/package.json
  packages/solid-query/package.json
  packages/svelte-query-devtools/.attw.json
  packages/svelte-query-devtools/package.json
  packages/svelte-query-persist-client/.attw.json
  packages/svelte-query-persist-client/package.json
  packages/svelte-query/.attw.json
  packages/svelte-query/package.json
  packages/vue-query-devtools/.attw.json
  packages/vue-query-devtools/package.json
  packages/vue-query/package.json
  pnpm-lock.yaml
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

test: more tests
  packages/query-core/src/__tests__/mutations.test.tsx
Due: @tanstack/query-core

chore(*): resolve prettier error
  docs/framework/react/guides/disabling-queries.md
Due: none

add a note for mutations in the dev tools
  docs/framework/react/devtools.md
Due: none

feat(*): add OmitKeyOf to validate Omitting keys
  packages/angular-query-experimental/src/inject-queries.ts
  packages/angular-query-experimental/src/types.ts
  packages/query-core/src/infiniteQueryBehavior.ts
  packages/query-core/src/query.ts
  packages/query-core/src/queryClient.ts
  packages/query-core/src/types.ts
  packages/react-query-persist-client/src/PersistQueryClientProvider.tsx
  packages/react-query/src/HydrationBoundary.tsx
  packages/react-query/src/__tests__/useQueries.test-d.tsx
  packages/react-query/src/__tests__/useQuery.test-d.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/react-query/src/types.ts
  packages/react-query/src/useQueries.ts
  packages/solid-query-persist-client/src/PersistQueryClientProvider.tsx
  packages/solid-query/src/QueryClient.ts
  packages/solid-query/src/createQueries.ts
  packages/solid-query/src/types.ts
  packages/svelte-query-persist-client/src/PersistQueryClientProvider.svelte
  packages/svelte-query-persist-client/src/__tests__/AwaitOnSuccess/Provider.svelte
  packages/svelte-query-persist-client/src/__tests__/FreshData/Provider.svelte
  packages/svelte-query-persist-client/src/__tests__/InitialData/Provider.svelte
  packages/svelte-query-persist-client/src/__tests__/OnSuccess/Provider.svelte
  packages/svelte-query-persist-client/src/__tests__/RemoveCache/Provider.svelte
  packages/svelte-query-persist-client/src/__tests__/RestoreCache/Provider.svelte
  packages/svelte-query-persist-client/src/__tests__/UseQueries/Provider.svelte
  packages/svelte-query/src/createQueries.ts
  packages/vue-query/src/__tests__/useQueries.types.test.ts
  packages/vue-query/src/queryClient.ts
Due: @tanstack/angular-query-experimental, @tanstack/query-core, @tanstack/react-query, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-persist-client, @tanstack/vue-query

docs: Update missing declaration keyword
  docs/framework/react/guides/ssr.md
Due: none

docs: Update missing declaration keyword
  docs/framework/react/guides/advanced-ssr.md
Due: none

docs: partial restoration
  docs/framework/react/guides/ssr.md
Due: none

fix(react-query): fix useSuspenseQueries broken result type (#7118)
  packages/react-query/src/useSuspenseQueries.ts
Due: @tanstack/react-query

fix(vue-query): respect `throwOnError` in `suspense`
  packages/vue-query/src/__tests__/useQuery.test.ts
  packages/vue-query/src/useBaseQuery.ts
Due: @tanstack/vue-query

docs: fix formatting
  docs/framework/react/guides/disabling-queries.md
Due: none

fix: type error
  packages/vue-query/src/useBaseQuery.ts
Due: @tanstack/vue-query

fix(vue-query): respect `throwOnError` in `suspense` (#7143)
  docs/framework/react/guides/disabling-queries.md
  packages/vue-query/src/__tests__/useQuery.test.ts
  packages/vue-query/src/useBaseQuery.ts
Due: @tanstack/vue-query

fix: disable default vue devtools integration due to breaking changes (with option to enable it)
  packages/vue-query/src/__tests__/vueQueryPlugin.test.ts
  packages/vue-query/src/vueQueryPlugin.ts
Due: @tanstack/vue-query

docs(vue-query): add vue 2.7 example
  examples/vue/2.7-basic/.gitignore
  examples/vue/2.7-basic/README.md
  examples/vue/2.7-basic/index.html
  examples/vue/2.7-basic/package.json
  examples/vue/2.7-basic/src/App.vue
  examples/vue/2.7-basic/src/Post.vue
  examples/vue/2.7-basic/src/Posts.vue
  examples/vue/2.7-basic/src/main.ts
  examples/vue/2.7-basic/src/shims-vue.d.ts
  examples/vue/2.7-basic/src/types.d.ts
  examples/vue/2.7-basic/tsconfig.json
  examples/vue/2.7-basic/vite.config.ts
Due: none

docs(vue-query): add vue 2.7 example (#7146)
  examples/vue/2.7-basic/.gitignore
  examples/vue/2.7-basic/README.md
  examples/vue/2.7-basic/index.html
  examples/vue/2.7-basic/package.json
  examples/vue/2.7-basic/src/App.vue
  examples/vue/2.7-basic/src/Post.vue
  examples/vue/2.7-basic/src/Posts.vue
  examples/vue/2.7-basic/src/main.ts
  examples/vue/2.7-basic/src/shims-vue.d.ts
  examples/vue/2.7-basic/src/types.d.ts
  examples/vue/2.7-basic/tsconfig.json
  examples/vue/2.7-basic/vite.config.ts
Due: none

types: fix type
  packages/vue-query/src/queryClient.ts
Due: @tanstack/vue-query

types: try fix types
  packages/vue-query/package.json
  packages/vue-query/src/useBaseQuery.ts
  packages/vue-query/src/useQueries.ts
Due: @tanstack/vue-query

fix(vue-query): disable default vue devtools integration due to breaking changes (with option to enable it) (#7145)
  packages/vue-query/package.json
  packages/vue-query/src/__tests__/vueQueryPlugin.test.ts
  packages/vue-query/src/queryClient.ts
  packages/vue-query/src/useBaseQuery.ts
  packages/vue-query/src/useQueries.ts
  packages/vue-query/src/vueQueryPlugin.ts
Due: @tanstack/vue-query

release: v5.28.7
  examples/vue/2.6-basic/package.json
  examples/vue/2.7-basic/package.json
  examples/vue/basic/package.json
  examples/vue/dependent-queries/package.json
  examples/vue/nuxt3/package.json
  examples/vue/persister/package.json
  examples/vue/simple/package.json
  packages/vue-query-devtools/package.json
  packages/vue-query/package.json
  pnpm-lock.yaml
Due: @tanstack/vue-query, @tanstack/vue-query-devtools

docs: Update docs/framework/guides (#7140)
  docs/framework/react/guides/advanced-ssr.md
  docs/framework/react/guides/ssr.md
Due: none

docs: add a note for mutations in the dev tools (#7136)
  docs/framework/react/devtools.md
Due: none

chore: fix prettier
  docs/framework/react/guides/advanced-ssr.md
  docs/framework/react/guides/ssr.md
Due: none

fix(react-query): infer data type correctly when conditional skipToken is passed to useQueries
  packages/react-query/src/__tests__/useQueries.test-d.tsx
  packages/react-query/src/useQueries.ts
Due: @tanstack/react-query

Add date comparison to replaceEqualDeep
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

Update packages/vue-query/src/__tests__/useQueries.types.test.ts
  packages/vue-query/src/__tests__/useQueries.types.test.ts
Due: @tanstack/vue-query

chore(*): update OmitKeyof's type
  packages/angular-query-experimental/src/inject-queries.ts
  packages/angular-query-experimental/src/types.ts
  packages/query-core/src/infiniteQueryBehavior.ts
  packages/query-core/src/query.ts
  packages/query-core/src/queryClient.ts
  packages/query-core/src/types.ts
  packages/react-query-persist-client/src/PersistQueryClientProvider.tsx
  packages/react-query/src/HydrationBoundary.tsx
  packages/react-query/src/__tests__/useQueries.test-d.tsx
  packages/react-query/src/__tests__/useQuery.test-d.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/react-query/src/types.ts
  packages/react-query/src/useQueries.ts
  packages/solid-query-persist-client/src/PersistQueryClientProvider.tsx
  packages/solid-query/src/QueryClient.ts
  packages/solid-query/src/__tests__/createQuery.test.tsx
  packages/solid-query/src/createQueries.ts
  packages/solid-query/src/types.ts
  packages/svelte-query-persist-client/src/PersistQueryClientProvider.svelte
  packages/svelte-query-persist-client/src/__tests__/AwaitOnSuccess/Provider.svelte
  packages/svelte-query-persist-client/src/__tests__/FreshData/Provider.svelte
  packages/svelte-query-persist-client/src/__tests__/InitialData/Provider.svelte
  packages/svelte-query-persist-client/src/__tests__/OnSuccess/Provider.svelte
  packages/svelte-query-persist-client/src/__tests__/RemoveCache/Provider.svelte
  packages/svelte-query-persist-client/src/__tests__/RestoreCache/Provider.svelte
  packages/svelte-query-persist-client/src/__tests__/UseQueries/Provider.svelte
  packages/svelte-query/src/createQueries.ts
  packages/svelte-query/src/types.ts
  packages/vue-query/src/__tests__/useQueries.types.test.ts
  packages/vue-query/src/__tests__/useQuery.types.test.ts
  packages/vue-query/src/queryClient.ts
Due: @tanstack/angular-query-experimental, @tanstack/query-core, @tanstack/react-query, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-persist-client, @tanstack/vue-query

chore(.vscode): codeActionsOnSave
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
Due: none

test(query-core): add test case for OmitKeyof
  packages/query-core/src/__tests__/OmitKeyof.test-d.ts
Due: @tanstack/query-core

chore: update
  packages/query-core/src/types.ts
Due: @tanstack/query-core

types: add `OmitKeyof` to Omit object by object's keys strictly (#7139)
  packages/angular-query-experimental/src/inject-queries.ts
  packages/angular-query-experimental/src/types.ts
  packages/query-core/src/__tests__/OmitKeyof.test-d.ts
  packages/query-core/src/infiniteQueryBehavior.ts
  packages/query-core/src/query.ts
  packages/query-core/src/queryClient.ts
  packages/query-core/src/types.ts
  packages/react-query-persist-client/src/PersistQueryClientProvider.tsx
  packages/react-query/src/HydrationBoundary.tsx
  packages/react-query/src/__tests__/useQueries.test-d.tsx
  packages/react-query/src/__tests__/useQuery.test-d.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/react-query/src/types.ts
  packages/react-query/src/useQueries.ts
  packages/solid-query-persist-client/src/PersistQueryClientProvider.tsx
  packages/solid-query/src/QueryClient.ts
  packages/solid-query/src/__tests__/createQuery.test.tsx
  packages/solid-query/src/createQueries.ts
  packages/solid-query/src/types.ts
  packages/svelte-query-persist-client/src/PersistQueryClientProvider.svelte
  packages/svelte-query-persist-client/src/__tests__/AwaitOnSuccess/Provider.svelte
  packages/svelte-query-persist-client/src/__tests__/FreshData/Provider.svelte
  packages/svelte-query-persist-client/src/__tests__/InitialData/Provider.svelte
  packages/svelte-query-persist-client/src/__tests__/OnSuccess/Provider.svelte
  packages/svelte-query-persist-client/src/__tests__/RemoveCache/Provider.svelte
  packages/svelte-query-persist-client/src/__tests__/RestoreCache/Provider.svelte
  packages/svelte-query-persist-client/src/__tests__/UseQueries/Provider.svelte
  packages/svelte-query/src/createQueries.ts
  packages/svelte-query/src/types.ts
  packages/vue-query/src/__tests__/useQueries.types.test.ts
  packages/vue-query/src/__tests__/useQuery.types.test.ts
  packages/vue-query/src/queryClient.ts
Due: @tanstack/angular-query-experimental, @tanstack/query-core, @tanstack/react-query, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-persist-client, @tanstack/vue-query

refactor: add OmitKeyof to useQueries.test-d.tsx
  packages/react-query/src/__tests__/useQueries.test-d.tsx
Due: @tanstack/react-query

fix(*): Ensure correct data type with conditional skipToken
  packages/angular-query-experimental/src/inject-queries.ts
  packages/solid-query/src/createQueries.ts
  packages/svelte-query/src/createQueries.ts
  packages/vue-query/src/__tests__/useQueries.types.test.ts
  packages/vue-query/src/useQueries.ts
Due: @tanstack/angular-query-experimental, @tanstack/solid-query, @tanstack/svelte-query, @tanstack/vue-query

Path conditions:
  @tanstack/angular-query-devtools-experimental: any of: packages/angular-query-devtools-experimental/**
  @tanstack/angular-query-experimental: any of: packages/angular-query-experimental/**
  @tanstack/eslint-plugin-query: any of: packages/eslint-plugin-query/**
  @tanstack/query-async-storage-persister: any of: packages/query-async-storage-persister/**
  @tanstack/query-broadcast-client-experimental: any of: packages/query-broadcast-client-experimental/**
  @tanstack/query-codemods: any of: packages/codemods/**
  @tanstack/query-core: any of: packages/query-core/**
  @tanstack/query-devtools: any of: packages/query-devtools/**
  @tanstack/query-persist-client-core: any of: packages/query-persist-client-core/**
  @tanstack/query-sync-storage-persister: any of: packages/query-sync-storage-persister/**
  @tanstack/react-query: any of: packages/react-query/**
  @tanstack/react-query-devtools: any of: packages/react-query-devtools/**
  @tanstack/react-query-next-experimental: any of: packages/react-query-next-experimental/**
  @tanstack/react-query-persist-client: any of: packages/react-query-persist-client/**
  @tanstack/solid-query: any of: packages/solid-query/**
  @tanstack/solid-query-devtools: any of: packages/solid-query-devtools/**
  @tanstack/solid-query-persist-client: any of: packages/solid-query-persist-client/**
  @tanstack/svelte-query: any of: packages/svelte-query/**
  @tanstack/svelte-query-devtools: any of: packages/svelte-query-devtools/**
  @tanstack/svelte-query-persist-client: any of: packages/svelte-query-persist-client/**
  @tanstack/vue-query: any of: packages/vue-query/**
  @tanstack/vue-query-devtools: any of: packages/vue-query-devtools/**
