Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools, @tanstack/angular-query, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

codecov.yml:

codecov:
  max_report_age: off

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto

comment:
  layout: 'header, reach, diff, flags, components'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  hide_project_coverage: false

component_management:
  individual_components:
    - component_id: angular-query-devtools
      name: '@tanstack/angular-query-devtools'
      paths:
        - packages/angular-query-devtools/**
    - component_id: angular-query
      name: '@tanstack/angular-query'
      paths:
        - packages/angular-query/**
    - component_id: eslint-plugin-query
      name: '@tanstack/eslint-plugin-query'
      paths:
        - packages/eslint-plugin-query/**
    - component_id: query-async-storage-persister
      name: '@tanstack/query-async-storage-persister'
      paths:
        - packages/query-async-storage-persister/**
    - component_id: query-broadcast-client-experimental
      name: '@tanstack/query-broadcast-client-experimental'
      paths:
        - packages/query-broadcast-client-experimental/**
    - component_id: query-codemods
      name: '@tanstack/query-codemods'
      paths:
        - packages/query-codemods/**
    - component_id: query-core
      name: '@tanstack/query-core'
      paths:
        - packages/query-core/**
    - component_id: query-devtools
      name: '@tanstack/query-devtools'
      paths:
        - packages/query-devtools/**
    - component_id: query-persist-client-core
      name: '@tanstack/query-persist-client-core'
      paths:
        - packages/query-persist-client-core/**
    - component_id: query-sync-storage-persister
      name: '@tanstack/query-sync-storage-persister'
      paths:
        - packages/query-sync-storage-persister/**
    - component_id: query-test-utils
      name: '@tanstack/query-test-utils'
      paths:
        - packages/query-test-utils/**
    - component_id: react-query
      name: '@tanstack/react-query'
      paths:
        - packages/react-query/**
    - component_id: react-query-devtools
      name: '@tanstack/react-query-devtools'
      paths:
        - packages/react-query-devtools/**
    - component_id: react-query-next-experimental
      name: '@tanstack/react-query-next-experimental'
      paths:
        - packages/react-query-next-experimental/**
    - component_id: react-query-persist-client
      name: '@tanstack/react-query-persist-client'
      paths:
        - packages/react-query-persist-client/**
    - component_id: solid-query
      name: '@tanstack/solid-query'
      paths:
        - packages/solid-query/**
    - component_id: solid-query-devtools
      name: '@tanstack/solid-query-devtools'
      paths:
        - packages/solid-query-devtools/**
    - component_id: solid-query-persist-client
      name: '@tanstack/solid-query-persist-client'
      paths:
        - packages/solid-query-persist-client/**
    - component_id: svelte-query
      name: '@tanstack/svelte-query'
      paths:
        - packages/svelte-query/**
    - component_id: svelte-query-devtools
      name: '@tanstack/svelte-query-devtools'
      paths:
        - packages/svelte-query-devtools/**
    - component_id: svelte-query-persist-client
      name: '@tanstack/svelte-query-persist-client'
      paths:
        - packages/svelte-query-persist-client/**
    - component_id: vue-query
      name: '@tanstack/vue-query'
      paths:
        - packages/vue-query/**
    - component_id: vue-query-devtools
      name: '@tanstack/vue-query-devtools'
      paths:
        - packages/vue-query-devtools/**

fix(examples): guard the react shadow-dom mount target
  examples/react/shadow-dom/src/main.tsx
Due: none

docs(examples): fix Vue example README headings
  examples/vue/persister/README.md
  examples/vue/simple/README.md
Due: none

docs(examples): add install step to preact simple README
  examples/preact/simple/README.md
Due: none

test(query-core): replace 'vi.waitFor' with 'vi.advanceTimersByTimeAsync' in 'query.test.tsx'
  packages/query-core/src/__tests__/query.test.tsx
Due: @tanstack/query-core

test(query-core): replace 'vi.waitFor' with 'vi.advanceTimersByTimeAsync' in 'query.test.tsx' (#10434)
  packages/query-core/src/__tests__/query.test.tsx
Due: @tanstack/query-core

test(query-core): replace 'async/await sleep' with 'sleep().then()' in test 'queryFn' and 'mutationFn'
  packages/query-core/src/__tests__/hydration.test.tsx
  packages/query-core/src/__tests__/mutations.test.tsx
  packages/query-core/src/__tests__/queriesObserver.test.tsx
  packages/query-core/src/__tests__/query.test.tsx
  packages/query-core/src/__tests__/queryClient.test.tsx
  packages/query-core/src/__tests__/queryObserver.test.tsx
Due: @tanstack/query-core

test(query-core): replace 'async/await sleep' with 'sleep().then()' in test 'queryFn' and 'mutationFn' (#10435)
  packages/query-core/src/__tests__/hydration.test.tsx
  packages/query-core/src/__tests__/mutations.test.tsx
  packages/query-core/src/__tests__/queriesObserver.test.tsx
  packages/query-core/src/__tests__/query.test.tsx
  packages/query-core/src/__tests__/queryClient.test.tsx
  packages/query-core/src/__tests__/queryObserver.test.tsx
Due: @tanstack/query-core

fix(query-core): clear timers when timer ID is 0 (#10401)
  .changeset/fix-timer-id-zero-falsy-check.md
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/removable.ts
Due: @tanstack/query-core

chore: fix lockfile
  packages/eslint-plugin-query/package.json
  pnpm-lock.yaml
Due: @tanstack/eslint-plugin-query

add typescript v6 support
  package.json
  packages/eslint-plugin-query/package.json
  pnpm-lock.yaml
Due: @tanstack/eslint-plugin-query

Apply suggestions from code review
  .changeset/eslint-plugin-query-eslint-v10.md
Due: none

feat(eslint-plugin-query): add ESLint v10 to peer dependencies (#10182)
  .changeset/eslint-plugin-query-eslint-v10.md
  package.json
  packages/eslint-plugin-query/package.json
  pnpm-lock.yaml
Due: @tanstack/eslint-plugin-query

docs(examples): fix Solid README dev commands (#10430)
  examples/solid/basic-graphql-request/README.md
  examples/solid/basic/README.md
  examples/solid/default-query-function/README.md
  examples/solid/offline/README.md
  examples/solid/simple/README.md
Due: none

docs(examples): guard the react shadow-dom mount target (#10431)
  examples/react/shadow-dom/src/main.tsx
Due: none

docs(examples): fix Vue example README headings (#10432)
  examples/vue/persister/README.md
  examples/vue/simple/README.md
Due: none

docs(examples): add install step to preact simple README (#10433)
  examples/preact/simple/README.md
Due: none

fix(vue-query-devtools): only register cleanup after mount
  packages/vue-query-devtools/src/devtools.vue
  packages/vue-query-devtools/src/devtoolsPanel.vue
Due: @tanstack/vue-query-devtools

chore(changeset): add vue-query-devtools patch release note
  .changeset/khaki-coats-divide.md
Due: none

test(svelte-query/createQuery): add test for not fetching when 'isRestoring' is true
  packages/svelte-query/tests/createQuery/IsRestoringExample.svelte
  packages/svelte-query/tests/createQuery/createQuery.svelte.test.ts
Due: @tanstack/svelte-query

test(svelte-query/createQuery): add test for not fetching when 'isRestoring' is true (#10440)
  packages/svelte-query/tests/createQuery/IsRestoringExample.svelte
  packages/svelte-query/tests/createQuery/createQuery.svelte.test.ts
Due: @tanstack/svelte-query

test(svelte-query/createQuery): move test files into 'createQuery' directory
  packages/svelte-query/tests/createQuery.svelte.test.ts
  packages/svelte-query/tests/createQuery/createQuery.svelte.test.ts
  packages/svelte-query/tests/createQuery/createQuery.test-d.ts
Due: @tanstack/svelte-query

test(svelte-query/createQuery): move test files into 'createQuery' directory (#10441)
  packages/svelte-query/tests/createQuery.svelte.test.ts
  packages/svelte-query/tests/createQuery/createQuery.svelte.test.ts
  packages/svelte-query/tests/createQuery/createQuery.test-d.ts
Due: @tanstack/svelte-query

fix(query-devtools): remove experimentalDts to prevent solid-js type leak (#10421)
  .changeset/fix-solid-js-type-leak.md
  packages/query-devtools/tsup.config.ts
Due: @tanstack/query-devtools

test(svelte-query): replace hardcoded query keys with 'queryKey()' in Svelte test components
  packages/svelte-query/tests/createInfiniteQuery/BaseExample.svelte
  packages/svelte-query/tests/createInfiniteQuery/SelectExample.svelte
  packages/svelte-query/tests/createQueries/IsRestoringExample.svelte
  packages/svelte-query/tests/createQuery/IsRestoringExample.svelte
  packages/svelte-query/tests/useIsFetching/Query.svelte
  packages/svelte-query/tests/useIsMutating/Query.svelte
Due: @tanstack/svelte-query

test(svelte-query): replace hardcoded query keys with 'queryKey()' in Svelte test components (#10443)
  packages/svelte-query/tests/createInfiniteQuery/BaseExample.svelte
  packages/svelte-query/tests/createInfiniteQuery/SelectExample.svelte
  packages/svelte-query/tests/createQueries/IsRestoringExample.svelte
  packages/svelte-query/tests/createQuery/IsRestoringExample.svelte
  packages/svelte-query/tests/useIsFetching/Query.svelte
  packages/svelte-query/tests/useIsMutating/Query.svelte
Due: @tanstack/svelte-query

Implement failing test
  packages/query-core/src/__tests__/hydration.test.tsx
Due: @tanstack/query-core

Add failing tests for incorrectly transitioning to fetching/pending on already resolved promises
  packages/query-core/src/__tests__/hydration.test.tsx
Due: @tanstack/query-core

Fix bugs
  packages/query-core/src/hydration.ts
Due: @tanstack/query-core

Add changeset
  .changeset/shy-wings-buy.md
Due: none

test(svelte-query): unify queryClient passing to 'setQueryClientContext' and rename test components
  packages/svelte-query/tests/ProviderWrapper.svelte
  packages/svelte-query/tests/QueryClientProvider/BaseExample.svelte
  packages/svelte-query/tests/QueryClientProvider/QueryChild.svelte
  packages/svelte-query/tests/QueryClientProvider/QueryClientProvider.svelte.test.ts
  packages/svelte-query/tests/createInfiniteQuery/BaseExample.svelte
  packages/svelte-query/tests/createInfiniteQuery/ChangeClientExample.svelte
  packages/svelte-query/tests/createInfiniteQuery/SelectExample.svelte
  packages/svelte-query/tests/createInfiniteQuery/createInfiniteQuery.svelte.test.ts
  packages/svelte-query/tests/createQueries/IsRestoringExample.svelte
  packages/svelte-query/tests/createQuery/IsRestoringExample.svelte
  packages/svelte-query/tests/useIsFetching/BaseExample.svelte
  packages/svelte-query/tests/useIsFetching/FetchStatus.svelte
  packages/svelte-query/tests/useIsFetching/Query.svelte
  packages/svelte-query/tests/useIsMutating/BaseExample.svelte
  packages/svelte-query/tests/useIsMutating/MutatingStatus.svelte
  packages/svelte-query/tests/useIsMutating/Query.svelte
Due: @tanstack/svelte-query

test(svelte-query): unify queryClient passing to 'setQueryClientContext' and rename test components (#10446)
  packages/svelte-query/tests/ProviderWrapper.svelte
  packages/svelte-query/tests/QueryClientProvider/BaseExample.svelte
  packages/svelte-query/tests/QueryClientProvider/QueryChild.svelte
  packages/svelte-query/tests/QueryClientProvider/QueryClientProvider.svelte.test.ts
  packages/svelte-query/tests/createInfiniteQuery/BaseExample.svelte
  packages/svelte-query/tests/createInfiniteQuery/ChangeClientExample.svelte
  packages/svelte-query/tests/createInfiniteQuery/SelectExample.svelte
  packages/svelte-query/tests/createInfiniteQuery/createInfiniteQuery.svelte.test.ts
  packages/svelte-query/tests/createQueries/IsRestoringExample.svelte
  packages/svelte-query/tests/createQuery/IsRestoringExample.svelte
  packages/svelte-query/tests/useIsFetching/BaseExample.svelte
  packages/svelte-query/tests/useIsFetching/FetchStatus.svelte
  packages/svelte-query/tests/useIsFetching/Query.svelte
  packages/svelte-query/tests/useIsMutating/BaseExample.svelte
  packages/svelte-query/tests/useIsMutating/MutatingStatus.svelte
  packages/svelte-query/tests/useIsMutating/Query.svelte
Due: @tanstack/svelte-query

test(svelte-query): extract 'queryClient' creation from Svelte components to test files
  packages/svelte-query/tests/HydrationBoundary/BaseExample.svelte
  packages/svelte-query/tests/HydrationBoundary/HydrationBoundary.svelte.test.ts
  packages/svelte-query/tests/QueryClientProvider/QueryClientProvider.svelte.test.ts
  packages/svelte-query/tests/createInfiniteQuery/BaseExample.svelte
  packages/svelte-query/tests/createInfiniteQuery/SelectExample.svelte
  packages/svelte-query/tests/createInfiniteQuery/createInfiniteQuery.svelte.test.ts
  packages/svelte-query/tests/createMutation/FailureExample.svelte
  packages/svelte-query/tests/createMutation/OnSuccessExample.svelte
  packages/svelte-query/tests/createMutation/ResetExample.svelte
  packages/svelte-query/tests/createMutation/createMutation.svelte.test.ts
  packages/svelte-query/tests/createQueries/IsRestoringExample.svelte
  packages/svelte-query/tests/createQueries/createQueries.svelte.test.ts
  packages/svelte-query/tests/createQuery/IsRestoringExample.svelte
  packages/svelte-query/tests/createQuery/createQuery.svelte.test.ts
  packages/svelte-query/tests/mutationOptions/BaseExample.svelte
  packages/svelte-query/tests/mutationOptions/MultiExample.svelte
  packages/svelte-query/tests/mutationOptions/mutationOptions.svelte.test.ts
  packages/svelte-query/tests/useIsFetching/BaseExample.svelte
  packages/svelte-query/tests/useIsFetching/useIsFetching.svelte.test.ts
  packages/svelte-query/tests/useIsMutating/BaseExample.svelte
  packages/svelte-query/tests/useIsMutating/useIsMutating.svelte.test.ts
  packages/svelte-query/tests/useMutationState/BaseExample.svelte
  packages/svelte-query/tests/useMutationState/SelectExample.svelte
  packages/svelte-query/tests/useMutationState/useMutationState.svelte.test.ts
Due: @tanstack/svelte-query

test(svelte-query/createMutation): rename 'client1'/'client2' to 'queryClient1'/'queryClient2' for clarity
  packages/svelte-query/tests/createMutation/createMutation.svelte.test.ts
Due: @tanstack/svelte-query

test(svelte-query): extract 'queryClient' creation from Svelte components to test files (#10447)
  packages/svelte-query/tests/HydrationBoundary/BaseExample.svelte
  packages/svelte-query/tests/HydrationBoundary/HydrationBoundary.svelte.test.ts
  packages/svelte-query/tests/QueryClientProvider/QueryClientProvider.svelte.test.ts
  packages/svelte-query/tests/createInfiniteQuery/BaseExample.svelte
  packages/svelte-query/tests/createInfiniteQuery/SelectExample.svelte
  packages/svelte-query/tests/createInfiniteQuery/createInfiniteQuery.svelte.test.ts
  packages/svelte-query/tests/createMutation/FailureExample.svelte
  packages/svelte-query/tests/createMutation/OnSuccessExample.svelte
  packages/svelte-query/tests/createMutation/ResetExample.svelte
  packages/svelte-query/tests/createMutation/createMutation.svelte.test.ts
  packages/svelte-query/tests/createQueries/IsRestoringExample.svelte
  packages/svelte-query/tests/createQueries/createQueries.svelte.test.ts
  packages/svelte-query/tests/createQuery/IsRestoringExample.svelte
  packages/svelte-query/tests/createQuery/createQuery.svelte.test.ts
  packages/svelte-query/tests/mutationOptions/BaseExample.svelte
  packages/svelte-query/tests/mutationOptions/MultiExample.svelte
  packages/svelte-query/tests/mutationOptions/mutationOptions.svelte.test.ts
  packages/svelte-query/tests/useIsFetching/BaseExample.svelte
  packages/svelte-query/tests/useIsFetching/useIsFetching.svelte.test.ts
  packages/svelte-query/tests/useIsMutating/BaseExample.svelte
  packages/svelte-query/tests/useIsMutating/useIsMutating.svelte.test.ts
  packages/svelte-query/tests/useMutationState/BaseExample.svelte
  packages/svelte-query/tests/useMutationState/SelectExample.svelte
  packages/svelte-query/tests/useMutationState/useMutationState.svelte.test.ts
Due: @tanstack/svelte-query

test(svelte-query): replace inline props types with 'type Props', remove 'any', and add explicit generics
  packages/svelte-query/tests/HydrationBoundary/BaseExample.svelte
  packages/svelte-query/tests/QueryClientProvider/BaseExample.svelte
  packages/svelte-query/tests/createInfiniteQuery/BaseExample.svelte
  packages/svelte-query/tests/createInfiniteQuery/ChangeClientExample.svelte
  packages/svelte-query/tests/createInfiniteQuery/SelectExample.svelte
  packages/svelte-query/tests/createMutation/FailureExample.svelte
  packages/svelte-query/tests/createMutation/OnSuccessExample.svelte
  packages/svelte-query/tests/createMutation/ResetExample.svelte
  packages/svelte-query/tests/createQueries/IsRestoringExample.svelte
  packages/svelte-query/tests/createQuery/IsRestoringExample.svelte
  packages/svelte-query/tests/mutationOptions/BaseExample.svelte
  packages/svelte-query/tests/mutationOptions/MultiExample.svelte
  packages/svelte-query/tests/useIsFetching/BaseExample.svelte
  packages/svelte-query/tests/useIsMutating/BaseExample.svelte
  packages/svelte-query/tests/useMutationState/BaseExample.svelte
  packages/svelte-query/tests/useMutationState/SelectExample.svelte
Due: @tanstack/svelte-query

test(svelte-query): replace inline props types with 'type Props', remove 'any', and add explicit generics (#10448)
  packages/svelte-query/tests/HydrationBoundary/BaseExample.svelte
  packages/svelte-query/tests/QueryClientProvider/BaseExample.svelte
  packages/svelte-query/tests/createInfiniteQuery/BaseExample.svelte
  packages/svelte-query/tests/createInfiniteQuery/ChangeClientExample.svelte
  packages/svelte-query/tests/createInfiniteQuery/SelectExample.svelte
  packages/svelte-query/tests/createMutation/FailureExample.svelte
  packages/svelte-query/tests/createMutation/OnSuccessExample.svelte
  packages/svelte-query/tests/createMutation/ResetExample.svelte
  packages/svelte-query/tests/createQueries/IsRestoringExample.svelte
  packages/svelte-query/tests/createQuery/IsRestoringExample.svelte
  packages/svelte-query/tests/mutationOptions/BaseExample.svelte
  packages/svelte-query/tests/mutationOptions/MultiExample.svelte
  packages/svelte-query/tests/useIsFetching/BaseExample.svelte
  packages/svelte-query/tests/useIsMutating/BaseExample.svelte
  packages/svelte-query/tests/useMutationState/BaseExample.svelte
  packages/svelte-query/tests/useMutationState/SelectExample.svelte
Due: @tanstack/svelte-query

test(svelte-query/createInfiniteQuery): remove unused 'svelte-ignore state_snapshot_uncloneable' comments
  packages/svelte-query/tests/createInfiniteQuery/BaseExample.svelte
  packages/svelte-query/tests/createInfiniteQuery/SelectExample.svelte
Due: @tanstack/svelte-query

test(svelte-query/createInfiniteQuery): remove unused 'svelte-ignore state_snapshot_uncloneable' comments (#10449)
  packages/svelte-query/tests/createInfiniteQuery/BaseExample.svelte
  packages/svelte-query/tests/createInfiniteQuery/SelectExample.svelte
Due: @tanstack/svelte-query

test(svelte-query): add 'assertType' to type tests with no assertions
  packages/svelte-query/tests/infiniteQueryOptions.test-d.ts
  packages/svelte-query/tests/queryOptions.test-d.ts
Due: @tanstack/svelte-query

test(svelte-query): replace 'assertType' with 'expectTypeOf' for 'initialData' type validation
  packages/svelte-query/tests/queryOptions.test-d.ts
Due: @tanstack/svelte-query
