Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

Update eslint.config.js
  eslint.config.js
Due: none

chore(query-async-storage-persister): remove unnecessary export keyword (#9040)
  packages/query-async-storage-persister/src/asyncThrottle.ts
Due: @tanstack/query-async-storage-persister

Fix current CI errors
  packages/svelte-query-persist-client/src/PersistQueryClientProvider.svelte
  packages/svelte-query-persist-client/src/utils.svelte.ts
  packages/svelte-query-persist-client/tests/PersistQueryClientProvider.svelte.test.ts
  packages/svelte-query-persist-client/tests/RemoveCache/Provider.svelte
  packages/svelte-query/src/containers.svelte.ts
  packages/svelte-query/tests/containers.svelte.test.ts
  packages/svelte-query/tests/createQueries.svelte.test.ts
  packages/svelte-query/tests/createQueries.test-d.ts
  packages/svelte-query/tests/createQuery.svelte.test.ts
Due: @tanstack/svelte-query, @tanstack/svelte-query-persist-client

More small fixes/tweaks
  examples/svelte/auto-refetching/src/routes/+page.svelte
  packages/svelte-query-persist-client/tests/utils.svelte.ts
  packages/svelte-query/package.json
  packages/svelte-query/src/createQuery.ts
  pnpm-lock.yaml
Due: @tanstack/svelte-query, @tanstack/svelte-query-persist-client

Remove test.only
  packages/svelte-query-persist-client/tests/PersistQueryClientProvider.svelte.test.ts
Due: @tanstack/svelte-query-persist-client

Fix pnpm-lock, fix import order
  packages/svelte-query-persist-client/src/PersistQueryClientProvider.svelte
  pnpm-lock.yaml
Due: @tanstack/svelte-query-persist-client

refactor: remove unused common type
  packages/query-core/src/types.ts
Due: @tanstack/query-core

fix: revert type WithRequired
  packages/query-core/src/types.ts
Due: @tanstack/query-core

Fix other broken links on page & add `.md` extension to relative links as suggested by @TkDodo
  docs/reference/QueryCache.md
Due: none

fix(vue-query): unify shallow flag behaviour
  packages/vue-query/src/useBaseQuery.ts
  packages/vue-query/src/useMutation.ts
  packages/vue-query/src/useQueries.ts
Due: @tanstack/vue-query

fix(vue-query): unify shallow flag behaviour (#9050)
  packages/vue-query/src/useBaseQuery.ts
  packages/vue-query/src/useMutation.ts
  packages/vue-query/src/useQueries.ts
Due: @tanstack/vue-query

docs: fix broken links in docs
  docs/framework/react/guides/advanced-ssr.md
  docs/framework/react/guides/mutations.md
  docs/framework/react/guides/prefetching.md
  docs/framework/react/guides/suspense.md
Due: none

Removes unused testing library dependency
  packages/query-core/package.json
  pnpm-lock.yaml
Due: @tanstack/query-core

test(query-core): use fake timers for queryObserver.test.tsx (#9004)
  packages/query-core/package.json
  packages/query-core/src/__tests__/queryObserver.test.tsx
  pnpm-lock.yaml
Due: @tanstack/query-core

test(react-query): use fake timers for useMutationState.test.tsx
  packages/react-query/src/__tests__/useMutationState.test.tsx
Due: @tanstack/react-query

test(react-query): use fake timers for fine-grained-persister.test.tsx
  packages/react-query/src/__tests__/fine-grained-persister.test.tsx
Due: @tanstack/react-query

test(react-query): use fake timers for ssr-hydration.test.tsx
  packages/react-query/src/__tests__/ssr-hydration.test.tsx
Due: @tanstack/react-query

refactor(react-query-devtools): remove unnecessary export "DevtoolsOptions" and "DevtoolsPanelOptions"
  packages/react-query-devtools/src/ReactQueryDevtools.tsx
  packages/react-query-devtools/src/ReactQueryDevtoolsPanel.tsx
Due: @tanstack/react-query-devtools

isolated tests
  packages/query-broadcast-client-experimental/src/__tests__/index.test.ts
Due: @tanstack/query-broadcast-client-experimental

docs: Update streamedQuery.md
  docs/reference/streamedQuery.md
Due: none

test(react-query): use fake timers for ssr-hydration.test.tsx (#9058)
  packages/react-query/src/__tests__/ssr-hydration.test.tsx
Due: @tanstack/react-query

test(react-query): use fake timers for fine-grained-persister.test.tsx (#9056)
  packages/react-query/src/__tests__/fine-grained-persister.test.tsx
Due: @tanstack/react-query

docs: fix typo
  docs/reference/streamedQuery.md
Due: none

docs: fix broken links in docs (#9052)
  docs/framework/react/guides/advanced-ssr.md
  docs/framework/react/guides/mutations.md
  docs/framework/react/guides/prefetching.md
  docs/framework/react/guides/suspense.md
Due: none

Enable DI via deps options
  docs/framework/angular/devtools.md
  packages/angular-query-experimental/src/devtools-setup.ts
  packages/angular-query-experimental/src/providers.ts
Due: @tanstack/angular-query-experimental

test(query-persist-client-core): use fake timers for createPersister.test.ts
  packages/query-persist-client-core/src/__tests__/createPersister.test.ts
Due: @tanstack/query-persist-client-core

refactor: remove unnecessary export
  packages/query-persist-client-core/src/__tests__/utils.ts
Due: @tanstack/query-persist-client-core

fix: Change type to allow assigning a function returning undefined to initialData
  packages/vue-query/src/useQuery.ts
Due: @tanstack/vue-query

chore: update to eslint-plugin-react-hooks v6
  .github/renovate.json
  examples/react/algolia/eslint.config.js
  examples/react/basic-graphql-request/eslint.config.js
  examples/react/basic/eslint.config.js
  examples/react/shadow-dom/eslint.config.js
  package.json
  packages/react-query-devtools/eslint.config.js
  packages/react-query-next-experimental/eslint.config.js
  packages/react-query-persist-client/eslint.config.js
  packages/react-query/eslint.config.js
  packages/react-query/package.json
  pnpm-lock.yaml
Due: @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client

fix: move observer creation into a ref
  packages/react-query/src/useMutation.ts
Due: @tanstack/react-query

chore: disable compiler-linter in tests
  packages/react-query/eslint.config.js
  packages/react-query/src/useMutationState.ts
Due: @tanstack/react-query

chore: appease the linter gods
  packages/react-query/package.json
  pnpm-lock.yaml
Due: @tanstack/react-query

fix(vue-query): update `initialData` type to allow InitialDataFunction and NonUndefinedGuard, similar to react-query
  packages/vue-query/src/useQuery.ts
Due: @tanstack/vue-query

test(react-query): use fake timers for useMutationState.test.tsx (#9055)
  packages/react-query/src/__tests__/useMutationState.test.tsx
Due: @tanstack/react-query

test: update types to include `undefined` in useQueries and useQuery tests in vue-query
  packages/vue-query/src/__tests__/useQueries.test-d.ts
  packages/vue-query/src/__tests__/useQuery.test-d.ts
Due: @tanstack/vue-query

test(query-persist-client-core): use fake timers for createPersister.test.ts (#9067)
  packages/query-persist-client-core/src/__tests__/createPersister.test.ts
  packages/query-persist-client-core/src/__tests__/utils.ts
Due: @tanstack/query-persist-client-core

Path conditions:
  @tanstack/angular-query-devtools-experimental: any of: packages/angular-query-devtools-experimental/**
  @tanstack/angular-query-experimental: any of: packages/angular-query-experimental/**
  @tanstack/eslint-plugin-query: any of: packages/eslint-plugin-query/**
  @tanstack/query-async-storage-persister: any of: packages/query-async-storage-persister/**
  @tanstack/query-broadcast-client-experimental: any of: packages/query-broadcast-client-experimental/**
  @tanstack/query-codemods: any of: packages/codemods/**
  @tanstack/query-core: any of: packages/query-core/**
  @tanstack/query-devtools: any of: packages/query-devtools/**
  @tanstack/query-persist-client-core: any of: packages/query-persist-client-core/**
  @tanstack/query-sync-storage-persister: any of: packages/query-sync-storage-persister/**
  @tanstack/react-query: any of: packages/react-query/**
  @tanstack/react-query-devtools: any of: packages/react-query-devtools/**
  @tanstack/react-query-next-experimental: any of: packages/react-query-next-experimental/**
  @tanstack/react-query-persist-client: any of: packages/react-query-persist-client/**
  @tanstack/solid-query: any of: packages/solid-query/**
  @tanstack/solid-query-devtools: any of: packages/solid-query-devtools/**
  @tanstack/solid-query-persist-client: any of: packages/solid-query-persist-client/**
  @tanstack/svelte-query: any of: packages/svelte-query/**
  @tanstack/svelte-query-devtools: any of: packages/svelte-query-devtools/**
  @tanstack/svelte-query-persist-client: any of: packages/svelte-query-persist-client/**
  @tanstack/vue-query: any of: packages/vue-query/**
  @tanstack/vue-query-devtools: any of: packages/vue-query-devtools/**
