Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools, @tanstack/angular-query, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

codecov.yml:

codecov:
  max_report_age: off

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto

comment:
  layout: 'header, reach, diff, flags, components'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  hide_project_coverage: false

component_management:
  individual_components:
    - component_id: angular-query-devtools
      name: '@tanstack/angular-query-devtools'
      paths:
        - packages/angular-query-devtools/**
    - component_id: angular-query
      name: '@tanstack/angular-query'
      paths:
        - packages/angular-query/**
    - component_id: eslint-plugin-query
      name: '@tanstack/eslint-plugin-query'
      paths:
        - packages/eslint-plugin-query/**
    - component_id: query-async-storage-persister
      name: '@tanstack/query-async-storage-persister'
      paths:
        - packages/query-async-storage-persister/**
    - component_id: query-broadcast-client-experimental
      name: '@tanstack/query-broadcast-client-experimental'
      paths:
        - packages/query-broadcast-client-experimental/**
    - component_id: query-codemods
      name: '@tanstack/query-codemods'
      paths:
        - packages/query-codemods/**
    - component_id: query-core
      name: '@tanstack/query-core'
      paths:
        - packages/query-core/**
    - component_id: query-devtools
      name: '@tanstack/query-devtools'
      paths:
        - packages/query-devtools/**
    - component_id: query-persist-client-core
      name: '@tanstack/query-persist-client-core'
      paths:
        - packages/query-persist-client-core/**
    - component_id: query-sync-storage-persister
      name: '@tanstack/query-sync-storage-persister'
      paths:
        - packages/query-sync-storage-persister/**
    - component_id: query-test-utils
      name: '@tanstack/query-test-utils'
      paths:
        - packages/query-test-utils/**
    - component_id: react-query
      name: '@tanstack/react-query'
      paths:
        - packages/react-query/**
    - component_id: react-query-devtools
      name: '@tanstack/react-query-devtools'
      paths:
        - packages/react-query-devtools/**
    - component_id: react-query-next-experimental
      name: '@tanstack/react-query-next-experimental'
      paths:
        - packages/react-query-next-experimental/**
    - component_id: react-query-persist-client
      name: '@tanstack/react-query-persist-client'
      paths:
        - packages/react-query-persist-client/**
    - component_id: solid-query
      name: '@tanstack/solid-query'
      paths:
        - packages/solid-query/**
    - component_id: solid-query-devtools
      name: '@tanstack/solid-query-devtools'
      paths:
        - packages/solid-query-devtools/**
    - component_id: solid-query-persist-client
      name: '@tanstack/solid-query-persist-client'
      paths:
        - packages/solid-query-persist-client/**
    - component_id: svelte-query
      name: '@tanstack/svelte-query'
      paths:
        - packages/svelte-query/**
    - component_id: svelte-query-devtools
      name: '@tanstack/svelte-query-devtools'
      paths:
        - packages/svelte-query-devtools/**
    - component_id: svelte-query-persist-client
      name: '@tanstack/svelte-query-persist-client'
      paths:
        - packages/svelte-query-persist-client/**
    - component_id: vue-query
      name: '@tanstack/vue-query'
      paths:
        - packages/vue-query/**
    - component_id: vue-query-devtools
      name: '@tanstack/vue-query-devtools'
      paths:
        - packages/vue-query-devtools/**

test(solid-query-devtools/devtoolsPanel): add a case for merging 'style' with the default container height
  packages/solid-query-devtools/src/__tests__/devtoolsPanel.test.tsx
Due: @tanstack/solid-query-devtools

test(solid-query-devtools/devtoolsPanel): assert 'style' overrides the default container height to catch merge-order regressions
  packages/solid-query-devtools/src/__tests__/devtoolsPanel.test.tsx
Due: @tanstack/solid-query-devtools

test(solid-query-devtools/devtoolsPanel): add a case for preserving the default container height when 'style' omits 'height'
  packages/solid-query-devtools/src/__tests__/devtoolsPanel.test.tsx
Due: @tanstack/solid-query-devtools

test(solid-query-devtools/devtoolsPanel): add tests for the 'style' merge contract (preserve default and override on conflict) (#10828)
  packages/solid-query-devtools/src/__tests__/devtoolsPanel.test.tsx
Due: @tanstack/solid-query-devtools

fix(eslint-plugin-query): track custom query hook wrappers in deps
  packages/eslint-plugin-query/src/__tests__/no-unstable-deps.test.ts
  packages/eslint-plugin-query/src/rules/no-unstable-deps/no-unstable-deps.rule.ts
Due: @tanstack/eslint-plugin-query

fix(query-codemods): skip key transformation without react-query import
  packages/query-codemods/src/v4/__testfixtures__/no-react-query-import.input.tsx
  packages/query-codemods/src/v4/__testfixtures__/no-react-query-import.output.tsx
  packages/query-codemods/src/v4/__tests__/key-transformation.test.cjs
  packages/query-codemods/src/v4/key-transformation.cjs
Due: @tanstack/query-codemods

fix(query-devtools): set goober nonce before style creation
  packages/query-devtools/src/__tests__/utils.test.ts
  packages/query-devtools/src/utils.tsx
Due: @tanstack/query-devtools

fix(vue-query): use environmentManager.isServer in plugin
  packages/vue-query/src/__tests__/vueQueryPlugin.test.ts
  packages/vue-query/src/vueQueryPlugin.ts
Due: @tanstack/vue-query

fix(query-core): infer query data from query filters
  packages/query-core/src/__tests__/queryClient.test-d.tsx
  packages/query-core/src/queryClient.ts
Due: @tanstack/query-core

fix(query-core): infer setQueriesData data type from query filters
  packages/query-core/src/__tests__/queryClient.test-d.tsx
  packages/query-core/src/queryClient.ts
Due: @tanstack/query-core

fix(angular): cleanup pending queryFn tasks on component destroy
  packages/angular-query-experimental/src/__tests__/pending-tasks.test.ts
  packages/angular-query-experimental/src/create-base-query.ts
Due: none

fix(query-broadcast): sync state for added query events
  packages/query-broadcast-client-experimental/src/__tests__/index.test.ts
  packages/query-broadcast-client-experimental/src/index.ts
Due: @tanstack/query-broadcast-client-experimental

fix(svelte-query): preserve array length updates in createRawRef
  packages/svelte-query/src/containers.svelte.ts
  packages/svelte-query/tests/containers.svelte.test.ts
  packages/svelte-query/tests/createQueries/createQueries.svelte.test.ts
Due: @tanstack/svelte-query

fix(svelte-query): keep array length stable on multi-index deletions
  packages/svelte-query/src/containers.svelte.ts
  packages/svelte-query/tests/containers.svelte.test.ts
Due: @tanstack/svelte-query

fix(query-core): correctly refetch resetQueries matches
  packages/query-core/src/__tests__/queryClient.test.tsx
  packages/query-core/src/queryClient.ts
Due: @tanstack/query-core

fix(solid-query): track resource result fields
  packages/solid-query/src/__tests__/useQuery.test.tsx
  packages/solid-query/src/useBaseQuery.ts
Due: @tanstack/solid-query

fix(solid-query): fetch on status-only reads
  .changeset/solid-query-status-resource.md
  packages/solid-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/solid-query

fix(query-devtools): sync style nonce with goober
  packages/query-devtools/src/__tests__/utils.test.ts
  packages/query-devtools/src/utils.tsx
Due: @tanstack/query-devtools

fix(vue-query): avoid mounting QueryClient on server
  packages/vue-query/src/__tests__/vueQueryPlugin.test.ts
  packages/vue-query/src/vueQueryPlugin.ts
Due: @tanstack/vue-query

Fix preact infinite query pageParam result typing
  packages/preact-query/src/__tests__/useInfiniteQuery.test-d.tsx
  packages/preact-query/src/useInfiniteQuery.ts
Due: none

fix: restore undefined persister query payloads
  packages/query-persist-client-core/src/__tests__/createPersister.test.ts
  packages/query-persist-client-core/src/createPersister.ts
Due: @tanstack/query-persist-client-core

feat(query-core): add retryAttempt to query error callback context
  packages/query-core/src/__tests__/queryCache.test.tsx
  packages/query-core/src/query.ts
  packages/query-core/src/queryCache.ts
Due: @tanstack/query-core

fix(react-query): enforce selectless useQuery TData consistency
  packages/react-query/src/__tests__/useQuery.test-d.tsx
  packages/react-query/src/useQuery.ts
Due: @tanstack/react-query

chore(solid-query-devtools/tsconfig): include 'test-setup.ts' for jest-dom matcher typings
  packages/solid-query-devtools/tsconfig.json
Due: @tanstack/solid-query-devtools

chore(solid-query-devtools/tsconfig): include 'test-setup.ts' for jest-dom matcher typings (#10845)
  packages/solid-query-devtools/tsconfig.json
Due: @tanstack/solid-query-devtools

test(solid-query-devtools/devtoolsPanel): use 'toHaveStyle' matcher in the 'style' merge cases
  packages/solid-query-devtools/src/__tests__/devtoolsPanel.test.tsx
Due: @tanstack/solid-query-devtools

test(solid-query-devtools/devtoolsPanel): use 'toHaveStyle' matcher in the 'style' merge cases (#10846)
  packages/solid-query-devtools/src/__tests__/devtoolsPanel.test.tsx
Due: @tanstack/solid-query-devtools

Add conditional check for repository owner in release job
  .github/workflows/release.yml
Due: none

chore: add conditional check for repository owner in release job (#10847)
  .github/workflows/release.yml
Due: none

test(solid-query-devtools/devtools{,Panel}): add tests for the non-development fallback
  packages/solid-query-devtools/src/__tests__/devtools.test.tsx
  packages/solid-query-devtools/src/__tests__/devtoolsPanel.test.tsx
Due: @tanstack/solid-query-devtools

test(solid-query-devtools/devtools{,Panel}): add tests for the non-development fallback (#10848)
  packages/solid-query-devtools/src/__tests__/devtools.test.tsx
  packages/solid-query-devtools/src/__tests__/devtoolsPanel.test.tsx
Due: @tanstack/solid-query-devtools

fix(vue-query-devtools): use class instead of className in templates
  packages/vue-query-devtools/src/devtools.vue
  packages/vue-query-devtools/src/devtoolsPanel.vue
Due: @tanstack/vue-query-devtools

chore: add changeset
  .changeset/fix-vue-devtools-class-attribute.md
Due: none

fix: correct errorTypes type from TError to Error in devtools docs
  docs/framework/angular/devtools.md
  docs/framework/preact/devtools.md
  docs/framework/react/devtools.md
  docs/framework/solid/devtools.md
  docs/framework/svelte/devtools.md
  docs/framework/vue/devtools.md
Due: none

test(react-query-devtools/ReactQueryDevtools{,Panel}): add tests for the full prop wiring matrix
  packages/react-query-devtools/src/__tests__/ReactQueryDevtools.test.tsx
  packages/react-query-devtools/src/__tests__/ReactQueryDevtoolsPanel.test.tsx
Due: @tanstack/react-query-devtools

test(preact-query-devtools/PreactQueryDevtools{,Panel}): add tests for the full prop wiring matrix
  packages/preact-query-devtools/src/__tests__/PreactQueryDevtools.test.tsx
  packages/preact-query-devtools/src/__tests__/PreactQueryDevtoolsPanel.test.tsx
Due: none

test(react-query-devtools/ReactQueryDevtools{,Panel}): add tests for the full prop wiring matrix (#10851)
  packages/react-query-devtools/src/__tests__/ReactQueryDevtools.test.tsx
  packages/react-query-devtools/src/__tests__/ReactQueryDevtoolsPanel.test.tsx
Due: @tanstack/react-query-devtools
