Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

Update Hey API link to TanStack Query plugin
  docs/framework/vue/community/community-projects.md
Due: none

test(react-query/queryOptions): add 'useQuery' basic tests with 'queryOptions'
  packages/react-query/src/__tests__/queryOptions.test.tsx
Due: @tanstack/react-query

docs(query-core): clarify default behavior of invalidateQueries refetching
  docs/framework/react/guides/query-invalidation.md
Due: none

Update oRPC link to TanStack Query integration
  docs/framework/react/community/community-projects.md
Due: none

Update oRPC link to TanStack Query integration
  docs/framework/vue/community/community-projects.md
Due: none

fix(angular-query): align mutation options to most recent react-query types
  packages/angular-query-experimental/src/__tests__/mutation-options.test-d.ts
  packages/angular-query-experimental/src/index.ts
  packages/angular-query-experimental/src/inject-mutation.ts
  packages/angular-query-experimental/src/mutation-options.ts
  packages/angular-query-experimental/src/types.ts
Due: @tanstack/angular-query-experimental

add tests
  packages/angular-query-experimental/src/__tests__/mutation-options.test.ts
Due: @tanstack/angular-query-experimental

fix(angular-query): align mutation options to most recent react-query types (#9543)
  packages/angular-query-experimental/src/__tests__/mutation-options.test-d.ts
  packages/angular-query-experimental/src/__tests__/mutation-options.test.ts
  packages/angular-query-experimental/src/index.ts
  packages/angular-query-experimental/src/inject-mutation.ts
  packages/angular-query-experimental/src/mutation-options.ts
  packages/angular-query-experimental/src/types.ts
Due: @tanstack/angular-query-experimental

chore(angular-query): add infiniteQueryOptions tests from react-query
  packages/angular-query-experimental/eslint.config.js
  packages/angular-query-experimental/src/__tests__/infinite-query-options.test-d.ts
  packages/angular-query-experimental/src/__tests__/infinite-query-options.test.ts
  packages/angular-query-experimental/src/__tests__/query-options.test.ts
Due: @tanstack/angular-query-experimental

chore(angular-query): add infiniteQueryOptions tests from react-query (#9544)
  packages/angular-query-experimental/eslint.config.js
  packages/angular-query-experimental/src/__tests__/infinite-query-options.test-d.ts
  packages/angular-query-experimental/src/__tests__/infinite-query-options.test.ts
  packages/angular-query-experimental/src/__tests__/query-options.test.ts
Due: @tanstack/angular-query-experimental

chore(tsconfig.json): add 'test-setup.ts' to 'include' array
  packages/angular-query-experimental/tsconfig.json
  packages/angular-query-persist-client/tsconfig.json
  packages/query-broadcast-client-experimental/tsconfig.json
  packages/react-query/tsconfig.json
Due: @tanstack/angular-query-experimental, @tanstack/query-broadcast-client-experimental, @tanstack/react-query

test(react-query/useIsFetching): remove unnecessary 'advanceTimersByTimeAsync', unify to 'rendered', and add detailed 'expect' for custom queryClient and state updates during rendering (#9530)
  packages/react-query/src/__tests__/useIsFetching.test.tsx
Due: @tanstack/react-query

chore(tsconfig.json): add 'test-setup.ts' to 'include' array (#9545)
  packages/angular-query-experimental/tsconfig.json
  packages/angular-query-persist-client/tsconfig.json
  packages/query-broadcast-client-experimental/tsconfig.json
  packages/react-query/tsconfig.json
Due: @tanstack/angular-query-experimental, @tanstack/query-broadcast-client-experimental, @tanstack/react-query

Add Hey API to community projects for TanStack Query (React) (#9534)
  docs/framework/react/community/community-projects.md
Due: none

Add Hey API to community projects for TanStack Query (Vue) (#9535)
  docs/framework/vue/community/community-projects.md
Due: none

Add oRPC to community projects for TanStack Query (React) (#9538)
  docs/framework/react/community/community-projects.md
Due: none

Add oRPC to community projects for TanStack Query (Vue) (#9539)
  docs/framework/vue/community/community-projects.md
Due: none

chore(tsconfig.json): simplify 'include' patterns by consolidating file extensions and directory paths
  packages/angular-query-devtools-experimental/tsconfig.json
  packages/angular-query-experimental/tsconfig.json
  packages/angular-query-persist-client/tsconfig.json
  packages/eslint-plugin-query/tsconfig.json
  packages/query-async-storage-persister/tsconfig.json
  packages/query-broadcast-client-experimental/tsconfig.json
  packages/query-codemods/tsconfig.json
  packages/query-core/tsconfig.json
  packages/query-devtools/tsconfig.json
  packages/query-persist-client-core/tsconfig.json
  packages/query-sync-storage-persister/tsconfig.json
  packages/query-test-utils/tsconfig.json
  packages/react-query-devtools/tsconfig.json
  packages/react-query-next-experimental/tsconfig.json
  packages/react-query-persist-client/tsconfig.json
  packages/react-query/tsconfig.json
  packages/solid-query-devtools/tsconfig.json
  packages/solid-query-persist-client/tsconfig.json
  packages/solid-query/tsconfig.json
  packages/svelte-query-devtools/tsconfig.json
  packages/svelte-query-persist-client/tsconfig.json
  packages/svelte-query/tsconfig.json
  packages/vue-query-devtools/tsconfig.json
  packages/vue-query/tsconfig.json
  tsconfig.json
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

Add Firefox and Edge browser extension support to devtools docs
  docs/framework/angular/devtools.md
  docs/framework/react/community/community-projects.md
  docs/framework/react/devtools.md
  docs/framework/solid/devtools.md
  docs/framework/svelte/devtools.md
  docs/framework/vue/community/community-projects.md
  docs/framework/vue/devtools.md
  media/browser-logos/chrome.svg
  media/browser-logos/edge.svg
  media/browser-logos/firefox.svg
Due: none

feat: add solid devtools panel export to solid devtools
  packages/solid-query-devtools/src/devtoolsPanel.tsx
  packages/solid-query-devtools/src/index.tsx
Due: @tanstack/solid-query-devtools

chore: update dependencies
  .github/workflows/pr.yml
  package.json
  packages/react-query-devtools/jest.setup.ts
  packages/react-query-devtools/package.json
  packages/react-query-devtools/src/Explorer.tsx
  packages/react-query-devtools/src/__tests__/devtools.test.tsx
  packages/react-query-persist-client/package.json
  packages/react-query-persist-client/src/PersistQueryClientProvider.tsx
  packages/react-query/jest.setup.ts
  packages/react-query/package.json
  packages/react-query/src/QueryClientProvider.tsx
  packages/react-query/src/__tests__/ssr-hydration.test.tsx
  pnpm-lock.yaml
Due: @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-persist-client

fix(types): improve cache-access function return types for better type safety
  packages/query-core/src/__tests__/queryClient.test.tsx
  packages/query-core/src/query.ts
  packages/query-core/src/queryCache.ts
  packages/query-core/src/queryClient.ts
  packages/query-core/src/retryer.ts
  packages/query-core/src/types.ts
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

refactor: rename resolveValueOrFunction to resolveOption for consistency
  packages/query-core/src/query.ts
  packages/query-core/src/queryClient.ts
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/retryer.ts
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

docs: Add Firefox and Edge browser extension support to devtools docs (#9548)
  docs/framework/angular/devtools.md
  docs/framework/react/community/community-projects.md
  docs/framework/react/devtools.md
  docs/framework/solid/devtools.md
  docs/framework/svelte/devtools.md
  docs/framework/vue/community/community-projects.md
  docs/framework/vue/devtools.md
  media/browser-logos/chrome.svg
  media/browser-logos/edge.svg
  media/browser-logos/firefox.svg
Due: none

refactor(queryClient): update method call to use resolveOption for improved clarity
  packages/query-core/src/queryClient.ts
Due: @tanstack/query-core

refactor: replace resolveEnabled with resolveOption for consistency
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

chore: update browser icons
  docs/framework/angular/devtools.md
  docs/framework/react/community/community-projects.md
  docs/framework/react/devtools.md
  docs/framework/solid/devtools.md
  docs/framework/svelte/devtools.md
  docs/framework/vue/community/community-projects.md
  docs/framework/vue/devtools.md
  media/browser-logos/chrome.svg
  media/browser-logos/edge.svg
  media/browser-logos/firefox.svg
Due: none

chore: update browser icons (#9555)
  docs/framework/angular/devtools.md
  docs/framework/react/community/community-projects.md
  docs/framework/react/devtools.md
  docs/framework/solid/devtools.md
  docs/framework/svelte/devtools.md
  docs/framework/vue/community/community-projects.md
  docs/framework/vue/devtools.md
  media/browser-logos/chrome.svg
  media/browser-logos/edge.svg
  media/browser-logos/firefox.svg
Due: none

Add not-prose class to browser logo images in devtools documentation
  docs/framework/angular/devtools.md
  docs/framework/react/community/community-projects.md
  docs/framework/react/devtools.md
  docs/framework/solid/devtools.md
  docs/framework/svelte/devtools.md
  docs/framework/vue/community/community-projects.md
  docs/framework/vue/devtools.md
Due: none

fix: have revertState capture manual updates
  packages/query-core/src/__tests__/streamedQuery.test.tsx
  packages/query-core/src/query.ts
Due: @tanstack/query-core

feat: add useSequentialMutations in react-query
  packages/react-query/src/index.ts
  packages/react-query/src/useSequentialMutations.ts
Due: @tanstack/react-query

refactor: add observerCount
  packages/react-query/src/useSequentialMutations.ts
Due: @tanstack/react-query

feat: useSequentialMutations test code
  packages/react-query/src/__tests__/useSequentialMutations.test.tsx
Due: @tanstack/react-query

refactor: prevent memory leak
  packages/react-query/src/useSequentialMutations.ts
Due: @tanstack/react-query

refactor: optimize snapshotRef
  packages/react-query/src/useSequentialMutations.ts
Due: @tanstack/react-query

refactor: add unmount cleaning
  packages/react-query/src/useSequentialMutations.ts
Due: @tanstack/react-query

fix knip + eslint
  packages/react-query-devtools/src/index.ts
  packages/solid-query-devtools/src/devtoolsPanel.tsx
  packages/solid-query-devtools/src/index.tsx
Due: @tanstack/react-query-devtools, @tanstack/solid-query-devtools

feat: add solid devtools panel export to solid devtools (#9551)
  packages/react-query-devtools/src/index.ts
  packages/solid-query-devtools/src/devtoolsPanel.tsx
  packages/solid-query-devtools/src/index.tsx
Due: @tanstack/react-query-devtools, @tanstack/solid-query-devtools

Path conditions:
  @tanstack/angular-query-devtools-experimental: any of: packages/angular-query-devtools-experimental/**
  @tanstack/angular-query-experimental: any of: packages/angular-query-experimental/**
  @tanstack/eslint-plugin-query: any of: packages/eslint-plugin-query/**
  @tanstack/query-async-storage-persister: any of: packages/query-async-storage-persister/**
  @tanstack/query-broadcast-client-experimental: any of: packages/query-broadcast-client-experimental/**
  @tanstack/query-codemods: any of: packages/codemods/**
  @tanstack/query-core: any of: packages/query-core/**
  @tanstack/query-devtools: any of: packages/query-devtools/**
  @tanstack/query-persist-client-core: any of: packages/query-persist-client-core/**
  @tanstack/query-sync-storage-persister: any of: packages/query-sync-storage-persister/**
  @tanstack/react-query: any of: packages/react-query/**
  @tanstack/react-query-devtools: any of: packages/react-query-devtools/**
  @tanstack/react-query-next-experimental: any of: packages/react-query-next-experimental/**
  @tanstack/react-query-persist-client: any of: packages/react-query-persist-client/**
  @tanstack/solid-query: any of: packages/solid-query/**
  @tanstack/solid-query-devtools: any of: packages/solid-query-devtools/**
  @tanstack/solid-query-persist-client: any of: packages/solid-query-persist-client/**
  @tanstack/svelte-query: any of: packages/svelte-query/**
  @tanstack/svelte-query-devtools: any of: packages/svelte-query-devtools/**
  @tanstack/svelte-query-persist-client: any of: packages/svelte-query-persist-client/**
  @tanstack/vue-query: any of: packages/vue-query/**
  @tanstack/vue-query-devtools: any of: packages/vue-query-devtools/**
