Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools, @tanstack/angular-query, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

codecov.yml:

codecov:
  max_report_age: off

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto

comment:
  layout: 'header, reach, diff, flags, components'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  hide_project_coverage: false

component_management:
  individual_components:
    - component_id: angular-query-devtools
      name: '@tanstack/angular-query-devtools'
      paths:
        - packages/angular-query-devtools/**
    - component_id: angular-query
      name: '@tanstack/angular-query'
      paths:
        - packages/angular-query/**
    - component_id: eslint-plugin-query
      name: '@tanstack/eslint-plugin-query'
      paths:
        - packages/eslint-plugin-query/**
    - component_id: query-async-storage-persister
      name: '@tanstack/query-async-storage-persister'
      paths:
        - packages/query-async-storage-persister/**
    - component_id: query-broadcast-client-experimental
      name: '@tanstack/query-broadcast-client-experimental'
      paths:
        - packages/query-broadcast-client-experimental/**
    - component_id: query-codemods
      name: '@tanstack/query-codemods'
      paths:
        - packages/query-codemods/**
    - component_id: query-core
      name: '@tanstack/query-core'
      paths:
        - packages/query-core/**
    - component_id: query-devtools
      name: '@tanstack/query-devtools'
      paths:
        - packages/query-devtools/**
    - component_id: query-persist-client-core
      name: '@tanstack/query-persist-client-core'
      paths:
        - packages/query-persist-client-core/**
    - component_id: query-sync-storage-persister
      name: '@tanstack/query-sync-storage-persister'
      paths:
        - packages/query-sync-storage-persister/**
    - component_id: query-test-utils
      name: '@tanstack/query-test-utils'
      paths:
        - packages/query-test-utils/**
    - component_id: react-query
      name: '@tanstack/react-query'
      paths:
        - packages/react-query/**
    - component_id: react-query-devtools
      name: '@tanstack/react-query-devtools'
      paths:
        - packages/react-query-devtools/**
    - component_id: react-query-next-experimental
      name: '@tanstack/react-query-next-experimental'
      paths:
        - packages/react-query-next-experimental/**
    - component_id: react-query-persist-client
      name: '@tanstack/react-query-persist-client'
      paths:
        - packages/react-query-persist-client/**
    - component_id: solid-query
      name: '@tanstack/solid-query'
      paths:
        - packages/solid-query/**
    - component_id: solid-query-devtools
      name: '@tanstack/solid-query-devtools'
      paths:
        - packages/solid-query-devtools/**
    - component_id: solid-query-persist-client
      name: '@tanstack/solid-query-persist-client'
      paths:
        - packages/solid-query-persist-client/**
    - component_id: svelte-query
      name: '@tanstack/svelte-query'
      paths:
        - packages/svelte-query/**
    - component_id: svelte-query-devtools
      name: '@tanstack/svelte-query-devtools'
      paths:
        - packages/svelte-query-devtools/**
    - component_id: svelte-query-persist-client
      name: '@tanstack/svelte-query-persist-client'
      paths:
        - packages/svelte-query-persist-client/**
    - component_id: vue-query
      name: '@tanstack/vue-query'
      paths:
        - packages/vue-query/**
    - component_id: vue-query-devtools
      name: '@tanstack/vue-query-devtools'
      paths:
        - packages/vue-query-devtools/**

test(query-devtools/contexts/ThemeContext): split 'ThemeContext' tests into a unit test file mirroring the 'src/contexts' structure (#10787)
  packages/query-devtools/src/__tests__/Devtools.test.tsx
  packages/query-devtools/src/__tests__/contexts/ThemeContext.test.tsx
Due: @tanstack/query-devtools

tests(lit-query): add test for renderResult to check type inference and return value
  packages/lit-query/src/tests/render.test.ts
Due: none

feat(lit-query): add render method to query, mutation, and infinite query controllers
  packages/lit-query/src/createInfiniteQueryController.ts
  packages/lit-query/src/createMutationController.ts
  packages/lit-query/src/createQueryController.ts
Due: none

docs(lit-query): update documentation for render method in guides
  docs/framework/lit/guides/infinite-queries.md
  docs/framework/lit/guides/mutations.md
  docs/framework/lit/guides/queries.md
Due: none

feat(lit-query): export renderResult separately
  packages/lit-query/src/index.ts
Due: none

tests(lit-query): add tests for render method in controllers
  packages/lit-query/src/tests/infinite-and-options.test.ts
  packages/lit-query/src/tests/mutation-controller.test.ts
  packages/lit-query/src/tests/query-controller.test.ts
Due: none

feat(lit-query): add renderResult utility for rendering query results based on status
  packages/lit-query/src/render.ts
Due: none

feat(useMutationState): propagate TMutation generic into select callback
  .changeset/usemutationstate-generic-tmutation.md
  packages/lit-query/src/useMutationState.ts
  packages/preact-query/src/useMutationState.ts
  packages/react-query/src/__tests__/useMutationState.test-d.tsx
  packages/react-query/src/useMutationState.ts
  packages/solid-query/src/useMutationState.ts
  packages/svelte-query/src/types.ts
  packages/svelte-query/src/useMutationState.svelte.ts
  packages/vue-query/src/useMutationState.ts
Due: @tanstack/react-query, @tanstack/solid-query, @tanstack/svelte-query, @tanstack/vue-query

fix(lit-query): return undefined when no renderer matches current status
  packages/lit-query/src/render.ts
  packages/lit-query/src/tests/infinite-and-options.test.ts
  packages/lit-query/src/tests/mutation-controller.test.ts
  packages/lit-query/src/tests/query-controller.test.ts
  packages/lit-query/src/tests/render.test.ts
Due: none

chore: bump changeset from patch to minor
  .changeset/usemutationstate-generic-tmutation.md
Due: none

docs(useMutationState): add JSDoc to TMutation generic across all adapters
  packages/lit-query/src/useMutationState.ts
  packages/preact-query/src/useMutationState.ts
  packages/svelte-query/src/types.ts
Due: @tanstack/svelte-query

chore: add changeset
  .changeset/crisp-sloths-sneeze.md
Due: none

fix(lit-query): use type imports
  packages/lit-query/src/createInfiniteQueryController.ts
  packages/lit-query/src/createMutationController.ts
  packages/lit-query/src/createQueryController.ts
Due: none

chore(lit-query): use optional chaining instead of ternary in renderResult
  packages/lit-query/src/render.ts
Due: none

Fix(lit-query): prevent redundant host updates (#10789)
  .changeset/lit-query-tracked-updates.md
  packages/lit-query/src/controllers/BaseController.ts
  packages/lit-query/src/createInfiniteQueryController.ts
  packages/lit-query/src/createQueriesController.ts
  packages/lit-query/src/createQueryController.ts
  packages/lit-query/src/queryObserverResultTracker.ts
  packages/lit-query/src/tests/counters-and-state.test.ts
  packages/lit-query/src/tests/infinite-and-options.test.ts
  packages/lit-query/src/tests/queries-controller.test.ts
  packages/lit-query/src/tests/query-controller.test.ts
  packages/lit-query/src/useMutationState.ts
Due: none

ci(detect-agent): remove the detect-agent workflow (#10781)
  .github/workflows/detect-agent.yml
Due: none

test(query-devtools/contexts/QueryDevtoolsContext): add test for 'Provider' value reactivity via getter properties
  packages/query-devtools/src/__tests__/contexts/QueryDevtoolsContext.test.tsx
Due: @tanstack/query-devtools

test(query-devtools/contexts/ThemeContext): drop the 'Provider' value pass-through case in favor of the reactive 'Accessor' case
  packages/query-devtools/src/__tests__/contexts/ThemeContext.test.tsx
Due: @tanstack/query-devtools

test(query-devtools/contexts/ThemeContext): drop the 'Provider' value pass-through case in favor of the reactive 'Accessor' case (#10794)
  packages/query-devtools/src/__tests__/contexts/ThemeContext.test.tsx
Due: @tanstack/query-devtools

fix(query-core): treat undefined object properties as missing in partialMatchKey
  packages/query-core/src/__tests__/utils.test.tsx
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

test(query-devtools/contexts/QueryDevtoolsContext): clear 'QueryClient' instances after the reactive getter test
  packages/query-devtools/src/__tests__/contexts/QueryDevtoolsContext.test.tsx
Due: @tanstack/query-devtools

test(query-devtools/contexts/QueryDevtoolsContext): add test for 'Provider' value reactivity via getter properties (#10793)
  packages/query-devtools/src/__tests__/contexts/QueryDevtoolsContext.test.tsx
Due: @tanstack/query-devtools

test(query-devtools/contexts/PiPContext): add test for 'usePiPWindow' throwing outside a 'PiPProvider'
  packages/query-devtools/src/__tests__/contexts/PiPContext.test.tsx
Due: @tanstack/query-devtools

test(query-devtools/contexts/PiPContext): add test for 'usePiPWindow' throwing outside a 'PiPProvider' (#10796)
  packages/query-devtools/src/__tests__/contexts/PiPContext.test.tsx
Due: @tanstack/query-devtools

test(query-devtools/contexts/PiPContext): add tests for 'requestPipWindow' opening a PiP window and persisting 'pip_open'
  packages/query-devtools/src/__tests__/contexts/PiPContext.test.tsx
Due: @tanstack/query-devtools

test(query-devtools/contexts/PiPContext): add tests for 'requestPipWindow' opening a PiP window and persisting 'pip_open' (#10797)
  packages/query-devtools/src/__tests__/contexts/PiPContext.test.tsx
Due: @tanstack/query-devtools

test(query-devtools/contexts/PiPContext): add tests for 'requestPipWindow' resetting the PiP document title, body margin, and head/body contents
  packages/query-devtools/src/__tests__/contexts/PiPContext.test.tsx
Due: @tanstack/query-devtools

fix(devtools): isolate panel state per QueryDevtools instance
  packages/query-devtools/src/Devtools.tsx
  packages/query-devtools/src/DevtoolsComponent.tsx
  packages/query-devtools/src/DevtoolsPanelComponent.tsx
Due: @tanstack/query-devtools

fix(devtools): use Accessor types and fix QueryStatus context access
  packages/query-devtools/src/Devtools.tsx
Due: @tanstack/query-devtools

test(query-devtools/contexts/PiPContext): add tests for 'requestPipWindow' resetting the PiP document title, body margin, and head/body contents (#10798)
  packages/query-devtools/src/__tests__/contexts/PiPContext.test.tsx
Due: @tanstack/query-devtools

test(query-devtools/contexts/PiPContext): add tests for 'requestPipWindow' copying parent stylesheets into the PiP document head
  packages/query-devtools/src/__tests__/contexts/PiPContext.test.tsx
Due: @tanstack/query-devtools

test(query-devtools/contexts/PiPContext): add tests for 'requestPipWindow' copying parent stylesheets into the PiP document head (#10800)
  packages/query-devtools/src/__tests__/contexts/PiPContext.test.tsx
Due: @tanstack/query-devtools

test(query-devtools/contexts/PiPContext): add test for the 'pagehide' listener resetting the 'pipWindow' signal and 'pip_open'
  packages/query-devtools/src/__tests__/contexts/PiPContext.test.tsx
Due: @tanstack/query-devtools

test(query-devtools/contexts/PiPContext): add test for the 'pagehide' listener resetting the 'pipWindow' signal and 'pip_open' (#10801)
  packages/query-devtools/src/__tests__/contexts/PiPContext.test.tsx
Due: @tanstack/query-devtools

test(query-devtools/contexts/PiPContext): add tests for 'closePipWindow' guard and reset
  packages/query-devtools/src/__tests__/contexts/PiPContext.test.tsx
Due: @tanstack/query-devtools

test(query-devtools/contexts/PiPContext): add tests for 'closePipWindow' guard and reset (#10802)
  packages/query-devtools/src/__tests__/contexts/PiPContext.test.tsx
Due: @tanstack/query-devtools

test(query-devtools/contexts/PiPContext): add tests for the 'pip_open' auto-open createEffect
  packages/query-devtools/src/__tests__/contexts/PiPContext.test.tsx
Due: @tanstack/query-devtools

refactor(broadcast-client): improve types, messages, and docs
  docs/framework/react/plugins/broadcastQueryClient.md
  packages/query-broadcast-client-experimental/src/__tests__/index.test.ts
  packages/query-broadcast-client-experimental/src/index.ts
Due: @tanstack/query-broadcast-client-experimental

test(query-devtools/contexts/PiPContext): add tests for the 'pip_open' auto-open createEffect (#10803)
  packages/query-devtools/src/__tests__/contexts/PiPContext.test.tsx
Due: @tanstack/query-devtools

test(broadcast-client): assert warn message when onBroadcastError throws or rejects
  packages/query-broadcast-client-experimental/src/__tests__/index.test.ts
Due: @tanstack/query-broadcast-client-experimental
