Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 1%

comment:
  layout: 'header, reach, diff, flags, components'

component_management:
  individual_components:
    - component_id: angular-query-devtools-experimental
      name: '@tanstack/angular-query-devtools-experimental'
      paths:
        - packages/angular-query-devtools-experimental/**
    - component_id: angular-query-experimental
      name: '@tanstack/angular-query-experimental'
      paths:
        - packages/angular-query-experimental/**
    - component_id: eslint-plugin-query
      name: '@tanstack/eslint-plugin-query'
      paths:
        - packages/eslint-plugin-query/**
    - component_id: query-async-storage-persister
      name: '@tanstack/query-async-storage-persister'
      paths:
        - packages/query-async-storage-persister/**
    - component_id: query-broadcast-client-experimental
      name: '@tanstack/query-broadcast-client-experimental'
      paths:
        - packages/query-broadcast-client-experimental/**
    - component_id: query-codemods
      name: '@tanstack/query-codemods'
      paths:
        - packages/codemods/**
    - component_id: query-core
      name: '@tanstack/query-core'
      paths:
        - packages/query-core/**
    - component_id: query-devtools
      name: '@tanstack/query-devtools'
      paths:
        - packages/query-devtools/**
    - component_id: query-persist-client-core
      name: '@tanstack/query-persist-client-core'
      paths:
        - packages/query-persist-client-core/**
    - component_id: query-sync-storage-persister
      name: '@tanstack/query-sync-storage-persister'
      paths:
        - packages/query-sync-storage-persister/**
    - component_id: react-query
      name: '@tanstack/react-query'
      paths:
        - packages/react-query/**
    - component_id: react-query-devtools
      name: '@tanstack/react-query-devtools'
      paths:
        - packages/react-query-devtools/**
    - component_id: react-query-next-experimental
      name: '@tanstack/react-query-next-experimental'
      paths:
        - packages/react-query-next-experimental/**
    - component_id: react-query-persist-client
      name: '@tanstack/react-query-persist-client'
      paths:
        - packages/react-query-persist-client/**
    - component_id: solid-query
      name: '@tanstack/solid-query'
      paths:
        - packages/solid-query/**
    - component_id: solid-query-devtools
      name: '@tanstack/solid-query-devtools'
      paths:
        - packages/solid-query-devtools/**
    - component_id: solid-query-persist-client
      name: '@tanstack/solid-query-persist-client'
      paths:
        - packages/solid-query-persist-client/**
    - component_id: svelte-query
      name: '@tanstack/svelte-query'
      paths:
        - packages/svelte-query/**
    - component_id: svelte-query-devtools
      name: '@tanstack/svelte-query-devtools'
      paths:
        - packages/svelte-query-devtools/**
    - component_id: svelte-query-persist-client
      name: '@tanstack/svelte-query-persist-client'
      paths:
        - packages/svelte-query-persist-client/**
    - component_id: vue-query
      name: '@tanstack/vue-query'
      paths:
        - packages/vue-query/**
    - component_id: vue-query-devtools
      name: '@tanstack/vue-query-devtools'
      paths:
        - packages/vue-query-devtools/**

feat(query-core): add custom reducer support to streamedQuery (#9532)
  docs/reference/streamedQuery.md
  packages/query-core/src/__tests__/streamedQuery.test.tsx
  packages/query-core/src/streamedQuery.ts
Due: @tanstack/query-core

fix: docs
  docs/reference/streamedQuery.md
Due: none

ref: rename queryFn to streamFn in streamedQuery (#9606)
  docs/reference/streamedQuery.md
  examples/react/chat/src/chat.ts
  packages/query-core/src/__tests__/streamedQuery.test.tsx
  packages/query-core/src/streamedQuery.ts
Due: @tanstack/query-core

fix(query-core): mutation onSuccess scope param should also be undefined
  packages/query-core/src/types.ts
Due: @tanstack/query-core

feat: add scope deprecate context on mutation state
  packages/query-core/src/__tests__/mutations.test.tsx
  packages/query-core/src/mutation.ts
  packages/query-core/src/mutationObserver.ts
  packages/query-devtools/src/Devtools.tsx
Due: @tanstack/query-core, @tanstack/query-devtools

docs(angular-query): update Angular Zoneless doc
  docs/framework/angular/angular-httpclient-and-other-data-fetching-clients.md
  docs/framework/angular/zoneless.md
Due: none

docs(angular-query): update Angular Zoneless doc (#9616)
  docs/framework/angular/angular-httpclient-and-other-data-fetching-clients.md
  docs/framework/angular/zoneless.md
Due: none

fix: export systemSetTimeoutZero from core
  packages/query-core/src/index.ts
Due: @tanstack/query-core

ref: use notifyManager.schedule in createPersister
  packages/query-core/src/index.ts
  packages/query-persist-client-core/src/createPersister.ts
Due: @tanstack/query-core, @tanstack/query-persist-client-core

ref: move provider check behind env check
  packages/query-core/src/timeoutManager.ts
Due: @tanstack/query-core

feat(query-core): add mutation context to all mutation callbacks
  docs/framework/angular/guides/mutations.md
  docs/framework/angular/guides/optimistic-updates.md
  docs/framework/react/guides/mutations.md
  docs/framework/react/guides/optimistic-updates.md
  examples/react/optimistic-updates-cache/src/pages/index.tsx
  packages/query-core/src/mutation.ts
  packages/query-core/src/mutationObserver.ts
  packages/query-core/src/types.ts
  packages/react-query/src/__tests__/mutationOptions.test-d.tsx
Due: @tanstack/query-core, @tanstack/react-query

Update docs
  docs/framework/angular/angular-version-compatibility.md
Due: none

chore: pr amends
  docs/framework/angular/guides/mutations.md
  docs/framework/react/guides/mutations.md
  docs/framework/react/reference/useMutation.md
  packages/angular-query-experimental/src/__tests__/mutation-options.test-d.ts
  packages/query-core/src/mutation.ts
Due: @tanstack/angular-query-experimental, @tanstack/query-core

test(unit): update to handle context in mutation callbacks
  packages/query-core/src/__tests__/hydration.test.tsx
  packages/query-core/src/__tests__/mutationObserver.test.tsx
  packages/query-core/src/__tests__/mutations.test.tsx
  packages/react-query/src/__tests__/useMutation.test.tsx
  packages/solid-query/src/__tests__/useMutation.test.tsx
Due: @tanstack/query-core, @tanstack/react-query, @tanstack/solid-query

docs
  docs/config.json
  docs/reference/timeoutManager.md
Due: none

doc tweaks
  docs/reference/timeoutManager.md
Due: none

docs: reference timeoutManager in discussion of 24 day setTimout limit
  docs/framework/react/plugins/persistQueryClient.md
  docs/framework/react/reference/useMutation.md
  docs/framework/react/reference/useQuery.md
  docs/framework/solid/reference/useQuery.md
Due: none

fix(react-query): prevent double-fetching on subsequent visits with HydrationBoundary
  packages/query-core/src/queryObserver.ts
  packages/react-query/src/HydrationBoundary.tsx
  packages/react-query/src/__tests__/HydrationBoundary.test.tsx
Due: @tanstack/query-core, @tanstack/react-query

fix(query-core): handle function form of refetchOnMount in hydration optimization
  packages/query-core/src/queryObserver.ts
  packages/react-query/src/HydrationBoundary.tsx
  packages/react-query/src/__tests__/HydrationBoundary.test.tsx
Due: @tanstack/query-core, @tanstack/react-query

fix(query-core): prevent duplicate function calls in refetchOnMount resolution
  packages/query-core/src/queryObserver.ts
Due: @tanstack/query-core

test(query-core): add unit tests for hydration flag behavior in QueryObserver
  packages/query-core/src/__tests__/queryObserver.test.tsx
Due: @tanstack/query-core

test(query-core): add query existence checks and verify cached data usage
  packages/query-core/src/__tests__/queryObserver.test.tsx
Due: @tanstack/query-core

fix(query-core): fix combine function cache invalidation with stable reference
  packages/query-core/src/queriesObserver.ts
  packages/react-query/src/__tests__/combine-memo.test.tsx
Due: @tanstack/query-core, @tanstack/react-query

test(query-core): test file renaming
  packages/react-query/src/__tests__/useQueries-combine.test.tsx
Due: @tanstack/react-query

docs(query-core): add clarifying comments for combine cache fix
  packages/query-core/src/queriesObserver.ts
  packages/react-query/src/__tests__/useQueries-combine.test.tsx
Due: @tanstack/query-core, @tanstack/react-query

test(query-core): add test coverage for combine cache invalidation fix
  packages/query-core/src/__tests__/queriesObserver.test.tsx
Due: @tanstack/query-core

Remove fragment in disabling-queries guide
  docs/framework/react/guides/disabling-queries.md
Due: none

test(query-core): improve combine cache test with stricter assertions
  packages/query-core/src/__tests__/queriesObserver.test.tsx
Due: @tanstack/query-core

Apply suggestion from @TkDodo
  docs/reference/timeoutManager.md
Due: none

chore: fix broken links
  docs/framework/react/plugins/persistQueryClient.md
  docs/framework/react/reference/useMutation.md
  docs/framework/react/reference/useQuery.md
  docs/framework/solid/reference/useQuery.md
Due: none

docs: syntax fix
  docs/framework/solid/reference/useQuery.md
Due: none

feat(query-core): add timeoutManager to allow changing setTimeout/setInterval (#9612)
  docs/config.json
  docs/framework/react/plugins/persistQueryClient.md
  docs/framework/react/reference/useMutation.md
  docs/framework/react/reference/useQuery.md
  docs/framework/solid/reference/useQuery.md
  docs/reference/timeoutManager.md
  packages/query-async-storage-persister/package.json
  packages/query-async-storage-persister/src/asyncThrottle.ts
  packages/query-core/src/__tests__/timeoutManager.test.tsx
  packages/query-core/src/index.ts
  packages/query-core/src/notifyManager.ts
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/removable.ts
  packages/query-core/src/timeoutManager.ts
  packages/query-core/src/utils.ts
  packages/query-persist-client-core/src/createPersister.ts
  packages/query-sync-storage-persister/src/index.ts
  pnpm-lock.yaml
Due: @tanstack/query-async-storage-persister, @tanstack/query-core, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister

fix(query-core): update initialData when an observer mounts while a Query without data exists
  packages/query-core/src/__tests__/query.test.tsx
  packages/query-core/src/query.ts
Due: @tanstack/query-core

fix: fix issue with solid devtools
  packages/solid-query-devtools/src/devtoolsPanel.tsx
Due: @tanstack/solid-query-devtools

fix(query-core): update initialData when an observer mounts while a Query without data exists (#9620)
  packages/query-core/src/__tests__/query.test.tsx
  packages/query-core/src/query.ts
Due: @tanstack/query-core

fix: add correct jsx typing from solid
  packages/solid-query-devtools/src/devtoolsPanel.tsx
Due: @tanstack/solid-query-devtools
