Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

refactor(eslint): simplify vitest rules configuration by removing redundant require-await rule
  eslint.config.js
Due: none

chore: add typescript-eslint/require-await rule (#9116)
  eslint.config.js
  packages/angular-query-experimental/src/__tests__/inject-infinite-query.test-d.ts
  packages/query-broadcast-client-experimental/src/__tests__/index.test.ts
  packages/query-codemods/eslint.config.js
  packages/query-core/src/__tests__/queryObserver.test.tsx
  packages/react-query/src/__tests__/useQuery.test-d.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/angular-query-experimental, @tanstack/query-broadcast-client-experimental, @tanstack/query-core, @tanstack/react-query

chore(query-codemods): remove typescript-eslint/require-await off rule
  packages/query-codemods/eslint.config.js
Due: none

Update comparison.md: mark RTK Query as supporting infinite queries
  docs/framework/react/comparison.md
Due: none

refactor: exchange react-query noop to query-core noop
  packages/query-core/src/index.ts
  packages/react-query/src/useBaseQuery.ts
  packages/react-query/src/useMutation.ts
  packages/react-query/src/useQueries.ts
  packages/react-query/src/utils.ts
Due: @tanstack/query-core, @tanstack/react-query

docs(react-query): ensure suspense example fallback renders correctly (#9119)
  examples/react/suspense/src/index.tsx
Due: none

refactor: remove "noop" in "angular-query-experimental" package
  packages/angular-query-experimental/src/inject-mutation.ts
  packages/angular-query-experimental/src/providers.ts
  packages/angular-query-experimental/src/util/index.ts
  packages/query-core/src/index.ts
Due: @tanstack/angular-query-experimental, @tanstack/query-core

refactor: remove unnecessary "noop" function
  packages/solid-query/src/utils.ts
  packages/svelte-query/src/utils.ts
Due: @tanstack/solid-query, @tanstack/svelte-query

refactor: remove all noop expect which in query-core package
  packages/query-async-storage-persister/package.json
  packages/query-async-storage-persister/src/asyncThrottle.ts
  packages/query-async-storage-persister/src/index.ts
  packages/query-async-storage-persister/src/utils.ts
  packages/query-core/src/utils.ts
  packages/query-sync-storage-persister/src/index.ts
  packages/query-sync-storage-persister/src/utils.ts
  packages/solid-query/src/useMutation.ts
  packages/solid-query/src/useQueries.ts
  pnpm-lock.yaml
Due: @tanstack/query-async-storage-persister, @tanstack/query-core, @tanstack/query-sync-storage-persister, @tanstack/solid-query

fix(solid-query): plus noop type
  packages/query-core/src/utils.ts
  packages/solid-query/src/useQueries.ts
Due: @tanstack/query-core, @tanstack/solid-query

fix: fix import error
  packages/svelte-query/src/createBaseQuery.ts
  packages/svelte-query/src/createMutation.ts
  packages/svelte-query/src/createQueries.ts
Due: @tanstack/svelte-query

fix(query-async-storage-persister): sort dependencies alphabetically
  packages/query-async-storage-persister/package.json
Due: @tanstack/query-async-storage-persister

Update README.md
  README.md
Due: none

feature(angular-query): support providing QueryClient via an InjectionToken
  packages/angular-query-experimental/src/__tests__/provide-query-client.test.ts
  packages/angular-query-experimental/src/__tests__/provide-tanstack-query.test.ts
  packages/angular-query-experimental/src/providers.ts
Due: @tanstack/angular-query-experimental

feature(angular-query): support providing QueryClient via an InjectionToken (#9128)
  packages/angular-query-experimental/src/__tests__/provide-query-client.test.ts
  packages/angular-query-experimental/src/__tests__/provide-tanstack-query.test.ts
  packages/angular-query-experimental/src/providers.ts
Due: @tanstack/angular-query-experimental

feat(query-core): made "shouldThrowError" function
  packages/query-core/src/index.ts
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

refactor(react-query): apply "shouldThrowError" function in react-query package
  packages/react-query/src/errorBoundaryUtils.ts
  packages/react-query/src/useMutation.ts
  packages/react-query/src/utils.ts
Due: @tanstack/react-query

refactor(angular-query-experimental): apply "shouldThrowError" function
  packages/angular-query-experimental/src/create-base-query.ts
  packages/angular-query-experimental/src/inject-mutation.ts
  packages/angular-query-experimental/src/util/index.ts
Due: @tanstack/angular-query-experimental

refactor(solid-query): apply "shouldThrowError" function
  packages/solid-query/src/useBaseQuery.ts
  packages/solid-query/src/useMutation.ts
  packages/solid-query/src/utils.ts
Due: @tanstack/solid-query

refactor(vue-query): apply "shouldThrowError" function
  packages/vue-query/src/useBaseQuery.ts
  packages/vue-query/src/useMutation.ts
  packages/vue-query/src/utils.ts
Due: @tanstack/vue-query

test: add shouldThrowError function test
  packages/query-core/src/__tests__/utils.test.tsx
Due: @tanstack/query-core

fix(docs): remove unnecessary text
  README.md
Due: none

docs: remove unnecessary text (#9131)
  README.md
Due: none

refactor: integration should throw error (#9130)
  packages/angular-query-experimental/src/create-base-query.ts
  packages/angular-query-experimental/src/inject-mutation.ts
  packages/angular-query-experimental/src/util/index.ts
  packages/query-core/src/__tests__/utils.test.tsx
  packages/query-core/src/index.ts
  packages/query-core/src/utils.ts
  packages/react-query/src/errorBoundaryUtils.ts
  packages/react-query/src/useMutation.ts
  packages/react-query/src/utils.ts
  packages/solid-query/src/useBaseQuery.ts
  packages/solid-query/src/useMutation.ts
  packages/solid-query/src/utils.ts
  packages/vue-query/src/useBaseQuery.ts
  packages/vue-query/src/useMutation.ts
  packages/vue-query/src/utils.ts
Due: @tanstack/angular-query-experimental, @tanstack/query-core, @tanstack/react-query, @tanstack/solid-query, @tanstack/vue-query

docs(comparison): mark RTK Query as supporting infinite queries (#9120)
  docs/framework/react/comparison.md
Due: none

docs: for QueryCache, list subscribe events
  docs/reference/QueryCache.md
Due: none

fix: resolve import error
  packages/react-query/src/useMutation.ts
  packages/react-query/src/utils.ts
Due: @tanstack/react-query

fix: remove unused files
  packages/angular-query-experimental/src/util/index.ts
  packages/solid-query/src/utils.ts
Due: @tanstack/angular-query-experimental, @tanstack/solid-query

refactor(react-query): exchange react-query noop to query-core noop (#9122)
  packages/query-core/src/index.ts
  packages/react-query/src/useBaseQuery.ts
  packages/react-query/src/useMutation.ts
  packages/react-query/src/useQueries.ts
  packages/react-query/src/utils.ts
Due: @tanstack/query-core, @tanstack/react-query

fix(angular-query): allow providing on element injectors
  packages/angular-query-experimental/src/providers.ts
Due: @tanstack/angular-query-experimental

fix(angular-query): allow providing on element injectors (#9134)
  packages/angular-query-experimental/src/providers.ts
Due: @tanstack/angular-query-experimental

release: v5.75.8
  examples/angular/auto-refetching/package.json
  examples/angular/basic-persister/package.json
  examples/angular/basic/package.json
  examples/angular/devtools-panel/package.json
  examples/angular/infinite-query-with-max-pages/package.json
  examples/angular/optimistic-updates/package.json
  examples/angular/pagination/package.json
  examples/angular/query-options-from-a-service/package.json
  examples/angular/router/package.json
  examples/angular/rxjs/package.json
  examples/angular/simple/package.json
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/package.json
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental

feat(core): StaleTime.Static
  packages/query-core/src/index.ts
  packages/query-core/src/query.ts
  packages/query-core/src/queryClient.ts
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/staleTime.ts
  packages/query-core/src/types.ts
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

fix: consider StaleTime.Static for invalidation
  packages/query-core/src/queryClient.ts
Due: @tanstack/query-core

fix: isStale order check
  packages/query-core/src/query.ts
Due: @tanstack/query-core

fix: isStaleByTime logic
  packages/query-core/src/query.ts
Due: @tanstack/query-core

Path conditions:
  @tanstack/angular-query-devtools-experimental: any of: packages/angular-query-devtools-experimental/**
  @tanstack/angular-query-experimental: any of: packages/angular-query-experimental/**
  @tanstack/eslint-plugin-query: any of: packages/eslint-plugin-query/**
  @tanstack/query-async-storage-persister: any of: packages/query-async-storage-persister/**
  @tanstack/query-broadcast-client-experimental: any of: packages/query-broadcast-client-experimental/**
  @tanstack/query-codemods: any of: packages/codemods/**
  @tanstack/query-core: any of: packages/query-core/**
  @tanstack/query-devtools: any of: packages/query-devtools/**
  @tanstack/query-persist-client-core: any of: packages/query-persist-client-core/**
  @tanstack/query-sync-storage-persister: any of: packages/query-sync-storage-persister/**
  @tanstack/react-query: any of: packages/react-query/**
  @tanstack/react-query-devtools: any of: packages/react-query-devtools/**
  @tanstack/react-query-next-experimental: any of: packages/react-query-next-experimental/**
  @tanstack/react-query-persist-client: any of: packages/react-query-persist-client/**
  @tanstack/solid-query: any of: packages/solid-query/**
  @tanstack/solid-query-devtools: any of: packages/solid-query-devtools/**
  @tanstack/solid-query-persist-client: any of: packages/solid-query-persist-client/**
  @tanstack/svelte-query: any of: packages/svelte-query/**
  @tanstack/svelte-query-devtools: any of: packages/svelte-query-devtools/**
  @tanstack/svelte-query-persist-client: any of: packages/svelte-query-persist-client/**
  @tanstack/vue-query: any of: packages/vue-query/**
  @tanstack/vue-query-devtools: any of: packages/vue-query-devtools/**
