Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 1%

comment:
  layout: 'header, reach, diff, flags, components'

component_management:
  individual_components:
    - component_id: angular-query-devtools-experimental
      name: '@tanstack/angular-query-devtools-experimental'
      paths:
        - packages/angular-query-devtools-experimental/**
    - component_id: angular-query-experimental
      name: '@tanstack/angular-query-experimental'
      paths:
        - packages/angular-query-experimental/**
    - component_id: eslint-plugin-query
      name: '@tanstack/eslint-plugin-query'
      paths:
        - packages/eslint-plugin-query/**
    - component_id: query-async-storage-persister
      name: '@tanstack/query-async-storage-persister'
      paths:
        - packages/query-async-storage-persister/**
    - component_id: query-broadcast-client-experimental
      name: '@tanstack/query-broadcast-client-experimental'
      paths:
        - packages/query-broadcast-client-experimental/**
    - component_id: query-codemods
      name: '@tanstack/query-codemods'
      paths:
        - packages/codemods/**
    - component_id: query-core
      name: '@tanstack/query-core'
      paths:
        - packages/query-core/**
    - component_id: query-devtools
      name: '@tanstack/query-devtools'
      paths:
        - packages/query-devtools/**
    - component_id: query-persist-client-core
      name: '@tanstack/query-persist-client-core'
      paths:
        - packages/query-persist-client-core/**
    - component_id: query-sync-storage-persister
      name: '@tanstack/query-sync-storage-persister'
      paths:
        - packages/query-sync-storage-persister/**
    - component_id: react-query
      name: '@tanstack/react-query'
      paths:
        - packages/react-query/**
    - component_id: react-query-devtools
      name: '@tanstack/react-query-devtools'
      paths:
        - packages/react-query-devtools/**
    - component_id: react-query-next-experimental
      name: '@tanstack/react-query-next-experimental'
      paths:
        - packages/react-query-next-experimental/**
    - component_id: react-query-persist-client
      name: '@tanstack/react-query-persist-client'
      paths:
        - packages/react-query-persist-client/**
    - component_id: solid-query
      name: '@tanstack/solid-query'
      paths:
        - packages/solid-query/**
    - component_id: solid-query-devtools
      name: '@tanstack/solid-query-devtools'
      paths:
        - packages/solid-query-devtools/**
    - component_id: solid-query-persist-client
      name: '@tanstack/solid-query-persist-client'
      paths:
        - packages/solid-query-persist-client/**
    - component_id: svelte-query
      name: '@tanstack/svelte-query'
      paths:
        - packages/svelte-query/**
    - component_id: svelte-query-devtools
      name: '@tanstack/svelte-query-devtools'
      paths:
        - packages/svelte-query-devtools/**
    - component_id: svelte-query-persist-client
      name: '@tanstack/svelte-query-persist-client'
      paths:
        - packages/svelte-query-persist-client/**
    - component_id: vue-query
      name: '@tanstack/vue-query'
      paths:
        - packages/vue-query/**
    - component_id: vue-query-devtools
      name: '@tanstack/vue-query-devtools'
      paths:
        - packages/vue-query-devtools/**

test(core): verify mutations meta in cache with multiple mutations
  packages/query-core/src/tests/mutationObserver.test.tsx
Due: @tanstack/query-core

fix(vue-query): add correct type to ensureQueryData (#7107)
  packages/vue-query/src/queryClient.ts
Due: @tanstack/vue-query

release: v5.28.1
  examples/vue/2.6-basic/package.json
  examples/vue/basic/package.json
  examples/vue/dependent-queries/package.json
  examples/vue/nuxt3/package.json
  examples/vue/persister/package.json
  examples/vue/simple/package.json
  packages/vue-query-devtools/package.json
  packages/vue-query/package.json
  pnpm-lock.yaml
Due: @tanstack/vue-query, @tanstack/vue-query-devtools

style(core): prettier formatting
  packages/query-core/src/mutationObserver.ts
  packages/query-core/src/tests/mutationObserver.test.tsx
Due: @tanstack/query-core

fix(core): do not update completed mutations (#7104)
  packages/query-core/src/mutationObserver.ts
  packages/query-core/src/tests/mutationObserver.test.tsx
Due: @tanstack/query-core

fix(query-devtools): Fix PiP mode styles with shadow dom
  examples/react/shadow-dom/src/DogList.tsx
  packages/query-devtools/src/Devtools.tsx
Due: @tanstack/query-devtools

fix(query-devtools): Fix PiP mode styles with shadow dom (#7112)
  examples/react/shadow-dom/src/DogList.tsx
  packages/query-devtools/src/Devtools.tsx
Due: @tanstack/query-devtools

fix(core): optimistic results reflect correct state
  packages/query-core/src/query.ts
  packages/query-core/src/queryObserver.ts
  packages/react-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/query-core, @tanstack/react-query

chore: comment
  packages/react-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/react-query

fix(core): optimistic results reflect correct state (#7114)
  packages/query-core/src/query.ts
  packages/query-core/src/queryObserver.ts
  packages/react-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/query-core, @tanstack/react-query

refactor: add scope to mutationCache internally
  packages/query-core/src/mutationCache.ts
  packages/query-core/src/types.ts
Due: @tanstack/query-core

refactor: remove unused defaultOptions on mutation
  packages/query-core/src/mutation.ts
Due: @tanstack/query-core

feat: make sure to not run mutations if there is already one running in the scope of this mutation
  packages/query-core/src/mutation.ts
  packages/query-core/src/mutationCache.ts
  packages/query-core/src/retryer.ts
  packages/query-core/src/tests/queryClient.test.tsx
Due: @tanstack/query-core

ci(.github/workflow): update codecov version
  .github/workflows/ci.yml
  .github/workflows/pr.yml
Due: none

feat: make sure mutations in the same scope can run in serial
  packages/query-core/src/mutation.ts
  packages/query-core/src/mutationCache.ts
  packages/query-core/src/query.ts
  packages/query-core/src/retryer.ts
  packages/query-core/src/tests/mutations.test.tsx
Due: @tanstack/query-core

fix: find a _lot_ better way to determine if a mutation can run
  packages/query-core/src/mutation.ts
  packages/query-core/src/mutationCache.ts
  packages/query-core/src/query.ts
  packages/query-core/src/retryer.ts
  packages/query-core/src/tests/queryClient.test.tsx
Due: @tanstack/query-core

test: widen test scenario to include scopes
  packages/query-core/src/tests/queryClient.test.tsx
Due: @tanstack/query-core

ci(*): add attw --pack for all packages
  nx.json
  package.json
  packages/angular-query-devtools-experimental/.attw.json
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/.attw.json
  packages/angular-query-experimental/package.json
  packages/eslint-plugin-query/package.json
  packages/query-async-storage-persister/package.json
  packages/query-broadcast-client-experimental/package.json
  packages/query-core/package.json
  packages/query-devtools/package.json
  packages/query-persist-client-core/package.json
  packages/query-sync-storage-persister/package.json
  packages/react-query-devtools/.attw.json
  packages/react-query-devtools/package.json
  packages/react-query-next-experimental/package.json
  packages/react-query-persist-client/package.json
  packages/react-query/package.json
  packages/solid-query-devtools/package.json
  packages/solid-query-persist-client/package.json
  packages/solid-query/package.json
  packages/svelte-query-devtools/.attw.json
  packages/svelte-query-devtools/package.json
  packages/svelte-query-persist-client/.attw.json
  packages/svelte-query-persist-client/package.json
  packages/svelte-query/.attw.json
  packages/svelte-query/package.json
  packages/vue-query-devtools/.attw.json
  packages/vue-query-devtools/package.json
  packages/vue-query/package.json
  pnpm-lock.yaml
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

refactor(query-core): directory consistently
  packages/query-core/src/__tests__/focusManager.test.tsx
  packages/query-core/src/__tests__/hydration.test.tsx
  packages/query-core/src/__tests__/infiniteQueryBehavior.test.tsx
  packages/query-core/src/__tests__/infiniteQueryObserver.test-d.tsx
  packages/query-core/src/__tests__/infiniteQueryObserver.test.tsx
  packages/query-core/src/__tests__/mutationCache.test.tsx
  packages/query-core/src/__tests__/mutationObserver.test.tsx
  packages/query-core/src/__tests__/mutations.test.tsx
  packages/query-core/src/__tests__/notifyManager.test.tsx
  packages/query-core/src/__tests__/onlineManager.test.tsx
  packages/query-core/src/__tests__/queriesObserver.test.tsx
  packages/query-core/src/__tests__/query.test.tsx
  packages/query-core/src/__tests__/queryCache.test.tsx
  packages/query-core/src/__tests__/queryClient.test-d.tsx
  packages/query-core/src/__tests__/queryClient.test.tsx
  packages/query-core/src/__tests__/queryObserver.test-d.tsx
  packages/query-core/src/__tests__/queryObserver.test.tsx
  packages/query-core/src/__tests__/utils.test.tsx
  packages/query-core/src/__tests__/utils.ts
Due: @tanstack/query-core

ci(*): use matrix
  .github/workflows/pr.yml
Due: none

chore: update
  .github/workflows/pr.yml
Due: none

ci(*): remove parallel in pr workflow
  .github/workflows/pr.yml
Due: none

fix: there is a difference between starting and continuing
  packages/query-core/src/mutation.ts
  packages/query-core/src/mutationCache.ts
  packages/query-core/src/query.ts
  packages/query-core/src/retryer.ts
  packages/react-query/src/__tests__/useMutation.test.tsx
Due: @tanstack/query-core, @tanstack/react-query

ci(*): add husky + lint-staged + prettier to reduce chance to meet test:format error
  .husky/pre-commit
  .lintstagedrc
  .prettierignore
  package.json
  pnpm-lock.yaml
Due: none

refactor: switch to a scope object with `id`
  packages/query-core/src/mutationCache.ts
  packages/query-core/src/tests/mutations.test.tsx
  packages/query-core/src/tests/queryClient.test.tsx
  packages/query-core/src/types.ts
Due: @tanstack/query-core

feat: dehydrate and hydrate mutation scope
  packages/query-core/src/hydration.ts
  packages/query-core/src/types.ts
Due: @tanstack/query-core

fix: initiate the mutationCache with a random number
  packages/query-core/src/mutationCache.ts
Due: @tanstack/query-core

test: hydration
  packages/query-core/src/tests/hydration.test.tsx
Due: @tanstack/query-core

ci(.github/workflow): update codecov version (#7117)
  .github/workflows/ci.yml
  .github/workflows/pr.yml
Due: none

ci(*): add husky + lint-staged + prettier to reduce chance to meet test:format error (#7123)
  .husky/pre-commit
  .lintstagedrc
  .prettierignore
  package.json
  pnpm-lock.yaml
Due: none

fix(solid-query): Fix query refetch after SSR
  packages/solid-query/src/createBaseQuery.ts
Due: @tanstack/solid-query

fix(solid-query): Fix query refetch after SSR (#7127)
  packages/solid-query/src/createBaseQuery.ts
Due: @tanstack/solid-query

release: v5.28.5
  examples/solid/basic-graphql-request/package.json
  examples/solid/basic-typescript/package.json
  examples/solid/default-query-function/package.json
  examples/solid/simple/package.json
  examples/solid/solid-start-streaming/package.json
  packages/solid-query-devtools/package.json
  packages/solid-query-persist-client/package.json
  packages/solid-query/package.json
  pnpm-lock.yaml
Due: @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client

test: those tests actually fail because resumePausedMutations is still wrongly implemented
  packages/query-core/src/tests/queryClient.test.tsx
Due: @tanstack/query-core

fix: simplify and fix resumePausedMutations
  packages/query-core/src/mutationCache.ts
Due: @tanstack/query-core
