Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

chore: remove a test that doesn't make much sense
  packages/react-query/src/__tests__/suspense.test.tsx
Due: @tanstack/react-query

chore: solid tests
  packages/react-query/src/__tests__/suspense.test.tsx
  packages/solid-query/src/__tests__/createQueries.test.tsx
Due: @tanstack/react-query, @tanstack/solid-query

ci(*): add actions/labeler to label automatically to recognize scope of Pull Request easily (#6917)
  .github/labeler.yml
  .github/workflows/labeler.yml
Due: none

Update docs/framework/react/devtools.md
  docs/framework/react/devtools.md
Due: none

chore: prettier
  docs/framework/react/devtools.md
Due: none

docs: 📲React Query Dev Tools for React Native readme update⚡ (#6943)
  docs/framework/react/devtools.md
Due: none

chore: stabilize test
  packages/react-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/react-query

Update devtools.md
  docs/framework/react/devtools.md
Due: none

rewrite test
  packages/react-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/react-query

test(react-query): remove not needed doNotExecute from test, test-d.tsx files are not executed anyway
  packages/react-query/src/__tests__/suspense.test-d.tsx
Due: @tanstack/react-query

docs(react-query): add example of skipToken into react-query disabling-queries docs
  docs/framework/react/guides/disabling-queries.md
Due: none

Update React Native Example code to Match React Native syntax.
  docs/framework/react/react-native.md
Due: none

docs: Update React Native Example code to Match React Native syntax. (#7028)
  docs/framework/react/react-native.md
Due: none

fix(query-core): Replace the deprecated 'window' with 'globalThis' for Deno
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

docs: update disabling queries examples in Angular, React, and Vue guides
  docs/framework/angular/guides/disabling-queries.md
  docs/framework/react/guides/disabling-queries.md
  docs/framework/vue/guides/disabling-queries.md
Due: none

docs: add description of skipToken to typescript.md
  docs/framework/react/typescript.md
Due: none

test(react-query): add unique queryKey to should respect skipToken test
  packages/react-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/react-query

test(react-query): use helper function instead of string in should respect skipToken test
  packages/react-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/react-query

fix(devtool): add shadowDOMTarget property to devtool
  examples/react/shadow-dom/.eslintrc.cjs
  examples/react/shadow-dom/.gitignore
  examples/react/shadow-dom/README.md
  examples/react/shadow-dom/index.html
  examples/react/shadow-dom/package.json
  examples/react/shadow-dom/src/index.css
  examples/react/shadow-dom/src/main.tsx
  examples/react/shadow-dom/src/vite-env.d.ts
  examples/react/shadow-dom/tsconfig.json
  examples/react/shadow-dom/tsconfig.node.json
  examples/react/shadow-dom/vite.config.ts
  packages/query-devtools/src/Context.ts
  packages/query-devtools/src/Devtools.tsx
  packages/query-devtools/src/index.tsx
  packages/query-devtools/src/utils.tsx
  packages/react-query-devtools/src/devtools.tsx
  pnpm-lock.yaml
Due: @tanstack/query-devtools, @tanstack/react-query-devtools

docs(devtools): add shadowDOM example
  docs/config.json
  examples/react/shadow-dom/package.json
  pnpm-lock.yaml
Due: none

feat: add typesafe query disabling via skipToken (#6999)
  docs/framework/angular/guides/disabling-queries.md
  docs/framework/react/guides/disabling-queries.md
  docs/framework/react/typescript.md
  docs/framework/vue/guides/disabling-queries.md
  examples/react/algolia/src/SearchResults.tsx
  examples/react/algolia/src/useAlgolia.ts
  examples/react/basic-typescript/src/index.tsx
  packages/angular-query-experimental/src/inject-queries.ts
  packages/query-core/src/index.ts
  packages/query-core/src/infiniteQueryBehavior.ts
  packages/query-core/src/query.ts
  packages/query-core/src/queryClient.ts
  packages/query-core/src/tests/queryClient.test.tsx
  packages/query-core/src/types.ts
  packages/query-core/src/utils.ts
  packages/react-query/src/__tests__/queryOptions.test-d.tsx
  packages/react-query/src/__tests__/suspense.test-d.tsx
  packages/react-query/src/__tests__/useQueries.test.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/react-query/src/useQueries.ts
  packages/react-query/src/useSuspenseQueries.ts
  packages/react-query/src/useSuspenseQuery.ts
  packages/solid-query/src/__tests__/createQueries.test.tsx
  packages/solid-query/src/createQueries.ts
  packages/svelte-query/src/createQueries.ts
Due: @tanstack/angular-query-experimental, @tanstack/query-core, @tanstack/react-query, @tanstack/solid-query, @tanstack/svelte-query

test(solid-query): update vitest type test code correctly (expectTypeOf)
  packages/solid-query/src/__tests__/createQueries.test.tsx
  packages/solid-query/src/__tests__/createQuery.test.tsx
  packages/solid-query/src/__tests__/useMutationState.test-d.tsx
  packages/solid-query/src/__tests__/useMutationState.test.tsx
  packages/solid-query/src/__tests__/utils.tsx
Due: @tanstack/solid-query

chore: update
  packages/solid-query/src/__tests__/createQueries.test.tsx
Due: @tanstack/solid-query

chore: update
  packages/react-query/src/__tests__/useQueries.test.tsx
Due: @tanstack/react-query

feat(angular-query): support required input signal on injectMutation (#7016)
  packages/angular-query-experimental/src/__tests__/inject-mutation-state.test.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation.test.ts
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
  packages/angular-query-experimental/src/__tests__/test-utils.ts
  packages/angular-query-experimental/src/__tests__/util/lazy-init/lazy-init.test.ts
  packages/angular-query-experimental/src/__tests__/util/lazy-signal-initializer/lazy-signal-initializer.test.ts
  packages/angular-query-experimental/src/create-base-query.ts
  packages/angular-query-experimental/src/inject-mutation-state.ts
  packages/angular-query-experimental/src/inject-mutation.ts
  packages/angular-query-experimental/src/util/lazy-init/lazy-init.ts
  packages/angular-query-experimental/src/util/lazy-signal-initializer/lazy-signal-initializer.ts
Due: @tanstack/angular-query-experimental

release: v5.26.0
  examples/angular/basic/package.json
  examples/angular/infinite-query-with-max-pages/package.json
  examples/angular/router/package.json
  examples/angular/simple/package.json
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/package.json
  pnpm-lock.yaml
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental

Test only changing docs
  docs/framework/svelte/ssr.md
Due: none

fix(reat-query): infer data type correctly when conditional skipToken is passed to useQueries
  packages/react-query/src/__tests__/useQueries.test-d.tsx
  packages/react-query/src/useQueries.ts
Due: @tanstack/react-query

test(query-core): update vitest type test code correctly
  packages/query-core/src/tests/infiniteQueryObserver.test-d.tsx
  packages/query-core/src/tests/infiniteQueryObserver.test.tsx
  packages/query-core/src/tests/queryClient.test-d.tsx
  packages/query-core/src/tests/queryClient.types.test.tsx
  packages/query-core/src/tests/queryObserver.test-d.tsx
  packages/query-core/src/tests/queryObserver.test.tsx
  packages/query-core/src/tests/queryObserver.types.test.tsx
  packages/query-core/src/tests/utils.ts
Due: @tanstack/query-core

chore: update
  packages/query-core/src/tests/queryClient.test-d.tsx
Due: @tanstack/query-core

chore: update
  packages/query-core/src/tests/infiniteQueryObserver.test.tsx
  packages/query-core/src/tests/queryObserver.test.tsx
Due: @tanstack/query-core

fix(angular-query): run observer listeners in angular zone
  packages/angular-query-experimental/src/create-base-query.ts
  packages/angular-query-experimental/src/inject-is-fetching.ts
  packages/angular-query-experimental/src/inject-is-mutating.ts
  packages/angular-query-experimental/src/inject-mutation-state.ts
  packages/angular-query-experimental/src/inject-mutation.ts
Due: @tanstack/angular-query-experimental

fix(angular-query): run observer listeners in angular zone (#7040)
  packages/angular-query-experimental/src/create-base-query.ts
  packages/angular-query-experimental/src/inject-is-fetching.ts
  packages/angular-query-experimental/src/inject-is-mutating.ts
  packages/angular-query-experimental/src/inject-mutation-state.ts
  packages/angular-query-experimental/src/inject-mutation.ts
Due: @tanstack/angular-query-experimental

release: v5.26.1
  examples/angular/basic/package.json
  examples/angular/infinite-query-with-max-pages/package.json
  examples/angular/router/package.json
  examples/angular/simple/package.json
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/package.json
  pnpm-lock.yaml
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental

refactor(devtools): add types to goober css method
  packages/query-devtools/src/Devtools.tsx
Due: @tanstack/query-devtools

refactor(devtools): fix type errors of packages
  examples/react/shadow-dom/package.json
  pnpm-lock.yaml
Due: none

fix(angular-query): support throwOnError
  packages/angular-query-experimental/src/__tests__/inject-mutation.test.ts
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
  packages/angular-query-experimental/src/create-base-query.ts
  packages/angular-query-experimental/src/inject-mutation.ts
  packages/angular-query-experimental/src/util/index.ts
Due: @tanstack/angular-query-experimental

fix(angular-query): support throwOnError (#7052)
  packages/angular-query-experimental/src/__tests__/inject-mutation.test.ts
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
  packages/angular-query-experimental/src/create-base-query.ts
  packages/angular-query-experimental/src/inject-mutation.ts
  packages/angular-query-experimental/src/util/index.ts
Due: @tanstack/angular-query-experimental

release: v5.26.2
  examples/angular/basic/package.json
  examples/angular/infinite-query-with-max-pages/package.json
  examples/angular/router/package.json
  examples/angular/simple/package.json
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/package.json
  pnpm-lock.yaml
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental

Path conditions:
  @tanstack/angular-query-devtools-experimental: any of: packages/angular-query-devtools-experimental/**
  @tanstack/angular-query-experimental: any of: packages/angular-query-experimental/**
  @tanstack/eslint-plugin-query: any of: packages/eslint-plugin-query/**
  @tanstack/query-async-storage-persister: any of: packages/query-async-storage-persister/**
  @tanstack/query-broadcast-client-experimental: any of: packages/query-broadcast-client-experimental/**
  @tanstack/query-codemods: any of: packages/codemods/**
  @tanstack/query-core: any of: packages/query-core/**
  @tanstack/query-devtools: any of: packages/query-devtools/**
  @tanstack/query-persist-client-core: any of: packages/query-persist-client-core/**
  @tanstack/query-sync-storage-persister: any of: packages/query-sync-storage-persister/**
  @tanstack/react-query: any of: packages/react-query/**
  @tanstack/react-query-devtools: any of: packages/react-query-devtools/**
  @tanstack/react-query-next-experimental: any of: packages/react-query-next-experimental/**
  @tanstack/react-query-persist-client: any of: packages/react-query-persist-client/**
  @tanstack/solid-query: any of: packages/solid-query/**
  @tanstack/solid-query-devtools: any of: packages/solid-query-devtools/**
  @tanstack/solid-query-persist-client: any of: packages/solid-query-persist-client/**
  @tanstack/svelte-query: any of: packages/svelte-query/**
  @tanstack/svelte-query-devtools: any of: packages/svelte-query-devtools/**
  @tanstack/svelte-query-persist-client: any of: packages/svelte-query-persist-client/**
  @tanstack/vue-query: any of: packages/vue-query/**
  @tanstack/vue-query-devtools: any of: packages/vue-query-devtools/**
