Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools, @tanstack/angular-query, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

codecov.yml:

codecov:
  max_report_age: off

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto

comment:
  layout: 'header, reach, diff, flags, components'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  hide_project_coverage: false

component_management:
  individual_components:
    - component_id: angular-query-devtools
      name: '@tanstack/angular-query-devtools'
      paths:
        - packages/angular-query-devtools/**
    - component_id: angular-query
      name: '@tanstack/angular-query'
      paths:
        - packages/angular-query/**
    - component_id: eslint-plugin-query
      name: '@tanstack/eslint-plugin-query'
      paths:
        - packages/eslint-plugin-query/**
    - component_id: query-async-storage-persister
      name: '@tanstack/query-async-storage-persister'
      paths:
        - packages/query-async-storage-persister/**
    - component_id: query-broadcast-client-experimental
      name: '@tanstack/query-broadcast-client-experimental'
      paths:
        - packages/query-broadcast-client-experimental/**
    - component_id: query-codemods
      name: '@tanstack/query-codemods'
      paths:
        - packages/query-codemods/**
    - component_id: query-core
      name: '@tanstack/query-core'
      paths:
        - packages/query-core/**
    - component_id: query-devtools
      name: '@tanstack/query-devtools'
      paths:
        - packages/query-devtools/**
    - component_id: query-persist-client-core
      name: '@tanstack/query-persist-client-core'
      paths:
        - packages/query-persist-client-core/**
    - component_id: query-sync-storage-persister
      name: '@tanstack/query-sync-storage-persister'
      paths:
        - packages/query-sync-storage-persister/**
    - component_id: query-test-utils
      name: '@tanstack/query-test-utils'
      paths:
        - packages/query-test-utils/**
    - component_id: react-query
      name: '@tanstack/react-query'
      paths:
        - packages/react-query/**
    - component_id: react-query-devtools
      name: '@tanstack/react-query-devtools'
      paths:
        - packages/react-query-devtools/**
    - component_id: react-query-next-experimental
      name: '@tanstack/react-query-next-experimental'
      paths:
        - packages/react-query-next-experimental/**
    - component_id: react-query-persist-client
      name: '@tanstack/react-query-persist-client'
      paths:
        - packages/react-query-persist-client/**
    - component_id: solid-query
      name: '@tanstack/solid-query'
      paths:
        - packages/solid-query/**
    - component_id: solid-query-devtools
      name: '@tanstack/solid-query-devtools'
      paths:
        - packages/solid-query-devtools/**
    - component_id: solid-query-persist-client
      name: '@tanstack/solid-query-persist-client'
      paths:
        - packages/solid-query-persist-client/**
    - component_id: svelte-query
      name: '@tanstack/svelte-query'
      paths:
        - packages/svelte-query/**
    - component_id: svelte-query-devtools
      name: '@tanstack/svelte-query-devtools'
      paths:
        - packages/svelte-query-devtools/**
    - component_id: svelte-query-persist-client
      name: '@tanstack/svelte-query-persist-client'
      paths:
        - packages/svelte-query-persist-client/**
    - component_id: vue-query
      name: '@tanstack/vue-query'
      paths:
        - packages/vue-query/**
    - component_id: vue-query-devtools
      name: '@tanstack/vue-query-devtools'
      paths:
        - packages/vue-query-devtools/**

docs(.github/pull_request_template): update test command to use explicit 'pnpm run' syntax (#9733)
  .github/pull_request_template.md
Due: none

fix(hydration): fix unhandled promise rejections
  .changeset/tall-banks-drop.md
  packages/query-core/src/hydration.ts
  packages/react-query/src/__tests__/HydrationBoundary.test.tsx
Due: @tanstack/query-core, @tanstack/react-query

fix(hydration): fix unhandled promise rejections (#9752)
  .changeset/tall-banks-drop.md
  packages/query-core/src/hydration.ts
  packages/react-query/src/__tests__/HydrationBoundary.test.tsx
Due: @tanstack/query-core, @tanstack/react-query

fix(types): preserve readonly mutation keys by removing duplicate Array check
  packages/query-core/src/types.ts
Due: @tanstack/query-core

test(useQueries): enhance state assertions for React 18 and 19 compatibility
  packages/react-query/src/__tests__/useQueries.test.tsx
Due: @tanstack/react-query

test: useMutation test for any react version
  packages/react-query/src/__tests__/useMutation.test.tsx
Due: @tanstack/react-query

fix: nextjs-app-prefetching
  examples/react/nextjs-app-prefetching/app/page.tsx
  examples/react/nextjs-app-prefetching/app/pokemon-info.tsx
  examples/react/nextjs-app-prefetching/app/providers.tsx
Due: none

call setState directly
  packages/query-core/src/query.ts
Due: @tanstack/query-core

changeset update
  .changeset/eight-webs-buy.md
  .changeset/yummy-rooms-read.md
Due: none

fix
  examples/react/nextjs-app-prefetching/app/providers.tsx
Due: none

fix(eslint-plugin): avoid imports from typescript
  packages/eslint-plugin-query/src/rules/no-void-query-fn/no-void-query-fn.rule.ts
Due: @tanstack/eslint-plugin-query

add changeset
  .changeset/shy-wasps-pull.md
Due: none

fix
  packages/eslint-plugin-query/src/rules/no-void-query-fn/no-void-query-fn.rule.ts
Due: @tanstack/eslint-plugin-query

fix(eslint-plugin): avoid imports from typescript (#9759)
  .changeset/shy-wasps-pull.md
  packages/eslint-plugin-query/src/rules/no-void-query-fn/no-void-query-fn.rule.ts
Due: @tanstack/eslint-plugin-query

fix
  examples/react/nextjs-app-prefetching/app/error.tsx
Due: none

fixed solid-query-devtools and panel
  packages/solid-query-devtools/package.json
  packages/solid-query-devtools/src/__tests__/devtools.test.tsx
  packages/solid-query-devtools/src/__tests__/devtoolsPanel.test.tsx
  packages/solid-query-devtools/src/devtools.tsx
  packages/solid-query-devtools/src/devtoolsPanel.tsx
  packages/solid-query-devtools/test-setup.ts
  packages/solid-query-devtools/vite.config.ts
Due: @tanstack/solid-query-devtools

Added changeset
  .changeset/breezy-cobras-sniff.md
  pnpm-lock.yaml
Due: none

Fixed typo
  packages/solid-query-devtools/src/__tests__/devtoolsPanel.test.tsx
Due: @tanstack/solid-query-devtools

ci: oidc
  .github/workflows/release.yml
Due: none

chore: add changeset for patch updates across multiple @tanstack packages
  .changeset/witty-buses-fix.md
Due: none

Create ten-crabs-glow.md
  .changeset/ten-crabs-glow.md
Due: none

fix: allow useQueries with combine property in no-unstable-deps rule (#9720)
  .changeset/ten-crabs-glow.md
  packages/eslint-plugin-query/src/__tests__/no-unstable-deps.test.ts
  packages/eslint-plugin-query/src/rules/no-unstable-deps/no-unstable-deps.rule.ts
Due: @tanstack/eslint-plugin-query

Fix duplicate Array condition in MutationKey type
  .changeset/chilled-squids-grow.md
Due: none

fix: solid-query-devtools and panel query client (#9763)
  .changeset/breezy-cobras-sniff.md
  packages/solid-query-devtools/package.json
  packages/solid-query-devtools/src/__tests__/devtools.test.tsx
  packages/solid-query-devtools/src/__tests__/devtoolsPanel.test.tsx
  packages/solid-query-devtools/src/devtools.tsx
  packages/solid-query-devtools/src/devtoolsPanel.tsx
  packages/solid-query-devtools/test-setup.ts
  packages/solid-query-devtools/vite.config.ts
  pnpm-lock.yaml
Due: @tanstack/solid-query-devtools

fix: make MutationKey type consistent with QueryKey
  packages/query-core/src/types.ts
Due: @tanstack/query-core

ci(prettier): ignore changesets
  .prettierignore
Due: none

ci(prettier): ignore changesets (#9768)
  .prettierignore
Due: none

fix(types): remove duplicate Array condition in MutationKey type (#9754)
  .changeset/chilled-squids-grow.md
  packages/query-core/src/types.ts
Due: @tanstack/query-core

fix(core): using the promise means we have to observer data
  .changeset/good-windows-tell.md
  packages/query-core/src/queryObserver.ts
Due: @tanstack/query-core

test
  packages/react-query/src/__tests__/useQuery.promise.test.tsx
Due: @tanstack/react-query

chore: fix other tests
  packages/react-query/src/__tests__/useQuery.promise.test.tsx
Due: @tanstack/react-query

fix(core): observing "promise" needs to implicitly observe "data" (#9772)
  .changeset/good-windows-tell.md
  packages/query-core/src/queryObserver.ts
  packages/react-query/src/__tests__/useQuery.promise.test.tsx
Due: @tanstack/query-core, @tanstack/react-query

feat(react-query): add react@19 as peerDeps (#9310)
  .github/workflows/pr.yml
  package.json
  packages/react-query-devtools/jest.config.ts
  packages/react-query-devtools/jest.setup.ts
  packages/react-query-devtools/package.json
  packages/react-query-devtools/src/Explorer.tsx
  packages/react-query-devtools/src/__tests__/devtools.test.tsx
  packages/react-query-persist-client/jest.config.ts
  packages/react-query-persist-client/jest.setup.ts
  packages/react-query-persist-client/package.json
  packages/react-query-persist-client/src/PersistQueryClientProvider.tsx
  packages/react-query/jest.config.ts
  packages/react-query/jest.setup.ts
  packages/react-query/package.json
  packages/react-query/src/QueryClientProvider.tsx
  packages/react-query/src/__tests__/ssr-hydration.test.tsx
  packages/react-query/src/__tests__/suspense.test.tsx
  packages/react-query/src/__tests__/useMutation.test.tsx
  packages/react-query/src/__tests__/useQueries.test.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/react-query/src/__tests__/utils.tsx
  pnpm-lock.yaml
Due: @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-persist-client

release: v4.42.0
  examples/react/algolia/package.json
  examples/react/auto-refetching/package.json
  examples/react/basic-graphql-request/package.json
  examples/react/basic-typescript/package.json
  examples/react/basic/package.json
  examples/react/default-query-function/package.json
  examples/react/load-more-infinite-scroll/package.json
  examples/react/nextjs/package.json
  examples/react/offline/package.json
  examples/react/optimistic-updates-typescript/package.json
  examples/react/pagination/package.json
  examples/react/playground/package.json
  examples/react/prefetching/package.json
  examples/react/react-native/package.json
  examples/react/react-router/package.json
  examples/react/rick-morty/package.json
  examples/react/simple/package.json
  examples/react/star-wars/package.json
  examples/react/suspense/package.json
  packages/react-query-devtools/package.json
  packages/react-query-persist-client/package.json
  packages/react-query/package.json
  pnpm-lock.yaml
Due: @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-persist-client

upd(vue-query): Improve queryOptions() type
  packages/vue-query/src/queryOptions.ts
  packages/vue-query/src/useQuery.ts
Due: @tanstack/vue-query

Add changeset
  .changeset/seven-apes-boil.md
Due: none

successState
  .changeset/eight-webs-buy.md
  packages/query-core/src/query.ts
Due: @tanstack/query-core

Fix typo in Connect section of community-projects.md
  docs/framework/react/community/community-projects.md
Due: none

docs: add background retry behavior to query-retries guide
  docs/framework/react/guides/background-retry-pausing.md
  docs/framework/react/guides/query-retries.md
Due: none
