Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 1%

comment:
  layout: 'header, reach, diff, flags, components'

component_management:
  individual_components:
    - component_id: angular-query-devtools-experimental
      name: '@tanstack/angular-query-devtools-experimental'
      paths:
        - packages/angular-query-devtools-experimental/**
    - component_id: angular-query-experimental
      name: '@tanstack/angular-query-experimental'
      paths:
        - packages/angular-query-experimental/**
    - component_id: eslint-plugin-query
      name: '@tanstack/eslint-plugin-query'
      paths:
        - packages/eslint-plugin-query/**
    - component_id: query-async-storage-persister
      name: '@tanstack/query-async-storage-persister'
      paths:
        - packages/query-async-storage-persister/**
    - component_id: query-broadcast-client-experimental
      name: '@tanstack/query-broadcast-client-experimental'
      paths:
        - packages/query-broadcast-client-experimental/**
    - component_id: query-codemods
      name: '@tanstack/query-codemods'
      paths:
        - packages/codemods/**
    - component_id: query-core
      name: '@tanstack/query-core'
      paths:
        - packages/query-core/**
    - component_id: query-devtools
      name: '@tanstack/query-devtools'
      paths:
        - packages/query-devtools/**
    - component_id: query-persist-client-core
      name: '@tanstack/query-persist-client-core'
      paths:
        - packages/query-persist-client-core/**
    - component_id: query-sync-storage-persister
      name: '@tanstack/query-sync-storage-persister'
      paths:
        - packages/query-sync-storage-persister/**
    - component_id: react-query
      name: '@tanstack/react-query'
      paths:
        - packages/react-query/**
    - component_id: react-query-devtools
      name: '@tanstack/react-query-devtools'
      paths:
        - packages/react-query-devtools/**
    - component_id: react-query-next-experimental
      name: '@tanstack/react-query-next-experimental'
      paths:
        - packages/react-query-next-experimental/**
    - component_id: react-query-persist-client
      name: '@tanstack/react-query-persist-client'
      paths:
        - packages/react-query-persist-client/**
    - component_id: solid-query
      name: '@tanstack/solid-query'
      paths:
        - packages/solid-query/**
    - component_id: solid-query-devtools
      name: '@tanstack/solid-query-devtools'
      paths:
        - packages/solid-query-devtools/**
    - component_id: solid-query-persist-client
      name: '@tanstack/solid-query-persist-client'
      paths:
        - packages/solid-query-persist-client/**
    - component_id: svelte-query
      name: '@tanstack/svelte-query'
      paths:
        - packages/svelte-query/**
    - component_id: svelte-query-devtools
      name: '@tanstack/svelte-query-devtools'
      paths:
        - packages/svelte-query-devtools/**
    - component_id: svelte-query-persist-client
      name: '@tanstack/svelte-query-persist-client'
      paths:
        - packages/svelte-query-persist-client/**
    - component_id: vue-query
      name: '@tanstack/vue-query'
      paths:
        - packages/vue-query/**
    - component_id: vue-query-devtools
      name: '@tanstack/vue-query-devtools'
      paths:
        - packages/vue-query-devtools/**

Revert "ci: disable nx-caching in CI"
  package.json
Due: none

chore: hopefully changing nx.json will cache-bust everything?
  nx.json
Due: none

chore: remove unused complicated types
  packages/react-query/src/usePrefetchQueries.tsx
Due: @tanstack/react-query

feat(react-query): add mutationOptions
  docs/framework/react/reference/mutationOptions.md
  docs/framework/react/typescript.md
  packages/react-query/src/__tests__/mutationOptions.test-d.tsx
  packages/react-query/src/__tests__/mutationOptions.test.tsx
  packages/react-query/src/mutationOptions.ts
Due: @tanstack/react-query

test(query-core): use fakeTimers for infiniteQueryBehavior.test.tsx
  packages/query-core/src/__tests__/infiniteQueryBehavior.test.tsx
Due: @tanstack/query-core

chore: update
  packages/query-core/src/__tests__/infiniteQueryBehavior.test.tsx
Due: @tanstack/query-core

fix a few typos
  docs/framework/react/guides/migrating-to-v5.md
Due: none

chore: reflect review
  packages/query-core/src/__tests__/infiniteQueryBehavior.test.tsx
Due: @tanstack/query-core

test(react-query): add DataTag test case
  packages/react-query/src/__tests__/mutationOptions.test-d.tsx
Due: @tanstack/react-query

feat(eslint-plugin): no-void-queryFn (#8925)
  docs/eslint/eslint-plugin-query.md
  docs/eslint/no-void-query-fn.md
  knip.json
  packages/eslint-plugin-query/package.json
  packages/eslint-plugin-query/scripts/patch-missing-export-equals.js
  packages/eslint-plugin-query/src/__tests__/no-void-query-fn.test.ts
  packages/eslint-plugin-query/src/__tests__/ts-fixture/file.ts
  packages/eslint-plugin-query/src/__tests__/ts-fixture/tsconfig.json
  packages/eslint-plugin-query/src/index.ts
  packages/eslint-plugin-query/src/rules.ts
  packages/eslint-plugin-query/src/rules/no-void-query-fn/no-void-query-fn.rule.ts
  packages/eslint-plugin-query/tsup.config.ts
  pnpm-lock.yaml
Due: @tanstack/eslint-plugin-query

docs: correct missing closing quote in `networkMode` option
  docs/framework/react/reference/useQuery.md
Due: none

feat(eslint): add type-checked configuration for eslint plugin
  docs/eslint/eslint-plugin-query.md
  docs/eslint/no-void-query-fn.md
  examples/react/eslint-type-checked/.gitignore
  examples/react/eslint-type-checked/README.md
  examples/react/eslint-type-checked/eslint.config.js
  examples/react/eslint-type-checked/index.html
  examples/react/eslint-type-checked/package.json
  examples/react/eslint-type-checked/public/emblem-light.svg
  examples/react/eslint-type-checked/src/index.tsx
  examples/react/eslint-type-checked/tsconfig.json
  examples/react/eslint-type-checked/vite.config.ts
  packages/eslint-plugin-query/src/__tests__/no-void-query-fn.test.ts
  packages/eslint-plugin-query/src/index.ts
  packages/eslint-plugin-query/src/rules/no-void-query-fn/no-void-query-fn.rule.ts
  pnpm-lock.yaml
Due: @tanstack/eslint-plugin-query

docs(readme): document how to run tests using Nx
  CONTRIBUTING.md
Due: none

docs(readme): document how to run tests using Nx (#8967)
  CONTRIBUTING.md
Due: none

chore: (temporary) make test depend on build
  nx.json
Due: none

docs: correct missing closing quote in `networkMode` option (#8965)
  docs/framework/react/reference/useQuery.md
Due: none

fix(persistQueryClientRestore): Do not swallow exceptions during in persistQueryClientRestore within `restoreClient` and `removeClient`
  packages/query-persist-client-core/src/__tests__/persist.test.ts
  packages/query-persist-client-core/src/persist.ts
Due: @tanstack/query-persist-client-core

fix: rethrow errors in removeClient within all branches
  packages/query-persist-client-core/src/__tests__/persist.test.ts
  packages/query-persist-client-core/src/persist.ts
Due: @tanstack/query-persist-client-core

fix: test for PersistQueryClientProvider in all consumers
  packages/query-persist-client-core/src/persist.ts
  packages/react-query-persist-client/src/PersistQueryClientProvider.tsx
  packages/react-query-persist-client/src/__tests__/PersistQueryClientProvider.test.tsx
  packages/solid-query-persist-client/src/PersistQueryClientProvider.tsx
  packages/solid-query-persist-client/src/__tests__/PersistQueryClientProvider.test.tsx
  packages/svelte-query-persist-client/src/PersistQueryClientProvider.svelte
  packages/svelte-query-persist-client/tests/PersistQueryClientProvider.test.ts
  packages/svelte-query-persist-client/tests/RemoveCache/Provider.svelte
Due: @tanstack/query-persist-client-core, @tanstack/react-query-persist-client, @tanstack/solid-query-persist-client, @tanstack/svelte-query-persist-client

fix(eslint): classic build
  packages/eslint-plugin-query/tsup.config.ts
Due: @tanstack/eslint-plugin-query

fix(eslint): classic build (#8971)
  packages/eslint-plugin-query/tsup.config.ts
Due: @tanstack/eslint-plugin-query

chore: implement PR feedback
  packages/query-persist-client-core/src/persist.ts
Due: @tanstack/query-persist-client-core

chore: mock console calls, so they do not end up in the console. This way we can also assert on the invocations
  packages/query-persist-client-core/src/__tests__/persist.test.ts
  packages/react-query/tsconfig.vitest-temp.json
Due: @tanstack/query-persist-client-core, @tanstack/react-query

chore: consoleWarn mocks to be restored after each test
  packages/query-persist-client-core/src/__tests__/persist.test.ts
Due: @tanstack/query-persist-client-core

chore: remove tmp file commited accidentally
  packages/react-query/tsconfig.vitest-temp.json
Due: @tanstack/react-query

chore(build): restructure eslint-plugin-query build configuration
  packages/eslint-plugin-query/package.json
  packages/eslint-plugin-query/root.tsup.config.js
  packages/eslint-plugin-query/scripts/patch-missing-export-equals.js
  packages/eslint-plugin-query/src/index.ts
  packages/eslint-plugin-query/tsconfig.prod.json
  packages/eslint-plugin-query/tsup.config.js
  packages/eslint-plugin-query/tsup.config.ts
Due: @tanstack/eslint-plugin-query

chore(example): eslint classic
  examples/react/eslint-legacy/.eslintrc
  examples/react/eslint-legacy/.gitignore
  examples/react/eslint-legacy/README.md
  examples/react/eslint-legacy/index.html
  examples/react/eslint-legacy/package.json
  examples/react/eslint-legacy/public/emblem-light.svg
  examples/react/eslint-legacy/src/index.tsx
  examples/react/eslint-legacy/tsconfig.json
  examples/react/eslint-legacy/vite.config.ts
  package.json
  pnpm-lock.yaml
Due: none

fix: unique name for examples
  examples/react/eslint-legacy/package.json
Due: none

fix: relocate custom condition
  packages/eslint-plugin-query/package.json
  packages/query-async-storage-persister/package.json
  packages/query-broadcast-client-experimental/package.json
  packages/query-core/package.json
  packages/query-devtools/package.json
  packages/query-persist-client-core/package.json
  packages/query-sync-storage-persister/package.json
  packages/react-query-devtools/package.json
  packages/react-query-next-experimental/package.json
  packages/react-query-persist-client/package.json
  packages/react-query/package.json
  packages/solid-query-devtools/package.json
  packages/solid-query-persist-client/package.json
  packages/solid-query/package.json
  packages/vue-query/package.json
Due: @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/vue-query

fix export
  packages/eslint-plugin-query/package.json
Due: @tanstack/eslint-plugin-query

feat: More tests and examples!
  examples/svelte/auto-refetching/src/routes/+page.svelte
  examples/svelte/basic/src/lib/Posts.svelte
  examples/svelte/load-more-infinite-scroll/src/lib/LoadMore.svelte
  examples/svelte/optimistic-updates/src/routes/+page.svelte
  examples/svelte/optimistic-updates/src/routes/api/data/+server.ts
  examples/svelte/playground/src/routes/AddTodo.svelte
  examples/svelte/playground/src/routes/App.svelte
  examples/svelte/ssr/src/lib/Posts.svelte
  examples/svelte/ssr/src/routes/+layout.ts
  examples/svelte/ssr/src/routes/+page.ts
  examples/svelte/ssr/src/routes/[postId]/+page.ts
  examples/svelte/star-wars/src/routes/+page.svelte
  examples/svelte/star-wars/src/routes/characters/[characterId]/+page.svelte
  examples/svelte/star-wars/src/routes/characters/[characterId]/+page.ts
  examples/svelte/star-wars/src/routes/films/+page.svelte
  examples/svelte/star-wars/src/routes/films/[filmId]/+page.svelte
  examples/svelte/star-wars/src/routes/films/[filmId]/+page.ts
  packages/svelte-query/src/containers.svelte.ts
  packages/svelte-query/src/createBaseQuery.svelte.ts
  packages/svelte-query/src/createInfiniteQuery.ts
  packages/svelte-query/src/createMutation.svelte.ts
  packages/svelte-query/src/createQueries.svelte.ts
  packages/svelte-query/src/createQuery.ts
  packages/svelte-query/src/types.ts
  packages/svelte-query/tests/containers.svelte.test.ts
  packages/svelte-query/tests/createQueries.svelte.test.ts
  packages/svelte-query/tests/createQueries.test-d.ts
  packages/svelte-query/tests/createQuery.svelte.test.ts
  packages/svelte-query/tests/createQuery.test-d.ts
Due: @tanstack/svelte-query

chore: adjust docs and include new optional callback `onError`
  docs/framework/react/plugins/persistQueryClient.md
Due: none

remove unused import
  packages/eslint-plugin-query/root.tsup.config.js
Due: @tanstack/eslint-plugin-query

tests(react-query): allow multiple types in query returns
  packages/react-query/src/__tests__/usePrefetchQueries.test.tsx
Due: @tanstack/react-query

chore: trigger release
  README.md
Due: none

chore: add eslint test script to react examples and update eslint test command
  examples/react/basic/package.json
  examples/react/eslint-legacy/package.json
  package.json
Due: none
