Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools, @tanstack/angular-query, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

fix(query-core): snapshot resetQueries match set before mutating state
  packages/query-core/src/__tests__/queryClient.test.tsx
  packages/query-core/src/queryClient.ts
Due: @tanstack/query-core

fix(react): do not go into optimistic fetching state when not subscribed (#10759)
  .changeset/strong-toes-knock.md
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/react-query/src/useBaseQuery.ts
Due: @tanstack/react-query

test(query-devtools/Explorer): add test for rendering under the 'light' theme
  packages/query-devtools/src/__tests__/Explorer.test.tsx
Due: @tanstack/query-devtools

fix(solid-query): fetch on status-only reads
  .changeset/solid-query-status-resource.md
  packages/solid-query/src/__tests__/useQuery.test.tsx
  packages/solid-query/src/useBaseQuery.ts
Due: @tanstack/solid-query

fix(query-broadcast-client): handle postMessage errors
  .changeset/broadcast-client-post-errors.md
  packages/query-broadcast-client-experimental/src/__tests__/index.test.ts
  packages/query-broadcast-client-experimental/src/index.ts
Due: @tanstack/query-broadcast-client-experimental

docs: document createRawRef update helper
  packages/svelte-query/src/containers.svelte.ts
Due: @tanstack/svelte-query

fix(svelte-query): handle multi-item createQueries removals
  .changeset/green-peaches-yawn.md
  packages/svelte-query/src/containers.svelte.ts
  packages/svelte-query/tests/createQueries/createQueries.svelte.test.ts
Due: @tanstack/svelte-query

fix(broadcast-client): handle unhandled postMessage rejections
  .changeset/fix-broadcast-client-unhandled-rejection.md
  packages/query-broadcast-client-experimental/src/__tests__/index.test.ts
  packages/query-broadcast-client-experimental/src/index.ts
Due: @tanstack/query-broadcast-client-experimental

fix(eslint-plugin-query): track custom query hook wrappers
  packages/eslint-plugin-query/src/__tests__/no-unstable-deps.test.ts
  packages/eslint-plugin-query/src/rules/no-unstable-deps/no-unstable-deps.rule.ts
Due: @tanstack/eslint-plugin-query

test(eslint-plugin-query): avoid TDZ in wrapper test
  packages/eslint-plugin-query/src/__tests__/no-unstable-deps.test.ts
Due: @tanstack/eslint-plugin-query

fix(eslint-plugin-query): handle later custom hook wrappers
  packages/eslint-plugin-query/src/__tests__/no-unstable-deps.test.ts
  packages/eslint-plugin-query/src/rules/no-unstable-deps/no-unstable-deps.rule.ts
Due: @tanstack/eslint-plugin-query

fix(broadcast-client): guard against throwing onBroadcastError callback
  packages/query-broadcast-client-experimental/src/__tests__/index.test.ts
  packages/query-broadcast-client-experimental/src/index.ts
Due: @tanstack/query-broadcast-client-experimental

fix(query-devtools): handle missing query row state
  .changeset/query-devtools-missing-state.md
  packages/query-devtools/src/Devtools.tsx
  packages/query-devtools/src/__tests__/utils.test.ts
  packages/query-devtools/src/utils.tsx
Due: @tanstack/query-devtools

feat(query-core): pass failureCount to QueryCache onError callback
  .changeset/feat-query-cache-on-error-failure-count.md
  packages/query-core/src/__tests__/queryCache.test.tsx
  packages/query-core/src/query.ts
  packages/query-core/src/queryCache.ts
Due: @tanstack/query-core

Fix devtools query rows with mutable keys (#10750)
  .changeset/stable-devtools-query-rows.md
  packages/query-devtools/src/Devtools.tsx
  packages/query-devtools/src/__tests__/Devtools.test.tsx
Due: @tanstack/query-devtools

fix(broadcast-client): handle async onBroadcastError rejections
  packages/query-broadcast-client-experimental/src/__tests__/index.test.ts
  packages/query-broadcast-client-experimental/src/index.ts
Due: @tanstack/query-broadcast-client-experimental

test(broadcast-client): use try/finally to ensure unhandledRejection listener cleanup
  packages/query-broadcast-client-experimental/src/__tests__/index.test.ts
Due: @tanstack/query-broadcast-client-experimental

fix(query-devtools): handle missing query row state (#10772)
  .changeset/query-devtools-missing-state.md
  packages/query-devtools/src/Devtools.tsx
  packages/query-devtools/src/__tests__/utils.test.ts
  packages/query-devtools/src/utils.tsx
Due: @tanstack/query-devtools

Disable local coverage instrumentation
  packages/angular-query-experimental/vite.config.ts
  packages/angular-query-persist-client/vite.config.ts
  packages/eslint-plugin-query/vite.config.ts
  packages/preact-query-devtools/vite.config.ts
  packages/preact-query-persist-client/vite.config.ts
  packages/preact-query/vite.config.ts
  packages/query-async-storage-persister/vite.config.ts
  packages/query-broadcast-client-experimental/vite.config.ts
  packages/query-codemods/vite.config.ts
  packages/query-core/vite.config.ts
  packages/query-devtools/vite.config.ts
  packages/query-persist-client-core/vite.config.ts
  packages/query-sync-storage-persister/vite.config.ts
  packages/query-test-utils/vite.config.ts
  packages/react-query-devtools/vite.config.ts
  packages/react-query-persist-client/vite.config.ts
  packages/react-query/vite.config.ts
  packages/solid-query-devtools/vite.config.ts
  packages/solid-query-persist-client/vite.config.ts
  packages/solid-query/vite.config.ts
  packages/svelte-query-devtools/vite.config.ts
  packages/svelte-query/vite.config.ts
  packages/vue-query-devtools/vite.config.ts
  packages/vue-query/vite.config.ts
Due: @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/vue-query, @tanstack/vue-query-devtools

fix(eslint-plugin-query): detect rest destructuring on custom query hooks
  .changeset/no-rest-destructuring-custom-hooks.md
  docs/eslint/no-rest-destructuring.md
  packages/eslint-plugin-query/src/__tests__/no-rest-destructuring.test.ts
  packages/eslint-plugin-query/src/__tests__/ts-fixture/react-query.d.ts
  packages/eslint-plugin-query/src/rules/no-rest-destructuring/no-rest-destructuring.rule.ts
  packages/eslint-plugin-query/src/rules/no-rest-destructuring/no-rest-destructuring.utils.ts
Due: @tanstack/eslint-plugin-query

fix(query-core): shallowEqualObjects ignores key-set differences when counts match
  packages/query-core/src/__tests__/utils.test.tsx
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

fix(query-devtools): look up selected queries by hash
  packages/query-devtools/src/Devtools.tsx
  packages/query-devtools/src/__tests__/Devtools.test.tsx
Due: @tanstack/query-devtools

test(query-devtools/Explorer): add test for rendering under the 'light' theme (#10768)
  packages/query-devtools/src/__tests__/Explorer.test.tsx
Due: @tanstack/query-devtools

ci(labeler): remove the labeler workflow and its configuration
  .github/workflows/labeler.yml
  labeler-config.yml
Due: none

fix(query-devtools): keep selected query subscriptions distinct
  packages/query-devtools/src/Devtools.tsx
Due: @tanstack/query-devtools

test(query-broadcast-client): cover sync broadcast errors
  packages/query-broadcast-client-experimental/src/__tests__/index.test.ts
Due: @tanstack/query-broadcast-client-experimental

fix(solid-query): track resource result fields
  packages/solid-query/src/__tests__/useQuery.test.tsx
  packages/solid-query/src/useBaseQuery.ts
Due: @tanstack/solid-query

fix(angular-query): track pre-render query promises
  .changeset/angular-query-preaccess-whenstable.md
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
  packages/angular-query-experimental/src/create-base-query.ts
Due: none

ci(labeler): remove the labeler workflow and its configuration (#10766)
  .github/workflows/labeler.yml
  labeler-config.yml
Due: none

ci(detect-agent): remove the detect-agent workflow
  .github/workflows/detect-agent.yml
Due: none

test(query-devtools/Explorer): add test for rendering with a 'shadowDOMTarget'
  packages/query-devtools/src/__tests__/Explorer.test.tsx
Due: @tanstack/query-devtools

test(query-devtools/Explorer): add test for rendering with a 'shadowDOMTarget' (#10782)
  packages/query-devtools/src/__tests__/Explorer.test.tsx
Due: @tanstack/query-devtools

chore: improve query maintenance path
  packages/query-core/src/__tests__/utils.test.tsx
Due: @tanstack/query-core

test(query-devtools/Devtools): add test for PiP panel narrow layout below the second breakpoint
  packages/query-devtools/src/__tests__/Devtools.test.tsx
Due: @tanstack/query-devtools

test(query-devtools/Devtools): add test for PiP panel narrow layout below the second breakpoint (#10784)
  packages/query-devtools/src/__tests__/Devtools.test.tsx
Due: @tanstack/query-devtools

test(query-devtools/Devtools): add test for rendering without a 'ThemeContext.Provider'
  packages/query-devtools/src/__tests__/Devtools.test.tsx
Due: @tanstack/query-devtools

test(query-devtools/Devtools): add test for rendering without a 'ThemeContext.Provider' (#10785)
  packages/query-devtools/src/__tests__/Devtools.test.tsx
Due: @tanstack/query-devtools

test(query-devtools/Devtools): add assertion for default theme falling back to 'dark' without a 'ThemeContext.Provider'
  packages/query-devtools/src/__tests__/Devtools.test.tsx
Due: @tanstack/query-devtools

test(query-devtools/Devtools): add assertion for default theme falling back to 'dark' without a 'ThemeContext.Provider' (#10786)
  packages/query-devtools/src/__tests__/Devtools.test.tsx
Due: @tanstack/query-devtools

test(query-devtools/contexts/ThemeContext): split 'ThemeContext' tests into a unit test file mirroring the 'src/contexts' structure
  packages/query-devtools/src/__tests__/Devtools.test.tsx
  packages/query-devtools/src/__tests__/contexts/ThemeContext.test.tsx
Due: @tanstack/query-devtools

Path conditions:
  @tanstack/angular-query-devtools: any of: packages/angular-query-devtools/**
  @tanstack/angular-query: any of: packages/angular-query/**
  @tanstack/eslint-plugin-query: any of: packages/eslint-plugin-query/**
  @tanstack/query-async-storage-persister: any of: packages/query-async-storage-persister/**
  @tanstack/query-broadcast-client-experimental: any of: packages/query-broadcast-client-experimental/**
  @tanstack/query-codemods: any of: packages/query-codemods/**
  @tanstack/query-core: any of: packages/query-core/**
  @tanstack/query-devtools: any of: packages/query-devtools/**
  @tanstack/query-persist-client-core: any of: packages/query-persist-client-core/**
  @tanstack/query-sync-storage-persister: any of: packages/query-sync-storage-persister/**
  @tanstack/query-test-utils: any of: packages/query-test-utils/**
  @tanstack/react-query: any of: packages/react-query/**
  @tanstack/react-query-devtools: any of: packages/react-query-devtools/**
  @tanstack/react-query-next-experimental: any of: packages/react-query-next-experimental/**
  @tanstack/react-query-persist-client: any of: packages/react-query-persist-client/**
  @tanstack/solid-query: any of: packages/solid-query/**
  @tanstack/solid-query-devtools: any of: packages/solid-query-devtools/**
  @tanstack/solid-query-persist-client: any of: packages/solid-query-persist-client/**
  @tanstack/svelte-query: any of: packages/svelte-query/**
  @tanstack/svelte-query-devtools: any of: packages/svelte-query-devtools/**
  @tanstack/svelte-query-persist-client: any of: packages/svelte-query-persist-client/**
  @tanstack/vue-query: any of: packages/vue-query/**
  @tanstack/vue-query-devtools: any of: packages/vue-query-devtools/**
