Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools, @tanstack/angular-query, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

codecov.yml:

codecov:
  max_report_age: off

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto

comment:
  layout: 'header, reach, diff, flags, components'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  hide_project_coverage: false

component_management:
  individual_components:
    - component_id: angular-query-devtools
      name: '@tanstack/angular-query-devtools'
      paths:
        - packages/angular-query-devtools/**
    - component_id: angular-query
      name: '@tanstack/angular-query'
      paths:
        - packages/angular-query/**
    - component_id: eslint-plugin-query
      name: '@tanstack/eslint-plugin-query'
      paths:
        - packages/eslint-plugin-query/**
    - component_id: query-async-storage-persister
      name: '@tanstack/query-async-storage-persister'
      paths:
        - packages/query-async-storage-persister/**
    - component_id: query-broadcast-client-experimental
      name: '@tanstack/query-broadcast-client-experimental'
      paths:
        - packages/query-broadcast-client-experimental/**
    - component_id: query-codemods
      name: '@tanstack/query-codemods'
      paths:
        - packages/query-codemods/**
    - component_id: query-core
      name: '@tanstack/query-core'
      paths:
        - packages/query-core/**
    - component_id: query-devtools
      name: '@tanstack/query-devtools'
      paths:
        - packages/query-devtools/**
    - component_id: query-persist-client-core
      name: '@tanstack/query-persist-client-core'
      paths:
        - packages/query-persist-client-core/**
    - component_id: query-sync-storage-persister
      name: '@tanstack/query-sync-storage-persister'
      paths:
        - packages/query-sync-storage-persister/**
    - component_id: query-test-utils
      name: '@tanstack/query-test-utils'
      paths:
        - packages/query-test-utils/**
    - component_id: react-query
      name: '@tanstack/react-query'
      paths:
        - packages/react-query/**
    - component_id: react-query-devtools
      name: '@tanstack/react-query-devtools'
      paths:
        - packages/react-query-devtools/**
    - component_id: react-query-next-experimental
      name: '@tanstack/react-query-next-experimental'
      paths:
        - packages/react-query-next-experimental/**
    - component_id: react-query-persist-client
      name: '@tanstack/react-query-persist-client'
      paths:
        - packages/react-query-persist-client/**
    - component_id: solid-query
      name: '@tanstack/solid-query'
      paths:
        - packages/solid-query/**
    - component_id: solid-query-devtools
      name: '@tanstack/solid-query-devtools'
      paths:
        - packages/solid-query-devtools/**
    - component_id: solid-query-persist-client
      name: '@tanstack/solid-query-persist-client'
      paths:
        - packages/solid-query-persist-client/**
    - component_id: svelte-query
      name: '@tanstack/svelte-query'
      paths:
        - packages/svelte-query/**
    - component_id: svelte-query-devtools
      name: '@tanstack/svelte-query-devtools'
      paths:
        - packages/svelte-query-devtools/**
    - component_id: svelte-query-persist-client
      name: '@tanstack/svelte-query-persist-client'
      paths:
        - packages/svelte-query-persist-client/**
    - component_id: vue-query
      name: '@tanstack/vue-query'
      paths:
        - packages/vue-query/**
    - component_id: vue-query-devtools
      name: '@tanstack/vue-query-devtools'
      paths:
        - packages/vue-query-devtools/**

fix(preact-query): correct mutation terminology and filter by success status in 'useMutationState' examples
  docs/framework/preact/reference/functions/useIsMutating.md
  docs/framework/preact/reference/functions/useMutationState.md
  packages/preact-query/src/useMutationState.ts
Due: none

revert size limit for better comparison
  .size-limit.json
Due: none

spyOn setInterval
  packages/query-core/src/__tests__/queryObserver.test.tsx
Due: @tanstack/query-core

add integration regression test
  integrations/query-devtools-tsc/package.json
  integrations/query-devtools-tsc/src/index.ts
  integrations/query-devtools-tsc/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

ref: bundle-size improvements (#11302)
  .changeset/short-symbols-smile.md
  packages/query-core/src/__tests__/query.test.tsx
  packages/query-core/src/__tests__/queryObserver.test.tsx
  packages/query-core/src/environmentManager.ts
  packages/query-core/src/queriesObserver.ts
  packages/query-core/src/query.ts
  packages/query-core/src/queryClient.ts
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/removable.ts
  packages/query-core/src/retryer.ts
  packages/query-core/src/types.ts
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

fix(query-devtools): remove solid-js import from declarations (#11300)
  .changeset/remove-solid-declaration-import.md
  integrations/query-devtools-tsc/package.json
  integrations/query-devtools-tsc/src/index.ts
  integrations/query-devtools-tsc/tsconfig.json
  packages/query-devtools/src/TanstackQueryDevtools.tsx
  packages/query-devtools/src/TanstackQueryDevtoolsPanel.tsx
  packages/query-devtools/src/contexts/QueryDevtoolsContext.ts
  packages/query-devtools/src/contexts/types.ts
  packages/query-devtools/src/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: @tanstack/query-devtools

docs(preact-query): destructure useInfiniteQuery result in 'infiniteQueryOptions' example
  docs/framework/preact/reference/functions/infiniteQueryOptions.md
  packages/preact-query/src/infiniteQueryOptions.ts
Due: none

docs(preact-query): rename 'variables' to 'pendingVariables' in 'useMutationState' example
  docs/framework/preact/reference/functions/useMutationState.md
  packages/preact-query/src/useMutationState.ts
Due: none

docs(preact-query): rename 'data' to 'savedPosts' in 'useMutationState' examples
  docs/framework/preact/reference/functions/useMutationState.md
  packages/preact-query/src/useMutationState.ts
Due: none

docs(preact-query): rename 'latest' to 'latestSavedPost' in 'useMutationState' example
  docs/framework/preact/reference/functions/useMutationState.md
  packages/preact-query/src/useMutationState.ts
Due: none

docs(preact-query): rename 'results'/'result' to 'addResults'/'addResult' in 'useMutation' Promise.allSettled example
  docs/framework/preact/reference/functions/useMutation.md
  packages/preact-query/src/useMutation.ts
Due: none

test(react-query): cover falsy errors with throwOnError in useQuery
  packages/react-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/react-query

test(react-query): show falsy errors silently skip the error boundary
  packages/react-query/src/__tests__/useQueries.test.tsx
  packages/react-query/src/__tests__/useSuspenseQueries.test.tsx
Due: @tanstack/react-query

feat(lit-query): add renderResult utility for rendering query results based on status
  packages/lit-query/src/render.ts
Due: none

tests(lit-query): add tests for render method in controllers
  packages/lit-query/src/tests/infinite-and-options.test.ts
  packages/lit-query/src/tests/mutation-controller.test.ts
  packages/lit-query/src/tests/query-controller.test.ts
Due: none

chore: add changeset
  .changeset/crisp-sloths-sneeze.md
Due: none

feat(lit-query): add render method to query, mutation, and infinite query controllers
  packages/lit-query/src/createInfiniteQueryController.ts
  packages/lit-query/src/createMutationController.ts
  packages/lit-query/src/createQueryController.ts
Due: none

chore(lit-query): use optional chaining instead of ternary in renderResult
  packages/lit-query/src/render.ts
Due: none

fix(lit-query): return undefined when no renderer matches current status
  packages/lit-query/src/render.ts
  packages/lit-query/src/tests/infinite-and-options.test.ts
  packages/lit-query/src/tests/mutation-controller.test.ts
  packages/lit-query/src/tests/query-controller.test.ts
  packages/lit-query/src/tests/render.test.ts
Due: none

tests(lit-query): add test for renderResult to check type inference and return value
  packages/lit-query/src/tests/render.test.ts
Due: none

feat(lit-query): export renderResult separately
  packages/lit-query/src/index.ts
Due: none

docs(lit-query): update documentation for render method in guides
  docs/framework/lit/guides/infinite-queries.md
  docs/framework/lit/guides/mutations.md
  docs/framework/lit/guides/queries.md
Due: none

fix(lit-query): use type imports
  packages/lit-query/src/createInfiniteQueryController.ts
  packages/lit-query/src/createMutationController.ts
  packages/lit-query/src/createQueryController.ts
Due: none

fix(lit-query): use readCurrent instead of current
  packages/lit-query/src/createInfiniteQueryController.ts
  packages/lit-query/src/createQueryController.ts
Due: none

chore(lit-query): export ResultRenderers and RendererResult types from render.js
  packages/lit-query/src/index.ts
Due: none

docs(lit-query): remove redundant isIdle check in example
  docs/framework/lit/guides/mutations.md
Due: none

docs(lit-query): regenerate docs
  docs/config.json
  docs/framework/lit/reference/functions/createInfiniteQueryController.md
  docs/framework/lit/reference/functions/createMutationController.md
  docs/framework/lit/reference/functions/createQueryController.md
  docs/framework/lit/reference/functions/renderResult.md
  docs/framework/lit/reference/index.md
  docs/framework/lit/reference/type-aliases/CreateInfiniteQueryOptions.md
  docs/framework/lit/reference/type-aliases/CreateMutationOptions.md
  docs/framework/lit/reference/type-aliases/CreateQueryOptions.md
  docs/framework/lit/reference/type-aliases/InfiniteQueryResultAccessor.md
  docs/framework/lit/reference/type-aliases/MutationResultAccessor.md
  docs/framework/lit/reference/type-aliases/QueryResultAccessor.md
  docs/framework/lit/reference/type-aliases/RendererResult.md
  docs/framework/lit/reference/type-aliases/ResultRenderers.md
Due: none

fix(react-query): throw falsy errors from useQueries to the error boundary
  packages/react-query/src/useQueries.ts
Due: @tanstack/react-query

chore: add changeset
  .changeset/olive-donuts-shave.md
Due: none

docs(preact-query): render fetched pages and handle loading/error states in 'useInfiniteQuery' examples
  docs/framework/preact/reference/functions/useInfiniteQuery.md
  packages/preact-query/src/useInfiniteQuery.ts
Due: none

fix(react-query): propagate falsy errors to the error boundary (#11305)
  .changeset/olive-donuts-shave.md
  packages/react-query/src/__tests__/useQueries.test.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/react-query/src/__tests__/useSuspenseQueries.test.tsx
  packages/react-query/src/useQueries.ts
Due: @tanstack/react-query

feat(solid-query): rewrite the adapter onto Solid 2's native async model
  .changeset/solid-query-native-rewrite.md
  packages/solid-query/package.json
  packages/solid-query/src/QueryClient.ts
  packages/solid-query/src/__tests__/fixtures/hydration/App.tsx
  packages/solid-query/src/__tests__/fixtures/hydration/entry-client.tsx
  packages/solid-query/src/__tests__/fixtures/hydration/entry-server.tsx
  packages/solid-query/src/__tests__/hydration-utils.ts
  packages/solid-query/src/__tests__/hydration.test.tsx
  packages/solid-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/solid-query/src/__tests__/queryOptions.test-d.tsx
  packages/solid-query/src/__tests__/suspense.test.tsx
  packages/solid-query/src/__tests__/useInfiniteQuery-semantics.test.tsx
  packages/solid-query/src/__tests__/useInfiniteQuery.test-d.tsx
  packages/solid-query/src/__tests__/useInfiniteQuery.test.tsx
  packages/solid-query/src/__tests__/useIsMutating.test.tsx
  packages/solid-query/src/__tests__/useMutation-semantics.test.tsx
  packages/solid-query/src/__tests__/useMutation.test-d.tsx
  packages/solid-query/src/__tests__/useMutation.test.tsx
  packages/solid-query/src/__tests__/useMutationState.test.tsx
  packages/solid-query/src/__tests__/useQueries-semantics.test.tsx
  packages/solid-query/src/__tests__/useQueries.test-d.tsx
  packages/solid-query/src/__tests__/useQueries.test.tsx
  packages/solid-query/src/__tests__/useQuery-semantics.test.tsx
  packages/solid-query/src/__tests__/useQuery.test-d.tsx
  packages/solid-query/src/__tests__/useQuery.test.tsx
  packages/solid-query/src/cacheAggregate.ts
  packages/solid-query/src/index.ts
  packages/solid-query/src/types.ts
  packages/solid-query/src/useBaseQuery.ts
  packages/solid-query/src/useInfiniteQuery.ts
  packages/solid-query/src/useIsFetching.ts
  packages/solid-query/src/useIsMutating.ts
  packages/solid-query/src/useMutation.ts
  packages/solid-query/src/useMutationState.ts
  packages/solid-query/src/useQueries.ts
  pnpm-lock.yaml
Due: @tanstack/solid-query

feat(solid-query): wire deferStream through to Solid's per-computation SSR option
  .changeset/solid-query-native-rewrite.md
  packages/solid-query/src/types.ts
  packages/solid-query/src/useBaseQuery.ts
Due: @tanstack/solid-query

feat(solid-query): serve data through an auto-reconciling store projection
  .changeset/solid-query-native-rewrite.md
  packages/solid-query/src/__tests__/useQuery-semantics.test.tsx
  packages/solid-query/src/__tests__/useQuery.test.tsx
  packages/solid-query/src/types.ts
  packages/solid-query/src/useBaseQuery.ts
Due: @tanstack/solid-query

fix(solid-query): green up CI for the native rewrite
  packages/solid-query-devtools/package.json
  packages/solid-query-persist-client/package.json
  packages/solid-query-persist-client/src/__tests__/PersistQueryClientProvider.test.tsx
  packages/solid-query/src/useBaseQuery.ts
  pnpm-lock.yaml
Due: @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client

refactor(solid-query): unify the data node into a single hybrid projection
  packages/solid-query/src/useBaseQuery.ts
Due: @tanstack/solid-query

refactor(solid-query): default ('server') hydration semantics for the data node
  packages/solid-query/src/__tests__/hydration.test.tsx
  packages/solid-query/src/useBaseQuery.ts
Due: @tanstack/solid-query

fix(react-query): hydrate existing queries during render on the server
  .changeset/hydration-boundary-server-render.md
  packages/react-query/src/HydrationBoundary.tsx
  packages/react-query/src/__tests__/ssr.test.tsx
Due: @tanstack/react-query

fix(react-query): propagate falsy errors from useMutation to the error boundary
  .changeset/quiet-pugs-repeat.md
  packages/react-query/src/__tests__/useMutation.test.tsx
  packages/react-query/src/useMutation.ts
Due: @tanstack/react-query

fix(preact-query): propagate falsy errors from useMutation to the error boundary
  .changeset/spotty-hounds-clap.md
  packages/preact-query/src/__tests__/useMutation.test.tsx
  packages/preact-query/src/useMutation.ts
Due: none
