Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools, @tanstack/angular-query, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

codecov.yml:

codecov:
  max_report_age: off

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto

comment:
  layout: 'header, reach, diff, flags, components'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  hide_project_coverage: false

component_management:
  individual_components:
    - component_id: angular-query-devtools
      name: '@tanstack/angular-query-devtools'
      paths:
        - packages/angular-query-devtools/**
    - component_id: angular-query
      name: '@tanstack/angular-query'
      paths:
        - packages/angular-query/**
    - component_id: eslint-plugin-query
      name: '@tanstack/eslint-plugin-query'
      paths:
        - packages/eslint-plugin-query/**
    - component_id: query-async-storage-persister
      name: '@tanstack/query-async-storage-persister'
      paths:
        - packages/query-async-storage-persister/**
    - component_id: query-broadcast-client-experimental
      name: '@tanstack/query-broadcast-client-experimental'
      paths:
        - packages/query-broadcast-client-experimental/**
    - component_id: query-codemods
      name: '@tanstack/query-codemods'
      paths:
        - packages/query-codemods/**
    - component_id: query-core
      name: '@tanstack/query-core'
      paths:
        - packages/query-core/**
    - component_id: query-devtools
      name: '@tanstack/query-devtools'
      paths:
        - packages/query-devtools/**
    - component_id: query-persist-client-core
      name: '@tanstack/query-persist-client-core'
      paths:
        - packages/query-persist-client-core/**
    - component_id: query-sync-storage-persister
      name: '@tanstack/query-sync-storage-persister'
      paths:
        - packages/query-sync-storage-persister/**
    - component_id: query-test-utils
      name: '@tanstack/query-test-utils'
      paths:
        - packages/query-test-utils/**
    - component_id: react-query
      name: '@tanstack/react-query'
      paths:
        - packages/react-query/**
    - component_id: react-query-devtools
      name: '@tanstack/react-query-devtools'
      paths:
        - packages/react-query-devtools/**
    - component_id: react-query-next-experimental
      name: '@tanstack/react-query-next-experimental'
      paths:
        - packages/react-query-next-experimental/**
    - component_id: react-query-persist-client
      name: '@tanstack/react-query-persist-client'
      paths:
        - packages/react-query-persist-client/**
    - component_id: solid-query
      name: '@tanstack/solid-query'
      paths:
        - packages/solid-query/**
    - component_id: solid-query-devtools
      name: '@tanstack/solid-query-devtools'
      paths:
        - packages/solid-query-devtools/**
    - component_id: solid-query-persist-client
      name: '@tanstack/solid-query-persist-client'
      paths:
        - packages/solid-query-persist-client/**
    - component_id: svelte-query
      name: '@tanstack/svelte-query'
      paths:
        - packages/svelte-query/**
    - component_id: svelte-query-devtools
      name: '@tanstack/svelte-query-devtools'
      paths:
        - packages/svelte-query-devtools/**
    - component_id: svelte-query-persist-client
      name: '@tanstack/svelte-query-persist-client'
      paths:
        - packages/svelte-query-persist-client/**
    - component_id: vue-query
      name: '@tanstack/vue-query'
      paths:
        - packages/vue-query/**
    - component_id: vue-query-devtools
      name: '@tanstack/vue-query-devtools'
      paths:
        - packages/vue-query-devtools/**

docs(reference/QueryClient): clarify query client query methods (#10725)
  docs/reference/QueryClient.md
Due: none

fix(eslint-plugin-query): allow suspense queries combine deps (#10642)
  .changeset/fuzzy-bobcats-remember.md
  packages/eslint-plugin-query/src/__tests__/no-unstable-deps.test.ts
  packages/eslint-plugin-query/src/rules/no-unstable-deps/no-unstable-deps.rule.ts
Due: @tanstack/eslint-plugin-query

security: stricter pnpm config blockExoticSubdeps & trustPolicy (#10719)
  .github/workflows/pr.yml
  pnpm-workspace.yaml
Due: none

chore: enforce pnpm 11 (#10749)
  package.json
Due: none

Apply suggestion from @TkDodo
  docs/framework/react/guides/query-functions.md
Due: none

docs(react-query): undefined vs. null in query-functions.md (#10008)
  docs/framework/react/guides/query-functions.md
Due: none

fix: trust vite v6.4.1
  pnpm-workspace.yaml
Due: none

fix: update detect-agent because it has pinned setup actions
  .github/workflows/detect-agent.yml
Due: none

fix: trust vite v6.4.1 (#10756)
  .github/workflows/detect-agent.yml
  pnpm-workspace.yaml
Due: none

chore: pin chokidar to 5.0.0
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: pin chokidar to 5.0.0 (#10757)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(eslint-plugin-query): handle array-destructured useQueries results in no-unstable-deps (fix #10746) (#10747)
  .changeset/fix-no-unstable-deps-array-pattern.md
  packages/eslint-plugin-query/src/__tests__/no-unstable-deps.test.ts
  packages/eslint-plugin-query/src/rules/no-unstable-deps/no-unstable-deps.rule.ts
Due: @tanstack/eslint-plugin-query

fix(query-core): use built-in NoInfer for generic indexed-access types (#10593)
  .changeset/query-core-noinfer-builtin.md
  packages/preact-query/src/useQuery.ts
  packages/query-core/src/queryClient.ts
  packages/query-core/src/types.ts
  packages/react-query/src/__tests__/useQuery.test-d.tsx
  packages/react-query/src/useQuery.ts
  packages/vue-query/src/queryClient.ts
Due: @tanstack/query-core, @tanstack/react-query, @tanstack/vue-query

fix package json
  package.json
Due: none

fix(lit-query): prevent redundant host updates
  .changeset/lit-query-tracked-updates.md
  packages/lit-query/src/controllers/BaseController.ts
  packages/lit-query/src/createInfiniteQueryController.ts
  packages/lit-query/src/createQueriesController.ts
  packages/lit-query/src/createQueryController.ts
  packages/lit-query/src/queryObserverResultTracker.ts
  packages/lit-query/src/tests/counters-and-state.test.ts
  packages/lit-query/src/tests/infinite-and-options.test.ts
  packages/lit-query/src/tests/queries-controller.test.ts
  packages/lit-query/src/tests/query-controller.test.ts
  packages/lit-query/src/useMutationState.ts
Due: none

fix(solid-query): skip reconcile when data reference is unchanged
  .changeset/solid-query-reconcile-dedup.md
  packages/solid-query/src/__tests__/useQuery.test.tsx
  packages/solid-query/src/useBaseQuery.ts
Due: @tanstack/solid-query

fix(solid-query): don't trigger Suspense when data is already cached
  .changeset/solid-query-suspense-ensure-data.md
  packages/solid-query/src/__tests__/suspense.test.tsx
  packages/solid-query/src/useBaseQuery.ts
Due: @tanstack/solid-query

test(solid-query): assert queryFn never invoked when data preloaded
  packages/solid-query/src/__tests__/suspense.test.tsx
Due: @tanstack/solid-query

fix(vue-query): preserve TQueryKey inference with generic params (#8199)
  .changeset/vue-query-generic-querykey-inference.md
  packages/vue-query/src/__tests__/useQuery.test-d.ts
  packages/vue-query/src/useQuery.ts
Due: @tanstack/vue-query

test(vue-query): strengthen #8199 regression assertion with explicit TData
  packages/vue-query/src/__tests__/useQuery.test-d.ts
Due: @tanstack/vue-query

fix(vue-query): preserve discriminated union narrowing in UseBaseQueryReturnType (#9244)
  .changeset/vue-query-narrow-result-type.md
  docs/framework/vue/typescript.md
  packages/vue-query/src/__tests__/useQuery.test-d.ts
  packages/vue-query/src/useBaseQuery.ts
Due: @tanstack/vue-query

fix(vue-query): parameterize suspense return type by TResult
  packages/vue-query/src/useBaseQuery.ts
Due: @tanstack/vue-query

test(vue-query): pin suspense() Promise<TResult> parameterization
  packages/vue-query/src/__tests__/useQuery.test-d.ts
Due: @tanstack/vue-query

fix(svelte-query): wrap TData in NoInfer on query return types (#7673)
  .changeset/svelte-query-no-infer-tdata.md
  packages/svelte-query/src/createInfiniteQuery.ts
  packages/svelte-query/src/createQuery.ts
  packages/svelte-query/tests/createQuery/createQuery.test-d.ts
Due: @tanstack/svelte-query

fix(solid-query): allow combine to return arbitrary object shape (#7522)
  .changeset/fix-solid-query-combine-custom-result-shape.md
  packages/solid-query/src/__tests__/useQueries.test-d.tsx
  packages/solid-query/src/useQueries.ts
Due: @tanstack/solid-query

Revert "test(solid-query): add runtime test for combine returning arbitrary shape"
  packages/solid-query/src/__tests__/useQueries.test.tsx
Due: @tanstack/solid-query

test(solid-query): add runtime test for combine returning arbitrary shape
  packages/solid-query/src/__tests__/useQueries.test.tsx
Due: @tanstack/solid-query

fix(react): do not go into optimistic fetching state when not subscribed
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/react-query/src/useBaseQuery.ts
Due: @tanstack/react-query

changeset
  .changeset/strong-toes-knock.md
Due: none

fix: upgrade @sveltejs/kit to 2.57.1 (CVE-2026-40073) (#10637)
  examples/svelte/auto-refetching/package.json
  examples/svelte/basic/package.json
  examples/svelte/load-more-infinite-scroll/package.json
  examples/svelte/optimistic-updates/package.json
  examples/svelte/playground/package.json
  examples/svelte/ssr/package.json
  examples/svelte/star-wars/package.json
  pnpm-lock.yaml
Due: none

test(query-devtools/Devtools): add tests for opening a picture-in-picture window
  packages/query-devtools/src/__tests__/Devtools.test.tsx
Due: @tanstack/query-devtools

test(query-devtools/Devtools): add tests for opening a picture-in-picture window (#10760)
  packages/query-devtools/src/__tests__/Devtools.test.tsx
Due: @tanstack/query-devtools

test(query-devtools/Devtools): add test for 'pip_open' reset when the popup is blocked
  packages/query-devtools/src/__tests__/Devtools.test.tsx
Due: @tanstack/query-devtools

test(query-devtools/Devtools): add test for 'pip_open' reset when the popup is blocked (#10761)
  packages/query-devtools/src/__tests__/Devtools.test.tsx
Due: @tanstack/query-devtools

test(query-devtools/Devtools): add tests for in-page panel visibility while a PiP window is open
  packages/query-devtools/src/__tests__/Devtools.test.tsx
Due: @tanstack/query-devtools

test(query-devtools/Devtools): add tests for in-page panel visibility while a PiP window is open (#10762)
  packages/query-devtools/src/__tests__/Devtools.test.tsx
Due: @tanstack/query-devtools

test(query-devtools/Devtools): add test for restoring 'width' to the rendered minimum after a drag clamp
  packages/query-devtools/src/__tests__/Devtools.test.tsx
Due: @tanstack/query-devtools

test(query-devtools/Devtools): add test for restoring 'width' to the rendered minimum after a drag clamp (#10763)
  packages/query-devtools/src/__tests__/Devtools.test.tsx
Due: @tanstack/query-devtools

test(query-devtools/Devtools): add test for rendering an idle mutation row
  packages/query-devtools/src/__tests__/Devtools.test.tsx
Due: @tanstack/query-devtools

test(query-devtools/Devtools): add test for rendering an idle mutation row (#10764)
  packages/query-devtools/src/__tests__/Devtools.test.tsx
Due: @tanstack/query-devtools
