Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

docs(react-query): reference for usePrefetchQueries
  docs/config.json
  docs/framework/react/reference/usePrefetchQueries.md
Due: none

docs(react-query): usePrefetchQueries docs
  docs/framework/react/guides/prefetching.md
Due: none

docs(react-query): broken prefetching links
  docs/framework/react/guides/prefetching.md
Due: none

fix(react-query): enforce array of options types
  packages/react-query/src/usePrefetchQueries.tsx
Due: @tanstack/react-query

Fix broken links on ssr.md
  docs/framework/react/guides/ssr.md
Due: none

docs(react): Fix broken links on mutation pages
  docs/framework/react/guides/invalidations-from-mutations.md
  docs/framework/react/guides/mutations.md
Due: none

fix(react-query): update types
  packages/react-query/src/__tests__/usePrefetchQueries.test-d.tsx
  packages/react-query/src/usePrefetchQueries.tsx
Due: @tanstack/react-query

chore: update
  packages/react-query/src/__tests__/HydrationBoundary.test.tsx
Due: @tanstack/react-query

docs(react-query): small fix
  docs/framework/react/guides/prefetching.md
Due: none

docs(react-query): grammer
  docs/framework/react/guides/prefetching.md
Due: none

docs: Fix broken links on ssr.md (#8792)
  docs/framework/react/guides/ssr.md
Due: none

fix: broken-link
  docs/framework/react/guides/query-options.md
Due: none

fix: remove .md
  docs/framework/react/guides/query-options.md
Due: none

docs: Fix broken links in query-options.md (#8800)
  docs/framework/react/guides/query-options.md
Due: none

docs: fix-broken-link
  docs/framework/react/guides/dependent-queries.md
  docs/framework/react/guides/initial-query-data.md
  docs/framework/react/guides/migrating-to-react-query-3.md
  docs/framework/react/guides/migrating-to-react-query-4.md
  docs/framework/react/guides/migrating-to-v5.md
  docs/framework/react/guides/network-mode.md
  docs/framework/react/guides/prefetching.md
  docs/framework/react/guides/queries.md
  docs/framework/react/guides/query-functions.md
  docs/framework/react/guides/query-invalidation.md
  docs/framework/react/guides/request-waterfalls.md
  docs/framework/react/guides/ssr.md
  docs/framework/react/guides/suspense.md
  docs/framework/react/guides/updates-from-mutation-responses.md
Due: none

feat(eslint-plugin-query): enhance no-rest-destructuring rule to detect spread operations
  packages/eslint-plugin-query/src/__tests__/no-rest-destructuring.test.ts
  packages/eslint-plugin-query/src/rules/no-rest-destructuring/no-rest-destructuring.rule.ts
Due: @tanstack/eslint-plugin-query

feat(eslint-plugin-query): enhance no-rest-destructuring rule to detect spread operations (#8802)
  packages/eslint-plugin-query/src/__tests__/no-rest-destructuring.test.ts
  packages/eslint-plugin-query/src/rules/no-rest-destructuring/no-rest-destructuring.rule.ts
Due: @tanstack/eslint-plugin-query

test(query-core): use fake timers for mutationObserver.test.tsx
  packages/query-core/src/__tests__/mutationObserver.test.tsx
Due: @tanstack/query-core

test(query-core): use fake timers for mutations.test.tsx
  packages/query-core/src/__tests__/mutations.test.tsx
Due: @tanstack/query-core

test(query-core): use fake timers for mutationCache.test.tsx
  packages/query-core/src/__tests__/mutationCache.test.tsx
Due: @tanstack/query-core

chore: update
  packages/query-core/src/__tests__/mutationCache.test.tsx
Due: @tanstack/query-core

test(query-core): use fake timers for focusManager.test.tsx
  packages/query-core/src/__tests__/focusManager.test.tsx
Due: @tanstack/query-core

docs: fix example path in "advanced-ssr.md"
  docs/framework/react/guides/advanced-ssr.md
Due: none

fix: broken example link
  docs/framework/react/guides/mutations.md
  docs/framework/react/guides/prefetching.md
  docs/framework/react/guides/suspense.md
Due: none

feat: streamedQuery
  packages/query-core/src/__tests__/streamedQuery.test.tsx
  packages/query-core/src/index.ts
  packages/query-core/src/streamedQuery.ts
Due: @tanstack/query-core

feat: streaming example
  examples/react/streaming/.eslintrc
  examples/react/streaming/.gitignore
  examples/react/streaming/README.md
  examples/react/streaming/index.html
  examples/react/streaming/package.json
  examples/react/streaming/public/emblem-light.svg
  examples/react/streaming/src/chat.ts
  examples/react/streaming/src/index.tsx
  examples/react/streaming/src/message.tsx
  examples/react/streaming/src/style.css
  examples/react/streaming/tsconfig.json
  examples/react/streaming/vite.config.ts
  pnpm-lock.yaml
Due: none

chore: move
  docs/config.json
  examples/react/chat/.eslintrc
  examples/react/chat/.gitignore
  examples/react/chat/README.md
  examples/react/chat/index.html
  examples/react/chat/package.json
  examples/react/chat/public/emblem-light.svg
  examples/react/chat/src/chat.ts
  examples/react/chat/src/index.tsx
  examples/react/chat/src/message.tsx
  examples/react/chat/src/style.css
  examples/react/chat/tsconfig.json
  examples/react/chat/vite.config.ts
Due: none

chore: fix lock file
  pnpm-lock.yaml
Due: none

chore: update vinxi version
  examples/solid/solid-start-streaming/package.json
Due: none

fix: pnpm-workspace.yaml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(angular-query): do not run callbacks in injection context
  packages/angular-query-devtools-experimental/src/inject-devtools-panel.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation-state.test.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation.test.ts
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
  packages/angular-query-experimental/src/create-base-query.ts
  packages/angular-query-experimental/src/inject-mutation.ts
  packages/angular-query-experimental/src/providers.ts
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental

fix(angular-query): do not run callbacks in injection context (#8817)
  packages/angular-query-devtools-experimental/src/inject-devtools-panel.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation-state.test.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation.test.ts
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
  packages/angular-query-experimental/src/create-base-query.ts
  packages/angular-query-experimental/src/inject-mutation.ts
  packages/angular-query-experimental/src/providers.ts
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental

release: v5.68.1
  examples/angular/auto-refetching/package.json
  examples/angular/basic/package.json
  examples/angular/devtools-panel/package.json
  examples/angular/infinite-query-with-max-pages/package.json
  examples/angular/optimistic-updates/package.json
  examples/angular/pagination/package.json
  examples/angular/query-options-from-a-service/package.json
  examples/angular/router/package.json
  examples/angular/rxjs/package.json
  examples/angular/simple/package.json
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/package.json
  pnpm-lock.yaml
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental

test(query-core): use fake timers for mutationObserver.test.tsx (#8805)
  packages/query-core/src/__tests__/mutationObserver.test.tsx
Due: @tanstack/query-core

test(query-core): use fake timers for mutations.test.tsx (#8806)
  packages/query-core/src/__tests__/mutations.test.tsx
Due: @tanstack/query-core

test(query-core): use fake timers for mutationCache.test.tsx (#8807)
  packages/query-core/src/__tests__/mutationCache.test.tsx
Due: @tanstack/query-core

test(query-core): use fake timers for focusManager.test.tsx (#8809)
  packages/query-core/src/__tests__/focusManager.test.tsx
Due: @tanstack/query-core

docs: Fix broken link some example path (#8813)
  docs/framework/react/guides/advanced-ssr.md
  docs/framework/react/guides/mutations.md
  docs/framework/react/guides/prefetching.md
  docs/framework/react/guides/suspense.md
Due: none

docs: add .md to links
  docs/framework/react/guides/advanced-ssr.md
Due: none

Path conditions:
  @tanstack/angular-query-devtools-experimental: any of: packages/angular-query-devtools-experimental/**
  @tanstack/angular-query-experimental: any of: packages/angular-query-experimental/**
  @tanstack/eslint-plugin-query: any of: packages/eslint-plugin-query/**
  @tanstack/query-async-storage-persister: any of: packages/query-async-storage-persister/**
  @tanstack/query-broadcast-client-experimental: any of: packages/query-broadcast-client-experimental/**
  @tanstack/query-codemods: any of: packages/codemods/**
  @tanstack/query-core: any of: packages/query-core/**
  @tanstack/query-devtools: any of: packages/query-devtools/**
  @tanstack/query-persist-client-core: any of: packages/query-persist-client-core/**
  @tanstack/query-sync-storage-persister: any of: packages/query-sync-storage-persister/**
  @tanstack/react-query: any of: packages/react-query/**
  @tanstack/react-query-devtools: any of: packages/react-query-devtools/**
  @tanstack/react-query-next-experimental: any of: packages/react-query-next-experimental/**
  @tanstack/react-query-persist-client: any of: packages/react-query-persist-client/**
  @tanstack/solid-query: any of: packages/solid-query/**
  @tanstack/solid-query-devtools: any of: packages/solid-query-devtools/**
  @tanstack/solid-query-persist-client: any of: packages/solid-query-persist-client/**
  @tanstack/svelte-query: any of: packages/svelte-query/**
  @tanstack/svelte-query-devtools: any of: packages/svelte-query-devtools/**
  @tanstack/svelte-query-persist-client: any of: packages/svelte-query-persist-client/**
  @tanstack/vue-query: any of: packages/vue-query/**
  @tanstack/vue-query-devtools: any of: packages/vue-query-devtools/**
