Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 1%

comment:
  layout: 'header, reach, diff, flags, components'

component_management:
  individual_components:
    - component_id: angular-query-devtools-experimental
      name: '@tanstack/angular-query-devtools-experimental'
      paths:
        - packages/angular-query-devtools-experimental/**
    - component_id: angular-query-experimental
      name: '@tanstack/angular-query-experimental'
      paths:
        - packages/angular-query-experimental/**
    - component_id: eslint-plugin-query
      name: '@tanstack/eslint-plugin-query'
      paths:
        - packages/eslint-plugin-query/**
    - component_id: query-async-storage-persister
      name: '@tanstack/query-async-storage-persister'
      paths:
        - packages/query-async-storage-persister/**
    - component_id: query-broadcast-client-experimental
      name: '@tanstack/query-broadcast-client-experimental'
      paths:
        - packages/query-broadcast-client-experimental/**
    - component_id: query-codemods
      name: '@tanstack/query-codemods'
      paths:
        - packages/codemods/**
    - component_id: query-core
      name: '@tanstack/query-core'
      paths:
        - packages/query-core/**
    - component_id: query-devtools
      name: '@tanstack/query-devtools'
      paths:
        - packages/query-devtools/**
    - component_id: query-persist-client-core
      name: '@tanstack/query-persist-client-core'
      paths:
        - packages/query-persist-client-core/**
    - component_id: query-sync-storage-persister
      name: '@tanstack/query-sync-storage-persister'
      paths:
        - packages/query-sync-storage-persister/**
    - component_id: react-query
      name: '@tanstack/react-query'
      paths:
        - packages/react-query/**
    - component_id: react-query-devtools
      name: '@tanstack/react-query-devtools'
      paths:
        - packages/react-query-devtools/**
    - component_id: react-query-next-experimental
      name: '@tanstack/react-query-next-experimental'
      paths:
        - packages/react-query-next-experimental/**
    - component_id: react-query-persist-client
      name: '@tanstack/react-query-persist-client'
      paths:
        - packages/react-query-persist-client/**
    - component_id: solid-query
      name: '@tanstack/solid-query'
      paths:
        - packages/solid-query/**
    - component_id: solid-query-devtools
      name: '@tanstack/solid-query-devtools'
      paths:
        - packages/solid-query-devtools/**
    - component_id: solid-query-persist-client
      name: '@tanstack/solid-query-persist-client'
      paths:
        - packages/solid-query-persist-client/**
    - component_id: svelte-query
      name: '@tanstack/svelte-query'
      paths:
        - packages/svelte-query/**
    - component_id: svelte-query-devtools
      name: '@tanstack/svelte-query-devtools'
      paths:
        - packages/svelte-query-devtools/**
    - component_id: svelte-query-persist-client
      name: '@tanstack/svelte-query-persist-client'
      paths:
        - packages/svelte-query-persist-client/**
    - component_id: vue-query
      name: '@tanstack/vue-query'
      paths:
        - packages/vue-query/**
    - component_id: vue-query-devtools
      name: '@tanstack/vue-query-devtools'
      paths:
        - packages/vue-query-devtools/**

Capitalise
  examples/react/algolia/tsconfig.json
  examples/react/basic-typescript/tsconfig.json
  examples/react/nextjs-app-prefetching/tsconfig.json
  examples/react/react-router/tsconfig.json
  examples/react/shadow-dom/tsconfig.json
  examples/react/shadow-dom/tsconfig.node.json
  examples/solid/basic-graphql-request/tsconfig.json
  examples/solid/basic-typescript/tsconfig.json
  examples/solid/default-query-function/tsconfig.json
  examples/solid/simple/tsconfig.json
  integrations/react-next-15/tsconfig.json
  integrations/react-next/tsconfig.json
  integrations/vue-vite/tsconfig.json
  integrations/vue-vite/tsconfig.node.json
  packages/angular-query-devtools-experimental/tsconfig.build.json
Due: @tanstack/angular-query-devtools-experimental

ci: Avoid uploading coverage files in Nx cache
  .github/workflows/ci.yml
  .github/workflows/pr.yml
Due: none

ci: Prevent uploading coverage files found in Nx cache (#7619)
  .github/workflows/ci.yml
  .github/workflows/pr.yml
Due: none

Fix eslint errors
  packages/query-core/src/__tests__/queryObserver.test.tsx
Due: @tanstack/query-core

feat(react-query): usePrefetchQuery (#7582)
  docs/config.json
  docs/framework/react/guides/prefetching.md
  docs/framework/react/reference/usePrefetchInfiniteQuery.md
  docs/framework/react/reference/usePrefetchQuery.md
  packages/react-query/src/__tests__/prefetch.test-d.tsx
  packages/react-query/src/__tests__/prefetch.test.tsx
  packages/react-query/src/index.ts
  packages/react-query/src/prefetch.ts
Due: @tanstack/react-query

feat(core): Add possibility to pass a callback to enabled. (#7566)
  docs/framework/react/guides/disabling-queries.md
  docs/framework/react/react-native.md
  docs/framework/react/reference/useQuery.md
  packages/query-core/src/__tests__/queryObserver.test.tsx
  packages/query-core/src/query.ts
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/types.ts
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

Remove the variable assignment from example code
  docs/framework/react/reference/usePrefetchQuery.md
Due: none

fix(vue-query): remove unnecessary enabled guard
  packages/vue-query/src/useBaseQuery.ts
Due: @tanstack/vue-query

remove variable assignment in prefetch query docs
  docs/framework/react/reference/usePrefetchInfiniteQuery.md
Due: none

docs: restructure devtools page
  docs/framework/vue/devtools.md
Due: none

docs(vue): up-to-date devtools information (#7578)
  docs/framework/vue/devtools.md
Due: none

docs: typo
  docs/framework/react/guides/advanced-ssr.md
  docs/framework/vue/devtools.md
Due: none

docs: typo (#7628)
  docs/framework/react/guides/advanced-ssr.md
  docs/framework/vue/devtools.md
Due: none

fix(vue-query): types should now properly accept computed queryOptions
  packages/vue-query/src/__tests__/useQuery.test-d.ts
  packages/vue-query/src/types.ts
Due: @tanstack/vue-query

fix(vue-query): types should now properly accept computed queryOptions (#7631)
  packages/vue-query/src/__tests__/useQuery.test-d.ts
  packages/vue-query/src/types.ts
Due: @tanstack/vue-query

release: v5.48.1
  examples/vue/2.6-basic/package.json
  examples/vue/2.7-basic/package.json
  examples/vue/basic/package.json
  examples/vue/dependent-queries/package.json
  examples/vue/nuxt3/package.json
  examples/vue/persister/package.json
  examples/vue/simple/package.json
  packages/vue-query-devtools/package.json
  packages/vue-query/package.json
  pnpm-lock.yaml
Due: @tanstack/vue-query, @tanstack/vue-query-devtools

fix(vue-query): useQueries type inference
  packages/vue-query/src/__tests__/useQueries.test-d.ts
  packages/vue-query/src/useQueries.ts
Due: @tanstack/vue-query

fix(vue-query): useQueries type inference (#7416)
  packages/vue-query/src/__tests__/useQueries.test-d.ts
  packages/vue-query/src/useQueries.ts
Due: @tanstack/vue-query

release: v5.48.2
  examples/vue/2.6-basic/package.json
  examples/vue/2.7-basic/package.json
  examples/vue/basic/package.json
  examples/vue/dependent-queries/package.json
  examples/vue/nuxt3/package.json
  examples/vue/persister/package.json
  examples/vue/simple/package.json
  packages/vue-query-devtools/package.json
  packages/vue-query/package.json
  pnpm-lock.yaml
Due: @tanstack/vue-query, @tanstack/vue-query-devtools

add support for nested queries
  packages/vue-query/src/__tests__/useQueries.test.ts
  packages/vue-query/src/__tests__/useQuery.test.ts
  packages/vue-query/src/useBaseQuery.ts
  packages/vue-query/src/useQueries.ts
  packages/vue-query/src/utils.ts
Due: @tanstack/vue-query

refactor: minor code refactoring and type improvement for react-native example
  examples/react/react-native/src/components/ListItem.tsx
  examples/react/react-native/src/lib/api.ts
  examples/react/react-native/src/screens/MoviesListScreen.tsx
Due: none

chore: slice the movie with original value
  examples/react/react-native/src/lib/api.ts
Due: none

chore: Migrate to ESLint flat config
  .eslintrc.cjs
  .lintstagedrc
  eslint.config.js
  package.json
  packages/angular-query-devtools-experimental/tsconfig.json
  packages/angular-query-experimental/tsconfig.json
  packages/eslint-plugin-query/tsconfig.json
  packages/query-async-storage-persister/tsconfig.json
  packages/query-broadcast-client-experimental/tsconfig.json
  packages/query-codemods/tsconfig.json
  packages/query-core/.eslintrc.cjs
  packages/query-core/eslint.config.js
  packages/query-core/package.json
  packages/query-core/tsconfig.json
  packages/query-devtools/tsconfig.json
  packages/query-persist-client-core/tsconfig.json
  packages/query-sync-storage-persister/tsconfig.json
  packages/react-query-devtools/tsconfig.json
  packages/react-query-next-experimental/tsconfig.json
  packages/react-query-persist-client/tsconfig.json
  packages/react-query/tsconfig.json
  packages/solid-query-devtools/tsconfig.json
  packages/solid-query-persist-client/tsconfig.json
  packages/solid-query/tsconfig.json
  packages/svelte-query-devtools/tsconfig.json
  packages/svelte-query-persist-client/tsconfig.json
  packages/svelte-query/tsconfig.json
  packages/vue-query-devtools/tsconfig.json
  packages/vue-query/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

Migrate more packages
  eslint.config.js
  packages/eslint-plugin-query/.eslintrc.cjs
  packages/eslint-plugin-query/eslint.config.js
  packages/eslint-plugin-query/package.json
  packages/query-async-storage-persister/.eslintrc.cjs
  packages/query-async-storage-persister/eslint.config.js
  packages/query-async-storage-persister/package.json
  packages/query-broadcast-client-experimental/.eslintrc.cjs
  packages/query-broadcast-client-experimental/eslint.config.js
  packages/query-broadcast-client-experimental/package.json
  packages/query-codemods/.eslintrc.cjs
  packages/query-codemods/eslint.config.js
  packages/query-codemods/package.json
  packages/query-devtools/.eslintrc.cjs
  packages/query-devtools/eslint.config.js
  packages/query-devtools/package.json
  packages/query-persist-client-core/.eslintrc.cjs
  packages/query-persist-client-core/eslint.config.js
  packages/query-persist-client-core/package.json
  packages/query-sync-storage-persister/.eslintrc.cjs
  packages/query-sync-storage-persister/eslint.config.js
  packages/query-sync-storage-persister/package.json
Due: @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister

angular and solid
  eslint.config.js
  packages/angular-query-devtools-experimental/.eslintrc.cjs
  packages/angular-query-devtools-experimental/eslint.config.js
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/.eslintrc.cjs
  packages/angular-query-experimental/eslint.config.js
  packages/angular-query-experimental/package.json
  packages/eslint-plugin-query/vite.config.ts
  packages/query-devtools/eslint.config.js
  packages/query-sync-storage-persister/eslint.config.js
  packages/solid-query-devtools/.eslintrc.cjs
  packages/solid-query-devtools/eslint.config.js
  packages/solid-query-devtools/package.json
  packages/solid-query-persist-client/.eslintrc.cjs
  packages/solid-query-persist-client/eslint.config.js
  packages/solid-query-persist-client/package.json
  packages/solid-query/.eslintrc.cjs
  packages/solid-query/eslint.config.js
  packages/solid-query/package.json
  packages/solid-query/src/__tests__/createQuery.test.tsx
  packages/vue-query-devtools/vite.config.ts
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-devtools, @tanstack/query-sync-storage-persister, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/vue-query-devtools

svelte packages
  packages/svelte-query-devtools/.eslintrc.cjs
  packages/svelte-query-devtools/eslint.config.js
  packages/svelte-query-devtools/package.json
  packages/svelte-query-persist-client/.eslintrc.cjs
  packages/svelte-query-persist-client/eslint.config.js
  packages/svelte-query-persist-client/package.json
  packages/svelte-query/.eslintrc.cjs
  packages/svelte-query/eslint.config.js
  packages/svelte-query/package.json
Due: @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client

Hopefully more fixes
  eslint.config.js
  package.json
  packages/react-query-devtools/package.json
  packages/react-query-next-experimental/package.json
  packages/react-query-persist-client/package.json
  packages/react-query/package.json
  packages/svelte-query-devtools/package.json
  packages/svelte-query-persist-client/package.json
  packages/svelte-query/package.json
  packages/vue-query-devtools/package.json
  packages/vue-query/package.json
  pnpm-lock.yaml
Due: @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

react packages
  package.json
  packages/react-query-devtools/.eslintrc.cjs
  packages/react-query-devtools/eslint.config.js
  packages/react-query-next-experimental/.eslintrc.cjs
  packages/react-query-next-experimental/eslint.config.js
  packages/react-query-persist-client/.eslintrc.cjs
  packages/react-query-persist-client/eslint.config.js
  packages/react-query/.eslintrc.cjs
  packages/react-query/eslint.config.js
  pnpm-lock.yaml
Due: @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client

vue packages
  packages/vue-query-devtools/.eslintrc.cjs
  packages/vue-query-devtools/eslint.config.js
  packages/vue-query-devtools/package.json
  packages/vue-query-devtools/src/devtools.vue
  packages/vue-query/.eslintrc.cjs
  packages/vue-query/eslint.config.js
  packages/vue-query/package.json
  pnpm-lock.yaml
Due: @tanstack/vue-query, @tanstack/vue-query-devtools

Fix typescript errors
  packages/react-query-devtools/eslint.config.js
  packages/react-query-next-experimental/eslint.config.js
  packages/react-query-persist-client/eslint.config.js
  packages/react-query/eslint.config.js
  packages/vue-query-devtools/eslint.config.js
  packages/vue-query/eslint.config.js
Due: @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

Update Nx config
  .lintstagedrc
  nx.json
  package.json
  pnpm-lock.yaml
Due: none

docs: Remove the variable assignment from example code (#7623)
  docs/framework/react/reference/usePrefetchInfiniteQuery.md
  docs/framework/react/reference/usePrefetchQuery.md
Due: none

docs(examples): code refactoring and type improvement (#7634)
  examples/react/react-native/src/components/ListItem.tsx
  examples/react/react-native/src/lib/api.ts
  examples/react/react-native/src/screens/MoviesListScreen.tsx
Due: none

remove transformPromise
  integrations/react-next-15/app/make-query-client.ts
  integrations/react-next-15/app/page.tsx
  packages/query-core/src/hydration.ts
Due: @tanstack/query-core

fix
  docs/framework/react/guides/advanced-ssr.md
  packages/query-core/src/__tests__/hydration.test.tsx
Due: @tanstack/query-core

rev
  integrations/react-next-15/app/page.tsx
Due: none
