Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

fix(query-core): abort fetch loop for infinite queries if getNextPageParam returns null or undefined (#7799)
  packages/query-core/src/__tests__/queryClient.test.tsx
  packages/query-core/src/infiniteQueryBehavior.ts
Due: @tanstack/query-core

fix(react-query): make sure that we never render with undefined data when using suspense
  packages/react-query/src/__tests__/suspense.test.tsx
  packages/react-query/src/errorBoundaryUtils.ts
  packages/react-query/src/useBaseQuery.ts
  packages/react-query/src/useQueries.ts
Due: @tanstack/react-query

refactor: exposes noop from query-core and use it in adapters
  packages/angular-query-experimental/src/inject-mutation.ts
  packages/angular-query-experimental/src/util/index.ts
  packages/query-core/src/index.ts
  packages/query-core/src/utils.ts
  packages/react-query/src/useMutation.ts
  packages/react-query/src/utils.ts
  packages/solid-query/src/createMutation.ts
  packages/solid-query/src/utils.ts
  packages/svelte-query/src/createMutation.ts
  packages/svelte-query/src/utils.ts
Due: @tanstack/angular-query-experimental, @tanstack/query-core, @tanstack/react-query, @tanstack/solid-query, @tanstack/svelte-query

refactor: move shouldThrowOnError to errorBoundaryUtils.ts
  packages/react-query/src/errorBoundaryUtils.ts
  packages/react-query/src/useMutation.ts
  packages/react-query/src/utils.ts
Due: @tanstack/react-query

fix(query-core) export Mutation class instead of exporting it as a type (#7793)
  packages/query-core/src/index.ts
Due: @tanstack/query-core

docs(examples): Fix small errors in svelte examples
  docs/config.json
  examples/svelte/auto-refetching/src/routes/+page.svelte
  examples/svelte/basic/src/lib/data.ts
  examples/svelte/load-more-infinite-scroll/src/app.css
  examples/svelte/load-more-infinite-scroll/src/routes/+page.svelte
  examples/svelte/optimistic-updates/.gitignore
  examples/svelte/optimistic-updates/README.md
  examples/svelte/optimistic-updates/package.json
  examples/svelte/optimistic-updates/src/app.css
  examples/svelte/optimistic-updates/src/app.d.ts
  examples/svelte/optimistic-updates/src/app.html
  examples/svelte/optimistic-updates/src/routes/+layout.svelte
  examples/svelte/optimistic-updates/src/routes/+page.svelte
  examples/svelte/optimistic-updates/src/routes/api/data/+server.ts
  examples/svelte/optimistic-updates/static/favicon.png
  examples/svelte/optimistic-updates/svelte.config.js
  examples/svelte/optimistic-updates/tsconfig.json
  examples/svelte/optimistic-updates/vite.config.ts
  examples/svelte/simple/src/lib/Simple.svelte
  examples/svelte/simple/src/main.ts
  examples/svelte/ssr/src/lib/api.ts
  pnpm-lock.yaml
Due: none

docs(examples): Fix small errors in svelte examples (#7801)
  docs/config.json
  examples/svelte/auto-refetching/src/routes/+page.svelte
  examples/svelte/basic/src/lib/data.ts
  examples/svelte/load-more-infinite-scroll/src/app.css
  examples/svelte/load-more-infinite-scroll/src/routes/+page.svelte
  examples/svelte/optimistic-updates/.gitignore
  examples/svelte/optimistic-updates/README.md
  examples/svelte/optimistic-updates/package.json
  examples/svelte/optimistic-updates/src/app.css
  examples/svelte/optimistic-updates/src/app.d.ts
  examples/svelte/optimistic-updates/src/app.html
  examples/svelte/optimistic-updates/src/routes/+layout.svelte
  examples/svelte/optimistic-updates/src/routes/+page.svelte
  examples/svelte/optimistic-updates/src/routes/api/data/+server.ts
  examples/svelte/optimistic-updates/static/favicon.png
  examples/svelte/optimistic-updates/svelte.config.js
  examples/svelte/optimistic-updates/tsconfig.json
  examples/svelte/optimistic-updates/vite.config.ts
  examples/svelte/simple/src/lib/Simple.svelte
  examples/svelte/simple/src/main.ts
  examples/svelte/ssr/src/lib/api.ts
  pnpm-lock.yaml
Due: none

Fix type
  examples/svelte/auto-refetching/src/routes/+page.svelte
Due: none

Fix simple example mounting
  examples/svelte/simple/src/main.ts
Due: none

fix(svelte-5-adapter): Require options to be passed as function
  packages/svelte-query/src/createBaseQuery.svelte.ts
  packages/svelte-query/src/createQueries.svelte.ts
  packages/svelte-query/src/createQuery.ts
  packages/svelte-query/src/types.ts
  packages/svelte-query/tests/createQueries/BaseExample.svelte
  packages/svelte-query/tests/createQueries/createQueries.test-d.ts
  packages/svelte-query/tests/createQueries/createQueries.test.ts
  packages/svelte-query/tests/createQuery/BaseExample.svelte
  packages/svelte-query/tests/createQuery/DisabledExample.svelte
  packages/svelte-query/tests/createQuery/PlaceholderData.svelte
  packages/svelte-query/tests/createQuery/createQuery.svelte.test.ts
  packages/svelte-query/tests/createQuery/createQuery.test-d.ts
  pnpm-lock.yaml
Due: @tanstack/svelte-query

More fixes
  packages/svelte-query/src/createInfiniteQuery.ts
  packages/svelte-query/tests/QueryClientProvider/ChildComponent.svelte
  packages/svelte-query/tests/createInfiniteQuery/BaseExample.svelte
  packages/svelte-query/tests/createInfiniteQuery/SelectExample.svelte
  packages/svelte-query/tests/createQueries/BaseExample.svelte
  packages/svelte-query/tests/createQueries/CombineExample.svelte
  packages/svelte-query/tests/createQueries/createQueries.test-d.ts
  packages/svelte-query/tests/createQueries/createQueries.test.ts
  packages/svelte-query/tests/infiniteQueryOptions/infiniteQueryOptions.test-d.ts
  packages/svelte-query/tests/queryOptions/queryOptions.test-d.ts
  packages/svelte-query/tests/useIsFetching/BaseExample.svelte
Due: @tanstack/svelte-query

More fixes
  packages/svelte-query/src/createQueries.svelte.ts
Due: @tanstack/svelte-query

Update examples
  examples/svelte/basic/src/lib/Post.svelte
  examples/svelte/basic/src/lib/Posts.svelte
  examples/svelte/load-more-infinite-scroll/src/lib/LoadMore.svelte
  examples/svelte/optimistic-updates/src/routes/+page.svelte
  examples/svelte/playground/src/routes/AddTodo.svelte
  examples/svelte/playground/src/routes/EditTodo.svelte
  examples/svelte/simple/src/lib/Simple.svelte
  examples/svelte/ssr/src/lib/Post.svelte
  examples/svelte/ssr/src/lib/Posts.svelte
  examples/svelte/star-wars/src/routes/characters/+page.svelte
  examples/svelte/star-wars/src/routes/characters/[characterId]/+page.svelte
  examples/svelte/star-wars/src/routes/characters/[characterId]/Film.svelte
  examples/svelte/star-wars/src/routes/characters/[characterId]/Homeworld.svelte
  examples/svelte/star-wars/src/routes/films/+page.svelte
  examples/svelte/star-wars/src/routes/films/[filmId]/+page.svelte
  examples/svelte/star-wars/src/routes/films/[filmId]/Character.svelte
  packages/svelte-query-persist-client/tests/AwaitOnSuccess/AwaitOnSuccess.svelte
  packages/svelte-query-persist-client/tests/FreshData/FreshData.svelte
  packages/svelte-query-persist-client/tests/InitialData/InitialData.svelte
  packages/svelte-query-persist-client/tests/OnSuccess/OnSuccess.svelte
  packages/svelte-query-persist-client/tests/RemoveCache/RemoveCache.svelte
  packages/svelte-query-persist-client/tests/RestoreCache/RestoreCache.svelte
  packages/svelte-query-persist-client/tests/UseQueries/UseQueries.svelte
Due: @tanstack/svelte-query-persist-client

docs(solid-query): fix quick-start example (#7770)
  docs/framework/solid/quick-start.md
Due: none

fix(svelte-5-adapter): require function for createMutation options
  examples/svelte/auto-refetching/src/routes/+page.svelte
  examples/svelte/optimistic-updates/src/routes/+page.svelte
  examples/svelte/playground/src/routes/AddTodo.svelte
  examples/svelte/playground/src/routes/EditTodo.svelte
  packages/svelte-query/src/createBaseQuery.svelte.ts
  packages/svelte-query/src/createMutation.svelte.ts
  packages/svelte-query/tests/createMutation/FailureExample.svelte
  packages/svelte-query/tests/createMutation/OnSuccessExample.svelte
  packages/svelte-query/tests/createMutation/ResetExample.svelte
  packages/svelte-query/tests/useIsMutating/BaseExample.svelte
  packages/svelte-query/tests/useMutationState/BaseExample.svelte
  packages/svelte-query/tests/useMutationState/useMutationState.test.ts
Due: @tanstack/svelte-query

Fix type errors
  packages/svelte-query-persist-client/tests/FreshData/FreshData.svelte
  packages/svelte-query/tests/createInfiniteQuery/BaseExample.svelte
  packages/svelte-query/tests/createInfiniteQuery/SelectExample.svelte
  packages/svelte-query/tests/createQuery/PlaceholderData.svelte
Due: @tanstack/svelte-query, @tanstack/svelte-query-persist-client

refactor(solid-query): separate queryOptions from createQuery
  packages/solid-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/solid-query/src/__tests__/queryOptions.test-d.tsx
  packages/solid-query/src/createInfiniteQuery.ts
  packages/solid-query/src/createQuery.ts
  packages/solid-query/src/index.ts
  packages/solid-query/src/infiniteQueryOptions.ts
  packages/solid-query/src/queryOptions.ts
Due: @tanstack/solid-query

docs(svelte-query): use PersistQueryClientProvider in basic example
  examples/svelte/basic/package.json
  examples/svelte/basic/src/routes/+layout.svelte
  pnpm-lock.yaml
Due: none

docs(svelte-query): add persist to basic example (#7807)
  examples/svelte/basic/package.json
  examples/svelte/basic/src/routes/+layout.svelte
  pnpm-lock.yaml
Due: none

fix(svelte-5-adapter): function for `createMutation` options (#7805)
  examples/svelte/auto-refetching/src/routes/+page.svelte
  examples/svelte/optimistic-updates/src/routes/+page.svelte
  examples/svelte/playground/src/routes/AddTodo.svelte
  examples/svelte/playground/src/routes/EditTodo.svelte
  packages/svelte-query-persist-client/tests/FreshData/FreshData.svelte
  packages/svelte-query/src/createBaseQuery.svelte.ts
  packages/svelte-query/src/createMutation.svelte.ts
  packages/svelte-query/tests/createInfiniteQuery/BaseExample.svelte
  packages/svelte-query/tests/createInfiniteQuery/SelectExample.svelte
  packages/svelte-query/tests/createMutation/FailureExample.svelte
  packages/svelte-query/tests/createMutation/OnSuccessExample.svelte
  packages/svelte-query/tests/createMutation/ResetExample.svelte
  packages/svelte-query/tests/createQuery/PlaceholderData.svelte
  packages/svelte-query/tests/useIsMutating/BaseExample.svelte
  packages/svelte-query/tests/useMutationState/BaseExample.svelte
  packages/svelte-query/tests/useMutationState/useMutationState.test.ts
Due: @tanstack/svelte-query, @tanstack/svelte-query-persist-client

refactor: simplify createBaseQuery
  packages/svelte-query/src/createBaseQuery.svelte.ts
Due: @tanstack/svelte-query

Don't take snapshot of queryKey
  packages/svelte-query/src/createBaseQuery.svelte.ts
  packages/svelte-query/tests/createQuery/BaseExample.svelte
  packages/svelte-query/tests/createQuery/DisabledExample.svelte
Due: @tanstack/svelte-query

refactor(svelte-5-adapter): simplify createBaseQuery (#7808)
  packages/svelte-query/src/createBaseQuery.svelte.ts
  packages/svelte-query/tests/createQuery/BaseExample.svelte
  packages/svelte-query/tests/createQuery/DisabledExample.svelte
Due: @tanstack/svelte-query

chore(svelte-5-adapter): tidy-up functions
  packages/svelte-query-persist-client/src/PersistQueryClientProvider.svelte
  packages/svelte-query/src/createMutation.svelte.ts
  packages/svelte-query/src/createQueries.svelte.ts
Due: @tanstack/svelte-query, @tanstack/svelte-query-persist-client

Fix types
  packages/svelte-query-persist-client/src/PersistQueryClientProvider.svelte
  packages/svelte-query/src/createQueries.svelte.ts
Due: @tanstack/svelte-query, @tanstack/svelte-query-persist-client

Update svelte
  examples/svelte/auto-refetching/package.json
  examples/svelte/basic/package.json
  examples/svelte/load-more-infinite-scroll/package.json
  examples/svelte/optimistic-updates/package.json
  examples/svelte/playground/package.json
  examples/svelte/simple/package.json
  examples/svelte/ssr/package.json
  examples/svelte/star-wars/package.json
  integrations/svelte-vite/package.json
  packages/svelte-query-devtools/package.json
  packages/svelte-query-persist-client/package.json
  packages/svelte-query/package.json
  pnpm-lock.yaml
Due: @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client

test(svelte-query): add refetch test to createQuery
  packages/svelte-query/tests/createQuery/RefetchExample.svelte
  packages/svelte-query/tests/createQuery/createQuery.test.ts
Due: @tanstack/svelte-query

test(svelte-query): add refetch test for createQuery (#7810)
  packages/svelte-query/tests/createQuery/RefetchExample.svelte
  packages/svelte-query/tests/createQuery/createQuery.test.ts
Due: @tanstack/svelte-query

Path conditions:
  @tanstack/angular-query-devtools-experimental: any of: packages/angular-query-devtools-experimental/**
  @tanstack/angular-query-experimental: any of: packages/angular-query-experimental/**
  @tanstack/eslint-plugin-query: any of: packages/eslint-plugin-query/**
  @tanstack/query-async-storage-persister: any of: packages/query-async-storage-persister/**
  @tanstack/query-broadcast-client-experimental: any of: packages/query-broadcast-client-experimental/**
  @tanstack/query-codemods: any of: packages/codemods/**
  @tanstack/query-core: any of: packages/query-core/**
  @tanstack/query-devtools: any of: packages/query-devtools/**
  @tanstack/query-persist-client-core: any of: packages/query-persist-client-core/**
  @tanstack/query-sync-storage-persister: any of: packages/query-sync-storage-persister/**
  @tanstack/react-query: any of: packages/react-query/**
  @tanstack/react-query-devtools: any of: packages/react-query-devtools/**
  @tanstack/react-query-next-experimental: any of: packages/react-query-next-experimental/**
  @tanstack/react-query-persist-client: any of: packages/react-query-persist-client/**
  @tanstack/solid-query: any of: packages/solid-query/**
  @tanstack/solid-query-devtools: any of: packages/solid-query-devtools/**
  @tanstack/solid-query-persist-client: any of: packages/solid-query-persist-client/**
  @tanstack/svelte-query: any of: packages/svelte-query/**
  @tanstack/svelte-query-devtools: any of: packages/svelte-query-devtools/**
  @tanstack/svelte-query-persist-client: any of: packages/svelte-query-persist-client/**
  @tanstack/vue-query: any of: packages/vue-query/**
  @tanstack/vue-query-devtools: any of: packages/vue-query-devtools/**
