Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 1%

comment:
  layout: 'header, reach, diff, flags, components'

component_management:
  individual_components:
    - component_id: angular-query-devtools-experimental
      name: '@tanstack/angular-query-devtools-experimental'
      paths:
        - packages/angular-query-devtools-experimental/**
    - component_id: angular-query-experimental
      name: '@tanstack/angular-query-experimental'
      paths:
        - packages/angular-query-experimental/**
    - component_id: eslint-plugin-query
      name: '@tanstack/eslint-plugin-query'
      paths:
        - packages/eslint-plugin-query/**
    - component_id: query-async-storage-persister
      name: '@tanstack/query-async-storage-persister'
      paths:
        - packages/query-async-storage-persister/**
    - component_id: query-broadcast-client-experimental
      name: '@tanstack/query-broadcast-client-experimental'
      paths:
        - packages/query-broadcast-client-experimental/**
    - component_id: query-codemods
      name: '@tanstack/query-codemods'
      paths:
        - packages/codemods/**
    - component_id: query-core
      name: '@tanstack/query-core'
      paths:
        - packages/query-core/**
    - component_id: query-devtools
      name: '@tanstack/query-devtools'
      paths:
        - packages/query-devtools/**
    - component_id: query-persist-client-core
      name: '@tanstack/query-persist-client-core'
      paths:
        - packages/query-persist-client-core/**
    - component_id: query-sync-storage-persister
      name: '@tanstack/query-sync-storage-persister'
      paths:
        - packages/query-sync-storage-persister/**
    - component_id: react-query
      name: '@tanstack/react-query'
      paths:
        - packages/react-query/**
    - component_id: react-query-devtools
      name: '@tanstack/react-query-devtools'
      paths:
        - packages/react-query-devtools/**
    - component_id: react-query-next-experimental
      name: '@tanstack/react-query-next-experimental'
      paths:
        - packages/react-query-next-experimental/**
    - component_id: react-query-persist-client
      name: '@tanstack/react-query-persist-client'
      paths:
        - packages/react-query-persist-client/**
    - component_id: solid-query
      name: '@tanstack/solid-query'
      paths:
        - packages/solid-query/**
    - component_id: solid-query-devtools
      name: '@tanstack/solid-query-devtools'
      paths:
        - packages/solid-query-devtools/**
    - component_id: solid-query-persist-client
      name: '@tanstack/solid-query-persist-client'
      paths:
        - packages/solid-query-persist-client/**
    - component_id: svelte-query
      name: '@tanstack/svelte-query'
      paths:
        - packages/svelte-query/**
    - component_id: svelte-query-devtools
      name: '@tanstack/svelte-query-devtools'
      paths:
        - packages/svelte-query-devtools/**
    - component_id: svelte-query-persist-client
      name: '@tanstack/svelte-query-persist-client'
      paths:
        - packages/svelte-query-persist-client/**
    - component_id: vue-query
      name: '@tanstack/vue-query'
      paths:
        - packages/vue-query/**
    - component_id: vue-query-devtools
      name: '@tanstack/vue-query-devtools'
      paths:
        - packages/vue-query-devtools/**

mkay
  packages/query-core/src/thenable.ts
Due: @tanstack/query-core

ffs
  packages/react-query/src/__tests__/ssr.test.tsx
Due: @tanstack/react-query

remove unnecessary stufffff
  packages/react-query/src/useBaseQuery.ts
Due: @tanstack/react-query

tweak more
  packages/react-query/src/useBaseQuery.ts
Due: @tanstack/react-query

just naming and comments
  packages/query-core/src/queryObserver.ts
  packages/react-query/src/useBaseQuery.ts
Due: @tanstack/query-core, @tanstack/react-query

tweak
  packages/react-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/react-query

chore: update
  packages/react-query/src/QueryErrorResetBoundary.tsx
Due: @tanstack/react-query

chore: update
  packages/react-query/src/__tests__/prefetch.test-d.tsx
Due: @tanstack/react-query

feat: throw when `replaceDeepEqual` contains circular references
  packages/query-core/src/__tests__/query.test.tsx
  packages/query-core/src/__tests__/utils.test.tsx
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

chore: up test
  packages/query-core/src/__tests__/utils.test.tsx
Due: @tanstack/query-core

docs: Update advanced-ssr.md (#8021)
  docs/framework/react/guides/advanced-ssr.md
Due: none

fix(query-devtools): Added missing `type="button"` on DevTools-button (#8016)
  packages/query-devtools/src/Devtools.tsx
Due: @tanstack/query-devtools

refactor(react-query): split prefetch.ts (#8028)
  packages/react-query/src/__tests__/prefetch.test-d.tsx
  packages/react-query/src/index.ts
  packages/react-query/src/usePrefetchInfiniteQuery.tsx
  packages/react-query/src/usePrefetchQuery.tsx
Due: @tanstack/react-query

refactor(query-core): move Override type to core (#7916)
  packages/angular-query-experimental/src/types.ts
  packages/query-core/src/types.ts
  packages/react-query/src/types.ts
  packages/solid-query/src/types.ts
  packages/svelte-query/src/types.ts
Due: @tanstack/angular-query-experimental, @tanstack/query-core, @tanstack/react-query, @tanstack/solid-query, @tanstack/svelte-query

docs(react-query): Update React Suspens Link in README.md (#8020)
  packages/react-query/README.md
Due: @tanstack/react-query

fix(query-core): jsdoc of notifyManager
  packages/query-core/src/notifyManager.ts
Due: @tanstack/query-core

chore: update
  packages/query-core/src/notifyManager.ts
Due: @tanstack/query-core

chore(angular-query): remove redundant dependencies
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/etc/angular-query-experimental.api.md
  packages/angular-query-experimental/package.json
  pnpm-lock.yaml
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental

chore(angular-query): remove redundant dependencies (#8032)
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/etc/angular-query-experimental.api.md
  packages/angular-query-experimental/package.json
  pnpm-lock.yaml
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental

chore: review changes
  packages/query-core/src/__tests__/query.test.tsx
  packages/query-core/src/__tests__/utils.test.tsx
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

chore: add return
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

fix: replace `JSON.stringify` with `replaceDeepEqual` in structural sharing integrity check (#8030)
  packages/query-core/src/__tests__/query.test.tsx
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

fix(query-core): jsdoc of notifyManager (#8031)
  packages/query-core/src/notifyManager.ts
Due: @tanstack/query-core

fix: use fetchOptimistic util instead of observer.fetchOptimistic
  packages/react-query/src/useBaseQuery.ts
Due: @tanstack/react-query

refactor: make sure to only trigger fetching during render if we really have no cache entry yet
  packages/react-query/src/useBaseQuery.ts
Due: @tanstack/react-query

fix: move the `isNewCacheEntry` check before observer creation
  packages/react-query/src/useBaseQuery.ts
Due: @tanstack/react-query

chore: avoid rect key warnings
  packages/react-query/src/__tests__/prefetch.test.tsx
Due: @tanstack/react-query

fix: add an `updateResult` for all observers to finalize currentThenable
  packages/react-query/src/useBaseQuery.ts
Due: @tanstack/react-query

chore: logs during suspense errors
  packages/react-query/src/__tests__/prefetch.test.tsx
Due: @tanstack/react-query

fix: empty catch
  packages/react-query/src/useBaseQuery.ts
Due: @tanstack/react-query

docs(react-query): recommend against throwing errors in `select`
  docs/framework/react/guides/render-optimizations.md
Due: none

docs(react-query): recommend against throwing errors in `select` (#8041)
  docs/framework/react/guides/render-optimizations.md
Due: none

feat(vue-query-devtools): Add VueQueryDevtoolsPanel support
  docs/config.json
  docs/framework/vue/devtools.md
  examples/vue/devtools-panel/.gitignore
  examples/vue/devtools-panel/README.md
  examples/vue/devtools-panel/index.html
  examples/vue/devtools-panel/package.json
  examples/vue/devtools-panel/src/App.vue
  examples/vue/devtools-panel/src/main.ts
  examples/vue/devtools-panel/src/shims-vue.d.ts
  examples/vue/devtools-panel/src/types.d.ts
  examples/vue/devtools-panel/tsconfig.json
  examples/vue/devtools-panel/vite.config.ts
  packages/react-query-devtools/src/ReactQueryDevtools.tsx
  packages/react-query-devtools/src/ReactQueryDevtoolsPanel.tsx
  packages/vue-query-devtools/package.json
  packages/vue-query-devtools/src/VueQueryDevtools.vue
  packages/vue-query-devtools/src/VueQueryDevtoolsPanel.vue
  packages/vue-query-devtools/src/index.ts
  packages/vue-query-devtools/src/production.ts
  packages/vue-query-devtools/src/types.ts
  pnpm-lock.yaml
Due: @tanstack/react-query-devtools, @tanstack/vue-query-devtools

feat(core): ensureInfiniteQueryData
  packages/query-core/src/__tests__/queryClient.test.tsx
  packages/query-core/src/queryClient.ts
  packages/query-core/src/types.ts
Due: @tanstack/query-core

docs: ensureInfiniteQueryData
  docs/reference/QueryClient.md
Due: none
