Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

feat(types): make sure we can't pass infiniteQueryOptions to non-infinite query functions like fetchQuery
  packages/query-core/src/queryClient.ts
  packages/query-core/src/types.ts
  packages/react-query/src/__tests__/infiniteQueryOptions.test-d.tsx
Due: @tanstack/query-core, @tanstack/react-query

feat(core): ensureInfiniteQueryData (#8048)
  docs/reference/QueryClient.md
  packages/query-core/src/__tests__/queryClient.test.tsx
  packages/query-core/src/queryClient.ts
  packages/query-core/src/types.ts
  packages/react-query/src/__tests__/infiniteQueryOptions.test-d.tsx
Due: @tanstack/query-core, @tanstack/react-query

Add reproduction test for infinite loop retries (issue #8046)
  packages/query-core/src/__tests__/infiniteQueryBehavior.test.tsx
Due: @tanstack/query-core

fix: retry for infinite queries
  packages/query-core/src/__tests__/infiniteQueryBehavior.test.tsx
  packages/query-core/src/infiniteQueryBehavior.ts
Due: @tanstack/query-core

fix(core): retry for infinite queries (issue #8046) (#8049)
  packages/query-core/src/__tests__/infiniteQueryBehavior.test.tsx
  packages/query-core/src/infiniteQueryBehavior.ts
Due: @tanstack/query-core

chore: trigger release
  README.md
Due: none

fix(core): make sure infiniteQuery always fetches the first page
  packages/query-core/src/__tests__/infiniteQueryBehavior.test.tsx
  packages/query-core/src/infiniteQueryBehavior.ts
Due: @tanstack/query-core

fix(core): make sure infiniteQuery always fetches the first page (#8051)
  packages/query-core/src/__tests__/infiniteQueryBehavior.test.tsx
  packages/query-core/src/infiniteQueryBehavior.ts
Due: @tanstack/query-core

feature flag
  packages/query-core/src/__tests__/queryObserver.test.tsx
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/types.ts
  packages/react-query/src/__tests__/useInfiniteQuery.test.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/query-core, @tanstack/react-query

add comment
  packages/query-core/src/types.ts
Due: @tanstack/query-core

simplify
  packages/query-core/src/types.ts
Due: @tanstack/query-core

omit from suspense
  packages/react-query/src/types.ts
Due: @tanstack/react-query

feat flag
  packages/react-query/src/useBaseQuery.ts
Due: @tanstack/react-query

more tests
  packages/react-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/react-query

test: scope experimental_promise to useQuery().promise tests
  packages/react-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/react-query

refactor: rename to experimental_prefetchInRender
  packages/query-core/src/__tests__/queryObserver.test.tsx
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/types.ts
  packages/react-query/src/__tests__/useInfiniteQuery.test.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/react-query/src/useBaseQuery.ts
Due: @tanstack/query-core, @tanstack/react-query

test: more tests
  packages/react-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/react-query

test: more cancelation
  packages/react-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/react-query

fix cancellation
  packages/query-core/src/queryObserver.ts
Due: @tanstack/query-core

Don't use $ prefix in Bash examples
  docs/eslint/eslint-plugin-query.md
Due: none

add missing </Show> closing tag
  docs/framework/solid/reference/createQuery.md
Due: none

make it work
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/thenable.ts
Due: @tanstack/query-core

tweak comment
  packages/query-core/src/queryObserver.ts
Due: @tanstack/query-core

Update packages/react-query/src/useBaseQuery.ts
  packages/react-query/src/useBaseQuery.ts
Due: @tanstack/react-query

simplify code a bit
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/thenable.ts
Due: @tanstack/query-core

Update packages/query-core/src/queryObserver.ts
  packages/query-core/src/queryObserver.ts
Due: @tanstack/query-core

refactor: move experimental_prefetchInRender check until after the early bail-out
  packages/query-core/src/queryObserver.ts
Due: @tanstack/query-core

fix: when cancelled, the promise should stay pending
  packages/query-core/src/queryObserver.ts
  packages/react-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/query-core, @tanstack/react-query

test: disabled case
  packages/react-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/react-query

chore: no idea what's going on
  packages/react-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/react-query

refactor: delete unnecessary check
  packages/react-query/src/useBaseQuery.ts
Due: @tanstack/react-query

Updated tests
  packages/lit-query/src/QueryClientProvider.ts
  packages/lit-query/src/QueryController.ts
  packages/lit-query/src/__tests__/QueryClientProvider.test.ts
  packages/lit-query/src/__tests__/QueryController.test.ts
  packages/lit-query/src/__tests__/TodoComponent.ts
  packages/lit-query/src/__tests__/queryClientHelper.test.ts
  packages/lit-query/src/context.ts
  packages/lit-query/src/index.ts
  packages/lit-query/src/queryClientHelper.ts
  packages/lit-query/src/testHelpers.ts
  pnpm-lock.yaml
Due: none

feat(eslint-plugin-query): add rule to ensure property order of infinite query functions
  docs/config.json
  docs/eslint/infinite-query-property-order.md
  packages/eslint-plugin-query/package.json
  packages/eslint-plugin-query/src/__tests__/infinite-query-property-order.rule.test.ts
  packages/eslint-plugin-query/src/__tests__/infinite-query-property-order.utils.test.ts
  packages/eslint-plugin-query/src/__tests__/test-utils.test.ts
  packages/eslint-plugin-query/src/__tests__/test-utils.ts
  packages/eslint-plugin-query/src/index.ts
  packages/eslint-plugin-query/src/rules.ts
  packages/eslint-plugin-query/src/rules/infinite-query-property-order/constants.ts
  packages/eslint-plugin-query/src/rules/infinite-query-property-order/infinite-query-property-order.rule.ts
  packages/eslint-plugin-query/src/rules/infinite-query-property-order/infinite-query-property-order.utils.ts
  packages/eslint-plugin-query/src/rules/no-unstable-deps/no-unstable-deps.rule.ts
  pnpm-lock.yaml
Due: @tanstack/eslint-plugin-query

remove outdated comment
  packages/eslint-plugin-query/src/__tests__/infinite-query-property-order.rule.test.ts
Due: @tanstack/eslint-plugin-query

docs: add missing </Show> closing tag to Solid docs (#8068)
  docs/framework/solid/reference/createQuery.md
Due: none

feat(eslint-plugin-query): add rule to ensure property order of infinite query functions (#8072)
  docs/config.json
  docs/eslint/infinite-query-property-order.md
  packages/eslint-plugin-query/package.json
  packages/eslint-plugin-query/src/__tests__/infinite-query-property-order.rule.test.ts
  packages/eslint-plugin-query/src/__tests__/infinite-query-property-order.utils.test.ts
  packages/eslint-plugin-query/src/__tests__/test-utils.test.ts
  packages/eslint-plugin-query/src/__tests__/test-utils.ts
  packages/eslint-plugin-query/src/index.ts
  packages/eslint-plugin-query/src/rules.ts
  packages/eslint-plugin-query/src/rules/infinite-query-property-order/constants.ts
  packages/eslint-plugin-query/src/rules/infinite-query-property-order/infinite-query-property-order.rule.ts
  packages/eslint-plugin-query/src/rules/infinite-query-property-order/infinite-query-property-order.utils.ts
  packages/eslint-plugin-query/src/rules/no-unstable-deps/no-unstable-deps.rule.ts
  pnpm-lock.yaml
Due: @tanstack/eslint-plugin-query

release: v5.57.0
  examples/react/algolia/package.json
  examples/react/basic/package.json
  examples/solid/simple/package.json
  packages/eslint-plugin-query/package.json
  pnpm-lock.yaml
Due: @tanstack/eslint-plugin-query

Path conditions:
  @tanstack/angular-query-devtools-experimental: any of: packages/angular-query-devtools-experimental/**
  @tanstack/angular-query-experimental: any of: packages/angular-query-experimental/**
  @tanstack/eslint-plugin-query: any of: packages/eslint-plugin-query/**
  @tanstack/query-async-storage-persister: any of: packages/query-async-storage-persister/**
  @tanstack/query-broadcast-client-experimental: any of: packages/query-broadcast-client-experimental/**
  @tanstack/query-codemods: any of: packages/codemods/**
  @tanstack/query-core: any of: packages/query-core/**
  @tanstack/query-devtools: any of: packages/query-devtools/**
  @tanstack/query-persist-client-core: any of: packages/query-persist-client-core/**
  @tanstack/query-sync-storage-persister: any of: packages/query-sync-storage-persister/**
  @tanstack/react-query: any of: packages/react-query/**
  @tanstack/react-query-devtools: any of: packages/react-query-devtools/**
  @tanstack/react-query-next-experimental: any of: packages/react-query-next-experimental/**
  @tanstack/react-query-persist-client: any of: packages/react-query-persist-client/**
  @tanstack/solid-query: any of: packages/solid-query/**
  @tanstack/solid-query-devtools: any of: packages/solid-query-devtools/**
  @tanstack/solid-query-persist-client: any of: packages/solid-query-persist-client/**
  @tanstack/svelte-query: any of: packages/svelte-query/**
  @tanstack/svelte-query-devtools: any of: packages/svelte-query-devtools/**
  @tanstack/svelte-query-persist-client: any of: packages/svelte-query-persist-client/**
  @tanstack/vue-query: any of: packages/vue-query/**
  @tanstack/vue-query-devtools: any of: packages/vue-query-devtools/**
