Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools, @tanstack/angular-query, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

codecov.yml:

codecov:
  max_report_age: off

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto

comment:
  layout: 'header, reach, diff, flags, components'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  hide_project_coverage: false

component_management:
  individual_components:
    - component_id: angular-query-devtools
      name: '@tanstack/angular-query-devtools'
      paths:
        - packages/angular-query-devtools/**
    - component_id: angular-query
      name: '@tanstack/angular-query'
      paths:
        - packages/angular-query/**
    - component_id: eslint-plugin-query
      name: '@tanstack/eslint-plugin-query'
      paths:
        - packages/eslint-plugin-query/**
    - component_id: query-async-storage-persister
      name: '@tanstack/query-async-storage-persister'
      paths:
        - packages/query-async-storage-persister/**
    - component_id: query-broadcast-client-experimental
      name: '@tanstack/query-broadcast-client-experimental'
      paths:
        - packages/query-broadcast-client-experimental/**
    - component_id: query-codemods
      name: '@tanstack/query-codemods'
      paths:
        - packages/query-codemods/**
    - component_id: query-core
      name: '@tanstack/query-core'
      paths:
        - packages/query-core/**
    - component_id: query-devtools
      name: '@tanstack/query-devtools'
      paths:
        - packages/query-devtools/**
    - component_id: query-persist-client-core
      name: '@tanstack/query-persist-client-core'
      paths:
        - packages/query-persist-client-core/**
    - component_id: query-sync-storage-persister
      name: '@tanstack/query-sync-storage-persister'
      paths:
        - packages/query-sync-storage-persister/**
    - component_id: query-test-utils
      name: '@tanstack/query-test-utils'
      paths:
        - packages/query-test-utils/**
    - component_id: react-query
      name: '@tanstack/react-query'
      paths:
        - packages/react-query/**
    - component_id: react-query-devtools
      name: '@tanstack/react-query-devtools'
      paths:
        - packages/react-query-devtools/**
    - component_id: react-query-next-experimental
      name: '@tanstack/react-query-next-experimental'
      paths:
        - packages/react-query-next-experimental/**
    - component_id: react-query-persist-client
      name: '@tanstack/react-query-persist-client'
      paths:
        - packages/react-query-persist-client/**
    - component_id: solid-query
      name: '@tanstack/solid-query'
      paths:
        - packages/solid-query/**
    - component_id: solid-query-devtools
      name: '@tanstack/solid-query-devtools'
      paths:
        - packages/solid-query-devtools/**
    - component_id: solid-query-persist-client
      name: '@tanstack/solid-query-persist-client'
      paths:
        - packages/solid-query-persist-client/**
    - component_id: svelte-query
      name: '@tanstack/svelte-query'
      paths:
        - packages/svelte-query/**
    - component_id: svelte-query-devtools
      name: '@tanstack/svelte-query-devtools'
      paths:
        - packages/svelte-query-devtools/**
    - component_id: svelte-query-persist-client
      name: '@tanstack/svelte-query-persist-client'
      paths:
        - packages/svelte-query-persist-client/**
    - component_id: vue-query
      name: '@tanstack/vue-query'
      paths:
        - packages/vue-query/**
    - component_id: vue-query-devtools
      name: '@tanstack/vue-query-devtools'
      paths:
        - packages/vue-query-devtools/**

new type helper utils: DeepUnwrapRefOrGetter, MaybeRefDeepOrGetter
  packages/vue-query/src/mutationOptions.ts
  packages/vue-query/src/types.ts
  packages/vue-query/src/useMutation.ts
Due: @tanstack/vue-query

Remove unnecessary tests
  packages/vue-query/src/__tests__/mutationOptions.test.ts
Due: @tanstack/vue-query

Add changeset
  .changeset/lucky-numbers-change.md
Due: none

Add tests of mutationOptions
  packages/vue-query/src/__tests__/mutationOptions.test-d.ts
  packages/vue-query/src/__tests__/mutationOptions.test.ts
Due: @tanstack/vue-query

Add docs of mutationOptions
  docs/framework/vue/reference/mutationOptions.md
Due: none

update docs of mutationOptions
  docs/config.json
  docs/framework/vue/reference/mutationOptions.md
Due: none

Add mutationOptions for vue-query
  packages/vue-query/src/index.ts
  packages/vue-query/src/mutationOptions.ts
Due: @tanstack/vue-query

fix(svelte-query): handle multi-item createQueries removals
  .changeset/green-peaches-yawn.md
  packages/svelte-query/src/containers.svelte.ts
  packages/svelte-query/tests/createQueries.svelte.test.ts
Due: @tanstack/svelte-query

fix(svelte-query): handle multi-query removals
  packages/svelte-query/src/containers.svelte.ts
  packages/svelte-query/tests/containers.svelte.test.ts
  packages/svelte-query/tests/createQueries.svelte.test.ts
Due: @tanstack/svelte-query

test(eslint-plugin-query/stable-query-client): add tests for async server component and destructuring pattern (#10315)
  packages/eslint-plugin-query/src/__tests__/stable-query-client.test.ts
Due: @tanstack/eslint-plugin-query

test(eslint-plugin-query/stable-query-client): fix misleading test name for async component with 'solid-query' import
  packages/eslint-plugin-query/src/__tests__/stable-query-client.test.ts
Due: @tanstack/eslint-plugin-query

test(eslint-plugin-query/stable-query-client): fix misleading test name for async component with 'solid-query' import (#10344)
  packages/eslint-plugin-query/src/__tests__/stable-query-client.test.ts
Due: @tanstack/eslint-plugin-query

test({react,preact}-query/useSuspenseQueries): add test for not suspending but only refetching the stale query when one query has fresh and the other has stale cached data
  packages/preact-query/src/__tests__/useSuspenseQueries.test.tsx
  packages/react-query/src/__tests__/useSuspenseQueries.test.tsx
Due: @tanstack/react-query

test({react,preact}-query/useSuspenseQueries): add test for not suspending but only refetching the stale query when one query has fresh and the other has stale cached data (#10345)
  packages/preact-query/src/__tests__/useSuspenseQueries.test.tsx
  packages/react-query/src/__tests__/useSuspenseQueries.test.tsx
Due: @tanstack/react-query

test(preact-query): apply 'prefer-template', 'no-else-return', 'object-shorthand', 'radix', and 'require-await' eslint rules
  packages/preact-query/src/__tests__/useMutationState.test.tsx
  packages/preact-query/src/__tests__/usePrefetchInfiniteQuery.test.tsx
  packages/preact-query/src/__tests__/useQueries.test.tsx
  packages/preact-query/src/__tests__/useQuery.test.tsx
  packages/preact-query/src/__tests__/useSuspenseQueries.test.tsx
  packages/preact-query/src/__tests__/useSuspenseQuery.test.tsx
Due: none

test(preact-query): apply 'prefer-template', 'no-else-return', 'object-shorthand', 'radix', and 'require-await' eslint rules (#10346)
  packages/preact-query/src/__tests__/useMutationState.test.tsx
  packages/preact-query/src/__tests__/usePrefetchInfiniteQuery.test.tsx
  packages/preact-query/src/__tests__/useQueries.test.tsx
  packages/preact-query/src/__tests__/useQuery.test.tsx
  packages/preact-query/src/__tests__/useSuspenseQueries.test.tsx
  packages/preact-query/src/__tests__/useSuspenseQuery.test.tsx
Due: none

docs: document createRawRef update helper
  packages/svelte-query/src/containers.svelte.ts
Due: @tanstack/svelte-query

fix(query-devtools): guard invalid default locales
  .changeset/olive-carpets-rhyme.md
  packages/query-devtools/src/Devtools.tsx
  packages/query-devtools/src/__tests__/locale.test.ts
  packages/query-devtools/src/locale.ts
Due: @tanstack/query-devtools

test(eslint-plugin-query/no-void-query-fn): add coverage for useInfiniteQuery, useSuspenseQuery, queryOptions, fetchQuery (#10332)
  packages/eslint-plugin-query/src/__tests__/no-void-query-fn.test.ts
Due: @tanstack/eslint-plugin-query

test({react,preact}-query/useSuspenseQueries): add test for not suspending but only refetching the stale query when one query has stale and the other has fresh cached data
  packages/preact-query/src/__tests__/useSuspenseQueries.test.tsx
  packages/react-query/src/__tests__/useSuspenseQueries.test.tsx
Due: @tanstack/react-query

test({react,preact}-query/useSuspenseQueries): add test for not suspending but only refetching the stale query when one query has stale and the other has fresh cached data (#10349)
  packages/preact-query/src/__tests__/useSuspenseQueries.test.tsx
  packages/react-query/src/__tests__/useSuspenseQueries.test.tsx
Due: @tanstack/react-query

test(react-query/useSuspenseQueries): remove unnecessary 'act' wrapper from background refetch assertions
  packages/react-query/src/__tests__/useSuspenseQueries.test.tsx
Due: @tanstack/react-query

test(react-query/useSuspenseQueries): remove unnecessary 'act' wrapper from background refetch assertions (#10350)
  packages/react-query/src/__tests__/useSuspenseQueries.test.tsx
Due: @tanstack/react-query

docs(community-projects): add React Query Visualizer to the list of community projects
  docs/community-resources.md
Due: none

test({react,preact}-query/useSuspenseQueries): inline test helpers, remove shared 'queryClient', and use 'beforeEach'/'afterEach' for setup and teardown
  packages/preact-query/src/__tests__/useSuspenseQueries.test.tsx
  packages/react-query/src/__tests__/useSuspenseQueries.test.tsx
Due: @tanstack/react-query

test({react,preact}-query/useSuspenseQueries): replace '[1] as const' with 'queryKey()' util and fix 'act' callback type in preact-query
  packages/preact-query/src/__tests__/useSuspenseQueries.test.tsx
  packages/react-query/src/__tests__/useSuspenseQueries.test.tsx
Due: @tanstack/react-query

test({react,preact}-query/useSuspenseQueries): inline test helpers, remove shared 'queryClient', and use 'beforeEach'/'afterEach' for setup and teardown (#10352)
  packages/preact-query/src/__tests__/useSuspenseQueries.test.tsx
  packages/react-query/src/__tests__/useSuspenseQueries.test.tsx
Due: @tanstack/react-query

docs(react): clarify staleTime 'static' vs Infinity with 'always' triggers
  docs/framework/react/guides/important-defaults.md
Due: none

test(eslint-plugin-query/no-void-query-fn): add coverage for prefetchQuery, prefetchInfiniteQuery, ensureQueryData, ensureInfiniteQueryData
  packages/eslint-plugin-query/src/__tests__/no-void-query-fn.test.ts
Due: @tanstack/eslint-plugin-query

feat: integrate oxlint for enhanced linting support and add oxlint configuration
  eslint.config.js
  oxlint.config.ts
  package.json
  packages/react-query/src/__tests__/useQuery.promise.test.tsx
  packages/vue-query/src/__tests__/useMutation.test.ts
  pnpm-lock.yaml
Due: @tanstack/react-query, @tanstack/vue-query

chore: update ESLint configurations and dependencies
  eslint.config.js
  examples/react/algolia/eslint.config.js
  examples/react/basic-graphql-request/eslint.config.js
  examples/react/basic/eslint.config.js
  examples/react/eslint-plugin-demo/eslint.config.js
  examples/react/shadow-dom/eslint.config.js
  oxlint.config.ts
  package.json
  packages/angular-query-experimental/eslint.config.js
  packages/angular-query-persist-client/eslint.config.js
  packages/eslint-plugin-query/eslint.config.js
  packages/preact-query-devtools/eslint.config.js
  packages/preact-query-persist-client/eslint.config.js
  packages/preact-query/eslint.config.js
  packages/query-async-storage-persister/eslint.config.js
  packages/query-broadcast-client-experimental/eslint.config.js
  packages/query-codemods/eslint.config.js
  packages/query-core/eslint.config.js
  packages/query-devtools/eslint.config.js
  packages/query-persist-client-core/eslint.config.js
  packages/query-sync-storage-persister/eslint.config.js
  packages/query-test-utils/eslint.config.js
  packages/react-query-devtools/eslint.config.js
  packages/react-query-next-experimental/eslint.config.js
  packages/react-query-persist-client/eslint.config.js
  packages/react-query/eslint.config.js
  packages/solid-query-devtools/eslint.config.js
  packages/solid-query-persist-client/eslint.config.js
  packages/solid-query/eslint.config.js
  packages/svelte-query-devtools/eslint.config.js
  packages/svelte-query-persist-client/eslint.config.js
  packages/svelte-query/eslint.config.js
  packages/vue-query-devtools/eslint.config.js
  packages/vue-query/eslint.config.js
  pnpm-lock.yaml
Due: @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

test({react,preact}-query): move 'queryClient' and 'queryCache' to 'beforeEach' for per-test isolation
  packages/preact-query/src/__tests__/QueryResetErrorBoundary.test.tsx
  packages/preact-query/src/__tests__/fine-grained-persister.test.tsx
  packages/preact-query/src/__tests__/useInfiniteQuery.test.tsx
  packages/preact-query/src/__tests__/usePrefetchInfiniteQuery.test.tsx
  packages/preact-query/src/__tests__/usePrefetchQuery.test.tsx
  packages/preact-query/src/__tests__/useQueries.test.tsx
  packages/preact-query/src/__tests__/useSuspenseInfiniteQuery.test.tsx
  packages/preact-query/src/__tests__/useSuspenseQuery.test.tsx
  packages/react-query/src/__tests__/QueryResetErrorBoundary.test.tsx
  packages/react-query/src/__tests__/fine-grained-persister.test.tsx
  packages/react-query/src/__tests__/useInfiniteQuery.test.tsx
  packages/react-query/src/__tests__/usePrefetchInfiniteQuery.test.tsx
  packages/react-query/src/__tests__/usePrefetchQuery.test.tsx
  packages/react-query/src/__tests__/useQueries.test.tsx
  packages/react-query/src/__tests__/useSuspenseInfiniteQuery.test.tsx
  packages/react-query/src/__tests__/useSuspenseQuery.test.tsx
Due: @tanstack/react-query

test(solid-query): move 'queryClient' and 'queryCache' to 'beforeEach' for per-test isolation
  packages/solid-query/src/__tests__/suspense.test.tsx
  packages/solid-query/src/__tests__/transition.test.tsx
  packages/solid-query/src/__tests__/useInfiniteQuery.test.tsx
  packages/solid-query/src/__tests__/useMutation.test.tsx
  packages/solid-query/src/__tests__/useQueries.test.tsx
  packages/solid-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/solid-query

test({react,preact}-query): add 'queryClient.clear()' to 'afterEach' in 'useQuery' and 'useMutation'
  packages/preact-query/src/__tests__/useMutation.test.tsx
  packages/preact-query/src/__tests__/useQuery.test.tsx
  packages/react-query/src/__tests__/useMutation.test.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/react-query

test({react,preact}-query): add 'queryClient.clear()' to 'afterEach' in 'ssr' and 'suspense'
  packages/preact-query/src/__tests__/ssr.test.tsx
  packages/preact-query/src/__tests__/suspense.test.tsx
  packages/react-query/src/__tests__/ssr.test.tsx
  packages/react-query/src/__tests__/suspense.test.tsx
Due: @tanstack/react-query

docs(examples): clean up angular README package manager commands (#10306)
  examples/angular/auto-refetching/README.md
  examples/angular/basic-persister/README.md
  examples/angular/basic/README.md
  examples/angular/devtools-panel/README.md
  examples/angular/infinite-query-with-max-pages/README.md
  examples/angular/optimistic-updates/README.md
  examples/angular/pagination/README.md
  examples/angular/query-options-from-a-service/README.md
  examples/angular/router/README.md
  examples/angular/rxjs/README.md
  examples/angular/simple/README.md
Due: none

docs(community-projects): add React Query Visualizer to the list of community projects (#10351)
  docs/community-resources.md
Due: none

test(eslint-plugin-query/no-void-query-fn): add coverage for prefetchQuery, prefetchInfiniteQuery, ensureQueryData, ensureInfiniteQueryData (#10353)
  packages/eslint-plugin-query/src/__tests__/no-void-query-fn.test.ts
Due: @tanstack/eslint-plugin-query

fix(build): exclude config files from production DTS rollup
  packages/angular-query-experimental/tsconfig.prod.json
  packages/angular-query-persist-client/tsconfig.prod.json
  packages/eslint-plugin-query/tsconfig.prod.json
  packages/preact-query-devtools/tsconfig.prod.json
  packages/preact-query-persist-client/tsconfig.prod.json
  packages/query-async-storage-persister/tsconfig.prod.json
  packages/query-broadcast-client-experimental/tsconfig.prod.json
  packages/query-devtools/tsconfig.prod.json
  packages/query-persist-client-core/tsconfig.prod.json
  packages/query-sync-storage-persister/tsconfig.prod.json
  packages/react-query-devtools/tsconfig.prod.json
  packages/react-query-next-experimental/tsconfig.prod.json
  packages/react-query-persist-client/tsconfig.prod.json
  packages/solid-query-devtools/tsconfig.prod.json
  packages/solid-query-persist-client/tsconfig.prod.json
  packages/vue-query/tsconfig.prod.json
Due: @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/vue-query

docs(react): lead with invalidateQueries() distinction for staleTime: 'static' vs Infinity
  docs/framework/react/guides/important-defaults.md
Due: none
