Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 1%

comment:
  layout: 'header, reach, diff, flags, components'

component_management:
  individual_components:
    - component_id: angular-query-devtools-experimental
      name: '@tanstack/angular-query-devtools-experimental'
      paths:
        - packages/angular-query-devtools-experimental/**
    - component_id: angular-query-experimental
      name: '@tanstack/angular-query-experimental'
      paths:
        - packages/angular-query-experimental/**
    - component_id: eslint-plugin-query
      name: '@tanstack/eslint-plugin-query'
      paths:
        - packages/eslint-plugin-query/**
    - component_id: query-async-storage-persister
      name: '@tanstack/query-async-storage-persister'
      paths:
        - packages/query-async-storage-persister/**
    - component_id: query-broadcast-client-experimental
      name: '@tanstack/query-broadcast-client-experimental'
      paths:
        - packages/query-broadcast-client-experimental/**
    - component_id: query-codemods
      name: '@tanstack/query-codemods'
      paths:
        - packages/codemods/**
    - component_id: query-core
      name: '@tanstack/query-core'
      paths:
        - packages/query-core/**
    - component_id: query-devtools
      name: '@tanstack/query-devtools'
      paths:
        - packages/query-devtools/**
    - component_id: query-persist-client-core
      name: '@tanstack/query-persist-client-core'
      paths:
        - packages/query-persist-client-core/**
    - component_id: query-sync-storage-persister
      name: '@tanstack/query-sync-storage-persister'
      paths:
        - packages/query-sync-storage-persister/**
    - component_id: react-query
      name: '@tanstack/react-query'
      paths:
        - packages/react-query/**
    - component_id: react-query-devtools
      name: '@tanstack/react-query-devtools'
      paths:
        - packages/react-query-devtools/**
    - component_id: react-query-next-experimental
      name: '@tanstack/react-query-next-experimental'
      paths:
        - packages/react-query-next-experimental/**
    - component_id: react-query-persist-client
      name: '@tanstack/react-query-persist-client'
      paths:
        - packages/react-query-persist-client/**
    - component_id: solid-query
      name: '@tanstack/solid-query'
      paths:
        - packages/solid-query/**
    - component_id: solid-query-devtools
      name: '@tanstack/solid-query-devtools'
      paths:
        - packages/solid-query-devtools/**
    - component_id: solid-query-persist-client
      name: '@tanstack/solid-query-persist-client'
      paths:
        - packages/solid-query-persist-client/**
    - component_id: svelte-query
      name: '@tanstack/svelte-query'
      paths:
        - packages/svelte-query/**
    - component_id: svelte-query-devtools
      name: '@tanstack/svelte-query-devtools'
      paths:
        - packages/svelte-query-devtools/**
    - component_id: svelte-query-persist-client
      name: '@tanstack/svelte-query-persist-client'
      paths:
        - packages/svelte-query-persist-client/**
    - component_id: vue-query
      name: '@tanstack/vue-query'
      paths:
        - packages/vue-query/**
    - component_id: vue-query-devtools
      name: '@tanstack/vue-query-devtools'
      paths:
        - packages/vue-query-devtools/**

chore: setup tsconfig path aliases
  packages/angular-query-devtools-experimental/tsconfig.json
  packages/angular-query-experimental/tsconfig.json
  packages/query-async-storage-persister/tsconfig.json
  packages/query-broadcast-client-experimental/tsconfig.json
  packages/query-devtools/tsconfig.json
  packages/query-persist-client-core/tsconfig.json
  packages/query-sync-storage-persister/tsconfig.json
  packages/react-query-devtools/tsconfig.json
  packages/react-query-next-experimental/tsconfig.json
  packages/react-query-persist-client/tsconfig.json
  packages/react-query/tsconfig.json
  packages/solid-query-devtools/tsconfig.json
  packages/solid-query-persist-client/tsconfig.json
  packages/solid-query/tsconfig.json
  packages/svelte-query-devtools/tsconfig.json
  packages/svelte-query-persist-client/tsconfig.json
  packages/svelte-query/tsconfig.json
  packages/vue-query-devtools/tsconfig.json
  packages/vue-query/tsconfig.json
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

chore: revert angular changes
  packages/angular-query-devtools-experimental/tsconfig.json
Due: @tanstack/angular-query-devtools-experimental

chore: revert angular changes
  packages/angular-query-experimental/tsconfig.json
Due: @tanstack/angular-query-experimental

reverte svelte
  packages/svelte-query-devtools/tsconfig.json
  packages/svelte-query-persist-client/tsconfig.json
  packages/svelte-query/tsconfig.json
Due: @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client

revert vue-devtools too
  packages/vue-query-devtools/tsconfig.json
Due: @tanstack/vue-query-devtools

okay, no devtools for anyone
  packages/react-query-devtools/tsconfig.json
Due: @tanstack/react-query-devtools

fix(query-core): replaceEqualDeep correctly handles arrays that contain undefined
  packages/query-core/src/__tests__/utils.test.tsx
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

docs(angular-query): update quick start and readme
  docs/framework/angular/installation.md
  docs/framework/angular/overview.md
  docs/framework/angular/quick-start.md
  packages/angular-query-experimental/README.md
Due: @tanstack/angular-query-experimental

docs(angular-query): update quick start and readme (#7378)
  docs/framework/angular/installation.md
  docs/framework/angular/overview.md
  docs/framework/angular/quick-start.md
  packages/angular-query-experimental/README.md
Due: @tanstack/angular-query-experimental

docs(angular-query): update disabling-queries.md (#7332)
  docs/framework/angular/guides/disabling-queries.md
Due: none

docs(angular-query): add jsdoc
  examples/angular/basic/src/app/app.config.ts
  packages/angular-query-devtools-experimental/src/angular-query-devtools.component.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation-state.test.ts
  packages/angular-query-experimental/src/create-base-query.ts
  packages/angular-query-experimental/src/index.ts
  packages/angular-query-experimental/src/infinite-query-options.ts
  packages/angular-query-experimental/src/inject-infinite-query.ts
  packages/angular-query-experimental/src/inject-is-fetching.ts
  packages/angular-query-experimental/src/inject-is-mutating.ts
  packages/angular-query-experimental/src/inject-mutation-state.ts
  packages/angular-query-experimental/src/inject-mutation.ts
  packages/angular-query-experimental/src/inject-queries.ts
  packages/angular-query-experimental/src/inject-query-client.ts
  packages/angular-query-experimental/src/inject-query.ts
  packages/angular-query-experimental/src/providers.ts
  packages/angular-query-experimental/src/query-options.ts
  packages/angular-query-experimental/src/signal-proxy.ts
  packages/angular-query-experimental/src/types.ts
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental

fix: remove unused export
  packages/angular-query-experimental/src/inject-infinite-query.ts
  packages/angular-query-experimental/src/inject-query-client.ts
Due: @tanstack/angular-query-experimental

docs(angular-query): add jsdoc (#7379)
  examples/angular/basic/src/app/app.config.ts
  packages/angular-query-devtools-experimental/src/angular-query-devtools.component.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation-state.test.ts
  packages/angular-query-experimental/src/create-base-query.ts
  packages/angular-query-experimental/src/index.ts
  packages/angular-query-experimental/src/infinite-query-options.ts
  packages/angular-query-experimental/src/inject-infinite-query.ts
  packages/angular-query-experimental/src/inject-is-fetching.ts
  packages/angular-query-experimental/src/inject-is-mutating.ts
  packages/angular-query-experimental/src/inject-mutation-state.ts
  packages/angular-query-experimental/src/inject-mutation.ts
  packages/angular-query-experimental/src/inject-queries.ts
  packages/angular-query-experimental/src/inject-query-client.ts
  packages/angular-query-experimental/src/inject-query.ts
  packages/angular-query-experimental/src/providers.ts
  packages/angular-query-experimental/src/query-options.ts
  packages/angular-query-experimental/src/signal-proxy.ts
  packages/angular-query-experimental/src/types.ts
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental

chore(angular-query): add api extractor
  .gitignore
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/.attw.json
  packages/angular-query-experimental/.eslintrc.cjs
  packages/angular-query-experimental/config/api-extractor.json
  packages/angular-query-experimental/etc/angular-query-experimental.api.md
  packages/angular-query-experimental/package.json
  pnpm-lock.yaml
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental

fix(query-core): replaceEqualDeep correctly handles arrays that contain undefined (#7376)
  packages/query-core/src/__tests__/utils.test.tsx
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

fix build
  packages/angular-query-devtools-experimental/.eslintrc.cjs
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/.prettierignore
  packages/angular-query-experimental/package.json
  pnpm-lock.yaml
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental

feat(angular-query): rollup type declarations (#7380)
  .gitignore
  packages/angular-query-devtools-experimental/.eslintrc.cjs
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/.attw.json
  packages/angular-query-experimental/.eslintrc.cjs
  packages/angular-query-experimental/.prettierignore
  packages/angular-query-experimental/config/api-extractor.json
  packages/angular-query-experimental/etc/angular-query-experimental.api.md
  packages/angular-query-experimental/package.json
  pnpm-lock.yaml
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental

release: v5.35.0
  examples/angular/basic/package.json
  examples/angular/infinite-query-with-max-pages/package.json
  examples/angular/router/package.json
  examples/angular/simple/package.json
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/package.json
  pnpm-lock.yaml
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental

docs: angular adapter is compatible with v16
  docs/framework/react/community/angular-query.md
Due: none

docs: angular adapter is compatible with angular v16 (#7381)
  docs/framework/react/community/angular-query.md
Due: none

docs: update custom-client.md
  docs/framework/vue/guides/custom-client.md
Due: none

docs: update custom-client.md (#7383)
  docs/framework/vue/guides/custom-client.md
Due: none

fix(types): add `number`, `symbol` as safe key for `OmitKeyof` for strictness `safely` (#7164)
  packages/query-core/src/__tests__/OmitKeyof.test-d.ts
  packages/query-core/src/types.ts
Due: @tanstack/query-core

docs: Solid Query - createQuery documentation
  docs/config.json
  docs/framework/solid/reference/createQuery.md
Due: none

docs: Solid Query - createQuery documentation (#7386)
  docs/config.json
  docs/framework/solid/reference/createQuery.md
Due: none

fix(angular-query): missing exports InitialDataInfiniteOptions types
  packages/angular-query-experimental/src/infinite-query-options.ts
Due: @tanstack/angular-query-experimental

fix(vue-query): ref unwrapping of QueryKey in queryOptions
  packages/vue-query/src/useInfiniteQuery.ts
  packages/vue-query/src/useQuery.ts
Due: @tanstack/vue-query

test: add test
  packages/vue-query/src/__tests__/queryOptions.types.test.ts
Due: @tanstack/vue-query

fix(vue-query): ref unwrapping of QueryKey in queryOptions (#7390)
  packages/vue-query/src/__tests__/queryOptions.types.test.ts
  packages/vue-query/src/useInfiniteQuery.ts
  packages/vue-query/src/useQuery.ts
Due: @tanstack/vue-query

release: v5.35.2
  examples/vue/2.6-basic/package.json
  examples/vue/2.7-basic/package.json
  examples/vue/basic/package.json
  examples/vue/dependent-queries/package.json
  examples/vue/nuxt3/package.json
  examples/vue/persister/package.json
  examples/vue/simple/package.json
  packages/vue-query-devtools/package.json
  packages/vue-query/package.json
  pnpm-lock.yaml
Due: @tanstack/vue-query, @tanstack/vue-query-devtools

add infinite query option types to public api
  packages/angular-query-experimental/.prettierignore
  packages/angular-query-experimental/etc/angular-query-experimental.api.md
  packages/angular-query-experimental/src/index.ts
  packages/angular-query-experimental/src/infinite-query-options.ts
  packages/angular-query-experimental/src/query-options.ts
  packages/angular-query-experimental/src/types.ts
Due: @tanstack/angular-query-experimental

fix(angular-query): missing exports InitialDataInfiniteOptions types (#7388)
  packages/angular-query-experimental/.prettierignore
  packages/angular-query-experimental/etc/angular-query-experimental.api.md
  packages/angular-query-experimental/src/index.ts
  packages/angular-query-experimental/src/infinite-query-options.ts
  packages/angular-query-experimental/src/query-options.ts
  packages/angular-query-experimental/src/types.ts
Due: @tanstack/angular-query-experimental

release: v5.35.3
  examples/angular/basic/package.json
  examples/angular/infinite-query-with-max-pages/package.json
  examples/angular/router/package.json
  examples/angular/simple/package.json
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/package.json
  pnpm-lock.yaml
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental

docs: Fix usage of removeEventListener
  docs/framework/react/guides/window-focus-refetching.md
Due: none

fix(angular-query-experimental): run mutation callback in injection context
  packages/angular-query-experimental/src/__tests__/inject-mutation.test.ts
  packages/angular-query-experimental/src/inject-mutation.ts
Due: @tanstack/angular-query-experimental

Fix PR
  packages/angular-query-experimental/src/__tests__/query-options.test-d.ts
  packages/angular-query-experimental/src/query-options.ts
Due: @tanstack/angular-query-experimental

Fix for react adapter
  packages/react-query/src/__tests__/queryOptions.test-d.tsx
  packages/react-query/src/queryOptions.ts
Due: @tanstack/react-query
