Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

explicit
  packages/query-core/src/__tests__/hydration.test.tsx
Due: @tanstack/query-core

chore: update @tanstack/config (#9302)
  eslint.config.js
  package.json
  packages/svelte-query-devtools/eslint.config.js
  packages/svelte-query-devtools/package.json
  packages/svelte-query-persist-client/eslint.config.js
  packages/svelte-query-persist-client/package.json
  packages/svelte-query/eslint.config.js
  packages/svelte-query/package.json
  pnpm-lock.yaml
Due: @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client

docs(angular-query): fix nullish coalescing warnings in examples
  examples/angular/basic-persister/src/app/components/posts.component.html
  examples/angular/devtools-panel/src/app/components/example-query.component.ts
  examples/angular/infinite-query-with-max-pages/src/app/components/example.component.html
  examples/angular/query-options-from-a-service/src/app/components/post.component.html
  examples/angular/query-options-from-a-service/src/app/components/posts.component.html
  examples/angular/router/src/app/components/post.component.html
Due: none

chore(angular-query): remove obsolete angular platform-browser-dynamic
  examples/angular/auto-refetching/package.json
  examples/angular/basic-persister/package.json
  examples/angular/basic/package.json
  examples/angular/devtools-panel/package.json
  examples/angular/infinite-query-with-max-pages/package.json
  examples/angular/optimistic-updates/package.json
  examples/angular/pagination/package.json
  examples/angular/query-options-from-a-service/package.json
  examples/angular/router/package.json
  examples/angular/rxjs/package.json
  examples/angular/simple/package.json
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-devtools-experimental/src/test-setup.ts
  pnpm-lock.yaml
Due: @tanstack/angular-query-devtools-experimental

test(query-core/mutationObserver): add 'advanceTimersByTimeAsync' in all tests
  packages/query-core/src/__tests__/mutationObserver.test.tsx
Due: @tanstack/query-core

chore(angular-query): remove obsolete angular platform-browser-dynamic (#9311)
  examples/angular/auto-refetching/package.json
  examples/angular/basic-persister/package.json
  examples/angular/basic/package.json
  examples/angular/devtools-panel/package.json
  examples/angular/infinite-query-with-max-pages/package.json
  examples/angular/optimistic-updates/package.json
  examples/angular/pagination/package.json
  examples/angular/query-options-from-a-service/package.json
  examples/angular/router/package.json
  examples/angular/rxjs/package.json
  examples/angular/simple/package.json
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-devtools-experimental/src/test-setup.ts
  pnpm-lock.yaml
Due: @tanstack/angular-query-devtools-experimental

type(vue-query): introduce `ShallowOption` to unify `shallow` type and JSDoc (#9277)
  packages/vue-query/src/types.ts
  packages/vue-query/src/useInfiniteQuery.ts
  packages/vue-query/src/useMutation.ts
  packages/vue-query/src/useQueries.ts
  packages/vue-query/src/useQuery.ts
Due: @tanstack/vue-query

feat(query-core): pass mutation meta as optional second argument to mutationFn
  docs/framework/react/reference/useMutation.md
  packages/query-core/src/__tests__/mutations.test.tsx
  packages/query-core/src/mutation.ts
  packages/query-core/src/types.ts
Due: @tanstack/query-core

fix(docs): Update persistQueryClient.md
  docs/framework/react/plugins/persistQueryClient.md
Due: none

release: v5.81.3
  examples/angular/devtools-panel/package.json
  examples/svelte/auto-refetching/package.json
  examples/svelte/basic/package.json
  examples/svelte/load-more-infinite-scroll/package.json
  examples/svelte/optimistic-updates/package.json
  examples/svelte/playground/package.json
  examples/svelte/simple/package.json
  examples/svelte/ssr/package.json
  examples/svelte/star-wars/package.json
  examples/vue/2.6-basic/package.json
  examples/vue/2.7-basic/package.json
  examples/vue/basic/package.json
  examples/vue/dependent-queries/package.json
  examples/vue/nuxt3/package.json
  examples/vue/persister/package.json
  examples/vue/simple/package.json
  packages/angular-query-devtools-experimental/package.json
  packages/svelte-query-devtools/package.json
  packages/svelte-query-persist-client/package.json
  packages/svelte-query/package.json
  packages/vue-query-devtools/package.json
  packages/vue-query/package.json
Due: @tanstack/angular-query-devtools-experimental, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

test(query-core/mutationObserver): add 'advanceTimersByTimeAsync' in all tests (#9312)
  packages/query-core/src/__tests__/mutationObserver.test.tsx
Due: @tanstack/query-core

refactor: deprecate createSyncStoragePersister
  docs/framework/react/plugins/createAsyncStoragePersister.md
  docs/framework/react/plugins/createSyncStoragePersister.md
  docs/framework/react/plugins/persistQueryClient.md
  docs/framework/vue/guides/mutations.md
  examples/angular/basic-persister/package.json
  examples/angular/basic-persister/src/app/app.config.ts
  examples/react/basic/package.json
  examples/react/basic/src/index.tsx
  examples/react/eslint-legacy/package.json
  examples/react/eslint-legacy/src/index.tsx
  examples/react/offline/package.json
  examples/react/offline/src/App.tsx
  examples/svelte/basic/package.json
  examples/svelte/basic/src/routes/+layout.svelte
  packages/angular-query-persist-client/src/with-persist-query-client.ts
  packages/query-sync-storage-persister/src/index.ts
  pnpm-lock.yaml
Due: @tanstack/query-sync-storage-persister

refactor: deprecate createSyncStoragePersister (#9316)
  docs/framework/react/plugins/createAsyncStoragePersister.md
  docs/framework/react/plugins/createSyncStoragePersister.md
  docs/framework/react/plugins/persistQueryClient.md
  docs/framework/vue/guides/mutations.md
  examples/angular/basic-persister/package.json
  examples/angular/basic-persister/src/app/app.config.ts
  examples/react/basic/package.json
  examples/react/basic/src/index.tsx
  examples/react/eslint-legacy/package.json
  examples/react/eslint-legacy/src/index.tsx
  examples/react/offline/package.json
  examples/react/offline/src/App.tsx
  examples/svelte/basic/package.json
  examples/svelte/basic/src/routes/+layout.svelte
  packages/angular-query-persist-client/src/with-persist-query-client.ts
  packages/query-sync-storage-persister/src/index.ts
  pnpm-lock.yaml
Due: @tanstack/query-sync-storage-persister

test(query-core/focusManager): use 'advanceTimersByTime' for boolean focused arg test
  packages/query-core/src/__tests__/focusManager.test.tsx
Due: @tanstack/query-core

test(query-core/focusManager): use 'advanceTimersByTime' for boolean focused arg test (#9317)
  packages/query-core/src/__tests__/focusManager.test.tsx
Due: @tanstack/query-core

refactor(query-core/queryObserver): use async/await in 'fetchOptimistic' and 'fetch'
  packages/query-core/src/queryObserver.ts
Due: @tanstack/query-core

test(query-core/query): add 'advanceTimersByTimeAsync' and remove 'vi.waitFor'
  packages/query-core/src/__tests__/query.test.tsx
Due: @tanstack/query-core

test(query-core/queryClient): add missing 'await' for 'advanceTimersByTimeAsync'
  packages/query-core/src/__tests__/queryClient.test.tsx
Due: @tanstack/query-core

fix(react-query): throw type error when skipToken is present in prefetch query
  packages/react-query/src/__tests__/usePrefetchQuery.test-d.tsx
  packages/react-query/src/types.ts
  packages/react-query/src/usePrefetchQuery.tsx
Due: @tanstack/react-query

fix(react-query): throw type error when skipToken is present in prefetch query (#9321)
  packages/react-query/src/__tests__/usePrefetchQuery.test-d.tsx
  packages/react-query/src/types.ts
  packages/react-query/src/usePrefetchQuery.tsx
Due: @tanstack/react-query

chore: add .vscode/mcp.json and .github/instructions/nx.instructions.md to .gitignore
  .gitignore
Due: none

test(query-core/queryClient): add missing 'await' for 'advanceTimersByTimeAsync' (#9320)
  packages/query-core/src/__tests__/queryClient.test.tsx
Due: @tanstack/query-core

chore: add .vscode/mcp.json and .github/instructions/nx.instructions.md to .gitignore (#9325)
  .gitignore
Due: none

test(query-core/query): add 'advanceTimersByTimeAsync' and remove 'vi.waitFor' (#9319)
  packages/query-core/src/__tests__/query.test.tsx
Due: @tanstack/query-core

chore: add typescript-eslint/require-await rule (#9029)
  packages/query-codemods/eslint.config.js
Due: none

test(query-core/queryClient): add 'advanceTimersByTimeAsync' and remove 'vi.waitFor'
  packages/query-core/src/__tests__/queryClient.test.tsx
Due: @tanstack/query-core

test(query-core/queryClient): replace 'advanceTimersByTime' with 'advanceTimersByTimeAsync'
  packages/query-core/src/__tests__/queryClient.test.tsx
Due: @tanstack/query-core

test: fix typo - remove duplicate "should run" in mutation test name
  packages/query-core/src/__tests__/mutations.test.tsx
Due: @tanstack/query-core

test(query-core/notifyManager): replace 'queueMicrotask' with 'advanceTimersByTimeAsync'
  packages/query-core/src/__tests__/notifyManager.test.tsx
Due: @tanstack/query-core

chore(*): migrate tsup configuration files to TypeScript format
  packages/angular-query-devtools-experimental/tsup.config.ts
  packages/angular-query-persist-client/tsup.config.ts
  packages/eslint-plugin-query/tsup.config.ts
  packages/query-async-storage-persister/tsup.config.ts
  packages/query-broadcast-client-experimental/tsup.config.ts
  packages/query-core/tsconfig.json
  packages/query-core/tsup.config.ts
  packages/query-devtools/tsup.config.ts
  packages/query-persist-client-core/tsup.config.ts
  packages/query-sync-storage-persister/tsup.config.ts
  packages/react-query-devtools/tsup.config.ts
  packages/react-query-next-experimental/tsup.config.ts
  packages/react-query-persist-client/tsup.config.ts
  packages/react-query/tsup.config.ts
  packages/solid-query-devtools/tsup.config.ts
  packages/solid-query-persist-client/tsup.config.ts
  packages/solid-query/tsup.config.ts
  packages/vue-query/tsup.config.ts
Due: @tanstack/angular-query-devtools-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/vue-query

test: fix typo - remove duplicate "should run" in mutation test name (#9328)
  packages/query-core/src/__tests__/mutations.test.tsx
Due: @tanstack/query-core

test(query-core/notifyManager): replace 'queueMicrotask' with 'advanceTimersByTimeAsync' (#9329)
  packages/query-core/src/__tests__/notifyManager.test.tsx
Due: @tanstack/query-core

test(query-core/intiniteQueryBehavior): remove duplicate 'InfiniteQueryBehavior' in test name
  packages/query-core/src/__tests__/infiniteQueryBehavior.test.tsx
Due: @tanstack/query-core

test(query-core/queryClient): replace 'advanceTimersByTime' with 'advanceTimersByTimeAsync' (#9327)
  packages/query-core/src/__tests__/queryClient.test.tsx
Due: @tanstack/query-core

test(query-core/intiniteQueryBehavior): remove duplicate 'InfiniteQueryBehavior' in test name (#9331)
  packages/query-core/src/__tests__/infiniteQueryBehavior.test.tsx
Due: @tanstack/query-core

test(query-core/queryClient): add 'advanceTimersByTimeAsync' and remove 'vi.waitFor' (#9326)
  packages/query-core/src/__tests__/queryClient.test.tsx
Due: @tanstack/query-core

test(query-core/infiniteQueryObserver): remove duplicate 'InfiniteQueryObserver' and fix grammar in test names
  packages/query-core/src/__tests__/infiniteQueryObserver.test.tsx
Due: @tanstack/query-core

chore(*): migrate tsup configuration files to TypeScript format (#9330)
  packages/angular-query-devtools-experimental/tsup.config.ts
  packages/angular-query-persist-client/tsup.config.ts
  packages/eslint-plugin-query/tsup.config.ts
  packages/query-async-storage-persister/tsup.config.ts
  packages/query-broadcast-client-experimental/tsup.config.ts
  packages/query-core/tsconfig.json
  packages/query-core/tsup.config.ts
  packages/query-devtools/tsup.config.ts
  packages/query-persist-client-core/tsup.config.ts
  packages/query-sync-storage-persister/tsup.config.ts
  packages/react-query-devtools/tsup.config.ts
  packages/react-query-next-experimental/tsup.config.ts
  packages/react-query-persist-client/tsup.config.ts
  packages/react-query/tsup.config.ts
  packages/solid-query-devtools/tsup.config.ts
  packages/solid-query-persist-client/tsup.config.ts
  packages/solid-query/tsup.config.ts
  packages/vue-query/tsup.config.ts
Due: @tanstack/angular-query-devtools-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/vue-query

Path conditions:
  @tanstack/angular-query-devtools-experimental: any of: packages/angular-query-devtools-experimental/**
  @tanstack/angular-query-experimental: any of: packages/angular-query-experimental/**
  @tanstack/eslint-plugin-query: any of: packages/eslint-plugin-query/**
  @tanstack/query-async-storage-persister: any of: packages/query-async-storage-persister/**
  @tanstack/query-broadcast-client-experimental: any of: packages/query-broadcast-client-experimental/**
  @tanstack/query-codemods: any of: packages/codemods/**
  @tanstack/query-core: any of: packages/query-core/**
  @tanstack/query-devtools: any of: packages/query-devtools/**
  @tanstack/query-persist-client-core: any of: packages/query-persist-client-core/**
  @tanstack/query-sync-storage-persister: any of: packages/query-sync-storage-persister/**
  @tanstack/react-query: any of: packages/react-query/**
  @tanstack/react-query-devtools: any of: packages/react-query-devtools/**
  @tanstack/react-query-next-experimental: any of: packages/react-query-next-experimental/**
  @tanstack/react-query-persist-client: any of: packages/react-query-persist-client/**
  @tanstack/solid-query: any of: packages/solid-query/**
  @tanstack/solid-query-devtools: any of: packages/solid-query-devtools/**
  @tanstack/solid-query-persist-client: any of: packages/solid-query-persist-client/**
  @tanstack/svelte-query: any of: packages/svelte-query/**
  @tanstack/svelte-query-devtools: any of: packages/svelte-query-devtools/**
  @tanstack/svelte-query-persist-client: any of: packages/svelte-query-persist-client/**
  @tanstack/vue-query: any of: packages/vue-query/**
  @tanstack/vue-query-devtools: any of: packages/vue-query-devtools/**
