Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

docs: Update react-native.md
  docs/framework/react/react-native.md
Due: none

feat(query-devtools): Add shadowDOMTarget property to react-query-devtool (#7005)
  docs/config.json
  docs/framework/angular/devtools.md
  docs/framework/react/devtools.md
  docs/framework/solid/devtools.md
  docs/framework/vue/devtools.md
  examples/react/shadow-dom/.eslintrc.cjs
  examples/react/shadow-dom/.gitignore
  examples/react/shadow-dom/README.md
  examples/react/shadow-dom/index.html
  examples/react/shadow-dom/package.json
  examples/react/shadow-dom/src/index.css
  examples/react/shadow-dom/src/main.tsx
  examples/react/shadow-dom/src/vite-env.d.ts
  examples/react/shadow-dom/tsconfig.json
  examples/react/shadow-dom/tsconfig.node.json
  examples/react/shadow-dom/vite.config.ts
  packages/angular-query-devtools-experimental/src/angular-query-devtools.component.ts
  packages/query-devtools/src/Context.ts
  packages/query-devtools/src/Devtools.tsx
  packages/query-devtools/src/index.tsx
  packages/query-devtools/src/utils.tsx
  packages/react-query-devtools/src/devtools.tsx
  packages/solid-query-devtools/src/devtools.tsx
  packages/svelte-query-devtools/src/Devtools.svelte
  packages/vue-query-devtools/src/devtools.vue
  packages/vue-query-devtools/src/types.ts
  pnpm-lock.yaml
Due: @tanstack/angular-query-devtools-experimental, @tanstack/query-devtools, @tanstack/react-query-devtools, @tanstack/solid-query-devtools, @tanstack/svelte-query-devtools, @tanstack/vue-query-devtools

fix(query-core): Replace the deprecated 'window' with 'globalThis' for Deno (#7029)
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

fix(core): make sure all options of a query are reactive (#7081)
  packages/query-core/src/query.ts
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/tests/queryClient.test.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/solid-query/src/__tests__/createQuery.test.tsx
Due: @tanstack/query-core, @tanstack/react-query, @tanstack/solid-query

docs: Typo fix in url for react query native dev tools link (#7024)
  docs/framework/react/devtools.md
Due: none

fix(core): do not count disabled observers as stale (#7059)
  packages/query-core/src/query.ts
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/tests/queryCache.test.tsx
  packages/query-core/src/tests/queryObserver.test.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/solid-query/src/__tests__/createQuery.test.tsx
Due: @tanstack/query-core, @tanstack/react-query, @tanstack/solid-query

fix(core): resumed mutations should not be interrupted by refetches
  packages/query-core/src/queryClient.ts
  packages/query-core/src/tests/queryClient.test.tsx
  packages/query-core/src/tests/utils.ts
Due: @tanstack/query-core

feat(fetchQuery): formatted file
  packages/query-core/src/queryClient.ts
Due: @tanstack/query-core

refactor: remove reference to internal promise field
  packages/query-core/src/query.ts
Due: @tanstack/query-core

test: function is async now
  packages/query-core/src/tests/queryClient.test.tsx
Due: @tanstack/query-core

refactor(core): remove reference to internal promise field (#7086)
  packages/query-core/src/query.ts
Due: @tanstack/query-core

docs: Update docs/config.json
  docs/config.json
Due: none

fix(core): resumed mutations should not be interrupted by refetches (#7085)
  packages/query-core/src/queryClient.ts
  packages/query-core/src/tests/queryClient.test.tsx
  packages/query-core/src/tests/utils.ts
Due: @tanstack/query-core

Update schema
  docs/config.json
Due: none

docs: Update docs/config.json (#7087)
  docs/config.json
Due: none

fix(devtools): apply styles to explorer component
  examples/react/shadow-dom/src/DogList.tsx
  examples/react/shadow-dom/src/main.tsx
  packages/query-devtools/src/Explorer.tsx
Due: @tanstack/query-devtools

fix(query-devtools): Apply styles to explorer component in Shadow DOM (#7090)
  examples/react/shadow-dom/src/DogList.tsx
  examples/react/shadow-dom/src/main.tsx
  packages/query-devtools/src/Explorer.tsx
Due: @tanstack/query-devtools

fix: query key with nullish coalescing operator
  packages/eslint-plugin-query/src/__tests__/exhaustive-deps.test.ts
  packages/eslint-plugin-query/src/utils/ast-utils.ts
Due: @tanstack/eslint-plugin-query

fix(eslint-plugin-query): query key with nullish coalescing operator (#7092)
  packages/eslint-plugin-query/src/__tests__/exhaustive-deps.test.ts
  packages/eslint-plugin-query/src/utils/ast-utils.ts
Due: @tanstack/eslint-plugin-query

release: v5.27.7
  examples/react/algolia/package.json
  examples/react/basic-typescript/package.json
  examples/react/basic/package.json
  examples/solid/simple/package.json
  packages/eslint-plugin-query/package.json
  pnpm-lock.yaml
Due: @tanstack/eslint-plugin-query

fix(query-devtools): Preserve offline status after minimize
  packages/query-devtools/src/Devtools.tsx
Due: @tanstack/query-devtools

fix(query-devtools): Preserve offline status after minimize (#7096)
  packages/query-devtools/src/Devtools.tsx
Due: @tanstack/query-devtools

fix(query-devtools): Change activeQuery state (#7098)
  packages/query-devtools/src/Devtools.tsx
Due: @tanstack/query-devtools

Update docs/reference/QueryClient.md
  docs/reference/QueryClient.md
Due: none

docs: Update docs/config.json (v4)
  docs/config.json
Due: none

docs: Update docs/config.json (v3)
  docs/config.json
Due: none

docs: Update docs/config.json (v4) (#7102)
  docs/config.json
Due: none

docs: Update docs/config.json (v3) (#7103)
  docs/config.json
Due: none

chore: prettier
  docs/reference/QueryClient.md
  packages/query-core/src/tests/queryClient.test.tsx
  packages/query-core/src/types.ts
Due: @tanstack/query-core

fix(core): do not update completed mutations
  packages/query-core/src/mutationObserver.ts
  packages/query-core/src/tests/mutationObserver.test.tsx
Due: @tanstack/query-core

feat(ensureQueryData): add 'revalidateIfStale' option (#6996)
  docs/reference/QueryClient.md
  packages/query-core/src/queryClient.ts
  packages/query-core/src/tests/queryClient.test.tsx
  packages/query-core/src/types.ts
Due: @tanstack/query-core

fix(ensureQueryData): add correct type to vue plugin
  packages/vue-query/src/queryClient.ts
Due: @tanstack/vue-query

Path conditions:
  @tanstack/angular-query-devtools-experimental: any of: packages/angular-query-devtools-experimental/**
  @tanstack/angular-query-experimental: any of: packages/angular-query-experimental/**
  @tanstack/eslint-plugin-query: any of: packages/eslint-plugin-query/**
  @tanstack/query-async-storage-persister: any of: packages/query-async-storage-persister/**
  @tanstack/query-broadcast-client-experimental: any of: packages/query-broadcast-client-experimental/**
  @tanstack/query-codemods: any of: packages/codemods/**
  @tanstack/query-core: any of: packages/query-core/**
  @tanstack/query-devtools: any of: packages/query-devtools/**
  @tanstack/query-persist-client-core: any of: packages/query-persist-client-core/**
  @tanstack/query-sync-storage-persister: any of: packages/query-sync-storage-persister/**
  @tanstack/react-query: any of: packages/react-query/**
  @tanstack/react-query-devtools: any of: packages/react-query-devtools/**
  @tanstack/react-query-next-experimental: any of: packages/react-query-next-experimental/**
  @tanstack/react-query-persist-client: any of: packages/react-query-persist-client/**
  @tanstack/solid-query: any of: packages/solid-query/**
  @tanstack/solid-query-devtools: any of: packages/solid-query-devtools/**
  @tanstack/solid-query-persist-client: any of: packages/solid-query-persist-client/**
  @tanstack/svelte-query: any of: packages/svelte-query/**
  @tanstack/svelte-query-devtools: any of: packages/svelte-query-devtools/**
  @tanstack/svelte-query-persist-client: any of: packages/svelte-query-persist-client/**
  @tanstack/vue-query: any of: packages/vue-query/**
  @tanstack/vue-query-devtools: any of: packages/vue-query-devtools/**
