Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

docs: remove unnecessary thing of README.md
  README.md
Due: none

examples: fix svelte auto-refetching styling
  examples/svelte/auto-refetching/src/routes/+page.svelte
  examples/svelte/auto-refetching/src/routes/api/data/+server.ts
Due: none

examples(svelte-query): fix svelte auto-refetching styling (#7951)
  examples/svelte/auto-refetching/src/routes/+page.svelte
  examples/svelte/auto-refetching/src/routes/api/data/+server.ts
Due: none

chore: recovery code comments
  packages/vue-query/src/queryClient.ts
Due: @tanstack/vue-query

fix: stop defaulting to throwOnError=true when isServer===true so that SSR can render the page the same way the client will rather than showing the error boundary fallback
  packages/solid-query/src/createBaseQuery.ts
Due: @tanstack/solid-query

chore: remove unused .all-contributorsrc (#7949)
  .all-contributorsrc
Due: none

fix not null TS error
  packages/solid-query/src/createBaseQuery.ts
Due: @tanstack/solid-query

fix(types): error booleans shouldn't permanently be typed as `false`
  packages/query-core/src/types.ts
  packages/react-query/src/__tests__/useInfiniteQuery.test-d.tsx
Due: @tanstack/query-core, @tanstack/react-query

fix(types): error booleans shouldn't permanently be typed as `false`
  packages/query-core/src/__tests__/infiniteQueryObserver.test-d.tsx
Due: @tanstack/query-core

reference correct error when throwing
  packages/solid-query/src/createBaseQuery.ts
Due: @tanstack/solid-query

chore: I don't understand these errors
  packages/solid-query/src/__tests__/createInfiniteQuery.test.tsx
Due: @tanstack/solid-query

fix(types): error booleans shouldn't permanently be typed as `false` (#7956)
  packages/query-core/src/__tests__/infiniteQueryObserver.test-d.tsx
  packages/query-core/src/types.ts
  packages/react-query/src/__tests__/useInfiniteQuery.test-d.tsx
  packages/solid-query/src/__tests__/createInfiniteQuery.test.tsx
Due: @tanstack/query-core, @tanstack/react-query, @tanstack/solid-query

docs: Add known limitation about cancellation with suspense hooks
  docs/framework/react/guides/query-cancellation.md
  docs/framework/react/reference/useSuspenseInfiniteQuery.md
  docs/framework/react/reference/useSuspenseQueries.md
  docs/framework/react/reference/useSuspenseQuery.md
Due: none

fix(query-core): add test case for not serializable data
  packages/query-core/src/__tests__/query.test.tsx
Due: @tanstack/query-core

fix(query-core): handle `setData` error
  packages/query-core/src/query.ts
Due: @tanstack/query-core

feat(eslint-plugin-query): use @typescript-eslint/utils stable v8
  packages/eslint-plugin-query/package.json
  pnpm-lock.yaml
Due: @tanstack/eslint-plugin-query

Update packages/query-core/src/__tests__/query.test.tsx
  packages/query-core/src/__tests__/query.test.tsx
Due: @tanstack/query-core

fix(query-core): add `return` statement
  packages/query-core/src/query.ts
Due: @tanstack/query-core

docs: Add known limitation about cancellation with suspense hooks (#7958)
  docs/framework/react/guides/query-cancellation.md
  docs/framework/react/reference/useSuspenseInfiniteQuery.md
  docs/framework/react/reference/useSuspenseQueries.md
  docs/framework/react/reference/useSuspenseQuery.md
Due: none

fix(query-core): throw the error in case when data is not serializable for non production env
  packages/query-core/src/__tests__/query.test.tsx
  packages/query-core/src/utils.ts
  packages/query-core/tsconfig.vitest-temp.json
Due: @tanstack/query-core

fix(query-core): delete packages/query-core/tsconfig.vitest-temp.json
  packages/query-core/tsconfig.vitest-temp.json
Due: @tanstack/query-core

test(eslint-plugin-query): fix missing parser
  packages/eslint-plugin-query/package.json
  packages/eslint-plugin-query/src/__tests__/exhaustive-deps.test.ts
  packages/eslint-plugin-query/src/__tests__/no-rest-destructuring.test.ts
  packages/eslint-plugin-query/src/__tests__/no-unstable-deps.test.ts
  packages/eslint-plugin-query/src/__tests__/stable-query-client.test.ts
  pnpm-lock.yaml
Due: @tanstack/eslint-plugin-query

fix(react): re-introduce setting options before suspending
  packages/react-query/src/useBaseQuery.ts
  packages/react-query/src/useQueries.ts
Due: @tanstack/react-query

docs(react-query): recommend against using server actions in queryFn
  docs/framework/react/reference/useQuery.md
Due: none

fix(query-core): lift serializability check and add console.error
  packages/query-core/src/__tests__/query.test.tsx
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

chore(devtools): consistent casing of devtools types
  packages/angular-query-devtools-experimental/src/angular-query-devtools.component.ts
  packages/query-devtools/src/Context.ts
  packages/query-devtools/src/Devtools.tsx
  packages/query-devtools/src/index.tsx
  packages/react-query-devtools/src/devtools.tsx
  packages/solid-query-devtools/src/devtools.tsx
  packages/svelte-query-devtools/src/Devtools.svelte
  packages/vue-query-devtools/src/types.ts
Due: @tanstack/angular-query-devtools-experimental, @tanstack/query-devtools, @tanstack/react-query-devtools, @tanstack/solid-query-devtools, @tanstack/svelte-query-devtools, @tanstack/vue-query-devtools

chore(devtools): consistent casing of devtools types (#7971)
  packages/angular-query-devtools-experimental/src/angular-query-devtools.component.ts
  packages/query-devtools/src/Context.ts
  packages/query-devtools/src/Devtools.tsx
  packages/query-devtools/src/index.tsx
  packages/react-query-devtools/src/devtools.tsx
  packages/solid-query-devtools/src/devtools.tsx
  packages/svelte-query-devtools/src/Devtools.svelte
  packages/vue-query-devtools/src/types.ts
Due: @tanstack/angular-query-devtools-experimental, @tanstack/query-devtools, @tanstack/react-query-devtools, @tanstack/solid-query-devtools, @tanstack/svelte-query-devtools, @tanstack/vue-query-devtools

chore: better type vs value import separation
  examples/react/react-native/src/components/ErrorMessage.tsx
  examples/react/react-native/src/components/ListItem.tsx
  examples/react/react-native/src/components/LoadingIndicator.tsx
  examples/react/react-native/src/hooks/useAppState.ts
  examples/react/react-native/src/navigation/MoviesStack.tsx
  examples/react/react-native/src/navigation/types.ts
  examples/react/react-native/src/screens/MovieDetailsScreen.tsx
  examples/react/react-native/src/screens/MoviesListScreen.tsx
  examples/react/react-router/src/routes/root.tsx
  examples/svelte/playground/src/routes/AddTodo.svelte
  examples/svelte/playground/src/routes/EditTodo.svelte
  examples/svelte/playground/src/routes/TodosList.svelte
  packages/angular-query-experimental/etc/angular-query-experimental.api.md
  packages/angular-query-experimental/src/__tests__/util/lazy-init/lazy-init.test.ts
  packages/angular-query-experimental/src/__tests__/util/lazy-signal-initializer/lazy-signal-initializer.test.ts
  packages/angular-query-experimental/src/inject-mutation-state.ts
  packages/angular-query-experimental/src/util/create-injection-token/create-injection-token.ts
  packages/angular-query-experimental/src/util/lazy-signal-initializer/lazy-signal-initializer.ts
  packages/react-query/src/useSuspenseQueries.ts
  packages/svelte-query/src/useHydrate.ts
  packages/svelte-query/src/useIsFetching.ts
  packages/svelte-query/src/useIsMutating.ts
Due: @tanstack/angular-query-experimental, @tanstack/react-query, @tanstack/svelte-query

chore: simplify clean commands
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/package.json
  packages/eslint-plugin-query/package.json
  packages/query-async-storage-persister/package.json
  packages/query-broadcast-client-experimental/package.json
  packages/query-core/package.json
  packages/query-devtools/package.json
  packages/query-persist-client-core/package.json
  packages/query-sync-storage-persister/package.json
  packages/react-query-devtools/package.json
  packages/react-query-next-experimental/package.json
  packages/react-query-persist-client/package.json
  packages/react-query/package.json
  packages/solid-query-devtools/package.json
  packages/solid-query-persist-client/package.json
  packages/solid-query/package.json
  packages/svelte-query-devtools/package.json
  packages/svelte-query-persist-client/package.json
  packages/svelte-query/package.json
  packages/vue-query-devtools/package.json
  packages/vue-query/package.json
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

chore: better type vs value import separation (#7972)
  examples/react/react-native/src/components/ErrorMessage.tsx
  examples/react/react-native/src/components/ListItem.tsx
  examples/react/react-native/src/components/LoadingIndicator.tsx
  examples/react/react-native/src/hooks/useAppState.ts
  examples/react/react-native/src/navigation/MoviesStack.tsx
  examples/react/react-native/src/navigation/types.ts
  examples/react/react-native/src/screens/MovieDetailsScreen.tsx
  examples/react/react-native/src/screens/MoviesListScreen.tsx
  examples/react/react-router/src/routes/root.tsx
  examples/svelte/playground/src/routes/AddTodo.svelte
  examples/svelte/playground/src/routes/EditTodo.svelte
  examples/svelte/playground/src/routes/TodosList.svelte
  packages/angular-query-experimental/etc/angular-query-experimental.api.md
  packages/angular-query-experimental/src/__tests__/util/lazy-init/lazy-init.test.ts
  packages/angular-query-experimental/src/__tests__/util/lazy-signal-initializer/lazy-signal-initializer.test.ts
  packages/angular-query-experimental/src/inject-mutation-state.ts
  packages/angular-query-experimental/src/util/create-injection-token/create-injection-token.ts
  packages/angular-query-experimental/src/util/lazy-signal-initializer/lazy-signal-initializer.ts
  packages/react-query/src/useSuspenseQueries.ts
  packages/svelte-query/src/useHydrate.ts
  packages/svelte-query/src/useIsFetching.ts
  packages/svelte-query/src/useIsMutating.ts
Due: @tanstack/angular-query-experimental, @tanstack/react-query, @tanstack/svelte-query

chore: simplify clean commands (#7973)
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/package.json
  packages/eslint-plugin-query/package.json
  packages/query-async-storage-persister/package.json
  packages/query-broadcast-client-experimental/package.json
  packages/query-core/package.json
  packages/query-devtools/package.json
  packages/query-persist-client-core/package.json
  packages/query-sync-storage-persister/package.json
  packages/react-query-devtools/package.json
  packages/react-query-next-experimental/package.json
  packages/react-query-persist-client/package.json
  packages/react-query/package.json
  packages/solid-query-devtools/package.json
  packages/solid-query-persist-client/package.json
  packages/solid-query/package.json
  packages/svelte-query-devtools/package.json
  packages/svelte-query-persist-client/package.json
  packages/svelte-query/package.json
  packages/vue-query-devtools/package.json
  packages/vue-query/package.json
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

Fix API usage
  examples/react/algolia/src/algolia.ts
  examples/react/algolia/src/useAlgolia.ts
Due: none

Fix example
  examples/react/algolia/package.json
  examples/react/algolia/src/algolia.ts
  pnpm-lock.yaml
Due: none

fix(angular-query): fix type of isSuccess, isError, isPending, isIdle on mutation result (#7923)
  packages/angular-query-experimental/etc/angular-query-experimental.api.md
  packages/angular-query-experimental/src/__tests__/test-utils.ts
  packages/angular-query-experimental/src/types.ts
Due: @tanstack/angular-query-experimental

Path conditions:
  @tanstack/angular-query-devtools-experimental: any of: packages/angular-query-devtools-experimental/**
  @tanstack/angular-query-experimental: any of: packages/angular-query-experimental/**
  @tanstack/eslint-plugin-query: any of: packages/eslint-plugin-query/**
  @tanstack/query-async-storage-persister: any of: packages/query-async-storage-persister/**
  @tanstack/query-broadcast-client-experimental: any of: packages/query-broadcast-client-experimental/**
  @tanstack/query-codemods: any of: packages/codemods/**
  @tanstack/query-core: any of: packages/query-core/**
  @tanstack/query-devtools: any of: packages/query-devtools/**
  @tanstack/query-persist-client-core: any of: packages/query-persist-client-core/**
  @tanstack/query-sync-storage-persister: any of: packages/query-sync-storage-persister/**
  @tanstack/react-query: any of: packages/react-query/**
  @tanstack/react-query-devtools: any of: packages/react-query-devtools/**
  @tanstack/react-query-next-experimental: any of: packages/react-query-next-experimental/**
  @tanstack/react-query-persist-client: any of: packages/react-query-persist-client/**
  @tanstack/solid-query: any of: packages/solid-query/**
  @tanstack/solid-query-devtools: any of: packages/solid-query-devtools/**
  @tanstack/solid-query-persist-client: any of: packages/solid-query-persist-client/**
  @tanstack/svelte-query: any of: packages/svelte-query/**
  @tanstack/svelte-query-devtools: any of: packages/svelte-query-devtools/**
  @tanstack/svelte-query-persist-client: any of: packages/svelte-query-persist-client/**
  @tanstack/vue-query: any of: packages/vue-query/**
  @tanstack/vue-query-devtools: any of: packages/vue-query-devtools/**
