Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 1%

comment:
  layout: 'header, reach, diff, flags, components'

component_management:
  individual_components:
    - component_id: angular-query-devtools-experimental
      name: '@tanstack/angular-query-devtools-experimental'
      paths:
        - packages/angular-query-devtools-experimental/**
    - component_id: angular-query-experimental
      name: '@tanstack/angular-query-experimental'
      paths:
        - packages/angular-query-experimental/**
    - component_id: eslint-plugin-query
      name: '@tanstack/eslint-plugin-query'
      paths:
        - packages/eslint-plugin-query/**
    - component_id: query-async-storage-persister
      name: '@tanstack/query-async-storage-persister'
      paths:
        - packages/query-async-storage-persister/**
    - component_id: query-broadcast-client-experimental
      name: '@tanstack/query-broadcast-client-experimental'
      paths:
        - packages/query-broadcast-client-experimental/**
    - component_id: query-codemods
      name: '@tanstack/query-codemods'
      paths:
        - packages/codemods/**
    - component_id: query-core
      name: '@tanstack/query-core'
      paths:
        - packages/query-core/**
    - component_id: query-devtools
      name: '@tanstack/query-devtools'
      paths:
        - packages/query-devtools/**
    - component_id: query-persist-client-core
      name: '@tanstack/query-persist-client-core'
      paths:
        - packages/query-persist-client-core/**
    - component_id: query-sync-storage-persister
      name: '@tanstack/query-sync-storage-persister'
      paths:
        - packages/query-sync-storage-persister/**
    - component_id: react-query
      name: '@tanstack/react-query'
      paths:
        - packages/react-query/**
    - component_id: react-query-devtools
      name: '@tanstack/react-query-devtools'
      paths:
        - packages/react-query-devtools/**
    - component_id: react-query-next-experimental
      name: '@tanstack/react-query-next-experimental'
      paths:
        - packages/react-query-next-experimental/**
    - component_id: react-query-persist-client
      name: '@tanstack/react-query-persist-client'
      paths:
        - packages/react-query-persist-client/**
    - component_id: solid-query
      name: '@tanstack/solid-query'
      paths:
        - packages/solid-query/**
    - component_id: solid-query-devtools
      name: '@tanstack/solid-query-devtools'
      paths:
        - packages/solid-query-devtools/**
    - component_id: solid-query-persist-client
      name: '@tanstack/solid-query-persist-client'
      paths:
        - packages/solid-query-persist-client/**
    - component_id: svelte-query
      name: '@tanstack/svelte-query'
      paths:
        - packages/svelte-query/**
    - component_id: svelte-query-devtools
      name: '@tanstack/svelte-query-devtools'
      paths:
        - packages/svelte-query-devtools/**
    - component_id: svelte-query-persist-client
      name: '@tanstack/svelte-query-persist-client'
      paths:
        - packages/svelte-query-persist-client/**
    - component_id: vue-query
      name: '@tanstack/vue-query'
      paths:
        - packages/vue-query/**
    - component_id: vue-query-devtools
      name: '@tanstack/vue-query-devtools'
      paths:
        - packages/vue-query-devtools/**

test(react-query): update vitest type test code correctly (expectTypeOf)
  packages/query-core/src/tests/infiniteQueryObserver.test.tsx
  packages/query-core/src/tests/queryObserver.test.tsx
  packages/react-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/react-query/src/__tests__/useQueries.test.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/react-query/src/__tests__/utils.tsx
Due: @tanstack/query-core, @tanstack/react-query

chore: update
  packages/react-query/src/__tests__/useQueries.test.tsx
Due: @tanstack/react-query

chore(react-query): remove optional chaining
  packages/react-query/src/__tests__/useQueries.test.tsx
Due: @tanstack/react-query

fix(solid-query): Persist client implementation
  packages/solid-query-persist-client/src/PersistQueryClientProvider.tsx
  packages/solid-query/package.json
  packages/solid-query/src/createBaseQuery.ts
Due: @tanstack/solid-query, @tanstack/solid-query-persist-client

fix(solid-query): Persist client implementation (#6993)
  packages/solid-query-persist-client/src/PersistQueryClientProvider.tsx
  packages/solid-query/package.json
  packages/solid-query/src/createBaseQuery.ts
Due: @tanstack/solid-query, @tanstack/solid-query-persist-client

feat(fetchQuery): add 'prefetchWhenStale' option
  docs/reference/QueryClient.md
  packages/query-core/src/queryClient.ts
  packages/query-core/src/types.ts
Due: @tanstack/query-core

docs(react-query): fix typo supsends -> suspends
  docs/framework/react/guides/advanced-ssr.md
Due: none

docs(devtools): update devtool docs to include shadowDOMTarget property
  docs/framework/react/devtools.md
Due: none

refactor: switch typeof undefined checks with strict comparison of the value undefined
  packages/angular-query-experimental/src/util/create-injection-token/create-injection-token.ts
  packages/query-core/src/query.ts
  packages/query-core/src/queryClient.ts
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/utils.ts
  packages/query-sync-storage-persister/src/__tests__/storageIsFull.test.ts
  packages/react-query/src/suspense.ts
Due: @tanstack/angular-query-experimental, @tanstack/query-core, @tanstack/query-sync-storage-persister, @tanstack/react-query

refactor: simplify check
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

refactor: switch typeof undefined checks with strict comparison of the value undefined (#7006)
  packages/angular-query-experimental/src/util/create-injection-token/create-injection-token.ts
  packages/query-core/src/query.ts
  packages/query-core/src/queryClient.ts
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/utils.ts
  packages/query-sync-storage-persister/src/__tests__/storageIsFull.test.ts
  packages/react-query/src/suspense.ts
Due: @tanstack/angular-query-experimental, @tanstack/query-core, @tanstack/query-sync-storage-persister, @tanstack/react-query

fix(solid-query): Defer observer unsubscription untill resource resolves
  packages/solid-query/src/createBaseQuery.ts
Due: @tanstack/solid-query

fix(solid-query): Defer observer unsubscription untill resource resolves (#6982)
  packages/solid-query/src/createBaseQuery.ts
Due: @tanstack/solid-query

release: v5.24.3
  examples/solid/basic-graphql-request/package.json
  examples/solid/basic-typescript/package.json
  examples/solid/default-query-function/package.json
  examples/solid/simple/package.json
  examples/solid/solid-start-streaming/package.json
  packages/solid-query-devtools/package.json
  packages/solid-query-persist-client/package.json
  packages/solid-query/package.json
  pnpm-lock.yaml
Due: @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client

fix(core): do not rely on dataUpdatedAt truthiness
  packages/query-core/src/query.ts
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/tests/query.test.tsx
Due: @tanstack/query-core

fix(solid-query): Prevent infinite refetch with Astro when initialData is provided
  packages/solid-query/src/createBaseQuery.ts
Due: @tanstack/solid-query

fix(types): make getQueryState types work with queryOptions
  packages/query-core/src/queryClient.ts
  packages/react-query/src/__tests__/queryOptions.test-d.tsx
Due: @tanstack/query-core, @tanstack/react-query

fix(solid-query): Prevent infinite refetch with Astro when initialData is provided (#7009)
  packages/solid-query/src/createBaseQuery.ts
Due: @tanstack/solid-query

release: v5.24.4
  examples/solid/basic-graphql-request/package.json
  examples/solid/basic-typescript/package.json
  examples/solid/default-query-function/package.json
  examples/solid/simple/package.json
  examples/solid/solid-start-streaming/package.json
  packages/solid-query-devtools/package.json
  packages/solid-query-persist-client/package.json
  packages/solid-query/package.json
  pnpm-lock.yaml
Due: @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client

chore: fix test that relied on dataUpdatedAt to be set to zero for a query to show up as non-stale
  packages/query-persist-client-core/src/__tests__/createPersister.test.ts
Due: @tanstack/query-persist-client-core

fix(types): make getQueryState types work with queryOptions (#7010)
  packages/query-core/src/queryClient.ts
  packages/react-query/src/__tests__/queryOptions.test-d.tsx
Due: @tanstack/query-core, @tanstack/react-query

fix(core): do not rely on dataUpdatedAt truthiness (#7008)
  packages/query-core/src/query.ts
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/tests/query.test.tsx
  packages/query-persist-client-core/src/__tests__/createPersister.test.ts
Due: @tanstack/query-core, @tanstack/query-persist-client-core

docs: modify typo
  docs/framework/react/guides/prefetching.md
Due: none

docs: modify typo
  docs/framework/vue/guides/prefetching.md
Due: none

docs: modify typo (#7011)
  docs/framework/react/guides/prefetching.md
  docs/framework/vue/guides/prefetching.md
Due: none

docs(react-query): fix typo supsends -> suspends (#6998)
  docs/framework/react/guides/advanced-ssr.md
Due: none

test(solid-query): use vitest typecheck correctly with *.test-d.ts (#6986)
  packages/solid-query/src/__tests__/createQuery.test-d.tsx
  packages/solid-query/src/__tests__/createQuery.types.test.tsx
Due: @tanstack/solid-query

ci(.github/labeler): update label names for each packages and documentation
  .github/labeler.yml
Due: none

fix(query-core): make sure accessing one property on a query result in useQueries tracks properties across all observers
  packages/query-core/src/queriesObserver.ts
  packages/query-core/src/queryObserver.ts
  packages/react-query/src/__tests__/useQueries.test.tsx
Due: @tanstack/query-core, @tanstack/react-query

refactor: expose trackProp function
  packages/query-core/src/queriesObserver.ts
  packages/query-core/src/queryObserver.ts
Due: @tanstack/query-core

feat: add typesafe react-query disabling via skipToken
  packages/query-core/src/query.ts
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/tests/queryClient.test.tsx
  packages/query-core/src/types.ts
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

refactor(query-core): remove check for queryFn === skipToken, enabled is set to false instead
  packages/query-core/src/queryObserver.ts
Due: @tanstack/query-core

fix(query-core): move check for skipToken into already existing if statement
  packages/query-core/src/infiniteQueryBehavior.ts
  packages/query-core/src/query.ts
Due: @tanstack/query-core

fix(react-query): update test to display error message in error boundary
  packages/react-query/src/__tests__/suspense.test.tsx
Due: @tanstack/react-query

feat(react-query): handle skip token in suspense react queries, add tests
  packages/react-query/src/__tests__/suspense.test-d.tsx
  packages/react-query/src/__tests__/suspense.test.tsx
  packages/react-query/src/__tests__/useQueries.test.tsx
  packages/react-query/src/useQueries.ts
  packages/react-query/src/useSuspenseQuery.ts
Due: @tanstack/react-query

chore(react-query): remove unused imports
  packages/react-query/src/__tests__/suspense.test.tsx
Due: @tanstack/react-query
