Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools, @tanstack/angular-query, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

codecov.yml:

codecov:
  max_report_age: off

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto

comment:
  layout: 'header, reach, diff, flags, components'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  hide_project_coverage: false

component_management:
  individual_components:
    - component_id: angular-query-devtools
      name: '@tanstack/angular-query-devtools'
      paths:
        - packages/angular-query-devtools/**
    - component_id: angular-query
      name: '@tanstack/angular-query'
      paths:
        - packages/angular-query/**
    - component_id: eslint-plugin-query
      name: '@tanstack/eslint-plugin-query'
      paths:
        - packages/eslint-plugin-query/**
    - component_id: query-async-storage-persister
      name: '@tanstack/query-async-storage-persister'
      paths:
        - packages/query-async-storage-persister/**
    - component_id: query-broadcast-client-experimental
      name: '@tanstack/query-broadcast-client-experimental'
      paths:
        - packages/query-broadcast-client-experimental/**
    - component_id: query-codemods
      name: '@tanstack/query-codemods'
      paths:
        - packages/query-codemods/**
    - component_id: query-core
      name: '@tanstack/query-core'
      paths:
        - packages/query-core/**
    - component_id: query-devtools
      name: '@tanstack/query-devtools'
      paths:
        - packages/query-devtools/**
    - component_id: query-persist-client-core
      name: '@tanstack/query-persist-client-core'
      paths:
        - packages/query-persist-client-core/**
    - component_id: query-sync-storage-persister
      name: '@tanstack/query-sync-storage-persister'
      paths:
        - packages/query-sync-storage-persister/**
    - component_id: query-test-utils
      name: '@tanstack/query-test-utils'
      paths:
        - packages/query-test-utils/**
    - component_id: react-query
      name: '@tanstack/react-query'
      paths:
        - packages/react-query/**
    - component_id: react-query-devtools
      name: '@tanstack/react-query-devtools'
      paths:
        - packages/react-query-devtools/**
    - component_id: react-query-next-experimental
      name: '@tanstack/react-query-next-experimental'
      paths:
        - packages/react-query-next-experimental/**
    - component_id: react-query-persist-client
      name: '@tanstack/react-query-persist-client'
      paths:
        - packages/react-query-persist-client/**
    - component_id: solid-query
      name: '@tanstack/solid-query'
      paths:
        - packages/solid-query/**
    - component_id: solid-query-devtools
      name: '@tanstack/solid-query-devtools'
      paths:
        - packages/solid-query-devtools/**
    - component_id: solid-query-persist-client
      name: '@tanstack/solid-query-persist-client'
      paths:
        - packages/solid-query-persist-client/**
    - component_id: svelte-query
      name: '@tanstack/svelte-query'
      paths:
        - packages/svelte-query/**
    - component_id: svelte-query-devtools
      name: '@tanstack/svelte-query-devtools'
      paths:
        - packages/svelte-query-devtools/**
    - component_id: svelte-query-persist-client
      name: '@tanstack/svelte-query-persist-client'
      paths:
        - packages/svelte-query-persist-client/**
    - component_id: vue-query
      name: '@tanstack/vue-query'
      paths:
        - packages/vue-query/**
    - component_id: vue-query-devtools
      name: '@tanstack/vue-query-devtools'
      paths:
        - packages/vue-query-devtools/**

test(vue-query/useQuery): wire the mock 'queryFn' into the fresh-data 'suspense' test
  packages/vue-query/src/__tests__/useQuery.test.ts
Due: @tanstack/vue-query

test(vue-query): align mock names with react-query and the options they are passed to (#11599)
  packages/vue-query/src/__tests__/mutationOptions.test.ts
  packages/vue-query/src/__tests__/useInfiniteQuery.test.ts
  packages/vue-query/src/__tests__/useIsFetching.test.ts
  packages/vue-query/src/__tests__/useMutation.test.ts
  packages/vue-query/src/__tests__/usePrefetchInfiniteQuery.test.ts
  packages/vue-query/src/__tests__/usePrefetchQuery.test.ts
  packages/vue-query/src/__tests__/useQueries.test.ts
  packages/vue-query/src/__tests__/useQuery.test.ts
  packages/vue-query/src/__tests__/vueQueryPlugin.test.ts
Due: @tanstack/vue-query

test(svelte-query/createMutation): rename per-call 'onSuccess' mocks to 'onSuccessMutate' to align with react-query
  packages/svelte-query/tests/createMutation/ConcurrentMutate.svelte
  packages/svelte-query/tests/createMutation/PerCallSuccess.svelte
  packages/svelte-query/tests/createMutation/createMutation.svelte.test.ts
Due: @tanstack/svelte-query

test({angular-query-experimental,angular-query-persist-client}): align mock names with react-query and the options they are passed to
  packages/angular-query-experimental/src/__tests__/inject-mutation.test.ts
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
  packages/angular-query-persist-client/src/__tests__/with-persist-query-client.test.ts
Due: none

test(solid-query-persist-client/PersistQueryClientProvider): rename 'console.error' spy from 'onErrorMock' to 'consoleMock' to align with react-query
  packages/solid-query-persist-client/src/__tests__/PersistQueryClientProvider.test.tsx
Due: @tanstack/solid-query-persist-client

docs(svelte-query): add package README
  packages/svelte-query/README.md
Due: @tanstack/svelte-query

test(vue-query/useQuery): wire the mock 'queryFn' into the fresh-data 'suspense' test (#11600)
  packages/vue-query/src/__tests__/useQuery.test.ts
Due: @tanstack/vue-query

docs(svelte-query): fix the CI link encoding and point the downloads badge at this package
  packages/svelte-query/README.md
Due: @tanstack/svelte-query

test(vue-query/useQuery): assert the 'suspense' result in the enabled, default and 'throwOnError' tests
  packages/vue-query/src/__tests__/useQuery.test.ts
Due: @tanstack/vue-query

test(vue-query/useMutation): assert the error watcher throw on both Vue 2 and Vue 3
  packages/vue-query/src/__tests__/useMutation.test.ts
Due: @tanstack/vue-query

test(vue-query/useIsMutating): use 'sleep(10)' so the 'onScopeDispose' test fails if the subscription is kept
  packages/vue-query/src/__tests__/useIsMutating.test.ts
Due: @tanstack/vue-query

test(vue-query/useQueries): assert the other query is not refetched when refetching a single query
  packages/vue-query/src/__tests__/useQueries.test.ts
Due: @tanstack/vue-query

test(vue-query/utils): assert 'updateState' sets keys missing from the update to 'undefined'
  packages/vue-query/src/__tests__/utils.test.ts
Due: @tanstack/vue-query

test(svelte-query/createMutation): rename per-call 'onSuccess' mocks to 'onSuccessMutate' to align with react-query (#11601)
  packages/svelte-query/tests/createMutation/ConcurrentMutate.svelte
  packages/svelte-query/tests/createMutation/PerCallSuccess.svelte
  packages/svelte-query/tests/createMutation/createMutation.svelte.test.ts
Due: @tanstack/svelte-query

test({angular-query-experimental,angular-query-persist-client}): align mock names with react-query and the options they are passed to (#11602)
  packages/angular-query-experimental/src/__tests__/inject-mutation.test.ts
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
  packages/angular-query-persist-client/src/__tests__/with-persist-query-client.test.ts
Due: none

test(solid-query-persist-client/PersistQueryClientProvider): rename 'console.error' spy from 'onErrorMock' to 'consoleMock' to align with react-query (#11603)
  packages/solid-query-persist-client/src/__tests__/PersistQueryClientProvider.test.tsx
Due: @tanstack/solid-query-persist-client

test(vue-query/useQuery): remove the 'unhandledRejection' listener in 'onTestFinished' so it does not leak when the test fails
  packages/vue-query/src/__tests__/useQuery.test.ts
Due: @tanstack/vue-query

test(vue-query/useMutation): remove the 'unhandledRejection' listener in 'onTestFinished' so it does not leak when the test fails
  packages/vue-query/src/__tests__/useMutation.test.ts
Due: @tanstack/vue-query

test(solid-query/useMutation): pass 'unhandledRejectionFn' directly so 'process.off' removes the 'unhandledRejection' listener
  packages/solid-query/src/__tests__/useMutation.test.tsx
Due: @tanstack/solid-query

test(query-core/{mutation,mutationObserver}): pass 'unhandledRejectionFn' directly so 'process.off' removes the 'unhandledRejection' listener
  packages/query-core/src/__tests__/mutation.test.tsx
  packages/query-core/src/__tests__/mutationObserver.test.tsx
Due: @tanstack/query-core

test(preact-query/useMutation): pass 'unhandledRejectionFn' directly so 'process.off' removes the 'unhandledRejection' listener
  packages/preact-query/src/__tests__/useMutation.test.tsx
Due: none

test(react-query/useMutation): pass 'unhandledRejectionFn' directly so 'process.off' removes the 'unhandledRejection' listener
  packages/react-query/src/__tests__/useMutation.test.tsx
Due: @tanstack/react-query

test(vue-query/useMutation): assert the 'unhandledRejection' listener receives the rejected promise with 'expect.any(Promise)'
  packages/vue-query/src/__tests__/useMutation.test.ts
Due: @tanstack/vue-query

fix(svelte-query): release the query observer when an $effect.root is disposed
  .changeset/tidy-items-happen.md
  packages/svelte-query/src/createBaseQuery.svelte.ts
  packages/svelte-query/src/utils.svelte.ts
  packages/svelte-query/tests/createQuery/observer-cleanup.svelte.test.ts
Due: @tanstack/svelte-query

fix(svelte-query/{createQuery,queryOptions}): correct the overload selected for 'initialData' (#11592)
  .changeset/svelte-queryoptions-optional-initialdata-object.md
  packages/svelte-query/src/createQuery.ts
  packages/svelte-query/src/queryOptions.ts
  packages/svelte-query/tests/createQuery/createQuery.test-d.ts
  packages/svelte-query/tests/queryOptions.test-d.ts
Due: @tanstack/svelte-query

fix(solid-query): resubscribe on client switch
  .changeset/solid-query-client-switch.md
  packages/solid-query-persist-client/src/__tests__/PersistQueryClientProvider.test.tsx
  packages/solid-query/src/__tests__/useQuery.test.tsx
  packages/solid-query/src/useBaseQuery.ts
Due: @tanstack/solid-query, @tanstack/solid-query-persist-client

test(vue-query/useQuery): assert the 'suspense' result in the enabled, default and 'throwOnError' tests (#11605)
  packages/vue-query/src/__tests__/useQuery.test.ts
Due: @tanstack/vue-query

test(vue-query/useIsMutating): use 'sleep(10)' so the 'onScopeDispose' test fails if the subscription is kept (#11607)
  packages/vue-query/src/__tests__/useIsMutating.test.ts
Due: @tanstack/vue-query

test(vue-query/useQueries): assert the other query is not refetched when refetching a single query (#11608)
  packages/vue-query/src/__tests__/useQueries.test.ts
Due: @tanstack/vue-query

test(vue-query/utils): assert 'updateState' sets keys missing from the update to 'undefined' (#11609)
  packages/vue-query/src/__tests__/utils.test.ts
Due: @tanstack/vue-query

test({query-core,react-query,preact-query,solid-query}): pass 'unhandledRejectionFn' directly so 'process.off' removes the 'unhandledRejection' listener (#11610)
  packages/preact-query/src/__tests__/useMutation.test.tsx
  packages/query-core/src/__tests__/mutation.test.tsx
  packages/query-core/src/__tests__/mutationObserver.test.tsx
  packages/react-query/src/__tests__/useMutation.test.tsx
  packages/solid-query/src/__tests__/useMutation.test.tsx
Due: @tanstack/query-core, @tanstack/react-query, @tanstack/solid-query

test(vue-query/useMutation): assert the error watcher throw on both Vue 2 and Vue 3 (#11606)
  packages/vue-query/src/__tests__/useMutation.test.ts
Due: @tanstack/vue-query

test(vue-query/useQueries): add test for using the current 'queryKey' value when 'refetch' is called
  packages/vue-query/src/__tests__/useQueries.test.ts
Due: @tanstack/vue-query

test(vue-query/ssr): add test for resolving a dependent query whose 'queryKey' changed before 'suspense' in 'onServerPrefetch'
  packages/vue-query/src/__tests__/ssr.test.ts
Due: @tanstack/vue-query

test(vue-query/useMutation): add test for stopping listening to changes on 'onScopeDispose'
  packages/vue-query/src/__tests__/useMutation.test.ts
Due: @tanstack/vue-query

test(vue-query/useIsMutating): add tests for filters wrapped in a 'ref' and a 'queryClient' passed as the second argument
  packages/vue-query/src/__tests__/useIsMutating.test.ts
Due: @tanstack/vue-query

test(vue-query/queryClient): add tests for custom 'queryCache'/'mutationCache' and the arguments 'invalidateQueries' passes to 'refetchQueries'
  packages/vue-query/src/__tests__/queryClient.test.ts
Due: @tanstack/vue-query

test(vue-query/{useQuery,useQueries,mutationOptions}): add tests for the 'shallow' option
  packages/vue-query/src/__tests__/mutationOptions.test.ts
  packages/vue-query/src/__tests__/useQueries.test.ts
  packages/vue-query/src/__tests__/useQuery.test.ts
Due: @tanstack/vue-query

test(vue-query/vueQueryPlugin): add tests for 'clientPersisterOnSuccess' and the 'unmount' returned by 'clientPersister'
  packages/vue-query/src/__tests__/vueQueryPlugin.test.ts
Due: @tanstack/vue-query

docs(svelte-query/README): replace 'Primitives' with 'Functions' in the description
  packages/svelte-query/README.md
Due: @tanstack/svelte-query
