Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 1%

comment:
  layout: 'header, reach, diff, flags, components'

component_management:
  individual_components:
    - component_id: angular-query-devtools-experimental
      name: '@tanstack/angular-query-devtools-experimental'
      paths:
        - packages/angular-query-devtools-experimental/**
    - component_id: angular-query-experimental
      name: '@tanstack/angular-query-experimental'
      paths:
        - packages/angular-query-experimental/**
    - component_id: eslint-plugin-query
      name: '@tanstack/eslint-plugin-query'
      paths:
        - packages/eslint-plugin-query/**
    - component_id: query-async-storage-persister
      name: '@tanstack/query-async-storage-persister'
      paths:
        - packages/query-async-storage-persister/**
    - component_id: query-broadcast-client-experimental
      name: '@tanstack/query-broadcast-client-experimental'
      paths:
        - packages/query-broadcast-client-experimental/**
    - component_id: query-codemods
      name: '@tanstack/query-codemods'
      paths:
        - packages/codemods/**
    - component_id: query-core
      name: '@tanstack/query-core'
      paths:
        - packages/query-core/**
    - component_id: query-devtools
      name: '@tanstack/query-devtools'
      paths:
        - packages/query-devtools/**
    - component_id: query-persist-client-core
      name: '@tanstack/query-persist-client-core'
      paths:
        - packages/query-persist-client-core/**
    - component_id: query-sync-storage-persister
      name: '@tanstack/query-sync-storage-persister'
      paths:
        - packages/query-sync-storage-persister/**
    - component_id: react-query
      name: '@tanstack/react-query'
      paths:
        - packages/react-query/**
    - component_id: react-query-devtools
      name: '@tanstack/react-query-devtools'
      paths:
        - packages/react-query-devtools/**
    - component_id: react-query-next-experimental
      name: '@tanstack/react-query-next-experimental'
      paths:
        - packages/react-query-next-experimental/**
    - component_id: react-query-persist-client
      name: '@tanstack/react-query-persist-client'
      paths:
        - packages/react-query-persist-client/**
    - component_id: solid-query
      name: '@tanstack/solid-query'
      paths:
        - packages/solid-query/**
    - component_id: solid-query-devtools
      name: '@tanstack/solid-query-devtools'
      paths:
        - packages/solid-query-devtools/**
    - component_id: solid-query-persist-client
      name: '@tanstack/solid-query-persist-client'
      paths:
        - packages/solid-query-persist-client/**
    - component_id: svelte-query
      name: '@tanstack/svelte-query'
      paths:
        - packages/svelte-query/**
    - component_id: svelte-query-devtools
      name: '@tanstack/svelte-query-devtools'
      paths:
        - packages/svelte-query-devtools/**
    - component_id: svelte-query-persist-client
      name: '@tanstack/svelte-query-persist-client'
      paths:
        - packages/svelte-query-persist-client/**
    - component_id: vue-query
      name: '@tanstack/vue-query'
      paths:
        - packages/vue-query/**
    - component_id: vue-query-devtools
      name: '@tanstack/vue-query-devtools'
      paths:
        - packages/vue-query-devtools/**

Update typescript.md
  docs/framework/react/typescript.md
Due: none

feat: scoped mutations (#7312)
  docs/framework/react/guides/mutations.md
  docs/framework/react/reference/useMutation.md
  packages/query-core/src/__tests__/hydration.test.tsx
  packages/query-core/src/__tests__/mutations.test.tsx
  packages/query-core/src/__tests__/queryClient.test.tsx
  packages/query-core/src/hydration.ts
  packages/query-core/src/mutation.ts
  packages/query-core/src/mutationCache.ts
  packages/query-core/src/query.ts
  packages/query-core/src/retryer.ts
  packages/query-core/src/types.ts
  packages/react-query/src/__tests__/useMutation.test.tsx
Due: @tanstack/query-core, @tanstack/react-query

fix: docs pages are breaking due to diff in markdown
  docs/framework/react/guides/migrating-to-react-query-3.md
  docs/framework/react/guides/migrating-to-react-query-4.md
  docs/framework/react/guides/migrating-to-v5.md
Due: none

docs: fix pages breaking due to diff in markdown (#7321)
  docs/framework/react/guides/migrating-to-react-query-3.md
  docs/framework/react/guides/migrating-to-react-query-4.md
  docs/framework/react/guides/migrating-to-v5.md
Due: none

feat(core): make observers on Query a public property
  packages/query-core/src/query.ts
Due: @tanstack/query-core

chore(docs): fix prettier
  docs/framework/react/guides/migrating-to-react-query-4.md
  docs/framework/react/guides/migrating-to-v5.md
Due: none

docs: fix syntax highlighting
  docs/framework/react/guides/migrating-to-react-query-4.md
Due: none

feat(core): make observers on Query a public property (#7326)
  packages/query-core/src/query.ts
Due: @tanstack/query-core

Update disabling-queries.md
  docs/framework/angular/guides/disabling-queries.md
Due: none

bug(codemods): rename CommonJS files to .cjs
  packages/query-codemods/src/utils/index.cjs
  packages/query-codemods/src/utils/transformers/query-cache-transformer.cjs
  packages/query-codemods/src/utils/transformers/query-client-transformer.cjs
  packages/query-codemods/src/utils/transformers/use-query-like-transformer.cjs
  packages/query-codemods/src/v4/__tests__/key-transformation.test.cjs
  packages/query-codemods/src/v4/__tests__/replace-import-specifier.test.cjs
  packages/query-codemods/src/v4/key-transformation.cjs
  packages/query-codemods/src/v4/replace-import-specifier.cjs
  packages/query-codemods/src/v4/utils/replacers/key-replacer.cjs
  packages/query-codemods/src/v5/is-loading/__tests__/is-loading.test.cjs
  packages/query-codemods/src/v5/is-loading/is-loading.cjs
  packages/query-codemods/src/v5/keep-previous-data/__tests__/keep-previous-data.test.cjs
  packages/query-codemods/src/v5/keep-previous-data/keep-previous-data.cjs
  packages/query-codemods/src/v5/keep-previous-data/utils/already-has-placeholder-data-property.cjs
  packages/query-codemods/src/v5/remove-overloads/__tests__/remove-overloads.test.cjs
  packages/query-codemods/src/v5/remove-overloads/remove-overloads.cjs
  packages/query-codemods/src/v5/remove-overloads/transformers/filter-aware-usage-transformer.cjs
  packages/query-codemods/src/v5/remove-overloads/transformers/query-fn-aware-usage-transformer.cjs
  packages/query-codemods/src/v5/remove-overloads/utils/index.cjs
  packages/query-codemods/src/v5/remove-overloads/utils/unknown-usage-error.cjs
  packages/query-codemods/src/v5/rename-hydrate/__tests__/rename-hydrate.test.cjs
  packages/query-codemods/src/v5/rename-hydrate/rename-hydrate.cjs
  packages/query-codemods/src/v5/rename-properties/__tests__/rename-properties.test.cjs
  packages/query-codemods/src/v5/rename-properties/rename-properties.cjs
Due: none

docs: Fixed invalid links
  docs/framework/react/quick-start.md
Due: none

Fix knip errors
  knip.json
  packages/query-codemods/src/v4/key-transformation.cjs
  packages/query-codemods/src/v5/is-loading/is-loading.cjs
  packages/query-codemods/src/v5/keep-previous-data/keep-previous-data.cjs
  packages/query-codemods/src/v5/remove-overloads/remove-overloads.cjs
  packages/query-codemods/src/v5/remove-overloads/transformers/filter-aware-usage-transformer.cjs
  packages/query-codemods/src/v5/remove-overloads/transformers/query-fn-aware-usage-transformer.cjs
  packages/query-codemods/src/v5/remove-overloads/utils/index.cjs
Due: none

Add file extension to tests
  packages/query-codemods/src/v4/__tests__/key-transformation.test.cjs
  packages/query-codemods/src/v4/__tests__/replace-import-specifier.test.cjs
  packages/query-codemods/src/v5/is-loading/__tests__/is-loading.test.cjs
  packages/query-codemods/src/v5/keep-previous-data/__tests__/keep-previous-data.test.cjs
  packages/query-codemods/src/v5/remove-overloads/__tests__/remove-overloads.test.cjs
  packages/query-codemods/src/v5/rename-hydrate/__tests__/rename-hydrate.test.cjs
  packages/query-codemods/src/v5/rename-properties/__tests__/rename-properties.test.cjs
Due: none

Update migration doc
  docs/framework/react/guides/migrating-to-v5.md
Due: none

fix(codemods): Use .cjs extension for CommonJS files (#7333)
  docs/framework/react/guides/migrating-to-v5.md
  knip.json
  packages/query-codemods/src/utils/index.cjs
  packages/query-codemods/src/utils/transformers/query-cache-transformer.cjs
  packages/query-codemods/src/utils/transformers/query-client-transformer.cjs
  packages/query-codemods/src/utils/transformers/use-query-like-transformer.cjs
  packages/query-codemods/src/v4/__tests__/key-transformation.test.cjs
  packages/query-codemods/src/v4/__tests__/key-transformation.test.js
  packages/query-codemods/src/v4/__tests__/replace-import-specifier.test.cjs
  packages/query-codemods/src/v4/key-transformation.cjs
  packages/query-codemods/src/v4/replace-import-specifier.cjs
  packages/query-codemods/src/v4/utils/replacers/key-replacer.cjs
  packages/query-codemods/src/v5/is-loading/__tests__/is-loading.test.cjs
  packages/query-codemods/src/v5/is-loading/is-loading.cjs
  packages/query-codemods/src/v5/keep-previous-data/__tests__/keep-previous-data.test.cjs
  packages/query-codemods/src/v5/keep-previous-data/keep-previous-data.cjs
  packages/query-codemods/src/v5/keep-previous-data/utils/already-has-placeholder-data-property.cjs
  packages/query-codemods/src/v5/remove-overloads/__tests__/remove-overloads.test.cjs
  packages/query-codemods/src/v5/remove-overloads/__tests__/remove-overloads.test.js
  packages/query-codemods/src/v5/remove-overloads/remove-overloads.cjs
  packages/query-codemods/src/v5/remove-overloads/transformers/filter-aware-usage-transformer.cjs
  packages/query-codemods/src/v5/remove-overloads/transformers/query-fn-aware-usage-transformer.cjs
  packages/query-codemods/src/v5/remove-overloads/utils/index.cjs
  packages/query-codemods/src/v5/remove-overloads/utils/unknown-usage-error.cjs
  packages/query-codemods/src/v5/rename-hydrate/__tests__/rename-hydrate.test.cjs
  packages/query-codemods/src/v5/rename-hydrate/rename-hydrate.cjs
  packages/query-codemods/src/v5/rename-properties/__tests__/rename-properties.test.cjs
  packages/query-codemods/src/v5/rename-properties/rename-properties.cjs
Due: none

docs(createSyncStoragePersister): fix typo
  docs/framework/react/plugins/createSyncStoragePersister.md
Due: none

Update useMutation.md
  docs/framework/react/reference/useMutation.md
Due: none

feat(angular-query-experimental): support injection in injectQuery callback
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
  packages/angular-query-experimental/src/inject-query.ts
Due: @tanstack/angular-query-experimental

docs: Update useMutation.md (#7349)
  docs/framework/react/reference/useMutation.md
Due: none

docs(createSyncStoragePersister): fix typo (#7348)
  docs/framework/react/plugins/createSyncStoragePersister.md
Due: none

fix: trigger release
  README.md
Due: none

feat(angular-query): support injection in injectQuery callback (#7350)
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
  packages/angular-query-experimental/src/inject-query.ts
Due: @tanstack/angular-query-experimental

release: v5.33.0
  examples/angular/basic/package.json
  examples/angular/infinite-query-with-max-pages/package.json
  examples/angular/router/package.json
  examples/angular/simple/package.json
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/package.json
  pnpm-lock.yaml
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental

fix: replaceDeepEqual for objects created by Object.create
  packages/query-core/src/__tests__/utils.test.tsx
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

feat(angular-query-experimental): run query options callbacks in injection context
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
  packages/angular-query-experimental/src/inject-query.ts
  packages/angular-query-experimental/src/util/injection-context-proxy/injection-context-proxy.ts
Due: @tanstack/angular-query-experimental

fix(solid-query): Correct types for primitives
  packages/solid-query/src/createQueries.ts
  packages/solid-query/src/types.ts
Due: @tanstack/solid-query

fix(solid-query): Correct types for primitives (#7363)
  packages/solid-query/src/createQueries.ts
  packages/solid-query/src/types.ts
Due: @tanstack/solid-query

release: v5.33.1
  examples/solid/astro/package.json
  examples/solid/basic-graphql-request/package.json
  examples/solid/basic-typescript/package.json
  examples/solid/default-query-function/package.json
  examples/solid/simple/package.json
  examples/solid/solid-start-streaming/package.json
  packages/solid-query-devtools/package.json
  packages/solid-query-persist-client/package.json
  packages/solid-query/package.json
  pnpm-lock.yaml
Due: @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client

feat(solid-query): Revise `queryOptions` implementation
  packages/solid-query/src/__tests__/createQuery.test-d.tsx
  packages/solid-query/src/__tests__/queryOptions.test-d.tsx
  packages/solid-query/src/createQuery.ts
Due: @tanstack/solid-query

feat(solid-query): Revise `queryOptions` implementation (#7366)
  packages/solid-query/src/__tests__/createQuery.test-d.tsx
  packages/solid-query/src/__tests__/queryOptions.test-d.tsx
  packages/solid-query/src/createQuery.ts
Due: @tanstack/solid-query

release: v5.34.0
  examples/solid/astro/package.json
  examples/solid/basic-graphql-request/package.json
  examples/solid/basic-typescript/package.json
  examples/solid/default-query-function/package.json
  examples/solid/simple/package.json
  examples/solid/solid-start-streaming/package.json
  packages/solid-query-devtools/package.json
  packages/solid-query-persist-client/package.json
  packages/solid-query/package.json
  pnpm-lock.yaml
Due: @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client

docs: Solid Query - Add overview, ts, install sections
  docs/config.json
  docs/framework/solid/devtools.md
  docs/framework/solid/installation.md
  docs/framework/solid/overview.md
  docs/framework/solid/quick-start.md
  docs/framework/solid/typescript.md
Due: none

docs: Solid Query - Add overview, ts, install sections (#7368)
  docs/config.json
  docs/framework/solid/devtools.md
  docs/framework/solid/installation.md
  docs/framework/solid/overview.md
  docs/framework/solid/quick-start.md
  docs/framework/solid/typescript.md
Due: none

feat(svelte-query): createMutationState
  packages/svelte-query/src/createMutationState.ts
  packages/svelte-query/src/types.ts
  pnpm-lock.yaml
Due: @tanstack/svelte-query

fix(core): replaceDeepEqual for objects created by Object.create (#7357)
  packages/query-core/src/__tests__/utils.test.tsx
  packages/query-core/src/utils.ts
Due: @tanstack/query-core
