Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools, @tanstack/angular-query, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

codecov.yml:

codecov:
  max_report_age: off

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto

comment:
  layout: 'header, reach, diff, flags, components'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  hide_project_coverage: false

component_management:
  individual_components:
    - component_id: angular-query-devtools
      name: '@tanstack/angular-query-devtools'
      paths:
        - packages/angular-query-devtools/**
    - component_id: angular-query
      name: '@tanstack/angular-query'
      paths:
        - packages/angular-query/**
    - component_id: eslint-plugin-query
      name: '@tanstack/eslint-plugin-query'
      paths:
        - packages/eslint-plugin-query/**
    - component_id: query-async-storage-persister
      name: '@tanstack/query-async-storage-persister'
      paths:
        - packages/query-async-storage-persister/**
    - component_id: query-broadcast-client-experimental
      name: '@tanstack/query-broadcast-client-experimental'
      paths:
        - packages/query-broadcast-client-experimental/**
    - component_id: query-codemods
      name: '@tanstack/query-codemods'
      paths:
        - packages/query-codemods/**
    - component_id: query-core
      name: '@tanstack/query-core'
      paths:
        - packages/query-core/**
    - component_id: query-devtools
      name: '@tanstack/query-devtools'
      paths:
        - packages/query-devtools/**
    - component_id: query-persist-client-core
      name: '@tanstack/query-persist-client-core'
      paths:
        - packages/query-persist-client-core/**
    - component_id: query-sync-storage-persister
      name: '@tanstack/query-sync-storage-persister'
      paths:
        - packages/query-sync-storage-persister/**
    - component_id: query-test-utils
      name: '@tanstack/query-test-utils'
      paths:
        - packages/query-test-utils/**
    - component_id: react-query
      name: '@tanstack/react-query'
      paths:
        - packages/react-query/**
    - component_id: react-query-devtools
      name: '@tanstack/react-query-devtools'
      paths:
        - packages/react-query-devtools/**
    - component_id: react-query-next-experimental
      name: '@tanstack/react-query-next-experimental'
      paths:
        - packages/react-query-next-experimental/**
    - component_id: react-query-persist-client
      name: '@tanstack/react-query-persist-client'
      paths:
        - packages/react-query-persist-client/**
    - component_id: solid-query
      name: '@tanstack/solid-query'
      paths:
        - packages/solid-query/**
    - component_id: solid-query-devtools
      name: '@tanstack/solid-query-devtools'
      paths:
        - packages/solid-query-devtools/**
    - component_id: solid-query-persist-client
      name: '@tanstack/solid-query-persist-client'
      paths:
        - packages/solid-query-persist-client/**
    - component_id: svelte-query
      name: '@tanstack/svelte-query'
      paths:
        - packages/svelte-query/**
    - component_id: svelte-query-devtools
      name: '@tanstack/svelte-query-devtools'
      paths:
        - packages/svelte-query-devtools/**
    - component_id: svelte-query-persist-client
      name: '@tanstack/svelte-query-persist-client'
      paths:
        - packages/svelte-query-persist-client/**
    - component_id: vue-query
      name: '@tanstack/vue-query'
      paths:
        - packages/vue-query/**
    - component_id: vue-query-devtools
      name: '@tanstack/vue-query-devtools'
      paths:
        - packages/vue-query-devtools/**

Update eslint config
  packages/eslint-plugin-query/vite.config.ts
Due: @tanstack/eslint-plugin-query

Disable false eslint errors
  packages/angular-query-experimental/src/create-base-query.ts
  packages/angular-query-experimental/src/inject-queries.ts
  packages/query-core/src/__tests__/queryClient.test-d.tsx
  packages/query-core/src/__tests__/retryer.test-d.tsx
  packages/query-core/src/__tests__/streamedQuery.test.tsx
  packages/query-core/src/__tests__/utils.test-d.tsx
  packages/query-core/src/streamedQuery.ts
  packages/query-devtools/src/__tests__/Devtools.test.tsx
  packages/query-devtools/src/__tests__/Explorer.test.tsx
  packages/react-query/src/__tests__/useSuspenseQuery.test.tsx
Due: @tanstack/query-core, @tanstack/query-devtools, @tanstack/react-query

Fix remaining errors
  packages/eslint-plugin-query/src/index.ts
  packages/eslint-plugin-query/vite.config.ts
Due: @tanstack/eslint-plugin-query

Fix knip, dedupe esbuild
  knip.ts
  package.json
  packages/eslint-plugin-query/src/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: @tanstack/eslint-plugin-query

Add changeset
  .changeset/nice-buses-tie.md
Due: none

fix(solid-query/useQueries): keep destructured results updating, report paused queries, and throw refetch errors with cached data to the error boundary
  packages/solid-query/src/__tests__/suspense.test.tsx
  packages/solid-query/src/__tests__/useQueries.test.tsx
  packages/solid-query/src/useQueries.ts
Due: @tanstack/solid-query

refactor(solid-query/useQueries): resolve the Suspense resource with a plain signal and update the results and store through a single 'commit'
  packages/solid-query/src/__tests__/useQueries.test.tsx
  packages/solid-query/src/useQueries.ts
Due: @tanstack/solid-query

test(solid-query/useQueries): port the remaining 'useSuspenseQueries' tests from react-query
  packages/solid-query/src/__tests__/suspense.test.tsx
Due: @tanstack/solid-query

fix(solid-query/useQueries): allow 'combine' to return any object, not only an array of results
  packages/solid-query/src/__tests__/useQueries.test-d.tsx
  packages/solid-query/src/__tests__/useQueries.test.tsx
  packages/solid-query/src/useQueries.ts
Due: @tanstack/solid-query

docs(solid-query/useQueries): describe how reading 'data' suspends in the deprecated 'suspense' option JSDoc
  packages/solid-query/src/useQueries.ts
Due: @tanstack/solid-query

docs(solid-query/useQueries): describe Suspense support and object 'combine' results in the JSDoc
  packages/solid-query/src/useQueries.ts
Due: @tanstack/solid-query

docs(solid-query/useQueries): note that the deprecated 'suspense' option still makes 'throwOnError' default to 'true'
  packages/solid-query/src/useQueries.ts
Due: @tanstack/solid-query

fix(solid-query/useQueries): apply the optimistic results and suspend as soon as restoring finishes
  packages/solid-query/src/__tests__/suspense.test.tsx
  packages/solid-query/src/useQueries.ts
Due: @tanstack/solid-query

feat(solid-query/useQueries): suspend and throw when reading the result that 'combine' returns
  packages/solid-query/src/__tests__/suspense.test.tsx
  packages/solid-query/src/useQueries.ts
Due: @tanstack/solid-query

chore(scripts/create-github-release): push only the release tag instead of every local tag
  scripts/create-github-release.mjs
Due: none

chore(scripts/create-github-release): remove the comment on the release tag push
  scripts/create-github-release.mjs
Due: none

chore(scripts/create-github-release): push only the release tag instead of every local tag (#11652)
  scripts/create-github-release.mjs
Due: none

test(vue-query): add tests for 'initialData' with a failed refetch and an infinite query waiting on 'skipToken' (#11426)
  packages/vue-query/src/__tests__/useInfiniteQuery.test.ts
  packages/vue-query/src/__tests__/useQuery.test.ts
Due: @tanstack/vue-query

test(vue-query/useQuery): use 'initial' and 'data' in the 'initialData' tests like the other adapters
  packages/vue-query/src/__tests__/useQuery.test.ts
Due: @tanstack/vue-query

test(vue-query/useQuery): use 'initial' and 'data' in the 'initialData' tests like the other adapters (#11653)
  packages/vue-query/src/__tests__/useQuery.test.ts
Due: @tanstack/vue-query

test(solid-query/useInfiniteQuery): add test for not fetching while 'queryFn' is 'skipToken' and fetching once it is replaced
  packages/solid-query/src/__tests__/useInfiniteQuery.test.tsx
Due: @tanstack/solid-query

test(solid-query/useInfiniteQuery): add test for not fetching while 'queryFn' is 'skipToken' and fetching once it is replaced (#11654)
  packages/solid-query/src/__tests__/useInfiniteQuery.test.tsx
Due: @tanstack/solid-query

test(svelte-query/createInfiniteQuery): add tests for 'initialData' with a failed refetch and an infinite query waiting on 'skipToken'
  packages/svelte-query/tests/createInfiniteQuery/Options.svelte
  packages/svelte-query/tests/createInfiniteQuery/createInfiniteQuery.svelte.test.ts
Due: @tanstack/svelte-query

test(vue-query): remove blank lines between actions, waits and their assertions
  packages/vue-query/src/__tests__/mutationCache.test.ts
  packages/vue-query/src/__tests__/mutationOptions.test.ts
  packages/vue-query/src/__tests__/queryCache.test.ts
  packages/vue-query/src/__tests__/queryClient.test.ts
  packages/vue-query/src/__tests__/useInfiniteQuery.test.ts
  packages/vue-query/src/__tests__/useIsFetching.test.ts
  packages/vue-query/src/__tests__/useIsMutating.test.ts
  packages/vue-query/src/__tests__/useMutation.test.ts
  packages/vue-query/src/__tests__/useMutationState.test.ts
  packages/vue-query/src/__tests__/usePrefetchInfiniteQuery.test.ts
  packages/vue-query/src/__tests__/usePrefetchQuery.test.ts
  packages/vue-query/src/__tests__/useQueries.test.ts
  packages/vue-query/src/__tests__/useQuery.test.ts
  packages/vue-query/src/__tests__/useQueryClient.test.ts
  packages/vue-query/src/__tests__/vueQueryPlugin.test.ts
Due: @tanstack/vue-query

test(svelte-query/createInfiniteQuery): advance timers by the minimum 10ms in the 'initialData' and 'skipToken' tests
  packages/svelte-query/tests/createInfiniteQuery/createInfiniteQuery.svelte.test.ts
Due: @tanstack/svelte-query

test(svelte-query): advance timers by the time the awaited work takes
  packages/svelte-query/tests/createMutation/createMutation.svelte.test.ts
  packages/svelte-query/tests/createQuery/createQuery.svelte.test.ts
Due: @tanstack/svelte-query

test(svelte-query/createQuery): keep the intentional 100ms wait in the disabled query invalidation test
  packages/svelte-query/tests/createQuery/createQuery.svelte.test.ts
Due: @tanstack/svelte-query

test(vue-query): remove blank lines between actions, waits and their assertions (#11656)
  packages/vue-query/src/__tests__/mutationCache.test.ts
  packages/vue-query/src/__tests__/mutationOptions.test.ts
  packages/vue-query/src/__tests__/queryCache.test.ts
  packages/vue-query/src/__tests__/queryClient.test.ts
  packages/vue-query/src/__tests__/useInfiniteQuery.test.ts
  packages/vue-query/src/__tests__/useIsFetching.test.ts
  packages/vue-query/src/__tests__/useIsMutating.test.ts
  packages/vue-query/src/__tests__/useMutation.test.ts
  packages/vue-query/src/__tests__/useMutationState.test.ts
  packages/vue-query/src/__tests__/usePrefetchInfiniteQuery.test.ts
  packages/vue-query/src/__tests__/usePrefetchQuery.test.ts
  packages/vue-query/src/__tests__/useQueries.test.ts
  packages/vue-query/src/__tests__/useQuery.test.ts
  packages/vue-query/src/__tests__/useQueryClient.test.ts
  packages/vue-query/src/__tests__/vueQueryPlugin.test.ts
Due: @tanstack/vue-query

test(svelte-query/createInfiniteQuery): add tests for 'initialData' with a failed refetch and an infinite query waiting on 'skipToken' (#11655)
  packages/svelte-query/tests/createInfiniteQuery/Options.svelte
  packages/svelte-query/tests/createInfiniteQuery/createInfiniteQuery.svelte.test.ts
Due: @tanstack/svelte-query

test({react-query,preact-query}): keep each action, wait and assertion together and separate each new user action
  packages/preact-query/src/__tests__/HydrationBoundary.test.tsx
  packages/preact-query/src/__tests__/suspense.test.tsx
  packages/preact-query/src/__tests__/useInfiniteQuery.test.tsx
  packages/preact-query/src/__tests__/useMutation.test.tsx
  packages/preact-query/src/__tests__/usePrefetchInfiniteQuery.test.tsx
  packages/preact-query/src/__tests__/usePrefetchQuery.test.tsx
  packages/preact-query/src/__tests__/useQueries.test.tsx
  packages/preact-query/src/__tests__/useQuery.test.tsx
  packages/preact-query/src/__tests__/useSuspenseQueries.test.tsx
  packages/preact-query/src/__tests__/useSuspenseQuery.test.tsx
  packages/react-query/src/__tests__/HydrationBoundary.test.tsx
  packages/react-query/src/__tests__/suspense.test.tsx
  packages/react-query/src/__tests__/transition.test.tsx
  packages/react-query/src/__tests__/useInfiniteQuery.test.tsx
  packages/react-query/src/__tests__/useMutation.test.tsx
  packages/react-query/src/__tests__/usePrefetchInfiniteQuery.test.tsx
  packages/react-query/src/__tests__/usePrefetchQuery.test.tsx
  packages/react-query/src/__tests__/useQueries.test.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/react-query/src/__tests__/useSuspenseQueries.test.tsx
  packages/react-query/src/__tests__/useSuspenseQuery.test.tsx
Due: @tanstack/react-query

test(vue-query): keep each assertion and the following wait together and separate setup calls and new user actions
  packages/vue-query/src/__tests__/mutationCache.test.ts
  packages/vue-query/src/__tests__/mutationOptions.test.ts
  packages/vue-query/src/__tests__/queryCache.test.ts
  packages/vue-query/src/__tests__/queryClient.test.ts
  packages/vue-query/src/__tests__/useInfiniteQuery.test.ts
  packages/vue-query/src/__tests__/useIsFetching.test.ts
  packages/vue-query/src/__tests__/useIsMutating.test.ts
  packages/vue-query/src/__tests__/useMutation.test.ts
  packages/vue-query/src/__tests__/useQueries.test.ts
  packages/vue-query/src/__tests__/useQuery.test.ts
  packages/vue-query/src/__tests__/useQueryClient.test.ts
  packages/vue-query/src/__tests__/vueQueryPlugin.test.ts
Due: @tanstack/vue-query

test(svelte-query): advance timers by the time the awaited work takes (#11657)
  packages/svelte-query/tests/createMutation/createMutation.svelte.test.ts
  packages/svelte-query/tests/createQuery/createQuery.svelte.test.ts
Due: @tanstack/svelte-query

test(svelte-query): remove blank lines between actions, waits and their assertions
  packages/svelte-query/tests/createInfiniteQuery/createInfiniteQuery.svelte.test.ts
  packages/svelte-query/tests/createMutation/createMutation.svelte.test.ts
  packages/svelte-query/tests/createQueries/createQueries.svelte.test.ts
  packages/svelte-query/tests/createQuery/createQuery.svelte.test.ts
  packages/svelte-query/tests/useMutationState/useMutationState.svelte.test.ts
Due: @tanstack/svelte-query

test(angular-query): remove blank lines between actions, waits and their assertions
  packages/angular-query-experimental/src/__tests__/inject-devtools-panel.test.ts
  packages/angular-query-experimental/src/__tests__/inject-infinite-query.test.ts
  packages/angular-query-experimental/src/__tests__/inject-is-fetching.test.ts
  packages/angular-query-experimental/src/__tests__/inject-is-mutating.test.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation-state.test.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation.test.ts
  packages/angular-query-experimental/src/__tests__/inject-queries.test.ts
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
  packages/angular-query-experimental/src/__tests__/pending-tasks.test.ts
  packages/angular-query-experimental/src/__tests__/with-devtools.test.ts
  packages/angular-query-persist-client/src/__tests__/with-persist-query-client.test.ts
Due: none

test(solid-query): remove blank lines between actions, waits and their assertions
  packages/solid-query-devtools/src/__tests__/devtools.test.tsx
  packages/solid-query/src/__tests__/suspense.test.tsx
  packages/solid-query/src/__tests__/transition.test.tsx
  packages/solid-query/src/__tests__/useInfiniteQuery.test.tsx
  packages/solid-query/src/__tests__/useIsFetching.test.tsx
  packages/solid-query/src/__tests__/useIsMutating.test.tsx
  packages/solid-query/src/__tests__/useMutation.test.tsx
  packages/solid-query/src/__tests__/useMutationState.test.tsx
  packages/solid-query/src/__tests__/useQueries.test.tsx
  packages/solid-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/solid-query, @tanstack/solid-query-devtools

test({react-query,preact-query}): remove remaining blank lines around a commented assertion and 'act' wait blocks
  packages/preact-query/src/__tests__/useQuery.test.tsx
  packages/preact-query/src/__tests__/useSuspenseQueries.test.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/react-query

test(react-query/useSuspenseQueries): remove blank line between the 'fireEvent' wrapped in 'expect' and its wait
  packages/react-query/src/__tests__/useSuspenseQueries.test.tsx
Due: @tanstack/react-query

test({react-query,preact-query}): add blank lines after setup such as 'renderWithClient', 'rerender' and 'queryClient' calls
  packages/preact-query/src/__tests__/useMutation.test.tsx
  packages/preact-query/src/__tests__/usePrefetchQuery.test.tsx
  packages/preact-query/src/__tests__/useQuery.test.tsx
  packages/react-query/src/__tests__/useMutation.test.tsx
  packages/react-query/src/__tests__/usePrefetchQuery.test.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/react-query

test(vue-query): add blank lines after composables called directly in a test
  packages/vue-query/src/__tests__/useQueries.test.ts
  packages/vue-query/src/__tests__/useQuery.test.ts
Due: @tanstack/vue-query
