Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools, @tanstack/angular-query, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

test(react-query/HydrationBoundary): add tests for 'enabled: false' and 'staleTime: Infinity'
  packages/react-query/src/__tests__/HydrationBoundary.test.tsx
Due: @tanstack/react-query

test(react-query/HydrationBoundary): add delayed assertions for 'enabled: false' and 'staleTime: Infinity' tests
  packages/react-query/src/__tests__/HydrationBoundary.test.tsx
Due: @tanstack/react-query

fix(query-core): prevent reducer from being called twice in streamedQuery #9787
  packages/query-core/src/__tests__/streamedQuery.test.tsx
  packages/query-core/src/streamedQuery.ts
Due: @tanstack/query-core

refactor(solid-query/useQuery.test): convert complex 'then' callbacks to async/await pattern
  packages/solid-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/solid-query

fix(streamed-query): prevent reducer from being called twice
  packages/query-core/src/__tests__/streamedQuery.test.tsx
  packages/query-core/src/streamedQuery.ts
Due: @tanstack/query-core

docs: add changeset and lockfile update
  .changeset/fair-peaches-deny.md
  packages/query-core/src/__tests__/streamedQuery.test.tsx
  pnpm-lock.yaml
Due: @tanstack/query-core

fix(changeset): change version bump to patch
  .changeset/fair-peaches-deny.md
Due: none

simple preact updations
  packages/preact-query/eslint.config.js
  packages/preact-query/package.json
  packages/preact-query/src/HydrationBoundary.tsx
  packages/preact-query/src/IsRestoringProvider.ts
  packages/preact-query/src/QueryClientProvider.tsx
  packages/preact-query/src/QueryErrorResetBoundary.tsx
  packages/preact-query/src/errorBoundaryUtils.ts
  packages/preact-query/src/index.ts
  packages/preact-query/src/useBaseQuery.ts
  packages/preact-query/src/useIsFetching.ts
  packages/preact-query/src/useMutation.ts
  packages/preact-query/src/useMutationState.ts
  packages/preact-query/src/useQueries.ts
  packages/preact-query/tsconfig.json
  packages/preact-query/vite.config.ts
  pnpm-lock.yaml
Due: none

fix: lock file
  pnpm-lock.yaml
Due: none

fix: integration version
  integrations/react-next-15/package.json
  integrations/react-next-16/package.json
  integrations/react-vite/package.json
  integrations/react-webpack-4/package.json
  integrations/react-webpack-5/package.json
  packages/react-query-devtools/package.json
  packages/react-query-next-experimental/package.json
  packages/react-query-persist-client/package.json
  packages/react-query/package.json
Due: @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client

missed a React.ReactNode
  packages/preact-query/src/HydrationBoundary.tsx
Due: none

fix(query-core): fix queriesObserver result and observer length mismatch
  .changeset/orange-flowers-post.md
  packages/query-core/src/queriesObserver.ts
Due: @tanstack/query-core

fix: lockfile
  pnpm-lock.yaml
Due: none

Merge files
  examples/react/auto-refetching/next-env.d.ts
  examples/react/auto-refetching/tsconfig.json
  examples/react/infinite-query-with-max-pages/next-env.d.ts
  examples/react/infinite-query-with-max-pages/tsconfig.json
  examples/react/load-more-infinite-scroll/next-env.d.ts
  examples/react/load-more-infinite-scroll/tsconfig.json
  examples/react/nextjs-app-prefetching/tsconfig.json
  examples/react/nextjs-suspense-streaming/tsconfig.json
  examples/react/nextjs/next-env.d.ts
  examples/react/nextjs/tsconfig.json
  examples/react/optimistic-updates-cache/next-env.d.ts
  examples/react/optimistic-updates-cache/tsconfig.json
  examples/react/optimistic-updates-ui/next-env.d.ts
  examples/react/optimistic-updates-ui/tsconfig.json
  examples/react/pagination/next-env.d.ts
  examples/react/pagination/tsconfig.json
  examples/react/prefetching/next-env.d.ts
  examples/react/prefetching/tsconfig.json
  pnpm-lock.yaml
Due: none

Knip fix
  package.json
Due: none

Fixed order
  package.json
Due: none

refactor(solid-query-persist-client/PersistQueryClientProvider.test): convert complex 'then' callback to async/await pattern
  packages/solid-query-persist-client/src/__tests__/PersistQueryClientProvider.test.tsx
Due: @tanstack/solid-query-persist-client

refactor(angular-query-persist-client/withPersistQueryClient.test): convert complex 'then' callbacks to async/await pattern
  packages/angular-query-persist-client/src/__tests__/with-persist-query-client.test.ts
Due: none

refactor(svelte-query-persist-client/FreshData): convert complex 'then' callback to async/await pattern
  packages/svelte-query-persist-client/tests/FreshData/FreshData.svelte
Due: @tanstack/svelte-query-persist-client

refactor(react-query-persist-client/PersistQueryClientProvider.test): convert complex 'then' callbacks to async/await pattern
  packages/react-query-persist-client/src/__tests__/PersistQueryClientProvider.test.tsx
Due: @tanstack/react-query-persist-client

Angular Eslint
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
  packages/angular-query-experimental/src/__tests__/with-devtools.test.ts
Due: none

Query Core Eslint
  packages/query-core/src/__tests__/query.test.tsx
Due: @tanstack/query-core

Fixed Vue Eslint issue
  eslint.config.js
Due: none

Removed fallback
  packages/react-query/src/__tests__/usePrefetchInfiniteQuery.test.tsx
Due: @tanstack/react-query

Add docs about PersistQueryClientProvider settings
  docs/framework/react/guides/advanced-ssr.md
Due: none

correct
  docs/framework/react/guides/advanced-ssr.md
Due: none

testing grunt work (preact library + other small issues + ErrorBoundary custom implementation)
  packages/preact-query/eslint.config.js
  packages/preact-query/package.json
  packages/preact-query/src/__tests__/HydrationBoundary.test.tsx
  packages/preact-query/src/__tests__/QueryClientProvider.test.tsx
  packages/preact-query/src/__tests__/QueryResetErrorBoundary.test.tsx
  packages/preact-query/src/__tests__/fine-grained-persister.test.tsx
  packages/preact-query/src/__tests__/mutationOptions.test.tsx
  packages/preact-query/src/__tests__/ssr-hydration.test.tsx
  packages/preact-query/src/__tests__/ssr.test.tsx
  packages/preact-query/src/__tests__/suspense.test.tsx
  packages/preact-query/src/__tests__/useInfiniteQuery.test.tsx
  packages/preact-query/src/__tests__/useIsFetching.test.tsx
  packages/preact-query/src/__tests__/useMutation.test.tsx
  packages/preact-query/src/__tests__/useMutationState.test.tsx
  packages/preact-query/src/__tests__/usePrefetchInfiniteQuery.test.tsx
  packages/preact-query/src/__tests__/usePrefetchQuery.test.tsx
  packages/preact-query/src/__tests__/useQueries.test.tsx
  packages/preact-query/src/__tests__/useQuery.promise.test.tsx
  packages/preact-query/src/__tests__/useQuery.test.tsx
  packages/preact-query/src/__tests__/useSuspenseInfiniteQuery.test.tsx
  packages/preact-query/src/__tests__/useSuspenseQueries.test.tsx
  packages/preact-query/src/__tests__/useSuspenseQuery.test.tsx
  packages/preact-query/src/__tests__/utils.tsx
  packages/preact-query/test-setup.ts
  pnpm-lock.yaml
Due: none

missed a few
  packages/preact-query/src/__tests__/ssr-hydration.test.tsx
  packages/preact-query/src/__tests__/useMutation.test.tsx
Due: none

docs(angular-query): add TypeScript documentation
  docs/framework/angular/typescript.md
Due: none

Use tracking to fix some subtle bugs
  packages/angular-query-experimental/src/create-base-query.ts
  packages/angular-query-experimental/src/inject-mutation.ts
Due: none

Fix PendingTasks for offline mode
  packages/angular-query-experimental/src/__tests__/pending-tasks.test.ts
  packages/angular-query-experimental/src/create-base-query.ts
Due: none

Fix isRestoring() handling
  examples/angular/infinite-query-with-max-pages/src/app/components/example.component.ts
  examples/angular/optimistic-updates/src/app/components/optimistic-updates.component.ts
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
  packages/angular-query-experimental/src/create-base-query.ts
Due: none

Improve PendingTasks task cleanup, isRestoring() handling
  packages/angular-query-experimental/src/create-base-query.ts
Due: none

add changeset
  .changeset/deep-crews-open.md
Due: none

Ensure unit tests are run using component effect scheduling
  packages/angular-query-experimental/src/__tests__/inject-infinite-query.test.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation-state.test.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation.test.ts
  packages/angular-query-experimental/src/__tests__/inject-queries.test.ts
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
  packages/angular-query-experimental/src/__tests__/pending-tasks.test.ts
Due: none

Use queueMicrotask instead of notifyManager.batchCalls to improve timing
  packages/angular-query-experimental/src/__tests__/inject-infinite-query.test.ts
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
  packages/angular-query-experimental/src/create-base-query.ts
Due: none

Improve tests
  docs/framework/angular/guides/testing.md
  docs/framework/angular/installation.md
  docs/framework/angular/overview.md
  examples/angular/infinite-query-with-max-pages/src/app/components/example.component.ts
  packages/angular-query-experimental/src/__tests__/inject-devtools-panel.test.ts
  packages/angular-query-experimental/src/__tests__/inject-infinite-query.test.ts
  packages/angular-query-experimental/src/__tests__/inject-is-fetching.test.ts
  packages/angular-query-experimental/src/__tests__/inject-is-mutating.test.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation-state.test.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation.test.ts
  packages/angular-query-experimental/src/__tests__/inject-queries.test.ts
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
  packages/angular-query-experimental/src/__tests__/mutation-options.test.ts
  packages/angular-query-experimental/src/__tests__/pending-tasks.test.ts
  packages/angular-query-experimental/src/__tests__/test-utils.ts
  packages/angular-query-experimental/src/__tests__/with-devtools.test.ts
Due: none

Modify onMutate signature to add context parameter
  docs/framework/react/reference/useMutation.md
Due: none

fix: handle PiP open failures by resetting persisted state
  .changeset/warm-drinks-itch.md
  packages/query-devtools/src/contexts/PiPContext.tsx
Due: @tanstack/query-devtools

Path conditions:
  @tanstack/angular-query-devtools: any of: packages/angular-query-devtools/**
  @tanstack/angular-query: any of: packages/angular-query/**
  @tanstack/eslint-plugin-query: any of: packages/eslint-plugin-query/**
  @tanstack/query-async-storage-persister: any of: packages/query-async-storage-persister/**
  @tanstack/query-broadcast-client-experimental: any of: packages/query-broadcast-client-experimental/**
  @tanstack/query-codemods: any of: packages/query-codemods/**
  @tanstack/query-core: any of: packages/query-core/**
  @tanstack/query-devtools: any of: packages/query-devtools/**
  @tanstack/query-persist-client-core: any of: packages/query-persist-client-core/**
  @tanstack/query-sync-storage-persister: any of: packages/query-sync-storage-persister/**
  @tanstack/query-test-utils: any of: packages/query-test-utils/**
  @tanstack/react-query: any of: packages/react-query/**
  @tanstack/react-query-devtools: any of: packages/react-query-devtools/**
  @tanstack/react-query-next-experimental: any of: packages/react-query-next-experimental/**
  @tanstack/react-query-persist-client: any of: packages/react-query-persist-client/**
  @tanstack/solid-query: any of: packages/solid-query/**
  @tanstack/solid-query-devtools: any of: packages/solid-query-devtools/**
  @tanstack/solid-query-persist-client: any of: packages/solid-query-persist-client/**
  @tanstack/svelte-query: any of: packages/svelte-query/**
  @tanstack/svelte-query-devtools: any of: packages/svelte-query-devtools/**
  @tanstack/svelte-query-persist-client: any of: packages/svelte-query-persist-client/**
  @tanstack/vue-query: any of: packages/vue-query/**
  @tanstack/vue-query-devtools: any of: packages/vue-query-devtools/**
