Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 1%

comment:
  layout: 'header, reach, diff, flags, components'

component_management:
  individual_components:
    - component_id: angular-query-devtools-experimental
      name: '@tanstack/angular-query-devtools-experimental'
      paths:
        - packages/angular-query-devtools-experimental/**
    - component_id: angular-query-experimental
      name: '@tanstack/angular-query-experimental'
      paths:
        - packages/angular-query-experimental/**
    - component_id: eslint-plugin-query
      name: '@tanstack/eslint-plugin-query'
      paths:
        - packages/eslint-plugin-query/**
    - component_id: query-async-storage-persister
      name: '@tanstack/query-async-storage-persister'
      paths:
        - packages/query-async-storage-persister/**
    - component_id: query-broadcast-client-experimental
      name: '@tanstack/query-broadcast-client-experimental'
      paths:
        - packages/query-broadcast-client-experimental/**
    - component_id: query-codemods
      name: '@tanstack/query-codemods'
      paths:
        - packages/codemods/**
    - component_id: query-core
      name: '@tanstack/query-core'
      paths:
        - packages/query-core/**
    - component_id: query-devtools
      name: '@tanstack/query-devtools'
      paths:
        - packages/query-devtools/**
    - component_id: query-persist-client-core
      name: '@tanstack/query-persist-client-core'
      paths:
        - packages/query-persist-client-core/**
    - component_id: query-sync-storage-persister
      name: '@tanstack/query-sync-storage-persister'
      paths:
        - packages/query-sync-storage-persister/**
    - component_id: react-query
      name: '@tanstack/react-query'
      paths:
        - packages/react-query/**
    - component_id: react-query-devtools
      name: '@tanstack/react-query-devtools'
      paths:
        - packages/react-query-devtools/**
    - component_id: react-query-next-experimental
      name: '@tanstack/react-query-next-experimental'
      paths:
        - packages/react-query-next-experimental/**
    - component_id: react-query-persist-client
      name: '@tanstack/react-query-persist-client'
      paths:
        - packages/react-query-persist-client/**
    - component_id: solid-query
      name: '@tanstack/solid-query'
      paths:
        - packages/solid-query/**
    - component_id: solid-query-devtools
      name: '@tanstack/solid-query-devtools'
      paths:
        - packages/solid-query-devtools/**
    - component_id: solid-query-persist-client
      name: '@tanstack/solid-query-persist-client'
      paths:
        - packages/solid-query-persist-client/**
    - component_id: svelte-query
      name: '@tanstack/svelte-query'
      paths:
        - packages/svelte-query/**
    - component_id: svelte-query-devtools
      name: '@tanstack/svelte-query-devtools'
      paths:
        - packages/svelte-query-devtools/**
    - component_id: svelte-query-persist-client
      name: '@tanstack/svelte-query-persist-client'
      paths:
        - packages/svelte-query-persist-client/**
    - component_id: vue-query
      name: '@tanstack/vue-query'
      paths:
        - packages/vue-query/**
    - component_id: vue-query-devtools
      name: '@tanstack/vue-query-devtools'
      paths:
        - packages/vue-query-devtools/**

docs: sentence wording
  docs/framework/react/reference/hydration.md
Due: none

Update docs/framework/react/reference/queryOptions.md
  docs/framework/react/reference/queryOptions.md
Due: none

fix: improve long running task performance in query core
  packages/query-core/src/queriesObserver.ts
  packages/query-core/src/queryObserver.ts
Due: @tanstack/query-core

docs(angular-query): add rxjs example
  docs/config.json
  examples/angular/basic/src/app/components/post.component.html
  examples/angular/basic/src/index.html
  examples/angular/router/src/app/components/post.component.html
  examples/angular/router/src/app/components/post.component.ts
  examples/angular/rxjs/.devcontainer/devcontainer.json
  examples/angular/rxjs/.eslintrc.cjs
  examples/angular/rxjs/README.md
  examples/angular/rxjs/angular.json
  examples/angular/rxjs/package.json
  examples/angular/rxjs/src/app/api/autocomplete-mock.interceptor.ts
  examples/angular/rxjs/src/app/app.component.ts
  examples/angular/rxjs/src/app/app.config.ts
  examples/angular/rxjs/src/app/components/example.component.html
  examples/angular/rxjs/src/app/components/example.component.ts
  examples/angular/rxjs/src/app/services/autocomplete-service.ts
  examples/angular/rxjs/src/favicon.ico
  examples/angular/rxjs/src/index.html
  examples/angular/rxjs/src/main.ts
  examples/angular/rxjs/tsconfig.app.json
  examples/angular/rxjs/tsconfig.json
  examples/angular/simple/src/index.html
  pnpm-lock.yaml
Due: none

docs(angular-query): add rxjs example (#8108)
  docs/config.json
  examples/angular/basic/src/app/components/post.component.html
  examples/angular/basic/src/index.html
  examples/angular/router/src/app/components/post.component.html
  examples/angular/router/src/app/components/post.component.ts
  examples/angular/rxjs/.devcontainer/devcontainer.json
  examples/angular/rxjs/.eslintrc.cjs
  examples/angular/rxjs/README.md
  examples/angular/rxjs/angular.json
  examples/angular/rxjs/package.json
  examples/angular/rxjs/src/app/api/autocomplete-mock.interceptor.ts
  examples/angular/rxjs/src/app/app.component.ts
  examples/angular/rxjs/src/app/app.config.ts
  examples/angular/rxjs/src/app/components/example.component.html
  examples/angular/rxjs/src/app/components/example.component.ts
  examples/angular/rxjs/src/app/services/autocomplete-service.ts
  examples/angular/rxjs/src/favicon.ico
  examples/angular/rxjs/src/index.html
  examples/angular/rxjs/src/main.ts
  examples/angular/rxjs/tsconfig.app.json
  examples/angular/rxjs/tsconfig.json
  examples/angular/simple/src/index.html
  pnpm-lock.yaml
Due: none

Update useQueries.md (#8097)
  docs/framework/react/reference/useQueries.md
Due: none

docs(react-query): fix a typo in guides/ssr.md (#8086)
  docs/framework/react/guides/ssr.md
Due: none

docs(react-query): Fix broken route on eslint-plugin-query.md
  docs/eslint/eslint-plugin-query.md
Due: none

docs(react-query): Fix broken route on eslint-plugin-query.md (#8113)
  docs/eslint/eslint-plugin-query.md
Due: none

fix(eslint-plugin-query): update deprecated `getSourceCode()` method
  packages/eslint-plugin-query/src/rules/stable-query-client/stable-query-client.rule.ts
Due: @tanstack/eslint-plugin-query

feat: add support for `React.use()` (#7988)
  docs/framework/react/guides/suspense.md
  docs/framework/react/reference/queryOptions.md
  docs/framework/react/reference/useInfiniteQuery.md
  docs/framework/react/reference/useQuery.md
  packages/query-core/src/__tests__/queryObserver.test.tsx
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/retryer.ts
  packages/query-core/src/thenable.ts
  packages/query-core/src/types.ts
  packages/react-query/package.json
  packages/react-query/src/__tests__/prefetch.test.tsx
  packages/react-query/src/__tests__/ssr.test.tsx
  packages/react-query/src/__tests__/suspense.test.tsx
  packages/react-query/src/__tests__/useInfiniteQuery.test.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/react-query/src/types.ts
  packages/react-query/src/useBaseQuery.ts
  packages/react-query/vite.config.ts
  packages/solid-query/src/__tests__/createInfiniteQuery.test.tsx
  packages/solid-query/src/__tests__/createQuery.test.tsx
  packages/svelte-query/tests/createInfiniteQuery/createInfiniteQuery.test.ts
Due: @tanstack/query-core, @tanstack/react-query, @tanstack/solid-query, @tanstack/svelte-query

docs: Update mutations.md (#8105)
  docs/framework/react/guides/mutations.md
Due: none

docs: sentence wording (#8106)
  docs/framework/react/reference/hydration.md
Due: none

refactor: remove two more arrays to be more efficient
  packages/query-core/src/queriesObserver.ts
Due: @tanstack/query-core

Update docs/framework/vue/guides/query-keys.md
  docs/framework/vue/guides/query-keys.md
Due: none

test(vue-query): add test and improve typing (#8103)
  packages/vue-query/src/__tests__/utils.test.ts
  packages/vue-query/src/__tests__/vueQueryPlugin.test.ts
Due: @tanstack/vue-query

chore: add eslint-disable
  packages/eslint-plugin-query/src/rules/stable-query-client/stable-query-client.rule.ts
Due: @tanstack/eslint-plugin-query

refactor: remove queryObserver improvement from PR
  packages/query-core/src/queryObserver.ts
Due: @tanstack/query-core

refactor: packages/query-core/src/queryObserver.ts remove
  packages/query-core/src/queryObserver.ts
Due: @tanstack/query-core

docs(angular-query): add pagination example
  docs/config.json
  examples/angular/basic/README.md
  examples/angular/basic/src/app/app.config.ts
  examples/angular/infinite-query-with-max-pages/README.md
  examples/angular/infinite-query-with-max-pages/src/app/components/example.component.ts
  examples/angular/infinite-query-with-max-pages/src/app/services/projects.service.ts
  examples/angular/infinite-query-with-max-pages/src/index.html
  examples/angular/pagination/README.md
  examples/angular/pagination/angular.json
  examples/angular/pagination/package.json
  examples/angular/pagination/src/app/api/projects-mock.interceptor.ts
  examples/angular/pagination/src/app/app.component.ts
  examples/angular/pagination/src/app/app.config.ts
  examples/angular/pagination/src/app/components/example.component.html
  examples/angular/pagination/src/app/components/example.component.ts
  examples/angular/pagination/src/app/services/projects.service.ts
  examples/angular/pagination/src/favicon.ico
  examples/angular/pagination/src/index.html
  examples/angular/pagination/src/main.ts
  examples/angular/pagination/tsconfig.app.json
  examples/angular/pagination/tsconfig.json
  examples/angular/rxjs/angular.json
  examples/angular/rxjs/src/index.html
  examples/angular/simple/README.md
  examples/angular/simple/src/app/app.config.ts
  pnpm-lock.yaml
Due: none

docs(angular-query): add pagination example (#8124)
  docs/config.json
  examples/angular/basic/README.md
  examples/angular/basic/src/app/app.config.ts
  examples/angular/infinite-query-with-max-pages/README.md
  examples/angular/infinite-query-with-max-pages/src/app/components/example.component.ts
  examples/angular/infinite-query-with-max-pages/src/app/services/projects.service.ts
  examples/angular/infinite-query-with-max-pages/src/index.html
  examples/angular/pagination/README.md
  examples/angular/pagination/angular.json
  examples/angular/pagination/package.json
  examples/angular/pagination/src/app/api/projects-mock.interceptor.ts
  examples/angular/pagination/src/app/app.component.ts
  examples/angular/pagination/src/app/app.config.ts
  examples/angular/pagination/src/app/components/example.component.html
  examples/angular/pagination/src/app/components/example.component.ts
  examples/angular/pagination/src/app/services/projects.service.ts
  examples/angular/pagination/src/favicon.ico
  examples/angular/pagination/src/index.html
  examples/angular/pagination/src/main.ts
  examples/angular/pagination/tsconfig.app.json
  examples/angular/pagination/tsconfig.json
  examples/angular/rxjs/angular.json
  examples/angular/rxjs/src/index.html
  examples/angular/simple/README.md
  examples/angular/simple/src/app/app.config.ts
  pnpm-lock.yaml
Due: none

docs(angular-query): remove pagination example double devtools
  examples/angular/pagination/src/app/components/example.component.html
  examples/angular/pagination/src/app/components/example.component.ts
Due: none

docs(angular-query): fix pagination example double devtools (#8125)
  examples/angular/pagination/src/app/components/example.component.html
  examples/angular/pagination/src/app/components/example.component.ts
Due: none

fix(eslint-plugin-query): update deprecated `getSourceCode()` method (#8117)
  packages/eslint-plugin-query/src/rules/stable-query-client/stable-query-client.rule.ts
Due: @tanstack/eslint-plugin-query

release: v5.59.1
  examples/react/algolia/package.json
  examples/react/basic/package.json
  examples/solid/simple/package.json
  examples/vue/2.6-basic/package.json
  examples/vue/2.7-basic/package.json
  examples/vue/basic/package.json
  examples/vue/dependent-queries/package.json
  examples/vue/nuxt3/package.json
  examples/vue/persister/package.json
  examples/vue/simple/package.json
  packages/eslint-plugin-query/package.json
  packages/vue-query-devtools/package.json
  packages/vue-query/package.json
  pnpm-lock.yaml
Due: @tanstack/eslint-plugin-query, @tanstack/vue-query, @tanstack/vue-query-devtools

fix(useInfiniteQuery): prevent error when pageParams or pages are undefined
  packages/query-core/src/infiniteQueryBehavior.ts
Due: @tanstack/query-core

fixed typing and concised the if statement
  packages/query-core/src/infiniteQueryBehavior.ts
Due: @tanstack/query-core

refactor(eslint-plugin-query): change naming for `text` variables
  packages/eslint-plugin-query/src/rules/infinite-query-property-order/infinite-query-property-order.rule.ts
Due: @tanstack/eslint-plugin-query

chore(eslint-plugin-query): change naming for `text` variables (#8135)
  packages/eslint-plugin-query/src/rules/infinite-query-property-order/infinite-query-property-order.rule.ts
Due: @tanstack/eslint-plugin-query

fix: `no-shadow` lint warning in `insertAtPositions()`
  packages/eslint-plugin-query/src/__tests__/test-utils.ts
Due: @tanstack/eslint-plugin-query

fix: `expect-expect` warning for `expectArrayEqualIgnoreOrder`
  packages/eslint-plugin-query/eslint.config.js
Due: @tanstack/eslint-plugin-query

fix: lint error could not find plugin `vitest`
  packages/eslint-plugin-query/eslint.config.js
Due: @tanstack/eslint-plugin-query

fix: handle nullish coalescing operator in exhaustive-deps rule
  packages/eslint-plugin-query/src/__tests__/exhaustive-deps.test.ts
  packages/eslint-plugin-query/src/rules/exhaustive-deps/exhaustive-deps.rule.ts
Due: @tanstack/eslint-plugin-query

fix(eslint-plugin-query): handle nullish coalescing operator in exhaustive-deps rule (#8146)
  packages/eslint-plugin-query/src/__tests__/exhaustive-deps.test.ts
  packages/eslint-plugin-query/src/rules/exhaustive-deps/exhaustive-deps.rule.ts
Due: @tanstack/eslint-plugin-query

release: v5.59.2
  examples/react/algolia/package.json
  examples/react/basic/package.json
  examples/solid/simple/package.json
  packages/eslint-plugin-query/package.json
  pnpm-lock.yaml
Due: @tanstack/eslint-plugin-query

docs(svelte-query): add the devtools page to the svelte-query docs
  docs/config.json
  docs/framework/svelte/devtools.md
Due: none

fix(eslint-plugin-query): handle callable params within exaustive-deps rule
  packages/eslint-plugin-query/src/__tests__/exhaustive-deps.test.ts
  packages/eslint-plugin-query/src/utils/ast-utils.ts
Due: @tanstack/eslint-plugin-query

fix: queryKeyHashFn
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/react-query/src/useBaseQuery.ts
Due: @tanstack/react-query

fix(query-core): new cache entry check (#8151)
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/react-query/src/useBaseQuery.ts
Due: @tanstack/react-query
