Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools, @tanstack/angular-query, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

docs(svelte-query/createBaseQuery): clarify that the throw-effect re-runs when 'error' changes
  packages/svelte-query/src/createBaseQuery.svelte.ts
Due: @tanstack/svelte-query

refactor(svelte-query/createBaseQuery): trim comments on the throw-effect and its tests
  packages/svelte-query/src/createBaseQuery.svelte.ts
  packages/svelte-query/tests/createQuery/createQuery.svelte.test.ts
Due: @tanstack/svelte-query

test(svelte-query/createQuery): use a real 'sleep(10)' delay in the remaining throw-effect tests
  packages/svelte-query/tests/createQuery/createQuery.svelte.test.ts
Due: @tanstack/svelte-query

refactor(svelte-query/createBaseQuery): track the raw result in '$state.raw' instead of a version counter
  packages/svelte-query/src/createBaseQuery.svelte.ts
Due: @tanstack/svelte-query

test(svelte-query/createQuery): remove comments that restate the test setup or name
  packages/svelte-query/tests/createQuery/createQuery.svelte.test.ts
Due: @tanstack/svelte-query

test({react,preact,angular}-query/infiniteQueryOptions): use a non-literal condition for the ternary 'initialData' test
  packages/angular-query-experimental/src/__tests__/infinite-query-options.test-d.ts
  packages/preact-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/react-query/src/__tests__/infiniteQueryOptions.test-d.tsx
Due: @tanstack/react-query

fix({solid,vue}-query): accept a possibly-undefined 'initialData' in 'UndefinedInitialDataInfiniteOptions'
  .changeset/fix-defined-initial-data-infinite-undefined.md
  docs/framework/solid/reference/functions/infiniteQueryOptions.md
  docs/framework/solid/reference/type-aliases/DefinedInitialDataInfiniteOptions.md
  docs/framework/solid/reference/type-aliases/UndefinedInitialDataInfiniteOptions.md
  docs/framework/vue/reference/functions/infiniteQueryOptions.md
  docs/framework/vue/reference/type-aliases/DefinedInitialDataInfiniteOptions.md
  docs/framework/vue/reference/type-aliases/UndefinedInitialDataInfiniteOptions.md
  packages/solid-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/solid-query/src/infiniteQueryOptions.ts
  packages/vue-query/src/__tests__/infiniteQueryOptions.test-d.ts
  packages/vue-query/src/infiniteQueryOptions.ts
Due: @tanstack/solid-query, @tanstack/vue-query

fix(vue-query/infiniteQueryOptions): declare the 'Defined' overload first so a defined 'initialData' still selects it
  docs/framework/vue/reference/functions/infiniteQueryOptions.md
  packages/vue-query/src/__tests__/infiniteQueryOptions.test-d.ts
  packages/vue-query/src/infiniteQueryOptions.ts
Due: @tanstack/vue-query

docs({react,preact,angular,solid,vue}-query): drop generated reference doc changes, regenerated by autofix after merge
  docs/framework/angular/reference/functions/infiniteQueryOptions.md
  docs/framework/angular/reference/type-aliases/DefinedInitialDataInfiniteOptions.md
  docs/framework/preact/reference/functions/infiniteQueryOptions.md
  docs/framework/preact/reference/type-aliases/DefinedInitialDataInfiniteOptions.md
  docs/framework/react/reference/functions/infiniteQueryOptions.md
  docs/framework/react/reference/type-aliases/DefinedInitialDataInfiniteOptions.md
  docs/framework/solid/reference/functions/infiniteQueryOptions.md
  docs/framework/solid/reference/type-aliases/DefinedInitialDataInfiniteOptions.md
  docs/framework/solid/reference/type-aliases/UndefinedInitialDataInfiniteOptions.md
  docs/framework/vue/reference/functions/infiniteQueryOptions.md
  docs/framework/vue/reference/type-aliases/DefinedInitialDataInfiniteOptions.md
  docs/framework/vue/reference/type-aliases/UndefinedInitialDataInfiniteOptions.md
Due: none

chore(.changeset): align the message with the PR title
  .changeset/fix-defined-initial-data-infinite-undefined.md
Due: none

docs({react,preact,angular,solid,vue}-query/infiniteQueryOptions): describe overload selection by whether 'initialData' is known to be defined
  packages/angular-query-experimental/src/infinite-query-options.ts
  packages/angular-query-experimental/src/inject-infinite-query.ts
  packages/preact-query/src/infiniteQueryOptions.ts
  packages/preact-query/src/useInfiniteQuery.ts
  packages/react-query/src/infiniteQueryOptions.ts
  packages/react-query/src/useInfiniteQuery.ts
  packages/solid-query/src/infiniteQueryOptions.ts
  packages/solid-query/src/useInfiniteQuery.ts
  packages/vue-query/src/infiniteQueryOptions.ts
  packages/vue-query/src/useInfiniteQuery.ts
Due: @tanstack/react-query, @tanstack/solid-query, @tanstack/vue-query

docs(svelte-query/{createInfiniteQuery,infiniteQueryOptions}): describe overload selection by whether 'initialData' is known to be defined
  packages/svelte-query/src/createInfiniteQuery.ts
  packages/svelte-query/src/infiniteQueryOptions.ts
Due: @tanstack/svelte-query

docs(svelte-query): regenerate reference docs
  docs/framework/svelte/reference/functions/createInfiniteQuery.md
  docs/framework/svelte/reference/functions/infiniteQueryOptions.md
Due: none

docs(svelte-query/{createInfiniteQuery,infiniteQueryOptions}): describe overload selection by whether 'initialData' is known to be defined (#11589)
  docs/framework/svelte/reference/functions/createInfiniteQuery.md
  docs/framework/svelte/reference/functions/infiniteQueryOptions.md
  packages/svelte-query/src/createInfiniteQuery.ts
  packages/svelte-query/src/infiniteQueryOptions.ts
Due: @tanstack/svelte-query

docs(vue-query): fix 'loosing' typo in the v5 migration guide (#11580)
  docs/framework/vue/guides/migrating-to-v5.md
Due: none

docs(*): fix article and grammar typos in docs and comments
  docs/framework/react/guides/render-optimizations.md
  docs/framework/svelte/migrate-from-v5-to-v6.md
  packages/angular-query-experimental/src/devtools-panel/types.ts
  packages/query-devtools/src/utils.tsx
Due: @tanstack/query-devtools

docs(react-query): fix undefined userId in dependent query prefetch example (#11504)
  docs/framework/react/guides/ssr.md
Due: none

docs(*): fix article and grammar typos in docs and comments (#11590)
  docs/framework/react/guides/render-optimizations.md
  docs/framework/svelte/migrate-from-v5-to-v6.md
  packages/angular-query-experimental/src/devtools-panel/types.ts
  packages/query-devtools/src/utils.tsx
Due: @tanstack/query-devtools

docs({react,preact}-query): fix a missing 'noop' import, a link, and typos in the SSR guide
  docs/framework/preact/guides/ssr.md
  docs/framework/react/guides/ssr.md
Due: none

docs(react-query): fix subject-verb agreement in the SSR guide's waterfall section
  docs/framework/react/guides/ssr.md
Due: none

docs({react,preact}-query): fix a missing 'noop' import, a link, and typos in the SSR guide (#11591)
  docs/framework/preact/guides/ssr.md
  docs/framework/react/guides/ssr.md
Due: none

fix: preserve reset retries across repeated renders
  packages/react-query/src/__tests__/QueryResetErrorBoundary.test.tsx
  packages/react-query/src/errorBoundaryUtils.ts
  packages/react-query/src/suspense.ts
  packages/react-query/src/useBaseQuery.ts
  packages/react-query/src/useQueries.ts
Due: @tanstack/react-query

fix(svelte-query/{createQuery,queryOptions}): correct the overload selected for 'initialData'
  .changeset/svelte-queryoptions-optional-initialdata-object.md
  packages/svelte-query/src/createQuery.ts
  packages/svelte-query/src/queryOptions.ts
  packages/svelte-query/tests/createQuery/createQuery.test-d.ts
  packages/svelte-query/tests/queryOptions.test-d.ts
Due: @tanstack/svelte-query

test({angular,vue,solid}-query/queryOptions): add type tests for an optional 'initialData' object
  packages/angular-query-experimental/src/__tests__/query-options.test-d.ts
  packages/solid-query/src/__tests__/queryOptions.test-d.tsx
  packages/vue-query/src/__tests__/queryOptions.test-d.ts
Due: @tanstack/solid-query, @tanstack/vue-query

test(svelte-query/queryOptions): use a non-literal condition instead of a wrapper function in the optional 'initialData' object test
  packages/svelte-query/tests/queryOptions.test-d.ts
Due: @tanstack/svelte-query

test({react,preact}-query/queryOptions): use a non-literal condition instead of a wrapper function in the optional 'initialData' object test
  packages/preact-query/src/__tests__/queryOptions.test-d.tsx
  packages/react-query/src/__tests__/queryOptions.test-d.tsx
Due: @tanstack/react-query

test({react,preact}-query/queryOptions): use a non-literal condition instead of a wrapper function in the optional 'initialData' object test (#11594)
  packages/preact-query/src/__tests__/queryOptions.test-d.tsx
  packages/react-query/src/__tests__/queryOptions.test-d.tsx
Due: @tanstack/react-query

test({angular,vue,solid}-query/queryOptions): add type tests for an optional 'initialData' object (#11593)
  packages/angular-query-experimental/src/__tests__/query-options.test-d.ts
  packages/solid-query/src/__tests__/queryOptions.test-d.tsx
  packages/vue-query/src/__tests__/queryOptions.test-d.ts
Due: @tanstack/solid-query, @tanstack/vue-query

fix(solid-query/{queryOptions,useQuery}): correct the overload selected for 'initialData'
  .changeset/solid-queryoptions-initialdata-overload.md
  packages/solid-query/src/__tests__/queryOptions.test-d.tsx
  packages/solid-query/src/queryOptions.ts
  packages/solid-query/src/useQuery.ts
Due: @tanstack/solid-query

chore(examples): update Expo to v57
  examples/react/react-native/package.json
  pnpm-lock.yaml
Due: none

chore(examples): update Expo from v52 to v57 (#11596)
  examples/react/react-native/package.json
  pnpm-lock.yaml
Due: none

fix(svelte-query): unsubscribe the observer when its effect root is disposed
  .changeset/svelte-query-effect-root-cleanup.md
  packages/svelte-query/src/createBaseQuery.svelte.ts
  packages/svelte-query/tests/createQuery/observer-cleanup.svelte.test.ts
Due: @tanstack/svelte-query

fix(vue-query): export queryOptions support types (#11042)
  .changeset/export-queryoptions-support-types.md
  packages/query-core/src/__tests__/publicTypeExports.test-d.ts
  packages/query-core/src/index.ts
  packages/vue-query/src/__tests__/publicTypeExports.test-d.ts
  packages/vue-query/src/index.ts
Due: @tanstack/query-core, @tanstack/vue-query

docs(vue-query): redirect flat reference URLs broken by the TypeDoc migration (#11398)
  docs/framework/vue/guides/ssr.md
  docs/framework/vue/reference/functions/infiniteQueryOptions.md
  docs/framework/vue/reference/functions/mutationOptions.md
  docs/framework/vue/reference/functions/queryOptions.md
  docs/framework/vue/reference/functions/useInfiniteQuery.md
  docs/framework/vue/reference/functions/useIsFetching.md
  docs/framework/vue/reference/functions/useIsMutating.md
  docs/framework/vue/reference/functions/useMutation.md
  docs/framework/vue/reference/functions/useMutationState.md
  docs/framework/vue/reference/functions/usePrefetchInfiniteQuery.md
  docs/framework/vue/reference/functions/usePrefetchQuery.md
  docs/framework/vue/reference/functions/useQueries.md
  docs/framework/vue/reference/functions/useQuery.md
  docs/framework/vue/reference/functions/useQueryClient.md
  scripts/generate-docs.ts
Due: none

test(vue-query/{useQuery,useQueries,useInfiniteQuery}): align the 'skipToken' and whole-'queryKey' getter tests with their neighboring tests
  packages/vue-query/src/__tests__/useInfiniteQuery.test.ts
  packages/vue-query/src/__tests__/useQueries.test.ts
  packages/vue-query/src/__tests__/useQuery.test.ts
Due: @tanstack/vue-query

test(vue-query/{useQuery,useQueries,useInfiniteQuery}): use a real 'sleep(10)' delay in the new 'skipToken' and whole-'queryKey' getter tests
  packages/vue-query/src/__tests__/useInfiniteQuery.test.ts
  packages/vue-query/src/__tests__/useQueries.test.ts
  packages/vue-query/src/__tests__/useQuery.test.ts
Due: @tanstack/vue-query

test(vue-query/{useQuery,useInfiniteQuery}): drop the whole-options getter 'skipToken' test and the 'useInfiniteQuery' whole-'queryKey' getter test
  packages/vue-query/src/__tests__/useInfiniteQuery.test.ts
  packages/vue-query/src/__tests__/useQuery.test.ts
Due: @tanstack/vue-query

feat(react-query): add optional @types/react peer dependency
  .changeset/react-query-optional-types-react-peer.md
  packages/react-query/package.json
Due: @tanstack/react-query

test(vue-query): add tests for a 'computed' 'queryFn' resolving to 'skipToken' and a whole-'queryKey' getter (#11427)
  packages/vue-query/src/__tests__/useInfiniteQuery.test.ts
  packages/vue-query/src/__tests__/useQueries.test.ts
  packages/vue-query/src/__tests__/useQuery.test.ts
Due: @tanstack/vue-query

test(vue-query): align mock names with react-query and the options they are passed to
  packages/vue-query/src/__tests__/mutationOptions.test.ts
  packages/vue-query/src/__tests__/useInfiniteQuery.test.ts
  packages/vue-query/src/__tests__/useIsFetching.test.ts
  packages/vue-query/src/__tests__/useMutation.test.ts
  packages/vue-query/src/__tests__/usePrefetchInfiniteQuery.test.ts
  packages/vue-query/src/__tests__/usePrefetchQuery.test.ts
  packages/vue-query/src/__tests__/useQueries.test.ts
  packages/vue-query/src/__tests__/useQuery.test.ts
  packages/vue-query/src/__tests__/vueQueryPlugin.test.ts
Due: @tanstack/vue-query

Path conditions:
  @tanstack/angular-query-devtools: any of: packages/angular-query-devtools/**
  @tanstack/angular-query: any of: packages/angular-query/**
  @tanstack/eslint-plugin-query: any of: packages/eslint-plugin-query/**
  @tanstack/query-async-storage-persister: any of: packages/query-async-storage-persister/**
  @tanstack/query-broadcast-client-experimental: any of: packages/query-broadcast-client-experimental/**
  @tanstack/query-codemods: any of: packages/query-codemods/**
  @tanstack/query-core: any of: packages/query-core/**
  @tanstack/query-devtools: any of: packages/query-devtools/**
  @tanstack/query-persist-client-core: any of: packages/query-persist-client-core/**
  @tanstack/query-sync-storage-persister: any of: packages/query-sync-storage-persister/**
  @tanstack/query-test-utils: any of: packages/query-test-utils/**
  @tanstack/react-query: any of: packages/react-query/**
  @tanstack/react-query-devtools: any of: packages/react-query-devtools/**
  @tanstack/react-query-next-experimental: any of: packages/react-query-next-experimental/**
  @tanstack/react-query-persist-client: any of: packages/react-query-persist-client/**
  @tanstack/solid-query: any of: packages/solid-query/**
  @tanstack/solid-query-devtools: any of: packages/solid-query-devtools/**
  @tanstack/solid-query-persist-client: any of: packages/solid-query-persist-client/**
  @tanstack/svelte-query: any of: packages/svelte-query/**
  @tanstack/svelte-query-devtools: any of: packages/svelte-query-devtools/**
  @tanstack/svelte-query-persist-client: any of: packages/svelte-query-persist-client/**
  @tanstack/vue-query: any of: packages/vue-query/**
  @tanstack/vue-query-devtools: any of: packages/vue-query-devtools/**
