Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools, @tanstack/angular-query, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

codecov.yml:

codecov:
  max_report_age: off

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto

comment:
  layout: 'header, reach, diff, flags, components'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  hide_project_coverage: false

component_management:
  individual_components:
    - component_id: angular-query-devtools
      name: '@tanstack/angular-query-devtools'
      paths:
        - packages/angular-query-devtools/**
    - component_id: angular-query
      name: '@tanstack/angular-query'
      paths:
        - packages/angular-query/**
    - component_id: eslint-plugin-query
      name: '@tanstack/eslint-plugin-query'
      paths:
        - packages/eslint-plugin-query/**
    - component_id: query-async-storage-persister
      name: '@tanstack/query-async-storage-persister'
      paths:
        - packages/query-async-storage-persister/**
    - component_id: query-broadcast-client-experimental
      name: '@tanstack/query-broadcast-client-experimental'
      paths:
        - packages/query-broadcast-client-experimental/**
    - component_id: query-codemods
      name: '@tanstack/query-codemods'
      paths:
        - packages/query-codemods/**
    - component_id: query-core
      name: '@tanstack/query-core'
      paths:
        - packages/query-core/**
    - component_id: query-devtools
      name: '@tanstack/query-devtools'
      paths:
        - packages/query-devtools/**
    - component_id: query-persist-client-core
      name: '@tanstack/query-persist-client-core'
      paths:
        - packages/query-persist-client-core/**
    - component_id: query-sync-storage-persister
      name: '@tanstack/query-sync-storage-persister'
      paths:
        - packages/query-sync-storage-persister/**
    - component_id: query-test-utils
      name: '@tanstack/query-test-utils'
      paths:
        - packages/query-test-utils/**
    - component_id: react-query
      name: '@tanstack/react-query'
      paths:
        - packages/react-query/**
    - component_id: react-query-devtools
      name: '@tanstack/react-query-devtools'
      paths:
        - packages/react-query-devtools/**
    - component_id: react-query-next-experimental
      name: '@tanstack/react-query-next-experimental'
      paths:
        - packages/react-query-next-experimental/**
    - component_id: react-query-persist-client
      name: '@tanstack/react-query-persist-client'
      paths:
        - packages/react-query-persist-client/**
    - component_id: solid-query
      name: '@tanstack/solid-query'
      paths:
        - packages/solid-query/**
    - component_id: solid-query-devtools
      name: '@tanstack/solid-query-devtools'
      paths:
        - packages/solid-query-devtools/**
    - component_id: solid-query-persist-client
      name: '@tanstack/solid-query-persist-client'
      paths:
        - packages/solid-query-persist-client/**
    - component_id: svelte-query
      name: '@tanstack/svelte-query'
      paths:
        - packages/svelte-query/**
    - component_id: svelte-query-devtools
      name: '@tanstack/svelte-query-devtools'
      paths:
        - packages/svelte-query-devtools/**
    - component_id: svelte-query-persist-client
      name: '@tanstack/svelte-query-persist-client'
      paths:
        - packages/svelte-query-persist-client/**
    - component_id: vue-query
      name: '@tanstack/vue-query'
      paths:
        - packages/vue-query/**
    - component_id: vue-query-devtools
      name: '@tanstack/vue-query-devtools'
      paths:
        - packages/vue-query-devtools/**

fix(query-devtools/Devtools): apply the 'hideDisabledQueries' prop to the query list
  .changeset/query-devtools-hide-disabled-queries-prop.md
  packages/query-devtools/src/Devtools.tsx
  packages/query-devtools/src/__tests__/Devtools.test.tsx
Due: @tanstack/query-devtools

docs({react-query,preact-query,solid-query,svelte-query}/README): point the CI badge at the 'release.yml' workflow on 'main' (#11633)
  packages/preact-query/README.md
  packages/react-query/README.md
  packages/solid-query/README.md
  packages/svelte-query/README.md
Due: @tanstack/react-query, @tanstack/solid-query, @tanstack/svelte-query

test({query-core,react-query,preact-query}): restore the previous 'isServer' value in 'setIsServer' instead of the deprecated 'isServer' constant (#11632)
  packages/preact-query/src/__tests__/utils.tsx
  packages/query-core/src/__tests__/utils.ts
  packages/react-query/src/__tests__/utils.tsx
Due: @tanstack/query-core, @tanstack/react-query

docs(vue-query/{ssr,suspense}): scope the SSR caveat heading to queries that stay disabled
  docs/framework/vue/guides/ssr.md
  docs/framework/vue/guides/suspense.md
Due: none

chore: add human voice ai policy from ai-policy.dev
  AI_POLICY.md
  CONTRIBUTING.md
Due: none

fix typo pr template
  .github/pull_request_template.md
  CONTRIBUTING.md
Due: none

simplfy the contibutions details
  CONTRIBUTING.md
Due: none

Fix typo in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

docs(vue-query/ssr): use 'vue' code blocks for the SFC examples
  docs/framework/vue/guides/ssr.md
Due: none

chore: add human voice ai policy from ai-policy.dev (#11641)
  .github/pull_request_template.md
  AI_POLICY.md
  CONTRIBUTING.md
Due: none

fix(vue-query): accept shared options in client query methods
  .changeset/vue-query-shared-client-options.md
  docs/framework/vue/reference/classes/QueryClient.md
  packages/vue-query/src/__tests__/queryClient-shared-options.test-d.ts
  packages/vue-query/src/__tests__/queryClient-shared-options.test.ts
  packages/vue-query/src/queryClient.ts
Due: @tanstack/vue-query

fix(vue-query): accept 'UseQueryOptions' in 'query', 'ensureQueryData', 'fetchQuery' and 'prefetchQuery' again
  .changeset/vue-query-client-use-query-options.md
  packages/vue-query/src/__tests__/queryClient.test-d.ts
  packages/vue-query/src/queryClient.ts
Due: @tanstack/vue-query

docs(vue-query): document how 'suspense()' resolves and handles errors, and fix the 'suspense' SSR examples (#11629)
  docs/framework/vue/guides/ssr.md
  docs/framework/vue/guides/suspense.md
  packages/vue-query/src/useBaseQuery.ts
Due: @tanstack/vue-query

Three additional tests to check that query() returns the selected type, ensureQueryData returns the cached type, and fetchQuery returns the cached type
  packages/vue-query/src/__tests__/queryClient.test-d.ts
  packages/vue-query/src/queryClient.ts
Due: @tanstack/vue-query

docs(query): clarify shared options on imperative queries
  docs/framework/angular/reference/classes/QueryClient.md
  docs/framework/lit/reference/classes/QueryClient.md
  docs/framework/preact/reference/classes/QueryClient.md
  docs/framework/react/reference/classes/QueryClient.md
  docs/framework/solid/reference/classes/QueryClient.md
  docs/framework/svelte/reference/classes/QueryClient.md
  docs/framework/vue/reference/classes/QueryClient.md
  packages/query-core/src/queryClient.ts
  packages/vue-query/src/queryClient.ts
Due: @tanstack/query-core, @tanstack/vue-query

test(*): rename 'console.warn' spies to 'consoleWarnMock'
  packages/query-broadcast-client-experimental/src/__tests__/index.test.ts
  packages/query-persist-client-core/src/__tests__/persist.test.ts
  packages/react-query-persist-client/src/__tests__/PersistQueryClientProvider.test.tsx
  packages/svelte-query-persist-client/tests/PersistQueryClientProvider.svelte.test.ts
  packages/vue-query/src/__tests__/useIsFetching.test.ts
  packages/vue-query/src/__tests__/useMutation.test.ts
  packages/vue-query/src/__tests__/usePrefetchInfiniteQuery.test.ts
  packages/vue-query/src/__tests__/usePrefetchQuery.test.ts
  packages/vue-query/src/__tests__/useQueries.test.ts
  packages/vue-query/src/__tests__/useQuery.test.ts
Due: @tanstack/query-broadcast-client-experimental, @tanstack/query-persist-client-core, @tanstack/react-query-persist-client, @tanstack/svelte-query-persist-client, @tanstack/vue-query

test(*): rename 'console.error' spies to 'consoleErrorMock'
  packages/angular-query-experimental/src/__tests__/with-devtools.test.ts
  packages/angular-query-persist-client/src/__tests__/with-persist-query-client.test.ts
  packages/preact-query/src/__tests__/QueryClientProvider.test.tsx
  packages/preact-query/src/__tests__/QueryResetErrorBoundary.test.tsx
  packages/preact-query/src/__tests__/ssr-hydration.test.tsx
  packages/preact-query/src/__tests__/useMutation.test.tsx
  packages/preact-query/src/__tests__/usePrefetchQuery.test.tsx
  packages/preact-query/src/__tests__/useQueries.test.tsx
  packages/preact-query/src/__tests__/useQuery.test.tsx
  packages/preact-query/src/__tests__/useSuspenseInfiniteQuery.test.tsx
  packages/preact-query/src/__tests__/useSuspenseQueries.test.tsx
  packages/preact-query/src/__tests__/useSuspenseQuery.test.tsx
  packages/query-core/src/__tests__/hydration.test.tsx
  packages/query-core/src/__tests__/query.test.tsx
  packages/query-core/src/__tests__/queryClient.test.tsx
  packages/query-core/src/__tests__/timeoutManager.test.tsx
  packages/query-core/src/__tests__/utils.test.tsx
  packages/query-devtools/src/__tests__/Explorer.test.tsx
  packages/query-devtools/src/__tests__/contexts/PiPContext.test.tsx
  packages/query-persist-client-core/src/__tests__/persist.test.ts
  packages/react-query-persist-client/src/__tests__/PersistQueryClientProvider.test.tsx
  packages/react-query/src/__tests__/QueryClientProvider.test.tsx
  packages/react-query/src/__tests__/QueryResetErrorBoundary.test.tsx
  packages/react-query/src/__tests__/ssr-hydration.test.tsx
  packages/react-query/src/__tests__/useMutation.test.tsx
  packages/react-query/src/__tests__/usePrefetchQuery.test.tsx
  packages/react-query/src/__tests__/useQueries.test.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/react-query/src/__tests__/useSuspenseInfiniteQuery.test.tsx
  packages/react-query/src/__tests__/useSuspenseQueries.test.tsx
  packages/react-query/src/__tests__/useSuspenseQuery.test.tsx
  packages/solid-query-persist-client/src/__tests__/PersistQueryClientProvider.test.tsx
  packages/solid-query/src/__tests__/QueryClientProvider.test.tsx
  packages/solid-query/src/__tests__/suspense.test.tsx
  packages/solid-query/src/__tests__/useMutation.test.tsx
  packages/solid-query/src/__tests__/useQuery.test.tsx
  packages/svelte-query-persist-client/tests/PersistQueryClientProvider.svelte.test.ts
  packages/svelte-query/tests/createQuery/createQuery.svelte.test.ts
  packages/vue-query/src/__tests__/useMutation.test.ts
Due: @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/react-query, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-persist-client, @tanstack/vue-query

test(*): rename 'console.warn' spies to 'consoleWarnMock' (#11645)
  packages/query-broadcast-client-experimental/src/__tests__/index.test.ts
  packages/query-persist-client-core/src/__tests__/persist.test.ts
  packages/react-query-persist-client/src/__tests__/PersistQueryClientProvider.test.tsx
  packages/svelte-query-persist-client/tests/PersistQueryClientProvider.svelte.test.ts
  packages/vue-query/src/__tests__/useIsFetching.test.ts
  packages/vue-query/src/__tests__/useMutation.test.ts
  packages/vue-query/src/__tests__/usePrefetchInfiniteQuery.test.ts
  packages/vue-query/src/__tests__/usePrefetchQuery.test.ts
  packages/vue-query/src/__tests__/useQueries.test.ts
  packages/vue-query/src/__tests__/useQuery.test.ts
Due: @tanstack/query-broadcast-client-experimental, @tanstack/query-persist-client-core, @tanstack/react-query-persist-client, @tanstack/svelte-query-persist-client, @tanstack/vue-query

test(*): rename 'console.error' spies to 'consoleErrorMock' (#11646)
  packages/angular-query-experimental/src/__tests__/with-devtools.test.ts
  packages/angular-query-persist-client/src/__tests__/with-persist-query-client.test.ts
  packages/preact-query/src/__tests__/QueryClientProvider.test.tsx
  packages/preact-query/src/__tests__/QueryResetErrorBoundary.test.tsx
  packages/preact-query/src/__tests__/ssr-hydration.test.tsx
  packages/preact-query/src/__tests__/useMutation.test.tsx
  packages/preact-query/src/__tests__/usePrefetchQuery.test.tsx
  packages/preact-query/src/__tests__/useQueries.test.tsx
  packages/preact-query/src/__tests__/useQuery.test.tsx
  packages/preact-query/src/__tests__/useSuspenseInfiniteQuery.test.tsx
  packages/preact-query/src/__tests__/useSuspenseQueries.test.tsx
  packages/preact-query/src/__tests__/useSuspenseQuery.test.tsx
  packages/query-core/src/__tests__/hydration.test.tsx
  packages/query-core/src/__tests__/query.test.tsx
  packages/query-core/src/__tests__/queryClient.test.tsx
  packages/query-core/src/__tests__/timeoutManager.test.tsx
  packages/query-core/src/__tests__/utils.test.tsx
  packages/query-devtools/src/__tests__/Explorer.test.tsx
  packages/query-devtools/src/__tests__/contexts/PiPContext.test.tsx
  packages/query-persist-client-core/src/__tests__/persist.test.ts
  packages/react-query-persist-client/src/__tests__/PersistQueryClientProvider.test.tsx
  packages/react-query/src/__tests__/QueryClientProvider.test.tsx
  packages/react-query/src/__tests__/QueryResetErrorBoundary.test.tsx
  packages/react-query/src/__tests__/ssr-hydration.test.tsx
  packages/react-query/src/__tests__/useMutation.test.tsx
  packages/react-query/src/__tests__/usePrefetchQuery.test.tsx
  packages/react-query/src/__tests__/useQueries.test.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/react-query/src/__tests__/useSuspenseInfiniteQuery.test.tsx
  packages/react-query/src/__tests__/useSuspenseQueries.test.tsx
  packages/react-query/src/__tests__/useSuspenseQuery.test.tsx
  packages/solid-query-persist-client/src/__tests__/PersistQueryClientProvider.test.tsx
  packages/solid-query/src/__tests__/QueryClientProvider.test.tsx
  packages/solid-query/src/__tests__/suspense.test.tsx
  packages/solid-query/src/__tests__/useMutation.test.tsx
  packages/solid-query/src/__tests__/useQuery.test.tsx
  packages/svelte-query-persist-client/tests/PersistQueryClientProvider.svelte.test.ts
  packages/svelte-query/tests/createQuery/createQuery.svelte.test.ts
  packages/vue-query/src/__tests__/useMutation.test.ts
Due: @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/react-query, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-persist-client, @tanstack/vue-query

fix(solid-query): useBaseQuery SSR cleanup (#11628)
  .changeset/heavy-donuts-do.md
  packages/solid-query/src/useBaseQuery.ts
Due: @tanstack/solid-query

fix(codemods): update codemods build script
  docs/framework/react/guides/migrating-to-v5.md
  integrations/react-webpack-4/package.json
  package.json
  packages/preact-query/package.json
  packages/query-codemods/package.json
  packages/react-query/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: @tanstack/query-codemods, @tanstack/react-query

Add changeset
  .changeset/flat-bears-leave.md
Due: none

fix(codemods): update codemods build script (#11647)
  .changeset/flat-bears-leave.md
  docs/framework/react/guides/migrating-to-v5.md
  integrations/react-webpack-4/package.json
  package.json
  packages/preact-query/package.json
  packages/query-codemods/package.json
  packages/react-query/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: @tanstack/query-codemods, @tanstack/react-query

chore(query-devtools): update dependencies
  examples/solid/astro/package.json
  examples/solid/basic-graphql-request/package.json
  examples/solid/basic/package.json
  examples/solid/default-query-function/package.json
  examples/solid/offline/package.json
  examples/solid/simple/package.json
  examples/solid/solid-start-streaming/package.json
  integrations/solid-vite/package.json
  packages/query-devtools/package.json
  packages/solid-query-devtools/package.json
  packages/solid-query-persist-client/package.json
  packages/solid-query/package.json
  pnpm-lock.yaml
Due: @tanstack/query-devtools, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client

Add changeset
  .changeset/wide-cougars-press.md
Due: none

chore(angular-query): migrate to tsdown
  packages/angular-query-experimental/package.json
  packages/angular-query-experimental/tsconfig.prod.json
  packages/angular-query-experimental/tsdown.config.ts
  packages/angular-query-experimental/vite.config.ts
  pnpm-lock.yaml
Due: none

Fix build
  packages/query-devtools/package.json
  packages/vue-query/package.json
  pnpm-lock.yaml
Due: @tanstack/query-devtools, @tanstack/vue-query

chore(query-devtools): update dependencies (#11648)
  .changeset/wide-cougars-press.md
  examples/solid/astro/package.json
  examples/solid/basic-graphql-request/package.json
  examples/solid/basic/package.json
  examples/solid/default-query-function/package.json
  examples/solid/offline/package.json
  examples/solid/simple/package.json
  examples/solid/solid-start-streaming/package.json
  integrations/solid-vite/package.json
  packages/query-devtools/package.json
  packages/solid-query-devtools/package.json
  packages/solid-query-persist-client/package.json
  packages/solid-query/package.json
  packages/vue-query/package.json
  pnpm-lock.yaml
Due: @tanstack/query-devtools, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/vue-query

Add changeset
  .changeset/metal-games-hang.md
  packages/angular-query-experimental/package.json
Due: none

Fix types
  knip.ts
  packages/angular-query-experimental/package.json
  packages/angular-query-experimental/scripts/prepack.js
Due: none

Fix attw
  knip.ts
  packages/angular-query-experimental/package.json
  packages/angular-query-experimental/scripts/prepack.js
  packages/angular-query-experimental/tsdown.config.ts
Due: none

chore(angular-query): migrate to tsdown (#11649)
  .changeset/metal-games-hang.md
  knip.ts
  packages/angular-query-experimental/package.json
  packages/angular-query-experimental/tsconfig.prod.json
  packages/angular-query-experimental/tsdown.config.ts
  packages/angular-query-experimental/vite.config.ts
  pnpm-lock.yaml
Due: none

Fix angular, vue-devtools
  packages/angular-query-experimental/package.json
  packages/angular-query-experimental/tsconfig.json
  packages/angular-query-experimental/vite.config.ts
  packages/angular-query-persist-client/package.json
  packages/angular-query-persist-client/tsconfig.json
  packages/angular-query-persist-client/vite.config.ts
  packages/vue-query-devtools/package.json
  packages/vue-query-devtools/vite.config.ts
  packages/vue-query/package.json
  packages/vue-query/vite.config.ts
  pnpm-lock.yaml
Due: @tanstack/vue-query, @tanstack/vue-query-devtools

Fix vue-devtools
  packages/vue-query-devtools/package.json
  packages/vue-query-devtools/root.tsdown.config.js
  packages/vue-query-devtools/src/__tests__/VueQueryDevtools.test.ts
  packages/vue-query-devtools/src/__tests__/VueQueryDevtoolsPanel.test.ts
  packages/vue-query-devtools/src/index.ts
  packages/vue-query-devtools/src/production.ts
  packages/vue-query-devtools/src/stub.ts
  packages/vue-query-devtools/tsdown.config.ts
  packages/vue-query-devtools/vite.config.ts
Due: @tanstack/vue-query-devtools

Fix knip, remove @tanstack/vite-config
  knip.ts
  package.json
  packages/vue-query-devtools/package.json
  pnpm-lock.yaml
Due: @tanstack/vue-query-devtools
