Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools, @tanstack/angular-query, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

fix: streamline dependencies
  packages/react-query-devtools/package.json
  packages/react-query-next-experimental/package.json
  packages/react-query-persist-client/package.json
  packages/react-query/package.json
Due: @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client

bundle size
  .github/workflows/pr.yml
Due: none

fix lock file
  pnpm-lock.yaml
Due: none

fix: update react in example
  examples/react/optimistic-updates-ui/package.json
  pnpm-lock.yaml
Due: none

skip test for now
  packages/react-query/src/__tests__/useQuery.promise.test.tsx
Due: @tanstack/react-query

fix: update react and nextJs (#9944)
  .changeset/gentle-hotels-eat.md
  .github/workflows/pr.yml
  examples/react/auto-refetching/package.json
  examples/react/infinite-query-with-max-pages/package.json
  examples/react/load-more-infinite-scroll/package.json
  examples/react/nextjs-app-prefetching/package.json
  examples/react/nextjs-suspense-streaming/package.json
  examples/react/nextjs/package.json
  examples/react/optimistic-updates-cache/package.json
  examples/react/optimistic-updates-ui/package.json
  examples/react/pagination/package.json
  examples/react/prefetching/package.json
  integrations/react-next-14/package.json
  integrations/react-next-16/.eslintrc.cjs
  integrations/react-next-16/.gitignore
  integrations/react-next-16/README.md
  integrations/react-next-16/app/_action.ts
  integrations/react-next-16/app/client-component.tsx
  integrations/react-next-16/app/count/route.ts
  integrations/react-next-16/app/favicon.ico
  integrations/react-next-16/app/layout.tsx
  integrations/react-next-16/app/make-query-client.ts
  integrations/react-next-16/app/page.tsx
  integrations/react-next-16/app/providers.tsx
  integrations/react-next-16/next.config.js
  integrations/react-next-16/package.json
  integrations/react-next-16/tsconfig.json
  package.json
  packages/react-query-devtools/package.json
  packages/react-query-next-experimental/package.json
  packages/react-query-persist-client/package.json
  packages/react-query/package.json
  packages/react-query/src/__tests__/useQuery.promise.test.tsx
  pnpm-lock.yaml
Due: @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client

docs: correct local relative links
  docs/framework/react/guides/prefetching.md
  docs/framework/solid/guides/prefetching.md
  scripts/verify-links.ts
Due: none

Slight tweaks
  docs/framework/angular/reference/functions/injectIsRestoring.md
  docs/framework/angular/reference/functions/provideQueryClient.md
  docs/framework/angular/reference/index.md
  docs/framework/angular/reference/interfaces/CreateQueryOptions.md
  docs/framework/angular/reference/type-aliases/CreateMutationResult.md
  docs/framework/react/guides/prefetching.md
  docs/framework/solid/guides/prefetching.md
  docs/framework/svelte/reference/index.md
  scripts/verify-links.ts
Due: none

String
  scripts/verify-links.ts
Due: none

ci: prepare for trusted publishing
  .github/ISSUE_TEMPLATE/config.yml
  .github/workflows/autofix.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  package.json
  packages/angular-query-persist-client/package.json
  packages/query-async-storage-persister/package.json
  packages/query-broadcast-client-experimental/package.json
  packages/query-codemods/package.json
  packages/query-core/package.json
  packages/query-devtools/package.json
  packages/query-persist-client-core/package.json
  packages/query-sync-storage-persister/package.json
  packages/query-test-utils/package.json
  packages/react-query-devtools/package.json
  packages/react-query-next-experimental/package.json
  packages/react-query-persist-client/package.json
  packages/react-query/package.json
  packages/solid-query-devtools/package.json
  packages/solid-query-persist-client/package.json
  packages/solid-query/package.json
  packages/svelte-query-devtools/package.json
  packages/svelte-query-persist-client/package.json
  packages/svelte-query/package.json
  packages/vue-query-devtools/package.json
  packages/vue-query/package.json
  pnpm-lock.yaml
  tsconfig.json
Due: @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

Format
  packages/angular-query-experimental/src/types.ts
  packages/query-core/src/types.ts
  packages/query-persist-client-core/src/persist.ts
  packages/react-query/src/types.ts
  packages/solid-query/src/QueryClient.ts
  packages/solid-query/src/types.ts
Due: @tanstack/query-core, @tanstack/query-persist-client-core, @tanstack/react-query, @tanstack/solid-query

Remove NPM_TOKEN
  .github/workflows/release.yml
Due: none

ci: prepare for trusted publishing (#9952)
  .github/ISSUE_TEMPLATE/config.yml
  .github/workflows/autofix.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  package.json
  packages/angular-query-experimental/src/types.ts
  packages/angular-query-persist-client/package.json
  packages/query-async-storage-persister/package.json
  packages/query-broadcast-client-experimental/package.json
  packages/query-codemods/package.json
  packages/query-core/package.json
  packages/query-core/src/types.ts
  packages/query-devtools/package.json
  packages/query-persist-client-core/package.json
  packages/query-persist-client-core/src/persist.ts
  packages/query-sync-storage-persister/package.json
  packages/query-test-utils/package.json
  packages/react-query-devtools/package.json
  packages/react-query-next-experimental/package.json
  packages/react-query-persist-client/package.json
  packages/react-query/package.json
  packages/react-query/src/types.ts
  packages/solid-query-devtools/package.json
  packages/solid-query-persist-client/package.json
  packages/solid-query/package.json
  packages/solid-query/src/QueryClient.ts
  packages/solid-query/src/types.ts
  packages/svelte-query-devtools/package.json
  packages/svelte-query-persist-client/package.json
  packages/svelte-query/package.json
  packages/vue-query-devtools/package.json
  packages/vue-query/package.json
  pnpm-lock.yaml
  tsconfig.json
Due: @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

docs: correct grammar
  docs/framework/react/guides/disabling-queries.md
Due: none

test(query-core, react-query): add tests for stable combine reference with dynamic queries
  packages/query-core/src/__tests__/queriesObserver.test.tsx
  packages/react-query/src/__tests__/useQueries.test.tsx
Due: @tanstack/query-core, @tanstack/react-query

fix(query-core): fix combine cache invalidation with stable reference
  packages/query-core/src/queriesObserver.ts
Due: @tanstack/query-core

chore: add changesets
  .changeset/swift-brooms-teach.md
Due: none

fix(query-core): prevent duplicate abort event listeners in infinite queries
  .changeset/calm-goats-punch.md
  packages/query-core/src/__tests__/infiniteQueryBehavior.test.tsx
  packages/query-core/src/infiniteQueryBehavior.ts
Due: @tanstack/query-core

test(query-core): improve test to properly detect duplicate abort listeners
  packages/query-core/src/__tests__/infiniteQueryBehavior.test.tsx
Due: @tanstack/query-core

improve a11y again
  packages/query-devtools/src/Devtools.tsx
Due: @tanstack/query-devtools

changeset
  .changeset/silver-peas-end.md
Due: none

more granular read
  packages/query-devtools/src/Devtools.tsx
Due: @tanstack/query-devtools

add valuemin
  packages/query-devtools/src/Devtools.tsx
Due: @tanstack/query-devtools

a few more nits
  packages/query-devtools/src/Devtools.tsx
Due: @tanstack/query-devtools

fix mouseUp
  packages/query-devtools/src/Devtools.tsx
Due: @tanstack/query-devtools

chore: move consume aware signal logic to utils
  packages/query-core/src/infiniteQueryBehavior.ts
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

fix: add consume aware signal to streamedQuery
  packages/query-core/src/streamedQuery.ts
Due: @tanstack/query-core

test: add a test for not a signal that is not consumed by streamFn
  packages/query-core/src/__tests__/streamedQuery.test.tsx
Due: @tanstack/query-core

chore: add changeset
  .changeset/dry-streets-exist.md
Due: none

fix: made queryFn of streamedQuery not consume signal directly (so that only streamFn can consume it)
  packages/query-core/src/__tests__/streamedQuery.test.tsx
  packages/query-core/src/infiniteQueryBehavior.ts
  packages/query-core/src/streamedQuery.ts
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

fix: update react and nextjs
  examples/react/algolia/package.json
  examples/react/auto-refetching/package.json
  examples/react/basic-graphql-request/package.json
  examples/react/basic/package.json
  examples/react/chat/package.json
  examples/react/default-query-function/package.json
  examples/react/devtools-panel/package.json
  examples/react/eslint-legacy/package.json
  examples/react/infinite-query-with-max-pages/package.json
  examples/react/load-more-infinite-scroll/package.json
  examples/react/nextjs-app-prefetching/package.json
  examples/react/nextjs-suspense-streaming/package.json
  examples/react/nextjs/package.json
  examples/react/offline/package.json
  examples/react/optimistic-updates-cache/package.json
  examples/react/optimistic-updates-ui/package.json
  examples/react/pagination/package.json
  examples/react/playground/package.json
  examples/react/prefetching/package.json
  examples/react/react-native/package.json
  examples/react/react-router/package.json
  examples/react/rick-morty/package.json
  examples/react/shadow-dom/package.json
  examples/react/simple/package.json
  examples/react/star-wars/package.json
  examples/react/suspense/package.json
  package.json
  pnpm-lock.yaml
Due: none

fix: lock file
  pnpm-lock.yaml
Due: none

fix: made onCancelled get called only once
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

fix: memoized getSignal and made sure it is called only once
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

fix: react types
  examples/react/algolia/package.json
  examples/react/basic/package.json
  examples/react/eslint-legacy/package.json
  examples/react/react-router/package.json
  examples/react/shadow-dom/package.json
Due: none

Clarify cache time in caching guide for useQuery
  docs/framework/react/guides/caching.md
Due: none

fix(react-query/HydrationBoundary): prevent unnecessary refetch during hydration
  .changeset/fix-hydration-double-fetch.md
  docs/framework/react/guides/ssr.md
  docs/framework/react/reference/hydration.md
  packages/query-core/src/hydration.ts
  packages/query-core/src/index.ts
  packages/query-core/src/queryObserver.ts
  packages/react-query/src/HydrationBoundary.tsx
  packages/react-query/src/__tests__/HydrationBoundary.test.tsx
Due: @tanstack/query-core, @tanstack/react-query

Path conditions:
  @tanstack/angular-query-devtools: any of: packages/angular-query-devtools/**
  @tanstack/angular-query: any of: packages/angular-query/**
  @tanstack/eslint-plugin-query: any of: packages/eslint-plugin-query/**
  @tanstack/query-async-storage-persister: any of: packages/query-async-storage-persister/**
  @tanstack/query-broadcast-client-experimental: any of: packages/query-broadcast-client-experimental/**
  @tanstack/query-codemods: any of: packages/query-codemods/**
  @tanstack/query-core: any of: packages/query-core/**
  @tanstack/query-devtools: any of: packages/query-devtools/**
  @tanstack/query-persist-client-core: any of: packages/query-persist-client-core/**
  @tanstack/query-sync-storage-persister: any of: packages/query-sync-storage-persister/**
  @tanstack/query-test-utils: any of: packages/query-test-utils/**
  @tanstack/react-query: any of: packages/react-query/**
  @tanstack/react-query-devtools: any of: packages/react-query-devtools/**
  @tanstack/react-query-next-experimental: any of: packages/react-query-next-experimental/**
  @tanstack/react-query-persist-client: any of: packages/react-query-persist-client/**
  @tanstack/solid-query: any of: packages/solid-query/**
  @tanstack/solid-query-devtools: any of: packages/solid-query-devtools/**
  @tanstack/solid-query-persist-client: any of: packages/solid-query-persist-client/**
  @tanstack/svelte-query: any of: packages/svelte-query/**
  @tanstack/svelte-query-devtools: any of: packages/svelte-query-devtools/**
  @tanstack/svelte-query-persist-client: any of: packages/svelte-query-persist-client/**
  @tanstack/vue-query: any of: packages/vue-query/**
  @tanstack/vue-query-devtools: any of: packages/vue-query-devtools/**
