Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools, @tanstack/angular-query, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

codecov.yml:

codecov:
  max_report_age: off

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto

comment:
  layout: 'header, reach, diff, flags, components'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  hide_project_coverage: false

component_management:
  individual_components:
    - component_id: angular-query-devtools
      name: '@tanstack/angular-query-devtools'
      paths:
        - packages/angular-query-devtools/**
    - component_id: angular-query
      name: '@tanstack/angular-query'
      paths:
        - packages/angular-query/**
    - component_id: eslint-plugin-query
      name: '@tanstack/eslint-plugin-query'
      paths:
        - packages/eslint-plugin-query/**
    - component_id: query-async-storage-persister
      name: '@tanstack/query-async-storage-persister'
      paths:
        - packages/query-async-storage-persister/**
    - component_id: query-broadcast-client-experimental
      name: '@tanstack/query-broadcast-client-experimental'
      paths:
        - packages/query-broadcast-client-experimental/**
    - component_id: query-codemods
      name: '@tanstack/query-codemods'
      paths:
        - packages/query-codemods/**
    - component_id: query-core
      name: '@tanstack/query-core'
      paths:
        - packages/query-core/**
    - component_id: query-devtools
      name: '@tanstack/query-devtools'
      paths:
        - packages/query-devtools/**
    - component_id: query-persist-client-core
      name: '@tanstack/query-persist-client-core'
      paths:
        - packages/query-persist-client-core/**
    - component_id: query-sync-storage-persister
      name: '@tanstack/query-sync-storage-persister'
      paths:
        - packages/query-sync-storage-persister/**
    - component_id: query-test-utils
      name: '@tanstack/query-test-utils'
      paths:
        - packages/query-test-utils/**
    - component_id: react-query
      name: '@tanstack/react-query'
      paths:
        - packages/react-query/**
    - component_id: react-query-devtools
      name: '@tanstack/react-query-devtools'
      paths:
        - packages/react-query-devtools/**
    - component_id: react-query-next-experimental
      name: '@tanstack/react-query-next-experimental'
      paths:
        - packages/react-query-next-experimental/**
    - component_id: react-query-persist-client
      name: '@tanstack/react-query-persist-client'
      paths:
        - packages/react-query-persist-client/**
    - component_id: solid-query
      name: '@tanstack/solid-query'
      paths:
        - packages/solid-query/**
    - component_id: solid-query-devtools
      name: '@tanstack/solid-query-devtools'
      paths:
        - packages/solid-query-devtools/**
    - component_id: solid-query-persist-client
      name: '@tanstack/solid-query-persist-client'
      paths:
        - packages/solid-query-persist-client/**
    - component_id: svelte-query
      name: '@tanstack/svelte-query'
      paths:
        - packages/svelte-query/**
    - component_id: svelte-query-devtools
      name: '@tanstack/svelte-query-devtools'
      paths:
        - packages/svelte-query-devtools/**
    - component_id: svelte-query-persist-client
      name: '@tanstack/svelte-query-persist-client'
      paths:
        - packages/svelte-query-persist-client/**
    - component_id: vue-query
      name: '@tanstack/vue-query'
      paths:
        - packages/vue-query/**
    - component_id: vue-query-devtools
      name: '@tanstack/vue-query-devtools'
      paths:
        - packages/vue-query-devtools/**

test(query-core/queryClient): assert the on-mutate result and context that 'onSettled' receives
  packages/query-core/src/__tests__/queryClient.test-d.tsx
Due: @tanstack/query-core

test(query-core/queryObserver): assert the non-function arm of every option that accepts a value or a callback
  packages/query-core/src/__tests__/queryObserver.test-d.tsx
Due: @tanstack/query-core

test(query-core/queryObserver): assert the non-function arm of every option that accepts a value or a callback (#11498)
  packages/query-core/src/__tests__/queryObserver.test-d.tsx
Due: @tanstack/query-core

docs(vue): fix reactivity guide heading hierarchy (#11466)
  docs/framework/vue/reactivity.md
Due: none

docs(solid-query): correct devtools development-mode explanation (#11409)
  docs/framework/solid/devtools.md
Due: none

docs(persister): document asynchronous serialization callbacks (#11411)
  docs/framework/react/plugins/createAsyncStoragePersister.md
Due: none

docs: explain Chrome focus emulation in window focus refetching guide (#11457)
  docs/framework/react/guides/window-focus-refetching.md
Due: none

fix(vue-query): re-export core filter types (#11287)
  .changeset/tidy-pandas-fetch.md
  packages/vue-query/src/__tests__/filterTypes.test-d.ts
  packages/vue-query/src/index.ts
  packages/vue-query/src/useIsFetching.ts
  packages/vue-query/src/useMutationState.ts
Due: @tanstack/vue-query

chore: generate-docs
  docs/framework/vue/reference/classes/MutationCache.md
  docs/framework/vue/reference/classes/QueryCache.md
  docs/framework/vue/reference/classes/QueryClient.md
  docs/framework/vue/reference/functions/matchMutation.md
  docs/framework/vue/reference/functions/matchQuery.md
  docs/framework/vue/reference/functions/queryOptions.md
  docs/framework/vue/reference/functions/useIsFetching.md
  docs/framework/vue/reference/functions/useIsMutating.md
  docs/framework/vue/reference/functions/useMutationState.md
  docs/framework/vue/reference/functions/useQuery.md
  docs/framework/vue/reference/index.md
  docs/framework/vue/reference/interfaces/MutationFilters.md
  docs/framework/vue/reference/interfaces/QueryFilters.md
  docs/framework/vue/reference/interfaces/RefetchQueryFilters.md
  docs/framework/vue/reference/type-aliases/DefinedInitialQueryOptions.md
  docs/framework/vue/reference/type-aliases/DefinedInitialQueryOptionsWithDataTag.md
  docs/framework/vue/reference/type-aliases/MutationFilters.md
  docs/framework/vue/reference/type-aliases/MutationStateOptions.md
  docs/framework/vue/reference/type-aliases/QueryOptions.md
  docs/framework/vue/reference/type-aliases/UndefinedInitialQueryOptions.md
  docs/framework/vue/reference/type-aliases/UndefinedInitialQueryOptionsWithDataTag.md
  docs/framework/vue/reference/type-aliases/UseIsFetchingFilters.md
  docs/framework/vue/reference/type-aliases/UseIsMutatingFilters.md
  docs/framework/vue/reference/type-aliases/UseQueryDefinedReturnType.md
  docs/framework/vue/reference/type-aliases/UseQueryOptions.md
  docs/framework/vue/reference/type-aliases/UseQueryReturnType.md
Due: none

chore: changeset
  .changeset/three-lands-dress.md
Due: none

fix(vue-query): widen 'queryOptions' input to match 'useQuery' (#11439)
  .changeset/three-lands-dress.md
  docs/framework/vue/reference/classes/MutationCache.md
  docs/framework/vue/reference/classes/QueryCache.md
  docs/framework/vue/reference/classes/QueryClient.md
  docs/framework/vue/reference/functions/matchMutation.md
  docs/framework/vue/reference/functions/matchQuery.md
  docs/framework/vue/reference/functions/queryOptions.md
  docs/framework/vue/reference/functions/useIsFetching.md
  docs/framework/vue/reference/functions/useIsMutating.md
  docs/framework/vue/reference/functions/useMutationState.md
  docs/framework/vue/reference/functions/useQuery.md
  docs/framework/vue/reference/index.md
  docs/framework/vue/reference/interfaces/MutationFilters.md
  docs/framework/vue/reference/interfaces/QueryFilters.md
  docs/framework/vue/reference/interfaces/RefetchQueryFilters.md
  docs/framework/vue/reference/type-aliases/DefinedInitialQueryOptions.md
  docs/framework/vue/reference/type-aliases/DefinedInitialQueryOptionsWithDataTag.md
  docs/framework/vue/reference/type-aliases/MutationFilters.md
  docs/framework/vue/reference/type-aliases/MutationStateOptions.md
  docs/framework/vue/reference/type-aliases/QueryOptions.md
  docs/framework/vue/reference/type-aliases/UndefinedInitialQueryOptions.md
  docs/framework/vue/reference/type-aliases/UndefinedInitialQueryOptionsWithDataTag.md
  docs/framework/vue/reference/type-aliases/UseIsFetchingFilters.md
  docs/framework/vue/reference/type-aliases/UseIsMutatingFilters.md
  docs/framework/vue/reference/type-aliases/UseQueryDefinedReturnType.md
  docs/framework/vue/reference/type-aliases/UseQueryOptions.md
  docs/framework/vue/reference/type-aliases/UseQueryReturnType.md
  packages/vue-query/src/__tests__/queryOptions.test-d.ts
  packages/vue-query/src/__tests__/useQueries.test-d.ts
  packages/vue-query/src/__tests__/useQuery.test-d.ts
  packages/vue-query/src/index.ts
  packages/vue-query/src/queryClient.ts
  packages/vue-query/src/queryOptions.ts
  packages/vue-query/src/useBaseQuery.ts
  packages/vue-query/src/useQueries.ts
  packages/vue-query/src/useQuery.ts
Due: @tanstack/vue-query

fix(eslint): detect computed query method calls
  eslint.config.js
Due: none

feat(react-query): support server snapshots during hydration
  .changeset/tidy-poems-guess.md
  packages/react-query/src/QueryClientProvider.tsx
  packages/react-query/src/__tests__/ssr-hydration.test.tsx
  packages/react-query/src/useBaseQuery.ts
Due: @tanstack/react-query

feat(react-query): support server snapshot hydration options
  .changeset/tidy-poems-guess.md
  packages/react-query/src/QueryClientProvider.tsx
  packages/react-query/src/__tests__/ssr-hydration.test.tsx
Due: @tanstack/react-query

fix: declare devtools dependencies and enforce strict workspace checks
  .changeset/small-devtools-dependencies.md
  knip.json
  knip.ts
  nx.json
  package.json
  packages/query-devtools/package.json
  packages/query-devtools/tsdown.config.ts
  packages/query-test-utils/package.json
  packages/react-query-devtools/package.json
  pnpm-lock.yaml
Due: @tanstack/query-devtools, @tanstack/query-test-utils, @tanstack/react-query-devtools

fix(query-core): reject longer partial array keys
  .changeset/short-arrays-match.md
  packages/query-core/src/__tests__/utils.test.tsx
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

test(query-core): clarify partial key regression
  packages/query-core/src/__tests__/utils.test.tsx
Due: @tanstack/query-core

fix: declare devtools dependencies and enforce strict workspace checks (#11501)
  .changeset/small-devtools-dependencies.md
  knip.json
  knip.ts
  nx.json
  package.json
  packages/query-devtools/package.json
  packages/query-devtools/tsdown.config.ts
  packages/query-test-utils/package.json
  packages/react-query-devtools/package.json
  pnpm-lock.yaml
Due: @tanstack/query-devtools, @tanstack/query-test-utils, @tanstack/react-query-devtools

fix(query-core): reject longer partial array keys (#11502)
  .changeset/short-arrays-match.md
  packages/query-core/src/__tests__/utils.test.tsx
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

Simplifed query methods/internal tests new lint (#11347)
  eslint.config.js
  packages/angular-query-experimental/src/__tests__/infinite-query-options.test-d.ts
  packages/angular-query-experimental/src/__tests__/query-options.test-d.ts
  packages/preact-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/preact-query/src/__tests__/queryOptions.test-d.tsx
  packages/preact-query/src/__tests__/useInfiniteQuery.test-d.tsx
  packages/query-codemods/eslint.config.js
  packages/query-core/src/__tests__/queryClient.test-d.tsx
  packages/query-core/src/__tests__/queryClient.test.tsx
  packages/query-core/src/queryClient.ts
  packages/react-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/react-query/src/__tests__/queryOptions.test-d.tsx
  packages/react-query/src/__tests__/useInfiniteQuery.test-d.tsx
  packages/solid-query/src/__tests__/queryOptions.test-d.tsx
  packages/solid-query/src/__tests__/useInfiniteQuery.test-d.tsx
  packages/svelte-query/tests/createInfiniteQuery/createInfiniteQuery.test-d.ts
  packages/svelte-query/tests/infiniteQueryOptions.test-d.ts
  packages/svelte-query/tests/queryOptions.test-d.ts
  packages/vue-query/src/__tests__/queryClient.test-d.ts
  packages/vue-query/src/__tests__/queryClient.test.ts
  packages/vue-query/src/__tests__/queryOptions.test-d.ts
  packages/vue-query/src/queryClient.ts
Due: @tanstack/query-codemods, @tanstack/query-core, @tanstack/react-query, @tanstack/solid-query, @tanstack/svelte-query, @tanstack/vue-query

fix: isolate TypeScript test output
  CONTRIBUTING.md
  nx.json
  packages/angular-query-experimental/package.json
  packages/angular-query-persist-client/package.json
  packages/eslint-plugin-query/package.json
  packages/lit-query/package.json
  packages/preact-query-devtools/package.json
  packages/preact-query-persist-client/package.json
  packages/preact-query/package.json
  packages/query-async-storage-persister/package.json
  packages/query-broadcast-client-experimental/package.json
  packages/query-core/package.json
  packages/query-devtools/package.json
  packages/query-persist-client-core/package.json
  packages/query-sync-storage-persister/package.json
  packages/query-test-utils/package.json
  packages/react-query-devtools/package.json
  packages/react-query-next-experimental/package.json
  packages/react-query-persist-client/package.json
  packages/react-query/package.json
  packages/solid-query-devtools/package.json
  packages/solid-query-persist-client/package.json
  packages/solid-query/package.json
  packages/svelte-query-devtools/package.json
  packages/svelte-query-persist-client/package.json
  packages/svelte-query/package.json
  packages/vue-query-devtools/package.json
  packages/vue-query/package.json
Due: @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

fix: isolate TypeScript test output (#11503)
  CONTRIBUTING.md
  nx.json
  packages/angular-query-experimental/package.json
  packages/angular-query-persist-client/package.json
  packages/eslint-plugin-query/package.json
  packages/lit-query/package.json
  packages/preact-query-devtools/package.json
  packages/preact-query-persist-client/package.json
  packages/preact-query/package.json
  packages/query-async-storage-persister/package.json
  packages/query-broadcast-client-experimental/package.json
  packages/query-core/package.json
  packages/query-devtools/package.json
  packages/query-persist-client-core/package.json
  packages/query-sync-storage-persister/package.json
  packages/query-test-utils/package.json
  packages/react-query-devtools/package.json
  packages/react-query-next-experimental/package.json
  packages/react-query-persist-client/package.json
  packages/react-query/package.json
  packages/solid-query-devtools/package.json
  packages/solid-query-persist-client/package.json
  packages/solid-query/package.json
  packages/svelte-query-devtools/package.json
  packages/svelte-query-persist-client/package.json
  packages/svelte-query/package.json
  packages/vue-query-devtools/package.json
  packages/vue-query/package.json
Due: @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

docs(react-query): fix undefined userId in dependent query prefetch example
  docs/framework/react/guides/ssr.md
Due: none

test(query-core/queryClient): add test for 'pages' type in 'InfiniteQueryExecuteOptions'
  packages/query-core/src/__tests__/queryClient.test-d.tsx
Due: @tanstack/query-core

test(query-core/{streamedQuery,subscribable}): flatten generic parameter describes into 'it' names
  packages/query-core/src/__tests__/streamedQuery.test-d.tsx
  packages/query-core/src/__tests__/subscribable.test-d.tsx
Due: @tanstack/query-core

test(query-core/utils): remove vacuous 'VoidFunction' assertion for 'noop'
  packages/query-core/src/__tests__/utils.test-d.tsx
Due: @tanstack/query-core

test(query-core/queryClient): add test for 'pages' type in 'InfiniteQueryExecuteOptions' (#11505)
  packages/query-core/src/__tests__/queryClient.test-d.tsx
Due: @tanstack/query-core

test(query-core/{streamedQuery,subscribable}): flatten generic parameter describes into 'it' names (#11506)
  packages/query-core/src/__tests__/streamedQuery.test-d.tsx
  packages/query-core/src/__tests__/subscribable.test-d.tsx
Due: @tanstack/query-core

test(query-core/utils): remove vacuous 'VoidFunction' assertion for 'noop' (#11507)
  packages/query-core/src/__tests__/utils.test-d.tsx
Due: @tanstack/query-core

chore(*): use eslint description syntax for grandfathered 'no-restricted-syntax' disables
  packages/angular-query-experimental/src/__tests__/infinite-query-options.test-d.ts
  packages/angular-query-experimental/src/__tests__/query-options.test-d.ts
  packages/preact-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/preact-query/src/__tests__/queryOptions.test-d.tsx
  packages/preact-query/src/__tests__/useInfiniteQuery.test-d.tsx
  packages/query-core/src/__tests__/queryClient.test-d.tsx
  packages/query-core/src/__tests__/queryClient.test.tsx
  packages/react-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/react-query/src/__tests__/queryOptions.test-d.tsx
  packages/react-query/src/__tests__/useInfiniteQuery.test-d.tsx
  packages/solid-query/src/__tests__/queryOptions.test-d.tsx
  packages/solid-query/src/__tests__/useInfiniteQuery.test-d.tsx
  packages/svelte-query/tests/createInfiniteQuery/createInfiniteQuery.test-d.ts
  packages/svelte-query/tests/infiniteQueryOptions.test-d.ts
  packages/svelte-query/tests/queryOptions.test-d.ts
  packages/vue-query/src/__tests__/queryClient.test-d.ts
  packages/vue-query/src/__tests__/queryClient.test.ts
  packages/vue-query/src/queryClient.ts
Due: @tanstack/query-core, @tanstack/react-query, @tanstack/solid-query, @tanstack/svelte-query, @tanstack/vue-query

chore(*): use eslint description syntax for grandfathered 'no-restricted-syntax' disables (#11508)
  packages/angular-query-experimental/src/__tests__/infinite-query-options.test-d.ts
  packages/angular-query-experimental/src/__tests__/query-options.test-d.ts
  packages/preact-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/preact-query/src/__tests__/queryOptions.test-d.tsx
  packages/preact-query/src/__tests__/useInfiniteQuery.test-d.tsx
  packages/query-core/src/__tests__/queryClient.test-d.tsx
  packages/query-core/src/__tests__/queryClient.test.tsx
  packages/react-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/react-query/src/__tests__/queryOptions.test-d.tsx
  packages/react-query/src/__tests__/useInfiniteQuery.test-d.tsx
  packages/solid-query/src/__tests__/queryOptions.test-d.tsx
  packages/solid-query/src/__tests__/useInfiniteQuery.test-d.tsx
  packages/svelte-query/tests/createInfiniteQuery/createInfiniteQuery.test-d.ts
  packages/svelte-query/tests/infiniteQueryOptions.test-d.ts
  packages/svelte-query/tests/queryOptions.test-d.ts
  packages/vue-query/src/__tests__/queryClient.test-d.ts
  packages/vue-query/src/__tests__/queryClient.test.ts
  packages/vue-query/src/queryClient.ts
Due: @tanstack/query-core, @tanstack/react-query, @tanstack/solid-query, @tanstack/svelte-query, @tanstack/vue-query

fix(query-persist-client-core): restore falsy storage values
  .changeset/falsy-storage-values.md
  packages/query-persist-client-core/src/__tests__/createPersister.test.ts
  packages/query-persist-client-core/src/createPersister.ts
Due: @tanstack/query-persist-client-core

fix(query-persist-client-core): restore falsy storage values (#11509)
  .changeset/falsy-storage-values.md
  packages/query-persist-client-core/src/__tests__/createPersister.test.ts
  packages/query-persist-client-core/src/createPersister.ts
Due: @tanstack/query-persist-client-core

fix(query-core): preserve null streamed query results
  .changeset/streamed-query-null.md
  packages/query-core/src/__tests__/streamedQuery.test.tsx
  packages/query-core/src/streamedQuery.ts
Due: @tanstack/query-core

fix(query-core): preserve null streamed query results (#11510)
  .changeset/streamed-query-null.md
  packages/query-core/src/__tests__/streamedQuery.test.tsx
  packages/query-core/src/streamedQuery.ts
Due: @tanstack/query-core

fix(react-query): scope server snapshots to hydration boundaries
  .changeset/tidy-poems-guess.md
  packages/react-query/src/HydrationBoundary.tsx
  packages/react-query/src/QueryClientProvider.tsx
  packages/react-query/src/__tests__/ssr-hydration.test.tsx
  packages/react-query/src/useBaseQuery.ts
Due: @tanstack/react-query

fix(query-core): handle plain objects with constructor fields
  .changeset/plain-object-constructor.md
  packages/query-core/src/__tests__/utils.test.tsx
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

fix(query-core): handle plain objects with constructor fields (#11512)
  .changeset/plain-object-constructor.md
  packages/query-core/src/__tests__/utils.test.tsx
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

fix(query-core): preserve symbol properties in replaceEqualDeep
  .changeset/preserve-symbol-properties-structural-sharing.md
  packages/query-core/src/__tests__/utils.test.tsx
  packages/query-core/src/utils.ts
Due: @tanstack/query-core
