Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools, @tanstack/angular-query, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

codecov.yml:

codecov:
  max_report_age: off

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto

comment:
  layout: 'header, reach, diff, flags, components'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  hide_project_coverage: false

component_management:
  individual_components:
    - component_id: angular-query-devtools
      name: '@tanstack/angular-query-devtools'
      paths:
        - packages/angular-query-devtools/**
    - component_id: angular-query
      name: '@tanstack/angular-query'
      paths:
        - packages/angular-query/**
    - component_id: eslint-plugin-query
      name: '@tanstack/eslint-plugin-query'
      paths:
        - packages/eslint-plugin-query/**
    - component_id: query-async-storage-persister
      name: '@tanstack/query-async-storage-persister'
      paths:
        - packages/query-async-storage-persister/**
    - component_id: query-broadcast-client-experimental
      name: '@tanstack/query-broadcast-client-experimental'
      paths:
        - packages/query-broadcast-client-experimental/**
    - component_id: query-codemods
      name: '@tanstack/query-codemods'
      paths:
        - packages/query-codemods/**
    - component_id: query-core
      name: '@tanstack/query-core'
      paths:
        - packages/query-core/**
    - component_id: query-devtools
      name: '@tanstack/query-devtools'
      paths:
        - packages/query-devtools/**
    - component_id: query-persist-client-core
      name: '@tanstack/query-persist-client-core'
      paths:
        - packages/query-persist-client-core/**
    - component_id: query-sync-storage-persister
      name: '@tanstack/query-sync-storage-persister'
      paths:
        - packages/query-sync-storage-persister/**
    - component_id: query-test-utils
      name: '@tanstack/query-test-utils'
      paths:
        - packages/query-test-utils/**
    - component_id: react-query
      name: '@tanstack/react-query'
      paths:
        - packages/react-query/**
    - component_id: react-query-devtools
      name: '@tanstack/react-query-devtools'
      paths:
        - packages/react-query-devtools/**
    - component_id: react-query-next-experimental
      name: '@tanstack/react-query-next-experimental'
      paths:
        - packages/react-query-next-experimental/**
    - component_id: react-query-persist-client
      name: '@tanstack/react-query-persist-client'
      paths:
        - packages/react-query-persist-client/**
    - component_id: solid-query
      name: '@tanstack/solid-query'
      paths:
        - packages/solid-query/**
    - component_id: solid-query-devtools
      name: '@tanstack/solid-query-devtools'
      paths:
        - packages/solid-query-devtools/**
    - component_id: solid-query-persist-client
      name: '@tanstack/solid-query-persist-client'
      paths:
        - packages/solid-query-persist-client/**
    - component_id: svelte-query
      name: '@tanstack/svelte-query'
      paths:
        - packages/svelte-query/**
    - component_id: svelte-query-devtools
      name: '@tanstack/svelte-query-devtools'
      paths:
        - packages/svelte-query-devtools/**
    - component_id: svelte-query-persist-client
      name: '@tanstack/svelte-query-persist-client'
      paths:
        - packages/svelte-query-persist-client/**
    - component_id: vue-query
      name: '@tanstack/vue-query'
      paths:
        - packages/vue-query/**
    - component_id: vue-query-devtools
      name: '@tanstack/vue-query-devtools'
      paths:
        - packages/vue-query-devtools/**

perf(react-query): Batch hydration notifications
  .changeset/faster-react-hydration.md
  packages/react-query/src/HydrationBoundary.tsx
Due: @tanstack/react-query

fix(solid-query): don't re-trigger Suspense on background refetches
  .changeset/solid-suspense-background-refetch.md
  packages/solid-query/src/__tests__/suspense.test.tsx
  packages/solid-query/src/useBaseQuery.ts
Due: @tanstack/solid-query

fix(lit-query): migrate build from 'tsup' to 'tsdown' to match other adapters
  packages/lit-query/package.json
  packages/lit-query/root.tsdown.config.js
  packages/lit-query/root.tsup.config.js
  packages/lit-query/tsdown.config.ts
Due: none

docs(.changeset): update 'lit-query' changeset to reference 'tsdown' instead of 'tsup'
  .changeset/lit-query-standard-tsdown-build.md
  .changeset/lit-query-standard-tsup-build.md
Due: none

test(lit-query): replace inline 'new Promise' timeout with 'sleep' in 'testHost.ts'
  packages/lit-query/src/tests/testHost.ts
Due: none

fix(query-core): notify sibling observers when one unsubscribes during dispatch
  .changeset/fix-query-dispatch-observer-skip.md
  packages/query-core/src/__tests__/queryObserver.test.tsx
  packages/query-core/src/query.ts
Due: @tanstack/query-core

feat(vue-query): add new methods to vue-query
  .changeset/cold-islands-move.md
  packages/vue-query/src/__tests__/infiniteQueryOptions.test-d.ts
  packages/vue-query/src/__tests__/queryClient.test-d.ts
  packages/vue-query/src/__tests__/queryClient.test.ts
  packages/vue-query/src/__tests__/queryOptions.test-d.ts
  packages/vue-query/src/__tests__/usePrefetchInfiniteQuery.test.ts
  packages/vue-query/src/__tests__/usePrefetchQuery.test.ts
  packages/vue-query/src/queryClient.ts
  packages/vue-query/src/usePrefetchInfiniteQuery.ts
  packages/vue-query/src/usePrefetchQuery.ts
Due: @tanstack/vue-query

docs(vue-query): docs for new impertive methods for Vue
  docs/framework/vue/guides/prefetching.md
  docs/framework/vue/guides/ssr.md
Due: none

fix(vue-query): remove getter options from impertive methods
  packages/vue-query/src/__tests__/queryClient.test-d.ts
  packages/vue-query/src/__tests__/queryClient.test.ts
  packages/vue-query/src/__tests__/queryOptions.test-d.ts
  packages/vue-query/src/queryClient.ts
Due: @tanstack/vue-query

ref: remove unused experimental_beforeQuery and experimental_afterQuery
  .changeset/true-cobras-wait.md
  packages/preact-query/src/useBaseQuery.ts
  packages/react-query/src/useBaseQuery.ts
Due: @tanstack/react-query

ref: remove unused experimental_beforeQuery and experimental_afterQuery (#11233)
  .changeset/true-cobras-wait.md
  packages/preact-query/src/useBaseQuery.ts
  packages/react-query/src/useBaseQuery.ts
Due: @tanstack/react-query

fix(lit-query): migrate to standard tsdown build so 'build' output is cached by nx and 'test:build' passes (#10943)
  .changeset/lit-query-standard-tsdown-build.md
  .gitignore
  knip.json
  packages/lit-query/eslint.config.js
  packages/lit-query/package.json
  packages/lit-query/root.tsdown.config.js
  packages/lit-query/scripts/check-cjs-types-smoke.mjs
  packages/lit-query/scripts/l3-stress.mjs
  packages/lit-query/scripts/measure-bundle.mjs
  packages/lit-query/scripts/write-cjs-package.mjs
  packages/lit-query/tsconfig.build.cjs.json
  packages/lit-query/tsconfig.build.json
  packages/lit-query/tsconfig.json
  packages/lit-query/tsconfig.prod.json
  packages/lit-query/tsdown.config.ts
  packages/lit-query/vite.config.ts
Due: none

fix(query-core): Keep observer notifications stable
  .changeset/stable-observers-notify.md
  packages/query-core/src/__tests__/query.test.tsx
  packages/query-core/src/query.ts
Due: @tanstack/query-core

test(lit-query): replace inline 'new Promise' timeouts with 'sleep' from 'query-test-utils' (#11104)
  packages/lit-query/package.json
  packages/lit-query/src/tests/client-switch-controllers.test.ts
  packages/lit-query/src/tests/counters-and-state.test.ts
  packages/lit-query/src/tests/mutation-controller.test.ts
  packages/lit-query/src/tests/query-controller.test.ts
  packages/lit-query/src/tests/testHost.ts
  pnpm-lock.yaml
Due: none

chore(nx.json): drop dead 'dist-cjs' build output entry
  nx.json
Due: none

chore(nx.json): drop dead 'dist-cjs' build output entry (#11235)
  nx.json
Due: none

fix(query-core): Keep observer notifications stable (#11234)
  .changeset/stable-observers-notify.md
  packages/query-core/src/__tests__/query.test.tsx
  packages/query-core/src/query.ts
Due: @tanstack/query-core

fix(broadcast-client): handle unhandled postMessage rejections (#10771)
  .changeset/fix-broadcast-client-unhandled-rejection.md
  docs/framework/react/plugins/broadcastQueryClient.md
  packages/query-broadcast-client-experimental/src/__tests__/index.test.ts
  packages/query-broadcast-client-experimental/src/index.ts
Due: @tanstack/query-broadcast-client-experimental

fix(preact-query): allow retryOnMount when throwOnError is function (#11166)
  .changeset/preact-retry-on-mount-throw-on-error.md
  packages/preact-query/src/__tests__/useQuery.test.tsx
  packages/preact-query/src/errorBoundaryUtils.ts
  packages/preact-query/src/useBaseQuery.ts
  packages/preact-query/src/useQueries.ts
Due: none

docs: add StitchAPI to community resources (#11025)
  docs/community-resources.md
Due: none

add batching example to docs
  docs/config.json
  examples/react/batching/package.json
  pnpm-lock.yaml
Due: none

docs(example): batching (#11008)
  docs/config.json
  examples/react/batching/.gitignore
  examples/react/batching/README.md
  examples/react/batching/eslint.config.js
  examples/react/batching/index.html
  examples/react/batching/package.json
  examples/react/batching/public/emblem-light.svg
  examples/react/batching/src/character-loader.ts
  examples/react/batching/src/index.tsx
  examples/react/batching/tsconfig.json
  examples/react/batching/vite.config.ts
  pnpm-lock.yaml
Due: none

ref: remove experimental_prefetchInRender (#11221)
  .changeset/quiet-flags-remove.md
  docs/framework/react/guides/suspense.md
  docs/framework/react/reference/queryOptions.md
  docs/framework/react/reference/useInfiniteQuery.md
  docs/framework/react/reference/useQuery.md
  packages/lit-query/src/createInfiniteQueryController.ts
  packages/lit-query/src/createQueriesController.ts
  packages/lit-query/src/createQueryController.ts
  packages/preact-query/src/__tests__/useInfiniteQuery.test.tsx
  packages/preact-query/src/__tests__/useQuery.test-d.tsx
  packages/preact-query/src/__tests__/useQuery.test.tsx
  packages/preact-query/src/errorBoundaryUtils.ts
  packages/preact-query/src/suspense.ts
  packages/preact-query/src/types.ts
  packages/preact-query/src/useBaseQuery.ts
  packages/query-core/src/__tests__/queryObserver.test.tsx
  packages/query-core/src/__tests__/thenable.test.tsx
  packages/query-core/src/hydration.ts
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/retryer.ts
  packages/query-core/src/thenable.ts
  packages/query-core/src/types.ts
  packages/react-query/src/__tests__/useInfiniteQuery.test.tsx
  packages/react-query/src/__tests__/useQuery.promise.test.tsx
  packages/react-query/src/__tests__/useQuery.test-d.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/react-query/src/__tests__/useSuspenseQuery.test.tsx
  packages/react-query/src/errorBoundaryUtils.ts
  packages/react-query/src/suspense.ts
  packages/react-query/src/types.ts
  packages/react-query/src/useBaseQuery.ts
  packages/solid-query/src/__tests__/useInfiniteQuery.test.tsx
  packages/solid-query/src/__tests__/useQuery.test.tsx
  packages/solid-query/src/useBaseQuery.ts
  packages/svelte-query/tests/createInfiniteQuery/createInfiniteQuery.svelte.test.ts
  packages/svelte-query/tests/createQuery/createQuery.svelte.test.ts
Due: @tanstack/query-core, @tanstack/react-query, @tanstack/solid-query, @tanstack/svelte-query

Add guides in svelte query docs
  docs/config.json
  docs/framework/svelte/guides/invalidations-from-mutations.md
  docs/framework/svelte/guides/mutations.md
  docs/framework/svelte/guides/network-mode.md
  docs/framework/svelte/guides/optimistic-updates.md
  docs/framework/svelte/guides/queries.md
  docs/framework/svelte/guides/query-cancellation.md
Due: none

FIX: some typo and mistake
  docs/framework/svelte/guides/invalidations-from-mutations.md
  docs/framework/svelte/guides/optimistic-updates.md
  docs/framework/svelte/guides/query-cancellation.md
Due: none

fix mistakes in optimistic updates docs
  docs/framework/svelte/guides/optimistic-updates.md
Due: none

ref: switch to use()
  packages/react-query/src/__tests__/QueryResetErrorBoundary.test.tsx
  packages/react-query/src/__tests__/suspense.test.tsx
  packages/react-query/src/__tests__/usePrefetchInfiniteQuery.test.tsx
  packages/react-query/src/__tests__/usePrefetchQuery.test.tsx
  packages/react-query/src/__tests__/useSuspenseInfiniteQuery.test.tsx
  packages/react-query/src/__tests__/useSuspenseQueries.test.tsx
  packages/react-query/src/__tests__/useSuspenseQuery.test.tsx
  packages/react-query/src/__tests__/utils.tsx
  packages/react-query/src/suspense.ts
  packages/react-query/src/useBaseQuery.ts
  packages/react-query/src/useQueries.ts
Due: @tanstack/react-query

Fix array spread issue in docs example
  docs/framework/svelte/guides/optimistic-updates.md
Due: none

Update packages/vue-query/src/queryClient.ts
  packages/vue-query/src/queryClient.ts
Due: @tanstack/vue-query

Update packages/vue-query/src/usePrefetchQuery.ts
  packages/vue-query/src/usePrefetchQuery.ts
Due: @tanstack/vue-query

Update packages/preact-query/src/usePrefetchInfiniteQuery.tsx
  packages/preact-query/src/usePrefetchInfiniteQuery.tsx
Due: none

Update packages/preact-query/src/usePrefetchQuery.tsx
  packages/preact-query/src/usePrefetchQuery.tsx
Due: none

Update packages/react-query/src/usePrefetchInfiniteQuery.tsx
  packages/react-query/src/usePrefetchInfiniteQuery.tsx
Due: @tanstack/react-query

Update packages/react-query/src/usePrefetchQuery.tsx
  packages/react-query/src/usePrefetchQuery.tsx
Due: @tanstack/react-query

add changeset
  .changeset/tasty-ears-study.md
Due: none

reorg test helpers
  packages/react-query/src/__tests__/QueryResetErrorBoundary.test.tsx
  packages/react-query/src/__tests__/suspense.test.tsx
  packages/react-query/src/__tests__/usePrefetchInfiniteQuery.test.tsx
  packages/react-query/src/__tests__/usePrefetchQuery.test.tsx
  packages/react-query/src/__tests__/useSuspenseInfiniteQuery.test.tsx
  packages/react-query/src/__tests__/useSuspenseQueries.test.tsx
  packages/react-query/src/__tests__/useSuspenseQuery.test.tsx
  packages/react-query/src/__tests__/utils.tsx
Due: @tanstack/react-query

docs(vue-query): explain why reactive() is needed for result narrowing
  docs/framework/vue/typescript.md
  packages/vue-query/src/__tests__/useQuery.test-d.ts
Due: @tanstack/vue-query

put svelte config into vite config
  examples/svelte/basic/package.json
  examples/svelte/basic/svelte.config.js
  examples/svelte/basic/vite.config.ts
  pnpm-lock.yaml
Due: none

update svelte-check version to ^4.6.0 to check config in vite.config.ts
  examples/svelte/basic/package.json
  pnpm-lock.yaml
Due: none

Vue: add new impertive methods to vue proxy QueryClient (#11208)
  .changeset/cold-islands-move.md
  docs/framework/vue/guides/prefetching.md
  docs/framework/vue/guides/ssr.md
  packages/vue-query/src/__tests__/infiniteQueryOptions.test-d.ts
  packages/vue-query/src/__tests__/queryClient.test-d.ts
  packages/vue-query/src/__tests__/queryClient.test.ts
  packages/vue-query/src/__tests__/queryOptions.test-d.ts
  packages/vue-query/src/__tests__/usePrefetchInfiniteQuery.test.ts
  packages/vue-query/src/__tests__/usePrefetchQuery.test.ts
  packages/vue-query/src/queryClient.ts
  packages/vue-query/src/usePrefetchInfiniteQuery.ts
  packages/vue-query/src/usePrefetchQuery.ts
Due: @tanstack/vue-query
