Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools, @tanstack/angular-query, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

docs(preact-query): cross-link hooks with their options factories via '@see' and move the infinite-query caveat to '@remarks'
  docs/framework/preact/reference/functions/infiniteQueryOptions.md
  docs/framework/preact/reference/functions/mutationOptions.md
  docs/framework/preact/reference/functions/queryOptions.md
  docs/framework/preact/reference/functions/useInfiniteQuery.md
  docs/framework/preact/reference/functions/useMutation.md
  docs/framework/preact/reference/functions/useQuery.md
  packages/preact-query/src/infiniteQueryOptions.ts
  packages/preact-query/src/mutationOptions.ts
  packages/preact-query/src/queryOptions.ts
  packages/preact-query/src/useInfiniteQuery.ts
  packages/preact-query/src/useMutation.ts
  packages/preact-query/src/useQuery.ts
Due: none

docs(preact-query): cross-link hooks with their options factories via '@see' and move the infinite-query caveat to '@remarks' (#11289)
  docs/framework/preact/reference/functions/infiniteQueryOptions.md
  docs/framework/preact/reference/functions/mutationOptions.md
  docs/framework/preact/reference/functions/queryOptions.md
  docs/framework/preact/reference/functions/useInfiniteQuery.md
  docs/framework/preact/reference/functions/useMutation.md
  docs/framework/preact/reference/functions/useQuery.md
  packages/preact-query/src/infiniteQueryOptions.ts
  packages/preact-query/src/mutationOptions.ts
  packages/preact-query/src/queryOptions.ts
  packages/preact-query/src/useInfiniteQuery.ts
  packages/preact-query/src/useMutation.ts
  packages/preact-query/src/useQuery.ts
Due: none

docs(preact-query): wrap bare 'QueryClient' type name in backticks in JSDoc
  docs/framework/preact/reference/functions/useInfiniteQuery.md
  docs/framework/preact/reference/functions/useIsFetching.md
  docs/framework/preact/reference/functions/useIsMutating.md
  docs/framework/preact/reference/functions/useMutation.md
  docs/framework/preact/reference/functions/useMutationState.md
  docs/framework/preact/reference/functions/usePrefetchInfiniteQuery.md
  docs/framework/preact/reference/functions/usePrefetchQuery.md
  docs/framework/preact/reference/functions/useQueries.md
  docs/framework/preact/reference/functions/useQuery.md
  docs/framework/preact/reference/functions/useQueryClient.md
  docs/framework/preact/reference/functions/useSuspenseInfiniteQuery.md
  docs/framework/preact/reference/functions/useSuspenseQueries.md
  docs/framework/preact/reference/functions/useSuspenseQuery.md
  docs/framework/preact/reference/interfaces/HydrationBoundaryProps.md
  docs/framework/preact/reference/type-aliases/QueryClientProviderProps.md
  packages/preact-query/src/HydrationBoundary.tsx
  packages/preact-query/src/QueryClientProvider.tsx
  packages/preact-query/src/useInfiniteQuery.ts
  packages/preact-query/src/useIsFetching.ts
  packages/preact-query/src/useMutation.ts
  packages/preact-query/src/useMutationState.ts
  packages/preact-query/src/usePrefetchInfiniteQuery.tsx
  packages/preact-query/src/usePrefetchQuery.tsx
  packages/preact-query/src/useQueries.ts
  packages/preact-query/src/useQuery.ts
  packages/preact-query/src/useSuspenseInfiniteQuery.ts
  packages/preact-query/src/useSuspenseQueries.ts
  packages/preact-query/src/useSuspenseQuery.ts
Due: none

docs(preact-query): backtick 'QueryClient' in 'children' prop doc and 'suspense'/'throwOnError' in QueryErrorResetBoundary
  docs/framework/preact/reference/functions/QueryErrorResetBoundary.md
  docs/framework/preact/reference/type-aliases/QueryClientProviderProps.md
  packages/preact-query/src/QueryClientProvider.tsx
  packages/preact-query/src/QueryErrorResetBoundary.tsx
Due: none

docs(preact-query): backtick bare code-symbol references in JSDoc ('QueryClient', 'suspense', 'throwOnError') (#11290)
  docs/framework/preact/reference/functions/QueryErrorResetBoundary.md
  docs/framework/preact/reference/functions/useInfiniteQuery.md
  docs/framework/preact/reference/functions/useIsFetching.md
  docs/framework/preact/reference/functions/useIsMutating.md
  docs/framework/preact/reference/functions/useMutation.md
  docs/framework/preact/reference/functions/useMutationState.md
  docs/framework/preact/reference/functions/usePrefetchInfiniteQuery.md
  docs/framework/preact/reference/functions/usePrefetchQuery.md
  docs/framework/preact/reference/functions/useQueries.md
  docs/framework/preact/reference/functions/useQuery.md
  docs/framework/preact/reference/functions/useQueryClient.md
  docs/framework/preact/reference/functions/useSuspenseInfiniteQuery.md
  docs/framework/preact/reference/functions/useSuspenseQueries.md
  docs/framework/preact/reference/functions/useSuspenseQuery.md
  docs/framework/preact/reference/interfaces/HydrationBoundaryProps.md
  docs/framework/preact/reference/type-aliases/QueryClientProviderProps.md
  packages/preact-query/src/HydrationBoundary.tsx
  packages/preact-query/src/QueryClientProvider.tsx
  packages/preact-query/src/QueryErrorResetBoundary.tsx
  packages/preact-query/src/useInfiniteQuery.ts
  packages/preact-query/src/useIsFetching.ts
  packages/preact-query/src/useMutation.ts
  packages/preact-query/src/useMutationState.ts
  packages/preact-query/src/usePrefetchInfiniteQuery.tsx
  packages/preact-query/src/usePrefetchQuery.tsx
  packages/preact-query/src/useQueries.ts
  packages/preact-query/src/useQuery.ts
  packages/preact-query/src/useSuspenseInfiniteQuery.ts
  packages/preact-query/src/useSuspenseQueries.ts
  packages/preact-query/src/useSuspenseQuery.ts
Due: none

fix(solid-query): allow optional initialData in infiniteQueryOptions
  .changeset/olive-pugs-repeat.md
  packages/solid-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/solid-query/src/infiniteQueryOptions.ts
Due: @tanstack/solid-query

feat(solid-query): type useQuery/useInfiniteQuery data as non-nullable
  packages/solid-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/solid-query/src/__tests__/queryOptions.test-d.tsx
  packages/solid-query/src/__tests__/suspense.test.tsx
  packages/solid-query/src/__tests__/useInfiniteQuery.test-d.tsx
  packages/solid-query/src/__tests__/useInfiniteQuery.test.tsx
  packages/solid-query/src/__tests__/useQueries.test-d.tsx
  packages/solid-query/src/__tests__/useQuery.test-d.tsx
  packages/solid-query/src/__tests__/useQuery.test.tsx
  packages/solid-query/src/__tests__/utils.tsx
  packages/solid-query/src/types.ts
  packages/solid-query/src/useQueries.ts
Due: @tanstack/solid-query

test(solid-query): drop the pendingData widening helper
  packages/solid-query-persist-client/src/__tests__/PersistQueryClientProvider.test.tsx
  packages/solid-query/src/__tests__/suspense.test.tsx
  packages/solid-query/src/__tests__/useInfiniteQuery.test.tsx
  packages/solid-query/src/__tests__/useQuery.test.tsx
  packages/solid-query/src/__tests__/utils.tsx
Due: @tanstack/solid-query, @tanstack/solid-query-persist-client

fix(solid-query): suspend client data reads while the query is loading
  packages/solid-query/src/__tests__/suspense.test.tsx
  packages/solid-query/src/__tests__/useInfiniteQuery.test.tsx
  packages/solid-query/src/__tests__/useQuery.test.tsx
  packages/solid-query/src/useBaseQuery.ts
Due: @tanstack/solid-query

fix(query-core): Avoid scheduling stale timeouts for disabled query observers.
  .changeset/quiet-timers-rest.md
  packages/query-core/src/__tests__/queryObserver.test.tsx
  packages/query-core/src/queryObserver.ts
Due: @tanstack/query-core

ref: do the cheap thing first
  packages/query-core/src/queryObserver.ts
Due: @tanstack/query-core

fix(query-core): Avoid scheduling stale timeouts for disabled query observers (#11293)
  .changeset/quiet-timers-rest.md
  packages/query-core/src/__tests__/queryObserver.test.tsx
  packages/query-core/src/queryObserver.ts
Due: @tanstack/query-core

fix(solid-query): stand the client suspend down while hydrating
  packages/solid-query/src/useBaseQuery.ts
Due: @tanstack/solid-query

fix(preact-query): guard 'fetchNextPage' example with 'isFetching', not just 'isFetchingNextPage'
  docs/framework/preact/reference/functions/useInfiniteQuery.md
  docs/framework/preact/reference/functions/useSuspenseInfiniteQuery.md
  packages/preact-query/src/useInfiniteQuery.ts
  packages/preact-query/src/useSuspenseInfiniteQuery.ts
Due: none

docs(preact-query): add global loading indicator example to 'useIsFetching'
  docs/framework/preact/reference/functions/useIsFetching.md
  packages/preact-query/src/useIsFetching.ts
Due: none

docs(preact-query): add mutation-state, 'Promise.all', and 'Promise.allSettled' examples to 'useMutation'
  docs/framework/preact/reference/functions/useMutation.md
  packages/preact-query/src/useMutation.ts
Due: none

docs(preact-query): add 'isPending'/'isError' example alongside 'status' to 'useQuery'
  docs/framework/preact/reference/functions/useQuery.md
  packages/preact-query/src/useQuery.ts
Due: none

docs(preact-query): fix dependent-query example in 'useQuery' to use 'isLoading' instead of 'isPending'
  docs/framework/preact/reference/functions/useQuery.md
  packages/preact-query/src/useQuery.ts
Due: none

docs(preact-query): add pagination example with 'keepPreviousData' to 'useQuery'
  docs/framework/preact/reference/functions/useQuery.md
  packages/preact-query/src/useQuery.ts
Due: none

docs(preact-query): correct consecutive-mutation callback wording in 'useMutation' example
  docs/framework/preact/reference/functions/useMutation.md
  packages/preact-query/src/useMutation.ts
Due: none

docs(preact-query): add per-call 'onError' callback to basic 'useMutation' example
  docs/framework/preact/reference/functions/useMutation.md
  packages/preact-query/src/useMutation.ts
Due: none

docs(preact-query): use contextual message in 'console.error' for 'Promise.all' example in 'useMutation'
  docs/framework/preact/reference/functions/useMutation.md
  packages/preact-query/src/useMutation.ts
Due: none

docs(preact-query): expand JSDoc @example coverage across hooks (#11295)
  docs/framework/preact/reference/functions/useInfiniteQuery.md
  docs/framework/preact/reference/functions/useIsFetching.md
  docs/framework/preact/reference/functions/useMutation.md
  docs/framework/preact/reference/functions/useQuery.md
  docs/framework/preact/reference/functions/useSuspenseInfiniteQuery.md
  packages/preact-query/src/useInfiniteQuery.ts
  packages/preact-query/src/useIsFetching.ts
  packages/preact-query/src/useMutation.ts
  packages/preact-query/src/useQuery.ts
  packages/preact-query/src/useSuspenseInfiniteQuery.ts
Due: none

docs(preact-query): use function declarations instead of arrow functions in example code
  docs/framework/preact/reference/functions/QueryErrorResetBoundary.md
  docs/framework/preact/reference/functions/useMutation.md
  packages/preact-query/src/QueryErrorResetBoundary.tsx
  packages/preact-query/src/useMutation.ts
Due: none

docs(preact-query): use function declarations instead of arrow functions in example code (#11296)
  docs/framework/preact/reference/functions/QueryErrorResetBoundary.md
  docs/framework/preact/reference/functions/useMutation.md
  packages/preact-query/src/QueryErrorResetBoundary.tsx
  packages/preact-query/src/useMutation.ts
Due: none

docs(preact-query): remove redundant 'infiniteQueryOptions' usage from 'useInfiniteQuery' examples
  docs/framework/preact/reference/functions/useInfiniteQuery.md
  packages/preact-query/src/useInfiniteQuery.ts
Due: none

docs(preact-query): remove redundant 'infiniteQueryOptions' usage from 'useInfiniteQuery' examples (#11297)
  docs/framework/preact/reference/functions/useInfiniteQuery.md
  packages/preact-query/src/useInfiniteQuery.ts
Due: none

docs(preact-query): warn about request waterfalls and point to 'useSuspenseQueries' in 'useSuspenseQuery'
  docs/framework/preact/reference/functions/useSuspenseQuery.md
  packages/preact-query/src/useSuspenseQuery.ts
Due: none

docs(preact-query): add multiple-parallel-queries example to 'useSuspenseQueries'
  docs/framework/preact/reference/functions/useSuspenseQueries.md
  packages/preact-query/src/useSuspenseQueries.ts
Due: none

docs(preact-query): document request-waterfall avoidance across 'useSuspenseQuery' and 'useSuspenseQueries' (#11298)
  docs/framework/preact/reference/functions/useSuspenseQueries.md
  docs/framework/preact/reference/functions/useSuspenseQuery.md
  packages/preact-query/src/useSuspenseQueries.ts
  packages/preact-query/src/useSuspenseQuery.ts
Due: none

docs(preact-query): rename 'results' to 'postQueries' in 'useSuspenseQueries' example
  docs/framework/preact/reference/functions/useSuspenseQueries.md
  packages/preact-query/src/useSuspenseQueries.ts
Due: none

docs(preact-query): rename 'results' to 'postQueries' in 'useSuspenseQueries' example (#11299)
  docs/framework/preact/reference/functions/useSuspenseQueries.md
  packages/preact-query/src/useSuspenseQueries.ts
Due: none

fix(query-devtools): remove solid-js import from declarations
  .changeset/remove-solid-declaration-import.md
  packages/query-devtools/src/TanstackQueryDevtools.tsx
  packages/query-devtools/src/TanstackQueryDevtoolsPanel.tsx
  packages/query-devtools/src/contexts/QueryDevtoolsContext.ts
  packages/query-devtools/src/contexts/types.ts
  packages/query-devtools/src/index.ts
Due: @tanstack/query-devtools

ref: bundle-size improvements
  .changeset/short-symbols-smile.md
  .size-limit.json
  packages/query-core/src/__tests__/query.test.tsx
  packages/query-core/src/__tests__/queryObserver.test.tsx
  packages/query-core/src/environmentManager.ts
  packages/query-core/src/queriesObserver.ts
  packages/query-core/src/query.ts
  packages/query-core/src/queryClient.ts
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/removable.ts
  packages/query-core/src/retryer.ts
  packages/query-core/src/types.ts
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

docs(preact-query): wrap 'queryOptions' examples in components
  docs/framework/preact/reference/functions/queryOptions.md
  packages/preact-query/src/queryOptions.ts
Due: none

docs(preact-query): wrap 'infiniteQueryOptions' example in a component
  docs/framework/preact/reference/functions/infiniteQueryOptions.md
  packages/preact-query/src/infiniteQueryOptions.ts
Due: none

docs(preact-query): wrap 'useIsMutating' and 'useMutationState' examples in components
  docs/framework/preact/reference/functions/useIsMutating.md
  docs/framework/preact/reference/functions/useMutationState.md
  packages/preact-query/src/useMutationState.ts
Due: none

docs(preact-query): wrap 'useIsFetching' example in a component
  docs/framework/preact/reference/functions/useIsFetching.md
  packages/preact-query/src/useIsFetching.ts
Due: none

docs(preact-query): wrap 'useQueries' examples in components and add 'isError' handling
  docs/framework/preact/reference/functions/useQueries.md
  packages/preact-query/src/useQueries.ts
Due: none

fix(preact-query): correctly distinguish error state from loading in 'infiniteQueryOptions' example
  docs/framework/preact/reference/functions/infiniteQueryOptions.md
  packages/preact-query/src/infiniteQueryOptions.ts
Due: none

Path conditions:
  @tanstack/angular-query-devtools: any of: packages/angular-query-devtools/**
  @tanstack/angular-query: any of: packages/angular-query/**
  @tanstack/eslint-plugin-query: any of: packages/eslint-plugin-query/**
  @tanstack/query-async-storage-persister: any of: packages/query-async-storage-persister/**
  @tanstack/query-broadcast-client-experimental: any of: packages/query-broadcast-client-experimental/**
  @tanstack/query-codemods: any of: packages/query-codemods/**
  @tanstack/query-core: any of: packages/query-core/**
  @tanstack/query-devtools: any of: packages/query-devtools/**
  @tanstack/query-persist-client-core: any of: packages/query-persist-client-core/**
  @tanstack/query-sync-storage-persister: any of: packages/query-sync-storage-persister/**
  @tanstack/query-test-utils: any of: packages/query-test-utils/**
  @tanstack/react-query: any of: packages/react-query/**
  @tanstack/react-query-devtools: any of: packages/react-query-devtools/**
  @tanstack/react-query-next-experimental: any of: packages/react-query-next-experimental/**
  @tanstack/react-query-persist-client: any of: packages/react-query-persist-client/**
  @tanstack/solid-query: any of: packages/solid-query/**
  @tanstack/solid-query-devtools: any of: packages/solid-query-devtools/**
  @tanstack/solid-query-persist-client: any of: packages/solid-query-persist-client/**
  @tanstack/svelte-query: any of: packages/svelte-query/**
  @tanstack/svelte-query-devtools: any of: packages/svelte-query-devtools/**
  @tanstack/svelte-query-persist-client: any of: packages/svelte-query-persist-client/**
  @tanstack/vue-query: any of: packages/vue-query/**
  @tanstack/vue-query-devtools: any of: packages/vue-query-devtools/**
