Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools, @tanstack/angular-query, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

useSuspenseQueries combine
  .changeset/wild-rabbits-jump.md
  packages/query-core/src/__tests__/queriesObserver.test.tsx
  packages/query-core/src/queriesObserver.ts
  packages/react-query/src/useQueries.ts
  packages/react-query/src/useSuspenseQueries.ts
Due: @tanstack/query-core, @tanstack/react-query

fix(solid-query): allow combine to return arbitrary object shape (#7522)
  .changeset/fix-solid-query-combine-custom-result-shape.md
  packages/solid-query/src/__tests__/useQueries.test-d.tsx
  packages/solid-query/src/useQueries.ts
Due: @tanstack/solid-query

fix(svelte-query): wrap TData in NoInfer on query return types (#7673)
  .changeset/svelte-query-no-infer-tdata.md
  packages/svelte-query/src/createInfiniteQuery.ts
  packages/svelte-query/src/createQuery.ts
  packages/svelte-query/tests/createQuery/createQuery.test-d.ts
Due: @tanstack/svelte-query

Feature/use suspense queries combine (#10576)
  .changeset/wild-rabbits-jump.md
  packages/query-core/src/__tests__/queriesObserver.test.tsx
  packages/query-core/src/queriesObserver.ts
  packages/react-query/src/__tests__/useSuspenseQueries.test.tsx
Due: @tanstack/query-core, @tanstack/react-query

fix(vue-query): preserve discriminated union narrowing in UseBaseQueryReturnType (#9244)
  .changeset/vue-query-narrow-result-type.md
  docs/framework/vue/typescript.md
  packages/vue-query/src/__tests__/useQuery.test-d.ts
  packages/vue-query/src/useBaseQuery.ts
Due: @tanstack/vue-query

fix(devtools): change onClose callback type from () => unknown to () … (#10118)
  .changeset/chatty-socks-act.md
  docs/framework/react/devtools.md
  docs/framework/vue/devtools.md
  packages/angular-query-experimental/src/devtools-panel/types.ts
  packages/query-devtools/src/Devtools.tsx
  packages/query-devtools/src/TanstackQueryDevtoolsPanel.tsx
  packages/query-devtools/src/contexts/QueryDevtoolsContext.ts
  packages/react-query-devtools/src/ReactQueryDevtoolsPanel.tsx
  packages/solid-query-devtools/src/devtoolsPanel.tsx
  packages/vue-query-devtools/src/types.ts
Due: @tanstack/query-devtools, @tanstack/react-query-devtools, @tanstack/solid-query-devtools, @tanstack/vue-query-devtools

Handle sync hydration for idle query shells
  packages/query-core/src/hydration.ts
  packages/react-query/src/__tests__/HydrationBoundary.test.tsx
Due: @tanstack/query-core, @tanstack/react-query

add a test
  packages/query-core/src/__tests__/infiniteQueryBehavior.test.tsx
Due: @tanstack/query-core

fix(query-core): propagate AbortSignal reason in infiniteQueryBehavior fetchPage cancellation (#10476)
  packages/query-core/src/__tests__/infiniteQueryBehavior.test.tsx
  packages/query-core/src/infiniteQueryBehavior.ts
Due: @tanstack/query-core

fix: add missing changeset
  .changeset/solid-hounds-hammer.md
Due: none

fix(vue-query): parameterize suspense return type by TResult
  packages/vue-query/src/useBaseQuery.ts
Due: @tanstack/vue-query

test(solid-query): add runtime test for combine returning arbitrary shape
  packages/solid-query/src/__tests__/useQueries.test.tsx
Due: @tanstack/solid-query

fix(vue-query): preserve TQueryKey inference with generic params (#8199)
  .changeset/vue-query-generic-querykey-inference.md
  packages/vue-query/src/__tests__/useQuery.test-d.ts
  packages/vue-query/src/useQuery.ts
Due: @tanstack/vue-query

test(vue-query): strengthen #8199 regression assertion with explicit TData
  packages/vue-query/src/__tests__/useQuery.test-d.ts
Due: @tanstack/vue-query

Handle sync hydration for idle pending queries
  packages/query-core/src/__tests__/hydration.test.tsx
  packages/query-core/src/hydration.ts
Due: @tanstack/query-core

test(angular-query-experimental/injectInfiniteQuery): add test for error state when 'queryFn' rejects
  packages/angular-query-experimental/src/__tests__/inject-infinite-query.test.ts
Due: none

test(angular-query-experimental/injectInfiniteQuery): add test for error state when 'queryFn' rejects (#10585)
  packages/angular-query-experimental/src/__tests__/inject-infinite-query.test.ts
Due: none

test(angular-query-experimental/injectQuery): add test for 'select' option transforming 'queryFn' data
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
Due: none

test(angular-query-experimental/injectQuery): add test for 'select' option transforming 'queryFn' data (#10586)
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
Due: none

test(angular-query-experimental/injectQuery): add test for 'placeholderData' lifecycle
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
Due: none

test(angular-query-experimental/injectQuery): add test for 'placeholderData' lifecycle (#10587)
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
Due: none

test(angular-query-experimental/injectQuery): remove duplicate error test already covered by 'should reject and update signal'
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
Due: none

test(angular-query-experimental/injectQuery): remove duplicate error test already covered by 'should reject and update signal' (#10588)
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
Due: none

test(angular-query-experimental/injectMutation): switch 'error' test to '@Component' + 'render' pattern
  packages/angular-query-experimental/src/__tests__/inject-mutation.test.ts
Due: none

test(angular-query-experimental/injectMutation): switch 'error' test to '@Component' + 'render' pattern (#10589)
  packages/angular-query-experimental/src/__tests__/inject-mutation.test.ts
Due: none

test(angular-query-experimental/injectMutation): switch 'pending' test to '@Component' + 'render' pattern
  packages/angular-query-experimental/src/__tests__/inject-mutation.test.ts
Due: none

test(angular-query-experimental/injectMutation): switch 'pending' test to '@Component' + 'render' pattern (#10590)
  packages/angular-query-experimental/src/__tests__/inject-mutation.test.ts
Due: none

Revert "test(solid-query): add runtime test for combine returning arbitrary shape"
  packages/solid-query/src/__tests__/useQueries.test.tsx
Due: @tanstack/solid-query

test(angular-query-experimental/injectMutation): add test for 'mutateAsync' resolving with 'mutationFn' return value
  packages/angular-query-experimental/src/__tests__/inject-mutation.test.ts
Due: none

fix(solid-query): don't trigger Suspense when data is already cached
  .changeset/solid-query-suspense-ensure-data.md
  packages/solid-query/src/__tests__/suspense.test.tsx
  packages/solid-query/src/useBaseQuery.ts
Due: @tanstack/solid-query

test(angular-query-experimental/injectMutation): add test for 'mutateAsync' resolving with 'mutationFn' return value (#10591)
  packages/angular-query-experimental/src/__tests__/inject-mutation.test.ts
Due: none

fix(query-core): use built-in NoInfer to support generic indexed-access types
  .changeset/query-core-noinfer-builtin.md
  packages/query-core/src/noInfer.ts
  packages/query-core/src/types.ts
  packages/react-query/src/__tests__/useQuery.test-d.tsx
  packages/vue-query/src/queryClient.ts
Due: @tanstack/query-core, @tanstack/react-query, @tanstack/vue-query

test(angular-query-experimental/injectIsFetching): add filter test by 'queryKey'
  packages/angular-query-experimental/src/__tests__/inject-is-fetching.test.ts
Due: none

test(angular-query-experimental/injectIsFetching): add filter test by 'queryKey' (#10594)
  packages/angular-query-experimental/src/__tests__/inject-is-fetching.test.ts
Due: none

test(angular-query-experimental/injectIsMutating): add filter test by 'mutationKey'
  packages/angular-query-experimental/src/__tests__/inject-is-mutating.test.ts
Due: none

test(angular-query-experimental/injectIsMutating): add filter test by 'mutationKey' (#10595)
  packages/angular-query-experimental/src/__tests__/inject-is-mutating.test.ts
Due: none

test(angular-query-experimental/injectIsRestoring): add test for reactively reflecting changes to the provided signal
  packages/angular-query-experimental/src/__tests__/inject-is-restoring.test.ts
Due: none

test(react-query): move 'generic indexed access TData' describe out of 'initialData'
  packages/react-query/src/__tests__/useQuery.test-d.tsx
Due: @tanstack/react-query

test(angular-query-experimental/injectIsRestoring): add test for reactively reflecting changes to the provided signal (#10596)
  packages/angular-query-experimental/src/__tests__/inject-is-restoring.test.ts
Due: none

test(react-query): document implicit regression guard for generic indexed-access NoInfer
  packages/react-query/src/__tests__/useQuery.test-d.tsx
Due: @tanstack/react-query

Path conditions:
  @tanstack/angular-query-devtools: any of: packages/angular-query-devtools/**
  @tanstack/angular-query: any of: packages/angular-query/**
  @tanstack/eslint-plugin-query: any of: packages/eslint-plugin-query/**
  @tanstack/query-async-storage-persister: any of: packages/query-async-storage-persister/**
  @tanstack/query-broadcast-client-experimental: any of: packages/query-broadcast-client-experimental/**
  @tanstack/query-codemods: any of: packages/query-codemods/**
  @tanstack/query-core: any of: packages/query-core/**
  @tanstack/query-devtools: any of: packages/query-devtools/**
  @tanstack/query-persist-client-core: any of: packages/query-persist-client-core/**
  @tanstack/query-sync-storage-persister: any of: packages/query-sync-storage-persister/**
  @tanstack/query-test-utils: any of: packages/query-test-utils/**
  @tanstack/react-query: any of: packages/react-query/**
  @tanstack/react-query-devtools: any of: packages/react-query-devtools/**
  @tanstack/react-query-next-experimental: any of: packages/react-query-next-experimental/**
  @tanstack/react-query-persist-client: any of: packages/react-query-persist-client/**
  @tanstack/solid-query: any of: packages/solid-query/**
  @tanstack/solid-query-devtools: any of: packages/solid-query-devtools/**
  @tanstack/solid-query-persist-client: any of: packages/solid-query-persist-client/**
  @tanstack/svelte-query: any of: packages/svelte-query/**
  @tanstack/svelte-query-devtools: any of: packages/svelte-query-devtools/**
  @tanstack/svelte-query-persist-client: any of: packages/svelte-query-persist-client/**
  @tanstack/vue-query: any of: packages/vue-query/**
  @tanstack/vue-query-devtools: any of: packages/vue-query-devtools/**
