Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

revert: This reverts commit 34f71fd
  pnpm-lock.yaml
Due: none

Apply suggestions from code review
  packages/react-query/src/__tests__/useQueries.test-d.tsx
Due: @tanstack/react-query

refactor(angular-query): build with vite, publish d.ts files to package root
  packages/angular-query-experimental/.attw.json
  packages/angular-query-experimental/package.json
  packages/angular-query-experimental/scripts/prepack.js
  packages/angular-query-experimental/src/test-setup.ts
  packages/angular-query-experimental/tsconfig.json
  packages/angular-query-experimental/tsconfig.prod.json
  packages/angular-query-experimental/tsup.config.js
  packages/angular-query-experimental/vite.config.ts
  packages/angular-query-persist-client/.attw.json
  packages/angular-query-persist-client/package.json
  packages/angular-query-persist-client/src/test-setup.ts
  packages/angular-query-persist-client/tsconfig.json
  pnpm-lock.yaml
Due: @tanstack/angular-query-experimental

fix: we don't want errors that get reverted internally to throw on imperative methods
  packages/query-core/src/__tests__/query.test.tsx
  packages/query-core/src/query.ts
  packages/query-core/src/retryer.ts
Due: @tanstack/query-core

refactor: async/await
  packages/query-core/src/query.ts
  packages/query-core/src/retryer.ts
Due: @tanstack/query-core

minimal test adjustments
  packages/query-core/src/__tests__/hydration.test.tsx
  packages/query-core/src/__tests__/infiniteQueryBehavior.test.tsx
  packages/query-core/src/__tests__/query.test.tsx
  packages/query-core/src/__tests__/queryClient.test.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/query-core, @tanstack/react-query

test: fix it
  packages/query-core/src/__tests__/query.test.tsx
Due: @tanstack/query-core

fix: revertState is now a local variable
  packages/query-core/src/query.ts
Due: @tanstack/query-core

refactor(angular-query): build with vite, publish d.ts files to package root (#9292)
  packages/angular-query-experimental/.attw.json
  packages/angular-query-experimental/package.json
  packages/angular-query-experimental/scripts/prepack.js
  packages/angular-query-experimental/src/test-setup.ts
  packages/angular-query-experimental/tsconfig.json
  packages/angular-query-experimental/tsconfig.prod.json
  packages/angular-query-experimental/tsup.config.js
  packages/angular-query-experimental/vite.config.ts
  packages/angular-query-persist-client/.attw.json
  packages/angular-query-persist-client/package.json
  packages/angular-query-persist-client/src/test-setup.ts
  packages/angular-query-persist-client/tsconfig.json
  pnpm-lock.yaml
Due: @tanstack/angular-query-experimental

chore(angular-query): run prepack after build
  packages/angular-query-experimental/package.json
Due: @tanstack/angular-query-experimental

chore(angular-query): run prepack after build (#9294)
  packages/angular-query-experimental/package.json
Due: @tanstack/angular-query-experimental

chore: add .cursor/rules to .gitignore
  .gitignore
Due: none

chore: add .cursor/rules to .gitignore (#9295)
  .gitignore
Due: none

chore: update documentation generation and publishing scripts
  package.json
  scripts/generateDocs.ts
  scripts/publish.ts
Due: none

fix: make sure "silent" reverts do not reject ongoing promises
  packages/query-core/src/__tests__/query.test.tsx
  packages/query-core/src/index.ts
  packages/query-core/src/query.ts
  packages/query-core/src/retryer.ts
Due: @tanstack/query-core

chore: update documentation generation and publishing scripts (#9296)
  package.json
  scripts/generateDocs.ts
  scripts/publish.ts
Due: none

fix: trigger release
  README.md
Due: none

Update docs/framework/react/typescript.md
  docs/framework/react/typescript.md
Due: none

Update docs/framework/react/reference/mutationOptions.md
  docs/framework/react/reference/mutationOptions.md
Due: none

fix(angular-query): fix package publishing
  knip.json
  packages/angular-query-experimental/package.json
  packages/angular-query-experimental/scripts/prepack.js
  packages/angular-query-experimental/scripts/prepare-package.js
Due: @tanstack/angular-query-experimental

fix(angular-query): fix package publishing (#9297)
  knip.json
  packages/angular-query-experimental/package.json
  packages/angular-query-experimental/scripts/prepack.js
  packages/angular-query-experimental/scripts/prepare-package.js
Due: @tanstack/angular-query-experimental

chore(angular-query): revert to tsup to build package
  knip.json
  packages/angular-query-experimental/package.json
  packages/angular-query-experimental/tsup.config.ts
  pnpm-lock.yaml
Due: @tanstack/angular-query-experimental

chore(angular-query): revert to tsup to build package (#9298)
  knip.json
  packages/angular-query-experimental/package.json
  packages/angular-query-experimental/tsup.config.ts
  pnpm-lock.yaml
Due: @tanstack/angular-query-experimental

fix: update mutationOptions type definition to allow optional mutationKey with restricting filter when mutationKey wasn't passed
  packages/react-query/src/__tests__/mutationOptions.test-d.tsx
  packages/react-query/src/mutationOptions.ts
Due: @tanstack/react-query

test(vue-query): use fakeTimers for flaky useMutation.test.tsx
  packages/vue-query/src/__tests__/useMutation.test.ts
Due: @tanstack/vue-query

test(vue-query): use fakeTimers for flaky useMutation.test.tsx (#9300)
  packages/vue-query/src/__tests__/useMutation.test.ts
Due: @tanstack/vue-query

fix(query-core): do not fetch if queryFn is skipToken
  packages/query-core/src/__tests__/queryClient.test.tsx
  packages/query-core/src/queryClient.ts
Due: @tanstack/query-core

chore: update @tanstack/config
  eslint.config.js
  package.json
  packages/svelte-query-devtools/eslint.config.js
  packages/svelte-query-devtools/package.json
  packages/svelte-query-persist-client/eslint.config.js
  packages/svelte-query-persist-client/package.json
  packages/svelte-query/eslint.config.js
  packages/svelte-query/package.json
  pnpm-lock.yaml
Due: @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client

add test
  packages/query-core/src/__tests__/hydration.test.tsx
Due: @tanstack/query-core

meep
  packages/query-core/package.json
  packages/query-core/src/__tests__/hydration.test.tsx
  packages/query-core/src/hydration.ts
  pnpm-lock.yaml
Due: @tanstack/query-core

tweak
  packages/query-core/src/hydration.ts
Due: @tanstack/query-core

fmt
  packages/query-core/src/__tests__/hydration.test.tsx
Due: @tanstack/query-core

lint
  packages/query-core/src/__tests__/hydration.test.tsx
Due: @tanstack/query-core

mkay
  packages/query-core/src/__tests__/hydration.test.tsx
Due: @tanstack/query-core

rm
  packages/query-core/src/__tests__/hydration.test.tsx
Due: @tanstack/query-core

chore(react-query): update peer-deps for react19 in v4
  packages/react-query-devtools/package.json
  packages/react-query/package.json
Due: @tanstack/react-query, @tanstack/react-query-devtools

Path conditions:
  @tanstack/angular-query-devtools-experimental: any of: packages/angular-query-devtools-experimental/**
  @tanstack/angular-query-experimental: any of: packages/angular-query-experimental/**
  @tanstack/eslint-plugin-query: any of: packages/eslint-plugin-query/**
  @tanstack/query-async-storage-persister: any of: packages/query-async-storage-persister/**
  @tanstack/query-broadcast-client-experimental: any of: packages/query-broadcast-client-experimental/**
  @tanstack/query-codemods: any of: packages/codemods/**
  @tanstack/query-core: any of: packages/query-core/**
  @tanstack/query-devtools: any of: packages/query-devtools/**
  @tanstack/query-persist-client-core: any of: packages/query-persist-client-core/**
  @tanstack/query-sync-storage-persister: any of: packages/query-sync-storage-persister/**
  @tanstack/react-query: any of: packages/react-query/**
  @tanstack/react-query-devtools: any of: packages/react-query-devtools/**
  @tanstack/react-query-next-experimental: any of: packages/react-query-next-experimental/**
  @tanstack/react-query-persist-client: any of: packages/react-query-persist-client/**
  @tanstack/solid-query: any of: packages/solid-query/**
  @tanstack/solid-query-devtools: any of: packages/solid-query-devtools/**
  @tanstack/solid-query-persist-client: any of: packages/solid-query-persist-client/**
  @tanstack/svelte-query: any of: packages/svelte-query/**
  @tanstack/svelte-query-devtools: any of: packages/svelte-query-devtools/**
  @tanstack/svelte-query-persist-client: any of: packages/svelte-query-persist-client/**
  @tanstack/vue-query: any of: packages/vue-query/**
  @tanstack/vue-query-devtools: any of: packages/vue-query-devtools/**
