Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

Run prettier
  docs/framework/angular/reference/BaseMutationNarrowing.md
  docs/framework/angular/reference/BaseQueryNarrowing.md
  docs/framework/angular/reference/CreateBaseMutationResult.md
  docs/framework/angular/reference/CreateBaseQueryOptions.md
  docs/framework/angular/reference/CreateInfiniteQueryOptions.md
  docs/framework/angular/reference/CreateQueryOptions.md
  docs/framework/angular/reference/DefinedInitialDataInfiniteOptions.md
  docs/framework/angular/reference/DefinedInitialDataOptions.md
  docs/framework/angular/reference/QueriesOptions.md
  docs/framework/angular/reference/QueriesResults.md
  docs/framework/angular/reference/UndefinedInitialDataInfiniteOptions.md
  docs/framework/angular/reference/UndefinedInitialDataOptions.md
  docs/framework/angular/reference/index.md
  docs/framework/angular/reference/infiniteQueryOptions.md
  docs/framework/angular/reference/injectInfiniteQuery.md
  docs/framework/angular/reference/injectMutation.md
  docs/framework/angular/reference/injectMutationState.md
  docs/framework/angular/reference/injectQueries.md
  docs/framework/angular/reference/injectQuery.md
  docs/framework/angular/reference/injectQueryClient.md
  docs/framework/angular/reference/queryOptions.md
  docs/framework/svelte/reference/CreateBaseMutationResult.md
  docs/framework/svelte/reference/CreateBaseQueryOptions.md
  docs/framework/svelte/reference/CreateInfiniteQueryOptions.md
  docs/framework/svelte/reference/CreateQueryOptions.md
  docs/framework/svelte/reference/DefinedInitialDataOptions.md
  docs/framework/svelte/reference/HydrationBoundary.md
  docs/framework/svelte/reference/QueriesOptions.md
  docs/framework/svelte/reference/QueriesResults.md
  docs/framework/svelte/reference/UndefinedInitialDataOptions.md
  docs/framework/svelte/reference/createInfiniteQuery.md
  docs/framework/svelte/reference/createMutation.md
  docs/framework/svelte/reference/createQueries.md
  docs/framework/svelte/reference/createQuery.md
  docs/framework/svelte/reference/index.md
  docs/framework/svelte/reference/infiniteQueryOptions.md
  docs/framework/svelte/reference/queryOptions.md
  docs/framework/svelte/reference/useHydrate.md
Due: none

docs(typedoc): Use generateReferenceDocs function
  package.json
  pnpm-lock.yaml
  scripts/generateDocs.js
  scripts/reference-docs.js
  scripts/typedoc-remove-prefix.js
Due: none

Fix type
  scripts/generateDocs.js
Due: none

docs(typedoc): Use `generateReferenceDocs` function (#7765)
  package.json
  pnpm-lock.yaml
  scripts/generateDocs.js
  scripts/reference-docs.js
  scripts/typedoc-remove-prefix.js
Due: none

fix(eslint-plugin): type configs
  packages/eslint-plugin-query/src/index.ts
Due: @tanstack/eslint-plugin-query

refactor(react-query): add error message for skipToken in useSuspenseQueries
  packages/react-query/src/useSuspenseQueries.ts
Due: @tanstack/react-query

Fix createQueries initialData type
  packages/react-query/src/__tests__/queryOptions.test-d.tsx
  packages/svelte-query/src/createQueries.ts
  packages/svelte-query/src/queryOptions.ts
  packages/svelte-query/tests/createQueries/createQueries.test-d.ts
  packages/svelte-query/tests/infiniteQueryOptions/infiniteQueryOptions.test-d.ts
  packages/svelte-query/tests/infiniteQueryOptions/infiniteQueryOptions.test.ts
  packages/svelte-query/tests/queryOptions/queryOptions.test-d.ts
Due: @tanstack/react-query, @tanstack/svelte-query

Fix createQuery types
  packages/svelte-query/src/createQuery.ts
  packages/svelte-query/tests/createQueries/createQueries.test-d.ts
  packages/svelte-query/tests/createQuery/createQuery.test-d.ts
Due: @tanstack/svelte-query

fix(svelte-query): Correct data type when `initialData` is set (#7769)
  packages/react-query/src/__tests__/queryOptions.test-d.tsx
  packages/svelte-query/src/createQueries.ts
  packages/svelte-query/src/createQuery.ts
  packages/svelte-query/src/queryOptions.ts
  packages/svelte-query/tests/createQueries/createQueries.test-d.ts
  packages/svelte-query/tests/createQuery/createQuery.test-d.ts
  packages/svelte-query/tests/infiniteQueryOptions/infiniteQueryOptions.test-d.ts
  packages/svelte-query/tests/infiniteQueryOptions/infiniteQueryOptions.test.ts
  packages/svelte-query/tests/queryOptions/queryOptions.test-d.ts
Due: @tanstack/react-query, @tanstack/svelte-query

release: v5.51.11
  examples/react/algolia/package.json
  examples/react/auto-refetching/package.json
  examples/react/basic-graphql-request/package.json
  examples/react/basic/package.json
  examples/react/default-query-function/package.json
  examples/react/infinite-query-with-max-pages/package.json
  examples/react/load-more-infinite-scroll/package.json
  examples/react/nextjs-app-prefetching/package.json
  examples/react/nextjs-suspense-streaming/package.json
  examples/react/nextjs/package.json
  examples/react/offline/package.json
  examples/react/optimistic-updates-cache/package.json
  examples/react/optimistic-updates-ui/package.json
  examples/react/pagination/package.json
  examples/react/playground/package.json
  examples/react/prefetching/package.json
  examples/react/react-native/package.json
  examples/react/react-router/package.json
  examples/react/rick-morty/package.json
  examples/react/shadow-dom/package.json
  examples/react/simple/package.json
  examples/react/star-wars/package.json
  examples/react/suspense/package.json
  examples/svelte/auto-refetching/package.json
  examples/svelte/basic/package.json
  examples/svelte/load-more-infinite-scroll/package.json
  examples/svelte/optimistic-updates-typescript/package.json
  examples/svelte/playground/package.json
  examples/svelte/simple/package.json
  examples/svelte/ssr/package.json
  examples/svelte/star-wars/package.json
  packages/react-query-devtools/package.json
  packages/react-query-next-experimental/package.json
  packages/react-query-persist-client/package.json
  packages/react-query/package.json
  packages/svelte-query-devtools/package.json
  packages/svelte-query-persist-client/package.json
  packages/svelte-query/package.json
  pnpm-lock.yaml
Due: @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client

fix(eslint-plugin): type config names (#7766)
  packages/eslint-plugin-query/src/index.ts
Due: @tanstack/eslint-plugin-query

release: v5.51.12
  examples/react/algolia/package.json
  examples/react/basic/package.json
  examples/solid/simple/package.json
  packages/eslint-plugin-query/package.json
  pnpm-lock.yaml
Due: @tanstack/eslint-plugin-query

Fix merge
  packages/svelte-query/src/createQueries.svelte.ts
  packages/svelte-query/src/createQuery.ts
  packages/svelte-query/tests/createQueries/createQueries.test-d.ts
  packages/svelte-query/tests/createQuery/createQuery.test-d.ts
  packages/svelte-query/tests/infiniteQueryOptions/infiniteQueryOptions.test-d.ts
  packages/svelte-query/tests/queryOptions/queryOptions.test-d.ts
Due: @tanstack/svelte-query

Fix eslint
  examples/svelte/auto-refetching/package.json
  examples/svelte/basic/package.json
  examples/svelte/load-more-infinite-scroll/package.json
  examples/svelte/optimistic-updates-typescript/package.json
  examples/svelte/playground/package.json
  examples/svelte/simple/package.json
  examples/svelte/ssr/package.json
  examples/svelte/star-wars/package.json
  examples/svelte/svelte-melt/package.json
  integrations/svelte-vite/package.json
  packages/svelte-query-devtools/package.json
  packages/svelte-query-persist-client/package.json
  packages/svelte-query/package.json
  pnpm-lock.yaml
Due: @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client

docs(solid-query): update doc correctly
  docs/framework/solid/quick-start.md
Due: none

fix
  packages/svelte-query/src/createBaseQuery.svelte.ts
  packages/svelte-query/src/types.ts
Due: @tanstack/svelte-query

fix
  packages/svelte-query/src/createBaseQuery.svelte.ts
Due: @tanstack/svelte-query

test(svelte-query): Better createMutation tests
  packages/svelte-query/tests/createInfiniteQuery/SelectExample.svelte
  packages/svelte-query/tests/createInfiniteQuery/createInfiniteQuery.test.ts
  packages/svelte-query/tests/createMutation/BaseExample.svelte
  packages/svelte-query/tests/createMutation/FailureExample.svelte
  packages/svelte-query/tests/createMutation/OnSuccessExample.svelte
  packages/svelte-query/tests/createMutation/ResetExample.svelte
  packages/svelte-query/tests/createMutation/createMutation.test.ts
Due: @tanstack/svelte-query

test(svelte-query): Better createMutation tests (#7773)
  packages/svelte-query/tests/createInfiniteQuery/SelectExample.svelte
  packages/svelte-query/tests/createInfiniteQuery/createInfiniteQuery.test.ts
  packages/svelte-query/tests/createMutation/BaseExample.svelte
  packages/svelte-query/tests/createMutation/FailureExample.svelte
  packages/svelte-query/tests/createMutation/OnSuccessExample.svelte
  packages/svelte-query/tests/createMutation/ResetExample.svelte
  packages/svelte-query/tests/createMutation/createMutation.test.ts
Due: @tanstack/svelte-query

ci: remove test:format from Nx
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/pr.yml
  nx.json
  package.json
Due: none

ci: remove test:format from Nx workflow (#7775)
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/pr.yml
  nx.json
  package.json
Due: none

fix(eslint-plugin): strictly type config keys
  packages/eslint-plugin-query/src/index.ts
Due: @tanstack/eslint-plugin-query

fix: remove union for `recommended`
  packages/eslint-plugin-query/src/index.ts
Due: @tanstack/eslint-plugin-query

fix(eslint-plugin): strictly type config keys (#7780)
  packages/eslint-plugin-query/src/index.ts
Due: @tanstack/eslint-plugin-query

release: v5.51.13
  examples/react/algolia/package.json
  examples/react/basic/package.json
  examples/solid/simple/package.json
  packages/eslint-plugin-query/package.json
  pnpm-lock.yaml
Due: @tanstack/eslint-plugin-query

fix
  packages/svelte-query-persist-client/src/PersistQueryClientProvider.svelte
  packages/svelte-query/src/context.ts
  packages/svelte-query/src/createQueries.svelte.ts
  packages/svelte-query/tests/createQueries/createQueries.test-d.ts
  packages/svelte-query/tests/createQuery/createQuery.test-d.ts
  packages/svelte-query/tests/infiniteQueryOptions/infiniteQueryOptions.test-d.ts
Due: @tanstack/svelte-query, @tanstack/svelte-query-persist-client

fix(query-core) export Mutation class instead of exporting it as a type
  packages/query-core/src/index.ts
Due: @tanstack/query-core

Improvements
  examples/svelte/svelte-melt/src/routes/+layout.svelte
  examples/svelte/svelte-melt/src/routes/+page.svelte
  examples/svelte/svelte-melt/src/routes/CreateQueries.svelte
  examples/svelte/svelte-melt/src/routes/cacheUpdate.svelte
  examples/svelte/svelte-melt/src/routes/derivedQuery.svelte
  examples/svelte/svelte-melt/src/routes/external.svelte.ts
  examples/svelte/svelte-melt/src/routes/external.ts
  examples/svelte/svelte-melt/src/routes/paginate.svelte
  examples/svelte/svelte-melt/src/routes/queries.svelte
  examples/svelte/svelte-melt/src/routes/test.svelte
  packages/svelte-query-devtools/src/Devtools.svelte
  packages/svelte-query/package.json
  packages/svelte-query/src/index.ts
  packages/svelte-query/src/types.ts
  packages/svelte-query/src/useMutationState.svelte.ts
  packages/svelte-query/tests/createInfiniteQuery/BaseExample.svelte
  packages/svelte-query/tests/createInfiniteQuery/SelectExample.svelte
  packages/svelte-query/tests/createQuery/PlaceholderData.svelte
  packages/svelte-query/tests/infiniteQueryOptions/infiniteQueryOptions.test-d.ts
  packages/svelte-query/tests/useMutationState/BaseExample.svelte
  packages/svelte-query/tests/useMutationState/useMutationState.test.ts
Due: @tanstack/svelte-query, @tanstack/svelte-query-devtools

Fix reactive props
  packages/svelte-query-devtools/src/Devtools.svelte
  packages/svelte-query/src/types.ts
Due: @tanstack/svelte-query, @tanstack/svelte-query-devtools

Add back missing option
  packages/svelte-query-devtools/src/Devtools.svelte
Due: @tanstack/svelte-query-devtools

chore(svelte-query): Tweak provider tests
  .github/workflows/pr.yml
  packages/svelte-query-persist-client/tests/AwaitOnSuccess/AwaitOnSuccess.svelte
  packages/svelte-query-persist-client/tests/FreshData/FreshData.svelte
  packages/svelte-query-persist-client/tests/InitialData/InitialData.svelte
  packages/svelte-query-persist-client/tests/OnSuccess/OnSuccess.svelte
  packages/svelte-query-persist-client/tests/PersistQueryClientProvider.test.ts
  packages/svelte-query-persist-client/tests/RemoveCache/RemoveCache.svelte
  packages/svelte-query-persist-client/tests/RestoreCache/RestoreCache.svelte
  packages/svelte-query-persist-client/tests/UseQueries/UseQueries.svelte
Due: @tanstack/svelte-query-persist-client

chore(svelte-query): Tweak provider tests (#7794)
  .github/workflows/pr.yml
  packages/svelte-query-persist-client/tests/AwaitOnSuccess/AwaitOnSuccess.svelte
  packages/svelte-query-persist-client/tests/FreshData/FreshData.svelte
  packages/svelte-query-persist-client/tests/InitialData/InitialData.svelte
  packages/svelte-query-persist-client/tests/OnSuccess/OnSuccess.svelte
  packages/svelte-query-persist-client/tests/PersistQueryClientProvider.test.ts
  packages/svelte-query-persist-client/tests/RemoveCache/RemoveCache.svelte
  packages/svelte-query-persist-client/tests/RestoreCache/RestoreCache.svelte
  packages/svelte-query-persist-client/tests/UseQueries/UseQueries.svelte
Due: @tanstack/svelte-query-persist-client

Remove missing export
  packages/svelte-query/src/index.ts
Due: @tanstack/svelte-query

chore: Update @tanstack/config to v0.11.0
  eslint.config.js
  examples/react/offline/public/mockServiceWorker.js
  examples/solid/solid-start-streaming/src/components/query-boundary.tsx
  package.json
  packages/angular-query-experimental/src/util/create-injection-token/create-injection-token.ts
  packages/eslint-plugin-query/src/utils/ast-utils.ts
  packages/query-codemods/eslint.config.js
  packages/query-core/src/__tests__/notifyManager.test.tsx
  packages/query-core/src/__tests__/onlineManager.test.tsx
  packages/query-core/src/__tests__/queryObserver.test.tsx
  packages/query-core/src/focusManager.ts
  packages/query-core/src/hydration.ts
  packages/query-core/src/onlineManager.ts
  packages/react-query/eslint.config.js
  packages/react-query/src/HydrationBoundary.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/solid-query/src/__tests__/createQuery.test.tsx
  packages/vue-query/src/useBaseQuery.ts
  pnpm-lock.yaml
Due: @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-core, @tanstack/react-query, @tanstack/solid-query, @tanstack/vue-query

chore: Update `@tanstack/config` to v0.11.0 (#7795)
  eslint.config.js
  examples/react/offline/public/mockServiceWorker.js
  examples/solid/solid-start-streaming/src/components/query-boundary.tsx
  package.json
  packages/angular-query-experimental/src/util/create-injection-token/create-injection-token.ts
  packages/eslint-plugin-query/src/utils/ast-utils.ts
  packages/query-codemods/eslint.config.js
  packages/query-core/src/__tests__/notifyManager.test.tsx
  packages/query-core/src/__tests__/onlineManager.test.tsx
  packages/query-core/src/__tests__/queryObserver.test.tsx
  packages/query-core/src/focusManager.ts
  packages/query-core/src/hydration.ts
  packages/query-core/src/onlineManager.ts
  packages/react-query/eslint.config.js
  packages/react-query/src/HydrationBoundary.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/solid-query/src/__tests__/createQuery.test.tsx
  packages/vue-query/src/useBaseQuery.ts
  pnpm-lock.yaml
Due: @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-core, @tanstack/react-query, @tanstack/solid-query, @tanstack/vue-query

Fix JSON errors
  packages/query-async-storage-persister/tsconfig.json
  packages/query-broadcast-client-experimental/tsconfig.json
  packages/query-devtools/tsconfig.json
  packages/query-persist-client-core/tsconfig.json
  packages/query-sync-storage-persister/tsconfig.json
  packages/react-query-next-experimental/tsconfig.json
  packages/react-query-persist-client/tsconfig.json
  packages/react-query/tsconfig.json
  packages/solid-query-devtools/tsconfig.json
  packages/solid-query-persist-client/tsconfig.json
  packages/solid-query/tsconfig.json
  packages/vue-query/tsconfig.json
Due: @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/vue-query

refactor(react-query): add error message for skipToken in useSuspenseInfiniteQuery
  packages/react-query/src/useSuspenseInfiniteQuery.ts
Due: @tanstack/react-query

refactor(react-query): add error message for skipToken in useSuspenseQueries and useSuspenseInfiniteQuery (#7797)
  packages/react-query/src/useSuspenseInfiniteQuery.ts
  packages/react-query/src/useSuspenseQueries.ts
Due: @tanstack/react-query

fix(query-core): abort fetch loop for infinite queries if getNextPageParam returns null or undefined
  packages/query-core/src/__tests__/queryClient.test.tsx
  packages/query-core/src/infiniteQueryBehavior.ts
Due: @tanstack/query-core

Path conditions:
  @tanstack/angular-query-devtools-experimental: any of: packages/angular-query-devtools-experimental/**
  @tanstack/angular-query-experimental: any of: packages/angular-query-experimental/**
  @tanstack/eslint-plugin-query: any of: packages/eslint-plugin-query/**
  @tanstack/query-async-storage-persister: any of: packages/query-async-storage-persister/**
  @tanstack/query-broadcast-client-experimental: any of: packages/query-broadcast-client-experimental/**
  @tanstack/query-codemods: any of: packages/codemods/**
  @tanstack/query-core: any of: packages/query-core/**
  @tanstack/query-devtools: any of: packages/query-devtools/**
  @tanstack/query-persist-client-core: any of: packages/query-persist-client-core/**
  @tanstack/query-sync-storage-persister: any of: packages/query-sync-storage-persister/**
  @tanstack/react-query: any of: packages/react-query/**
  @tanstack/react-query-devtools: any of: packages/react-query-devtools/**
  @tanstack/react-query-next-experimental: any of: packages/react-query-next-experimental/**
  @tanstack/react-query-persist-client: any of: packages/react-query-persist-client/**
  @tanstack/solid-query: any of: packages/solid-query/**
  @tanstack/solid-query-devtools: any of: packages/solid-query-devtools/**
  @tanstack/solid-query-persist-client: any of: packages/solid-query-persist-client/**
  @tanstack/svelte-query: any of: packages/svelte-query/**
  @tanstack/svelte-query-devtools: any of: packages/svelte-query-devtools/**
  @tanstack/svelte-query-persist-client: any of: packages/svelte-query-persist-client/**
  @tanstack/vue-query: any of: packages/vue-query/**
  @tanstack/vue-query-devtools: any of: packages/vue-query-devtools/**
