Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 1%

comment:
  layout: 'header, reach, diff, flags, components'

component_management:
  individual_components:
    - component_id: angular-query-devtools-experimental
      name: '@tanstack/angular-query-devtools-experimental'
      paths:
        - packages/angular-query-devtools-experimental/**
    - component_id: angular-query-experimental
      name: '@tanstack/angular-query-experimental'
      paths:
        - packages/angular-query-experimental/**
    - component_id: eslint-plugin-query
      name: '@tanstack/eslint-plugin-query'
      paths:
        - packages/eslint-plugin-query/**
    - component_id: query-async-storage-persister
      name: '@tanstack/query-async-storage-persister'
      paths:
        - packages/query-async-storage-persister/**
    - component_id: query-broadcast-client-experimental
      name: '@tanstack/query-broadcast-client-experimental'
      paths:
        - packages/query-broadcast-client-experimental/**
    - component_id: query-codemods
      name: '@tanstack/query-codemods'
      paths:
        - packages/codemods/**
    - component_id: query-core
      name: '@tanstack/query-core'
      paths:
        - packages/query-core/**
    - component_id: query-devtools
      name: '@tanstack/query-devtools'
      paths:
        - packages/query-devtools/**
    - component_id: query-persist-client-core
      name: '@tanstack/query-persist-client-core'
      paths:
        - packages/query-persist-client-core/**
    - component_id: query-sync-storage-persister
      name: '@tanstack/query-sync-storage-persister'
      paths:
        - packages/query-sync-storage-persister/**
    - component_id: react-query
      name: '@tanstack/react-query'
      paths:
        - packages/react-query/**
    - component_id: react-query-devtools
      name: '@tanstack/react-query-devtools'
      paths:
        - packages/react-query-devtools/**
    - component_id: react-query-next-experimental
      name: '@tanstack/react-query-next-experimental'
      paths:
        - packages/react-query-next-experimental/**
    - component_id: react-query-persist-client
      name: '@tanstack/react-query-persist-client'
      paths:
        - packages/react-query-persist-client/**
    - component_id: solid-query
      name: '@tanstack/solid-query'
      paths:
        - packages/solid-query/**
    - component_id: solid-query-devtools
      name: '@tanstack/solid-query-devtools'
      paths:
        - packages/solid-query-devtools/**
    - component_id: solid-query-persist-client
      name: '@tanstack/solid-query-persist-client'
      paths:
        - packages/solid-query-persist-client/**
    - component_id: svelte-query
      name: '@tanstack/svelte-query'
      paths:
        - packages/svelte-query/**
    - component_id: svelte-query-devtools
      name: '@tanstack/svelte-query-devtools'
      paths:
        - packages/svelte-query-devtools/**
    - component_id: svelte-query-persist-client
      name: '@tanstack/svelte-query-persist-client'
      paths:
        - packages/svelte-query-persist-client/**
    - component_id: vue-query
      name: '@tanstack/vue-query'
      paths:
        - packages/vue-query/**
    - component_id: vue-query-devtools
      name: '@tanstack/vue-query-devtools'
      paths:
        - packages/vue-query-devtools/**

Update mutationCache.ts
  packages/query-core/src/mutationCache.ts
Due: @tanstack/query-core

perf(query-core): Improve mutationCache implementation performance
  packages/query-core/src/mutationCache.ts
Due: @tanstack/query-core

perf(query-core): Improve mutationCache implementation performance (#8496)
  packages/query-core/src/mutationCache.ts
Due: @tanstack/query-core

restore first code snippet
  docs/framework/angular/guides/invalidations-from-mutations.md
Due: none

docs(angular-query): remove outdated comment from example
  docs/framework/angular/guides/invalidations-from-mutations.md
Due: none

refactor(angular-query): deprecate injectQueryClient
  packages/angular-query-experimental/src/inject-query-client.ts
Due: @tanstack/angular-query-experimental

refactor(angular-query): deprecate injectQueryClient (#8497)
  packages/angular-query-experimental/src/inject-query-client.ts
Due: @tanstack/angular-query-experimental

release: v5.62.13
  examples/angular/auto-refetching/package.json
  examples/angular/basic/package.json
  examples/angular/devtools-panel/package.json
  examples/angular/infinite-query-with-max-pages/package.json
  examples/angular/pagination/package.json
  examples/angular/query-options-from-a-service/package.json
  examples/angular/router/package.json
  examples/angular/rxjs/package.json
  examples/angular/simple/package.json
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/package.json
  pnpm-lock.yaml
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental

fix(react-query): ensureSuspenseTimers should ALWAYS set staleTime to 1000 when it is below 1000. (#8398)
  packages/react-query/src/__tests__/suspense.test.tsx
  packages/react-query/src/__tests__/useSuspenseQuery.test.tsx
  packages/react-query/src/suspense.ts
Due: @tanstack/react-query

release: v5.62.14
  examples/react/algolia/package.json
  examples/react/auto-refetching/package.json
  examples/react/basic-graphql-request/package.json
  examples/react/basic/package.json
  examples/react/default-query-function/package.json
  examples/react/devtools-panel/package.json
  examples/react/infinite-query-with-max-pages/package.json
  examples/react/load-more-infinite-scroll/package.json
  examples/react/nextjs-app-prefetching/package.json
  examples/react/nextjs-suspense-streaming/package.json
  examples/react/nextjs/package.json
  examples/react/offline/package.json
  examples/react/optimistic-updates-cache/package.json
  examples/react/optimistic-updates-ui/package.json
  examples/react/pagination/package.json
  examples/react/playground/package.json
  examples/react/prefetching/package.json
  examples/react/react-native/package.json
  examples/react/react-router/package.json
  examples/react/rick-morty/package.json
  examples/react/shadow-dom/package.json
  examples/react/simple/package.json
  examples/react/star-wars/package.json
  examples/react/suspense/package.json
  packages/react-query-devtools/package.json
  packages/react-query-next-experimental/package.json
  packages/react-query-persist-client/package.json
  packages/react-query/package.json
  pnpm-lock.yaml
Due: @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client

fix(eslint-plugin-query): export Plugin interface (#8392)
  packages/eslint-plugin-query/src/index.ts
Due: @tanstack/eslint-plugin-query

test: add a test to ensure new meta gets accepted by fetchQuery
  packages/query-core/src/__tests__/queryClient.test.tsx
Due: @tanstack/query-core

fix(react-query): eslint-plugin-query now working with vanilla js (#8322)
  packages/eslint-plugin-query/src/utils/detect-react-query-imports.ts
Due: @tanstack/eslint-plugin-query

chore: add test for switching enabled state
  packages/query-core/src/__tests__/queryObserver.test.tsx
Due: @tanstack/query-core

remove sleep
  packages/query-core/src/__tests__/queryObserver.test.tsx
Due: @tanstack/query-core

mkay
  packages/query-core/src/__tests__/queryObserver.test.tsx
Due: @tanstack/query-core

lint
  packages/query-core/src/__tests__/queryObserver.test.tsx
Due: @tanstack/query-core

fix(vue-query): ensure `queryKey` match the current value of ref used inside (#8443)
  packages/vue-query/src/useQueries.ts
Due: @tanstack/vue-query

update the doc
  docs/framework/react/react-native.md
Due: none

wip
  packages/react-query/src/useBaseQuery.ts
Due: @tanstack/react-query

wip
  packages/react-query/src/__tests__/useQuery.promise.test.tsx
Due: @tanstack/react-query

meep
  packages/query-core/src/__tests__/queryObserver.test.tsx
  packages/react-query/src/__tests__/useQuery.promise.test.tsx
Due: @tanstack/query-core, @tanstack/react-query

meep
  packages/react-query/src/useBaseQuery.ts
Due: @tanstack/react-query

cool
  packages/react-query/src/useBaseQuery.ts
Due: @tanstack/react-query

tweak
  packages/react-query/src/__tests__/useQuery.promise.test.tsx
Due: @tanstack/react-query

eeek
  packages/query-core/src/__tests__/queryObserver.test.tsx
Due: @tanstack/query-core

fix(QueriesObserver): include default options on duplicate query, queryHash check (#8432)
  packages/query-core/src/queriesObserver.ts
Due: @tanstack/query-core

revert
  packages/query-core/src/__tests__/queryObserver.test.tsx
Due: @tanstack/query-core

docs(react): update the react-native.md section (#8506)
  docs/framework/react/react-native.md
Due: none

docs: reference
  docs/framework/react/reference/useQuery.md
Due: none

feat(react-query): allow useQuery and useQueries to unsubscribe from the query cache with an option (#8348)
  docs/framework/react/react-native.md
  docs/framework/react/reference/useQuery.md
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/react-query/src/types.ts
  packages/react-query/src/useBaseQuery.ts
  packages/react-query/src/useQueries.ts
Due: @tanstack/react-query

release: v5.63.0
  examples/react/algolia/package.json
  examples/react/auto-refetching/package.json
  examples/react/basic-graphql-request/package.json
  examples/react/basic/package.json
  examples/react/default-query-function/package.json
  examples/react/devtools-panel/package.json
  examples/react/infinite-query-with-max-pages/package.json
  examples/react/load-more-infinite-scroll/package.json
  examples/react/nextjs-app-prefetching/package.json
  examples/react/nextjs-suspense-streaming/package.json
  examples/react/nextjs/package.json
  examples/react/offline/package.json
  examples/react/optimistic-updates-cache/package.json
  examples/react/optimistic-updates-ui/package.json
  examples/react/pagination/package.json
  examples/react/playground/package.json
  examples/react/prefetching/package.json
  examples/react/react-native/package.json
  examples/react/react-router/package.json
  examples/react/rick-morty/package.json
  examples/react/shadow-dom/package.json
  examples/react/simple/package.json
  examples/react/star-wars/package.json
  examples/react/suspense/package.json
  packages/react-query-devtools/package.json
  packages/react-query-next-experimental/package.json
  packages/react-query-persist-client/package.json
  packages/react-query/package.json
  pnpm-lock.yaml
Due: @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client

docs(react-query): Add import statement with skipToken to the docs
  docs/framework/react/guides/disabling-queries.md
Due: none

docs(react-query): Add import statement with skipToken to the docs (#8519)
  docs/framework/react/guides/disabling-queries.md
Due: none

feat(types): support typing QueryKey and MutationKey via Register
  docs/framework/react/typescript.md
  packages/query-core/src/types.ts
Due: @tanstack/query-core

feat(types): support typing `QueryKey` and `MutationKey` via `Register` (#8521)
  docs/framework/react/typescript.md
  packages/query-core/src/types.ts
Due: @tanstack/query-core

docs(react-query): per component select pattern
  docs/framework/react/guides/query-options.md
Due: none
