Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

revert refactor i did for cancellation when we wanted it to `throw`
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/thenable.ts
Due: @tanstack/query-core

fix(eslint-plugin-query): relax property order rule to ignore relative order of getPreviousPageParam and getNextPageParam
  packages/eslint-plugin-query/src/__tests__/infinite-query-property-order.rule.test.ts
  packages/eslint-plugin-query/src/__tests__/infinite-query-property-order.utils.test.ts
  packages/eslint-plugin-query/src/rules/infinite-query-property-order/constants.ts
  packages/eslint-plugin-query/src/rules/infinite-query-property-order/infinite-query-property-order.rule.ts
  packages/eslint-plugin-query/src/rules/infinite-query-property-order/infinite-query-property-order.utils.ts
Due: @tanstack/eslint-plugin-query

fix(eslint-plugin-query): relax property order rule to ignore relative order of getPreviousPageParam and getNextPageParam (#8074)
  packages/eslint-plugin-query/src/__tests__/infinite-query-property-order.rule.test.ts
  packages/eslint-plugin-query/src/__tests__/infinite-query-property-order.utils.test.ts
  packages/eslint-plugin-query/src/rules/infinite-query-property-order/constants.ts
  packages/eslint-plugin-query/src/rules/infinite-query-property-order/infinite-query-property-order.rule.ts
  packages/eslint-plugin-query/src/rules/infinite-query-property-order/infinite-query-property-order.utils.ts
Due: @tanstack/eslint-plugin-query

release: v5.57.1
  examples/react/algolia/package.json
  examples/react/basic/package.json
  examples/solid/simple/package.json
  packages/eslint-plugin-query/package.json
  pnpm-lock.yaml
Due: @tanstack/eslint-plugin-query

docs: Don't use $ prefix in Bash examples (#8067)
  docs/eslint/eslint-plugin-query.md
Due: none

docs(react-query): fix queryClient description of useMutation and useQuery
  docs/framework/react/reference/useMutation.md
  docs/framework/react/reference/useQuery.md
Due: none

docs(react-query): fix queryClient description of useMutation and use… (#8077)
  docs/framework/react/reference/useMutation.md
  docs/framework/react/reference/useQuery.md
Due: none

refactor: handle type error when skipToken is present in suspense query
  packages/react-query/src/__tests__/prefetch.test.tsx
  packages/react-query/src/__tests__/useSuspenseQueries.test-d.tsx
  packages/react-query/src/infiniteQueryOptions.ts
  packages/react-query/src/queryOptions.ts
  packages/react-query/src/types.ts
  packages/react-query/src/useSuspenseInfiniteQuery.ts
  packages/react-query/src/useSuspenseQueries.ts
  packages/react-query/src/useSuspenseQuery.ts
Due: @tanstack/react-query

test(react-query): add skipToken test for query hooks
  packages/react-query/src/__tests__/suspense.test-d.tsx
  packages/react-query/src/__tests__/useSuspenseQueries.test-d.tsx
Due: @tanstack/react-query

test(react-query): update describe in infiniteQueryOptions.test-d.tsx
  packages/react-query/src/__tests__/infiniteQueryOptions.test-d.tsx
Due: @tanstack/react-query

docs(react-query): fix a typo in guides/ssr.md
  docs/framework/react/guides/ssr.md
Due: none

docs(vue-query): add guide for using props as a key of query
  docs/framework/vue/guides/query-keys.md
Due: none

feat(react-query): export QueryErrorResetBoundaryFunction
  packages/react-query/src/QueryErrorResetBoundary.tsx
Due: @tanstack/react-query

fix(eslint-plugin-query): correctly handle call-expression spread
  packages/eslint-plugin-query/src/__tests__/infinite-query-property-order.rule.test.ts
  packages/eslint-plugin-query/src/rules/infinite-query-property-order/infinite-query-property-order.rule.ts
Due: @tanstack/eslint-plugin-query

fix: add extra functions
  packages/react-query/src/QueryErrorResetBoundary.tsx
  packages/react-query/src/index.ts
Due: @tanstack/react-query

Apply suggestions from code review
  packages/lit-query/src/testHelpers.ts
Due: none

fix(eslint-plugin-query): correctly handle call-expression spread (#8090)
  packages/eslint-plugin-query/src/__tests__/infinite-query-property-order.rule.test.ts
  packages/eslint-plugin-query/src/rules/infinite-query-property-order/infinite-query-property-order.rule.ts
Due: @tanstack/eslint-plugin-query

release: v5.57.2
  examples/react/algolia/package.json
  examples/react/basic/package.json
  examples/solid/simple/package.json
  packages/eslint-plugin-query/package.json
  pnpm-lock.yaml
Due: @tanstack/eslint-plugin-query

feat(query-devtools): Add bulk edit option for simple objects and arrays
  packages/query-devtools/src/Devtools.tsx
  packages/query-devtools/src/Explorer.tsx
  packages/query-devtools/src/icons/index.tsx
Due: @tanstack/query-devtools

feat(query-devtools): Add bulk edit option for simple objects and arrays (#8095)
  packages/query-devtools/src/Devtools.tsx
  packages/query-devtools/src/Explorer.tsx
  packages/query-devtools/src/icons/index.tsx
Due: @tanstack/query-devtools

**perf** better timeout handling
  packages/query-core/src/queryObserver.ts
Due: @tanstack/query-core

Update useQueries.md
  docs/framework/react/reference/useQueries.md
Due: none

docs(vue-query): use props as key of query using getters syntax
  docs/framework/vue/guides/query-keys.md
Due: none

refactor(react-query): apply early return/continue
  packages/react-query/src/HydrationBoundary.tsx
  packages/react-query/src/suspense.ts
Due: @tanstack/react-query

[perf] improve perf, as discussed in #8091
  packages/query-core/src/queryObserver.ts
Due: @tanstack/query-core

docs: copying installation commands made easy
  docs/eslint/eslint-plugin-query.md
  docs/framework/react/community/liaoliao666-react-query-kit.md
  docs/framework/react/community/lukemorales-query-key-factory.md
  docs/framework/react/community/suspensive-react-query.md
  docs/framework/react/devtools.md
  docs/framework/react/installation.md
  docs/framework/svelte/installation.md
  docs/framework/vue/installation.md
  packages/vue-query/README.md
Due: @tanstack/vue-query

docs: copying installation commands made easy (#8101)
  docs/eslint/eslint-plugin-query.md
  docs/framework/react/community/liaoliao666-react-query-kit.md
  docs/framework/react/community/lukemorales-query-key-factory.md
  docs/framework/react/community/suspensive-react-query.md
  docs/framework/react/devtools.md
  docs/framework/react/installation.md
  docs/framework/svelte/installation.md
  docs/framework/vue/installation.md
  packages/vue-query/README.md
Due: @tanstack/vue-query

missing code format
  docs/eslint/stable-query-client.md
Due: none

docs: missing code format (#8102)
  docs/eslint/stable-query-client.md
Due: none

test(vue-query): add test for clone getters returning values in queryKey
  packages/vue-query/src/__tests__/utils.test.ts
Due: @tanstack/vue-query

fix(vue-query): improve typing in vueQueryPlugin.test.ts to resolve errors on tsc
  packages/vue-query/src/__tests__/vueQueryPlugin.test.ts
Due: @tanstack/vue-query

fix(eslint-plugin): fix legacy recommended config
  docs/eslint/eslint-plugin-query.md
  examples/react/algolia/.eslintrc
  examples/react/algolia/eslint.config.js
  packages/eslint-plugin-query/src/index.ts
Due: @tanstack/eslint-plugin-query

fix(eslint-plugin): fix legacy recommended config (#8104)
  docs/eslint/eslint-plugin-query.md
  examples/react/algolia/.eslintrc
  examples/react/algolia/eslint.config.js
  packages/eslint-plugin-query/src/index.ts
Due: @tanstack/eslint-plugin-query

release: v5.58.1
  examples/react/algolia/package.json
  examples/react/basic/package.json
  examples/solid/simple/package.json
  packages/eslint-plugin-query/package.json
  pnpm-lock.yaml
Due: @tanstack/eslint-plugin-query

add docs
  docs/framework/react/guides/suspense.md
  docs/framework/react/reference/useInfiniteQuery.md
  docs/framework/react/reference/useQuery.md
  docs/reference/QueryClient.md
Due: none

align
  docs/framework/react/reference/useInfiniteQuery.md
Due: none

tweak
  docs/framework/react/reference/queryOptions.md
  docs/reference/QueryClient.md
Due: none

Update docs/reference/QueryClient.md
  docs/reference/QueryClient.md
Due: none

Update mutations.md
  docs/framework/react/guides/mutations.md
Due: none

Path conditions:
  @tanstack/angular-query-devtools-experimental: any of: packages/angular-query-devtools-experimental/**
  @tanstack/angular-query-experimental: any of: packages/angular-query-experimental/**
  @tanstack/eslint-plugin-query: any of: packages/eslint-plugin-query/**
  @tanstack/query-async-storage-persister: any of: packages/query-async-storage-persister/**
  @tanstack/query-broadcast-client-experimental: any of: packages/query-broadcast-client-experimental/**
  @tanstack/query-codemods: any of: packages/codemods/**
  @tanstack/query-core: any of: packages/query-core/**
  @tanstack/query-devtools: any of: packages/query-devtools/**
  @tanstack/query-persist-client-core: any of: packages/query-persist-client-core/**
  @tanstack/query-sync-storage-persister: any of: packages/query-sync-storage-persister/**
  @tanstack/react-query: any of: packages/react-query/**
  @tanstack/react-query-devtools: any of: packages/react-query-devtools/**
  @tanstack/react-query-next-experimental: any of: packages/react-query-next-experimental/**
  @tanstack/react-query-persist-client: any of: packages/react-query-persist-client/**
  @tanstack/solid-query: any of: packages/solid-query/**
  @tanstack/solid-query-devtools: any of: packages/solid-query-devtools/**
  @tanstack/solid-query-persist-client: any of: packages/solid-query-persist-client/**
  @tanstack/svelte-query: any of: packages/svelte-query/**
  @tanstack/svelte-query-devtools: any of: packages/svelte-query-devtools/**
  @tanstack/svelte-query-persist-client: any of: packages/svelte-query-persist-client/**
  @tanstack/vue-query: any of: packages/vue-query/**
  @tanstack/vue-query-devtools: any of: packages/vue-query-devtools/**
