Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools, @tanstack/angular-query, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

refactor: simplify streamedQuery logic with clearer isReplaceRefetch condition
  packages/query-core/src/streamedQuery.ts
Due: @tanstack/query-core

lint array fix
  packages/query-core/src/__tests__/queryClient.test-d.tsx
Due: @tanstack/query-core

remove explicit typing
  packages/query-core/src/__tests__/queryClient.test-d.tsx
Due: @tanstack/query-core

fix(devtools): Handle some additional query devtools accessibility findings (#9961)
  .changeset/silver-peas-end.md
  packages/query-devtools/src/Devtools.tsx
Due: @tanstack/query-devtools

fix(query-core): prevent reducer from being called twice in streamedQuery (#9970)
  .changeset/fair-peaches-deny.md
  packages/query-core/src/__tests__/streamedQuery.test.tsx
  packages/query-core/src/streamedQuery.ts
Due: @tanstack/query-core

fix: mark queries as invalidated on background errors instead of checking error status
  packages/query-core/src/__tests__/queryObserver.test.tsx
  packages/query-core/src/query.ts
  packages/query-core/src/queryObserver.ts
Due: @tanstack/query-core

refactor: simplify isInvalidated logic in error case
  packages/query-core/src/query.ts
Due: @tanstack/query-core

fix(core): report errors of mutation callbacks asynchronously (#9675)
  packages/query-core/src/__tests__/mutationObserver.test.tsx
  packages/query-core/src/mutationObserver.ts
Due: @tanstack/query-core

Apply suggestion from @TkDodo
  packages/query-core/src/query.ts
Due: @tanstack/query-core

Apply suggestions from code review
  .changeset/open-keys-create.md
Due: none

chore: size-limit
  .size-limit.json
Due: none

fix(core): report errors of useMutation callbacks asynchronously (#9676)
  .size-limit.json
  packages/query-core/src/__tests__/mutations.test.tsx
  packages/query-core/src/mutation.ts
  packages/react-query/src/__tests__/useMutation.test.tsx
  packages/solid-query/src/__tests__/useMutation.test.tsx
Due: @tanstack/query-core, @tanstack/react-query, @tanstack/solid-query

fix: eslint
  packages/react-query/src/__tests__/issue-9728.test.tsx
Due: @tanstack/react-query

remove use client directive + added the useSyncExternalStore (decoupled from compat)
  packages/preact-query/src/HydrationBoundary.tsx
  packages/preact-query/src/IsRestoringProvider.ts
  packages/preact-query/src/QueryClientProvider.tsx
  packages/preact-query/src/errorBoundaryUtils.ts
  packages/preact-query/src/useBaseQuery.ts
  packages/preact-query/src/useInfiniteQuery.ts
  packages/preact-query/src/useIsFetching.ts
  packages/preact-query/src/useMutation.ts
  packages/preact-query/src/useMutationState.ts
  packages/preact-query/src/useQueries.ts
  packages/preact-query/src/useQuery.ts
  packages/preact-query/src/useSuspenseInfiniteQuery.ts
  packages/preact-query/src/useSuspenseQueries.ts
  packages/preact-query/src/utils.ts
Due: none

fix(react-query): refine retryOnMount logic and error boundary handling
  packages/react-query/src/errorBoundaryUtils.ts
  packages/react-query/src/useBaseQuery.ts
  packages/react-query/src/useQueries.ts
Due: @tanstack/react-query

fix: disable retry in background error tests to prevent timeout
  packages/query-core/src/__tests__/queryObserver.test.tsx
Due: @tanstack/query-core

fix(query-core): ensure query refetches on mount/retry when status is error (#9728) (#9927)
  .changeset/open-keys-create.md
  packages/query-core/src/__tests__/queryObserver.test.tsx
  packages/query-core/src/query.ts
  packages/react-query/src/__tests__/issue-9728.test.tsx
Due: @tanstack/query-core, @tanstack/react-query

chore(.changeset): change version bump from 'minor' to 'patch'
  .changeset/fix-hydration-double-fetch.md
Due: none

feat(react-query): make query param required but nullable in ensurePreventErrorBoundaryRetry
  packages/react-query/src/errorBoundaryUtils.ts
Due: @tanstack/react-query

Apply suggestions from code review
  packages/react-query/src/useBaseQuery.ts
  packages/react-query/src/useQueries.ts
Due: @tanstack/react-query

chore: changeset
  .changeset/long-ties-rescue.md
Due: none

fix(query-core): fix queriesObserver result and observer length mismatch (#9973)
  .changeset/orange-flowers-post.md
  packages/query-core/src/queriesObserver.ts
Due: @tanstack/query-core

fix(react-query): allow retryOnMount when throwOnError is function (#9336) (#9338)
  .changeset/long-ties-rescue.md
  .size-limit.json
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/react-query/src/errorBoundaryUtils.ts
  packages/react-query/src/useBaseQuery.ts
  packages/react-query/src/useQueries.ts
Due: @tanstack/react-query

docs: fix missing param in vue infinite queries sample
  docs/framework/vue/guides/infinite-queries.md
Due: none

Moved DevTool Instance specific settings to a context
  packages/query-devtools/src/Devtools.tsx
  packages/query-devtools/src/DevtoolsPanelComponent.tsx
  packages/query-devtools/src/contexts/DevtoolsStateContext.ts
  packages/query-devtools/src/contexts/index.ts
Due: @tanstack/query-devtools

Added change log
  .changeset/true-loops-report.md
Due: none

Unused var
  packages/query-devtools/src/Devtools.tsx
Due: @tanstack/query-devtools

Fixed lint
  packages/query-devtools/src/Devtools.tsx
  packages/query-devtools/src/DevtoolsPanelComponent.tsx
  packages/query-devtools/src/contexts/DevtoolsStateContext.ts
Due: @tanstack/query-devtools

Fixed changeset description
  .changeset/true-loops-report.md
Due: none

Size limit test
  packages/query-devtools/src/contexts/DevtoolsStateContext.ts
Due: @tanstack/query-devtools

docs: fix missing param in vue infinite queries sample (#10004)
  docs/framework/vue/guides/infinite-queries.md
Due: none

docs(react-query): undefined vs. null in query-functions.md
  docs/framework/react/guides/query-functions.md
Due: none

fix: Restrict typescript peer dependency to versions less than 6.0.0
  packages/eslint-plugin-query/package.json
Due: @tanstack/eslint-plugin-query

Fixed
  package.json
  packages/query-devtools/package.json
  packages/query-devtools/src/contexts/DevtoolsStateContext.ts
Due: @tanstack/query-devtools

Fixed
  package.json
Due: none

Removed temp things
  packages/query-devtools/package.json
Due: @tanstack/query-devtools

chore: update pnpm-lock
  pnpm-lock.yaml
Due: none

Path conditions:
  @tanstack/angular-query-devtools: any of: packages/angular-query-devtools/**
  @tanstack/angular-query: any of: packages/angular-query/**
  @tanstack/eslint-plugin-query: any of: packages/eslint-plugin-query/**
  @tanstack/query-async-storage-persister: any of: packages/query-async-storage-persister/**
  @tanstack/query-broadcast-client-experimental: any of: packages/query-broadcast-client-experimental/**
  @tanstack/query-codemods: any of: packages/query-codemods/**
  @tanstack/query-core: any of: packages/query-core/**
  @tanstack/query-devtools: any of: packages/query-devtools/**
  @tanstack/query-persist-client-core: any of: packages/query-persist-client-core/**
  @tanstack/query-sync-storage-persister: any of: packages/query-sync-storage-persister/**
  @tanstack/query-test-utils: any of: packages/query-test-utils/**
  @tanstack/react-query: any of: packages/react-query/**
  @tanstack/react-query-devtools: any of: packages/react-query-devtools/**
  @tanstack/react-query-next-experimental: any of: packages/react-query-next-experimental/**
  @tanstack/react-query-persist-client: any of: packages/react-query-persist-client/**
  @tanstack/solid-query: any of: packages/solid-query/**
  @tanstack/solid-query-devtools: any of: packages/solid-query-devtools/**
  @tanstack/solid-query-persist-client: any of: packages/solid-query-persist-client/**
  @tanstack/svelte-query: any of: packages/svelte-query/**
  @tanstack/svelte-query-devtools: any of: packages/svelte-query-devtools/**
  @tanstack/svelte-query-persist-client: any of: packages/svelte-query-persist-client/**
  @tanstack/vue-query: any of: packages/vue-query/**
  @tanstack/vue-query-devtools: any of: packages/vue-query-devtools/**
