Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 1%

comment:
  layout: 'header, reach, diff, flags, components'

component_management:
  individual_components:
    - component_id: angular-query-devtools-experimental
      name: '@tanstack/angular-query-devtools-experimental'
      paths:
        - packages/angular-query-devtools-experimental/**
    - component_id: angular-query-experimental
      name: '@tanstack/angular-query-experimental'
      paths:
        - packages/angular-query-experimental/**
    - component_id: eslint-plugin-query
      name: '@tanstack/eslint-plugin-query'
      paths:
        - packages/eslint-plugin-query/**
    - component_id: query-async-storage-persister
      name: '@tanstack/query-async-storage-persister'
      paths:
        - packages/query-async-storage-persister/**
    - component_id: query-broadcast-client-experimental
      name: '@tanstack/query-broadcast-client-experimental'
      paths:
        - packages/query-broadcast-client-experimental/**
    - component_id: query-codemods
      name: '@tanstack/query-codemods'
      paths:
        - packages/codemods/**
    - component_id: query-core
      name: '@tanstack/query-core'
      paths:
        - packages/query-core/**
    - component_id: query-devtools
      name: '@tanstack/query-devtools'
      paths:
        - packages/query-devtools/**
    - component_id: query-persist-client-core
      name: '@tanstack/query-persist-client-core'
      paths:
        - packages/query-persist-client-core/**
    - component_id: query-sync-storage-persister
      name: '@tanstack/query-sync-storage-persister'
      paths:
        - packages/query-sync-storage-persister/**
    - component_id: react-query
      name: '@tanstack/react-query'
      paths:
        - packages/react-query/**
    - component_id: react-query-devtools
      name: '@tanstack/react-query-devtools'
      paths:
        - packages/react-query-devtools/**
    - component_id: react-query-next-experimental
      name: '@tanstack/react-query-next-experimental'
      paths:
        - packages/react-query-next-experimental/**
    - component_id: react-query-persist-client
      name: '@tanstack/react-query-persist-client'
      paths:
        - packages/react-query-persist-client/**
    - component_id: solid-query
      name: '@tanstack/solid-query'
      paths:
        - packages/solid-query/**
    - component_id: solid-query-devtools
      name: '@tanstack/solid-query-devtools'
      paths:
        - packages/solid-query-devtools/**
    - component_id: solid-query-persist-client
      name: '@tanstack/solid-query-persist-client'
      paths:
        - packages/solid-query-persist-client/**
    - component_id: svelte-query
      name: '@tanstack/svelte-query'
      paths:
        - packages/svelte-query/**
    - component_id: svelte-query-devtools
      name: '@tanstack/svelte-query-devtools'
      paths:
        - packages/svelte-query-devtools/**
    - component_id: svelte-query-persist-client
      name: '@tanstack/svelte-query-persist-client'
      paths:
        - packages/svelte-query-persist-client/**
    - component_id: vue-query
      name: '@tanstack/vue-query'
      paths:
        - packages/vue-query/**
    - component_id: vue-query-devtools
      name: '@tanstack/vue-query-devtools'
      paths:
        - packages/vue-query-devtools/**

ci: Update Nx to v17.3.2
  package.json
  pnpm-lock.yaml
Due: none

ci: Update Nx to v17.3.2 (#6829)
  package.json
  pnpm-lock.yaml
Due: none

chore: Downgrade Nx to v17.3.1 Bug is impairing detection of target scripts
  package.json
  pnpm-lock.yaml
  scripts/project.json
Due: none

chore: Downgrade Nx to v17.3.1 (#6830)
  package.json
  pnpm-lock.yaml
  scripts/project.json
Due: none

fix(angular-query): support angular 16
  docs/framework/angular/installation.md
  docs/framework/angular/overview.md
  examples/angular/basic/package.json
  examples/angular/default-query-function/package.json
  examples/angular/simple/package.json
  integrations/angular-cli-standalone-17/package.json
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/package.json
  pnpm-lock.yaml
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental

fix(angular-query): support angular v16 (#6833)
  docs/framework/angular/installation.md
  docs/framework/angular/overview.md
  examples/angular/basic/package.json
  examples/angular/default-query-function/package.json
  examples/angular/simple/package.json
  integrations/angular-cli-standalone-17/package.json
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/package.json
  pnpm-lock.yaml
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental

release: v5.18.2
  examples/angular/basic/package.json
  examples/angular/default-query-function/package.json
  examples/angular/simple/package.json
  examples/react/nextjs-suspense-streaming/tsconfig.tsbuildinfo
  examples/react/optimistic-updates-cache/tsconfig.tsbuildinfo
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/package.json
  pnpm-lock.yaml
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental

docs(angular-query): improve basic example
  docs/framework/angular/overview.md
  examples/angular/basic/package.json
  examples/angular/basic/src/basic-example.component.ts
  examples/angular/basic/src/post.component.html
  examples/angular/basic/src/post.component.ts
  examples/angular/basic/src/posts-service.ts
  examples/angular/basic/src/posts.component.html
  examples/angular/basic/src/posts.component.ts
  examples/angular/basic/vite.config.ts
  pnpm-lock.yaml
Due: none

docs(angular-query): update README
  packages/angular-query-experimental/README.md
Due: @tanstack/angular-query-experimental

docs(angular-query): improve basic example (#6834)
  docs/framework/angular/overview.md
  examples/angular/basic/package.json
  examples/angular/basic/src/basic-example.component.ts
  examples/angular/basic/src/post.component.html
  examples/angular/basic/src/post.component.ts
  examples/angular/basic/src/posts-service.ts
  examples/angular/basic/src/posts.component.html
  examples/angular/basic/src/posts.component.ts
  examples/angular/basic/vite.config.ts
  packages/angular-query-experimental/README.md
  pnpm-lock.yaml
Due: @tanstack/angular-query-experimental

Implement PR feedback
  docs/react/guides/advanced-ssr.md
  packages/react-query-next-experimental/src/HydrationStreamProvider.tsx
Due: @tanstack/react-query-next-experimental

docs(examples): improve react-router example
  examples/react/react-router/index.html
  examples/react/react-router/package.json
  examples/react/react-router/src/contacts.js
  examples/react/react-router/src/contacts.ts
  examples/react/react-router/src/error-page.jsx
  examples/react/react-router/src/error-page.tsx
  examples/react/react-router/src/index.css
  examples/react/react-router/src/index.tsx
  examples/react/react-router/src/routes/contact.jsx
  examples/react/react-router/src/routes/contact.tsx
  examples/react/react-router/src/routes/destroy.jsx
  examples/react/react-router/src/routes/destroy.tsx
  examples/react/react-router/src/routes/edit.tsx
  examples/react/react-router/src/routes/index.tsx
  examples/react/react-router/src/routes/new.tsx
  examples/react/react-router/src/routes/root.tsx
  examples/react/react-router/tsconfig.json
  pnpm-lock.yaml
Due: none

feat(angular-query): infinite query
  docs/config.json
  docs/framework/angular/guides/infinite-queries.md
  docs/framework/react/guides/infinite-queries.md
  packages/angular-query-experimental/src/__tests__/inject-infinite-query.test.ts
  packages/angular-query-experimental/src/__tests__/test-utils.ts
  packages/angular-query-experimental/src/index.ts
  packages/angular-query-experimental/src/infinite-query-options.ts
  packages/angular-query-experimental/src/inject-infinite-query.ts
  packages/angular-query-experimental/src/types.ts
Due: @tanstack/angular-query-experimental

remove missing example from menu
  docs/config.json
Due: none

feat(angular-query): injectInfiniteQuery (#6808)
  docs/framework/angular/guides/infinite-queries.md
  docs/framework/react/guides/infinite-queries.md
  packages/angular-query-experimental/src/__tests__/inject-infinite-query.test.ts
  packages/angular-query-experimental/src/__tests__/test-utils.ts
  packages/angular-query-experimental/src/index.ts
  packages/angular-query-experimental/src/infinite-query-options.ts
  packages/angular-query-experimental/src/inject-infinite-query.ts
  packages/angular-query-experimental/src/types.ts
Due: @tanstack/angular-query-experimental

release: v5.19.0
  examples/angular/basic/package.json
  examples/angular/default-query-function/package.json
  examples/angular/simple/package.json
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/package.json
  pnpm-lock.yaml
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental

docs(angular-query): add infinite query example
  docs/config.json
  examples/angular/infinite-query-with-max-pages/.eslintrc.cjs
  examples/angular/infinite-query-with-max-pages/README.md
  examples/angular/infinite-query-with-max-pages/index.html
  examples/angular/infinite-query-with-max-pages/package.json
  examples/angular/infinite-query-with-max-pages/sandbox.config.json
  examples/angular/infinite-query-with-max-pages/src/api/projects.ts
  examples/angular/infinite-query-with-max-pages/src/example.component.html
  examples/angular/infinite-query-with-max-pages/src/example.component.ts
  examples/angular/infinite-query-with-max-pages/src/index.ts
  examples/angular/infinite-query-with-max-pages/src/project-style.directive.ts
  examples/angular/infinite-query-with-max-pages/src/projects-service.ts
  examples/angular/infinite-query-with-max-pages/tsconfig.json
  examples/angular/infinite-query-with-max-pages/vite.config.ts
  pnpm-lock.yaml
Due: none

docs(angular-query): add infinite query example (#6837)
  docs/config.json
  examples/angular/infinite-query-with-max-pages/.eslintrc.cjs
  examples/angular/infinite-query-with-max-pages/README.md
  examples/angular/infinite-query-with-max-pages/index.html
  examples/angular/infinite-query-with-max-pages/package.json
  examples/angular/infinite-query-with-max-pages/sandbox.config.json
  examples/angular/infinite-query-with-max-pages/src/api/projects.ts
  examples/angular/infinite-query-with-max-pages/src/example.component.html
  examples/angular/infinite-query-with-max-pages/src/example.component.ts
  examples/angular/infinite-query-with-max-pages/src/index.ts
  examples/angular/infinite-query-with-max-pages/src/project-style.directive.ts
  examples/angular/infinite-query-with-max-pages/src/projects-service.ts
  examples/angular/infinite-query-with-max-pages/tsconfig.json
  examples/angular/infinite-query-with-max-pages/vite.config.ts
  pnpm-lock.yaml
Due: none

docs(angular-query): add infinite query example to menu
  docs/config.json
Due: none

docs(angular-query): add infinite query guide to menu (#6838)
  docs/config.json
Due: none

fix: Enable @typescript-eslint/method-signature-style
  .eslintrc.cjs
  packages/angular-query-experimental/src/types.ts
  packages/query-persist-client-core/src/persist.ts
  packages/react-query-next-experimental/src/HydrationStreamProvider.tsx
Due: @tanstack/angular-query-experimental, @tanstack/query-persist-client-core, @tanstack/react-query-next-experimental

refactor(matchMutation): export matchMutation from query core
  packages/query-core/src/index.ts
Due: @tanstack/query-core

devcontainer
  examples/angular/basic/.devcontainer/devcontainer.json
  examples/angular/default-query-function/.devcontainer/devcontainer.json
  examples/angular/infinite-query-with-max-pages/.devcontainer/devcontainer.json
  examples/angular/simple/.devcontainer/devcontainer.json
  examples/react/nextjs-suspense-streaming/tsconfig.tsbuildinfo
Due: none

input signal
  examples/angular/basic/src/app/components/post.component.ts
Due: none

update msw for react example
  examples/angular/basic/README.md
  examples/angular/infinite-query-with-max-pages/README.md
  examples/react/offline/package.json
  examples/react/offline/public/mockServiceWorker.js
  examples/react/offline/src/api.js
  pnpm-lock.yaml
Due: none

Adjust undefined queryKey validation warning
  packages/query-core/src/query.ts
  packages/query-core/src/tests/queriesObserver.test.tsx
Due: @tanstack/query-core

docs: add simple example for document homepage
  examples/vue/simple/.gitignore
  examples/vue/simple/README.md
  examples/vue/simple/index.html
  examples/vue/simple/package.json
  examples/vue/simple/src/App.vue
  examples/vue/simple/src/main.ts
  examples/vue/simple/src/shims-vue.d.ts
  examples/vue/simple/src/types.d.ts
  examples/vue/simple/tsconfig.json
  examples/vue/simple/vite.config.ts
  pnpm-lock.yaml
Due: none

introducing nx agents
  .github/workflows/pr.yml
Due: none

busting cache to get some test runs in
  packages/query-core/src/query.ts
Due: @tanstack/query-core

fixing distribut option
  .github/workflows/pr.yml
  examples/angular/basic/playwright-report/index.html
Due: none

fixing yml syntax error
  .github/workflows/pr.yml
Due: none

bumping up agent count
  .github/workflows/pr.yml
  packages/query-core/src/query.ts
Due: @tanstack/query-core

experimenting with parallel and agent count
  .github/workflows/pr.yml
  package.json
  packages/query-core/src/query.ts
Due: @tanstack/query-core

kick tires
  examples/angular/basic/playwright-report/index.html
Due: none

rm stuff to break cache
  packages/query-core/src/query.ts
Due: @tanstack/query-core

fix: Enable @typescript-eslint/method-signature-style (#6847)
  .eslintrc.cjs
  packages/angular-query-experimental/src/types.ts
  packages/query-persist-client-core/src/persist.ts
  packages/react-query-next-experimental/src/HydrationStreamProvider.tsx
Due: @tanstack/angular-query-experimental, @tanstack/query-persist-client-core, @tanstack/react-query-next-experimental

release: v5.19.1
  examples/angular/basic/package.json
  examples/angular/default-query-function/package.json
  examples/angular/infinite-query-with-max-pages/package.json
  examples/angular/simple/package.json
  examples/react/basic-typescript/package.json
  examples/react/nextjs-suspense-streaming/package.json
  examples/react/nextjs-suspense-streaming/tsconfig.tsbuildinfo
  examples/react/offline/package.json
  examples/vue/persister/package.json
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/package.json
  packages/query-async-storage-persister/package.json
  packages/query-persist-client-core/package.json
  packages/query-sync-storage-persister/package.json
  packages/react-query-next-experimental/package.json
  packages/react-query-persist-client/package.json
  packages/solid-query-persist-client/package.json
  packages/svelte-query-persist-client/package.json
  pnpm-lock.yaml
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/query-async-storage-persister, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query-persist-client, @tanstack/svelte-query-persist-client

Use alternative function syntax
  integrations/react-next/.eslintrc.cjs
  integrations/react-vite/.eslintrc.cjs
  packages/eslint-plugin-query/src/rules/exhaustive-deps.rule.ts
  packages/eslint-plugin-query/src/rules/no-rest-desctructuring/no-rest-destructuring.rule.ts
  packages/eslint-plugin-query/src/rules/stable-query-client/stable-query-client.rule.ts
Due: @tanstack/eslint-plugin-query
