Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools, @tanstack/angular-query, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

ci(changesets): disable auto-merging (#9918)
  .github/workflows/release.yml
  knip.json
  packages/solid-query-devtools/package.json
Due: @tanstack/solid-query-devtools

fix(query-core): ensure query refetches on mount/retry when status is error (#9728)
  .changeset/open-keys-create.md
  packages/query-core/src/queryObserver.ts
  packages/react-query/src/__tests__/issue-9728.test.tsx
Due: @tanstack/query-core, @tanstack/react-query

init query rename and delegation
  .changeset/wise-suns-ask.md
  packages/query-core/src/__tests__/queryClient.test-d.tsx
  packages/query-core/src/__tests__/queryClient.test.tsx
  packages/query-core/src/queryClient.ts
  packages/vue-query/src/queryClient.ts
Due: @tanstack/query-core, @tanstack/vue-query

add respect for select
  packages/query-core/src/__tests__/queryClient.test-d.tsx
  packages/query-core/src/__tests__/queryClient.test.tsx
  packages/query-core/src/queryClient.ts
  packages/query-core/src/types.ts
  packages/vue-query/src/queryClient.ts
Due: @tanstack/query-core, @tanstack/vue-query

react query options testing
  packages/react-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/react-query/src/__tests__/queryOptions.test-d.tsx
Due: @tanstack/react-query

update spelling
  .changeset/wise-suns-ask.md
Due: none

typo again
  packages/query-core/src/__tests__/queryClient.test-d.tsx
Due: @tanstack/query-core

fixes
  packages/react-query/src/__tests__/infiniteQueryOptions.test-d.tsx
Due: @tanstack/react-query

update changeset
  .changeset/famous-owls-battle.md
Due: none

more type fixes
  .changeset/famous-owls-battle.md
  .changeset/wise-suns-ask.md
  packages/query-core/src/__tests__/queryClient.test-d.tsx
Due: @tanstack/query-core

Type fix
  packages/query-core/src/types.ts
Due: @tanstack/query-core

fix typo
  packages/query-core/src/__tests__/queryClient.test-d.tsx
Due: @tanstack/query-core

client update async
  packages/query-core/src/queryClient.ts
Due: @tanstack/query-core

REVERT IF OPUS FUCKED UP
  packages/query-core/src/queryClient.ts
  packages/query-core/src/types.ts
  packages/vue-query/src/queryClient.ts
Due: @tanstack/query-core, @tanstack/vue-query

revert delegations
  packages/query-core/src/queryClient.ts
  packages/query-core/src/types.ts
Due: @tanstack/query-core

pages nit
  packages/query-core/src/__tests__/queryClient.test-d.tsx
Due: @tanstack/query-core

typo
  packages/query-core/src/queryClient.ts
Due: @tanstack/query-core

ci(changesets): enable experimental peerDependents option
  .changeset/config.json
  package.json
  pnpm-lock.yaml
Due: none

Fix typescript-eslint versions
  .changeset/config.json
  packages/eslint-plugin-query/package.json
  packages/svelte-query-devtools/package.json
  packages/svelte-query-persist-client/package.json
  packages/svelte-query/package.json
  pnpm-lock.yaml
Due: @tanstack/eslint-plugin-query, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client

ci(changesets): enable experimental peerDependents option (#9928)
  .changeset/config.json
  package.json
  packages/eslint-plugin-query/package.json
  packages/svelte-query-devtools/package.json
  packages/svelte-query-persist-client/package.json
  packages/svelte-query/package.json
  pnpm-lock.yaml
Due: @tanstack/eslint-plugin-query, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client

ci: remove @tanstack/publish-config
  package.json
  pnpm-lock.yaml
Due: none

Update imports
  eslint.config.js
  examples/react/algolia/eslint.config.js
  examples/react/basic-graphql-request/eslint.config.js
  examples/react/basic/eslint.config.js
  examples/react/shadow-dom/eslint.config.js
  packages/angular-query-experimental/vite.config.ts
  packages/eslint-plugin-query/vite.config.ts
  packages/vue-query-devtools/vite.config.ts
  scripts/generateDocs.ts
Due: @tanstack/eslint-plugin-query, @tanstack/vue-query-devtools

ci: remove @tanstack/publish-config (#9930)
  eslint.config.js
  examples/react/algolia/eslint.config.js
  examples/react/basic-graphql-request/eslint.config.js
  examples/react/basic/eslint.config.js
  examples/react/shadow-dom/eslint.config.js
  package.json
  packages/angular-query-experimental/vite.config.ts
  packages/eslint-plugin-query/vite.config.ts
  packages/vue-query-devtools/vite.config.ts
  pnpm-lock.yaml
  scripts/generateDocs.ts
Due: @tanstack/eslint-plugin-query, @tanstack/vue-query-devtools

Remove old check
  .github/workflows/pr.yml
Due: none

docs: fix sidebar links
  docs/config.json
  docs/framework/svelte/migrate-from-v5-to-v6.md
Due: none

docs: fix sidebar links (#9933)
  docs/config.json
  docs/framework/svelte/migrate-from-v5-to-v6.md
Due: none

- useQuery onSuccess onError onSettle
  packages/query-core/src/query.ts
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/types.ts
Due: @tanstack/query-core

- useQuery callbacks core tests
  packages/query-core/src/__tests__/query.test.tsx
  packages/query-core/src/__tests__/queryObserver.test.tsx
Due: @tanstack/query-core

fix: cve-2025-55182 critical rce vulnerability
  package.json
  pnpm-lock.yaml
Due: none

- tests callbacks , and
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
  packages/query-core/src/__tests__/query.test.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/solid-query/src/__tests__/useQuery.test.tsx
  packages/svelte-query/tests/createQuery.svelte.test.ts
  packages/vue-query/src/__tests__/useQuery.test.ts
Due: @tanstack/query-core, @tanstack/react-query, @tanstack/solid-query, @tanstack/svelte-query, @tanstack/vue-query

- tests callbacks `onSuccess`, `onError` and `onSettled`
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
  packages/query-core/src/__tests__/query.test.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/solid-query/src/__tests__/useQuery.test.tsx
  packages/svelte-query/tests/createQuery.svelte.test.ts
  packages/vue-query/src/__tests__/useQuery.test.ts
Due: @tanstack/query-core, @tanstack/react-query, @tanstack/solid-query, @tanstack/svelte-query, @tanstack/vue-query

- review
  examples/react/nextjs-suspense-streaming/tsconfig.json
  packages/solid-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/solid-query

- documentation react & solid
  docs/framework/react/reference/useQuery.md
  docs/framework/solid/reference/useQuery.md
Due: none

fix: update react and nextJs
  examples/react/auto-refetching/package.json
  examples/react/infinite-query-with-max-pages/package.json
  examples/react/load-more-infinite-scroll/package.json
  examples/react/nextjs-app-prefetching/package.json
  examples/react/nextjs-suspense-streaming/package.json
  examples/react/nextjs/package.json
  examples/react/optimistic-updates-cache/package.json
  examples/react/optimistic-updates-ui/package.json
  examples/react/pagination/package.json
  examples/react/prefetching/package.json
  integrations/react-next-14/package.json
  integrations/react-next-16/.eslintrc.cjs
  integrations/react-next-16/.gitignore
  integrations/react-next-16/README.md
  integrations/react-next-16/app/_action.ts
  integrations/react-next-16/app/client-component.tsx
  integrations/react-next-16/app/count/route.ts
  integrations/react-next-16/app/favicon.ico
  integrations/react-next-16/app/layout.tsx
  integrations/react-next-16/app/make-query-client.ts
  integrations/react-next-16/app/page.tsx
  integrations/react-next-16/app/providers.tsx
  integrations/react-next-16/next.config.js
  integrations/react-next-16/package.json
  integrations/react-next-16/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: none

oops
  integrations/react-next-16/package.json
Due: none

Update patch versions for React and TanStack packages
  .changeset/gentle-hotels-eat.md
Due: none

Path conditions:
  @tanstack/angular-query-devtools: any of: packages/angular-query-devtools/**
  @tanstack/angular-query: any of: packages/angular-query/**
  @tanstack/eslint-plugin-query: any of: packages/eslint-plugin-query/**
  @tanstack/query-async-storage-persister: any of: packages/query-async-storage-persister/**
  @tanstack/query-broadcast-client-experimental: any of: packages/query-broadcast-client-experimental/**
  @tanstack/query-codemods: any of: packages/query-codemods/**
  @tanstack/query-core: any of: packages/query-core/**
  @tanstack/query-devtools: any of: packages/query-devtools/**
  @tanstack/query-persist-client-core: any of: packages/query-persist-client-core/**
  @tanstack/query-sync-storage-persister: any of: packages/query-sync-storage-persister/**
  @tanstack/query-test-utils: any of: packages/query-test-utils/**
  @tanstack/react-query: any of: packages/react-query/**
  @tanstack/react-query-devtools: any of: packages/react-query-devtools/**
  @tanstack/react-query-next-experimental: any of: packages/react-query-next-experimental/**
  @tanstack/react-query-persist-client: any of: packages/react-query-persist-client/**
  @tanstack/solid-query: any of: packages/solid-query/**
  @tanstack/solid-query-devtools: any of: packages/solid-query-devtools/**
  @tanstack/solid-query-persist-client: any of: packages/solid-query-persist-client/**
  @tanstack/svelte-query: any of: packages/svelte-query/**
  @tanstack/svelte-query-devtools: any of: packages/svelte-query-devtools/**
  @tanstack/svelte-query-persist-client: any of: packages/svelte-query-persist-client/**
  @tanstack/vue-query: any of: packages/vue-query/**
  @tanstack/vue-query-devtools: any of: packages/vue-query-devtools/**
