Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools, @tanstack/angular-query, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

extra tests for angular
  packages/angular-query-experimental/src/__tests__/infinite-query-options.test-d.ts
  packages/angular-query-experimental/src/__tests__/query-options.test-d.ts
Due: none

update change set
  .changeset/famous-owls-battle.md
Due: none

more tests
  packages/query-core/src/__tests__/queryClient.test.tsx
Due: @tanstack/query-core

test(solid-query): rename infinite query options test
  packages/solid-query/src/__tests__/infiniteQueryOptions.test-d.tsx
Due: @tanstack/solid-query

tests: use proxy instead of query core
  packages/vue-query/src/__tests__/infiniteQueryOptions.test-d.ts
Due: @tanstack/vue-query

test(svelte-query/createQueries): add test for not fetching when 'isRestoring' is true (#10382)
  packages/svelte-query/tests/createQueries/IsRestoringExample.svelte
  packages/svelte-query/tests/createQueries/createQueries.svelte.test.ts
Due: @tanstack/svelte-query

test(svelte-query/createQueries): move test files into 'createQueries' directory
  packages/svelte-query/tests/createQueries.svelte.test.ts
  packages/svelte-query/tests/createQueries/createQueries.svelte.test.ts
  packages/svelte-query/tests/createQueries/createQueries.test-d.ts
Due: @tanstack/svelte-query

test(solid-query): rename infinite query options test (#10384)
  packages/solid-query/src/__tests__/infiniteQueryOptions.test-d.tsx
Due: @tanstack/solid-query

test(svelte-query/createQueries): move test files into 'createQueries' directory (#10386)
  packages/svelte-query/tests/createQueries.svelte.test.ts
  packages/svelte-query/tests/createQueries/createQueries.svelte.test.ts
  packages/svelte-query/tests/createQueries/createQueries.test-d.ts
Due: @tanstack/svelte-query

test(svelte-query/createQueries): add test for not fetching queries with different durations when 'isRestoring' is true
  packages/svelte-query/tests/createQueries/createQueries.svelte.test.ts
Due: @tanstack/svelte-query

test(svelte-query/createQueries): add test for not fetching queries with different durations when 'isRestoring' is true (#10387)
  packages/svelte-query/tests/createQueries/createQueries.svelte.test.ts
Due: @tanstack/svelte-query

test(svelte-query/createQueries): switch to fake timers, replace 'vi.waitFor' with 'vi.advanceTimersByTimeAsync', and move 'queryClient' to 'beforeEach'
  packages/svelte-query/tests/createQueries/createQueries.svelte.test.ts
Due: @tanstack/svelte-query

test(svelte-query/createQueries): switch to fake timers, replace 'vi.waitFor' with 'vi.advanceTimersByTimeAsync', and move 'queryClient' to 'beforeEach' (#10388)
  packages/svelte-query/tests/createQueries/createQueries.svelte.test.ts
Due: @tanstack/svelte-query

test(svelte-query/createQueries): move type tests from 'createQueries.svelte.test.ts' to 'createQueries.test-d.ts'
  packages/svelte-query/tests/createQueries/createQueries.svelte.test.ts
  packages/svelte-query/tests/createQueries/createQueries.test-d.ts
Due: @tanstack/svelte-query

test(svelte-query/createQueries): move type tests from 'createQueries.svelte.test.ts' to 'createQueries.test-d.ts' (#10389)
  packages/svelte-query/tests/createQueries/createQueries.svelte.test.ts
  packages/svelte-query/tests/createQueries/createQueries.test-d.ts
Due: @tanstack/svelte-query

test(svelte-query/createQuery): switch to fake timers, replace 'vi.waitFor' with 'vi.advanceTimersByTimeAsync', and move 'queryClient' to 'beforeEach'
  packages/svelte-query/tests/createQuery.svelte.test.ts
Due: @tanstack/svelte-query

test(svelte-query/createQuery): use 'QueryCache' type instead of 'ReturnType' for 'queryCache'
  packages/svelte-query/tests/createQuery.svelte.test.ts
Due: @tanstack/svelte-query

test(svelte-query/createQuery): reduce 'advanceTimersByTimeAsync' from 100 to 11 for staleTime test
  packages/svelte-query/tests/createQuery.svelte.test.ts
Due: @tanstack/svelte-query

test(svelte-query/createQuery): fix 'advanceTimersByTimeAsync' to 101 to match 'staleTime: 100'
  packages/svelte-query/tests/createQuery.svelte.test.ts
Due: @tanstack/svelte-query

test(vue-query/infiniteQueryOptions): replace query-core 'QueryClient' import with vue-query proxy (#10385)
  packages/vue-query/src/__tests__/infiniteQueryOptions.test-d.ts
Due: @tanstack/vue-query

test(svelte-query/createQuery): switch to fake timers, replace 'vi.waitFor' with 'vi.advanceTimersByTimeAsync', and move 'queryClient' to 'beforeEach' (#10390)
  packages/svelte-query/tests/createQuery.svelte.test.ts
Due: @tanstack/svelte-query

chore: bump solid v2 beta 5
  examples/solid/astro/package.json
  examples/solid/basic-graphql-request/package.json
  examples/solid/basic/package.json
  examples/solid/default-query-function/package.json
  examples/solid/offline/package.json
  examples/solid/simple/package.json
  examples/solid/solid-start-streaming/package.json
  integrations/solid-vite/package.json
  packages/solid-query-devtools/package.json
  packages/solid-query-persist-client/package.json
  packages/solid-query/package.json
  pnpm-lock.yaml
Due: @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client

changeset
  .changeset/fifty-spoons-draw.md
Due: none

Update prefetching docs
  docs/framework/react/guides/prefetching.md
  docs/framework/react/guides/ssr.md
Due: none

chore: bump vite-plugin-solid next 4
  examples/solid/basic-graphql-request/package.json
  examples/solid/basic/package.json
  examples/solid/default-query-function/package.json
  examples/solid/offline/package.json
  examples/solid/simple/package.json
  integrations/solid-vite/package.json
  packages/solid-query-devtools/package.json
  packages/solid-query-persist-client/package.json
  packages/solid-query/package.json
  pnpm-lock.yaml
Due: @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client

changeset
  .changeset/free-cities-hunt.md
Due: none

go beta
  .changeset/pre.json
Due: none

chore: bump solid v2 beta 5 (#10392)
  .changeset/fifty-spoons-draw.md
  .changeset/free-cities-hunt.md
  .changeset/pre.json
  examples/solid/astro/package.json
  examples/solid/basic-graphql-request/package.json
  examples/solid/basic/package.json
  examples/solid/default-query-function/package.json
  examples/solid/offline/package.json
  examples/solid/simple/package.json
  examples/solid/solid-start-streaming/package.json
  integrations/solid-vite/package.json
  packages/solid-query-devtools/package.json
  packages/solid-query-persist-client/package.json
  packages/solid-query/package.json
  pnpm-lock.yaml
Due: @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client

finish prefetching
  docs/framework/react/guides/prefetching.md
Due: none

tanstack typos
  docs/framework/react/guides/prefetching.md
Due: none

grammer
  docs/framework/react/guides/prefetching.md
Due: none

more grammer
  docs/framework/react/guides/prefetching.md
Due: none

allow null for cached data
  packages/query-core/src/queryClient.ts
Due: @tanstack/query-core

grammer again
  docs/framework/angular/guides/query-options.md
  docs/framework/solid/guides/prefetching.md
Due: none

solid prefetching update
  docs/framework/solid/guides/prefetching.md
Due: none

use solid replacement
  docs/framework/solid/guides/prefetching.md
Due: none

query client md update
  docs/reference/QueryClient.md
Due: none

docs grammer
  docs/framework/angular/typescript.md
  docs/framework/vue/guides/ssr.md
Due: none

Add solid as it also wraps Query client
  .changeset/famous-owls-battle.md
Due: none

remove comment
  packages/react-query/src/__tests__/infiniteQueryOptions.test-d.tsx
Due: @tanstack/react-query

Path conditions:
  @tanstack/angular-query-devtools: any of: packages/angular-query-devtools/**
  @tanstack/angular-query: any of: packages/angular-query/**
  @tanstack/eslint-plugin-query: any of: packages/eslint-plugin-query/**
  @tanstack/query-async-storage-persister: any of: packages/query-async-storage-persister/**
  @tanstack/query-broadcast-client-experimental: any of: packages/query-broadcast-client-experimental/**
  @tanstack/query-codemods: any of: packages/query-codemods/**
  @tanstack/query-core: any of: packages/query-core/**
  @tanstack/query-devtools: any of: packages/query-devtools/**
  @tanstack/query-persist-client-core: any of: packages/query-persist-client-core/**
  @tanstack/query-sync-storage-persister: any of: packages/query-sync-storage-persister/**
  @tanstack/query-test-utils: any of: packages/query-test-utils/**
  @tanstack/react-query: any of: packages/react-query/**
  @tanstack/react-query-devtools: any of: packages/react-query-devtools/**
  @tanstack/react-query-next-experimental: any of: packages/react-query-next-experimental/**
  @tanstack/react-query-persist-client: any of: packages/react-query-persist-client/**
  @tanstack/solid-query: any of: packages/solid-query/**
  @tanstack/solid-query-devtools: any of: packages/solid-query-devtools/**
  @tanstack/solid-query-persist-client: any of: packages/solid-query-persist-client/**
  @tanstack/svelte-query: any of: packages/svelte-query/**
  @tanstack/svelte-query-devtools: any of: packages/svelte-query-devtools/**
  @tanstack/svelte-query-persist-client: any of: packages/svelte-query-persist-client/**
  @tanstack/vue-query: any of: packages/vue-query/**
  @tanstack/vue-query-devtools: any of: packages/vue-query-devtools/**
