Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools, @tanstack/angular-query, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

codecov.yml:

codecov:
  max_report_age: off

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto

comment:
  layout: 'header, reach, diff, flags, components'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  hide_project_coverage: false

component_management:
  individual_components:
    - component_id: angular-query-devtools
      name: '@tanstack/angular-query-devtools'
      paths:
        - packages/angular-query-devtools/**
    - component_id: angular-query
      name: '@tanstack/angular-query'
      paths:
        - packages/angular-query/**
    - component_id: eslint-plugin-query
      name: '@tanstack/eslint-plugin-query'
      paths:
        - packages/eslint-plugin-query/**
    - component_id: query-async-storage-persister
      name: '@tanstack/query-async-storage-persister'
      paths:
        - packages/query-async-storage-persister/**
    - component_id: query-broadcast-client-experimental
      name: '@tanstack/query-broadcast-client-experimental'
      paths:
        - packages/query-broadcast-client-experimental/**
    - component_id: query-codemods
      name: '@tanstack/query-codemods'
      paths:
        - packages/query-codemods/**
    - component_id: query-core
      name: '@tanstack/query-core'
      paths:
        - packages/query-core/**
    - component_id: query-devtools
      name: '@tanstack/query-devtools'
      paths:
        - packages/query-devtools/**
    - component_id: query-persist-client-core
      name: '@tanstack/query-persist-client-core'
      paths:
        - packages/query-persist-client-core/**
    - component_id: query-sync-storage-persister
      name: '@tanstack/query-sync-storage-persister'
      paths:
        - packages/query-sync-storage-persister/**
    - component_id: query-test-utils
      name: '@tanstack/query-test-utils'
      paths:
        - packages/query-test-utils/**
    - component_id: react-query
      name: '@tanstack/react-query'
      paths:
        - packages/react-query/**
    - component_id: react-query-devtools
      name: '@tanstack/react-query-devtools'
      paths:
        - packages/react-query-devtools/**
    - component_id: react-query-next-experimental
      name: '@tanstack/react-query-next-experimental'
      paths:
        - packages/react-query-next-experimental/**
    - component_id: react-query-persist-client
      name: '@tanstack/react-query-persist-client'
      paths:
        - packages/react-query-persist-client/**
    - component_id: solid-query
      name: '@tanstack/solid-query'
      paths:
        - packages/solid-query/**
    - component_id: solid-query-devtools
      name: '@tanstack/solid-query-devtools'
      paths:
        - packages/solid-query-devtools/**
    - component_id: solid-query-persist-client
      name: '@tanstack/solid-query-persist-client'
      paths:
        - packages/solid-query-persist-client/**
    - component_id: svelte-query
      name: '@tanstack/svelte-query'
      paths:
        - packages/svelte-query/**
    - component_id: svelte-query-devtools
      name: '@tanstack/svelte-query-devtools'
      paths:
        - packages/svelte-query-devtools/**
    - component_id: svelte-query-persist-client
      name: '@tanstack/svelte-query-persist-client'
      paths:
        - packages/svelte-query-persist-client/**
    - component_id: vue-query
      name: '@tanstack/vue-query'
      paths:
        - packages/vue-query/**
    - component_id: vue-query-devtools
      name: '@tanstack/vue-query-devtools'
      paths:
        - packages/vue-query-devtools/**

fix(react-query): clear public reset state per query
  packages/react-query/src/QueryErrorResetBoundary.tsx
Due: @tanstack/react-query

test(react-query): guard cleared reset cleanup
  packages/react-query/src/__tests__/QueryResetErrorBoundary.test.tsx
Due: @tanstack/react-query

test(react-query): preserve reset state semantics
  packages/react-query/src/__tests__/QueryResetErrorBoundary.test.tsx
Due: @tanstack/react-query

fix(react-query): guard stale reset cleanup
  packages/react-query/src/QueryErrorResetBoundary.tsx
  packages/react-query/src/errorBoundaryUtils.ts
Due: @tanstack/react-query

test(react-query): use cached errors for query-list coverage
  packages/react-query/src/__tests__/QueryResetErrorBoundary.test.tsx
Due: @tanstack/react-query

test(react-query): type reset boundary fixtures
  packages/react-query/src/__tests__/QueryResetErrorBoundary.test.tsx
Due: @tanstack/react-query

ci: remove obsolete Vue test workaround
  packages/vue-query/src/__tests__/useMutation.test.ts
Due: @tanstack/vue-query

test: guard the expected mutation before accessing its key
  packages/vue-query/src/__tests__/useMutation.test.ts
Due: @tanstack/vue-query

test(lit-query): replace 'await Promise.resolve()' with 'vi.advanceTimersByTimeAsync(0)' and remove unnecessary waits
  packages/lit-query/src/__tests__/BaseController.test.ts
  packages/lit-query/src/__tests__/QueryClientProvider.test.ts
  packages/lit-query/src/__tests__/createInfiniteQueryController.test.ts
  packages/lit-query/src/__tests__/createMutationController.test.ts
  packages/lit-query/src/__tests__/createQueriesController.test.ts
  packages/lit-query/src/__tests__/createQueryController.test.ts
  packages/lit-query/src/__tests__/mutationOptions.test.ts
  packages/lit-query/src/__tests__/useIsFetching.test.ts
  packages/lit-query/src/__tests__/useIsMutating.test.ts
  packages/lit-query/src/__tests__/useMutationState.test.ts
Due: none

test(lit-query): replace 'await Promise.resolve()' with 'vi.advanceTimersByTimeAsync(0)' and remove unnecessary waits (#11744)
  packages/lit-query/src/__tests__/BaseController.test.ts
  packages/lit-query/src/__tests__/QueryClientProvider.test.ts
  packages/lit-query/src/__tests__/createInfiniteQueryController.test.ts
  packages/lit-query/src/__tests__/createMutationController.test.ts
  packages/lit-query/src/__tests__/createQueriesController.test.ts
  packages/lit-query/src/__tests__/createQueryController.test.ts
  packages/lit-query/src/__tests__/mutationOptions.test.ts
  packages/lit-query/src/__tests__/useIsFetching.test.ts
  packages/lit-query/src/__tests__/useIsMutating.test.ts
  packages/lit-query/src/__tests__/useMutationState.test.ts
Due: none

test(lit-query): replace 'forceUpdate' with reactive property changes
  packages/lit-query/src/__tests__/createInfiniteQueryController.test.ts
  packages/lit-query/src/__tests__/createQueriesController.test.ts
  packages/lit-query/src/__tests__/createQueryController.test.ts
  packages/lit-query/src/__tests__/useMutationState.test.ts
Due: none

test(lit-query): replace 'forceUpdate' with reactive property changes (#11745)
  packages/lit-query/src/__tests__/createInfiniteQueryController.test.ts
  packages/lit-query/src/__tests__/createQueriesController.test.ts
  packages/lit-query/src/__tests__/createQueryController.test.ts
  packages/lit-query/src/__tests__/useMutationState.test.ts
Due: none

test(lit-query): replace 'Promise.resolve' with 'sleep' in 'queryFn' and 'mutationFn'
  packages/lit-query/src/__tests__/createInfiniteQueryController.test.ts
  packages/lit-query/src/__tests__/createMutationController.test.ts
  packages/lit-query/src/__tests__/createQueriesController.test.ts
  packages/lit-query/src/__tests__/createQueryController.test.ts
Due: none

test(lit-query): assert the results after advancing timers past 'sleep' in 'queryFn' and 'mutationFn'
  packages/lit-query/src/__tests__/createInfiniteQueryController.test.ts
  packages/lit-query/src/__tests__/createMutationController.test.ts
  packages/lit-query/src/__tests__/createQueriesController.test.ts
  packages/lit-query/src/__tests__/createQueryController.test.ts
Due: none

test(lit-query): replace 'Promise.resolve' with 'sleep' in 'queryFn' and 'mutationFn' and assert the results after advancing timers (#11746)
  packages/lit-query/src/__tests__/createInfiniteQueryController.test.ts
  packages/lit-query/src/__tests__/createMutationController.test.ts
  packages/lit-query/src/__tests__/createQueriesController.test.ts
  packages/lit-query/src/__tests__/createQueryController.test.ts
Due: none

test(lit-query/createQueryController): add tests for 'suspense' with stale, fresh, disabled, and updated options
  packages/lit-query/src/__tests__/createQueryController.test.ts
Due: none

test(lit-query/createQueryController): add tests for 'suspense' with stale, fresh, disabled, and updated options (#11747)
  packages/lit-query/src/__tests__/createQueryController.test.ts
Due: none

test(lit-query/{useIsFetching,useIsMutating,useMutationState}): move the query and mutation controllers to a separate host in the render tests
  packages/lit-query/src/__tests__/useIsFetching.test.ts
  packages/lit-query/src/__tests__/useIsMutating.test.ts
  packages/lit-query/src/__tests__/useMutationState.test.ts
Due: none

test(lit-query/{useIsFetching,useIsMutating,useMutationState}): move the query and mutation controllers to a separate host in the render tests (#11748)
  packages/lit-query/src/__tests__/useIsFetching.test.ts
  packages/lit-query/src/__tests__/useIsMutating.test.ts
  packages/lit-query/src/__tests__/useMutationState.test.ts
Due: none

test(lit-query): replace 'await sleep' in async 'queryFn' and 'mutationFn' with 'sleep().then'
  packages/lit-query/src/__tests__/createInfiniteQueryController.test.ts
  packages/lit-query/src/__tests__/createMutationController.test.ts
  packages/lit-query/src/__tests__/createQueriesController.test.ts
  packages/lit-query/src/__tests__/createQueryController.test.ts
Due: none

test(lit-query): replace 'await sleep' in async 'queryFn' and 'mutationFn' with 'sleep().then' (#11749)
  packages/lit-query/src/__tests__/createInfiniteQueryController.test.ts
  packages/lit-query/src/__tests__/createMutationController.test.ts
  packages/lit-query/src/__tests__/createQueriesController.test.ts
  packages/lit-query/src/__tests__/createQueryController.test.ts
Due: none

test(lit-query/{useIsFetching,useIsMutating}): add tests for counting all queries and mutations when filters are omitted
  packages/lit-query/src/__tests__/useIsFetching.test.ts
  packages/lit-query/src/__tests__/useIsMutating.test.ts
Due: none

refactor(solid-query): move off sharedConfig onto Solid's public hydration API
  .changeset/solid-query-public-hydration-api.md
  packages/solid-query-devtools/src/clientOnly.tsx
  packages/solid-query/src/QueryClientProvider.tsx
  packages/solid-query/src/cacheAggregate.ts
  packages/solid-query/src/useBaseQuery.ts
Due: @tanstack/solid-query, @tanstack/solid-query-devtools

test(solid-query): open-stream cache writes commit outside pending boundaries
  packages/solid-query/src/__tests__/hydration.test.tsx
Due: @tanstack/solid-query

fix(react-query): reset only queries thrown to the error boundary
  packages/react-query/src/QueryErrorResetBoundary.tsx
  packages/react-query/src/__tests__/QueryResetErrorBoundary.test.tsx
  packages/react-query/src/errorBoundaryUtils.ts
  packages/react-query/src/suspense.ts
  packages/react-query/src/useBaseQuery.ts
  packages/react-query/src/useQueries.ts
Due: @tanstack/react-query

test(lit-query/{useIsFetching,useIsMutating}): add tests for counting all queries and mutations when filters are omitted (#11750)
  packages/lit-query/src/__tests__/useIsFetching.test.ts
  packages/lit-query/src/__tests__/useIsMutating.test.ts
Due: none

test(lit-query/useMutationState): add test for returning the states of all mutations when options are omitted
  packages/lit-query/src/__tests__/useMutationState.test.ts
Due: none

test(lit-query/useMutationState): add test for returning the states of all mutations when options are omitted (#11752)
  packages/lit-query/src/__tests__/useMutationState.test.ts
Due: none

docs(solid-query): describe snapshot hydration on the data projection
  packages/solid-query/src/useBaseQuery.ts
Due: @tanstack/solid-query

test(lit-query/createQueriesController): add tests for function 'initialData', 'initialDataUpdatedAt', and 'select' in the placeholder before a client is available
  packages/lit-query/src/__tests__/createQueriesController.test.ts
Due: none

test(lit-query/createQueriesController): add tests for function 'initialData', 'initialDataUpdatedAt', and 'select' in the placeholder before a client is available (#11753)
  packages/lit-query/src/__tests__/createQueriesController.test.ts
Due: none

chore(solid-query): follow Solid 2.0.0-rc.13
  .changeset/solid-query-public-hydration-api.md
  examples/solid/astro/package.json
  examples/solid/basic-graphql-request/package.json
  examples/solid/basic/package.json
  examples/solid/default-query-function/package.json
  examples/solid/offline/package.json
  examples/solid/simple/package.json
  examples/solid/solid-start-streaming/package.json
  integrations/solid-vite/package.json
  packages/solid-query-devtools/package.json
  packages/solid-query-persist-client/package.json
  packages/solid-query/package.json
  pnpm-lock.yaml
Due: @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client

test(lit-query/createQueriesController): remove unnecessary 'as const' from 'queries' arrays and host fields
  packages/lit-query/src/__tests__/createQueriesController.test-d.ts
  packages/lit-query/src/__tests__/createQueriesController.test.ts
Due: none

test(lit-query/createQueriesController): remove unnecessary 'as const' from 'queries' arrays and host fields (#11754)
  packages/lit-query/src/__tests__/createQueriesController.test-d.ts
  packages/lit-query/src/__tests__/createQueriesController.test.ts
Due: none

test(lit-query/createInfiniteQueryController): assert that 'fetchPreviousPage' rejects when no client is available
  packages/lit-query/src/__tests__/createInfiniteQueryController.test.ts
Due: none

test(lit-query/createInfiniteQueryController): assert that 'fetchPreviousPage' rejects when no client is available (#11755)
  packages/lit-query/src/__tests__/createInfiniteQueryController.test.ts
Due: none

test(lit-query/QueryClientProvider): add tests for replacing the client before the first update and clearing it while disconnected
  packages/lit-query/src/__tests__/QueryClientProvider.test.ts
Due: none
