Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 1%

comment:
  layout: 'header, reach, diff, flags, components'

component_management:
  individual_components:
    - component_id: angular-query-devtools-experimental
      name: '@tanstack/angular-query-devtools-experimental'
      paths:
        - packages/angular-query-devtools-experimental/**
    - component_id: angular-query-experimental
      name: '@tanstack/angular-query-experimental'
      paths:
        - packages/angular-query-experimental/**
    - component_id: eslint-plugin-query
      name: '@tanstack/eslint-plugin-query'
      paths:
        - packages/eslint-plugin-query/**
    - component_id: query-async-storage-persister
      name: '@tanstack/query-async-storage-persister'
      paths:
        - packages/query-async-storage-persister/**
    - component_id: query-broadcast-client-experimental
      name: '@tanstack/query-broadcast-client-experimental'
      paths:
        - packages/query-broadcast-client-experimental/**
    - component_id: query-codemods
      name: '@tanstack/query-codemods'
      paths:
        - packages/codemods/**
    - component_id: query-core
      name: '@tanstack/query-core'
      paths:
        - packages/query-core/**
    - component_id: query-devtools
      name: '@tanstack/query-devtools'
      paths:
        - packages/query-devtools/**
    - component_id: query-persist-client-core
      name: '@tanstack/query-persist-client-core'
      paths:
        - packages/query-persist-client-core/**
    - component_id: query-sync-storage-persister
      name: '@tanstack/query-sync-storage-persister'
      paths:
        - packages/query-sync-storage-persister/**
    - component_id: react-query
      name: '@tanstack/react-query'
      paths:
        - packages/react-query/**
    - component_id: react-query-devtools
      name: '@tanstack/react-query-devtools'
      paths:
        - packages/react-query-devtools/**
    - component_id: react-query-next-experimental
      name: '@tanstack/react-query-next-experimental'
      paths:
        - packages/react-query-next-experimental/**
    - component_id: react-query-persist-client
      name: '@tanstack/react-query-persist-client'
      paths:
        - packages/react-query-persist-client/**
    - component_id: solid-query
      name: '@tanstack/solid-query'
      paths:
        - packages/solid-query/**
    - component_id: solid-query-devtools
      name: '@tanstack/solid-query-devtools'
      paths:
        - packages/solid-query-devtools/**
    - component_id: solid-query-persist-client
      name: '@tanstack/solid-query-persist-client'
      paths:
        - packages/solid-query-persist-client/**
    - component_id: svelte-query
      name: '@tanstack/svelte-query'
      paths:
        - packages/svelte-query/**
    - component_id: svelte-query-devtools
      name: '@tanstack/svelte-query-devtools'
      paths:
        - packages/svelte-query-devtools/**
    - component_id: svelte-query-persist-client
      name: '@tanstack/svelte-query-persist-client'
      paths:
        - packages/svelte-query-persist-client/**
    - component_id: vue-query
      name: '@tanstack/vue-query'
      paths:
        - packages/vue-query/**
    - component_id: vue-query-devtools
      name: '@tanstack/vue-query-devtools'
      paths:
        - packages/vue-query-devtools/**

mv cleanup
  packages/query-core/src/__tests__/queryObserver.test.tsx
Due: @tanstack/query-core

mkay
  packages/query-core/src/__tests__/queryObserver.test.tsx
Due: @tanstack/query-core

add currentResult
  packages/angular-query-experimental/src/inject-queries.ts
Due: @tanstack/angular-query-experimental

some more things
  packages/query-core/src/query.ts
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/retryer.ts
  packages/query-core/src/thenable.ts
  packages/react-query/package.json
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/react-query/src/useBaseQuery.ts
Due: @tanstack/query-core, @tanstack/react-query

add fixme
  packages/react-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/react-query

fix types
  packages/query-core/src/query.ts
  packages/query-core/src/retryer.ts
Due: @tanstack/query-core

wat
  packages/query-core/src/queryObserver.ts
  packages/react-query/src/useBaseQuery.ts
Due: @tanstack/query-core, @tanstack/react-query

fix(query-core): accept generics on setQueryDefaults and setMutationDefaults (#7903)
  packages/query-core/src/queryClient.ts
  packages/vue-query/src/queryClient.ts
Due: @tanstack/query-core, @tanstack/vue-query

fix(vue-query): add shallow option, strip readonly in prod mode
  packages/vue-query/src/useBaseQuery.ts
  packages/vue-query/src/useInfiniteQuery.ts
  packages/vue-query/src/useMutation.ts
  packages/vue-query/src/useQueries.ts
  packages/vue-query/src/useQuery.ts
Due: @tanstack/vue-query

Fix sorting
  packages/solid-query/package.json
Due: @tanstack/solid-query

feat(react-query): add optional queryClient parameter like other hooks
  packages/react-query/src/prefetch.ts
Due: @tanstack/react-query

fix(react-query): remove unnecessary code
  packages/react-query/src/QueryClientProvider.tsx
Due: @tanstack/react-query

Added missing `type="button"` on DevTools-button
  packages/query-devtools/src/Devtools.tsx
Due: @tanstack/query-devtools

docs(react-query): Update React Suspens Link in README.md
  packages/react-query/README.md
Due: @tanstack/react-query

Update advanced-ssr.md
  docs/framework/react/guides/advanced-ssr.md
Due: none

perf(vue-query): add `shallow` flag to improve perf on large datasets (#7733)
  packages/vue-query/src/useBaseQuery.ts
  packages/vue-query/src/useInfiniteQuery.ts
  packages/vue-query/src/useMutation.ts
  packages/vue-query/src/useMutationState.ts
  packages/vue-query/src/useQueries.ts
  packages/vue-query/src/useQuery.ts
  packages/vue-query/src/utils.ts
Due: @tanstack/vue-query

release: v5.54.2
  examples/solid/astro/package.json
  examples/solid/basic-graphql-request/package.json
  examples/solid/basic/package.json
  examples/solid/default-query-function/package.json
  examples/solid/simple/package.json
  examples/solid/solid-start-streaming/package.json
  examples/svelte/auto-refetching/package.json
  examples/svelte/basic/package.json
  examples/svelte/load-more-infinite-scroll/package.json
  examples/svelte/optimistic-updates/package.json
  examples/svelte/playground/package.json
  examples/svelte/simple/package.json
  examples/svelte/ssr/package.json
  examples/svelte/star-wars/package.json
  examples/vue/2.6-basic/package.json
  examples/vue/2.7-basic/package.json
  examples/vue/basic/package.json
  examples/vue/dependent-queries/package.json
  examples/vue/nuxt3/package.json
  examples/vue/persister/package.json
  examples/vue/simple/package.json
  packages/solid-query-devtools/package.json
  packages/solid-query-persist-client/package.json
  packages/solid-query/package.json
  packages/svelte-query-devtools/package.json
  packages/svelte-query-persist-client/package.json
  packages/svelte-query/package.json
  packages/vue-query-devtools/package.json
  packages/vue-query/package.json
  pnpm-lock.yaml
Due: @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

feat(react-query): add optional queryClient parameter to usePrefetchQuery (#8014)
  packages/react-query/src/prefetch.ts
Due: @tanstack/react-query

release: v5.55.0
  examples/react/algolia/package.json
  examples/react/auto-refetching/package.json
  examples/react/basic-graphql-request/package.json
  examples/react/basic/package.json
  examples/react/default-query-function/package.json
  examples/react/devtools-panel/package.json
  examples/react/infinite-query-with-max-pages/package.json
  examples/react/load-more-infinite-scroll/package.json
  examples/react/nextjs-app-prefetching/package.json
  examples/react/nextjs-suspense-streaming/package.json
  examples/react/nextjs/package.json
  examples/react/offline/package.json
  examples/react/optimistic-updates-cache/package.json
  examples/react/optimistic-updates-ui/package.json
  examples/react/pagination/package.json
  examples/react/playground/package.json
  examples/react/prefetching/package.json
  examples/react/react-native/package.json
  examples/react/react-router/package.json
  examples/react/rick-morty/package.json
  examples/react/shadow-dom/package.json
  examples/react/simple/package.json
  examples/react/star-wars/package.json
  examples/react/suspense/package.json
  packages/react-query-devtools/package.json
  packages/react-query-next-experimental/package.json
  packages/react-query-persist-client/package.json
  packages/react-query/package.json
  pnpm-lock.yaml
Due: @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client

fixes
  packages/query-core/src/query.ts
  packages/query-core/src/queryObserver.ts
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/react-query/vite.config.ts
Due: @tanstack/query-core, @tanstack/react-query

revert
  packages/query-core/src/query.ts
  packages/query-core/src/queryObserver.ts
  packages/react-query/src/useBaseQuery.ts
Due: @tanstack/query-core, @tanstack/react-query

fix
  packages/query-core/src/queryObserver.ts
Due: @tanstack/query-core

colocating doesn’t workkk
  packages/query-core/src/queryObserver.ts
  packages/react-query/src/__tests__/useInfiniteQuery.test.tsx
  packages/react-query/src/useBaseQuery.ts
Due: @tanstack/query-core, @tanstack/react-query

mkay
  packages/query-core/src/retryer.ts
Due: @tanstack/query-core

mkay
  packages/react-query/src/__tests__/useInfiniteQuery.test.tsx
  packages/react-query/src/useBaseQuery.ts
Due: @tanstack/react-query

might work
  packages/query-core/src/queryObserver.ts
  packages/react-query/src/useBaseQuery.ts
Due: @tanstack/query-core, @tanstack/react-query

more test
  packages/react-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/react-query

cool
  packages/query-core/src/queryObserver.ts
  packages/react-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/query-core, @tanstack/react-query

i don’t know hwat i’m doing
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/react-query/src/useBaseQuery.ts
Due: @tanstack/react-query

fix(react-query): split prefetch.ts
  packages/react-query/src/index.ts
  packages/react-query/src/usePrefetchInfiniteQuery.tsx
  packages/react-query/src/usePrefetchQuery.tsx
Due: @tanstack/react-query

fix(react-query): QueryErrorResetBoundaryValue as class
  packages/react-query/src/QueryErrorResetBoundary.tsx
Due: @tanstack/react-query

chore: update
  packages/react-query/src/QueryErrorResetBoundary.tsx
Due: @tanstack/react-query

mocky
  packages/react-query/src/__tests__/ssr.test.tsx
  packages/react-query/src/useBaseQuery.ts
Due: @tanstack/react-query

lint
  packages/react-query/src/__tests__/ssr.test.tsx
Due: @tanstack/react-query

space
  packages/react-query/src/__tests__/ssr.test.tsx
Due: @tanstack/react-query

rm log
  packages/react-query/src/__tests__/suspense.test.tsx
Due: @tanstack/react-query

setIsServer
  packages/react-query/src/__tests__/ssr.test.tsx
Due: @tanstack/react-query
