Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools, @tanstack/angular-query, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

codecov.yml:

codecov:
  max_report_age: off

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto

comment:
  layout: 'header, reach, diff, flags, components'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  hide_project_coverage: false

component_management:
  individual_components:
    - component_id: angular-query-devtools
      name: '@tanstack/angular-query-devtools'
      paths:
        - packages/angular-query-devtools/**
    - component_id: angular-query
      name: '@tanstack/angular-query'
      paths:
        - packages/angular-query/**
    - component_id: eslint-plugin-query
      name: '@tanstack/eslint-plugin-query'
      paths:
        - packages/eslint-plugin-query/**
    - component_id: query-async-storage-persister
      name: '@tanstack/query-async-storage-persister'
      paths:
        - packages/query-async-storage-persister/**
    - component_id: query-broadcast-client-experimental
      name: '@tanstack/query-broadcast-client-experimental'
      paths:
        - packages/query-broadcast-client-experimental/**
    - component_id: query-codemods
      name: '@tanstack/query-codemods'
      paths:
        - packages/query-codemods/**
    - component_id: query-core
      name: '@tanstack/query-core'
      paths:
        - packages/query-core/**
    - component_id: query-devtools
      name: '@tanstack/query-devtools'
      paths:
        - packages/query-devtools/**
    - component_id: query-persist-client-core
      name: '@tanstack/query-persist-client-core'
      paths:
        - packages/query-persist-client-core/**
    - component_id: query-sync-storage-persister
      name: '@tanstack/query-sync-storage-persister'
      paths:
        - packages/query-sync-storage-persister/**
    - component_id: query-test-utils
      name: '@tanstack/query-test-utils'
      paths:
        - packages/query-test-utils/**
    - component_id: react-query
      name: '@tanstack/react-query'
      paths:
        - packages/react-query/**
    - component_id: react-query-devtools
      name: '@tanstack/react-query-devtools'
      paths:
        - packages/react-query-devtools/**
    - component_id: react-query-next-experimental
      name: '@tanstack/react-query-next-experimental'
      paths:
        - packages/react-query-next-experimental/**
    - component_id: react-query-persist-client
      name: '@tanstack/react-query-persist-client'
      paths:
        - packages/react-query-persist-client/**
    - component_id: solid-query
      name: '@tanstack/solid-query'
      paths:
        - packages/solid-query/**
    - component_id: solid-query-devtools
      name: '@tanstack/solid-query-devtools'
      paths:
        - packages/solid-query-devtools/**
    - component_id: solid-query-persist-client
      name: '@tanstack/solid-query-persist-client'
      paths:
        - packages/solid-query-persist-client/**
    - component_id: svelte-query
      name: '@tanstack/svelte-query'
      paths:
        - packages/svelte-query/**
    - component_id: svelte-query-devtools
      name: '@tanstack/svelte-query-devtools'
      paths:
        - packages/svelte-query-devtools/**
    - component_id: svelte-query-persist-client
      name: '@tanstack/svelte-query-persist-client'
      paths:
        - packages/svelte-query-persist-client/**
    - component_id: vue-query
      name: '@tanstack/vue-query'
      paths:
        - packages/vue-query/**
    - component_id: vue-query-devtools
      name: '@tanstack/vue-query-devtools'
      paths:
        - packages/vue-query-devtools/**

code-rabbit issues addressed
  docs/framework/preact/guides/disabling-queries.md
  docs/framework/preact/guides/paginated-queries.md
Due: none

<div/> lol
  docs/framework/preact/guides/infinite-queries.md
Due: none

fix(react-query): update use-sync-external-store to support React 19 as peerDep correctly (#10039)
  .changeset/fresh-jeans-sit.md
  packages/react-query/package.json
  pnpm-lock.yaml
Due: @tanstack/react-query

fix: docs
  docs/config.json
Due: none

fix: lockfile
  pnpm-lock.yaml
Due: none

fix: duplicated versions
  package.json
  pnpm-lock.yaml
Due: none

feat(core): add queryKey to QueryObserverResult
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/types.ts
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/solid-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/query-core, @tanstack/react-query, @tanstack/solid-query

Add queryKey to QueryObserverResult in core
  .changeset/thick-mangos-remain.md
Due: none

feat: new eslint rule
  docs/eslint/no-module-query-client.md
  packages/eslint-plugin-query/src/__tests__/no-module-query-client.test.ts
  packages/eslint-plugin-query/src/rules.ts
  packages/eslint-plugin-query/src/rules/no-module-query-client/no-module-query-client.rule.ts
Due: @tanstack/eslint-plugin-query

docs
  docs/eslint/no-module-query-client.md
Due: none

Create afraid-walls-glow.md
  .changeset/afraid-walls-glow.md
Due: none

docs: add missing eslint rules from left navigation (#9719)
  docs/config.json
Due: none

chore: add postinstall to vue 2 examples to fix `vue-demi`, add vue 2.7 example link to docs
  docs/config.json
  examples/vue/2.6-basic/package.json
  examples/vue/2.7-basic/README.md
  examples/vue/2.7-basic/package.json
Due: none

chore: add postinstall to vue 2 examples to fix `vue-demi`, add vue 2.7 example link to docs (#10063)
  docs/config.json
  examples/vue/2.6-basic/package.json
  examples/vue/2.7-basic/README.md
  examples/vue/2.7-basic/package.json
Due: none

refactor(react-query): replace global 'pendingHydrationQueries' with React Context
  packages/query-core/src/hydration.ts
  packages/query-core/src/index.ts
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/types.ts
  packages/react-query/src/HydrationBoundary.tsx
  packages/react-query/src/IsHydratingProvider.ts
  packages/react-query/src/__tests__/HydrationBoundary.test.tsx
  packages/react-query/src/index.ts
  packages/react-query/src/useBaseQuery.ts
  packages/react-query/src/useQueries.ts
Due: @tanstack/query-core, @tanstack/react-query

fix(query-core): refetch stale data during hydration for cached markup scenario
  packages/query-core/src/queryObserver.ts
  packages/react-query/src/__tests__/HydrationBoundary.test.tsx
Due: @tanstack/query-core, @tanstack/react-query

docs(react): update hydration docs to reflect stale data refetch behavior
  docs/framework/react/guides/ssr.md
  docs/framework/react/reference/hydration.md
Due: none

refactor(react-query/IsHydratingProvider): simplify context definition
  packages/react-query/src/IsHydratingProvider.ts
Due: @tanstack/react-query

refactor(react-query): simplify hydration context from '{ current: Set }' to 'Set'
  packages/react-query/src/HydrationBoundary.tsx
  packages/react-query/src/IsHydratingProvider.ts
  packages/react-query/src/useBaseQuery.ts
  packages/react-query/src/useQueries.ts
Due: @tanstack/react-query

chore: update changeset configuration to include fixed dependencies for various TanStack packages
  .changeset/config.json
Due: none

chore: update package versions across multiple examples and packages to 5.92.9, including Angular, React, Solid, Svelte, and Vue integrations
  .changeset/config.json
Due: none

chore: add changeset for version patches across multiple TanStack packages
  .changeset/dry-hotels-grin.md
  packages/query-test-utils/package.json
Due: @tanstack/query-test-utils

comments
  packages/eslint-plugin-query/src/__tests__/no-module-query-client.test.ts
  packages/eslint-plugin-query/src/rules/no-module-query-client/no-module-query-client.rule.ts
Due: @tanstack/eslint-plugin-query

chore: add changeset for onMutate sync fix
  .changeset/giant-apples-wear.md
Due: none

fix(query-core): ensure onMutate runs synchronously when cache config is undefined
  packages/query-core/src/__tests__/mutationCache.test.tsx
  packages/query-core/src/mutation.ts
Due: @tanstack/query-core

fix(query-core): ensure onMutate runs synchronously when cache config is undefined (#8724) (#10066)
  .changeset/giant-apples-wear.md
  packages/query-core/src/__tests__/mutationCache.test.tsx
  packages/query-core/src/mutation.ts
Due: @tanstack/query-core

Update packages/eslint-plugin-query/package.json
  packages/eslint-plugin-query/package.json
Due: @tanstack/eslint-plugin-query

update lockfile
  pnpm-lock.yaml
Due: none

Update TypeScript peer dependency in eslint-plugin-query
  .changeset/soft-cherries-hide.md
Due: none

fix(eslint-plugin-query): declare typescript as optional peer dependency (#10007)
  .changeset/soft-cherries-hide.md
  packages/eslint-plugin-query/package.json
  pnpm-lock.yaml
Due: @tanstack/eslint-plugin-query

fix(svelte-query): suppress false positive unused import warnings
  packages/svelte-query/vite.config.ts
Due: @tanstack/svelte-query

Set query data to undefined when an error is triggered
  packages/query-devtools/src/Devtools.tsx
Due: @tanstack/query-devtools

changeset
  .changeset/many-toes-speak.md
Due: none

lockfile (I cooked or am I cooked)
  pnpm-lock.yaml
Due: none

Remove unnecessary tests
  packages/vue-query/src/__tests__/mutationOptions.test.ts
Due: @tanstack/vue-query

chore: update changeset configuration to include @tanstack/vue-query-devtools as a dependency
  .changeset/config.json
Due: none

fix: preserve infinite query behavior during SSR hydration (#8825)
  packages/query-core/src/__tests__/hydration.test.tsx
  packages/query-core/src/hydration.ts
Due: @tanstack/query-core

chore: add changeset for #8825
  .changeset/stupid-seals-live.md
Due: none
