Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools, @tanstack/angular-query, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

codecov.yml:

codecov:
  max_report_age: off

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto

comment:
  layout: 'header, reach, diff, flags, components'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  hide_project_coverage: false

component_management:
  individual_components:
    - component_id: angular-query-devtools
      name: '@tanstack/angular-query-devtools'
      paths:
        - packages/angular-query-devtools/**
    - component_id: angular-query
      name: '@tanstack/angular-query'
      paths:
        - packages/angular-query/**
    - component_id: eslint-plugin-query
      name: '@tanstack/eslint-plugin-query'
      paths:
        - packages/eslint-plugin-query/**
    - component_id: query-async-storage-persister
      name: '@tanstack/query-async-storage-persister'
      paths:
        - packages/query-async-storage-persister/**
    - component_id: query-broadcast-client-experimental
      name: '@tanstack/query-broadcast-client-experimental'
      paths:
        - packages/query-broadcast-client-experimental/**
    - component_id: query-codemods
      name: '@tanstack/query-codemods'
      paths:
        - packages/query-codemods/**
    - component_id: query-core
      name: '@tanstack/query-core'
      paths:
        - packages/query-core/**
    - component_id: query-devtools
      name: '@tanstack/query-devtools'
      paths:
        - packages/query-devtools/**
    - component_id: query-persist-client-core
      name: '@tanstack/query-persist-client-core'
      paths:
        - packages/query-persist-client-core/**
    - component_id: query-sync-storage-persister
      name: '@tanstack/query-sync-storage-persister'
      paths:
        - packages/query-sync-storage-persister/**
    - component_id: query-test-utils
      name: '@tanstack/query-test-utils'
      paths:
        - packages/query-test-utils/**
    - component_id: react-query
      name: '@tanstack/react-query'
      paths:
        - packages/react-query/**
    - component_id: react-query-devtools
      name: '@tanstack/react-query-devtools'
      paths:
        - packages/react-query-devtools/**
    - component_id: react-query-next-experimental
      name: '@tanstack/react-query-next-experimental'
      paths:
        - packages/react-query-next-experimental/**
    - component_id: react-query-persist-client
      name: '@tanstack/react-query-persist-client'
      paths:
        - packages/react-query-persist-client/**
    - component_id: solid-query
      name: '@tanstack/solid-query'
      paths:
        - packages/solid-query/**
    - component_id: solid-query-devtools
      name: '@tanstack/solid-query-devtools'
      paths:
        - packages/solid-query-devtools/**
    - component_id: solid-query-persist-client
      name: '@tanstack/solid-query-persist-client'
      paths:
        - packages/solid-query-persist-client/**
    - component_id: svelte-query
      name: '@tanstack/svelte-query'
      paths:
        - packages/svelte-query/**
    - component_id: svelte-query-devtools
      name: '@tanstack/svelte-query-devtools'
      paths:
        - packages/svelte-query-devtools/**
    - component_id: svelte-query-persist-client
      name: '@tanstack/svelte-query-persist-client'
      paths:
        - packages/svelte-query-persist-client/**
    - component_id: vue-query
      name: '@tanstack/vue-query'
      paths:
        - packages/vue-query/**
    - component_id: vue-query-devtools
      name: '@tanstack/vue-query-devtools'
      paths:
        - packages/vue-query-devtools/**

feat(query-devtools): add clear button to filter input
  packages/query-devtools/src/Devtools.tsx
Due: @tanstack/query-devtools

chore: add changeset for clear filter button
  .changeset/clear-filter-button.md
Due: none

fix(query-devtools): address code review feedback
  packages/query-devtools/src/Devtools.tsx
Due: @tanstack/query-devtools

Fixed and added tests
  packages/eslint-plugin-query/src/__tests__/exhaustive-deps.test.ts
  packages/eslint-plugin-query/src/rules/exhaustive-deps/exhaustive-deps.rule.ts
  packages/eslint-plugin-query/src/rules/exhaustive-deps/exhaustive-deps.utils.ts
Due: @tanstack/eslint-plugin-query

Changeset
  .changeset/slimy-taxes-make.md
Due: none

remove the react remnants
  packages/preact-query/README.md
  packages/preact-query/eslint.config.js
  packages/preact-query/package.json
  packages/preact-query/src/HydrationBoundary.tsx
  packages/preact-query/src/__tests__/HydrationBoundary.test.tsx
  packages/preact-query/src/__tests__/ssr-hydration.test.tsx
  packages/preact-query/src/__tests__/suspense.test.tsx
  packages/preact-query/src/__tests__/useQuery.test.tsx
  packages/preact-query/src/__tests__/useSuspenseInfiniteQuery.test.tsx
  packages/preact-query/src/__tests__/useSuspenseQueries.test.tsx
  packages/preact-query/test-setup.ts
Due: none

generate docs
  scripts/generate-docs.ts
Due: none

typescript eslint
  packages/preact-query/package.json
Due: none

prefer `React.use` instead of throwing promises
  packages/react-query/src/suspense.ts
  packages/react-query/src/useBaseQuery.ts
  packages/react-query/src/useQueries.ts
Due: @tanstack/react-query

fianlly
  packages/react-query/src/useBaseQuery.ts
Due: @tanstack/react-query

add simple start example
  examples/react/react-start/.gitignore
  examples/react/react-start/.prettierignore
  examples/react/react-start/.vscode/settings.json
  examples/react/react-start/README.md
  examples/react/react-start/package.json
  examples/react/react-start/src/components/Button.tsx
  examples/react/react-start/src/components/DefaultCatchBoundary.tsx
  examples/react/react-start/src/components/NotFound.tsx
  examples/react/react-start/src/components/Spinner.tsx
  examples/react/react-start/src/routeTree.gen.ts
  examples/react/react-start/src/router.tsx
  examples/react/react-start/src/routes/__root.tsx
  examples/react/react-start/src/routes/index.tsx
  examples/react/react-start/src/routes/projects.$projectId.tsx
  examples/react/react-start/src/utils/queries.ts
  examples/react/react-start/tsconfig.json
  examples/react/react-start/vite.config.ts
  examples/react/suspense/src/index.tsx
  packages/react-query/src/suspense.ts
  packages/react-query/src/useBaseQuery.ts
  packages/vue-query-devtools/package.json
  packages/vue-query/package.json
  pnpm-lock.yaml
Due: @tanstack/react-query, @tanstack/vue-query, @tanstack/vue-query-devtools

try manual wrap, no difference
  examples/react/react-start/src/routes/index.tsx
Due: none

refactor(core): use input-driven type inference for resolveOption
  packages/query-core/src/query.ts
  packages/query-core/src/streamedQuery.ts
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

fix(core): remove unnecessary type assertion flagged by eslint
  packages/query-core/src/query.ts
Due: @tanstack/query-core

fix(query-core): make retry failureCount 1-based
  .changeset/bright-rabbits-jump.md
  docs/framework/react/guides/query-retries.md
  docs/framework/react/reference/useMutation.md
  docs/framework/react/reference/useQuery.md
  docs/framework/solid/reference/useQuery.md
  packages/query-core/src/__tests__/query.test.tsx
  packages/query-core/src/retryer.ts
Due: @tanstack/query-core

docs: tweak retry guide wording
  docs/framework/react/guides/query-retries.md
Due: none

fix(query-core): avoid throwing promise errors when data exists
  packages/query-core/src/queryObserver.ts
Due: @tanstack/query-core

test(react-query): cover refetch error behavior with promise + infinite query
  packages/react-query/src/__tests__/useQuery.promise.test.tsx
Due: @tanstack/react-query

feat(query-core): implement client-informed server prefetching
  packages/query-core/src/queryClient.ts
  packages/query-core/src/types.ts
Due: @tanstack/query-core

test(query-core): add verification for client cache state prefetching
  packages/query-core/src/__tests__/clientCacheState.test.tsx
Due: @tanstack/query-core

feat(query-core): optimize prefetch logic and support infinite queries
  packages/query-core/src/__tests__/clientCacheState.test.tsx
  packages/query-core/src/queryClient.ts
Due: @tanstack/query-core

chore: add changeset for client-informed prefetching
  .changeset/client-informed-prefetch.md
Due: none

feat(query-core): add extractClientCacheState helper to QueryCache
  packages/query-core/src/queryCache.ts
Due: @tanstack/query-core

chore(changeset): add query-core patch for prefetch error handling
  .changeset/fix-prefetch-error-boundary.md
Due: none

test(react-query/ssr): add 'useQueries' test for SSR (#9996)
  packages/react-query/src/__tests__/ssr.test.tsx
Due: @tanstack/react-query

vite config fix
  packages/preact-query/vite.config.ts
Due: none

chore: remove unnecessary type assertions
  packages/query-core/src/query.ts
  packages/query-core/src/queryObserver.ts
  packages/query-devtools/src/Devtools.tsx
Due: @tanstack/query-core, @tanstack/query-devtools

docs: clarify that failureCount starts at 0 in retry callback
  docs/framework/react/guides/query-retries.md
  docs/framework/react/reference/useQuery.md
Due: none

fix(query-core): replaceEqualDeep max depth
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

restore expected error in unit test
  packages/query-core/src/__tests__/query.test.tsx
Due: @tanstack/query-core

Update max depth for replaceEqualDeep function
  .changeset/swift-zoos-applaud.md
Due: none

fix(query-core): replaceEqualDeep max depth (#10032)
  .changeset/swift-zoos-applaud.md
  packages/query-core/src/__tests__/query.test.tsx
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

feat(react-query): infer errors from Throws returns
  packages/query-core/src/types.ts
  packages/react-query/src/__tests__/mutationOptions.test-d.tsx
  packages/react-query/src/__tests__/useQuery.test-d.tsx
  packages/react-query/src/useMutation.ts
  packages/react-query/src/useQuery.ts
Due: @tanstack/query-core, @tanstack/react-query

Add mutationOptions for vue-query
  packages/vue-query/src/index.ts
  packages/vue-query/src/mutationOptions.ts
Due: @tanstack/vue-query

new type helper utils: DeepUnwrapRefOrGetter, MaybeRefDeepOrGetter
  packages/vue-query/src/mutationOptions.ts
  packages/vue-query/src/types.ts
  packages/vue-query/src/useMutation.ts
Due: @tanstack/vue-query

Add tests of mutationOptions
  packages/vue-query/src/__tests__/mutationOptions.test-d.ts
  packages/vue-query/src/__tests__/mutationOptions.test.ts
Due: @tanstack/vue-query

Add docs of mutationOptions
  docs/framework/vue/reference/mutationOptions.md
Due: none
