Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools, @tanstack/angular-query, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

test(vue-query/mutationOptions): add 'useIsMutating' tests for getter overloads
  packages/vue-query/src/__tests__/mutationOptions.test.ts
Due: @tanstack/vue-query

test(vue-query/mutationOptions): add 'useIsMutating' tests for getter overloads (#10469)
  packages/vue-query/src/__tests__/mutationOptions.test.ts
Due: @tanstack/vue-query

test(vue-query/mutationOptions): add 'queryClient.isMutating' tests for getter overloads
  packages/vue-query/src/__tests__/mutationOptions.test.ts
Due: @tanstack/vue-query

test(vue-query/mutationOptions): add 'queryClient.isMutating' tests for getter overloads (#10471)
  packages/vue-query/src/__tests__/mutationOptions.test.ts
Due: @tanstack/vue-query

test(vue-query/mutationOptions): add 'useMutationState' tests for getter overloads
  packages/vue-query/src/__tests__/mutationOptions.test.ts
Due: @tanstack/vue-query

test(vue-query/mutationOptions): add 'useMutationState' tests for getter overloads (#10472)
  packages/vue-query/src/__tests__/mutationOptions.test.ts
Due: @tanstack/vue-query

test(vue-query/mutationOptions): add shallow ref test for getter overload
  packages/vue-query/src/__tests__/mutationOptions.test.ts
Due: @tanstack/vue-query

test(vue-query/mutationOptions): add shallow ref test for getter overload (#10473)
  packages/vue-query/src/__tests__/mutationOptions.test.ts
Due: @tanstack/vue-query

test(vue-query/mutationOptions): add reactive 'mutationKey' test for getter overload
  packages/vue-query/src/__tests__/mutationOptions.test.ts
Due: @tanstack/vue-query

fix: propagate AbortSignal reason when cancelling infinite query fetchPage (Closes #10475)
  packages/query-core/src/infiniteQueryBehavior.ts
Due: @tanstack/query-core

test(vue-query/mutationOptions): add reactive 'mutationKey' test for getter overload (#10474)
  packages/vue-query/src/__tests__/mutationOptions.test.ts
Due: @tanstack/vue-query

test(svelte-query/createMutation): rename 'OnSuccessExample' to 'SuccessExample'
  packages/svelte-query/tests/createMutation/SuccessExample.svelte
  packages/svelte-query/tests/createMutation/createMutation.svelte.test.ts
Due: @tanstack/svelte-query

test(svelte-query/createMutation): rename 'OnSuccessExample' to 'SuccessExample' (#10477)
  packages/svelte-query/tests/createMutation/SuccessExample.svelte
  packages/svelte-query/tests/createMutation/createMutation.svelte.test.ts
Due: @tanstack/svelte-query

test(vue-query/mutationOptions): reorder getter tests to group by feature
  packages/vue-query/src/__tests__/mutationOptions.test.ts
Due: @tanstack/vue-query

test(vue-query/mutationOptions): reorder getter tests to group by feature and unify test descriptions (#10478)
  packages/vue-query/src/__tests__/mutationOptions.test.ts
Due: @tanstack/vue-query

test(svelte-query): remove 'Example' suffix from test component file names
  packages/svelte-query/tests/HydrationBoundary/Base.svelte
  packages/svelte-query/tests/HydrationBoundary/HydrationBoundary.svelte.test.ts
  packages/svelte-query/tests/QueryClientProvider/Base.svelte
  packages/svelte-query/tests/QueryClientProvider/Child.svelte
  packages/svelte-query/tests/QueryClientProvider/QueryClientProvider.svelte.test.ts
  packages/svelte-query/tests/context/Base.svelte
  packages/svelte-query/tests/context/context.svelte.test.ts
  packages/svelte-query/tests/createInfiniteQuery/Base.svelte
  packages/svelte-query/tests/createInfiniteQuery/ChangeClient.svelte
  packages/svelte-query/tests/createInfiniteQuery/Select.svelte
  packages/svelte-query/tests/createInfiniteQuery/createInfiniteQuery.svelte.test.ts
  packages/svelte-query/tests/createMutation/Failure.svelte
  packages/svelte-query/tests/createMutation/Reset.svelte
  packages/svelte-query/tests/createMutation/Success.svelte
  packages/svelte-query/tests/createMutation/createMutation.svelte.test.ts
  packages/svelte-query/tests/createQueries/IsRestoring.svelte
  packages/svelte-query/tests/createQueries/createQueries.svelte.test.ts
  packages/svelte-query/tests/createQuery/IsRestoring.svelte
  packages/svelte-query/tests/createQuery/createQuery.svelte.test.ts
  packages/svelte-query/tests/mutationOptions/Base.svelte
  packages/svelte-query/tests/mutationOptions/Multi.svelte
  packages/svelte-query/tests/mutationOptions/mutationOptions.svelte.test.ts
  packages/svelte-query/tests/useIsFetching/Base.svelte
  packages/svelte-query/tests/useIsFetching/useIsFetching.svelte.test.ts
  packages/svelte-query/tests/useIsMutating/Base.svelte
  packages/svelte-query/tests/useIsMutating/useIsMutating.svelte.test.ts
  packages/svelte-query/tests/useMutationState/Base.svelte
  packages/svelte-query/tests/useMutationState/Select.svelte
  packages/svelte-query/tests/useMutationState/useMutationState.svelte.test.ts
Due: @tanstack/svelte-query

test(svelte-query): remove 'Example' suffix from test component file names and rename 'QueryChild' to 'Child' (#10480)
  packages/svelte-query/tests/HydrationBoundary/Base.svelte
  packages/svelte-query/tests/HydrationBoundary/HydrationBoundary.svelte.test.ts
  packages/svelte-query/tests/QueryClientProvider/Base.svelte
  packages/svelte-query/tests/QueryClientProvider/Child.svelte
  packages/svelte-query/tests/QueryClientProvider/QueryClientProvider.svelte.test.ts
  packages/svelte-query/tests/context/Base.svelte
  packages/svelte-query/tests/context/context.svelte.test.ts
  packages/svelte-query/tests/createInfiniteQuery/Base.svelte
  packages/svelte-query/tests/createInfiniteQuery/ChangeClient.svelte
  packages/svelte-query/tests/createInfiniteQuery/Select.svelte
  packages/svelte-query/tests/createInfiniteQuery/createInfiniteQuery.svelte.test.ts
  packages/svelte-query/tests/createMutation/Failure.svelte
  packages/svelte-query/tests/createMutation/Reset.svelte
  packages/svelte-query/tests/createMutation/Success.svelte
  packages/svelte-query/tests/createMutation/createMutation.svelte.test.ts
  packages/svelte-query/tests/createQueries/IsRestoring.svelte
  packages/svelte-query/tests/createQueries/createQueries.svelte.test.ts
  packages/svelte-query/tests/createQuery/IsRestoring.svelte
  packages/svelte-query/tests/createQuery/createQuery.svelte.test.ts
  packages/svelte-query/tests/mutationOptions/Base.svelte
  packages/svelte-query/tests/mutationOptions/Multi.svelte
  packages/svelte-query/tests/mutationOptions/mutationOptions.svelte.test.ts
  packages/svelte-query/tests/useIsFetching/Base.svelte
  packages/svelte-query/tests/useIsFetching/useIsFetching.svelte.test.ts
  packages/svelte-query/tests/useIsMutating/Base.svelte
  packages/svelte-query/tests/useIsMutating/useIsMutating.svelte.test.ts
  packages/svelte-query/tests/useMutationState/Base.svelte
  packages/svelte-query/tests/useMutationState/Select.svelte
  packages/svelte-query/tests/useMutationState/useMutationState.svelte.test.ts
Due: @tanstack/svelte-query

test(react-query/useMutation): add type tests for 'useMutation'
  packages/react-query/src/__tests__/useMutation.test-d.tsx
Due: @tanstack/react-query

docs(examples): update preact-query version in simple example
  examples/preact/simple/package.json
Due: none

docs(examples): update preact-query version in simple example
  pnpm-lock.yaml
Due: none

fix(eslint-plugin-query): use TypeFlags from typescript instead of hardcoded values
  packages/eslint-plugin-query/src/rules/no-void-query-fn/no-void-query-fn.rule.ts
Due: @tanstack/eslint-plugin-query

test(preact-query/useMutation): add type tests for 'useMutation'
  packages/preact-query/src/__tests__/useMutation.test-d.tsx
Due: none

test({react,preact}-query): add type tests for 'useMutation' (#10482)
  packages/preact-query/src/__tests__/useMutation.test-d.tsx
  packages/react-query/src/__tests__/useMutation.test-d.tsx
Due: @tanstack/react-query

test({react,preact}-query/useMutation): add 'throwOnError' false case tests
  packages/preact-query/src/__tests__/useMutation.test.tsx
  packages/react-query/src/__tests__/useMutation.test.tsx
Due: @tanstack/react-query

test({react,preact}-query/useMutation): add 'throwOnError' false case tests (#10485)
  packages/preact-query/src/__tests__/useMutation.test.tsx
  packages/react-query/src/__tests__/useMutation.test.tsx
Due: @tanstack/react-query

test({react,preact}-query/useMutation): add 'mutate' callback override tests
  packages/preact-query/src/__tests__/useMutation.test.tsx
  packages/react-query/src/__tests__/useMutation.test.tsx
Due: @tanstack/react-query

test({react,preact}-query/useMutation): add 'mutate' callback override tests (#10486)
  packages/preact-query/src/__tests__/useMutation.test.tsx
  packages/react-query/src/__tests__/useMutation.test.tsx
Due: @tanstack/react-query

test({react,preact}-query/useMutation): add single callback tests for 'onSuccess', 'onError', and 'onSettled'
  packages/preact-query/src/__tests__/useMutation.test.tsx
  packages/react-query/src/__tests__/useMutation.test.tsx
Due: @tanstack/react-query

test({react,preact}-query/useMutation): add single callback tests for 'onSuccess', 'onError', and 'onSettled' (#10487)
  packages/preact-query/src/__tests__/useMutation.test.tsx
  packages/react-query/src/__tests__/useMutation.test.tsx
Due: @tanstack/react-query

test({react,preact}-query/useMutation): add single callback tests for 'mutateAsync'
  packages/preact-query/src/__tests__/useMutation.test.tsx
  packages/react-query/src/__tests__/useMutation.test.tsx
Due: @tanstack/react-query

test({react,preact}-query/useMutation): add single callback tests for 'mutateAsync' (#10488)
  packages/preact-query/src/__tests__/useMutation.test.tsx
  packages/react-query/src/__tests__/useMutation.test.tsx
Due: @tanstack/react-query

test({react,preact}-query/useMutation): add callback tests when 'useMutation' has no callbacks
  packages/preact-query/src/__tests__/useMutation.test.tsx
  packages/react-query/src/__tests__/useMutation.test.tsx
Due: @tanstack/react-query

test({react,preact}-query/useMutation): add callback tests when 'useMutation' has no callbacks (#10489)
  packages/preact-query/src/__tests__/useMutation.test.tsx
  packages/react-query/src/__tests__/useMutation.test.tsx
Due: @tanstack/react-query

test({react,preact}-query/useMutation): add chained 'mutateAsync' tests for sequential mutation calls
  packages/preact-query/src/__tests__/useMutation.test.tsx
  packages/react-query/src/__tests__/useMutation.test.tsx
Due: @tanstack/react-query

test({react,preact}-query/useMutation): add chained 'mutateAsync' tests for sequential mutation calls (#10490)
  packages/preact-query/src/__tests__/useMutation.test.tsx
  packages/react-query/src/__tests__/useMutation.test.tsx
Due: @tanstack/react-query

test({react,preact}-query/useMutation): add conditional handling and retry tests using 'mutate' callbacks
  packages/preact-query/src/__tests__/useMutation.test.tsx
  packages/react-query/src/__tests__/useMutation.test.tsx
Due: @tanstack/react-query

test({react,preact}-query/useMutation): add conditional handling and retry tests using 'mutate' callbacks (#10491)
  packages/preact-query/src/__tests__/useMutation.test.tsx
  packages/react-query/src/__tests__/useMutation.test.tsx
Due: @tanstack/react-query

test({react,preact}-query/useMutation): add optimistic update tests with success and rollback on error
  packages/preact-query/src/__tests__/useMutation.test.tsx
  packages/react-query/src/__tests__/useMutation.test.tsx
Due: @tanstack/react-query

test({react,preact}-query/useMutation): add optimistic update tests with success and rollback on error (#10492)
  packages/preact-query/src/__tests__/useMutation.test.tsx
  packages/react-query/src/__tests__/useMutation.test.tsx
Due: @tanstack/react-query

test({react,preact}-query/useMutation): add parallel 'mutateAsync' tests with 'Promise.all' and 'Promise.allSettled'
  packages/preact-query/src/__tests__/useMutation.test.tsx
  packages/react-query/src/__tests__/useMutation.test.tsx
Due: @tanstack/react-query

Path conditions:
  @tanstack/angular-query-devtools: any of: packages/angular-query-devtools/**
  @tanstack/angular-query: any of: packages/angular-query/**
  @tanstack/eslint-plugin-query: any of: packages/eslint-plugin-query/**
  @tanstack/query-async-storage-persister: any of: packages/query-async-storage-persister/**
  @tanstack/query-broadcast-client-experimental: any of: packages/query-broadcast-client-experimental/**
  @tanstack/query-codemods: any of: packages/query-codemods/**
  @tanstack/query-core: any of: packages/query-core/**
  @tanstack/query-devtools: any of: packages/query-devtools/**
  @tanstack/query-persist-client-core: any of: packages/query-persist-client-core/**
  @tanstack/query-sync-storage-persister: any of: packages/query-sync-storage-persister/**
  @tanstack/query-test-utils: any of: packages/query-test-utils/**
  @tanstack/react-query: any of: packages/react-query/**
  @tanstack/react-query-devtools: any of: packages/react-query-devtools/**
  @tanstack/react-query-next-experimental: any of: packages/react-query-next-experimental/**
  @tanstack/react-query-persist-client: any of: packages/react-query-persist-client/**
  @tanstack/solid-query: any of: packages/solid-query/**
  @tanstack/solid-query-devtools: any of: packages/solid-query-devtools/**
  @tanstack/solid-query-persist-client: any of: packages/solid-query-persist-client/**
  @tanstack/svelte-query: any of: packages/svelte-query/**
  @tanstack/svelte-query-devtools: any of: packages/svelte-query-devtools/**
  @tanstack/svelte-query-persist-client: any of: packages/svelte-query-persist-client/**
  @tanstack/vue-query: any of: packages/vue-query/**
  @tanstack/vue-query-devtools: any of: packages/vue-query-devtools/**
