Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

chore(angular-query): prettier ignore api report
  .prettierignore
  packages/angular-query-experimental/.prettierignore
  packages/angular-query-experimental/etc/angular-query-experimental.api.md
Due: @tanstack/angular-query-experimental

chore(angular-query): prettier ignore api report (#7598)
  .prettierignore
  packages/angular-query-experimental/.prettierignore
  packages/angular-query-experimental/etc/angular-query-experimental.api.md
Due: @tanstack/angular-query-experimental

docs(angular-query): angular zoneless support
  docs/config.json
  docs/framework/angular/zoneless.md
Due: none

docs(angular-query): angular zoneless support (#7600)
  docs/config.json
  docs/framework/angular/zoneless.md
Due: none

feat(react-query-next-experimental): introduce nonce prop (#7575)
  packages/react-query-next-experimental/src/HydrationStreamProvider.tsx
  packages/react-query-next-experimental/src/ReactQueryStreamedHydration.tsx
Due: @tanstack/react-query-next-experimental

release: v5.46.0
  examples/react/nextjs-suspense-streaming/package.json
  packages/react-query-next-experimental/package.json
  pnpm-lock.yaml
Due: @tanstack/react-query-next-experimental

chore(svelte-query): Move tests folder
  packages/svelte-query/package.json
  packages/svelte-query/tests/CreateMutation.svelte
  packages/svelte-query/tests/CreateQueries.svelte
  packages/svelte-query/tests/CreateQuery.svelte
  packages/svelte-query/tests/UseMutationState.svelte
  packages/svelte-query/tests/context.test.ts
  packages/svelte-query/tests/createMutation.test.ts
  packages/svelte-query/tests/createQueries.test.ts
  packages/svelte-query/tests/createQuery.test.ts
  packages/svelte-query/tests/queryOptions.test.ts
  packages/svelte-query/tests/test-setup.ts
  packages/svelte-query/tests/useMutationState.test.ts
  packages/svelte-query/tests/utils.ts
  packages/svelte-query/tsconfig.json
  packages/svelte-query/vite.config.ts
Due: @tanstack/svelte-query

chore(svelte-query): Move tests folder (#7603)
  packages/svelte-query/package.json
  packages/svelte-query/tests/CreateMutation.svelte
  packages/svelte-query/tests/CreateQueries.svelte
  packages/svelte-query/tests/CreateQuery.svelte
  packages/svelte-query/tests/UseMutationState.svelte
  packages/svelte-query/tests/context.test.ts
  packages/svelte-query/tests/createMutation.test.ts
  packages/svelte-query/tests/createQueries.test.ts
  packages/svelte-query/tests/createQuery.test.ts
  packages/svelte-query/tests/queryOptions.test.ts
  packages/svelte-query/tests/test-setup.ts
  packages/svelte-query/tests/useMutationState.test.ts
  packages/svelte-query/tests/utils.ts
  packages/svelte-query/tsconfig.json
  packages/svelte-query/vite.config.ts
Due: @tanstack/svelte-query

chore: typescript tests 4.7 up to 5.5
  .github/workflows/pr.yml
Due: none

Catch error in test
  packages/angular-query-experimental/src/__tests__/inject-mutation.test.ts
Due: @tanstack/angular-query-experimental

refactor(angular-query): align inject-query and inject-infinite-query + clean-up create-base-query + add query correct type tests (#7593)
  packages/angular-query-experimental/src/__tests__/inject-infinite-query.test.ts
  packages/angular-query-experimental/src/__tests__/inject-is-fetching.test.ts
  packages/angular-query-experimental/src/__tests__/inject-is-mutating.test.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation-state.test-d.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation-state.test.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation.test-d.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation.test.ts
  packages/angular-query-experimental/src/__tests__/inject-query.test-d.ts
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
  packages/angular-query-experimental/src/__tests__/query-options.test-d.ts
  packages/angular-query-experimental/src/__tests__/test-utils.ts
  packages/angular-query-experimental/src/create-base-query.ts
  packages/angular-query-experimental/src/inject-infinite-query.ts
  packages/angular-query-experimental/src/inject-query.ts
Due: @tanstack/angular-query-experimental

release: v5.46.1
  examples/angular/basic/package.json
  examples/angular/infinite-query-with-max-pages/package.json
  examples/angular/router/package.json
  examples/angular/simple/package.json
  examples/svelte/auto-refetching/package.json
  examples/svelte/basic/package.json
  examples/svelte/load-more-infinite-scroll/package.json
  examples/svelte/optimistic-updates-typescript/package.json
  examples/svelte/playground/package.json
  examples/svelte/simple/package.json
  examples/svelte/ssr/package.json
  examples/svelte/star-wars/package.json
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/package.json
  packages/svelte-query-devtools/package.json
  packages/svelte-query-persist-client/package.json
  packages/svelte-query/package.json
  pnpm-lock.yaml
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client

fix(angular-query): run mutation callback in injection context (#7360)
  packages/angular-query-experimental/src/__tests__/inject-mutation.test.ts
  packages/angular-query-experimental/src/inject-mutation.ts
Due: @tanstack/angular-query-experimental

release: v5.46.2
  examples/angular/basic/package.json
  examples/angular/infinite-query-with-max-pages/package.json
  examples/angular/router/package.json
  examples/angular/simple/package.json
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/package.json
  pnpm-lock.yaml
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental

feat(vue-query): add support for getters in query keys
  packages/vue-query/src/__tests__/useQueries.test.ts
  packages/vue-query/src/__tests__/useQuery.test.ts
  packages/vue-query/src/useBaseQuery.ts
  packages/vue-query/src/useQueries.ts
Due: @tanstack/vue-query

test(core): add test for mutation function context
  packages/query-core/src/__tests__/mutations.test.tsx
Due: @tanstack/query-core

docs(react-query): add info about the mutation function context
  docs/framework/react/reference/useMutation.md
Due: none

feat(core): add context as second parameter of mutation function
  packages/query-core/src/mutation.ts
  packages/query-core/src/types.ts
Due: @tanstack/query-core

Simplify implementation
  package.json
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-devtools-experimental/tsconfig.build.json
  packages/angular-query-devtools-experimental/tsconfig.json
  packages/angular-query-experimental/package.json
  packages/angular-query-experimental/tsconfig.build.json
  packages/angular-query-experimental/tsconfig.json
  packages/eslint-plugin-query/package.json
  packages/eslint-plugin-query/tsconfig.json
  packages/query-async-storage-persister/package.json
  packages/query-async-storage-persister/tsconfig.json
  packages/query-broadcast-client-experimental/package.json
  packages/query-broadcast-client-experimental/tsconfig.json
  packages/query-codemods/tsconfig.json
  packages/query-core/package.json
  packages/query-core/tsconfig.json
  packages/query-devtools/package.json
  packages/query-devtools/tsconfig.json
  pnpm-lock.yaml
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-core, @tanstack/query-devtools

Add to remaining packages
  packages/query-core/package.json
  packages/query-core/tsconfig.legacy.json
  packages/query-persist-client-core/package.json
  packages/query-persist-client-core/tsconfig.json
  packages/query-sync-storage-persister/package.json
  packages/query-sync-storage-persister/tsconfig.json
  packages/react-query-devtools/package.json
  packages/react-query-devtools/tsconfig.json
  packages/react-query-next-experimental/package.json
  packages/react-query-persist-client/package.json
  packages/react-query-persist-client/tsconfig.json
  packages/react-query/package.json
  packages/react-query/tsconfig.json
  packages/react-query/tsconfig.legacy.json
  packages/solid-query-devtools/package.json
  packages/solid-query-devtools/tsconfig.json
  packages/solid-query-persist-client/package.json
  packages/solid-query/package.json
  packages/solid-query/tsconfig.json
  packages/solid-query/tsconfig.legacy.json
  packages/vue-query/package.json
  packages/vue-query/tsconfig.json
  packages/vue-query/tsconfig.legacy.json
Due: @tanstack/query-core, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/vue-query

chore: Update typescript-eslint to v7
  examples/react/basic-typescript/package.json
  examples/react/shadow-dom/package.json
  package.json
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/package.json
  packages/eslint-plugin-query/package.json
  packages/svelte-query-devtools/package.json
  packages/svelte-query-persist-client/package.json
  packages/svelte-query/package.json
  pnpm-lock.yaml
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client

pnpm dedupe
  pnpm-lock.yaml
Due: none

Fix new errors
  packages/query-core/src/__tests__/queryClient.test-d.tsx
  packages/vue-query/src/__tests__/queryClient.test-d.ts
Due: @tanstack/query-core, @tanstack/vue-query

chore: Update typescript-eslint to v7 (#7610)
  examples/react/basic-typescript/package.json
  examples/react/shadow-dom/package.json
  package.json
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/package.json
  packages/eslint-plugin-query/package.json
  packages/query-core/src/__tests__/queryClient.test-d.tsx
  packages/svelte-query-devtools/package.json
  packages/svelte-query-persist-client/package.json
  packages/svelte-query/package.json
  packages/vue-query/src/__tests__/queryClient.test-d.ts
  pnpm-lock.yaml
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-core, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query

Refactor into using the same pattern as resolving staletime, with the use of a resolveEnabled util function
  packages/query-core/src/query.ts
  packages/query-core/src/queryClient.ts
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/types.ts
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

Apply suggestions from code review
  docs/framework/react/guides/prefetching.md
  packages/react-query/src/__tests__/prefetch.test.tsx
Due: @tanstack/react-query

chore: fix types in tests
  packages/react-query/src/__tests__/prefetch.test.tsx
Due: @tanstack/react-query

Update tests for enabled option as a callback
  packages/query-core/src/__tests__/queryObserver.test.tsx
Due: @tanstack/query-core

update docs
  docs/framework/react/guides/disabling-queries.md
  docs/framework/react/react-native.md
Due: none

remove typo
  packages/query-core/src/__tests__/queryObserver.test.tsx
Due: @tanstack/query-core

Update enabled type in docs
  docs/framework/react/reference/useQuery.md
  packages/query-core/src/types.ts
Due: @tanstack/query-core

chore: add new tests
  packages/react-query/src/__tests__/prefetch.test.tsx
Due: @tanstack/react-query

add transformData to restore resolved prefetches
  integrations/react-next-15/app/make-query-client.ts
  packages/query-core/src/hydration.ts
Due: @tanstack/query-core

add failing test
  packages/query-core/src/__tests__/hydration.test.tsx
Due: @tanstack/query-core

fix test
  packages/query-core/src/__tests__/hydration.test.tsx
Due: @tanstack/query-core

remove duplicated test case
  packages/query-core/src/__tests__/queryObserver.test.tsx
Due: @tanstack/query-core

Apply suggestions from code review
  packages/react-query/src/__tests__/prefetch.test.tsx
Due: @tanstack/react-query

chore: add new tests (#7614)
  packages/react-query/src/__tests__/prefetch.test.tsx
Due: @tanstack/react-query

ci: Add tests for TS 4.7, 4.8, 4.9
  package.json
  packages/angular-query-devtools-experimental/tsconfig.build.json
  packages/angular-query-devtools-experimental/tsconfig.json
  packages/angular-query-experimental/tsconfig.build.json
  packages/angular-query-experimental/tsconfig.json
  packages/eslint-plugin-query/tsconfig.json
  packages/query-async-storage-persister/tsconfig.json
  packages/query-broadcast-client-experimental/tsconfig.json
  packages/query-codemods/tsconfig.json
  packages/query-core/package.json
  packages/query-core/tsconfig.json
  packages/query-core/tsconfig.legacy.json
  packages/query-devtools/tsconfig.json
  packages/query-persist-client-core/tsconfig.json
  packages/query-sync-storage-persister/tsconfig.json
  packages/react-query-devtools/tsconfig.json
  packages/react-query-next-experimental/tsconfig.json
  packages/react-query-persist-client/tsconfig.json
  packages/react-query/package.json
  packages/react-query/tsconfig.json
  packages/solid-query-devtools/tsconfig.json
  packages/solid-query-persist-client/tsconfig.json
  packages/solid-query/package.json
  packages/solid-query/tsconfig.json
  packages/svelte-query-devtools/tsconfig.json
  packages/svelte-query-persist-client/tsconfig.json
  packages/svelte-query/tsconfig.json
  packages/vue-query-devtools/tsconfig.json
  packages/vue-query/package.json
  packages/vue-query/tsconfig.json
  pnpm-lock.yaml
  scripts/tsconfig.json
  tsconfig.json
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

Path conditions:
  @tanstack/angular-query-devtools-experimental: any of: packages/angular-query-devtools-experimental/**
  @tanstack/angular-query-experimental: any of: packages/angular-query-experimental/**
  @tanstack/eslint-plugin-query: any of: packages/eslint-plugin-query/**
  @tanstack/query-async-storage-persister: any of: packages/query-async-storage-persister/**
  @tanstack/query-broadcast-client-experimental: any of: packages/query-broadcast-client-experimental/**
  @tanstack/query-codemods: any of: packages/codemods/**
  @tanstack/query-core: any of: packages/query-core/**
  @tanstack/query-devtools: any of: packages/query-devtools/**
  @tanstack/query-persist-client-core: any of: packages/query-persist-client-core/**
  @tanstack/query-sync-storage-persister: any of: packages/query-sync-storage-persister/**
  @tanstack/react-query: any of: packages/react-query/**
  @tanstack/react-query-devtools: any of: packages/react-query-devtools/**
  @tanstack/react-query-next-experimental: any of: packages/react-query-next-experimental/**
  @tanstack/react-query-persist-client: any of: packages/react-query-persist-client/**
  @tanstack/solid-query: any of: packages/solid-query/**
  @tanstack/solid-query-devtools: any of: packages/solid-query-devtools/**
  @tanstack/solid-query-persist-client: any of: packages/solid-query-persist-client/**
  @tanstack/svelte-query: any of: packages/svelte-query/**
  @tanstack/svelte-query-devtools: any of: packages/svelte-query-devtools/**
  @tanstack/svelte-query-persist-client: any of: packages/svelte-query-persist-client/**
  @tanstack/vue-query: any of: packages/vue-query/**
  @tanstack/vue-query-devtools: any of: packages/vue-query-devtools/**
