Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

docs: Add @tanstack/query/infinite-query-property-order link (#8285)
  docs/eslint/eslint-plugin-query.md
Due: none

test(react-query): add test case for queryOptions (#8267)
  packages/react-query/src/__tests__/queryOptions.test.tsx
Due: @tanstack/react-query

test(react-query): add test case for infiniteQueryOptions (#8268)
  packages/react-query/src/__tests__/infiniteQueryOptions.test.tsx
Due: @tanstack/react-query

test(react-query): add test case for useSuspenseQuery accept skipToken as queryFn (#8269)
  packages/react-query/src/__tests__/useSuspenseQuery.test.tsx
Due: @tanstack/react-query

test(react-query): add test case for useSuspenseInfiniteQuery accept skipToken as queryFn (#8270)
  packages/react-query/src/__tests__/useSuspenseInfiniteQuery.test.tsx
Due: @tanstack/react-query

test(react-query): add test case for useSuspenseQueries accept skipToken as queryFn (#8271)
  packages/react-query/src/__tests__/useSuspenseQueries.test.tsx
Due: @tanstack/react-query

chore(eslint-plugin-query): ignore `combinate` spell check lint warning (#8266)
  eslint.config.js
Due: none

test(react-query): useInfinitePrefetchQuery -> usePrefetchInfiniteQuery (#8265)
  packages/react-query/src/__tests__/usePrefetchInfiniteQuery.test-d.tsx
Due: @tanstack/react-query

remove unused tslib dependency
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-devtools-experimental/tsconfig.json
  packages/angular-query-experimental/package.json
  packages/angular-query-experimental/tsconfig.json
  pnpm-lock.yaml
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental

refactor(angular-query): build with tsup and remove devtools component (#8284)
  examples/angular/pagination/package.json
  examples/angular/pagination/src/app/app.component.ts
  examples/angular/pagination/src/app/app.config.ts
  examples/angular/query-options-from-a-service/package.json
  examples/angular/query-options-from-a-service/src/app/app.component.html
  examples/angular/query-options-from-a-service/src/app/app.component.ts
  examples/angular/rxjs/package.json
  examples/angular/rxjs/src/app/app.component.ts
  examples/angular/rxjs/src/app/components/example.component.ts
  examples/angular/rxjs/src/app/services/autocomplete-service.ts
  examples/angular/simple/package.json
  integrations/angular-cli-17/package.json
  integrations/angular-cli-17/src/app/app.component.ts
  integrations/angular-cli-17/src/assets/.gitkeep
  packages/angular-query-devtools-experimental/.attw.json
  packages/angular-query-devtools-experimental/ng-package.json
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-devtools-experimental/src/angular-query-devtools.component.ts
  packages/angular-query-devtools-experimental/src/index.ts
  packages/angular-query-devtools-experimental/src/inject-devtools-panel.ts
  packages/angular-query-devtools-experimental/tsconfig.build.json
  packages/angular-query-devtools-experimental/tsconfig.json
  packages/angular-query-devtools-experimental/tsup.config.js
  packages/angular-query-experimental/.attw.json
  packages/angular-query-experimental/ng-package.json
  packages/angular-query-experimental/package.json
  packages/angular-query-experimental/src/providers.ts
  packages/angular-query-experimental/tsconfig.build.json
  packages/angular-query-experimental/tsconfig.json
  packages/angular-query-experimental/tsup.config.js
  pnpm-lock.yaml
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental

release: v5.60.2
  examples/angular/basic/package.json
  examples/angular/devtools-panel/package.json
  examples/angular/infinite-query-with-max-pages/package.json
  examples/angular/pagination/package.json
  examples/angular/query-options-from-a-service/package.json
  examples/angular/router/package.json
  examples/angular/rxjs/package.json
  examples/angular/simple/package.json
  examples/react/algolia/package.json
  examples/react/auto-refetching/package.json
  examples/react/basic-graphql-request/package.json
  examples/react/basic/package.json
  examples/react/default-query-function/package.json
  examples/react/devtools-panel/package.json
  examples/react/infinite-query-with-max-pages/package.json
  examples/react/load-more-infinite-scroll/package.json
  examples/react/nextjs-app-prefetching/package.json
  examples/react/nextjs-suspense-streaming/package.json
  examples/react/nextjs/package.json
  examples/react/offline/package.json
  examples/react/optimistic-updates-cache/package.json
  examples/react/optimistic-updates-ui/package.json
  examples/react/pagination/package.json
  examples/react/playground/package.json
  examples/react/prefetching/package.json
  examples/react/react-native/package.json
  examples/react/react-router/package.json
  examples/react/rick-morty/package.json
  examples/react/shadow-dom/package.json
  examples/react/simple/package.json
  examples/react/star-wars/package.json
  examples/react/suspense/package.json
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/package.json
  packages/react-query-devtools/package.json
  packages/react-query-next-experimental/package.json
  packages/react-query-persist-client/package.json
  packages/react-query/package.json
  pnpm-lock.yaml
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client

refactor(*): unify & use noop
  packages/angular-query-experimental/src/util/index.ts
  packages/query-async-storage-persister/src/utils.ts
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/utils.ts
  packages/query-sync-storage-persister/src/utils.ts
  packages/react-query/src/useBaseQuery.ts
  packages/react-query/src/useQueries.ts
  packages/react-query/src/utils.ts
  packages/solid-query/src/createQueries.ts
  packages/solid-query/src/utils.ts
  packages/svelte-query/src/utils.ts
Due: @tanstack/angular-query-experimental, @tanstack/query-async-storage-persister, @tanstack/query-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/solid-query, @tanstack/svelte-query

fix(angular-query): support inject(QueryClient)
  docs/framework/angular/guides/invalidations-from-mutations.md
  docs/framework/angular/guides/paginated-queries.md
  docs/framework/angular/guides/placeholder-query-data.md
  docs/framework/angular/guides/query-cancellation.md
  docs/framework/angular/guides/query-invalidation.md
  docs/framework/angular/quick-start.md
  examples/angular/basic/src/app/components/post.component.ts
  examples/angular/basic/src/app/components/posts.component.ts
  examples/angular/pagination/src/app/components/example.component.ts
  examples/angular/query-options-from-a-service/src/app/components/posts.component.ts
  examples/angular/router/src/app/components/posts.component.ts
  packages/angular-query-devtools-experimental/src/inject-devtools-panel.ts
  packages/angular-query-experimental/src/create-base-query.ts
  packages/angular-query-experimental/src/inject-is-fetching.ts
  packages/angular-query-experimental/src/inject-is-mutating.ts
  packages/angular-query-experimental/src/inject-mutation-state.ts
  packages/angular-query-experimental/src/inject-mutation.ts
  packages/angular-query-experimental/src/inject-queries.ts
  packages/angular-query-experimental/src/inject-query-client.ts
  packages/angular-query-experimental/src/providers.ts
  packages/angular-query-experimental/src/util/create-injection-token/create-injection-token.test.ts
  packages/angular-query-experimental/src/util/create-injection-token/create-injection-token.ts
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental

fix(angular-query): support inject(QueryClient) (#8292)
  docs/framework/angular/guides/invalidations-from-mutations.md
  docs/framework/angular/guides/paginated-queries.md
  docs/framework/angular/guides/placeholder-query-data.md
  docs/framework/angular/guides/query-cancellation.md
  docs/framework/angular/guides/query-invalidation.md
  docs/framework/angular/quick-start.md
  examples/angular/basic/src/app/components/post.component.ts
  examples/angular/basic/src/app/components/posts.component.ts
  examples/angular/pagination/src/app/components/example.component.ts
  examples/angular/query-options-from-a-service/src/app/components/posts.component.ts
  examples/angular/router/src/app/components/posts.component.ts
  packages/angular-query-devtools-experimental/src/inject-devtools-panel.ts
  packages/angular-query-experimental/src/create-base-query.ts
  packages/angular-query-experimental/src/inject-is-fetching.ts
  packages/angular-query-experimental/src/inject-is-mutating.ts
  packages/angular-query-experimental/src/inject-mutation-state.ts
  packages/angular-query-experimental/src/inject-mutation.ts
  packages/angular-query-experimental/src/inject-queries.ts
  packages/angular-query-experimental/src/inject-query-client.ts
  packages/angular-query-experimental/src/providers.ts
  packages/angular-query-experimental/src/util/create-injection-token/create-injection-token.test.ts
  packages/angular-query-experimental/src/util/create-injection-token/create-injection-token.ts
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental

release: v5.60.3
  examples/angular/basic/package.json
  examples/angular/devtools-panel/package.json
  examples/angular/infinite-query-with-max-pages/package.json
  examples/angular/pagination/package.json
  examples/angular/query-options-from-a-service/package.json
  examples/angular/router/package.json
  examples/angular/rxjs/package.json
  examples/angular/simple/package.json
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/package.json
  pnpm-lock.yaml
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental

chore: update
  packages/query-core/src/queryObserver.ts
Due: @tanstack/query-core

fix(query-core): reflect tkdodo's review
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

chore: resolve type error
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

refactor(*): unify & use noop (#8294)
  packages/angular-query-experimental/src/util/index.ts
  packages/query-async-storage-persister/src/utils.ts
  packages/query-sync-storage-persister/src/utils.ts
  packages/react-query/src/useBaseQuery.ts
  packages/react-query/src/useQueries.ts
  packages/react-query/src/utils.ts
  packages/solid-query/src/createQueries.ts
  packages/solid-query/src/utils.ts
  packages/svelte-query/src/utils.ts
Due: @tanstack/angular-query-experimental, @tanstack/query-async-storage-persister, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/solid-query, @tanstack/svelte-query

fix(useQueries): make sure we don't lose property tracking
  packages/query-core/src/queriesObserver.ts
  packages/react-query/src/__tests__/useQueries.test.tsx
  packages/react-query/src/__tests__/useSuspenseQueries.test.tsx
Due: @tanstack/query-core, @tanstack/react-query

docs(angular-query): add TypeScript documentation
  docs/config.json
  docs/framework/angular/quick-start.md
  docs/framework/angular/typescript.md
  docs/framework/react/typescript.md
Due: none

docs(angular-query): add TypeScript documentation (#8296)
  docs/config.json
  docs/framework/angular/quick-start.md
  docs/framework/angular/typescript.md
  docs/framework/react/typescript.md
Due: none

docs(angular-query): type narrowing
  docs/framework/angular/typescript.md
Due: none

docs(angular-query): type narrowing (#8297)
  docs/framework/angular/typescript.md
Due: none

fix(useQueries): make sure we don't lose property tracking (#8295)
  packages/query-core/src/queriesObserver.ts
  packages/react-query/src/__tests__/useQueries.test.tsx
  packages/react-query/src/__tests__/useSuspenseQueries.test.tsx
Due: @tanstack/query-core, @tanstack/react-query

docs: expo-network
  docs/framework/react/react-native.md
Due: none

refactor(*): use noop
  packages/angular-query-experimental/src/providers.ts
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/utils.ts
  packages/svelte-query/src/createBaseQuery.ts
  packages/svelte-query/src/createQueries.ts
Due: @tanstack/angular-query-experimental, @tanstack/query-core, @tanstack/svelte-query

Update infinite-queries.md
  docs/framework/react/guides/infinite-queries.md
Due: none

fix: move staleTime from queryObserver to query
  packages/query-core/src/query.ts
  packages/query-core/src/queryCache.ts
  packages/query-core/src/queryClient.ts
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/types.ts
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

fix: do not fetch disabled observers on mount
  packages/query-core/src/queryObserver.ts
Due: @tanstack/query-core

refactor: always resolve staleTime to a number
  packages/query-core/src/query.ts
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

refactor: move resolveStaleTime into the query itself
  packages/query-core/src/query.ts
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

refactor: make 0 per default an invalid timeout
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/removable.ts
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

fix: adjust test
  packages/query-core/src/__tests__/queryObserver.test.tsx
Due: @tanstack/query-core

chore: leftover
  packages/query-core/src/query.ts
Due: @tanstack/query-core

fix: un-set invalidated state if we get a new staleTime
  packages/query-core/src/__tests__/queryClient.test.tsx
  packages/query-core/src/query.ts
Due: @tanstack/query-core

fix: also handle the case where staleTime goes from a high number to a lower one
  packages/query-core/src/__tests__/queryClient.test.tsx
  packages/query-core/src/query.ts
Due: @tanstack/query-core

fix: staleTime:Infinity should also un-set `isInvalidated`
  packages/query-core/src/__tests__/utils.test.tsx
  packages/query-core/src/query.ts
Due: @tanstack/query-core

Path conditions:
  @tanstack/angular-query-devtools-experimental: any of: packages/angular-query-devtools-experimental/**
  @tanstack/angular-query-experimental: any of: packages/angular-query-experimental/**
  @tanstack/eslint-plugin-query: any of: packages/eslint-plugin-query/**
  @tanstack/query-async-storage-persister: any of: packages/query-async-storage-persister/**
  @tanstack/query-broadcast-client-experimental: any of: packages/query-broadcast-client-experimental/**
  @tanstack/query-codemods: any of: packages/codemods/**
  @tanstack/query-core: any of: packages/query-core/**
  @tanstack/query-devtools: any of: packages/query-devtools/**
  @tanstack/query-persist-client-core: any of: packages/query-persist-client-core/**
  @tanstack/query-sync-storage-persister: any of: packages/query-sync-storage-persister/**
  @tanstack/react-query: any of: packages/react-query/**
  @tanstack/react-query-devtools: any of: packages/react-query-devtools/**
  @tanstack/react-query-next-experimental: any of: packages/react-query-next-experimental/**
  @tanstack/react-query-persist-client: any of: packages/react-query-persist-client/**
  @tanstack/solid-query: any of: packages/solid-query/**
  @tanstack/solid-query-devtools: any of: packages/solid-query-devtools/**
  @tanstack/solid-query-persist-client: any of: packages/solid-query-persist-client/**
  @tanstack/svelte-query: any of: packages/svelte-query/**
  @tanstack/svelte-query-devtools: any of: packages/svelte-query-devtools/**
  @tanstack/svelte-query-persist-client: any of: packages/svelte-query-persist-client/**
  @tanstack/vue-query: any of: packages/vue-query/**
  @tanstack/vue-query-devtools: any of: packages/vue-query-devtools/**
