Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools, @tanstack/angular-query, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

test(svelte-query/createMutation): add tests for parallel 'mutateAsync' calls and concurrent 'mutate' calls
  packages/svelte-query/tests/createMutation/ConcurrentMutate.svelte
  packages/svelte-query/tests/createMutation/ParallelMutateAsync.svelte
  packages/svelte-query/tests/createMutation/createMutation.svelte.test.ts
Due: @tanstack/svelte-query

test(svelte-query/createMutation): assert rendered 'data'/'status' alongside per-call 'onSuccess' mock
  packages/svelte-query/tests/createMutation/ConcurrentMutate.svelte
  packages/svelte-query/tests/createMutation/createMutation.svelte.test.ts
Due: @tanstack/svelte-query

test(svelte-query/createMutation): add tests for parallel 'mutateAsync' calls and concurrent 'mutate' calls (#11450)
  packages/svelte-query/tests/createMutation/ConcurrentMutate.svelte
  packages/svelte-query/tests/createMutation/ParallelMutateAsync.svelte
  packages/svelte-query/tests/createMutation/createMutation.svelte.test.ts
Due: @tanstack/svelte-query

test(svelte-query/createMutation): add tests for 'onSuccess'/'onError'/'onSettled' callbacks and result timing after 'mutateAsync'
  packages/svelte-query/tests/createMutation/createMutation.svelte.test.ts
Due: @tanstack/svelte-query

test(svelte-query/createMutation): use 'noop' instead of an empty callback for the ignored rejection
  packages/svelte-query/tests/createMutation/createMutation.svelte.test.ts
Due: @tanstack/svelte-query

test(svelte-query/createMutation): assert 'mutateAsync' awaits the hook-level callback's returned promise
  packages/svelte-query/tests/createMutation/createMutation.svelte.test.ts
Due: @tanstack/svelte-query

test(svelte-query/createMutation): assert 'onSettled' also awaits the hook-level callback's returned promise
  packages/svelte-query/tests/createMutation/createMutation.svelte.test.ts
Due: @tanstack/svelte-query

test(svelte-query/createMutation): add tests for 'onSuccess'/'onError'/'onSettled' callbacks and result timing after 'mutateAsync' (#11452)
  packages/svelte-query/tests/createMutation/createMutation.svelte.test.ts
Due: @tanstack/svelte-query

test(svelte-query/createMutation): add tests for per-call callbacks when 'createMutation' has no callbacks
  packages/svelte-query/tests/createMutation/createMutation.svelte.test.ts
Due: @tanstack/svelte-query

test(svelte-query/createMutation): add tests for per-call callbacks when 'createMutation' has no callbacks (#11453)
  packages/svelte-query/tests/createMutation/createMutation.svelte.test.ts
Due: @tanstack/svelte-query

test(svelte-query/createMutation): group 'mutateAsync' callback tests with the 'mutate' ones
  packages/svelte-query/tests/createMutation/createMutation.svelte.test.ts
Due: @tanstack/svelte-query

test(svelte-query/createMutation): group 'mutateAsync' callback tests with the 'mutate' ones (#11454)
  packages/svelte-query/tests/createMutation/createMutation.svelte.test.ts
Due: @tanstack/svelte-query

fix(query-core): keep nested mutate callbacks scoped to the settling mutation
  .changeset/nested-mutate-onsettled.md
  packages/query-core/src/__tests__/mutationObserver.test.tsx
  packages/query-core/src/mutationObserver.ts
  packages/react-query/src/__tests__/useMutation.test.tsx
Due: @tanstack/query-core, @tanstack/react-query

fix(solid-query): untrack the one-shot client and options reads on mount
  .changeset/solid-query-untracked-initial-reads.md
  packages/solid-query/src/__tests__/untrackedReads.test.tsx
  packages/solid-query/src/useBaseQuery.ts
  packages/solid-query/src/useIsFetching.ts
  packages/solid-query/src/useIsMutating.ts
  packages/solid-query/src/useMutation.ts
  packages/solid-query/src/useMutationState.ts
  packages/solid-query/src/useQueries.ts
Due: @tanstack/solid-query

docs: explain Chrome focus emulation in window focus refetching guide
  docs/framework/react/guides/window-focus-refetching.md
Due: none

test(angular-query/inject-mutation): add tests for per-call callbacks passed as arguments of 'mutate'/'mutateAsync'
  packages/angular-query-experimental/src/__tests__/inject-mutation.test.ts
Due: none

test(vue-query/useMutation): add tests for per-call callbacks passed as arguments of 'mutate'/'mutateAsync'
  packages/vue-query/src/__tests__/useMutation.test.ts
Due: @tanstack/vue-query

test(angular-query): tighten 'advanceTimersByTimeAsync' to the awaited 'sleep' duration
  packages/angular-query-experimental/src/__tests__/inject-mutation.test.ts
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
Due: none

test(angular-query/inject-mutation): add tests for per-call callbacks passed as arguments of 'mutate'/'mutateAsync' (#11458)
  packages/angular-query-experimental/src/__tests__/inject-mutation.test.ts
Due: none

test(vue-query/useMutation): add tests for per-call callbacks passed as arguments of 'mutate'/'mutateAsync' (#11459)
  packages/vue-query/src/__tests__/useMutation.test.ts
Due: @tanstack/vue-query

test(angular-query): tighten 'advanceTimersByTimeAsync' to the awaited 'sleep' duration (#11460)
  packages/angular-query-experimental/src/__tests__/inject-mutation.test.ts
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
Due: none

test(angular-query/inject-query): assert refetch queryKey outside the discarded promise callback
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
Due: none

test(angular-query/inject-query): move type assertions from the runtime test to 'test-d'
  packages/angular-query-experimental/src/__tests__/inject-query.test-d.ts
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
Due: none

test(angular-query/inject-query): assert refetch queryKey outside the discarded promise callback (#11461)
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
Due: none

test(angular-query/inject-query): drop 'TestBed.runInInjectionContext' from the moved type assertions
  packages/angular-query-experimental/src/__tests__/inject-query.test-d.ts
Due: none

test(angular-query/inject-query): move type assertions from the runtime test to 'test-d' (#11462)
  packages/angular-query-experimental/src/__tests__/inject-query.test-d.ts
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
Due: none

test({react,preact,solid,angular}-query): remove 'fromGenericOptionsQueryFn' duplicating 'fromGenericQueryFn'
  packages/angular-query-experimental/src/__tests__/inject-query.test-d.ts
  packages/preact-query/src/__tests__/useQuery.test-d.tsx
  packages/react-query/src/__tests__/useQuery.test-d.tsx
  packages/solid-query/src/__tests__/useQuery.test-d.tsx
Due: @tanstack/react-query, @tanstack/solid-query

test(svelte-query): verify mutation result sync upon observer remount and add changeset
  .changeset/synchronize-mutation-remount.md
  packages/svelte-query/tests/createMutation/createMutation.svelte.test.ts
Due: @tanstack/svelte-query

test(vue-query/useQuery): add type test for inferring the result type from a generic 'queryFn'
  packages/vue-query/src/__tests__/useQuery.test-d.ts
Due: @tanstack/vue-query

test(svelte-query/createQuery): add type test for inferring the result type from a generic 'queryFn'
  packages/svelte-query/tests/createQuery/createQuery.test-d.ts
Due: @tanstack/svelte-query

test({react,preact,solid,angular}-query): remove 'fromGenericOptionsQueryFn' duplicating 'fromGenericQueryFn' (#11463)
  packages/angular-query-experimental/src/__tests__/inject-query.test-d.ts
  packages/preact-query/src/__tests__/useQuery.test-d.tsx
  packages/react-query/src/__tests__/useQuery.test-d.tsx
  packages/solid-query/src/__tests__/useQuery.test-d.tsx
Due: @tanstack/react-query, @tanstack/solid-query

test({vue,svelte}-query): add type tests for inferring the result type from a generic 'queryFn' (#11464)
  packages/svelte-query/tests/createQuery/createQuery.test-d.ts
  packages/vue-query/src/__tests__/useQuery.test-d.ts
Due: @tanstack/svelte-query, @tanstack/vue-query

test(angular-query/query-options): add type tests for 'getQueryState' and 'skipToken' inference
  packages/angular-query-experimental/src/__tests__/query-options.test-d.ts
Due: none

chore: changeset
  .changeset/warm-caches-notify.md
Due: none

refactor(solid-query): use settled lifecycle for mount attach
  packages/solid-query/src/useBaseQuery.ts
Due: @tanstack/solid-query

test(solid-query): cover cached mount notifications
  packages/solid-query/src/__tests__/useQuery-semantics.test.tsx
Due: @tanstack/solid-query

fix(solid-query): defer cached mount refetch attachment
  packages/solid-query/src/useBaseQuery.ts
Due: @tanstack/solid-query

docs(vue): fix reactivity guide heading hierarchy
  docs/framework/vue/reactivity.md
Due: none

docs(query-core): add JSDoc for Subscribable and Removable base classes
  packages/query-core/src/removable.ts
  packages/query-core/src/subscribable.ts
Due: @tanstack/query-core

fix(solid-query): await SSR status reads
  .changeset/curried-query-ssr.md
  packages/solid-query/src/__tests__/fixtures/ssr-entry.tsx
  packages/solid-query/src/__tests__/ssr.test.ts
  packages/solid-query/src/useBaseQuery.ts
Due: @tanstack/solid-query

Path conditions:
  @tanstack/angular-query-devtools: any of: packages/angular-query-devtools/**
  @tanstack/angular-query: any of: packages/angular-query/**
  @tanstack/eslint-plugin-query: any of: packages/eslint-plugin-query/**
  @tanstack/query-async-storage-persister: any of: packages/query-async-storage-persister/**
  @tanstack/query-broadcast-client-experimental: any of: packages/query-broadcast-client-experimental/**
  @tanstack/query-codemods: any of: packages/query-codemods/**
  @tanstack/query-core: any of: packages/query-core/**
  @tanstack/query-devtools: any of: packages/query-devtools/**
  @tanstack/query-persist-client-core: any of: packages/query-persist-client-core/**
  @tanstack/query-sync-storage-persister: any of: packages/query-sync-storage-persister/**
  @tanstack/query-test-utils: any of: packages/query-test-utils/**
  @tanstack/react-query: any of: packages/react-query/**
  @tanstack/react-query-devtools: any of: packages/react-query-devtools/**
  @tanstack/react-query-next-experimental: any of: packages/react-query-next-experimental/**
  @tanstack/react-query-persist-client: any of: packages/react-query-persist-client/**
  @tanstack/solid-query: any of: packages/solid-query/**
  @tanstack/solid-query-devtools: any of: packages/solid-query-devtools/**
  @tanstack/solid-query-persist-client: any of: packages/solid-query-persist-client/**
  @tanstack/svelte-query: any of: packages/svelte-query/**
  @tanstack/svelte-query-devtools: any of: packages/svelte-query-devtools/**
  @tanstack/svelte-query-persist-client: any of: packages/svelte-query-persist-client/**
  @tanstack/vue-query: any of: packages/vue-query/**
  @tanstack/vue-query-devtools: any of: packages/vue-query-devtools/**
