Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools, @tanstack/angular-query, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

codecov.yml:

codecov:
  max_report_age: off

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto

comment:
  layout: 'header, reach, diff, flags, components'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  hide_project_coverage: false

component_management:
  individual_components:
    - component_id: angular-query-devtools
      name: '@tanstack/angular-query-devtools'
      paths:
        - packages/angular-query-devtools/**
    - component_id: angular-query
      name: '@tanstack/angular-query'
      paths:
        - packages/angular-query/**
    - component_id: eslint-plugin-query
      name: '@tanstack/eslint-plugin-query'
      paths:
        - packages/eslint-plugin-query/**
    - component_id: query-async-storage-persister
      name: '@tanstack/query-async-storage-persister'
      paths:
        - packages/query-async-storage-persister/**
    - component_id: query-broadcast-client-experimental
      name: '@tanstack/query-broadcast-client-experimental'
      paths:
        - packages/query-broadcast-client-experimental/**
    - component_id: query-codemods
      name: '@tanstack/query-codemods'
      paths:
        - packages/query-codemods/**
    - component_id: query-core
      name: '@tanstack/query-core'
      paths:
        - packages/query-core/**
    - component_id: query-devtools
      name: '@tanstack/query-devtools'
      paths:
        - packages/query-devtools/**
    - component_id: query-persist-client-core
      name: '@tanstack/query-persist-client-core'
      paths:
        - packages/query-persist-client-core/**
    - component_id: query-sync-storage-persister
      name: '@tanstack/query-sync-storage-persister'
      paths:
        - packages/query-sync-storage-persister/**
    - component_id: query-test-utils
      name: '@tanstack/query-test-utils'
      paths:
        - packages/query-test-utils/**
    - component_id: react-query
      name: '@tanstack/react-query'
      paths:
        - packages/react-query/**
    - component_id: react-query-devtools
      name: '@tanstack/react-query-devtools'
      paths:
        - packages/react-query-devtools/**
    - component_id: react-query-next-experimental
      name: '@tanstack/react-query-next-experimental'
      paths:
        - packages/react-query-next-experimental/**
    - component_id: react-query-persist-client
      name: '@tanstack/react-query-persist-client'
      paths:
        - packages/react-query-persist-client/**
    - component_id: solid-query
      name: '@tanstack/solid-query'
      paths:
        - packages/solid-query/**
    - component_id: solid-query-devtools
      name: '@tanstack/solid-query-devtools'
      paths:
        - packages/solid-query-devtools/**
    - component_id: solid-query-persist-client
      name: '@tanstack/solid-query-persist-client'
      paths:
        - packages/solid-query-persist-client/**
    - component_id: svelte-query
      name: '@tanstack/svelte-query'
      paths:
        - packages/svelte-query/**
    - component_id: svelte-query-devtools
      name: '@tanstack/svelte-query-devtools'
      paths:
        - packages/svelte-query-devtools/**
    - component_id: svelte-query-persist-client
      name: '@tanstack/svelte-query-persist-client'
      paths:
        - packages/svelte-query-persist-client/**
    - component_id: vue-query
      name: '@tanstack/vue-query'
      paths:
        - packages/vue-query/**
    - component_id: vue-query-devtools
      name: '@tanstack/vue-query-devtools'
      paths:
        - packages/vue-query-devtools/**

feat(eslint-plugin): improve type of exported plugin (#9700)
  .changeset/red-monkeys-attack.md
  packages/eslint-plugin-query/src/index.ts
Due: @tanstack/eslint-plugin-query

ci(release): allow PR creation
  .github/workflows/release.yml
Due: none

ci(release): add workflow dispatch
  .github/workflows/release.yml
Due: none

ci(release): try repository dispatch event
  .github/workflows/release.yml
Due: none

ci(release): do not auto-merge major releases
  .github/workflows/release.yml
Due: none

Testing
  .github/workflows/pr.yml
  .github/workflows/release.yml
  grumpy-plants-build.md
Due: none

Add test changesets
  .changeset/grumpy-plants-build.md
  .changeset/orange-groups-dance.md
Due: none

Undo test changes
  .changeset/grumpy-plants-build.md
  .changeset/orange-groups-dance.md
  .github/workflows/pr.yml
Due: none

ci(release): do not auto-merge major releases (#9710)
  .github/workflows/release.yml
Due: none

docs: add docs for mutation-property-order eslint rule
  docs/eslint/eslint-plugin-query.md
  docs/eslint/mutation-property-order.md
Due: none

docs: add docs for mutation-property-order eslint rule (#9271)
  docs/eslint/eslint-plugin-query.md
  docs/eslint/mutation-property-order.md
Due: none

test(svelte-query): add infiniteQuery setQueryData test
  packages/svelte-query/tests/createInfiniteQuery/ChangeClient.svelte
  packages/svelte-query/tests/createInfiniteQuery/createInfiniteQuery.test.ts
Due: @tanstack/svelte-query

Remove state tracking
  packages/svelte-query/tests/createInfiniteQuery/ChangeClient.svelte
  packages/svelte-query/tests/createInfiniteQuery/createInfiniteQuery.test.ts
Due: @tanstack/svelte-query

test(svelte-query): add infinite query setQueryData test (#9714)
  packages/svelte-query/tests/createInfiniteQuery/ChangeClient.svelte
  packages/svelte-query/tests/createInfiniteQuery/createInfiniteQuery.test.ts
Due: @tanstack/svelte-query

Fix sherif
  packages/svelte-query-devtools/package.json
  packages/svelte-query-persist-client/package.json
  packages/svelte-query/package.json
  pnpm-lock.yaml
Due: @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client

Update docs and changeset
  .changeset/pink-pots-jam.md
  docs/framework/svelte/migrate-from-v5-to-v6.md
Due: none

Update keywords
  packages/svelte-query-devtools/package.json
  packages/svelte-query-persist-client/package.json
  packages/svelte-query/package.json
Due: @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client

docs(svelte-query): fix diff notation
  docs/framework/svelte/migrate-from-v5-to-v6.md
Due: none

docs(svelte-query): fix diff notation (#9717)
  docs/framework/svelte/migrate-from-v5-to-v6.md
Due: none

docs: add missing eslint rules from left navigation
  docs/config.json
Due: none

fix: allow useQueries with combine property in no-unstable-deps rule
  packages/eslint-plugin-query/src/__tests__/no-unstable-deps.test.ts
  packages/eslint-plugin-query/src/rules/no-unstable-deps/no-unstable-deps.rule.ts
Due: @tanstack/eslint-plugin-query

refactor(query-core): consolidate NonFunction type into NonFunctionGuard
  packages/query-core/src/types.ts
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

fix(types): export PlaceholderDataFunction type for better accessibility
  packages/query-core/src/types.ts
Due: @tanstack/query-core

ci(.github/workflows/release): change changesets commit type from 'ci' to 'chore'
  .github/workflows/release.yml
Due: none

docs(.github/pull_request_template): update test command to use explicit 'pnpm run' syntax
  .github/pull_request_template.md
Due: none

chore: update eslint-plugin-react-hooks
  package.json
  packages/react-query/eslint.config.js
  pnpm-lock.yaml
Due: @tanstack/react-query

chore: override warning rules to error
  packages/react-query/eslint.config.js
Due: @tanstack/react-query

chore: config everywhere
  packages/react-query-devtools/eslint.config.js
  packages/react-query-next-experimental/eslint.config.js
  packages/react-query-persist-client/eslint.config.js
  packages/react-query/eslint.config.js
Due: @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client

chore: lint violations
  examples/react/algolia/eslint.config.js
  examples/react/basic-graphql-request/eslint.config.js
  examples/react/basic/eslint.config.js
  examples/react/shadow-dom/eslint.config.js
  packages/react-query-next-experimental/src/HydrationStreamProvider.tsx
  packages/react-query-persist-client/src/__tests__/PersistQueryClientProvider.test.tsx
  packages/react-query/src/HydrationBoundary.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/react-query/src/__tests__/useSuspenseInfiniteQuery.test.tsx
  packages/react-query/src/__tests__/useSuspenseQueries.test-d.tsx
  packages/react-query/src/__tests__/useSuspenseQueries.test.tsx
  packages/react-query/src/__tests__/useSuspenseQuery.test.tsx
  packages/react-query/src/useMutationState.ts
Due: @tanstack/react-query, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client

chore: update eslint-plugin-react-hooks (#9737)
  examples/react/algolia/eslint.config.js
  examples/react/basic-graphql-request/eslint.config.js
  examples/react/basic/eslint.config.js
  examples/react/shadow-dom/eslint.config.js
  package.json
  packages/react-query-devtools/eslint.config.js
  packages/react-query-next-experimental/eslint.config.js
  packages/react-query-next-experimental/src/HydrationStreamProvider.tsx
  packages/react-query-persist-client/eslint.config.js
  packages/react-query-persist-client/src/__tests__/PersistQueryClientProvider.test.tsx
  packages/react-query/eslint.config.js
  packages/react-query/src/HydrationBoundary.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/react-query/src/__tests__/useSuspenseInfiniteQuery.test.tsx
  packages/react-query/src/__tests__/useSuspenseQueries.test-d.tsx
  packages/react-query/src/__tests__/useSuspenseQueries.test.tsx
  packages/react-query/src/__tests__/useSuspenseQuery.test.tsx
  packages/react-query/src/useMutationState.ts
  pnpm-lock.yaml
Due: @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client

fix isFetchedAfterMount
  packages/query-core/src/__tests__/query.test.tsx
  packages/query-core/src/query.ts
Due: @tanstack/query-core

changeset
  .changeset/yummy-rooms-read.md
Due: none

fix(createQueryPersister): add option to change behavior of refetch after restore
  .changeset/pretty-geese-scream.md
  docs/framework/react/plugins/createPersister.md
  docs/framework/vue/plugins/createPersister.md
  packages/query-persist-client-core/src/__tests__/createPersister.test.ts
  packages/query-persist-client-core/src/createPersister.ts
Due: @tanstack/query-persist-client-core

fix(query-persist-client-core): add option to change behavior of refetch after restore (#9745)
  .changeset/pretty-geese-scream.md
  docs/framework/react/plugins/createPersister.md
  docs/framework/vue/plugins/createPersister.md
  packages/query-persist-client-core/src/__tests__/createPersister.test.ts
  packages/query-persist-client-core/src/createPersister.ts
Due: @tanstack/query-persist-client-core

fix(query-persist-client-core): allow restoring null values
  .changeset/tender-cameras-brush.md
  packages/query-persist-client-core/src/createPersister.ts
Due: @tanstack/query-persist-client-core

fix(query-persist-client-core): allow restoring null values (#9747)
  .changeset/tender-cameras-brush.md
  packages/query-persist-client-core/src/createPersister.ts
Due: @tanstack/query-persist-client-core
