Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools, @tanstack/angular-query, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

test({react,preact}-query/useSuspenseQuery): assert the 'loading' fallback is rendered when gcTime is 0 (#11076)
  packages/preact-query/src/__tests__/useSuspenseQuery.test.tsx
  packages/react-query/src/__tests__/useSuspenseQuery.test.tsx
Due: @tanstack/react-query

test({react,preact}-query/usePrefetchQuery): inline the shared 'Suspended' component into each test
  packages/preact-query/src/__tests__/usePrefetchQuery.test.tsx
  packages/react-query/src/__tests__/usePrefetchQuery.test.tsx
Due: @tanstack/react-query

test({react,preact}-query/usePrefetchInfiniteQuery): inline the shared 'Suspended' component into each test
  packages/preact-query/src/__tests__/usePrefetchInfiniteQuery.test.tsx
  packages/react-query/src/__tests__/usePrefetchInfiniteQuery.test.tsx
Due: @tanstack/react-query

test({react,preact}-query/usePrefetchQuery): inline the shared 'Suspended' component into each test (#11077)
  packages/preact-query/src/__tests__/usePrefetchQuery.test.tsx
  packages/react-query/src/__tests__/usePrefetchQuery.test.tsx
Due: @tanstack/react-query

test({react,preact}-query/usePrefetchInfiniteQuery): inline the shared 'Suspended' component into each test (#11078)
  packages/preact-query/src/__tests__/usePrefetchInfiniteQuery.test.tsx
  packages/react-query/src/__tests__/usePrefetchInfiniteQuery.test.tsx
Due: @tanstack/react-query

test({react,preact}-query/usePrefetchInfiniteQuery): inline single-use helpers and adopt the 'pageParam' mock convention
  packages/preact-query/src/__tests__/usePrefetchInfiniteQuery.test.tsx
  packages/react-query/src/__tests__/usePrefetchInfiniteQuery.test.tsx
Due: @tanstack/react-query

test({react,preact}-query/usePrefetchInfiniteQuery): inline single-use helpers and adopt the 'pageParam' mock convention (#11079)
  packages/preact-query/src/__tests__/usePrefetchInfiniteQuery.test.tsx
  packages/react-query/src/__tests__/usePrefetchInfiniteQuery.test.tsx
Due: @tanstack/react-query

test({react,preact}-query/usePrefetchQuery): inline the 'generateQueryFn' factory into each call site
  packages/preact-query/src/__tests__/usePrefetchQuery.test.tsx
  packages/react-query/src/__tests__/usePrefetchQuery.test.tsx
Due: @tanstack/react-query

test({react,preact}-query/usePrefetchQuery): drop the unnecessary 'vi.fn()' wrapper on the never-asserted sentinel queryFn
  packages/preact-query/src/__tests__/usePrefetchQuery.test.tsx
  packages/react-query/src/__tests__/usePrefetchQuery.test.tsx
Due: @tanstack/react-query

test({react,preact}-query/usePrefetchQuery): inline the 'generateQueryFn' factory into each call site (#11080)
  packages/preact-query/src/__tests__/usePrefetchQuery.test.tsx
  packages/react-query/src/__tests__/usePrefetchQuery.test.tsx
Due: @tanstack/react-query

test({react,preact,solid}-query/useInfiniteQuery): inline the shared 'fetchItems' helper into the tests that use it
  packages/preact-query/src/__tests__/useInfiniteQuery.test.tsx
  packages/react-query/src/__tests__/useInfiniteQuery.test.tsx
  packages/solid-query/src/__tests__/useInfiniteQuery.test.tsx
Due: @tanstack/react-query, @tanstack/solid-query

test({react,preact,solid}-query/useInfiniteQuery): inline the shared 'fetchItems' helper into the tests that use it (#11082)
  packages/preact-query/src/__tests__/useInfiniteQuery.test.tsx
  packages/react-query/src/__tests__/useInfiniteQuery.test.tsx
  packages/solid-query/src/__tests__/useInfiniteQuery.test.tsx
Due: @tanstack/react-query, @tanstack/solid-query

chore: run format
  packages/query-core/src/__tests__/hydration.test.tsx
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

perf: special case arrays in partialMatchKey
  .changeset/humble-tips-try.md
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

test({react,preact}-query/useInfiniteQuery): use the '.then()' convention consistently
  packages/preact-query/src/__tests__/useInfiniteQuery.test.tsx
  packages/react-query/src/__tests__/useInfiniteQuery.test.tsx
Due: @tanstack/react-query

test({react,preact}-query/useMutation): use the '.then()' convention consistently
  packages/preact-query/src/__tests__/useMutation.test.tsx
  packages/react-query/src/__tests__/useMutation.test.tsx
Due: @tanstack/react-query

test({react,preact}-query/useQueries): use the '.then()' convention consistently
  packages/preact-query/src/__tests__/useQueries.test.tsx
  packages/react-query/src/__tests__/useQueries.test.tsx
Due: @tanstack/react-query

test({react,preact}-query/useQuery): use the '.then()' convention consistently
  packages/preact-query/src/__tests__/useQuery.test.tsx
  packages/react-query/src/__tests__/useQuery.promise.test.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/react-query/src/__tests__/useSuspenseQuery.test.tsx
Due: @tanstack/react-query

test(query-core/queryObserver): use the '.then()' convention consistently
  packages/query-core/src/__tests__/queryObserver.test.tsx
Due: @tanstack/query-core

test(solid-query/useMutation): use the '.then()' convention consistently
  packages/solid-query/src/__tests__/useMutation.test.tsx
Due: @tanstack/solid-query

test(solid-query/useQuery): use the '.then()' convention consistently
  packages/solid-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/solid-query

test(solid-query-persist-client): use the '.then()' convention consistently
  packages/solid-query-persist-client/src/__tests__/PersistQueryClientProvider.test.tsx
Due: @tanstack/solid-query-persist-client

test(angular-query-persist-client): use the '.then()' convention consistently
  packages/angular-query-persist-client/src/__tests__/with-persist-query-client.test.ts
Due: none

test(query-core/queryObserver): use the '.then()' convention consistently (#11086)
  packages/query-core/src/__tests__/queryObserver.test.tsx
Due: @tanstack/query-core

test({react,preact}-query): use the '.then()' convention consistently (#11085)
  packages/preact-query/src/__tests__/useInfiniteQuery.test.tsx
  packages/preact-query/src/__tests__/useMutation.test.tsx
  packages/preact-query/src/__tests__/useQueries.test.tsx
  packages/preact-query/src/__tests__/useQuery.test.tsx
  packages/react-query/src/__tests__/useInfiniteQuery.test.tsx
  packages/react-query/src/__tests__/useMutation.test.tsx
  packages/react-query/src/__tests__/useQueries.test.tsx
  packages/react-query/src/__tests__/useQuery.promise.test.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/react-query/src/__tests__/useSuspenseQuery.test.tsx
Due: @tanstack/react-query

test(solid-query): use the '.then()' convention consistently (#11087)
  packages/solid-query-persist-client/src/__tests__/PersistQueryClientProvider.test.tsx
  packages/solid-query/src/__tests__/useMutation.test.tsx
  packages/solid-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/solid-query, @tanstack/solid-query-persist-client

test(angular-query-persist-client): use the '.then()' convention consistently (#11088)
  packages/angular-query-persist-client/src/__tests__/with-persist-query-client.test.ts
Due: none

perf: special case arrays in partialMatchKey (#11084)
  .changeset/humble-tips-try.md
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

docs(angular-query): fix three broken examples in the guides
  docs/framework/angular/guides/disabling-queries.md
  docs/framework/angular/guides/query-functions.md
  docs/framework/angular/guides/query-retries.md
Due: none

test({react,preact}-query/usePrefetchQuery): use the '.then()' convention consistently
  packages/preact-query/src/__tests__/usePrefetchQuery.test.tsx
  packages/react-query/src/__tests__/usePrefetchQuery.test.tsx
Due: @tanstack/react-query

chore: upgrade to solid v2 beta 21
  examples/solid/astro/package.json
  examples/solid/basic-graphql-request/package.json
  examples/solid/basic/package.json
  examples/solid/default-query-function/package.json
  examples/solid/offline/package.json
  examples/solid/simple/package.json
  examples/solid/solid-start-streaming/package.json
  integrations/solid-vite/package.json
  packages/solid-query-devtools/package.json
  packages/solid-query-devtools/test-setup.ts
  packages/solid-query-persist-client/package.json
  packages/solid-query/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client

test(query-core): assert exact values instead of loose matchers in remaining tests
  packages/query-core/src/__tests__/hydration.test.tsx
  packages/query-core/src/__tests__/queriesObserver.test.tsx
  packages/query-core/src/__tests__/query.test.tsx
  packages/query-core/src/__tests__/queryCache.test.tsx
  packages/query-core/src/__tests__/queryClient.test.tsx
Due: @tanstack/query-core

fix(eslint-plugin-query): ignore call targets in exhaustive-deps (#11067)
  .changeset/soft-pianos-sip.md
  docs/eslint/exhaustive-deps.md
  packages/eslint-plugin-query/src/__tests__/ast-utils.test.ts
  packages/eslint-plugin-query/src/__tests__/exhaustive-deps.test.ts
  packages/eslint-plugin-query/src/rules/exhaustive-deps/exhaustive-deps.utils.ts
  packages/eslint-plugin-query/src/utils/ast-utils.ts
Due: @tanstack/eslint-plugin-query

fix(vue-query): export queryOptions declaration types
  .changeset/calm-vue-query-options.md
  packages/query-core/src/index.ts
  packages/vue-query/src/__tests__/queryOptions.test-d.ts
  packages/vue-query/src/index.ts
  packages/vue-query/src/queryOptions.ts
Due: @tanstack/query-core, @tanstack/vue-query

docs(CONTRIBUTING): replace 'npm run test' and 'npx nx' command with 'pnpm' equivalents
  CONTRIBUTING.md
Due: none

docs(CONTRIBUTING): remove stale gitpod one-click setup section
  CONTRIBUTING.md
Due: none

docs(CONTRIBUTING): link '.nvmrc' reference to the actual file
  CONTRIBUTING.md
Due: none

fix(vue-query): expose useQuery option aliases
  .changeset/calm-vue-query-options.md
  packages/vue-query/src/index.ts
Due: @tanstack/vue-query

fix(vue-query): preserve reactive query option keys
  packages/vue-query/src/__tests__/queryOptions.test-d.ts
  packages/vue-query/src/queryOptions.ts
Due: @tanstack/vue-query

chore: add changeset for Solid beta 21
  .changeset/solid-beta-21-upgrade.md
Due: none

Path conditions:
  @tanstack/angular-query-devtools: any of: packages/angular-query-devtools/**
  @tanstack/angular-query: any of: packages/angular-query/**
  @tanstack/eslint-plugin-query: any of: packages/eslint-plugin-query/**
  @tanstack/query-async-storage-persister: any of: packages/query-async-storage-persister/**
  @tanstack/query-broadcast-client-experimental: any of: packages/query-broadcast-client-experimental/**
  @tanstack/query-codemods: any of: packages/query-codemods/**
  @tanstack/query-core: any of: packages/query-core/**
  @tanstack/query-devtools: any of: packages/query-devtools/**
  @tanstack/query-persist-client-core: any of: packages/query-persist-client-core/**
  @tanstack/query-sync-storage-persister: any of: packages/query-sync-storage-persister/**
  @tanstack/query-test-utils: any of: packages/query-test-utils/**
  @tanstack/react-query: any of: packages/react-query/**
  @tanstack/react-query-devtools: any of: packages/react-query-devtools/**
  @tanstack/react-query-next-experimental: any of: packages/react-query-next-experimental/**
  @tanstack/react-query-persist-client: any of: packages/react-query-persist-client/**
  @tanstack/solid-query: any of: packages/solid-query/**
  @tanstack/solid-query-devtools: any of: packages/solid-query-devtools/**
  @tanstack/solid-query-persist-client: any of: packages/solid-query-persist-client/**
  @tanstack/svelte-query: any of: packages/svelte-query/**
  @tanstack/svelte-query-devtools: any of: packages/svelte-query-devtools/**
  @tanstack/svelte-query-persist-client: any of: packages/svelte-query-persist-client/**
  @tanstack/vue-query: any of: packages/vue-query/**
  @tanstack/vue-query-devtools: any of: packages/vue-query-devtools/**
