Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 1%

comment:
  layout: 'header, reach, diff, flags, components'

component_management:
  individual_components:
    - component_id: angular-query-devtools-experimental
      name: '@tanstack/angular-query-devtools-experimental'
      paths:
        - packages/angular-query-devtools-experimental/**
    - component_id: angular-query-experimental
      name: '@tanstack/angular-query-experimental'
      paths:
        - packages/angular-query-experimental/**
    - component_id: eslint-plugin-query
      name: '@tanstack/eslint-plugin-query'
      paths:
        - packages/eslint-plugin-query/**
    - component_id: query-async-storage-persister
      name: '@tanstack/query-async-storage-persister'
      paths:
        - packages/query-async-storage-persister/**
    - component_id: query-broadcast-client-experimental
      name: '@tanstack/query-broadcast-client-experimental'
      paths:
        - packages/query-broadcast-client-experimental/**
    - component_id: query-codemods
      name: '@tanstack/query-codemods'
      paths:
        - packages/codemods/**
    - component_id: query-core
      name: '@tanstack/query-core'
      paths:
        - packages/query-core/**
    - component_id: query-devtools
      name: '@tanstack/query-devtools'
      paths:
        - packages/query-devtools/**
    - component_id: query-persist-client-core
      name: '@tanstack/query-persist-client-core'
      paths:
        - packages/query-persist-client-core/**
    - component_id: query-sync-storage-persister
      name: '@tanstack/query-sync-storage-persister'
      paths:
        - packages/query-sync-storage-persister/**
    - component_id: react-query
      name: '@tanstack/react-query'
      paths:
        - packages/react-query/**
    - component_id: react-query-devtools
      name: '@tanstack/react-query-devtools'
      paths:
        - packages/react-query-devtools/**
    - component_id: react-query-next-experimental
      name: '@tanstack/react-query-next-experimental'
      paths:
        - packages/react-query-next-experimental/**
    - component_id: react-query-persist-client
      name: '@tanstack/react-query-persist-client'
      paths:
        - packages/react-query-persist-client/**
    - component_id: solid-query
      name: '@tanstack/solid-query'
      paths:
        - packages/solid-query/**
    - component_id: solid-query-devtools
      name: '@tanstack/solid-query-devtools'
      paths:
        - packages/solid-query-devtools/**
    - component_id: solid-query-persist-client
      name: '@tanstack/solid-query-persist-client'
      paths:
        - packages/solid-query-persist-client/**
    - component_id: svelte-query
      name: '@tanstack/svelte-query'
      paths:
        - packages/svelte-query/**
    - component_id: svelte-query-devtools
      name: '@tanstack/svelte-query-devtools'
      paths:
        - packages/svelte-query-devtools/**
    - component_id: svelte-query-persist-client
      name: '@tanstack/svelte-query-persist-client'
      paths:
        - packages/svelte-query-persist-client/**
    - component_id: vue-query
      name: '@tanstack/vue-query'
      paths:
        - packages/vue-query/**
    - component_id: vue-query-devtools
      name: '@tanstack/vue-query-devtools'
      paths:
        - packages/vue-query-devtools/**

refactor: use util types to extract from dataTag
  packages/query-core/src/queryClient.ts
  packages/query-core/src/types.ts
Due: @tanstack/query-core

chore: try to fix vue types with overloads
  packages/vue-query/src/queryClient.ts
Due: @tanstack/vue-query

fix(react-query): fix inferring data as | undefined when using initialData without queryFn (#8674)
  packages/react-query/src/__tests__/useQuery.test-d.tsx
  packages/react-query/src/queryOptions.ts
Due: @tanstack/react-query

release: v5.66.8
  examples/react/algolia/package.json
  examples/react/auto-refetching/package.json
  examples/react/basic-graphql-request/package.json
  examples/react/basic/package.json
  examples/react/default-query-function/package.json
  examples/react/devtools-panel/package.json
  examples/react/infinite-query-with-max-pages/package.json
  examples/react/load-more-infinite-scroll/package.json
  examples/react/nextjs-app-prefetching/package.json
  examples/react/nextjs-suspense-streaming/package.json
  examples/react/nextjs/package.json
  examples/react/offline/package.json
  examples/react/optimistic-updates-cache/package.json
  examples/react/optimistic-updates-ui/package.json
  examples/react/pagination/package.json
  examples/react/playground/package.json
  examples/react/prefetching/package.json
  examples/react/react-native/package.json
  examples/react/react-router/package.json
  examples/react/rick-morty/package.json
  examples/react/shadow-dom/package.json
  examples/react/simple/package.json
  examples/react/star-wars/package.json
  examples/react/suspense/package.json
  packages/react-query-devtools/package.json
  packages/react-query-next-experimental/package.json
  packages/react-query-persist-client/package.json
  packages/react-query/package.json
  pnpm-lock.yaml
Due: @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client

chore: vue types
  packages/vue-query/src/queryClient.ts
Due: @tanstack/vue-query

rollback(angular-query-experimental): restore injectQueries
  packages/angular-query-experimental/src/inject-queries.ts
Due: @tanstack/angular-query-experimental

fix(types): prevent type errors and improve inference for dynamic queries on useQueries and useSuspenseQueries (#8624)
  packages/angular-query-experimental/src/inject-queries.ts
  packages/react-query/src/__tests__/useQueries.test-d.tsx
  packages/react-query/src/__tests__/useSuspenseQueries.test-d.tsx
  packages/react-query/src/useQueries.ts
  packages/react-query/src/useSuspenseQueries.ts
  packages/solid-query-devtools/package.json
  packages/solid-query-persist-client/package.json
  packages/solid-query/src/__tests__/createQueries.test-d.tsx
  packages/solid-query/src/createQueries.ts
  packages/svelte-query/src/createQueries.ts
  packages/svelte-query/tests/createQueries/createQueries.test-d.ts
  packages/vue-query/src/__tests__/useQueries.test-d.ts
  packages/vue-query/src/useQueries.ts
Due: @tanstack/angular-query-experimental, @tanstack/react-query, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/vue-query

attempt repro
  integrations/react-next-15/app/authors/page.tsx
  integrations/react-next-15/app/client-component.tsx
  integrations/react-next-15/app/page.tsx
  integrations/react-next-15/app/query.ts
  integrations/react-next-15/package.json
  pnpm-lock.yaml
Due: none

fix(react-query): fix no error on wrong type annotation
  packages/react-query/src/__tests__/useQuery.test-d.tsx
  packages/react-query/src/useQuery.ts
Due: @tanstack/react-query

test(react-query): remove an unused var
  packages/react-query/src/__tests__/useQuery.test-d.tsx
Due: @tanstack/react-query

perf(query-core): useQueries have quadratic performance in relation to the number of queries(#8604)
  packages/query-core/src/queriesObserver.ts
Due: @tanstack/query-core

test(query-core): rename test
  packages/query-core/src/__tests__/queryClient.test-d.tsx
Due: @tanstack/query-core

fix(angular-query-experimental): typings for injectQueries should now behave properly
  packages/angular-query-experimental/src/__tests__/inject-queries.test-d.ts
  packages/angular-query-experimental/src/inject-queries.ts
Due: @tanstack/angular-query-experimental

fix(angular-query-experimental): behaviors of injectQuery now work at runtime
  packages/angular-query-experimental/package.json
  packages/angular-query-experimental/src/__tests__/inject-queries.test.tsx
  packages/angular-query-experimental/src/inject-queries.ts
  pnpm-lock.yaml
Due: @tanstack/angular-query-experimental

chore: remove mistakenly committed files
  packages/query-devtools/src/contexts/QueryDevtoolsContext.d.ts.map
  packages/query-devtools/src/contexts/ThemeContext.d.ts.map
  packages/query-devtools/src/contexts/index.d.ts.map
  packages/query-devtools/src/index.d.ts.map
  packages/query-persist-client-core/src/createPersister.d.ts.map
  packages/query-persist-client-core/src/index.d.ts.map
  packages/query-persist-client-core/src/persist.d.ts.map
  packages/query-persist-client-core/src/retryStrategies.d.ts.map
  packages/svelte-query/src/HydrationBoundary.svelte.d.ts.map
  packages/svelte-query/src/QueryClientProvider.svelte.d.ts.map
  packages/svelte-query/src/context.d.ts.map
  packages/svelte-query/src/createBaseQuery.d.ts.map
  packages/svelte-query/src/createInfiniteQuery.d.ts.map
  packages/svelte-query/src/createMutation.d.ts.map
  packages/svelte-query/src/createQueries.d.ts.map
  packages/svelte-query/src/createQuery.d.ts.map
  packages/svelte-query/src/index.d.ts.map
  packages/svelte-query/src/infiniteQueryOptions.d.ts.map
  packages/svelte-query/src/queryOptions.d.ts.map
  packages/svelte-query/src/types.d.ts.map
  packages/svelte-query/src/useHydrate.d.ts.map
  packages/svelte-query/src/useIsFetching.d.ts.map
  packages/svelte-query/src/useIsMutating.d.ts.map
  packages/svelte-query/src/useIsRestoring.d.ts.map
  packages/svelte-query/src/useMutationState.d.ts.map
  packages/svelte-query/src/useQueryClient.d.ts.map
  packages/svelte-query/src/utils.d.ts.map
Due: @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/svelte-query

chore: remove mistakenly committed files
  packages/query-devtools/src/contexts/QueryDevtoolsContext.d.ts
  packages/query-devtools/src/contexts/ThemeContext.d.ts
  packages/query-devtools/src/contexts/index.d.ts
  packages/query-devtools/src/index.d.ts
  packages/query-persist-client-core/src/createPersister.d.ts
  packages/query-persist-client-core/src/index.d.ts
  packages/query-persist-client-core/src/persist.d.ts
  packages/query-persist-client-core/src/retryStrategies.d.ts
  packages/svelte-query/src/HydrationBoundary.svelte.d.ts
  packages/svelte-query/src/QueryClientProvider.svelte.d.ts
  packages/svelte-query/src/context.d.ts
  packages/svelte-query/src/createBaseQuery.d.ts
  packages/svelte-query/src/createInfiniteQuery.d.ts
  packages/svelte-query/src/createMutation.d.ts
  packages/svelte-query/src/createQueries.d.ts
  packages/svelte-query/src/createQuery.d.ts
  packages/svelte-query/src/index.d.ts
  packages/svelte-query/src/infiniteQueryOptions.d.ts
  packages/svelte-query/src/queryOptions.d.ts
  packages/svelte-query/src/types.d.ts
  packages/svelte-query/src/useHydrate.d.ts
  packages/svelte-query/src/useIsFetching.d.ts
  packages/svelte-query/src/useIsMutating.d.ts
  packages/svelte-query/src/useIsRestoring.d.ts
  packages/svelte-query/src/useMutationState.d.ts
  packages/svelte-query/src/useQueryClient.d.ts
  packages/svelte-query/src/utils.d.ts
Due: @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/svelte-query

fix(query-core): fix to show type error when queryKey is a wrong type in invalidateQueries
  packages/query-core/src/__tests__/queryClient.test-d.tsx
  packages/query-core/src/queryClient.ts
  packages/vue-query/src/queryClient.ts
Due: @tanstack/query-core, @tanstack/vue-query

docs(vue-query): Add docs page for vue reactivity (#8170)
  docs/config.json
  docs/framework/vue/reactivity.md
Due: none

types(vue-query): add `shallow` support to `QueryClientConfig`
  packages/vue-query/src/queryClient.ts
  packages/vue-query/src/types.ts
  packages/vue-query/src/useMutation.ts
  packages/vue-query/src/useQuery.ts
  packages/vue-query/src/vueQueryPlugin.ts
Due: @tanstack/vue-query

Fix links in caching.md
  docs/framework/react/guides/caching.md
Due: none

docs: Fix links in caching.md (#8693)
  docs/framework/react/guides/caching.md
Due: none

test: from #8691
  packages/query-core/src/__tests__/queryClient.test-d.tsx
Due: @tanstack/query-core

fix: make options a MaybeRefDeep
  packages/vue-query/src/queryClient.ts
Due: @tanstack/vue-query

docs(react-query): fix links in advanced-ssr.md
  docs/framework/react/guides/advanced-ssr.md
Due: none

Fix community resource links
  docs/framework/react/guides/important-defaults.md
Due: none

feat: types for filters on other queryClient methods
  packages/query-core/src/__tests__/queryClient.test-d.tsx
  packages/query-core/src/queryCache.ts
  packages/query-core/src/queryClient.ts
  packages/vue-query/src/queryClient.ts
Due: @tanstack/query-core, @tanstack/vue-query

docs(react-query): fix incorrect paths in documentation The documentation contained incorrect file paths. Fixed the incorrect paths to match the actual directory structure.
  docs/framework/react/reference/infiniteQueryOptions.md
  docs/framework/react/reference/queryOptions.md
  docs/framework/react/reference/useInfiniteQuery.md
  docs/framework/react/reference/useIsFetching.md
  docs/framework/react/reference/useIsMutating.md
  docs/framework/react/reference/useMutation.md
  docs/framework/react/reference/useMutationState.md
  docs/framework/react/reference/usePrefetchInfiniteQuery.md
  docs/framework/react/reference/usePrefetchQuery.md
  docs/framework/react/reference/useQueries.md
  docs/framework/react/reference/useQuery.md
  docs/framework/react/reference/useSuspenseInfiniteQuery.md
  docs/framework/react/reference/useSuspenseQueries.md
  docs/framework/react/reference/useSuspenseQuery.md
Due: none

fix(react-query): fix type breaking when using useSuspenseQueries with spreaded queryOptions
  packages/react-query/src/__tests__/useSuspenseQueries.test-d.tsx
  packages/react-query/src/useSuspenseQueries.ts
Due: @tanstack/react-query

test: change test title
  packages/react-query/src/__tests__/useSuspenseQueries.test-d.tsx
Due: @tanstack/react-query

Enrich the onMutate description for context
  docs/framework/react/reference/useMutation.md
Due: none

chore(react-query): isRestoring -> IsRestoreProvider like QueryClientProvider
  packages/react-query/src/IsRestoringProvider.ts
  packages/react-query/src/index.ts
  packages/react-query/src/useBaseQuery.ts
  packages/react-query/src/useQueries.ts
Due: @tanstack/react-query

test(query-core): add test case for keepPreviousData
  packages/query-core/src/__tests__/utils.test.tsx
Due: @tanstack/query-core

test(query-core): add test case for queryClient.isFetching
  packages/query-core/src/__tests__/queryClient.test.tsx
Due: @tanstack/query-core

fix(react-query): fix type breaking when using useSuspenseQueries with spreaded queryOptions (#8709)
  packages/react-query/src/__tests__/useSuspenseQueries.test-d.tsx
  packages/react-query/src/useSuspenseQueries.ts
Due: @tanstack/react-query

release: v5.66.10
  examples/react/algolia/package.json
  examples/react/auto-refetching/package.json
  examples/react/basic-graphql-request/package.json
  examples/react/basic/package.json
  examples/react/default-query-function/package.json
  examples/react/devtools-panel/package.json
  examples/react/infinite-query-with-max-pages/package.json
  examples/react/load-more-infinite-scroll/package.json
  examples/react/nextjs-app-prefetching/package.json
  examples/react/nextjs-suspense-streaming/package.json
  examples/react/nextjs/package.json
  examples/react/offline/package.json
  examples/react/optimistic-updates-cache/package.json
  examples/react/optimistic-updates-ui/package.json
  examples/react/pagination/package.json
  examples/react/playground/package.json
  examples/react/prefetching/package.json
  examples/react/react-native/package.json
  examples/react/react-router/package.json
  examples/react/rick-morty/package.json
  examples/react/shadow-dom/package.json
  examples/react/simple/package.json
  examples/react/star-wars/package.json
  examples/react/suspense/package.json
  packages/react-query-devtools/package.json
  packages/react-query-next-experimental/package.json
  packages/react-query-persist-client/package.json
  packages/react-query/package.json
  pnpm-lock.yaml
Due: @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client

test(query-core): add test case for keepPreviousData (#8719)
  packages/query-core/src/__tests__/utils.test.tsx
Due: @tanstack/query-core

chore: update
  packages/query-core/src/__tests__/queryClient.test.tsx
Due: @tanstack/query-core

Update packages/query-core/src/__tests__/queryClient.test.tsx
  packages/query-core/src/__tests__/queryClient.test.tsx
Due: @tanstack/query-core
