Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

chore(deps): use stable @types/react version
  examples/react/nextjs-app-prefetching/package.json
  examples/react/shadow-dom/package.json
  integrations/react-next-15/package.json
  package.json
  packages/react-query-devtools/package.json
  packages/react-query-next-experimental/package.json
  packages/react-query-persist-client/package.json
  packages/react-query/package.json
  pnpm-lock.yaml
Due: @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client

chore(deps): use stable `@types/react` version (#8437)
  examples/react/nextjs-app-prefetching/package.json
  examples/react/shadow-dom/package.json
  integrations/react-next-15/package.json
  package.json
  packages/react-query-devtools/package.json
  packages/react-query-next-experimental/package.json
  packages/react-query-persist-client/package.json
  packages/react-query/package.json
  pnpm-lock.yaml
Due: @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client

feat: add optimistic updates example for Angular
  examples/angular/optimistic-updates/.devcontainer/devcontainer.json
  examples/angular/optimistic-updates/.eslintrc.cjs
  examples/angular/optimistic-updates/README.md
  examples/angular/optimistic-updates/angular.json
  examples/angular/optimistic-updates/package.json
  examples/angular/optimistic-updates/src/app/app.component.ts
  examples/angular/optimistic-updates/src/app/app.config.ts
  examples/angular/optimistic-updates/src/app/app.interfaces.ts
  examples/angular/optimistic-updates/src/app/components/optimistic-updates.component.ts
  examples/angular/optimistic-updates/src/app/interceptor/mock-api.interceptor.ts
  examples/angular/optimistic-updates/src/app/services/tasks.service.ts
  examples/angular/optimistic-updates/src/favicon.ico
  examples/angular/optimistic-updates/src/index.html
  examples/angular/optimistic-updates/src/main.ts
  examples/angular/optimistic-updates/tsconfig.app.json
  examples/angular/optimistic-updates/tsconfig.json
Due: none

Remove comment
  examples/angular/optimistic-updates/src/app/interceptor/mock-api.interceptor.ts
Due: none

add lock file
  pnpm-lock.yaml
Due: none

chore(react-query): add support for react19 in react-query v4
  packages/react-query/package.json
Due: @tanstack/react-query

chore: update pnpm-lock
  pnpm-lock.yaml
Due: none

chore(react-query-devtools): support for react19
  packages/react-query-devtools/package.json
  pnpm-lock.yaml
Due: @tanstack/react-query-devtools

chore(react-query-persist-client): support for react19
  packages/react-query-persist-client/package.json
  pnpm-lock.yaml
Due: @tanstack/react-query-persist-client

fix: ensure `queryKey` match the current value of ref used inside
  packages/vue-query/src/useQueries.ts
Due: @tanstack/vue-query

docs: use correct `broadcastChannel` default value and type name (#8436)
  docs/framework/react/plugins/broadcastQueryClient.md
Due: none

test: startTransition
  packages/react-query/src/__tests__/transition.test.tsx
Due: @tanstack/react-query

Update infiniteQueryOptions.md
  docs/framework/react/reference/infiniteQueryOptions.md
Due: none

docs(useQuery): add more info to description of staleTime field of query options
  docs/framework/react/reference/useQuery.md
Due: none

fix(types): fix issues with queryOptions factory method types (#8394)
  packages/query-core/src/__tests__/queryClient.test-d.tsx
  packages/query-core/src/__tests__/utils.test-d.tsx
  packages/query-core/src/types.ts
  packages/react-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/react-query/src/__tests__/queryOptions.test-d.tsx
  packages/react-query/src/infiniteQueryOptions.ts
  packages/react-query/src/queryOptions.ts
  packages/react-query/src/types.ts
Due: @tanstack/query-core, @tanstack/react-query

perf(query-core): Improve performance of mutationCache
  packages/query-core/src/mutationCache.ts
Due: @tanstack/query-core

perf(query-core): Improve find, findAll, getAll, clear, and remove performance by modeling mutations in a single set
  packages/query-core/src/mutationCache.ts
Due: @tanstack/query-core

docs(useQuery): add more info to description of staleTime field of query options (#8448)
  docs/framework/react/reference/useQuery.md
Due: none

fix test
  packages/react-query/src/__tests__/transition.test.tsx
Due: @tanstack/react-query

rm dep array
  packages/react-query/src/useIsFetching.ts
Due: @tanstack/react-query

mkay
  packages/react-query/src/useBaseQuery.ts
Due: @tanstack/react-query

failing test
  packages/react-query/src/__tests__/transition.test.tsx
Due: @tanstack/react-query

mkay better test
  packages/react-query/src/__tests__/transition.test.tsx
Due: @tanstack/react-query

might revert this later
  packages/react-query/src/useBaseQuery.ts
Due: @tanstack/react-query

prettier
  packages/react-query/src/__tests__/transition.test.tsx
  packages/react-query/src/useBaseQuery.ts
Due: @tanstack/react-query

Revert "might revert this later"
  packages/react-query/src/__tests__/transition.test.tsx
  packages/react-query/src/useBaseQuery.ts
Due: @tanstack/react-query

wait
  packages/react-query/src/__tests__/transition.test.tsx
Due: @tanstack/react-query

mkay
  packages/react-query/src/__tests__/transition.test.tsx
Due: @tanstack/react-query

vscode helps
  .gitignore
  .vscode/settings.json
Due: none

why doesn’t this failllll
  packages/react-query/src/__tests__/transition.test.tsx
Due: @tanstack/react-query

org
  packages/react-query/src/__tests__/transition.test.tsx
Due: @tanstack/react-query

add transition
  examples/react/transition/.eslintrc
  examples/react/transition/.gitignore
  examples/react/transition/README.md
  examples/react/transition/index.html
  examples/react/transition/package.json
  examples/react/transition/public/emblem-light.svg
  examples/react/transition/src/index.tsx
  examples/react/transition/tsconfig.json
  examples/react/transition/vite.config.ts
  pnpm-lock.yaml
Due: none

tweak
  examples/react/transition/src/index.tsx
Due: none

fix
  pnpm-lock.yaml
Due: none

mkay
  examples/react/transition/src/index.tsx
Due: none

pendy
  examples/react/transition/src/index.tsx
Due: none

revert useIsFetching etc etc
  packages/react-query/src/__tests__/useIsFetching.test.tsx
  packages/react-query/src/__tests__/useMutationState.test.tsx
  packages/react-query/src/useIsFetching.ts
  packages/react-query/src/useMutationState.ts
Due: @tanstack/react-query

wip
  packages/react-query/src/__tests__/regression-8434-transition.test.tsx
  packages/react-query/vite.config.ts
Due: @tanstack/react-query

add example project
  examples/react/transition/.eslintrc
  examples/react/transition/.gitignore
  examples/react/transition/README.md
  examples/react/transition/index.html
  examples/react/transition/package.json
  examples/react/transition/public/emblem-light.svg
  examples/react/transition/src/index.tsx
  examples/react/transition/tsconfig.json
  examples/react/transition/vite.config.ts
Due: none

Path conditions:
  @tanstack/angular-query-devtools-experimental: any of: packages/angular-query-devtools-experimental/**
  @tanstack/angular-query-experimental: any of: packages/angular-query-experimental/**
  @tanstack/eslint-plugin-query: any of: packages/eslint-plugin-query/**
  @tanstack/query-async-storage-persister: any of: packages/query-async-storage-persister/**
  @tanstack/query-broadcast-client-experimental: any of: packages/query-broadcast-client-experimental/**
  @tanstack/query-codemods: any of: packages/codemods/**
  @tanstack/query-core: any of: packages/query-core/**
  @tanstack/query-devtools: any of: packages/query-devtools/**
  @tanstack/query-persist-client-core: any of: packages/query-persist-client-core/**
  @tanstack/query-sync-storage-persister: any of: packages/query-sync-storage-persister/**
  @tanstack/react-query: any of: packages/react-query/**
  @tanstack/react-query-devtools: any of: packages/react-query-devtools/**
  @tanstack/react-query-next-experimental: any of: packages/react-query-next-experimental/**
  @tanstack/react-query-persist-client: any of: packages/react-query-persist-client/**
  @tanstack/solid-query: any of: packages/solid-query/**
  @tanstack/solid-query-devtools: any of: packages/solid-query-devtools/**
  @tanstack/solid-query-persist-client: any of: packages/solid-query-persist-client/**
  @tanstack/svelte-query: any of: packages/svelte-query/**
  @tanstack/svelte-query-devtools: any of: packages/svelte-query-devtools/**
  @tanstack/svelte-query-persist-client: any of: packages/svelte-query-persist-client/**
  @tanstack/vue-query: any of: packages/vue-query/**
  @tanstack/vue-query-devtools: any of: packages/vue-query-devtools/**
