Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools, @tanstack/angular-query, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

codecov.yml:

codecov:
  max_report_age: off

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto

comment:
  layout: 'header, reach, diff, flags, components'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  hide_project_coverage: false

component_management:
  individual_components:
    - component_id: angular-query-devtools
      name: '@tanstack/angular-query-devtools'
      paths:
        - packages/angular-query-devtools/**
    - component_id: angular-query
      name: '@tanstack/angular-query'
      paths:
        - packages/angular-query/**
    - component_id: eslint-plugin-query
      name: '@tanstack/eslint-plugin-query'
      paths:
        - packages/eslint-plugin-query/**
    - component_id: query-async-storage-persister
      name: '@tanstack/query-async-storage-persister'
      paths:
        - packages/query-async-storage-persister/**
    - component_id: query-broadcast-client-experimental
      name: '@tanstack/query-broadcast-client-experimental'
      paths:
        - packages/query-broadcast-client-experimental/**
    - component_id: query-codemods
      name: '@tanstack/query-codemods'
      paths:
        - packages/query-codemods/**
    - component_id: query-core
      name: '@tanstack/query-core'
      paths:
        - packages/query-core/**
    - component_id: query-devtools
      name: '@tanstack/query-devtools'
      paths:
        - packages/query-devtools/**
    - component_id: query-persist-client-core
      name: '@tanstack/query-persist-client-core'
      paths:
        - packages/query-persist-client-core/**
    - component_id: query-sync-storage-persister
      name: '@tanstack/query-sync-storage-persister'
      paths:
        - packages/query-sync-storage-persister/**
    - component_id: query-test-utils
      name: '@tanstack/query-test-utils'
      paths:
        - packages/query-test-utils/**
    - component_id: react-query
      name: '@tanstack/react-query'
      paths:
        - packages/react-query/**
    - component_id: react-query-devtools
      name: '@tanstack/react-query-devtools'
      paths:
        - packages/react-query-devtools/**
    - component_id: react-query-next-experimental
      name: '@tanstack/react-query-next-experimental'
      paths:
        - packages/react-query-next-experimental/**
    - component_id: react-query-persist-client
      name: '@tanstack/react-query-persist-client'
      paths:
        - packages/react-query-persist-client/**
    - component_id: solid-query
      name: '@tanstack/solid-query'
      paths:
        - packages/solid-query/**
    - component_id: solid-query-devtools
      name: '@tanstack/solid-query-devtools'
      paths:
        - packages/solid-query-devtools/**
    - component_id: solid-query-persist-client
      name: '@tanstack/solid-query-persist-client'
      paths:
        - packages/solid-query-persist-client/**
    - component_id: svelte-query
      name: '@tanstack/svelte-query'
      paths:
        - packages/svelte-query/**
    - component_id: svelte-query-devtools
      name: '@tanstack/svelte-query-devtools'
      paths:
        - packages/svelte-query-devtools/**
    - component_id: svelte-query-persist-client
      name: '@tanstack/svelte-query-persist-client'
      paths:
        - packages/svelte-query-persist-client/**
    - component_id: vue-query
      name: '@tanstack/vue-query'
      paths:
        - packages/vue-query/**
    - component_id: vue-query-devtools
      name: '@tanstack/vue-query-devtools'
      paths:
        - packages/vue-query-devtools/**

test(vue-query/useQuery): move suspense regression tests into 'useQuery.test.ts' (#11250)
  packages/vue-query/src/__tests__/suspense.test.ts
  packages/vue-query/src/__tests__/useQuery.test.ts
Due: @tanstack/vue-query

fix({preact,solid,svelte,angular-query-experimental}): switch to 'export type *' for type-only re-exports
  .changeset/export-type-star-adapters.md
  packages/angular-query-experimental/src/index.ts
  packages/preact-query/src/index.ts
  packages/solid-query/src/index.ts
  packages/svelte-query/src/index.ts
Due: @tanstack/solid-query, @tanstack/svelte-query

chore(.changeset/export-type-star-adapters): trim redundant PR cross-reference from changeset body
  .changeset/export-type-star-adapters.md
Due: none

vue
  packages/query-core/src/__tests__/mutations.test-d.tsx
  packages/vue-query/src/useMutation.ts
Due: @tanstack/query-core, @tanstack/vue-query

export and add tests
  packages/query-core/src/__tests__/hydration.test.tsx
  packages/query-core/src/index.ts
Due: @tanstack/query-core

perf(query-core): skip no-op hydration callbacks and export dehydrateQuery
  .changeset/fast-pandas-hydrate.md
  packages/query-core/src/hydration.ts
Due: @tanstack/query-core

angular
  packages/angular-query-experimental/src/inject-mutation.ts
  packages/query-core/src/__tests__/mutations.test-d.tsx
Due: @tanstack/query-core

docs(vue-query): explain why reactive() is needed for result narrowing (#10580)
  docs/framework/vue/typescript.md
  packages/vue-query/src/__tests__/useQuery.test-d.ts
Due: @tanstack/vue-query

fix: vue devtools class attribute (#10849)
  .changeset/fix-vue-devtools-class-attribute.md
Due: none

Enhance DevTools support with Rozenite Plugin (#10328)
  docs/framework/react/react-native.md
Due: none

fix: transition tests
  packages/react-query/src/__tests__/transition.test.tsx
Due: @tanstack/react-query

fix adapter signatures
  packages/lit-query/src/createMutationController.ts
  packages/preact-query/src/useMutation.ts
  packages/react-query/src/useMutation.ts
  packages/solid-query/src/useMutation.ts
  packages/svelte-query/src/createMutation.svelte.ts
Due: @tanstack/react-query, @tanstack/solid-query, @tanstack/svelte-query

stabilize test
  packages/query-core/src/__tests__/hydration.test.tsx
Due: @tanstack/query-core

perf(query-core): skip no-op hydration callbacks and export dehydrateQuery (#11253)
  .changeset/fast-pandas-hydrate.md
  packages/query-core/src/__tests__/hydration.test.tsx
  packages/query-core/src/hydration.ts
  packages/query-core/src/index.ts
Due: @tanstack/query-core

changeset
  .changeset/optional-mutate-parameters.md
Due: none

fix(query-core): make `MutateFunction` optional undefinable-variables (#8737)
  .changeset/optional-mutate-parameters.md
  packages/angular-query-experimental/src/inject-mutation.ts
  packages/lit-query/src/createMutationController.ts
  packages/preact-query/src/useMutation.ts
  packages/query-core/src/__tests__/mutations.test-d.tsx
  packages/query-core/src/types.ts
  packages/react-query/src/useMutation.ts
  packages/solid-query/src/useMutation.ts
  packages/svelte-query/src/createMutation.svelte.ts
  packages/vue-query/src/useMutation.ts
Due: @tanstack/query-core, @tanstack/react-query, @tanstack/solid-query, @tanstack/svelte-query, @tanstack/vue-query

fix(svelte-query): useMutationState array never shrank when mutations stopped matching filter
  .changeset/fix-svelte-use-mutation-state-shrink.md
  packages/svelte-query/src/useMutationState.svelte.ts
  packages/svelte-query/tests/useMutationState/useMutationState.svelte.test.ts
Due: @tanstack/svelte-query

fix(solid-query): avoid redundant reconciliation
  .changeset/calm-wolves-reconcile.md
  packages/solid-query/src/__tests__/useQuery.test.tsx
  packages/solid-query/src/useBaseQuery.ts
Due: @tanstack/solid-query

fix(solid-query): track observer data references
  packages/solid-query/src/__tests__/useQuery.test.tsx
  packages/solid-query/src/useBaseQuery.ts
Due: @tanstack/solid-query

fix(vue-query): narrow branded type handling
  packages/vue-query/src/__tests__/queryOptions.test-d.ts
  packages/vue-query/src/types.ts
Due: @tanstack/vue-query

feat(core): query and mutation options in core
  .changeset/quiet-cooks-sparkle.md
  packages/query-core/src/__tests__/mutationOptions.test-d.tsx
  packages/query-core/src/__tests__/queryOptions.test-d.tsx
  packages/query-core/src/index.ts
  packages/query-core/src/mutationOptions.ts
  packages/query-core/src/queryOptions.ts
Due: @tanstack/query-core

feat(vue): core query options and mutation compat
  packages/vue-query/src/__tests__/mutationOptions.test-d.ts
  packages/vue-query/src/__tests__/queryOptions.test-d.ts
  packages/vue-query/src/__tests__/useQuery.test.ts
  packages/vue-query/src/useBaseQuery.ts
  packages/vue-query/src/useQuery.ts
Due: @tanstack/vue-query

test: validate type compat in adapters
  packages/angular-query-experimental/src/__tests__/mutation-options.test-d.ts
  packages/angular-query-experimental/src/__tests__/query-options.test-d.ts
  packages/lit-query/src/tests/type-inference.test.ts
  packages/preact-query/src/__tests__/mutationOptions.test-d.tsx
  packages/preact-query/src/__tests__/queryOptions.test-d.tsx
  packages/react-query/src/__tests__/mutationOptions.test-d.tsx
  packages/react-query/src/__tests__/queryOptions.test-d.tsx
  packages/solid-query/src/__tests__/mutationOptions.test-d.tsx
  packages/solid-query/src/__tests__/queryOptions.test-d.tsx
  packages/svelte-query/tests/createQuery/createQuery.test-d.ts
  packages/svelte-query/tests/mutationOptions/mutationOptions.test-d.ts
Due: @tanstack/react-query, @tanstack/solid-query, @tanstack/svelte-query

feat: bring back placeholderData for suspense
  .changeset/suspense-placeholder-data.md
  docs/framework/react/guides/suspense.md
  docs/framework/react/reference/useSuspenseInfiniteQuery.md
  docs/framework/react/reference/useSuspenseQueries.md
  docs/framework/react/reference/useSuspenseQuery.md
  packages/react-query/src/__tests__/transition.test.tsx
  packages/react-query/src/__tests__/useSuspenseInfiniteQuery.test-d.tsx
  packages/react-query/src/__tests__/useSuspenseInfiniteQuery.test.tsx
  packages/react-query/src/__tests__/useSuspenseQueries.test-d.tsx
  packages/react-query/src/__tests__/useSuspenseQueries.test.tsx
  packages/react-query/src/__tests__/useSuspenseQuery.test-d.tsx
  packages/react-query/src/__tests__/useSuspenseQuery.test.tsx
  packages/react-query/src/suspense.ts
  packages/react-query/src/types.ts
  packages/react-query/src/useBaseQuery.ts
  packages/react-query/src/useQueries.ts
  packages/react-query/src/useSuspenseInfiniteQuery.ts
  packages/react-query/src/useSuspenseQueries.ts
  packages/react-query/src/useSuspenseQuery.ts
Due: @tanstack/react-query

docs: add docs for simplified query methods (#10662)
  docs/eslint/stable-query-client.md
  docs/framework/angular/guides/paginated-queries.md
  docs/framework/angular/guides/query-options.md
  docs/framework/angular/typescript.md
  docs/framework/react/guides/advanced-ssr.md
  docs/framework/react/guides/initial-query-data.md
  docs/framework/react/guides/migrating-to-v5.md
  docs/framework/react/guides/prefetching.md
  docs/framework/react/guides/query-options.md
  docs/framework/react/guides/ssr.md
  docs/framework/react/reference/infiniteQueryOptions.md
  docs/framework/react/reference/queryOptions.md
  docs/framework/react/typescript.md
  docs/framework/solid/guides/prefetching.md
  docs/framework/solid/guides/query-options.md
  docs/framework/solid/typescript.md
  docs/framework/svelte/ssr.md
  docs/reference/QueryClient.md
Due: none

fix(solid-query examples): guard prefetchQuery with isServer in solid-start-streaming
  examples/solid/solid-start-streaming/src/routes/prefetch.tsx
Due: none

test(*): add adapter-level type coverage for optional undefinable mutate variables
  packages/angular-query-experimental/src/__tests__/inject-mutation.test-d.ts
  packages/preact-query/src/__tests__/useMutation.test-d.tsx
  packages/react-query/src/__tests__/useMutation.test-d.tsx
  packages/solid-query/src/__tests__/useMutation.test-d.tsx
  packages/svelte-query/tests/createMutation/createMutation.test-d.ts
  packages/vue-query/src/__tests__/useMutation.test-d.tsx
Due: @tanstack/react-query, @tanstack/solid-query, @tanstack/svelte-query, @tanstack/vue-query

test(*): add adapter-level type coverage for optional undefinable mutate variables (#11257)
  packages/angular-query-experimental/src/__tests__/inject-mutation.test-d.ts
  packages/preact-query/src/__tests__/useMutation.test-d.tsx
  packages/react-query/src/__tests__/useMutation.test-d.tsx
  packages/solid-query/src/__tests__/useMutation.test-d.tsx
  packages/svelte-query/tests/createMutation/createMutation.test-d.ts
  packages/vue-query/src/__tests__/useMutation.test-d.tsx
Due: @tanstack/react-query, @tanstack/solid-query, @tanstack/svelte-query, @tanstack/vue-query

test(query-core): align mutation test filenames with 'mutation.ts' by renaming and merging duplicate '.test-d' files
  packages/query-core/src/__tests__/mutation.test-d.tsx
  packages/query-core/src/__tests__/mutation.test.tsx
  packages/query-core/src/__tests__/mutations.test-d.tsx
Due: @tanstack/query-core

test(query-core): align mutation test filenames with 'mutation.ts' by renaming and merging duplicate '.test-d' files (#11258)
  packages/query-core/src/__tests__/mutation.test-d.tsx
  packages/query-core/src/__tests__/mutation.test.tsx
  packages/query-core/src/__tests__/mutations.test-d.tsx
Due: @tanstack/query-core

fix(preact-query): do not go into optimistic fetching state when not subscribed
  .changeset/tall-moons-repeat.md
  packages/preact-query/src/__tests__/useQueries.test.tsx
  packages/preact-query/src/__tests__/useQuery.test.tsx
  packages/preact-query/src/useBaseQuery.ts
  packages/preact-query/src/useQueries.ts
Due: none

fix(query-core): accept partial dehydrated state
  .changeset/soft-rivers-hydrate.md
  packages/query-core/src/__tests__/hydration.test.tsx
  packages/query-core/src/hydration.ts
Due: @tanstack/query-core

fix(query-core): accept partial dehydrated state (#11260)
  .changeset/soft-rivers-hydrate.md
  packages/query-core/src/__tests__/hydration.test.tsx
  packages/query-core/src/hydration.ts
Due: @tanstack/query-core

chore: update knip
  knip.json
  package.json
  packages/lit-query/src/createQueriesController.ts
  packages/preact-query/src/__tests__/ErrorBoundary/types.ts
  pnpm-lock.yaml
Due: none

ref: move cli options to config options
  knip.json
  package.json
Due: none

fix package lock somehow
  package.json
  pnpm-lock.yaml
Due: none

export types
  packages/query-core/src/index.ts
  packages/query-core/src/mutationCache.ts
  packages/query-core/src/queryCache.ts
Due: @tanstack/query-core

changeset
  .changeset/clean-caches-export.md
Due: none

pnpm dedupe
  pnpm-lock.yaml
Due: none

chore: update knip (#11262)
  knip.json
  package.json
  packages/lit-query/src/createQueriesController.ts
  packages/preact-query/src/__tests__/ErrorBoundary/types.ts
  pnpm-lock.yaml
Due: none
