Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 1%

comment:
  layout: 'header, reach, diff, flags, components'

component_management:
  individual_components:
    - component_id: angular-query-devtools-experimental
      name: '@tanstack/angular-query-devtools-experimental'
      paths:
        - packages/angular-query-devtools-experimental/**
    - component_id: angular-query-experimental
      name: '@tanstack/angular-query-experimental'
      paths:
        - packages/angular-query-experimental/**
    - component_id: eslint-plugin-query
      name: '@tanstack/eslint-plugin-query'
      paths:
        - packages/eslint-plugin-query/**
    - component_id: query-async-storage-persister
      name: '@tanstack/query-async-storage-persister'
      paths:
        - packages/query-async-storage-persister/**
    - component_id: query-broadcast-client-experimental
      name: '@tanstack/query-broadcast-client-experimental'
      paths:
        - packages/query-broadcast-client-experimental/**
    - component_id: query-codemods
      name: '@tanstack/query-codemods'
      paths:
        - packages/codemods/**
    - component_id: query-core
      name: '@tanstack/query-core'
      paths:
        - packages/query-core/**
    - component_id: query-devtools
      name: '@tanstack/query-devtools'
      paths:
        - packages/query-devtools/**
    - component_id: query-persist-client-core
      name: '@tanstack/query-persist-client-core'
      paths:
        - packages/query-persist-client-core/**
    - component_id: query-sync-storage-persister
      name: '@tanstack/query-sync-storage-persister'
      paths:
        - packages/query-sync-storage-persister/**
    - component_id: react-query
      name: '@tanstack/react-query'
      paths:
        - packages/react-query/**
    - component_id: react-query-devtools
      name: '@tanstack/react-query-devtools'
      paths:
        - packages/react-query-devtools/**
    - component_id: react-query-next-experimental
      name: '@tanstack/react-query-next-experimental'
      paths:
        - packages/react-query-next-experimental/**
    - component_id: react-query-persist-client
      name: '@tanstack/react-query-persist-client'
      paths:
        - packages/react-query-persist-client/**
    - component_id: solid-query
      name: '@tanstack/solid-query'
      paths:
        - packages/solid-query/**
    - component_id: solid-query-devtools
      name: '@tanstack/solid-query-devtools'
      paths:
        - packages/solid-query-devtools/**
    - component_id: solid-query-persist-client
      name: '@tanstack/solid-query-persist-client'
      paths:
        - packages/solid-query-persist-client/**
    - component_id: svelte-query
      name: '@tanstack/svelte-query'
      paths:
        - packages/svelte-query/**
    - component_id: svelte-query-devtools
      name: '@tanstack/svelte-query-devtools'
      paths:
        - packages/svelte-query-devtools/**
    - component_id: svelte-query-persist-client
      name: '@tanstack/svelte-query-persist-client'
      paths:
        - packages/svelte-query-persist-client/**
    - component_id: vue-query
      name: '@tanstack/vue-query'
      paths:
        - packages/vue-query/**
    - component_id: vue-query-devtools
      name: '@tanstack/vue-query-devtools'
      paths:
        - packages/vue-query-devtools/**

docs(svelte): top-level relative navigation
  docs/framework/svelte/overview.md
Due: none

types(react-query): rename useSuspenseQueries, useQueries internal type name intuitively (#7216)
  packages/react-query/src/useQueries.ts
  packages/react-query/src/useSuspenseQueries.ts
Due: @tanstack/react-query

docs: correct useQuery `status` type
  docs/framework/react/reference/useQuery.md
Due: none

docs: correct useQuery `status` type (#7252)
  docs/framework/react/reference/useQuery.md
Due: none

fix: store `directions` in infinite query result structure
  packages/query-core/src/__tests__/infiniteQueryBehavior.test.tsx
  packages/query-core/src/__tests__/queryClient.test.tsx
  packages/query-core/src/infiniteQueryBehavior.ts
  packages/query-core/src/types.ts
Due: @tanstack/query-core

fix(types): make `directions` optional
  packages/query-core/src/infiniteQueryBehavior.ts
  packages/query-core/src/types.ts
Due: @tanstack/query-core

fix: don't rely on `direction` in a closure
  packages/query-core/src/infiniteQueryBehavior.ts
Due: @tanstack/query-core

test: direction param for refetches
  packages/query-core/src/__tests__/infiniteQueryBehavior.test.tsx
Due: @tanstack/query-core

chore: no idea why that fails now
  .codesandbox/ci.json
  package.json
Due: none

chore: fix test
  packages/query-core/src/__tests__/infiniteQueryBehavior.test.tsx
Due: @tanstack/query-core

chore(angular-query): update Angular Vite plugin
  packages/angular-query-experimental/package.json
  pnpm-lock.yaml
Due: @tanstack/angular-query-experimental

docs: Remove references to React.FC
  docs/framework/react/guides/suspense.md
  docs/framework/react/reference/QueryErrorResetBoundary.md
  docs/framework/react/reference/useQueryErrorResetBoundary.md
Due: none

fix(react-query): reorder query function declarations
  packages/react-query/src/infiniteQueryOptions.ts
  packages/react-query/src/queryOptions.ts
  packages/react-query/src/useInfiniteQuery.ts
  packages/react-query/src/useQuery.ts
Due: @tanstack/react-query

chore: fix tests assertions
  packages/react-query/src/__tests__/useInfiniteQuery.test.tsx
Due: @tanstack/react-query

chore: fix solid test assertions
  packages/solid-query/src/__tests__/createInfiniteQuery.test.tsx
Due: @tanstack/solid-query

chore: fix vue test assertions
  packages/vue-query/src/__tests__/useInfiniteQuery.test.ts
Due: @tanstack/vue-query

docs: Remove references to React.FC (#7259)
  docs/framework/react/guides/suspense.md
  docs/framework/react/reference/QueryErrorResetBoundary.md
  docs/framework/react/reference/useQueryErrorResetBoundary.md
Due: none

fix(react-query): reorder query function declarations (#7260)
  packages/react-query/src/infiniteQueryOptions.ts
  packages/react-query/src/queryOptions.ts
  packages/react-query/src/useInfiniteQuery.ts
  packages/react-query/src/useQuery.ts
Due: @tanstack/react-query

release: v5.29.2
  examples/react/algolia/package.json
  examples/react/auto-refetching/package.json
  examples/react/basic-graphql-request/package.json
  examples/react/basic-typescript/package.json
  examples/react/basic/package.json
  examples/react/default-query-function/package.json
  examples/react/infinite-query-with-max-pages/package.json
  examples/react/load-more-infinite-scroll/package.json
  examples/react/nextjs-suspense-streaming/package.json
  examples/react/nextjs/package.json
  examples/react/offline/package.json
  examples/react/optimistic-updates-cache/package.json
  examples/react/optimistic-updates-ui/package.json
  examples/react/pagination/package.json
  examples/react/playground/package.json
  examples/react/prefetching/package.json
  examples/react/react-native/package.json
  examples/react/react-router/package.json
  examples/react/rick-morty/package.json
  examples/react/shadow-dom/package.json
  examples/react/simple/package.json
  examples/react/star-wars/package.json
  examples/react/suspense/package.json
  packages/react-query-devtools/package.json
  packages/react-query-next-experimental/package.json
  packages/react-query-persist-client/package.json
  packages/react-query/package.json
  pnpm-lock.yaml
Due: @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client

fix(solid-query): Correct error handling after SSR error
  packages/solid-query/src/createBaseQuery.ts
Due: @tanstack/solid-query

fix(solid-query): Correct error handling after SSR error (#7266)
  packages/solid-query/src/createBaseQuery.ts
Due: @tanstack/solid-query

release: v5.29.3
  examples/solid/basic-graphql-request/package.json
  examples/solid/basic-typescript/package.json
  examples/solid/default-query-function/package.json
  examples/solid/simple/package.json
  examples/solid/solid-start-streaming/package.json
  packages/solid-query-devtools/package.json
  packages/solid-query-persist-client/package.json
  packages/solid-query/package.json
  pnpm-lock.yaml
Due: @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client

Update important-defaults.md
  docs/framework/react/guides/important-defaults.md
Due: none

chore(angular-query): update Analog.js Angular Vite plugin (#7261)
  packages/angular-query-experimental/package.json
  pnpm-lock.yaml
Due: @tanstack/angular-query-experimental

Fix more links
  docs/framework/angular/guides/caching.md
  docs/framework/angular/guides/invalidations-from-mutations.md
  docs/framework/react/guides/advanced-ssr.md
  docs/framework/react/guides/caching.md
  docs/framework/react/guides/important-defaults.md
  docs/framework/react/guides/initial-query-data.md
  docs/framework/react/guides/migrating-to-react-query-3.md
  docs/framework/react/guides/migrating-to-react-query-4.md
  docs/framework/react/guides/migrating-to-v5.md
  docs/framework/react/guides/mutations.md
  docs/framework/react/guides/network-mode.md
  docs/framework/react/guides/placeholder-query-data.md
  docs/framework/react/guides/prefetching.md
  docs/framework/react/guides/queries.md
  docs/framework/react/guides/query-keys.md
  docs/framework/react/guides/query-options.md
  docs/framework/react/guides/render-optimizations.md
  docs/framework/react/guides/ssr.md
  docs/framework/react/guides/suspense.md
  docs/framework/react/guides/testing.md
  docs/framework/react/guides/updates-from-mutation-responses.md
  docs/framework/react/installation.md
  docs/framework/react/overview.md
  docs/framework/react/plugins/createAsyncStoragePersister.md
  docs/framework/react/plugins/persistQueryClient.md
  docs/framework/react/reference/useInfiniteQuery.md
  docs/framework/react/reference/useIsFetching.md
  docs/framework/react/reference/useIsMutating.md
  docs/framework/react/reference/useMutation.md
  docs/framework/react/reference/useMutationState.md
  docs/framework/react/reference/useQuery.md
  docs/framework/react/typescript.md
  docs/framework/vue/community/lukemorales-query-key-factory.md
  docs/framework/vue/guides/ssr.md
  docs/framework/vue/overview.md
  docs/reference/InfiniteQueryObserver.md
  docs/reference/QueriesObserver.md
  docs/reference/QueryCache.md
  docs/reference/QueryClient.md
  docs/reference/QueryObserver.md
Due: none

Another one
  docs/framework/angular/guides/invalidations-from-mutations.md
Due: none

Fix one more link
  docs/framework/angular/guides/caching.md
Due: none

wip - 1
  docs/framework/react/guides/migrating-to-react-query-3.md
  docs/framework/react/guides/migrating-to-react-query-4.md
  docs/framework/react/guides/migrating-to-v5.md
  docs/framework/react/guides/mutations.md
  docs/framework/react/guides/prefetching.md
  docs/framework/react/guides/ssr.md
  docs/framework/react/guides/updates-from-mutation-responses.md
  docs/framework/react/plugins/persistQueryClient.md
  docs/framework/react/reference/useInfiniteQuery.md
  docs/framework/react/reference/useQuery.md
  docs/framework/vue/guides/ssr.md
Due: none

Update a link
  docs/framework/angular/guides/caching.md
Due: none

Fix the broken links in the Vue docs
  docs/framework/react/guides/migrating-to-v5.md
  docs/framework/vue/overview.md
Due: none

Fix the Svelte links in the docs
  docs/framework/svelte/overview.md
Due: none

Fix the broken links in the Angular docs
  docs/framework/angular/overview.md
  docs/framework/react/guides/dependent-queries.md
  docs/framework/react/guides/initial-query-data.md
  docs/framework/react/guides/mutations.md
  docs/framework/react/guides/placeholder-query-data.md
  docs/framework/react/guides/query-options.md
Due: none

Update spelling in devtools.md
  docs/framework/react/devtools.md
Due: none

feat(solid-query): Rework internals of createBaseQuery
  packages/solid-query-persist-client/src/__tests__/PersistQueryClientProvider.test.tsx
  packages/solid-query/package.json
  packages/solid-query/src/createBaseQuery.ts
  packages/solid-query/src/index.ts
  packages/solid-query/src/setBatchUpdatesFn.ts
Due: @tanstack/solid-query, @tanstack/solid-query-persist-client

Remove accidental remove of retries from vitest script
  packages/solid-query/package.json
Due: @tanstack/solid-query

Remove unwanted SSR options
  packages/solid-query/src/createBaseQuery.ts
Due: @tanstack/solid-query

Revert setState on hydration
  packages/solid-query/src/createBaseQuery.ts
Due: @tanstack/solid-query

feat(solid-query): Rework internals of createBaseQuery (#7272)
  packages/solid-query-persist-client/src/__tests__/PersistQueryClientProvider.test.tsx
  packages/solid-query/package.json
  packages/solid-query/src/createBaseQuery.ts
  packages/solid-query/src/index.ts
  packages/solid-query/src/setBatchUpdatesFn.ts
Due: @tanstack/solid-query, @tanstack/solid-query-persist-client

release: v5.30.0
  examples/angular/basic/package.json
  examples/angular/infinite-query-with-max-pages/package.json
  examples/angular/router/package.json
  examples/angular/simple/package.json
  examples/solid/basic-graphql-request/package.json
  examples/solid/basic-typescript/package.json
  examples/solid/default-query-function/package.json
  examples/solid/simple/package.json
  examples/solid/solid-start-streaming/package.json
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/package.json
  packages/solid-query-devtools/package.json
  packages/solid-query-persist-client/package.json
  packages/solid-query/package.json
  pnpm-lock.yaml
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client
