Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools, @tanstack/angular-query, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

test(preact-query-devtools/PreactQueryDevtools{,Panel}): add tests for the full prop wiring matrix (#10852)
  packages/preact-query-devtools/src/__tests__/PreactQueryDevtools.test.tsx
  packages/preact-query-devtools/src/__tests__/PreactQueryDevtoolsPanel.test.tsx
Due: none

docs(framework/{preact,solid}/devtools): add the 'Embedded Mode' section
  docs/framework/preact/devtools.md
  docs/framework/solid/devtools.md
Due: none

docs(framework/{preact,solid}/devtools): add the 'Embedded Mode' section (#10853)
  docs/framework/preact/devtools.md
  docs/framework/solid/devtools.md
Due: none

docs(framework/vue/devtools): correct 'your React app' typo to 'your Vue app' in the Embedded Mode section
  docs/framework/vue/devtools.md
Due: none

docs(framework/vue/devtools): correct 'your React app' typo to 'your Vue app' in the Embedded Mode section (#10854)
  docs/framework/vue/devtools.md
Due: none

docs(framework/vue/devtools): align the 'Embedded Mode' example with the other adapters and add the missing 'ref' import
  docs/framework/vue/devtools.md
Due: none

docs(framework/vue/devtools): align the 'Embedded Mode' example with the other adapters and add the missing 'ref' import (#10855)
  docs/framework/vue/devtools.md
Due: none

docs(framework/vue/devtools): inline the toggle and 'onClose' handler in the 'Embedded Mode' example to match the other adapters
  docs/framework/vue/devtools.md
Due: none

docs(framework/vue/devtools): inline the toggle and 'onClose' handler in the 'Embedded Mode' example to match the other adapters (#10856)
  docs/framework/vue/devtools.md
Due: none

fix(vue-query): replace deprecated isServer with environmentManager.isServer() (#10826)
  .changeset/tired-crews-pull.md
  packages/vue-query/src/vueQueryPlugin.ts
Due: @tanstack/vue-query

fix(test): reorder imports in useMutationState.test-d.tsx per import/order rule
  packages/preact-query/src/__tests__/useMutationState.test-d.tsx
Due: none

fix(react-query-next-experimental): replace deprecated 'isServer' with 'environmentManager.isServer()'
  .changeset/react-query-next-experimental-environment-manager-isserver.md
  packages/react-query-next-experimental/src/HydrationStreamProvider.tsx
  packages/react-query-next-experimental/src/ReactQueryStreamedHydration.tsx
Due: @tanstack/react-query-next-experimental

fix(examples/integrations): replace deprecated 'isServer' with 'environmentManager.isServer()' in the Next.js examples
  examples/react/nextjs-suspense-streaming/src/app/page.tsx
  integrations/react-next-15/app/providers.tsx
  integrations/react-next-16/app/providers.tsx
Due: none

refactor(examples/nextjs-suspense-streaming): drop unnecessary 'as string' cast
  examples/react/nextjs-suspense-streaming/src/app/page.tsx
Due: none

refactor(examples/nextjs-suspense-streaming): drop unnecessary 'as string' cast (#10859)
  examples/react/nextjs-suspense-streaming/src/app/page.tsx
Due: none

fix(examples/integrations): replace deprecated 'isServer' with 'environmentManager.isServer()' in the Next.js examples (#10858)
  examples/react/nextjs-suspense-streaming/src/app/page.tsx
  integrations/react-next-15/app/providers.tsx
  integrations/react-next-16/app/providers.tsx
Due: none

fix(examples): replace deprecated 'isServer' with 'environmentManager.isServer()' in remaining Next.js examples
  examples/react/nextjs-app-prefetching/app/get-query-client.ts
  examples/react/nextjs-suspense-streaming/src/app/providers.tsx
Due: none

fix(examples): replace deprecated 'isServer' with 'environmentManager.isServer()' in remaining Next.js examples (#10860)
  examples/react/nextjs-app-prefetching/app/get-query-client.ts
  examples/react/nextjs-suspense-streaming/src/app/providers.tsx
Due: none

fix(react-query-next-experimental): replace deprecated 'isServer' with 'environmentManager.isServer()' (#10857)
  .changeset/react-query-next-experimental-environment-manager-isserver.md
  packages/react-query-next-experimental/src/HydrationStreamProvider.tsx
  packages/react-query-next-experimental/src/ReactQueryStreamedHydration.tsx
Due: @tanstack/react-query-next-experimental

fix(eslint-plugin-query): detect rest destructuring on custom query hooks (#10775)
  .changeset/no-rest-destructuring-custom-hooks.md
  docs/eslint/no-rest-destructuring.md
  packages/eslint-plugin-query/src/__tests__/no-rest-destructuring.test.ts
  packages/eslint-plugin-query/src/__tests__/ts-fixture/react-query.d.ts
  packages/eslint-plugin-query/src/rules/no-rest-destructuring/no-rest-destructuring.rule.ts
  packages/eslint-plugin-query/src/rules/no-rest-destructuring/no-rest-destructuring.utils.ts
Due: @tanstack/eslint-plugin-query

refactor(svelte-query): eliminate duplicate MutationTypeFromResult definition
  packages/svelte-query/src/types.ts
  packages/svelte-query/src/useMutationState.svelte.ts
Due: @tanstack/svelte-query

fix(angular-query): align experimental compiler TypeScript resolution
  packages/angular-query-devtools/package.json
  packages/angular-query-experimental/package.json
  packages/angular-query-persist-client/package.json
  pnpm-lock.yaml
Due: @tanstack/angular-query-devtools

fix(angular-query): link angular examples to workspace packages
  examples/angular/auto-refetching/package.json
  examples/angular/basic-persister/package.json
  examples/angular/basic/package.json
  examples/angular/devtools-panel/package.json
  examples/angular/dynamic-devtools/package.json
  examples/angular/infinite-query-with-max-pages/package.json
  examples/angular/optimistic-updates/package.json
  examples/angular/pagination/package.json
  examples/angular/query-options-from-a-service/package.json
  examples/angular/router/package.json
  examples/angular/rxjs/package.json
  examples/angular/simple/package.json
  examples/angular/ssr-persist/package.json
  examples/angular/ssr/package.json
  pnpm-lock.yaml
Due: none

feat(angular-query-persist-client): support persist with TanStack Query features
  packages/angular-query-persist-client/src/__tests__/with-persist-query-client.test.ts
  packages/angular-query-persist-client/src/with-persist-query-client.ts
  packages/angular-query-persist-client/src/with-persist-query-client.types.ts
Due: none

feat(angular-query-experimental): add SSR hydration controls
  packages/angular-query-experimental/src/__tests__/inject-devtools-panel.test.ts
  packages/angular-query-experimental/src/__tests__/inject-is-fetching.test.ts
  packages/angular-query-experimental/src/__tests__/inject-is-mutating.test.ts
  packages/angular-query-experimental/src/__tests__/inject-is-restoring.test.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation-state.test.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation.test.ts
  packages/angular-query-experimental/src/__tests__/inject-queries.test.ts
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
  packages/angular-query-experimental/src/__tests__/mutation-options.test.ts
  packages/angular-query-experimental/src/__tests__/provide-query-client.test.ts
  packages/angular-query-experimental/src/__tests__/provide-tanstack-query.test.ts
  packages/angular-query-experimental/src/__tests__/test-utils.ts
  packages/angular-query-experimental/src/__tests__/with-devtools.test.ts
  packages/angular-query-experimental/src/__tests__/with-hydration.test.ts
  packages/angular-query-experimental/src/hydration-state-key.ts
  packages/angular-query-experimental/src/index.ts
  packages/angular-query-experimental/src/providers.ts
Due: none

feat(angular-query-experimental): align Angular tooling and runtime with Angular 20
  packages/angular-query-experimental/package.json
  packages/angular-query-experimental/src/__tests__/inject-infinite-query.test-d.ts
  packages/angular-query-experimental/src/__tests__/inject-infinite-query.test.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation-state.test.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation.test.ts
  packages/angular-query-experimental/src/__tests__/inject-queries.test-d.ts
  packages/angular-query-experimental/src/__tests__/inject-queries.test.ts
  packages/angular-query-experimental/src/__tests__/inject-query.test-d.ts
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
  packages/angular-query-experimental/src/__tests__/pending-tasks.test.ts
  packages/angular-query-experimental/src/__tests__/signal-proxy.test.ts
  packages/angular-query-experimental/src/__tests__/test-utils.ts
  packages/angular-query-experimental/src/create-base-query.ts
  packages/angular-query-experimental/src/index.ts
  packages/angular-query-experimental/src/inject-infinite-query.ts
  packages/angular-query-experimental/src/inject-mutation.ts
  packages/angular-query-experimental/src/inject-queries-experimental/index.ts
  packages/angular-query-experimental/src/inject-queries.ts
  packages/angular-query-experimental/src/inject-query.ts
  packages/angular-query-experimental/src/pending-tasks-compat.ts
  packages/angular-query-experimental/src/query-options.ts
  packages/angular-query-experimental/src/signal-proxy.ts
  packages/angular-query-experimental/src/types.ts
  packages/angular-query-experimental/test-setup.ts
  packages/angular-query-experimental/tsconfig.spec.json
  packages/angular-query-experimental/vite.config.ts
  packages/angular-query-experimental/vitest.config.ts
  packages/angular-query-persist-client/package.json
Due: none

chore: add changeset for Angular 20, SSR, and lazy signal initialization
  .changeset/angular-20-ssr-lazy-signals.md
Due: none

fix(angular-query): pass PR checks for knip, eslint, and ng builds
  examples/angular/devtools-panel/package.json
  integrations/angular-cli-20/package.json
  knip.json
  packages/angular-query-devtools/package.json
  packages/angular-query-devtools/src/__tests__/with-devtools.test.ts
  packages/angular-query-devtools/src/with-devtools.ts
  packages/angular-query-experimental/package.json
  packages/angular-query-experimental/src/__tests__/inject-infinite-query.test-d.ts
  packages/angular-query-experimental/src/__tests__/inject-infinite-query.test.ts
  packages/angular-query-experimental/src/__tests__/inject-is-restoring.test.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation-state.test.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation.test.ts
  packages/angular-query-experimental/src/__tests__/inject-query.test-d.ts
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
  packages/angular-query-experimental/src/__tests__/pending-tasks.test.ts
  packages/angular-query-experimental/src/__tests__/signal-proxy.test.ts
  packages/angular-query-experimental/src/__tests__/with-hydration.test.ts
  packages/angular-query-experimental/src/hydration-state-key.ts
  packages/angular-query-experimental/src/providers.ts
  packages/angular-query-experimental/vitest.config.ts
  packages/angular-query-persist-client/package.json
  packages/angular-query-persist-client/src/__tests__/with-persist-query-client.test.ts
  packages/angular-query-persist-client/src/with-persist-query-client.ts
  pnpm-lock.yaml
Due: @tanstack/angular-query-devtools

feat(angular-query-devtools): add standalone Angular devtools package
  packages/angular-query-devtools/package.json
  packages/angular-query-devtools/src/__tests__/inject-devtools-panel.test.ts
  packages/angular-query-devtools/src/__tests__/test-utils.ts
  packages/angular-query-devtools/src/__tests__/with-devtools.test.ts
  packages/angular-query-devtools/src/devtools-panel/index.ts
  packages/angular-query-devtools/src/devtools-panel/inject-devtools-panel.ts
  packages/angular-query-devtools/src/devtools-panel/production/index.ts
  packages/angular-query-devtools/src/devtools-panel/stub.ts
  packages/angular-query-devtools/src/devtools-panel/types.ts
  packages/angular-query-devtools/src/index.ts
  packages/angular-query-devtools/src/production/index.ts
  packages/angular-query-devtools/src/stub.ts
  packages/angular-query-devtools/src/types.ts
  packages/angular-query-devtools/src/with-devtools.ts
  packages/angular-query-devtools/test-setup.ts
  packages/angular-query-devtools/tsconfig.json
  packages/angular-query-devtools/tsconfig.prod.json
  packages/angular-query-devtools/tsconfig.spec.json
  packages/angular-query-devtools/vite.config.ts
  packages/angular-query-devtools/vitest.config.ts
  pnpm-lock.yaml
Due: @tanstack/angular-query-devtools

test(query-core/utils): add test for already-aborted signal in 'addConsumeAwareSignal'
  packages/query-core/src/__tests__/utils.test.tsx
Due: @tanstack/query-core

test(query-core/utils): add test for already-aborted signal in 'addConsumeAwareSignal' (#10862)
  packages/query-core/src/__tests__/utils.test.tsx
Due: @tanstack/query-core

test(query-core/utils): add test for exposing the signal on the query context in 'addConsumeAwareSignal'
  packages/query-core/src/__tests__/utils.test.tsx
Due: @tanstack/query-core

test(query-core/utils): add test for exposing the signal on the query context in 'addConsumeAwareSignal' (#10863)
  packages/query-core/src/__tests__/utils.test.tsx
Due: @tanstack/query-core

test(query-core/utils): add tests for consumed signal cancellation and single consumption in 'addConsumeAwareSignal'
  packages/query-core/src/__tests__/utils.test.tsx
Due: @tanstack/query-core

test(query-core/utils): add test for recursion depth limit in 'replaceEqualDeep'
  packages/query-core/src/__tests__/utils.test.tsx
Due: @tanstack/query-core

test(query-core/utils): add test for recursion depth limit in 'replaceEqualDeep' (#10865)
  packages/query-core/src/__tests__/utils.test.tsx
Due: @tanstack/query-core

test(query-core/utils): add tests for consumed signal cancellation and single consumption in 'addConsumeAwareSignal' (#10864)
  packages/query-core/src/__tests__/utils.test.tsx
Due: @tanstack/query-core

docs(framework/react/guides): replace deprecated 'isServer' with 'environmentManager.isServer()'
  docs/framework/react/guides/advanced-ssr.md
  docs/framework/react/guides/suspense.md
Due: none

docs(framework/react/guides): replace deprecated 'isServer' with 'environmentManager.isServer()' (#10866)
  docs/framework/react/guides/advanced-ssr.md
  docs/framework/react/guides/suspense.md
Due: none

Path conditions:
  @tanstack/angular-query-devtools: any of: packages/angular-query-devtools/**
  @tanstack/angular-query: any of: packages/angular-query/**
  @tanstack/eslint-plugin-query: any of: packages/eslint-plugin-query/**
  @tanstack/query-async-storage-persister: any of: packages/query-async-storage-persister/**
  @tanstack/query-broadcast-client-experimental: any of: packages/query-broadcast-client-experimental/**
  @tanstack/query-codemods: any of: packages/query-codemods/**
  @tanstack/query-core: any of: packages/query-core/**
  @tanstack/query-devtools: any of: packages/query-devtools/**
  @tanstack/query-persist-client-core: any of: packages/query-persist-client-core/**
  @tanstack/query-sync-storage-persister: any of: packages/query-sync-storage-persister/**
  @tanstack/query-test-utils: any of: packages/query-test-utils/**
  @tanstack/react-query: any of: packages/react-query/**
  @tanstack/react-query-devtools: any of: packages/react-query-devtools/**
  @tanstack/react-query-next-experimental: any of: packages/react-query-next-experimental/**
  @tanstack/react-query-persist-client: any of: packages/react-query-persist-client/**
  @tanstack/solid-query: any of: packages/solid-query/**
  @tanstack/solid-query-devtools: any of: packages/solid-query-devtools/**
  @tanstack/solid-query-persist-client: any of: packages/solid-query-persist-client/**
  @tanstack/svelte-query: any of: packages/svelte-query/**
  @tanstack/svelte-query-devtools: any of: packages/svelte-query-devtools/**
  @tanstack/svelte-query-persist-client: any of: packages/svelte-query-persist-client/**
  @tanstack/vue-query: any of: packages/vue-query/**
  @tanstack/vue-query-devtools: any of: packages/vue-query-devtools/**
