Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools, @tanstack/angular-query, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

test(preact-query): replace deprecated 'toBeCalledTimes' with 'toHaveBeenCalledTimes'
  packages/preact-query/src/__tests__/useInfiniteQuery.test.tsx
  packages/preact-query/src/__tests__/useQuery.test.tsx
Due: none

test(query-async-storage-persister): replace deprecated 'toBeCalledTimes' with 'toHaveBeenCalledTimes'
  packages/query-async-storage-persister/src/__tests__/asyncThrottle.test.ts
Due: @tanstack/query-async-storage-persister

test(angular-query-experimental): replace deprecated 'toBeCalledWith' with 'toHaveBeenCalledWith'
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
Due: none

test(lit-query): replace deprecated 'toThrowError' with 'toThrow'
  packages/lit-query/src/tests/context-provider.test.ts
  packages/lit-query/src/tests/mutation-controller.test.ts
Due: none

test(react-query): replace deprecated 'toBeCalledTimes' with 'toHaveBeenCalledTimes' (#10937)
  packages/react-query/src/__tests__/useInfiniteQuery.test.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/react-query

test(solid-query): replace deprecated 'toBeCalledTimes' with 'toHaveBeenCalledTimes' (#10938)
  packages/solid-query/src/__tests__/useInfiniteQuery.test.tsx
  packages/solid-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/solid-query

test(preact-query): replace deprecated 'toBeCalledTimes' with 'toHaveBeenCalledTimes' (#10939)
  packages/preact-query/src/__tests__/useInfiniteQuery.test.tsx
  packages/preact-query/src/__tests__/useQuery.test.tsx
Due: none

test(query-async-storage-persister): replace deprecated 'toBeCalledTimes' with 'toHaveBeenCalledTimes' (#10940)
  packages/query-async-storage-persister/src/__tests__/asyncThrottle.test.ts
Due: @tanstack/query-async-storage-persister

test(angular-query-experimental): replace deprecated 'toBeCalledWith' with 'toHaveBeenCalledWith' (#10941)
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
Due: none

test(lit-query): replace deprecated 'toThrowError' with 'toThrow' (#10942)
  packages/lit-query/src/tests/context-provider.test.ts
  packages/lit-query/src/tests/mutation-controller.test.ts
Due: none

docs(react-query): recommend against using server actions in queryFn (#10927)
  docs/framework/react/guides/advanced-ssr.md
Due: none

fix(lit-query): migrate to standard tsup build so 'build' output is cached by nx and 'test:build' passes
  .changeset/lit-query-standard-tsup-build.md
  .gitignore
  packages/lit-query/eslint.config.js
  packages/lit-query/package.json
  packages/lit-query/root.tsup.config.js
  packages/lit-query/scripts/check-cjs-types-smoke.mjs
  packages/lit-query/scripts/l3-stress.mjs
  packages/lit-query/scripts/measure-bundle.mjs
  packages/lit-query/scripts/write-cjs-package.mjs
  packages/lit-query/tsconfig.build.cjs.json
  packages/lit-query/tsconfig.build.json
  packages/lit-query/tsconfig.json
  packages/lit-query/tsconfig.prod.json
  packages/lit-query/tsup.config.ts
Due: none

test(query-core/hydration): replace 'vi.waitFor' with 'vi.advanceTimersByTimeAsync' and use 'queryKey' helper for infinite query tests
  packages/query-core/src/__tests__/hydration.test.tsx
Due: @tanstack/query-core

chore(lit-query): align 'package.json' and rename 'vitest.config.ts' to 'vite.config.ts' to match react-query, drop obsolete knip 'src/tests' ignore
  knip.json
  packages/lit-query/package.json
  packages/lit-query/vite.config.ts
Due: none

chore(knip): update '$schema' to 'knip@6' to match the installed major version
  knip.json
Due: none

fix(scripts): sort 'readFile' before 'readdir' in 'generate-docs' to satisfy 'sort-imports'
  scripts/generate-docs.ts
Due: none

chore(knip): update '$schema' to 'knip@6' to match the installed major version (#10945)
  knip.json
Due: none

fix(scripts): sort 'readFile' before 'readdir' in 'generate-docs' to satisfy 'sort-imports' (#10946)
  scripts/generate-docs.ts
Due: none

test({react,preact}-query/useMutation): split 'should pass meta to mutation' into separate success and error tests
  packages/preact-query/src/__tests__/useMutation.test.tsx
  packages/react-query/src/__tests__/useMutation.test.tsx
Due: @tanstack/react-query

test({react,preact}-query/useMutation): split 'should handle conditional logic based on mutate success or failure' into separate success and error tests
  packages/preact-query/src/__tests__/useMutation.test.tsx
  packages/react-query/src/__tests__/useMutation.test.tsx
Due: @tanstack/react-query

test({react,preact}-query/useMutation): split 'should pass meta to mutation' into separate success and error tests (#10947)
  packages/preact-query/src/__tests__/useMutation.test.tsx
  packages/react-query/src/__tests__/useMutation.test.tsx
Due: @tanstack/react-query

test({react,preact}-query/useMutation): split 'should handle conditional logic based on mutate success or failure' into separate success and error tests (#10948)
  packages/preact-query/src/__tests__/useMutation.test.tsx
  packages/react-query/src/__tests__/useMutation.test.tsx
Due: @tanstack/react-query

test(solid-query/useMutation): split 'should pass meta to mutation' into separate success and error tests
  packages/solid-query/src/__tests__/useMutation.test.tsx
Due: @tanstack/solid-query

test(solid-query/useMutation): split 'should pass meta to mutation' into separate success and error tests (#10949)
  packages/solid-query/src/__tests__/useMutation.test.tsx
Due: @tanstack/solid-query

test(solid-query): add 'renderWithClient' helper and replace inline 'QueryClientProvider' wrapping in tests
  packages/solid-query/src/__tests__/mutationOptions.test.tsx
  packages/solid-query/src/__tests__/suspense.test.tsx
  packages/solid-query/src/__tests__/transition.test.tsx
  packages/solid-query/src/__tests__/useInfiniteQuery.test.tsx
  packages/solid-query/src/__tests__/useIsFetching.test.tsx
  packages/solid-query/src/__tests__/useIsMutating.test.tsx
  packages/solid-query/src/__tests__/useMutation.test.tsx
  packages/solid-query/src/__tests__/useMutationState.test.tsx
  packages/solid-query/src/__tests__/useQueries.test.tsx
  packages/solid-query/src/__tests__/useQuery.test.tsx
  packages/solid-query/src/__tests__/utils.tsx
Due: @tanstack/solid-query

test(solid-query): add 'renderWithClient' helper and replace inline 'QueryClientProvider' wrapping in tests (#10950)
  packages/solid-query/src/__tests__/mutationOptions.test.tsx
  packages/solid-query/src/__tests__/suspense.test.tsx
  packages/solid-query/src/__tests__/transition.test.tsx
  packages/solid-query/src/__tests__/useInfiniteQuery.test.tsx
  packages/solid-query/src/__tests__/useIsFetching.test.tsx
  packages/solid-query/src/__tests__/useIsMutating.test.tsx
  packages/solid-query/src/__tests__/useMutation.test.tsx
  packages/solid-query/src/__tests__/useMutationState.test.tsx
  packages/solid-query/src/__tests__/useQueries.test.tsx
  packages/solid-query/src/__tests__/useQuery.test.tsx
  packages/solid-query/src/__tests__/utils.tsx
Due: @tanstack/solid-query

test(solid-query/useQueries): add test for not fetching during the restoring period when 'isRestoring' is true
  packages/solid-query/src/__tests__/useQueries.test.tsx
Due: @tanstack/solid-query

test(solid-query/useQueries): add test for not fetching during the restoring period when 'isRestoring' is true (#10951)
  packages/solid-query/src/__tests__/useQueries.test.tsx
Due: @tanstack/solid-query

test(solid-query/useQueries): add test for using a provided custom 'queryClient'
  packages/solid-query/src/__tests__/useQueries.test.tsx
Due: @tanstack/solid-query

test(solid-query/useQueries): add test for using a provided custom 'queryClient' (#10952)
  packages/solid-query/src/__tests__/useQueries.test.tsx
Due: @tanstack/solid-query

chore: upgrade to solid v2 beta 14
  examples/solid/astro/package.json
  examples/solid/basic-graphql-request/package.json
  examples/solid/basic/package.json
  examples/solid/default-query-function/package.json
  examples/solid/offline/package.json
  examples/solid/simple/package.json
  examples/solid/solid-start-streaming/package.json
  integrations/solid-vite/package.json
  packages/solid-query-devtools/package.json
  packages/solid-query-persist-client/package.json
  packages/solid-query/package.json
  packages/solid-query/src/__tests__/useInfiniteQuery.test.tsx
  packages/solid-query/src/__tests__/useQuery.test.tsx
  pnpm-lock.yaml
Due: @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client

chore: add npm bugs metadata to all published packages
  packages/angular-query-experimental/package.json
  packages/eslint-plugin-query/package.json
  packages/lit-query/package.json
  packages/preact-query-devtools/package.json
  packages/preact-query-persist-client/package.json
  packages/preact-query/package.json
  packages/query-async-storage-persister/package.json
  packages/query-broadcast-client-experimental/package.json
  packages/query-core/package.json
  packages/query-devtools/package.json
  packages/query-persist-client-core/package.json
  packages/query-sync-storage-persister/package.json
  packages/react-query-devtools/package.json
  packages/react-query-next-experimental/package.json
  packages/react-query-persist-client/package.json
  packages/react-query/package.json
  packages/solid-query-devtools/package.json
  packages/solid-query-persist-client/package.json
  packages/solid-query/package.json
  packages/svelte-query-devtools/package.json
  packages/svelte-query-persist-client/package.json
  packages/svelte-query/package.json
  packages/vue-query-devtools/package.json
  packages/vue-query/package.json
Due: @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

docs: add missing bugs metadata
  packages/query-core/package.json
Due: @tanstack/query-core

docs: add bugs metadata for @tanstack/query-core
  packages/query-core/package.json
Due: @tanstack/query-core

fix(solid-query): render resolved SSR value for deferred queries
  packages/solid-query/src/useBaseQuery.ts
Due: @tanstack/solid-query

fix(solid-query): make useMutation subscriber escape owned scope and fix Solid 2.0 test usages
  packages/solid-query/src/__tests__/useInfiniteQuery.test.tsx
  packages/solid-query/src/__tests__/useMutation.test.tsx
  packages/solid-query/src/__tests__/useQueries.test.tsx
  packages/solid-query/src/__tests__/useQuery.test.tsx
  packages/solid-query/src/useMutation.ts
Due: @tanstack/solid-query

chore(knip): remove redundant '@solidjs/web' from ignoreDependencies for solid-query packages
  knip.json
Due: none

fix(solid-query-devtools): use onSettled for mount/unmount and flush() in tests
  packages/solid-query-devtools/src/__tests__/devtools.test.tsx
  packages/solid-query-devtools/src/__tests__/devtoolsPanel.test.tsx
  packages/solid-query-devtools/src/devtools.tsx
  packages/solid-query-devtools/src/devtoolsPanel.tsx
Due: @tanstack/solid-query-devtools

test({react,preact}-query/useQueries): move type-only tests to 'useQueries.test-d.tsx'
  packages/preact-query/src/__tests__/useQueries.test-d.tsx
  packages/preact-query/src/__tests__/useQueries.test.tsx
  packages/react-query/src/__tests__/useQueries.test-d.tsx
  packages/react-query/src/__tests__/useQueries.test.tsx
Due: @tanstack/react-query

test({react,preact}-query/useQueries): move type-only tests to 'useQueries.test-d.tsx' (#10958)
  packages/preact-query/src/__tests__/useQueries.test-d.tsx
  packages/preact-query/src/__tests__/useQueries.test.tsx
  packages/react-query/src/__tests__/useQueries.test-d.tsx
  packages/react-query/src/__tests__/useQueries.test.tsx
Due: @tanstack/react-query

Path conditions:
  @tanstack/angular-query-devtools: any of: packages/angular-query-devtools/**
  @tanstack/angular-query: any of: packages/angular-query/**
  @tanstack/eslint-plugin-query: any of: packages/eslint-plugin-query/**
  @tanstack/query-async-storage-persister: any of: packages/query-async-storage-persister/**
  @tanstack/query-broadcast-client-experimental: any of: packages/query-broadcast-client-experimental/**
  @tanstack/query-codemods: any of: packages/query-codemods/**
  @tanstack/query-core: any of: packages/query-core/**
  @tanstack/query-devtools: any of: packages/query-devtools/**
  @tanstack/query-persist-client-core: any of: packages/query-persist-client-core/**
  @tanstack/query-sync-storage-persister: any of: packages/query-sync-storage-persister/**
  @tanstack/query-test-utils: any of: packages/query-test-utils/**
  @tanstack/react-query: any of: packages/react-query/**
  @tanstack/react-query-devtools: any of: packages/react-query-devtools/**
  @tanstack/react-query-next-experimental: any of: packages/react-query-next-experimental/**
  @tanstack/react-query-persist-client: any of: packages/react-query-persist-client/**
  @tanstack/solid-query: any of: packages/solid-query/**
  @tanstack/solid-query-devtools: any of: packages/solid-query-devtools/**
  @tanstack/solid-query-persist-client: any of: packages/solid-query-persist-client/**
  @tanstack/svelte-query: any of: packages/svelte-query/**
  @tanstack/svelte-query-devtools: any of: packages/svelte-query-devtools/**
  @tanstack/svelte-query-persist-client: any of: packages/svelte-query-persist-client/**
  @tanstack/vue-query: any of: packages/vue-query/**
  @tanstack/vue-query-devtools: any of: packages/vue-query-devtools/**
