Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools, @tanstack/angular-query, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

test(query-devtools/Devtools): use 'vi.useFakeTimers' and 'vi.advanceTimersByTimeAsync' for microtask flush
  packages/query-devtools/src/__tests__/Devtools.test.tsx
Due: @tanstack/query-devtools

test(query-devtools/Devtools): assert tooltip visibility on hover/focus instead of badge presence
  packages/query-devtools/src/__tests__/Devtools.test.tsx
Due: @tanstack/query-devtools

test(query-devtools/Devtools): add tests for query details panel and query actions
  packages/query-devtools/src/__tests__/Devtools.test.tsx
Due: @tanstack/query-devtools

test(query-devtools/Devtools): re-query row before second click and assert exact 'pending' status after 'Restore Error'
  packages/query-devtools/src/__tests__/Devtools.test.tsx
Due: @tanstack/query-devtools

test(query-devtools/Devtools): add tests for mutation details, sort order, and filter
  packages/query-devtools/src/__tests__/Devtools.test.tsx
Due: @tanstack/query-devtools

test(query-devtools/Devtools): assert toggled value of 'mutationSortOrder' and exclusion in mutation filter
  packages/query-devtools/src/__tests__/Devtools.test.tsx
Due: @tanstack/query-devtools

test(query-devtools/Devtools): add tests for "Bulk Edit Data" mode switch, save, and invalid JSON
  packages/query-devtools/src/__tests__/Devtools.test.tsx
Due: @tanstack/query-devtools

test(query-devtools/Devtools): add tests for 'errorTypes' prop and error trigger via select
  packages/query-devtools/src/__tests__/Devtools.test.tsx
Due: @tanstack/query-devtools

test(query-devtools/Devtools): add tests for sort dropdown, hide disabled queries, and sort order toggle
  packages/query-devtools/src/__tests__/Devtools.test.tsx
Due: @tanstack/query-devtools

test(query-devtools/Devtools): assert exact 'sortOrder' values ('1' and '-1') across consecutive toggles
  packages/query-devtools/src/__tests__/Devtools.test.tsx
Due: @tanstack/query-devtools

test(query-devtools/Devtools): add tests for settings menu
  packages/query-devtools/src/__tests__/Devtools.test.tsx
Due: @tanstack/query-devtools

test(query-devtools/Devtools): fail fast with 'expect' instead of conditional guards on selector lookups
  packages/query-devtools/src/__tests__/Devtools.test.tsx
Due: @tanstack/query-devtools

test(query-devtools/Devtools): coerce 'el.textContent' to string for 'TS18047' under strict 'vue-tsc' build
  packages/query-devtools/src/__tests__/Devtools.test.tsx
Due: @tanstack/query-devtools

test(query-devtools/Devtools): remove redundant 'should render the settings button' covered by other settings menu tests
  packages/query-devtools/src/__tests__/Devtools.test.tsx
Due: @tanstack/query-devtools

feat(query-core): add simplified query methods
  .changeset/true-cameras-wash.md
  packages/query-core/src/__tests__/queryClient.test-d.tsx
  packages/query-core/src/__tests__/queryClient.test.tsx
  packages/query-core/src/queryClient.ts
  packages/query-core/src/types.ts
Due: @tanstack/query-core

docs(vue-query): docs for new impertive methods for Vue
  docs/framework/vue/guides/prefetching.md
  docs/framework/vue/guides/ssr.md
Due: none

tests(svelte-query): svelte queryOptions tests for new query methods
  packages/svelte-query/tests/infiniteQueryOptions.test-d.ts
  packages/svelte-query/tests/queryOptions.test-d.ts
Due: @tanstack/svelte-query

feat(vue-query): add new methods to vue-query
  .changeset/cold-islands-move.md
  packages/vue-query/src/__tests__/infiniteQueryOptions.test-d.ts
  packages/vue-query/src/__tests__/queryClient.test-d.ts
  packages/vue-query/src/__tests__/queryClient.test.ts
  packages/vue-query/src/__tests__/queryOptions.test-d.ts
  packages/vue-query/src/queryClient.ts
  packages/vue-query/src/types.ts
Due: @tanstack/vue-query

docs: add docs for simplfied impertive query methods
  docs/eslint/stable-query-client.md
  docs/framework/angular/guides/paginated-queries.md
  docs/framework/angular/guides/query-options.md
  docs/framework/angular/typescript.md
  docs/framework/react/guides/advanced-ssr.md
  docs/framework/react/guides/initial-query-data.md
  docs/framework/react/guides/migrating-to-v5.md
  docs/framework/react/guides/prefetching.md
  docs/framework/react/guides/query-options.md
  docs/framework/react/guides/ssr.md
  docs/framework/react/reference/infiniteQueryOptions.md
  docs/framework/react/reference/queryOptions.md
  docs/framework/react/typescript.md
  docs/framework/solid/guides/prefetching.md
  docs/framework/solid/guides/query-options.md
  docs/framework/solid/typescript.md
  docs/framework/svelte/ssr.md
  docs/reference/QueryClient.md
Due: none

feat(preact-query): use new methods for usePrefetchQuery plus tests
  .changeset/cute-cloths-switch.md
  packages/preact-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/preact-query/src/__tests__/queryOptions.test-d.tsx
  packages/preact-query/src/__tests__/useInfiniteQuery.test-d.tsx
  packages/preact-query/src/__tests__/usePrefetchInfiniteQuery.test-d.tsx
  packages/preact-query/src/__tests__/usePrefetchQuery.test-d.tsx
  packages/preact-query/src/types.ts
  packages/preact-query/src/usePrefetchInfiniteQuery.tsx
  packages/preact-query/src/usePrefetchQuery.tsx
Due: none

tests(angular-query-experimental): query method tests for angular query options
  packages/angular-query-experimental/src/__tests__/infinite-query-options.test-d.ts
  packages/angular-query-experimental/src/__tests__/query-options.test-d.ts
Due: none

tests(solid-query): solid queryOptions tests for new methods
  packages/solid-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/solid-query/src/__tests__/queryOptions.test-d.tsx
Due: @tanstack/solid-query

docs(preact-query): updated docs for usePrefetchQuery
  docs/framework/preact/reference/functions/usePrefetchQuery.md
  docs/framework/preact/reference/index.md
  docs/framework/preact/reference/interfaces/UsePrefetchQueryOptions.md
Due: none

docs(react-query): new docs for usePrefetchQuery
  docs/framework/react/reference/usePrefetchInfiniteQuery.md
  docs/framework/react/reference/usePrefetchQuery.md
Due: none

feat(react-query): update usePrefetchQuery to use new imperitive methods plus tests
  .changeset/warm-candies-like.md
  packages/react-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/react-query/src/__tests__/queryOptions.test-d.tsx
  packages/react-query/src/__tests__/useInfiniteQuery.test-d.tsx
  packages/react-query/src/__tests__/usePrefetchInfiniteQuery.test-d.tsx
  packages/react-query/src/__tests__/usePrefetchQuery.test-d.tsx
  packages/react-query/src/__tests__/useQuery.promise.test.tsx
  packages/react-query/src/types.ts
  packages/react-query/src/usePrefetchInfiniteQuery.tsx
  packages/react-query/src/usePrefetchQuery.tsx
Due: @tanstack/react-query

test(query-devtools/Devtools): add tests for resize handle
  packages/query-devtools/src/__tests__/Devtools.test.tsx
Due: @tanstack/query-devtools

test(query-devtools/Devtools): assert 'panel' is 'HTMLElement' instead of 'not.toBeNull' for stronger 'getBoundingClientRect' guarantee
  packages/query-devtools/src/__tests__/Devtools.test.tsx
Due: @tanstack/query-devtools

test(query-devtools/Devtools): assert non-null before parsing 'localStorage' value to prevent 'Number(null) === 0' false positive in decrease assertions
  packages/query-devtools/src/__tests__/Devtools.test.tsx
Due: @tanstack/query-devtools

test(query-devtools/Devtools): add tests for online toggle
  packages/query-devtools/src/__tests__/Devtools.test.tsx
Due: @tanstack/query-devtools

test(query-devtools/Devtools): remove redundant 'should set "onlineManager" offline' covered by label swap test
  packages/query-devtools/src/__tests__/Devtools.test.tsx
Due: @tanstack/query-devtools

test(query-devtools/Devtools): add test for hiding the panel when the 'TANSTACK' logo is clicked
  packages/query-devtools/src/__tests__/Devtools.test.tsx
Due: @tanstack/query-devtools

test(vue-query): strengthen #8199 regression assertion with explicit TData
  packages/vue-query/src/__tests__/useQuery.test-d.ts
Due: @tanstack/vue-query

fix(vue-query): preserve TQueryKey inference with generic params (#8199)
  .changeset/vue-query-generic-querykey-inference.md
  packages/vue-query/src/__tests__/useQuery.test-d.ts
  packages/vue-query/src/useQuery.ts
Due: @tanstack/vue-query

fix(solid-query): don't trigger Suspense when data is already cached
  .changeset/solid-query-suspense-ensure-data.md
  packages/solid-query/src/__tests__/suspense.test.tsx
  packages/solid-query/src/useBaseQuery.ts
Due: @tanstack/solid-query

test(solid-query): assert queryFn never invoked when data preloaded
  packages/solid-query/src/__tests__/suspense.test.tsx
Due: @tanstack/solid-query

fix(query-core): use built-in NoInfer to support generic indexed-access types
  .changeset/query-core-noinfer-builtin.md
  packages/query-core/src/noInfer.ts
  packages/query-core/src/types.ts
  packages/react-query/src/__tests__/useQuery.test-d.tsx
  packages/vue-query/src/queryClient.ts
Due: @tanstack/query-core, @tanstack/react-query, @tanstack/vue-query

refactor(query-core): drop NoInfer re-export, use built-in everywhere
  .changeset/query-core-noinfer-builtin.md
  packages/preact-query/src/useQuery.ts
  packages/query-core/src/noInfer.ts
  packages/query-core/src/queryClient.ts
  packages/query-core/src/types.ts
  packages/react-query/src/useQuery.ts
  packages/vue-query/src/queryClient.ts
Due: @tanstack/query-core, @tanstack/react-query, @tanstack/vue-query

test(react-query): move 'generic indexed access TData' describe out of 'initialData'
  packages/react-query/src/__tests__/useQuery.test-d.tsx
Due: @tanstack/react-query

test(react-query): document implicit regression guard for generic indexed-access NoInfer
  packages/react-query/src/__tests__/useQuery.test-d.tsx
Due: @tanstack/react-query

fix(solid-query): skip reconcile when data reference is unchanged
  .changeset/solid-query-reconcile-dedup.md
  packages/solid-query/src/__tests__/useQuery.test.tsx
  packages/solid-query/src/useBaseQuery.ts
Due: @tanstack/solid-query

Path conditions:
  @tanstack/angular-query-devtools: any of: packages/angular-query-devtools/**
  @tanstack/angular-query: any of: packages/angular-query/**
  @tanstack/eslint-plugin-query: any of: packages/eslint-plugin-query/**
  @tanstack/query-async-storage-persister: any of: packages/query-async-storage-persister/**
  @tanstack/query-broadcast-client-experimental: any of: packages/query-broadcast-client-experimental/**
  @tanstack/query-codemods: any of: packages/query-codemods/**
  @tanstack/query-core: any of: packages/query-core/**
  @tanstack/query-devtools: any of: packages/query-devtools/**
  @tanstack/query-persist-client-core: any of: packages/query-persist-client-core/**
  @tanstack/query-sync-storage-persister: any of: packages/query-sync-storage-persister/**
  @tanstack/query-test-utils: any of: packages/query-test-utils/**
  @tanstack/react-query: any of: packages/react-query/**
  @tanstack/react-query-devtools: any of: packages/react-query-devtools/**
  @tanstack/react-query-next-experimental: any of: packages/react-query-next-experimental/**
  @tanstack/react-query-persist-client: any of: packages/react-query-persist-client/**
  @tanstack/solid-query: any of: packages/solid-query/**
  @tanstack/solid-query-devtools: any of: packages/solid-query-devtools/**
  @tanstack/solid-query-persist-client: any of: packages/solid-query-persist-client/**
  @tanstack/svelte-query: any of: packages/svelte-query/**
  @tanstack/svelte-query-devtools: any of: packages/svelte-query-devtools/**
  @tanstack/svelte-query-persist-client: any of: packages/svelte-query-persist-client/**
  @tanstack/vue-query: any of: packages/vue-query/**
  @tanstack/vue-query-devtools: any of: packages/vue-query-devtools/**
