Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 1%

comment:
  layout: 'header, reach, diff, flags, components'

component_management:
  individual_components:
    - component_id: angular-query-devtools-experimental
      name: '@tanstack/angular-query-devtools-experimental'
      paths:
        - packages/angular-query-devtools-experimental/**
    - component_id: angular-query-experimental
      name: '@tanstack/angular-query-experimental'
      paths:
        - packages/angular-query-experimental/**
    - component_id: eslint-plugin-query
      name: '@tanstack/eslint-plugin-query'
      paths:
        - packages/eslint-plugin-query/**
    - component_id: query-async-storage-persister
      name: '@tanstack/query-async-storage-persister'
      paths:
        - packages/query-async-storage-persister/**
    - component_id: query-broadcast-client-experimental
      name: '@tanstack/query-broadcast-client-experimental'
      paths:
        - packages/query-broadcast-client-experimental/**
    - component_id: query-codemods
      name: '@tanstack/query-codemods'
      paths:
        - packages/codemods/**
    - component_id: query-core
      name: '@tanstack/query-core'
      paths:
        - packages/query-core/**
    - component_id: query-devtools
      name: '@tanstack/query-devtools'
      paths:
        - packages/query-devtools/**
    - component_id: query-persist-client-core
      name: '@tanstack/query-persist-client-core'
      paths:
        - packages/query-persist-client-core/**
    - component_id: query-sync-storage-persister
      name: '@tanstack/query-sync-storage-persister'
      paths:
        - packages/query-sync-storage-persister/**
    - component_id: react-query
      name: '@tanstack/react-query'
      paths:
        - packages/react-query/**
    - component_id: react-query-devtools
      name: '@tanstack/react-query-devtools'
      paths:
        - packages/react-query-devtools/**
    - component_id: react-query-next-experimental
      name: '@tanstack/react-query-next-experimental'
      paths:
        - packages/react-query-next-experimental/**
    - component_id: react-query-persist-client
      name: '@tanstack/react-query-persist-client'
      paths:
        - packages/react-query-persist-client/**
    - component_id: solid-query
      name: '@tanstack/solid-query'
      paths:
        - packages/solid-query/**
    - component_id: solid-query-devtools
      name: '@tanstack/solid-query-devtools'
      paths:
        - packages/solid-query-devtools/**
    - component_id: solid-query-persist-client
      name: '@tanstack/solid-query-persist-client'
      paths:
        - packages/solid-query-persist-client/**
    - component_id: svelte-query
      name: '@tanstack/svelte-query'
      paths:
        - packages/svelte-query/**
    - component_id: svelte-query-devtools
      name: '@tanstack/svelte-query-devtools'
      paths:
        - packages/svelte-query-devtools/**
    - component_id: svelte-query-persist-client
      name: '@tanstack/svelte-query-persist-client'
      paths:
        - packages/svelte-query-persist-client/**
    - component_id: vue-query
      name: '@tanstack/vue-query'
      paths:
        - packages/vue-query/**
    - component_id: vue-query-devtools
      name: '@tanstack/vue-query-devtools'
      paths:
        - packages/vue-query-devtools/**

chore: bypass lint violations
  packages/react-query-next-experimental/src/HydrationStreamProvider.tsx
  packages/react-query-persist-client/src/__tests__/PersistQueryClientProvider.test.tsx
  packages/react-query/src/HydrationBoundary.tsx
Due: @tanstack/react-query, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client

chore: Disable '@eslint-react/no-context-provider'
  packages/react-query-devtools/eslint.config.js
  packages/react-query-next-experimental/eslint.config.js
  packages/react-query-persist-client/eslint.config.js
  packages/react-query/eslint.config.js
Due: @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client

chore: update to eslint-plugin-react-hooks v6 (#9071)
  .github/renovate.json
  examples/react/algolia/eslint.config.js
  examples/react/basic-graphql-request/eslint.config.js
  examples/react/basic/eslint.config.js
  examples/react/shadow-dom/eslint.config.js
  package.json
  packages/react-query-devtools/eslint.config.js
  packages/react-query-next-experimental/eslint.config.js
  packages/react-query-next-experimental/src/HydrationStreamProvider.tsx
  packages/react-query-persist-client/eslint.config.js
  packages/react-query-persist-client/src/__tests__/PersistQueryClientProvider.test.tsx
  packages/react-query/eslint.config.js
  packages/react-query/package.json
  packages/react-query/src/HydrationBoundary.tsx
  packages/react-query/src/useMutationState.ts
  pnpm-lock.yaml
Due: @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client

feat(core): staleTime: 'static' (#9139)
  docs/framework/react/guides/important-defaults.md
  docs/framework/react/reference/useQuery.md
  docs/reference/QueryClient.md
  packages/query-core/src/__tests__/queryClient.test.tsx
  packages/query-core/src/__tests__/queryObserver.test.tsx
  packages/query-core/src/query.ts
  packages/query-core/src/queryClient.ts
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/types.ts
  packages/query-core/src/utils.ts
  packages/react-query/src/suspense.ts
Due: @tanstack/query-core, @tanstack/react-query

feat(query-devtools): add indicator for staleTime: "static"
  packages/query-devtools/src/Devtools.tsx
Due: @tanstack/query-devtools

refactor(types): simplify placeholderData type definition by removing NonFunctionGuard
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/types.ts
Due: @tanstack/query-core

chore(query): replace resolveStaleTime with resolveValueOrFunction
  packages/query-core/src/query.ts
Due: @tanstack/query-core

chore(deps): add tsup dependency and fix build
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/package.json
  pnpm-lock.yaml
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental

refactor: rename cache methods for better clarity and consistency
  packages/query-broadcast-client-experimental/src/index.ts
  packages/query-core/src/__tests__/mutations.test.tsx
  packages/query-core/src/__tests__/utils.ts
  packages/query-core/src/hydration.ts
  packages/query-core/src/mutationCache.ts
  packages/query-core/src/mutationObserver.ts
  packages/query-core/src/queryCache.ts
  packages/query-core/src/queryClient.ts
  packages/query-core/src/queryObserver.ts
  packages/query-persist-client-core/src/__tests__/persist.test.ts
Due: @tanstack/query-broadcast-client-experimental, @tanstack/query-core, @tanstack/query-persist-client-core

refactor: simplify `setQueryData` by using `ensure` directly instead of `get` then `ensure`
  packages/query-core/src/queryClient.ts
Due: @tanstack/query-core

refactor: improve type safety in `getQueryData` by using generics
  packages/query-core/src/queryClient.ts
Due: @tanstack/query-core

refactor(query-core): add "Set" instead of "includes"
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

fix(svelte-query): fix error when creating query outside of component initialization
  packages/svelte-query/src/createBaseQuery.svelte.ts
Due: @tanstack/svelte-query

refactor(core): remove unnecessary TQueryData in InfiniteQueryObserverOptions
  packages/query-core/src/__tests__/infiniteQueryBehavior.test.tsx
  packages/query-core/src/__tests__/infiniteQueryObserver.test.tsx
  packages/query-core/src/infiniteQueryObserver.ts
  packages/query-core/src/types.ts
Due: @tanstack/query-core

refactor(react-query,solid-query,svelte-query,vue-query,angular-query): remove unnecessary TQueryData in InfiniteQueryObserverOptions
  packages/angular-query-experimental/src/infinite-query-options.ts
  packages/angular-query-experimental/src/inject-infinite-query.ts
  packages/angular-query-experimental/src/types.ts
  packages/react-query/src/__tests__/usePrefetchInfiniteQuery.test.tsx
  packages/react-query/src/infiniteQueryOptions.ts
  packages/react-query/src/types.ts
  packages/react-query/src/useInfiniteQuery.ts
  packages/react-query/src/useSuspenseInfiniteQuery.ts
  packages/solid-query/src/QueryClient.ts
  packages/solid-query/src/infiniteQueryOptions.ts
  packages/solid-query/src/types.ts
  packages/svelte-query/src/createInfiniteQuery.ts
  packages/svelte-query/src/infiniteQueryOptions.ts
  packages/svelte-query/src/types.ts
  packages/vue-query/src/infiniteQueryOptions.ts
  packages/vue-query/src/useBaseQuery.ts
  packages/vue-query/src/useInfiniteQuery.ts
Due: @tanstack/angular-query-experimental, @tanstack/react-query, @tanstack/solid-query, @tanstack/svelte-query, @tanstack/vue-query

ci(v4): use @tanstack/publish-config
  .gitignore
  package.json
  pnpm-lock.yaml
  project.json
  scripts/config.ts
  scripts/project.json
  scripts/publish.mjs
  scripts/publish.ts
  scripts/tsconfig.json
  scripts/types.ts
  scripts/validate-packages.ts
Due: none

Fix cipublish script
  package.json
Due: none

ci(v4): use @tanstack/publish-config (#9225)
  .gitignore
  package.json
  pnpm-lock.yaml
  project.json
  scripts/config.ts
  scripts/project.json
  scripts/publish.mjs
  scripts/publish.ts
  scripts/tsconfig.json
  scripts/types.ts
  scripts/validate-packages.ts
Due: none

ci(v4): ensure packages are built during CI
  .github/workflows/ci-v3.yml
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  examples/react/optimistic-updates-typescript/next-env.d.ts
  examples/react/optimistic-updates-typescript/tsconfig.json
  package.json
  pnpm-lock.yaml
  scripts/tsconfig.json
Due: none

Fix prettier
  examples/react/optimistic-updates-typescript/tsconfig.json
  package.json
Due: none

fix(v4): ensure packages are built during CI (#9227)
  .github/workflows/ci-v3.yml
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  examples/react/optimistic-updates-typescript/next-env.d.ts
  examples/react/optimistic-updates-typescript/tsconfig.json
  package.json
  pnpm-lock.yaml
  scripts/tsconfig.json
Due: none

ci(v4): fix Nx commands
  .github/workflows/ci.yml
  .github/workflows/pr.yml
Due: none

refactor: consolidate noop function usage across framework packages
  packages/angular-query-experimental/src/inject-mutation.ts
  packages/angular-query-experimental/src/providers.ts
  packages/angular-query-experimental/src/util/index.ts
  packages/solid-query/src/useMutation.ts
  packages/solid-query/src/useQueries.ts
  packages/solid-query/src/utils.ts
  packages/svelte-query/src/createBaseQuery.ts
  packages/svelte-query/src/createMutation.ts
  packages/svelte-query/src/createQueries.ts
  packages/svelte-query/src/utils.ts
Due: @tanstack/angular-query-experimental, @tanstack/solid-query, @tanstack/svelte-query

remove unnecessary type change
  packages/solid-query-devtools/src/devtools.tsx
Due: @tanstack/solid-query-devtools

Add persisterRestoreByKey
  packages/query-persist-client-core/src/__tests__/createPersister.test.ts
  packages/query-persist-client-core/src/createPersister.ts
Due: @tanstack/query-persist-client-core

Fix imports
  packages/query-core/src/index.ts
  packages/query-persist-client-core/src/createPersister.ts
Due: @tanstack/query-core, @tanstack/query-persist-client-core

Add missing return statement
  packages/query-persist-client-core/src/createPersister.ts
Due: @tanstack/query-persist-client-core

Fix test
  packages/query-persist-client-core/src/__tests__/createPersister.test.ts
Due: @tanstack/query-persist-client-core

docs
  docs/framework/react/plugins/createPersister.md
Due: none

Add extra test
  packages/query-persist-client-core/src/__tests__/createPersister.test.ts
Due: @tanstack/query-persist-client-core

Merge into single restoreQueries function
  docs/framework/react/plugins/createPersister.md
  packages/query-persist-client-core/src/__tests__/createPersister.test.ts
  packages/query-persist-client-core/src/createPersister.ts
Due: @tanstack/query-persist-client-core

chore: remove redundant word in comment
  docs/framework/react/guides/ssr.md
Due: none

fix(query-core): correct error handling in tryResolveSync function
  packages/query-core/src/thenable.ts
Due: @tanstack/query-core

refactor(types): narrow onSuccess/onError/onMutate/onSettled callback types to Promise<void> | void (#9202)
  docs/framework/react/plugins/persistQueryClient.md
  docs/framework/react/reference/useMutation.md
  docs/reference/MutationCache.md
  packages/angular-query-persist-client/src/with-persist-query-client.ts
  packages/query-core/src/mutationCache.ts
  packages/query-core/src/query.ts
  packages/query-core/src/types.ts
  packages/react-query-persist-client/src/PersistQueryClientProvider.tsx
Due: @tanstack/query-core, @tanstack/react-query-persist-client

docs: Mention query keys needs to be serializable using `JSON.stringify` (#9204)
  docs/framework/react/guides/query-keys.md
Due: none

refactor(query-core): extract context creation to functions and move type assertions (#9210)
  packages/query-core/src/infiniteQueryBehavior.ts
  packages/query-core/src/query.ts
Due: @tanstack/query-core
