Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools, @tanstack/angular-query, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

codecov.yml:

codecov:
  max_report_age: off

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto

comment:
  layout: 'header, reach, diff, flags, components'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  hide_project_coverage: false

component_management:
  individual_components:
    - component_id: angular-query-devtools
      name: '@tanstack/angular-query-devtools'
      paths:
        - packages/angular-query-devtools/**
    - component_id: angular-query
      name: '@tanstack/angular-query'
      paths:
        - packages/angular-query/**
    - component_id: eslint-plugin-query
      name: '@tanstack/eslint-plugin-query'
      paths:
        - packages/eslint-plugin-query/**
    - component_id: query-async-storage-persister
      name: '@tanstack/query-async-storage-persister'
      paths:
        - packages/query-async-storage-persister/**
    - component_id: query-broadcast-client-experimental
      name: '@tanstack/query-broadcast-client-experimental'
      paths:
        - packages/query-broadcast-client-experimental/**
    - component_id: query-codemods
      name: '@tanstack/query-codemods'
      paths:
        - packages/query-codemods/**
    - component_id: query-core
      name: '@tanstack/query-core'
      paths:
        - packages/query-core/**
    - component_id: query-devtools
      name: '@tanstack/query-devtools'
      paths:
        - packages/query-devtools/**
    - component_id: query-persist-client-core
      name: '@tanstack/query-persist-client-core'
      paths:
        - packages/query-persist-client-core/**
    - component_id: query-sync-storage-persister
      name: '@tanstack/query-sync-storage-persister'
      paths:
        - packages/query-sync-storage-persister/**
    - component_id: query-test-utils
      name: '@tanstack/query-test-utils'
      paths:
        - packages/query-test-utils/**
    - component_id: react-query
      name: '@tanstack/react-query'
      paths:
        - packages/react-query/**
    - component_id: react-query-devtools
      name: '@tanstack/react-query-devtools'
      paths:
        - packages/react-query-devtools/**
    - component_id: react-query-next-experimental
      name: '@tanstack/react-query-next-experimental'
      paths:
        - packages/react-query-next-experimental/**
    - component_id: react-query-persist-client
      name: '@tanstack/react-query-persist-client'
      paths:
        - packages/react-query-persist-client/**
    - component_id: solid-query
      name: '@tanstack/solid-query'
      paths:
        - packages/solid-query/**
    - component_id: solid-query-devtools
      name: '@tanstack/solid-query-devtools'
      paths:
        - packages/solid-query-devtools/**
    - component_id: solid-query-persist-client
      name: '@tanstack/solid-query-persist-client'
      paths:
        - packages/solid-query-persist-client/**
    - component_id: svelte-query
      name: '@tanstack/svelte-query'
      paths:
        - packages/svelte-query/**
    - component_id: svelte-query-devtools
      name: '@tanstack/svelte-query-devtools'
      paths:
        - packages/svelte-query-devtools/**
    - component_id: svelte-query-persist-client
      name: '@tanstack/svelte-query-persist-client'
      paths:
        - packages/svelte-query-persist-client/**
    - component_id: vue-query
      name: '@tanstack/vue-query'
      paths:
        - packages/vue-query/**
    - component_id: vue-query-devtools
      name: '@tanstack/vue-query-devtools'
      paths:
        - packages/vue-query-devtools/**

chore(svelte-query-devtools): set up vitest environment with '@testing-library/svelte' and a smoke test
  packages/svelte-query-devtools/package.json
  packages/svelte-query-devtools/tests/Devtools.svelte.test.ts
  packages/svelte-query-devtools/tests/test-setup.ts
  packages/svelte-query-devtools/tsconfig.json
  packages/svelte-query-devtools/vite.config.ts
  pnpm-lock.yaml
Due: @tanstack/svelte-query-devtools

chore(svelte-query-devtools): set up vitest environment with '@testing-library/svelte' and a smoke test (#10624)
  packages/svelte-query-devtools/package.json
  packages/svelte-query-devtools/tests/Devtools.svelte.test.ts
  packages/svelte-query-devtools/tests/test-setup.ts
  packages/svelte-query-devtools/tsconfig.json
  packages/svelte-query-devtools/vite.config.ts
  pnpm-lock.yaml
Due: @tanstack/svelte-query-devtools

test(svelte-query-devtools): add tests for missing 'QueryClient', context provider, and 'client' prop
  packages/svelte-query-devtools/tests/Devtools.svelte.test.ts
  packages/svelte-query-devtools/tests/Wrapper.svelte
Due: @tanstack/svelte-query-devtools

test(svelte-query-devtools): add tests for missing 'QueryClient', context provider, and 'client' prop (#10625)
  packages/svelte-query-devtools/tests/Devtools.svelte.test.ts
  packages/svelte-query-devtools/tests/Wrapper.svelte
Due: @tanstack/svelte-query-devtools

test(preact-query-devtools): add tests for missing 'QueryClient', context provider, 'client' prop, and production fallback
  packages/preact-query-devtools/package.json
  packages/preact-query-devtools/src/__tests__/PreactQueryDevtools.test.tsx
  packages/preact-query-devtools/src/__tests__/PreactQueryDevtoolsPanel.test.tsx
Due: none

test(preact-query-devtools): assert 'mount' call in client provisioning tests
  packages/preact-query-devtools/src/__tests__/PreactQueryDevtools.test.tsx
  packages/preact-query-devtools/src/__tests__/PreactQueryDevtoolsPanel.test.tsx
Due: none

test(preact-query-devtools): add tests for missing 'QueryClient', context provider, 'client' prop, and production fallback (#10626)
  packages/preact-query-devtools/package.json
  packages/preact-query-devtools/src/__tests__/PreactQueryDevtools.test.tsx
  packages/preact-query-devtools/src/__tests__/PreactQueryDevtoolsPanel.test.tsx
Due: none

test(react-query-devtools): add tests for missing 'QueryClient', context provider, 'client' prop, and production fallback
  packages/react-query-devtools/src/__tests__/ReactQueryDevtools.test.tsx
  packages/react-query-devtools/src/__tests__/ReactQueryDevtoolsPanel.test.tsx
  packages/react-query-devtools/src/__tests__/devtools.test.tsx
  packages/react-query-devtools/src/__tests__/not-development.test.tsx
Due: @tanstack/react-query-devtools

test(react-query-devtools): make production fallback test deterministic with 'vi.stubEnv' and 'vi.resetModules'
  packages/react-query-devtools/src/__tests__/ReactQueryDevtools.test.tsx
  packages/react-query-devtools/src/__tests__/ReactQueryDevtoolsPanel.test.tsx
Due: @tanstack/react-query-devtools

test(preact-query-devtools): make production fallback test deterministic with 'vi.stubEnv' and 'vi.resetModules'
  packages/preact-query-devtools/src/__tests__/PreactQueryDevtools.test.tsx
  packages/preact-query-devtools/src/__tests__/PreactQueryDevtoolsPanel.test.tsx
Due: none

test(react-query-devtools): add tests for missing 'QueryClient', context provider, 'client' prop, and production fallback (#10627)
  packages/react-query-devtools/src/__tests__/ReactQueryDevtools.test.tsx
  packages/react-query-devtools/src/__tests__/ReactQueryDevtoolsPanel.test.tsx
  packages/react-query-devtools/src/__tests__/devtools.test.tsx
  packages/react-query-devtools/src/__tests__/not-development.test.tsx
Due: @tanstack/react-query-devtools

test(preact-query-devtools): make production fallback test deterministic with 'vi.stubEnv' and 'vi.resetModules' (#10628)
  packages/preact-query-devtools/src/__tests__/PreactQueryDevtools.test.tsx
  packages/preact-query-devtools/src/__tests__/PreactQueryDevtoolsPanel.test.tsx
Due: none

test(vue-query-devtools): set up vitest environment with production fallback test
  packages/vue-query-devtools/package.json
  packages/vue-query-devtools/src/__tests__/VueQueryDevtools.test.ts
  packages/vue-query-devtools/src/__tests__/VueQueryDevtoolsPanel.test.ts
  packages/vue-query-devtools/vite.config.ts
Due: @tanstack/vue-query-devtools

fix(query-core): restore NoInfer on persister's TQueryKey (#10601)
  .changeset/fix-persister-query-key-infer.md
  packages/query-core/src/types.ts
Due: @tanstack/query-core

chore: fix lockfile
  pnpm-lock.yaml
Due: none

fix: add customCondition
  packages/lit-query/package.json
Due: none

fix(query-devtools): align onClose setter type (#10607)
  .changeset/query-devtools-onclose-setter-type.md
  packages/query-devtools/src/TanstackQueryDevtoolsPanel.tsx
Due: @tanstack/query-devtools

docs: remove typo in QueryOptions#retry JSDoc (#10606)
  packages/query-core/src/types.ts
Due: @tanstack/query-core

test(solid-query): assert client subscription cleanup
  packages/solid-query/src/__tests__/useIsFetching.test.tsx
  packages/solid-query/src/__tests__/useIsMutating.test.tsx
Due: @tanstack/solid-query

chore: apply review feedback
  packages/angular-query-experimental/src/devtools/with-devtools.ts
Due: none

feat(angular-query): add devtools theme option (#10609)
  .changeset/angular-devtools-theme-option.md
  packages/angular-query-experimental/src/devtools/types.ts
  packages/angular-query-experimental/src/devtools/with-devtools.ts
Due: none

chore(tsconfig.json): narrow 'include' pattern to specific config extensions
  packages/angular-query-experimental/tsconfig.json
  packages/angular-query-persist-client/tsconfig.json
  packages/eslint-plugin-query/tsconfig.json
  packages/preact-query-devtools/tsconfig.json
  packages/preact-query-persist-client/tsconfig.json
  packages/preact-query/tsconfig.json
  packages/query-async-storage-persister/tsconfig.json
  packages/query-broadcast-client-experimental/tsconfig.json
  packages/query-codemods/tsconfig.json
  packages/query-core/tsconfig.json
  packages/query-devtools/tsconfig.json
  packages/query-persist-client-core/tsconfig.json
  packages/query-sync-storage-persister/tsconfig.json
  packages/query-test-utils/tsconfig.json
  packages/react-query-devtools/tsconfig.json
  packages/react-query-next-experimental/tsconfig.json
  packages/react-query-persist-client/tsconfig.json
  packages/react-query/tsconfig.json
  packages/solid-query-devtools/tsconfig.json
  packages/solid-query-persist-client/tsconfig.json
  packages/solid-query/tsconfig.json
  packages/svelte-query-devtools/tsconfig.json
  packages/svelte-query-persist-client/tsconfig.json
  packages/svelte-query/tsconfig.json
  packages/vue-query-devtools/tsconfig.json
  packages/vue-query/tsconfig.json
Due: @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

chore(tsconfig.json): replace brace expansion with explicit '*.config.ts' and '*.config.js' patterns
  packages/angular-query-experimental/tsconfig.json
  packages/angular-query-persist-client/tsconfig.json
  packages/eslint-plugin-query/tsconfig.json
  packages/preact-query-devtools/tsconfig.json
  packages/preact-query-persist-client/tsconfig.json
  packages/preact-query/tsconfig.json
  packages/query-async-storage-persister/tsconfig.json
  packages/query-broadcast-client-experimental/tsconfig.json
  packages/query-codemods/tsconfig.json
  packages/query-core/tsconfig.json
  packages/query-devtools/tsconfig.json
  packages/query-persist-client-core/tsconfig.json
  packages/query-sync-storage-persister/tsconfig.json
  packages/query-test-utils/tsconfig.json
  packages/react-query-devtools/tsconfig.json
  packages/react-query-next-experimental/tsconfig.json
  packages/react-query-persist-client/tsconfig.json
  packages/react-query/tsconfig.json
  packages/solid-query-devtools/tsconfig.json
  packages/solid-query-persist-client/tsconfig.json
  packages/solid-query/tsconfig.json
  packages/svelte-query-devtools/tsconfig.json
  packages/svelte-query-persist-client/tsconfig.json
  packages/svelte-query/tsconfig.json
  packages/vue-query-devtools/tsconfig.json
  packages/vue-query/tsconfig.json
Due: @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

chore(tsconfig.json): use single-line 'include' arrays for consistency
  packages/angular-query-experimental/tsconfig.json
  packages/angular-query-persist-client/tsconfig.json
  packages/preact-query-devtools/tsconfig.json
  packages/preact-query-persist-client/tsconfig.json
  packages/preact-query/tsconfig.json
  packages/query-broadcast-client-experimental/tsconfig.json
  packages/react-query-devtools/tsconfig.json
  packages/react-query-persist-client/tsconfig.json
  packages/react-query/tsconfig.json
  packages/solid-query-persist-client/tsconfig.json
  packages/solid-query/tsconfig.json
  packages/vue-query/tsconfig.json
Due: @tanstack/query-broadcast-client-experimental, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-persist-client, @tanstack/vue-query

chore(tsconfig.json): narrow 'include' pattern to prevent TS6053 race conditions from tsup bundled config files (#10522)
  packages/angular-query-experimental/tsconfig.json
  packages/angular-query-persist-client/tsconfig.json
  packages/eslint-plugin-query/tsconfig.json
  packages/preact-query-devtools/tsconfig.json
  packages/preact-query-persist-client/tsconfig.json
  packages/preact-query/tsconfig.json
  packages/query-async-storage-persister/tsconfig.json
  packages/query-broadcast-client-experimental/tsconfig.json
  packages/query-codemods/tsconfig.json
  packages/query-core/tsconfig.json
  packages/query-devtools/tsconfig.json
  packages/query-persist-client-core/tsconfig.json
  packages/query-sync-storage-persister/tsconfig.json
  packages/query-test-utils/tsconfig.json
  packages/react-query-devtools/tsconfig.json
  packages/react-query-next-experimental/tsconfig.json
  packages/react-query-persist-client/tsconfig.json
  packages/react-query/tsconfig.json
  packages/solid-query-devtools/tsconfig.json
  packages/solid-query-persist-client/tsconfig.json
  packages/solid-query/tsconfig.json
  packages/svelte-query-devtools/tsconfig.json
  packages/svelte-query-persist-client/tsconfig.json
  packages/svelte-query/tsconfig.json
  packages/vue-query-devtools/tsconfig.json
  packages/vue-query/tsconfig.json
Due: @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

Fix formatting in Suspense guide example
  docs/framework/solid/guides/suspense.md
Due: none

chore(vue-query-devtools): unify 'defineConfig' and 'mergeConfig' import from 'vitest/config'
  packages/vue-query-devtools/vite.config.ts
Due: @tanstack/vue-query-devtools

chore(vue-query-devtools): set up vitest environment with production fallback test (#10629)
  packages/vue-query-devtools/package.json
  packages/vue-query-devtools/src/__tests__/VueQueryDevtools.test.ts
  packages/vue-query-devtools/src/__tests__/VueQueryDevtoolsPanel.test.ts
  packages/vue-query-devtools/vite.config.ts
Due: @tanstack/vue-query-devtools

docs: correct refetchOnReconnect default in JSDoc
  packages/query-core/src/types.ts
Due: @tanstack/query-core

docs(devtools): document errorTypes as array
  docs/framework/preact/devtools.md
  docs/framework/solid/devtools.md
  docs/framework/svelte/devtools.md
  docs/framework/vue/devtools.md
Due: none

fix(vue-query-devtools): use class attribute in templates
  .changeset/vue-devtools-class-attribute.md
  packages/vue-query-devtools/src/devtools.vue
  packages/vue-query-devtools/src/devtoolsPanel.vue
Due: @tanstack/vue-query-devtools

feat(svelte-query-devtools): add theme option
  .changeset/svelte-devtools-theme-option.md
  docs/framework/svelte/devtools.md
  packages/svelte-query-devtools/src/Devtools.svelte
Due: @tanstack/svelte-query-devtools

docs(devtools): correct 'errorTypes' type to array (#10634)
  docs/framework/preact/devtools.md
  docs/framework/solid/devtools.md
  docs/framework/svelte/devtools.md
  docs/framework/vue/devtools.md
Due: none

fix: CVE-2026-40073 security vulnerability
  package.json
  pnpm-lock.yaml
Due: none

test(hydration): add cases for dataUpdatedAt when streamed query resolves before hydration
  packages/query-core/src/__tests__/hydration.test.tsx
Due: @tanstack/query-core

fix(devtools): add transform: translateZ(0) for Safari overflow rendering
  packages/query-devtools/src/Devtools.tsx
Due: @tanstack/query-devtools

test(query-devtools/TanstackQueryDevtools): replace placeholder with 'mount' and 'unmount' lifecycle tests
  packages/query-devtools/src/__tests__/TanstackQueryDevtools.test.tsx
  packages/query-devtools/src/__tests__/devtools.test.tsx
Due: @tanstack/query-devtools

test(query-devtools/TanstackQueryDevtools): replace placeholder with 'mount' and 'unmount' lifecycle tests (#10639)
  packages/query-devtools/src/__tests__/TanstackQueryDevtools.test.tsx
  packages/query-devtools/src/__tests__/devtools.test.tsx
Due: @tanstack/query-devtools

test(query-devtools/TanstackQueryDevtoolsPanel): add 'mount' and 'unmount' lifecycle tests
  packages/query-devtools/src/__tests__/TanstackQueryDevtoolsPanel.test.tsx
Due: @tanstack/query-devtools

test(query-devtools/TanstackQueryDevtoolsPanel): add 'mount' and 'unmount' lifecycle tests (#10640)
  packages/query-devtools/src/__tests__/TanstackQueryDevtoolsPanel.test.tsx
Due: @tanstack/query-devtools
