Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 1%

comment:
  layout: 'header, reach, diff, flags, components'

component_management:
  individual_components:
    - component_id: angular-query-devtools-experimental
      name: '@tanstack/angular-query-devtools-experimental'
      paths:
        - packages/angular-query-devtools-experimental/**
    - component_id: angular-query-experimental
      name: '@tanstack/angular-query-experimental'
      paths:
        - packages/angular-query-experimental/**
    - component_id: eslint-plugin-query
      name: '@tanstack/eslint-plugin-query'
      paths:
        - packages/eslint-plugin-query/**
    - component_id: query-async-storage-persister
      name: '@tanstack/query-async-storage-persister'
      paths:
        - packages/query-async-storage-persister/**
    - component_id: query-broadcast-client-experimental
      name: '@tanstack/query-broadcast-client-experimental'
      paths:
        - packages/query-broadcast-client-experimental/**
    - component_id: query-codemods
      name: '@tanstack/query-codemods'
      paths:
        - packages/codemods/**
    - component_id: query-core
      name: '@tanstack/query-core'
      paths:
        - packages/query-core/**
    - component_id: query-devtools
      name: '@tanstack/query-devtools'
      paths:
        - packages/query-devtools/**
    - component_id: query-persist-client-core
      name: '@tanstack/query-persist-client-core'
      paths:
        - packages/query-persist-client-core/**
    - component_id: query-sync-storage-persister
      name: '@tanstack/query-sync-storage-persister'
      paths:
        - packages/query-sync-storage-persister/**
    - component_id: react-query
      name: '@tanstack/react-query'
      paths:
        - packages/react-query/**
    - component_id: react-query-devtools
      name: '@tanstack/react-query-devtools'
      paths:
        - packages/react-query-devtools/**
    - component_id: react-query-next-experimental
      name: '@tanstack/react-query-next-experimental'
      paths:
        - packages/react-query-next-experimental/**
    - component_id: react-query-persist-client
      name: '@tanstack/react-query-persist-client'
      paths:
        - packages/react-query-persist-client/**
    - component_id: solid-query
      name: '@tanstack/solid-query'
      paths:
        - packages/solid-query/**
    - component_id: solid-query-devtools
      name: '@tanstack/solid-query-devtools'
      paths:
        - packages/solid-query-devtools/**
    - component_id: solid-query-persist-client
      name: '@tanstack/solid-query-persist-client'
      paths:
        - packages/solid-query-persist-client/**
    - component_id: svelte-query
      name: '@tanstack/svelte-query'
      paths:
        - packages/svelte-query/**
    - component_id: svelte-query-devtools
      name: '@tanstack/svelte-query-devtools'
      paths:
        - packages/svelte-query-devtools/**
    - component_id: svelte-query-persist-client
      name: '@tanstack/svelte-query-persist-client'
      paths:
        - packages/svelte-query-persist-client/**
    - component_id: vue-query
      name: '@tanstack/vue-query'
      paths:
        - packages/vue-query/**
    - component_id: vue-query-devtools
      name: '@tanstack/vue-query-devtools'
      paths:
        - packages/vue-query-devtools/**

test(svelte-query/useIsMutating): replace incorrect usage of 'fetching' with 'mutating' (#9424)
  packages/svelte-query/tests/useIsMutating/useIsMutating.test.ts
Due: @tanstack/svelte-query

test(angular-query-experimental/inject-is-mutating): add 'expect' 'isMutating' to be 0
  packages/angular-query-experimental/src/__tests__/inject-is-mutating.test.ts
Due: @tanstack/angular-query-experimental

test(query-core/queriesObserver): use precise time in 'advanceTimersByTimeAsync'
  packages/query-core/src/__tests__/queriesObserver.test.tsx
Due: @tanstack/query-core

docs(solid): fix incorrect link to state managers guide
  docs/config.json
Due: none

docs(solid): fix incorrect link to state managers guide (#9430)
  docs/config.json
Due: none

test(query-core/queryObserver): use precise time in 'advanceTimersByTimeAsync'
  packages/query-core/src/__tests__/queryObserver.test.tsx
Due: @tanstack/query-core

test(query-core/queryCache): remove redundant 'advanceTimersByTimeAsync'
  packages/query-core/src/__tests__/queryCache.test.tsx
Due: @tanstack/query-core

test(angular-query-experimental/inject-mutation): use precise time in 'advanceTimersByTimeAsync'
  packages/angular-query-experimental/src/__tests__/inject-mutation.test.ts
Due: @tanstack/angular-query-experimental

test(angular-query-experimental/inject-is-mutating): separate 'injectionContext' from testing, and add more 'expect' (#9425)
  packages/angular-query-experimental/src/__tests__/inject-is-mutating.test.ts
Due: @tanstack/angular-query-experimental

test(query-core/queriesObserver): use precise time in 'advanceTimersByTimeAsync' (#9429)
  packages/query-core/src/__tests__/queriesObserver.test.tsx
Due: @tanstack/query-core

test(angular-query-experimental/inject-query): use precise time in 'advanceTimersByTimeAsync'
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
Due: @tanstack/angular-query-experimental

test(query-core/queryObserver): use precise time in 'advanceTimersByTimeAsync' (#9432)
  packages/query-core/src/__tests__/queryObserver.test.tsx
Due: @tanstack/query-core

test(angular-query-experimental/inject-mutation): use precise time in 'advanceTimersByTimeAsync' (#9434)
  packages/angular-query-experimental/src/__tests__/inject-mutation.test.ts
Due: @tanstack/angular-query-experimental

test(angular-query-experimental/inject-query): use precise time in 'advanceTimersByTimeAsync' (#9435)
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
Due: @tanstack/angular-query-experimental

test(query-core/queryCache): remove redundant 'advanceTimersByTimeAsync' (#9433)
  packages/query-core/src/__tests__/queryCache.test.tsx
Due: @tanstack/query-core

test(angular-query-experimental/providers): replace 'runAllTimersAsync' with 'advanceTimersByTimeAsync'
  packages/angular-query-experimental/src/__tests__/providers.test.ts
Due: @tanstack/angular-query-experimental

test(angular-query-experimental/inject-mutation-state): replace 'runAllTimersAsync', 'advanceTimersByTime' with 'advanceTimersByTimeAsync'
  packages/angular-query-experimental/src/__tests__/inject-mutation-state.test.ts
Due: @tanstack/angular-query-experimental

feat(react-query): backport v5 apis about infinite query
  packages/react-query/src/__tests__/infiniteQueryOptions.test.tsx
  packages/react-query/src/__tests__/infiniteQueryOptions.types.test.tsx
  packages/react-query/src/index.ts
  packages/react-query/src/infiniteQueryOptions.ts
  packages/react-query/src/queryOptions.ts
  packages/react-query/src/useInfiniteQuery.ts
  packages/react-query/src/useQuery.ts
  packages/react-query/src/useSuspenseInfiniteQuery.ts
Due: @tanstack/react-query

refactor(react-query): update infinite query tests and add type checks for useSuspenseInfiniteQuery
  packages/react-query/src/__tests__/infiniteQueryOptions.types.test.tsx
  packages/react-query/src/__tests__/queryOptions.types.test.tsx
  packages/react-query/src/__tests__/useSuspenseInfiniteQuery.types.test.tsx
  pnpm-lock.yaml
Due: @tanstack/react-query

fix(react-query): clean up JSDoc formatting and improve type imports in useInfiniteQuery and useSuspenseInfiniteQuery
  packages/react-query/src/useInfiniteQuery.ts
  packages/react-query/src/useSuspenseInfiniteQuery.ts
Due: @tanstack/react-query

refactor(query-core, react-query): standardize deprecated JSDoc comments across query methods
  packages/query-core/src/queryCache.ts
  packages/query-core/src/queryClient.ts
  packages/query-core/src/types.ts
  packages/react-query/src/useInfiniteQuery.ts
Due: @tanstack/query-core, @tanstack/react-query

test(react-query/fine-grained-persister): use precise time in 'advanceTimersByTimeAsync', and add 'expect' using 'toBeInTheDocument'
  packages/react-query/src/__tests__/fine-grained-persister.test.tsx
Due: @tanstack/react-query

test(react-query/QueryClientProvider): add 'expect' using 'toBeInTheDocument'
  packages/react-query/src/__tests__/QueryClientProvider.test.tsx
Due: @tanstack/react-query

test(react-query/ssr): replace 'advanceTimersByTimeAsync' with 'sleep' in 'queryFn', remove 'await' from 'fetchQuery' and related methods
  packages/react-query/src/__tests__/ssr.test.tsx
Due: @tanstack/react-query

test(react-query/suspense): change 'queryFn' to return a 'Promise', replace 'advanceTimersByTime' with 'advanceTimersByTimeAsync', and add 'expect'
  packages/react-query/src/__tests__/suspense.test.tsx
Due: @tanstack/react-query

fix(query-core) Fix queries argument's type definition in queriesObserver
  packages/query-core/src/queriesObserver.ts
Due: @tanstack/query-core

test(react-query/suspense): change 'queryFn' to return a 'Promise', replace 'advanceTimersByTime' with 'advanceTimersByTimeAsync', and add 'expect' (#9444)
  packages/react-query/src/__tests__/suspense.test.tsx
Due: @tanstack/react-query

test(react-query/ssr): replace 'advanceTimersByTimeAsync' with 'sleep' in 'queryFn', remove 'await' from 'fetchQuery' and related methods (#9443)
  packages/react-query/src/__tests__/ssr.test.tsx
Due: @tanstack/react-query

test(react-query/QueryClientProvider): add 'expect' using 'toBeInTheDocument' (#9442)
  packages/react-query/src/__tests__/QueryClientProvider.test.tsx
Due: @tanstack/react-query

test(react-query/fine-grained-persister): use precise time in 'advanceTimersByTimeAsync', and add 'expect' using 'toBeInTheDocument' (#9441)
  packages/react-query/src/__tests__/fine-grained-persister.test.tsx
Due: @tanstack/react-query

Update packages/angular-query-experimental/src/__tests__/inject-mutation-state.test.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation-state.test.ts
Due: @tanstack/angular-query-experimental

test(angular-query-experimental/inject-mutation-state): replace 'runAllTimersAsync', 'advanceTimersByTime' with 'advanceTimersByTimeAsync' (#9438)
  packages/angular-query-experimental/src/__tests__/inject-mutation-state.test.ts
Due: @tanstack/angular-query-experimental

test(angular-query-experimental/providers): replace 'runAllTimersAsync' with 'advanceTimersByTimeAsync' (#9436)
  packages/angular-query-experimental/src/__tests__/providers.test.ts
Due: @tanstack/angular-query-experimental

test(react-query/useInfiniteQuery): use precise time in 'advanceTimersByTimeAsync', and add 'expect' using 'toBeInTheDocument'
  packages/react-query/src/__tests__/useInfiniteQuery.test.tsx
Due: @tanstack/react-query

test(react-query/usePrefetchInfiniteQuery): use precise time in 'advanceTimersByTimeAsync', and add 'expect' using 'toBeInTheDocument'
  packages/react-query/src/__tests__/usePrefetchInfiniteQuery.test.tsx
Due: @tanstack/react-query

test(react-query/usePrefetchQuery): use precise time in 'advanceTimersByTimeAsync', and add 'expect' using 'toBeInTheDocument'
  packages/react-query/src/__tests__/usePrefetchQuery.test.tsx
Due: @tanstack/react-query

test(react-query/useSuspenseQueries): use precise time in 'advanceTimersByTimeAsync', and add 'expect' using 'toBeInTheDocument'
  packages/react-query/src/__tests__/useSuspenseQueries.test.tsx
Due: @tanstack/react-query

docs: add text regarding local environment recommendations for symlinks
  CONTRIBUTING.md
Due: none

Add ability to provide mutation scope with function
  packages/query-core/src/mutationCache.ts
  packages/query-core/src/mutationObserver.ts
  packages/query-core/src/types.ts
Due: @tanstack/query-core

Update git url
  package.json
Due: none
