Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

test(query-core/mutationCache): add 'sleep' to callbacks and remove 'await' from 'executeMutation' using 'advanceTimersByTimeAsync' (#9506)
  packages/query-core/src/__tests__/mutationCache.test.tsx
Due: @tanstack/query-core

feat(react-query): introduce infinite query options and suspense support
  packages/query-core/src/types.ts
  packages/react-query/src/__tests__/infiniteQueryOptions.test.tsx
  packages/react-query/src/__tests__/infiniteQueryOptions.types.test.tsx
  packages/react-query/src/__tests__/queryOptions.types.test.tsx
  packages/react-query/src/__tests__/useSuspenseInfiniteQuery.types.test.tsx
  packages/react-query/src/index.ts
  packages/react-query/src/infiniteQueryOptions.ts
  packages/react-query/src/queryOptions.ts
  packages/react-query/src/types.ts
  packages/react-query/src/useInfiniteQuery.ts
  packages/react-query/src/useQuery.ts
  packages/react-query/src/useSuspenseInfiniteQuery.ts
  pnpm-lock.yaml
Due: @tanstack/query-core, @tanstack/react-query

refactor(react-query): update useSuspenseInfiniteQuery to utilize useBaseQuery
  packages/react-query/src/useSuspenseInfiniteQuery.ts
Due: @tanstack/react-query

test(react-query/mutationOptions): add tests for without 'mutationKey' in 'mutationOptions' and add 'sleep' to 'mutationFn'
  packages/react-query/src/__tests__/mutationOptions.test.tsx
Due: @tanstack/react-query

feat(query-core): add client parameter to mutation functions and update related callbacks
  packages/query-core/src/mutation.ts
  packages/query-core/src/mutationCache.ts
  packages/query-core/src/mutationObserver.ts
  packages/query-core/src/types.ts
Due: @tanstack/query-core

test(query-core): update mutation tests to include queryClient in callbacks
  packages/query-core/src/__tests__/hydration.test.tsx
  packages/query-core/src/__tests__/mutationObserver.test.tsx
  packages/query-core/src/__tests__/mutations.test.tsx
  packages/query-core/src/__tests__/utils.test.tsx
  packages/react-query/src/__tests__/useMutation.test.tsx
  packages/solid-query/src/__tests__/useMutation.test.tsx
Due: @tanstack/query-core, @tanstack/react-query, @tanstack/solid-query

chore(angular-query): move test-setup.ts
  packages/angular-query-experimental/test-setup.ts
  packages/angular-query-experimental/vite.config.ts
  packages/angular-query-persist-client/test-setup.ts
  packages/angular-query-persist-client/vite.config.ts
Due: @tanstack/angular-query-experimental

chore(angular-query): move test-setup.ts (#9516)
  packages/angular-query-experimental/test-setup.ts
  packages/angular-query-experimental/vite.config.ts
  packages/angular-query-persist-client/test-setup.ts
  packages/angular-query-persist-client/vite.config.ts
Due: @tanstack/angular-query-experimental

refactor(angular-query): build package using vite
  knip.json
  packages/angular-query-experimental/package.json
  packages/angular-query-experimental/scripts/prepack.js
  packages/angular-query-experimental/scripts/prepare-package.js
Due: @tanstack/angular-query-experimental

refactor(angular-query): build package using vite (#9517)
  knip.json
  packages/angular-query-experimental/package.json
  packages/angular-query-experimental/scripts/prepack.js
  packages/angular-query-experimental/scripts/prepare-package.js
Due: @tanstack/angular-query-experimental

chore(angular-query): run publint and attw on tarball
  packages/angular-query-experimental/package.json
Due: @tanstack/angular-query-experimental

chore(angular-query): run publint and attw on tarball (#9518)
  packages/angular-query-experimental/package.json
Due: @tanstack/angular-query-experimental

refactor(angular-query): restructure package type declaration location
  packages/angular-query-experimental/package.json
  packages/angular-query-experimental/scripts/prepack.js
  packages/angular-query-experimental/tsconfig.json
  pnpm-lock.yaml
Due: @tanstack/angular-query-experimental

fix(react-query): HydrationBoundary has strictly typed `state`
  packages/react-query/src/HydrationBoundary.tsx
Due: @tanstack/react-query

docs: add missing period (#9509)
  docs/framework/react/reference/useMutationState.md
Due: none

chore(name): rename disable queries param
  packages/angular-query-experimental/src/providers.ts
  packages/query-devtools/src/Devtools.tsx
  packages/query-devtools/src/TanstackQueryDevtools.tsx
  packages/query-devtools/src/TanstackQueryDevtoolsPanel.tsx
  packages/query-devtools/src/contexts/QueryDevtoolsContext.ts
  packages/react-query-devtools/src/ReactQueryDevtools.tsx
  packages/react-query-devtools/src/ReactQueryDevtoolsPanel.tsx
  packages/solid-query-devtools/src/devtools.tsx
  packages/svelte-query-devtools/src/Devtools.svelte
  packages/vue-query-devtools/src/devtools.vue
  packages/vue-query-devtools/src/types.ts
Due: @tanstack/angular-query-experimental, @tanstack/query-devtools, @tanstack/react-query-devtools, @tanstack/solid-query-devtools, @tanstack/svelte-query-devtools, @tanstack/vue-query-devtools

fix(react-query): HydrationBoundary has strictly typed `state` (#9520)
  packages/react-query/src/HydrationBoundary.tsx
Due: @tanstack/react-query

feat(devtools): add setting to hide disabled queries (#9500)
  packages/angular-query-experimental/src/providers.ts
  packages/query-devtools/src/Devtools.tsx
  packages/query-devtools/src/TanstackQueryDevtools.tsx
  packages/query-devtools/src/TanstackQueryDevtoolsPanel.tsx
  packages/query-devtools/src/contexts/QueryDevtoolsContext.ts
  packages/react-query-devtools/src/ReactQueryDevtools.tsx
  packages/react-query-devtools/src/ReactQueryDevtoolsPanel.tsx
  packages/solid-query-devtools/src/devtools.tsx
  packages/svelte-query-devtools/src/Devtools.svelte
  packages/vue-query-devtools/src/devtools.vue
  packages/vue-query-devtools/src/types.ts
Due: @tanstack/angular-query-experimental, @tanstack/query-devtools, @tanstack/react-query-devtools, @tanstack/solid-query-devtools, @tanstack/svelte-query-devtools, @tanstack/vue-query-devtools

test(react-query/QueryResetErrorBoundary): add 'sleep' and simplify 'queryFn', add multiple 'expect' cases
  packages/react-query/src/__tests__/QueryResetErrorBoundary.test.tsx
Due: @tanstack/react-query

test(react-query/QueryResetErrorBoundary): add 'sleep' and simplify 'queryFn', add multiple 'expect' cases (#9523)
  packages/react-query/src/__tests__/QueryResetErrorBoundary.test.tsx
Due: @tanstack/react-query

refactor(angular-query): restructure package type declaration path (#9519)
  packages/angular-query-experimental/package.json
  packages/angular-query-experimental/scripts/prepack.js
  packages/angular-query-experimental/tsconfig.json
  pnpm-lock.yaml
Due: @tanstack/angular-query-experimental

test(react-query/mutationOptions): add tests for without 'mutationKey' in 'mutationOptions' and add 'sleep' to 'mutationFn' (#9510)
  packages/react-query/src/__tests__/mutationOptions.test.tsx
Due: @tanstack/react-query

type declarations in correct directory
  packages/angular-query-experimental/package.json
  packages/angular-query-experimental/vite.config.ts
Due: @tanstack/angular-query-experimental

feat(query-core): add custom reducer support to streamedQuery
  docs/reference/streamedQuery.md
  packages/query-core/src/__tests__/streamedQuery.test.tsx
  packages/query-core/src/streamedQuery.ts
Due: @tanstack/query-core

Update documentation
  docs/framework/angular/devtools.md
  packages/angular-query-experimental/src/devtools/types.ts
  packages/angular-query-experimental/src/devtools/with-devtools.ts
Due: @tanstack/angular-query-experimental

ci: update GitHub Actions workflow to streamline Nx setup and improve CI run distribution
  .github/workflows/pr.yml
Due: none

ci: fix command syntax in GitHub Actions workflow for Nx CI run
  .github/workflows/pr.yml
Due: none

ci: correct command syntax in GitHub Actions workflow for Nx CI run
  .github/workflows/pr.yml
Due: none

knip config
  docs/framework/angular/guides/query-cancellation.md
  knip.json
Due: none

ci: remove Nx Cloud agent setup from GitHub Actions workflow to simplify CI process
  .github/workflows/pr.yml
Due: none

test(react-query/useIsFetching): remove unnecessary 'advanceTimersByTimeAsync', unify to 'rendered', and add detailed 'expect' for custom queryClient and state updates during rendering
  packages/react-query/src/__tests__/useIsFetching.test.tsx
Due: @tanstack/react-query

Add Hey API to community projects for TanStack Query (React)
  docs/framework/react/community/community-projects.md
Due: none

Add Hey API to community projects for TanStack Query (Vue)
  docs/framework/vue/community/community-projects.md
Due: none

Add oRPC to community projects for TanStack Query (React)
  docs/framework/react/community/community-projects.md
Due: none

Add oRPC to community projects for TanStack Query (Vue)
  docs/framework/vue/community/community-projects.md
Due: none

Update Hey API link to TanStack Query plugin
  docs/framework/react/community/community-projects.md
Due: none

Path conditions:
  @tanstack/angular-query-devtools-experimental: any of: packages/angular-query-devtools-experimental/**
  @tanstack/angular-query-experimental: any of: packages/angular-query-experimental/**
  @tanstack/eslint-plugin-query: any of: packages/eslint-plugin-query/**
  @tanstack/query-async-storage-persister: any of: packages/query-async-storage-persister/**
  @tanstack/query-broadcast-client-experimental: any of: packages/query-broadcast-client-experimental/**
  @tanstack/query-codemods: any of: packages/codemods/**
  @tanstack/query-core: any of: packages/query-core/**
  @tanstack/query-devtools: any of: packages/query-devtools/**
  @tanstack/query-persist-client-core: any of: packages/query-persist-client-core/**
  @tanstack/query-sync-storage-persister: any of: packages/query-sync-storage-persister/**
  @tanstack/react-query: any of: packages/react-query/**
  @tanstack/react-query-devtools: any of: packages/react-query-devtools/**
  @tanstack/react-query-next-experimental: any of: packages/react-query-next-experimental/**
  @tanstack/react-query-persist-client: any of: packages/react-query-persist-client/**
  @tanstack/solid-query: any of: packages/solid-query/**
  @tanstack/solid-query-devtools: any of: packages/solid-query-devtools/**
  @tanstack/solid-query-persist-client: any of: packages/solid-query-persist-client/**
  @tanstack/svelte-query: any of: packages/svelte-query/**
  @tanstack/svelte-query-devtools: any of: packages/svelte-query-devtools/**
  @tanstack/svelte-query-persist-client: any of: packages/svelte-query-persist-client/**
  @tanstack/vue-query: any of: packages/vue-query/**
  @tanstack/vue-query-devtools: any of: packages/vue-query-devtools/**
