Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 1%

comment:
  layout: 'header, reach, diff, flags, components'

component_management:
  individual_components:
    - component_id: angular-query-devtools-experimental
      name: '@tanstack/angular-query-devtools-experimental'
      paths:
        - packages/angular-query-devtools-experimental/**
    - component_id: angular-query-experimental
      name: '@tanstack/angular-query-experimental'
      paths:
        - packages/angular-query-experimental/**
    - component_id: eslint-plugin-query
      name: '@tanstack/eslint-plugin-query'
      paths:
        - packages/eslint-plugin-query/**
    - component_id: query-async-storage-persister
      name: '@tanstack/query-async-storage-persister'
      paths:
        - packages/query-async-storage-persister/**
    - component_id: query-broadcast-client-experimental
      name: '@tanstack/query-broadcast-client-experimental'
      paths:
        - packages/query-broadcast-client-experimental/**
    - component_id: query-codemods
      name: '@tanstack/query-codemods'
      paths:
        - packages/codemods/**
    - component_id: query-core
      name: '@tanstack/query-core'
      paths:
        - packages/query-core/**
    - component_id: query-devtools
      name: '@tanstack/query-devtools'
      paths:
        - packages/query-devtools/**
    - component_id: query-persist-client-core
      name: '@tanstack/query-persist-client-core'
      paths:
        - packages/query-persist-client-core/**
    - component_id: query-sync-storage-persister
      name: '@tanstack/query-sync-storage-persister'
      paths:
        - packages/query-sync-storage-persister/**
    - component_id: react-query
      name: '@tanstack/react-query'
      paths:
        - packages/react-query/**
    - component_id: react-query-devtools
      name: '@tanstack/react-query-devtools'
      paths:
        - packages/react-query-devtools/**
    - component_id: react-query-next-experimental
      name: '@tanstack/react-query-next-experimental'
      paths:
        - packages/react-query-next-experimental/**
    - component_id: react-query-persist-client
      name: '@tanstack/react-query-persist-client'
      paths:
        - packages/react-query-persist-client/**
    - component_id: solid-query
      name: '@tanstack/solid-query'
      paths:
        - packages/solid-query/**
    - component_id: solid-query-devtools
      name: '@tanstack/solid-query-devtools'
      paths:
        - packages/solid-query-devtools/**
    - component_id: solid-query-persist-client
      name: '@tanstack/solid-query-persist-client'
      paths:
        - packages/solid-query-persist-client/**
    - component_id: svelte-query
      name: '@tanstack/svelte-query'
      paths:
        - packages/svelte-query/**
    - component_id: svelte-query-devtools
      name: '@tanstack/svelte-query-devtools'
      paths:
        - packages/svelte-query-devtools/**
    - component_id: svelte-query-persist-client
      name: '@tanstack/svelte-query-persist-client'
      paths:
        - packages/svelte-query-persist-client/**
    - component_id: vue-query
      name: '@tanstack/vue-query'
      paths:
        - packages/vue-query/**
    - component_id: vue-query-devtools
      name: '@tanstack/vue-query-devtools'
      paths:
        - packages/vue-query-devtools/**

Revert "refactor: simplify callback return types to `void`"
  docs/framework/react/plugins/persistQueryClient.md
  docs/framework/react/reference/useMutation.md
  docs/reference/MutationCache.md
  packages/angular-query-persist-client/src/with-persist-query-client.ts
  packages/query-core/src/mutationCache.ts
  packages/query-core/src/types.ts
  packages/react-query-persist-client/src/PersistQueryClientProvider.tsx
Due: @tanstack/query-core, @tanstack/react-query-persist-client

refactor: use union of function signatures for callback return types
  docs/framework/react/plugins/persistQueryClient.md
  docs/framework/react/reference/useMutation.md
  docs/reference/MutationCache.md
  packages/angular-query-persist-client/src/with-persist-query-client.ts
  packages/query-core/src/mutationCache.ts
  packages/query-core/src/types.ts
  packages/react-query-persist-client/src/PersistQueryClientProvider.tsx
Due: @tanstack/query-core, @tanstack/react-query-persist-client

Revert "refactor(types): narrow onSuccess/onError/onMutate/onSettled callback types to Promise<void> | void (#9202)"
  docs/framework/react/plugins/persistQueryClient.md
  docs/framework/react/reference/useMutation.md
  docs/reference/MutationCache.md
  packages/angular-query-persist-client/src/with-persist-query-client.ts
  packages/query-core/src/mutationCache.ts
  packages/query-core/src/query.ts
  packages/query-core/src/types.ts
  packages/react-query-persist-client/src/PersistQueryClientProvider.tsx
Due: @tanstack/query-core, @tanstack/react-query-persist-client

test: add callback return type tests for mutation callbacks
  packages/query-core/src/__tests__/mutations.test.tsx
Due: @tanstack/query-core

refactor(tests): remove unnecessary parameters in mutation tests
  packages/query-core/src/__tests__/mutations.test.tsx
Due: @tanstack/query-core

test(mutations): fix mutation test ordering with error handling and cleanup verification
  packages/query-core/src/__tests__/mutations.test.tsx
Due: @tanstack/query-core

refactor(types): revert narrow onSuccess/onError/onMutate/onSettled callback types to Promise<void> | void (#9202)" (#9251)
  docs/framework/react/plugins/persistQueryClient.md
  docs/framework/react/reference/useMutation.md
  docs/reference/MutationCache.md
  packages/angular-query-persist-client/src/with-persist-query-client.ts
  packages/query-core/src/mutationCache.ts
  packages/query-core/src/query.ts
  packages/query-core/src/types.ts
  packages/react-query-persist-client/src/PersistQueryClientProvider.tsx
Due: @tanstack/query-core, @tanstack/react-query-persist-client

test: add callback return type tests for mutation callbacks (#9252)
  packages/query-core/src/__tests__/mutations.test.tsx
Due: @tanstack/query-core

docs: Replace accidentally-deleted content in mutations.md
  docs/framework/react/guides/mutations.md
Due: none

docs: Replace accidentally-deleted content in mutations.md (#9254)
  docs/framework/react/guides/mutations.md
Due: none

nit(docs): Remove superfluous text from mutations.md
  docs/framework/react/guides/mutations.md
Due: none

docs: Remove superfluous text from mutations.md (#9256)
  docs/framework/react/guides/mutations.md
Due: none

chore(react-query): Change mutaitonKey to required
  docs/framework/react/typescript.md
  packages/react-query/src/__tests__/mutationOptions.test-d.tsx
  packages/react-query/src/__tests__/mutationOptions.test.tsx
  packages/react-query/src/mutationOptions.ts
Due: @tanstack/react-query

fix(react-query): fix test code type error
  packages/react-query/src/__tests__/mutationOptions.test-d.tsx
Due: @tanstack/react-query

docs(react-mutations): fix broken links
  docs/framework/react/guides/mutations.md
Due: none

test(react-query): add testcase when used with other mutation util
  packages/react-query/src/__tests__/mutationOptions.test-d.tsx
  packages/react-query/src/__tests__/mutationOptions.test.tsx
Due: @tanstack/react-query

fix(react-query): fix error test code and avoid use deprecateed method
  packages/react-query/src/__tests__/mutationOptions.test-d.tsx
Due: @tanstack/react-query

fix(react-query): fix import detect error
  packages/react-query/src/__tests__/mutationOptions.test-d.tsx
Due: @tanstack/react-query

Updates examples for invalidation from mutations
  docs/framework/react/guides/invalidations-from-mutations.md
Due: none

Elaborate promise
  docs/framework/react/guides/invalidations-from-mutations.md
Due: none

fix relative links
  docs/framework/react/guides/mutations.md
Due: none

Update mutations.md
  docs/framework/react/guides/mutations.md
Due: none

chore: restore export of MaybePromise from `query-core`, update docs accordingly
  docs/framework/react/plugins/persistQueryClient.md
  docs/framework/react/reference/useMutation.md
  docs/reference/MutationCache.md
  packages/angular-query-persist-client/src/with-persist-query-client.ts
  packages/query-async-storage-persister/src/index.ts
  packages/react-query-persist-client/src/PersistQueryClientProvider.tsx
Due: @tanstack/query-async-storage-persister, @tanstack/react-query-persist-client

format: run prettier
  packages/query-core/src/streamedQuery.ts
  packages/query-core/src/types.ts
Due: @tanstack/query-core

fix: re-export MaybePromise type in createPersister.ts
  packages/query-persist-client-core/src/createPersister.ts
Due: @tanstack/query-persist-client-core

docs: fix relative links (#9262)
  docs/framework/react/guides/mutations.md
Due: none

fix(react-query): correct type for `onSuccess` of `useQuery` (#9242)
  .github/workflows/pr.yml
  packages/query-core/src/types.ts
  packages/react-query/src/__tests__/useQuery.types.test.tsx
  packages/react-query/src/queryOptions.ts
  packages/react-query/src/useQuery.ts
  packages/react-query/src/useSuspenseQuery.ts
  packages/vue-query/src/types.ts
  packages/vue-query/src/useMutation.ts
  pnpm-lock.yaml
Due: @tanstack/query-core, @tanstack/react-query, @tanstack/vue-query

fix(react-query): add function overload
  packages/react-query/src/mutationOptions.ts
Due: @tanstack/react-query

test(react-query): fix mutation options test code
  packages/react-query/src/__tests__/mutationOptions.test-d.tsx
Due: @tanstack/react-query

perf(query-core): clear query's revertState once fetching ends successfully
  packages/query-core/src/query.ts
Due: @tanstack/query-core

feat(query-core, react-query): add types, deprecate `isLoading` in favor of `isPending` in mutation observer results
  packages/query-core/src/types.ts
  packages/react-query/src/__tests__/queryOptions.types.test.tsx
  packages/react-query/src/__tests__/useSuspenseQueries.types.test.tsx
  packages/react-query/src/__tests__/useSuspenseQuery.types.test.tsx
  packages/react-query/src/index.ts
  packages/react-query/src/queryOptions.ts
  packages/react-query/src/types.ts
  packages/react-query/src/useQuery.ts
  packages/react-query/src/useSuspenseQueries.ts
  packages/react-query/src/useSuspenseQuery.ts
Due: @tanstack/query-core, @tanstack/react-query

refactor(react-query): update import path in Hydrate test file
  packages/react-query/src/__tests__/Hydrate.test.tsx
Due: @tanstack/react-query

ci: add link verification step to PR workflow
  .github/workflows/pr.yml
  docs/framework/react/guides/important-defaults.md
Due: none

chore: update verify-links script to use tsx and add tsx as a dependency
  package.json
  pnpm-lock.yaml
Due: none

chore: update knip.json to include markdown-link-extractor and adjust script ignore patterns
  knip.json
  package.json
  scripts/verify-links.ts
Due: none

docs: Fix syntax of batshit in batching-requests article
  docs/framework/react/community/batching-requests-using-bathshit.md
Due: none
