Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools, @tanstack/angular-query, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

codecov.yml:

codecov:
  max_report_age: off

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto

comment:
  layout: 'header, reach, diff, flags, components'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  hide_project_coverage: false

component_management:
  individual_components:
    - component_id: angular-query-devtools
      name: '@tanstack/angular-query-devtools'
      paths:
        - packages/angular-query-devtools/**
    - component_id: angular-query
      name: '@tanstack/angular-query'
      paths:
        - packages/angular-query/**
    - component_id: eslint-plugin-query
      name: '@tanstack/eslint-plugin-query'
      paths:
        - packages/eslint-plugin-query/**
    - component_id: query-async-storage-persister
      name: '@tanstack/query-async-storage-persister'
      paths:
        - packages/query-async-storage-persister/**
    - component_id: query-broadcast-client-experimental
      name: '@tanstack/query-broadcast-client-experimental'
      paths:
        - packages/query-broadcast-client-experimental/**
    - component_id: query-codemods
      name: '@tanstack/query-codemods'
      paths:
        - packages/query-codemods/**
    - component_id: query-core
      name: '@tanstack/query-core'
      paths:
        - packages/query-core/**
    - component_id: query-devtools
      name: '@tanstack/query-devtools'
      paths:
        - packages/query-devtools/**
    - component_id: query-persist-client-core
      name: '@tanstack/query-persist-client-core'
      paths:
        - packages/query-persist-client-core/**
    - component_id: query-sync-storage-persister
      name: '@tanstack/query-sync-storage-persister'
      paths:
        - packages/query-sync-storage-persister/**
    - component_id: query-test-utils
      name: '@tanstack/query-test-utils'
      paths:
        - packages/query-test-utils/**
    - component_id: react-query
      name: '@tanstack/react-query'
      paths:
        - packages/react-query/**
    - component_id: react-query-devtools
      name: '@tanstack/react-query-devtools'
      paths:
        - packages/react-query-devtools/**
    - component_id: react-query-next-experimental
      name: '@tanstack/react-query-next-experimental'
      paths:
        - packages/react-query-next-experimental/**
    - component_id: react-query-persist-client
      name: '@tanstack/react-query-persist-client'
      paths:
        - packages/react-query-persist-client/**
    - component_id: solid-query
      name: '@tanstack/solid-query'
      paths:
        - packages/solid-query/**
    - component_id: solid-query-devtools
      name: '@tanstack/solid-query-devtools'
      paths:
        - packages/solid-query-devtools/**
    - component_id: solid-query-persist-client
      name: '@tanstack/solid-query-persist-client'
      paths:
        - packages/solid-query-persist-client/**
    - component_id: svelte-query
      name: '@tanstack/svelte-query'
      paths:
        - packages/svelte-query/**
    - component_id: svelte-query-devtools
      name: '@tanstack/svelte-query-devtools'
      paths:
        - packages/svelte-query-devtools/**
    - component_id: svelte-query-persist-client
      name: '@tanstack/svelte-query-persist-client'
      paths:
        - packages/svelte-query-persist-client/**
    - component_id: vue-query
      name: '@tanstack/vue-query'
      paths:
        - packages/vue-query/**
    - component_id: vue-query-devtools
      name: '@tanstack/vue-query-devtools'
      paths:
        - packages/vue-query-devtools/**

test(react-query/useSuspenseQuery): remove unnecessary 'act' from background refetch, 'refetchInterval', and post-unmount assertions (#10212)
  packages/react-query/src/__tests__/useSuspenseQuery.test.tsx
Due: @tanstack/react-query

test(react-query/useSuspenseInfiniteQuery): add test for basic suspend and resolve states (#10213)
  packages/react-query/src/__tests__/useSuspenseInfiniteQuery.test.tsx
Due: @tanstack/react-query

fix(vue-query/useMutation): add missing '_defaulted' omit in 'UseMutationOptionsBase' (#10215)
  .changeset/fuzzy-chicken-listen.md
  packages/vue-query/src/useMutation.ts
Due: @tanstack/vue-query

test(angular-query/injectIsRestoring): add tests for 'injectIsRestoring' and 'provideIsRestoring' (#10217)
  packages/angular-query-experimental/src/__tests__/inject-is-restoring.test.ts
Due: none

test(angular-query/injectMutation): add test for 'throwOnError' with 'mutate' (#10219)
  packages/angular-query-experimental/src/__tests__/inject-mutation.test.ts
Due: none

test(angular-query/injectQuery): add test for not fetching during restoring period when 'isRestoring' is true (#10220)
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
Due: none

test(vue-query/queryClient): add test for 'ensureQueryData' ref unwrapping (#10221)
  packages/vue-query/src/__tests__/queryClient.test.ts
Due: @tanstack/vue-query

test(vue-query/queryOptions): add runtime test for identity function (#10222)
  packages/vue-query/src/__tests__/queryOptions.test.ts
Due: @tanstack/vue-query

test(vue-query/useQuery): add test for outside scope warning in development mode (#10223)
  packages/vue-query/src/__tests__/useQuery.test.ts
Due: @tanstack/vue-query

test(vue-query/useMutationState): split 'useMutationState' tests into separate file from 'useIsMutating.test.ts' (#10236)
  packages/vue-query/src/__tests__/useIsMutating.test.ts
  packages/vue-query/src/__tests__/useMutationState.test.ts
Due: @tanstack/vue-query

test(vue-query/useIsFetching): add test for outside scope warning in development mode (#10237)
  packages/vue-query/src/__tests__/useIsFetching.test.ts
Due: @tanstack/vue-query

test(vue-query/useMutation): add test for outside scope warning in development mode (#10238)
  packages/vue-query/src/__tests__/useMutation.test.ts
Due: @tanstack/vue-query

test(vue-query/useMutation): add test for 'throw' from error watcher when 'throwOnError' returns true (#10239)
  packages/vue-query/src/__tests__/useMutation.test.ts
Due: @tanstack/vue-query

test(vue-query/useQueries): add test for outside scope warning in development mode (#10240)
  packages/vue-query/src/__tests__/useQueries.test.ts
Due: @tanstack/vue-query

test(svelte-query/createMutation): add test for recreating observer when 'queryClient' changes (#10244)
  packages/svelte-query/tests/createMutation/createMutation.svelte.test.ts
Due: @tanstack/svelte-query

test(svelte-query/{queryOptions,infiniteQueryOptions}): flatten test directories that don't require '.svelte' component files (#10245)
  packages/svelte-query/tests/infiniteQueryOptions.svelte.test.ts
  packages/svelte-query/tests/infiniteQueryOptions.test-d.ts
  packages/svelte-query/tests/queryOptions.svelte.test.ts
  packages/svelte-query/tests/queryOptions.test-d.ts
Due: @tanstack/svelte-query

test(query-core/queriesObserver): add test for subscribing new observers when a query is added while subscribed (#10246)
  packages/query-core/src/__tests__/queriesObserver.test.tsx
Due: @tanstack/query-core

test(query-core/queriesObserver): add test for 'getQueries' method (#10247)
  packages/query-core/src/__tests__/queriesObserver.test.tsx
Due: @tanstack/query-core

test(query-core/queriesObserver): add test for 'getObservers' method (#10248)
  packages/query-core/src/__tests__/queriesObserver.test.tsx
Due: @tanstack/query-core

docs(examples): fix nuxt3 README links and commands (#10227)
  examples/vue/nuxt3/README.md
Due: none

docs(react): update legacy react-query GitHub links (#10232)
  docs/framework/react/comparison.md
  docs/framework/react/guides/migrating-to-react-query-4.md
Due: none

feat/environmentManager (#10199)
  .changeset/moody-mails-deliver.md
  docs/config.json
  docs/reference/environmentManager.md
  packages/preact-query/src/__tests__/utils.tsx
  packages/preact-query/src/useBaseQuery.ts
  packages/query-core/src/__tests__/environmentManager.test.tsx
  packages/query-core/src/__tests__/focusManager.test.tsx
  packages/query-core/src/__tests__/onlineManager.test.tsx
  packages/query-core/src/__tests__/utils.ts
  packages/query-core/src/environmentManager.ts
  packages/query-core/src/focusManager.ts
  packages/query-core/src/index.ts
  packages/query-core/src/onlineManager.ts
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/removable.ts
  packages/query-core/src/retryer.ts
  packages/query-core/src/utils.ts
  packages/react-query/src/__tests__/utils.tsx
  packages/react-query/src/useBaseQuery.ts
Due: @tanstack/query-core, @tanstack/react-query

fix(streamedQuery): maintain error state on reset refetch with initialData defined
  packages/query-core/src/__tests__/streamedQuery.test.tsx
  packages/query-core/src/query.ts
  packages/query-core/src/streamedQuery.ts
Due: @tanstack/query-core

ci: detect agent workflow
  .github/workflows/detect-agent.yml
Due: none

ci: detect agent workflow (#10288)
  .github/workflows/detect-agent.yml
Due: none

ci
  .github/workflows/pr.yml
  .github/workflows/release.yml
Due: none

fix: remove ts 6.0 remnants
  package.json
  pnpm-lock.yaml
Due: none

fix ts peer resolution
  package.json
  packages/preact-query-devtools/package.json
  packages/preact-query-persist-client/package.json
  packages/preact-query/package.json
  packages/svelte-query-devtools/package.json
  packages/svelte-query-persist-client/package.json
  packages/svelte-query/package.json
  pnpm-lock.yaml
Due: @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client

revert debugging
  .github/workflows/pr.yml
  .github/workflows/release.yml
Due: none

revert to main
  .github/workflows/pr.yml
Due: none

fix ci (#10289)
  packages/preact-query-devtools/package.json
  packages/preact-query-persist-client/package.json
  packages/preact-query/package.json
  packages/svelte-query-devtools/package.json
  packages/svelte-query-persist-client/package.json
  packages/svelte-query/package.json
  pnpm-lock.yaml
Due: @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client

fix(examples): guard missing mount targets in react examples (#10226)
  examples/react/basic/src/index.tsx
  examples/react/rick-morty/src/index.tsx
  examples/react/simple/src/index.tsx
  examples/react/star-wars/src/index.tsx
Due: none

docs: Update Hey API description (#10230)
  docs/community-resources.md
Due: none

ref: changeset
  .changeset/shaggy-ducks-cheer.md
Due: none

test(vue-query/useQueries): add test for 'refetch' of individual query without affecting others (#10242)
  packages/vue-query/src/__tests__/useQueries.test.ts
Due: @tanstack/vue-query

fix(core): cancel paused initial fetch when last observer unsubscribes
  packages/query-core/src/__tests__/query.test.tsx
  packages/query-core/src/query.ts
  packages/react-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/query-core, @tanstack/react-query

Tweaks
  packages/solid-query-devtools/package.json
  packages/solid-query-persist-client/package.json
  packages/solid-query/package.json
  packages/solid-query/src/__tests__/useMutation.test.tsx
Due: @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client

Fix test
  package.json
  packages/solid-query/src/__tests__/mutationOptions.test.tsx
Due: @tanstack/solid-query

Fix test
  packages/solid-query/src/__tests__/mutationOptions.test.tsx
Due: @tanstack/solid-query

Change posts filtering to slicing for limit
  examples/react/nextjs/src/hooks/usePosts/index.js
Due: none
