Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools, @tanstack/angular-query, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

fix(solid-query-devtools): fix typing issue (#9621)
  packages/solid-query-devtools/src/devtoolsPanel.tsx
Due: @tanstack/solid-query-devtools

release: v5.87.2
  examples/solid/astro/package.json
  examples/solid/basic-graphql-request/package.json
  examples/solid/basic/package.json
  examples/solid/default-query-function/package.json
  examples/solid/simple/package.json
  examples/solid/solid-start-streaming/package.json
  packages/solid-query-devtools/package.json
Due: @tanstack/solid-query-devtools

docs: Remove fragment in disabling-queries guide (#9619)
  docs/framework/react/guides/disabling-queries.md
Due: none

fix(ci): resolve v4 CI timeout by disabling Nx Cloud distributed execution
  .github/workflows/pr.yml
Due: none

fix(ci): resolve v4 CI timeout by disabling Nx Cloud distributed execution (#9623)
  .github/workflows/pr.yml
Due: none

fix: add work break to code element to prevent DevPanel from expanding
  packages/query-devtools/src/Devtools.tsx
Due: @tanstack/query-devtools

refactor(useSuspenseInfiniteQuery): remove unused import of useInfiniteQuery
  packages/react-query/src/useSuspenseInfiniteQuery.ts
Due: @tanstack/react-query

fix: update fetchNextPage condition in Example component
  examples/react/load-more-infinite-scroll/src/pages/index.tsx
Due: none

docs: update fetchNextPage condition in Example component (#9626)
  examples/react/load-more-infinite-scroll/src/pages/index.tsx
Due: none

test(svelte-query/createMutation): improve callback assertions with 'toHaveBeenNthCalledWith' and apply shorthand property syntax in FailureExample
  packages/svelte-query/tests/createMutation/FailureExample.svelte
  packages/svelte-query/tests/createMutation/createMutation.test.ts
Due: @tanstack/svelte-query

fix(query-devtools): add work break to code element to prevent DevPanel from expanding (#9625)
  packages/query-devtools/src/Devtools.tsx
Due: @tanstack/query-devtools

test(svelte-query/createMutation): improve callback assertions with 'toHaveBeenNthCalledWith' and apply shorthand property syntax in FailureExample (#9630)
  packages/svelte-query/tests/createMutation/FailureExample.svelte
  packages/svelte-query/tests/createMutation/createMutation.test.ts
Due: @tanstack/svelte-query

test(query-core/focusManager): remove redundant 'toHaveBeenCalledTimes' from listener test assertions
  packages/query-core/src/__tests__/focusManager.test.tsx
Due: @tanstack/query-core

fix(query-core): mutation onSuccess scope param should also be undefined
  packages/query-core/src/types.ts
Due: @tanstack/query-core

feat: add scope deprecate context on mutation state
  packages/query-core/src/__tests__/mutations.test.tsx
  packages/query-core/src/mutation.ts
  packages/query-core/src/mutationObserver.ts
  packages/query-devtools/src/Devtools.tsx
Due: @tanstack/query-core, @tanstack/query-devtools

test(unit): update to handle context in mutation callbacks
  packages/query-core/src/__tests__/hydration.test.tsx
  packages/query-core/src/__tests__/mutationObserver.test.tsx
  packages/query-core/src/__tests__/mutations.test.tsx
  packages/react-query/src/__tests__/useMutation.test.tsx
  packages/solid-query/src/__tests__/useMutation.test.tsx
Due: @tanstack/query-core, @tanstack/react-query, @tanstack/solid-query

feat(query-core): add mutation context to all mutation callbacks
  docs/framework/angular/guides/mutations.md
  docs/framework/angular/guides/optimistic-updates.md
  docs/framework/react/guides/mutations.md
  docs/framework/react/guides/optimistic-updates.md
  examples/react/optimistic-updates-cache/src/pages/index.tsx
  packages/query-core/src/mutation.ts
  packages/query-core/src/mutationObserver.ts
  packages/query-core/src/types.ts
  packages/react-query/src/__tests__/mutationOptions.test-d.tsx
Due: @tanstack/query-core, @tanstack/react-query

chore: pr amends
  docs/framework/angular/guides/mutations.md
  docs/framework/react/guides/mutations.md
  docs/framework/react/reference/useMutation.md
  packages/angular-query-experimental/src/__tests__/mutation-options.test-d.ts
  packages/query-core/src/mutation.ts
Due: @tanstack/query-core

[v4] Fix infinite re-renders with synchronous queries in suspense mode (#9584)
  packages/react-query/src/__tests__/suspense.test.tsx
  packages/react-query/src/suspense.ts
Due: @tanstack/react-query

release: v4.40.2
  examples/react/algolia/package.json
  examples/react/auto-refetching/package.json
  examples/react/basic-graphql-request/package.json
  examples/react/basic-typescript/package.json
  examples/react/basic/package.json
  examples/react/default-query-function/package.json
  examples/react/load-more-infinite-scroll/package.json
  examples/react/nextjs/package.json
  examples/react/offline/package.json
  examples/react/optimistic-updates-typescript/package.json
  examples/react/pagination/package.json
  examples/react/playground/package.json
  examples/react/prefetching/package.json
  examples/react/react-native/package.json
  examples/react/react-router/package.json
  examples/react/rick-morty/package.json
  examples/react/simple/package.json
  examples/react/star-wars/package.json
  examples/react/suspense/package.json
  packages/react-query-devtools/package.json
  packages/react-query-persist-client/package.json
  packages/react-query/package.json
  pnpm-lock.yaml
Due: @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-persist-client

feat(react-query): introduce useSuspenseInfiniteQuery and infiniteQueryOptions for enhanced infinite query handling
  packages/query-core/src/types.ts
  packages/react-query/src/__tests__/infiniteQueryOptions.test.tsx
  packages/react-query/src/__tests__/infiniteQueryOptions.types.test.tsx
  packages/react-query/src/__tests__/queryOptions.types.test.tsx
  packages/react-query/src/__tests__/useSuspenseInfiniteQuery.types.test.tsx
  packages/react-query/src/index.ts
  packages/react-query/src/infiniteQueryOptions.ts
  packages/react-query/src/queryOptions.ts
  packages/react-query/src/types.ts
  packages/react-query/src/useInfiniteQuery.ts
  packages/react-query/src/useQuery.ts
  packages/react-query/src/useSuspenseInfiniteQuery.ts
Due: @tanstack/query-core, @tanstack/react-query

feat(react-query): backport v5 apis about infinite query (#9334)
  packages/query-core/src/types.ts
  packages/react-query/src/__tests__/infiniteQueryOptions.test.tsx
  packages/react-query/src/__tests__/infiniteQueryOptions.types.test.tsx
  packages/react-query/src/__tests__/queryOptions.types.test.tsx
  packages/react-query/src/__tests__/useSuspenseInfiniteQuery.types.test.tsx
  packages/react-query/src/index.ts
  packages/react-query/src/infiniteQueryOptions.ts
  packages/react-query/src/queryOptions.ts
  packages/react-query/src/types.ts
  packages/react-query/src/useInfiniteQuery.ts
  packages/react-query/src/useQuery.ts
  packages/react-query/src/useSuspenseInfiniteQuery.ts
Due: @tanstack/query-core, @tanstack/react-query

chore: update
  pnpm-lock.yaml
Due: none

fix(query-core,react-query): preserve infinite query type through failed SSR hydration
  packages/query-core/src/__tests__/hydration.test.tsx
  packages/query-core/src/hydration.ts
  packages/query-core/src/query.ts
  packages/react-query/src/__tests__/ssr-hydration.test.tsx
Due: @tanstack/query-core, @tanstack/react-query

fix(query-core): respect refetchIntervalInBackground option for query retries
  packages/query-core/src/__tests__/query.test.tsx
  packages/query-core/src/query.ts
  packages/query-core/src/retryer.ts
  packages/query-core/src/types.ts
Due: @tanstack/query-core

test(vue-query): add type-check test for useInfiniteQuery with infiniteQueryOptions
  examples/vue/basic/src/type-problem.ts
  packages/vue-query/src/__tests__/useInfiniteQuery.test-d.tsx
Due: @tanstack/vue-query

fix(vue-query): wrap useInfiniteQuery options in MaybeRefOrGetter
  packages/vue-query/src/__tests__/useInfiniteQuery.test-d.tsx
  packages/vue-query/src/useBaseQuery.ts
  packages/vue-query/src/useInfiniteQuery.ts
Due: @tanstack/vue-query

readme updates
  README.md
  media/header_query.png
Due: none

remove type problem example
  examples/vue/basic/src/type-problem.ts
Due: none

test(useQueries): add test for preventing infinite re-renders
  packages/react-query/src/__tests__/useQueries.test.tsx
Due: @tanstack/react-query

fix(query-core): resolve infinite re-renders in queriesObserver
  packages/query-core/src/queriesObserver.ts
Due: @tanstack/query-core

style(useQueries): remove unnecessary comments
  packages/react-query/src/__tests__/useQueries.test.tsx
Due: @tanstack/react-query

fix(query-core): infinite re-renders in useQueries (#9639)
  packages/query-core/src/queriesObserver.ts
  packages/react-query/src/__tests__/useQueries.test.tsx
Due: @tanstack/query-core, @tanstack/react-query

Path conditions:
  @tanstack/angular-query-devtools: any of: packages/angular-query-devtools/**
  @tanstack/angular-query: any of: packages/angular-query/**
  @tanstack/eslint-plugin-query: any of: packages/eslint-plugin-query/**
  @tanstack/query-async-storage-persister: any of: packages/query-async-storage-persister/**
  @tanstack/query-broadcast-client-experimental: any of: packages/query-broadcast-client-experimental/**
  @tanstack/query-codemods: any of: packages/query-codemods/**
  @tanstack/query-core: any of: packages/query-core/**
  @tanstack/query-devtools: any of: packages/query-devtools/**
  @tanstack/query-persist-client-core: any of: packages/query-persist-client-core/**
  @tanstack/query-sync-storage-persister: any of: packages/query-sync-storage-persister/**
  @tanstack/query-test-utils: any of: packages/query-test-utils/**
  @tanstack/react-query: any of: packages/react-query/**
  @tanstack/react-query-devtools: any of: packages/react-query-devtools/**
  @tanstack/react-query-next-experimental: any of: packages/react-query-next-experimental/**
  @tanstack/react-query-persist-client: any of: packages/react-query-persist-client/**
  @tanstack/solid-query: any of: packages/solid-query/**
  @tanstack/solid-query-devtools: any of: packages/solid-query-devtools/**
  @tanstack/solid-query-persist-client: any of: packages/solid-query-persist-client/**
  @tanstack/svelte-query: any of: packages/svelte-query/**
  @tanstack/svelte-query-devtools: any of: packages/svelte-query-devtools/**
  @tanstack/svelte-query-persist-client: any of: packages/svelte-query-persist-client/**
  @tanstack/vue-query: any of: packages/vue-query/**
  @tanstack/vue-query-devtools: any of: packages/vue-query-devtools/**
