Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 1%

comment:
  layout: 'header, reach, diff, flags, components'

component_management:
  individual_components:
    - component_id: angular-query-devtools-experimental
      name: '@tanstack/angular-query-devtools-experimental'
      paths:
        - packages/angular-query-devtools-experimental/**
    - component_id: angular-query-experimental
      name: '@tanstack/angular-query-experimental'
      paths:
        - packages/angular-query-experimental/**
    - component_id: eslint-plugin-query
      name: '@tanstack/eslint-plugin-query'
      paths:
        - packages/eslint-plugin-query/**
    - component_id: query-async-storage-persister
      name: '@tanstack/query-async-storage-persister'
      paths:
        - packages/query-async-storage-persister/**
    - component_id: query-broadcast-client-experimental
      name: '@tanstack/query-broadcast-client-experimental'
      paths:
        - packages/query-broadcast-client-experimental/**
    - component_id: query-codemods
      name: '@tanstack/query-codemods'
      paths:
        - packages/codemods/**
    - component_id: query-core
      name: '@tanstack/query-core'
      paths:
        - packages/query-core/**
    - component_id: query-devtools
      name: '@tanstack/query-devtools'
      paths:
        - packages/query-devtools/**
    - component_id: query-persist-client-core
      name: '@tanstack/query-persist-client-core'
      paths:
        - packages/query-persist-client-core/**
    - component_id: query-sync-storage-persister
      name: '@tanstack/query-sync-storage-persister'
      paths:
        - packages/query-sync-storage-persister/**
    - component_id: react-query
      name: '@tanstack/react-query'
      paths:
        - packages/react-query/**
    - component_id: react-query-devtools
      name: '@tanstack/react-query-devtools'
      paths:
        - packages/react-query-devtools/**
    - component_id: react-query-next-experimental
      name: '@tanstack/react-query-next-experimental'
      paths:
        - packages/react-query-next-experimental/**
    - component_id: react-query-persist-client
      name: '@tanstack/react-query-persist-client'
      paths:
        - packages/react-query-persist-client/**
    - component_id: solid-query
      name: '@tanstack/solid-query'
      paths:
        - packages/solid-query/**
    - component_id: solid-query-devtools
      name: '@tanstack/solid-query-devtools'
      paths:
        - packages/solid-query-devtools/**
    - component_id: solid-query-persist-client
      name: '@tanstack/solid-query-persist-client'
      paths:
        - packages/solid-query-persist-client/**
    - component_id: svelte-query
      name: '@tanstack/svelte-query'
      paths:
        - packages/svelte-query/**
    - component_id: svelte-query-devtools
      name: '@tanstack/svelte-query-devtools'
      paths:
        - packages/svelte-query-devtools/**
    - component_id: svelte-query-persist-client
      name: '@tanstack/svelte-query-persist-client'
      paths:
        - packages/svelte-query-persist-client/**
    - component_id: vue-query
      name: '@tanstack/vue-query'
      paths:
        - packages/vue-query/**
    - component_id: vue-query-devtools
      name: '@tanstack/vue-query-devtools'
      paths:
        - packages/vue-query-devtools/**

Update docs/framework/react/guides/query-options.md
  docs/framework/react/guides/query-options.md
Due: none

docs(react-query): highlight per component select pattern for query options (#8522)
  docs/framework/react/guides/query-options.md
Due: none

fix: ?
  integrations/react-next-15/app/providers.tsx
  packages/query-core/src/hydration.ts
  packages/query-core/src/query.ts
  packages/react-query/src/HydrationBoundary.tsx
Due: @tanstack/query-core, @tanstack/react-query

fix: check for pending status again
  packages/query-core/src/hydration.ts
Due: @tanstack/query-core

fix: clear serverQueryClient between "requests"
  packages/query-core/src/__tests__/hydration.test.tsx
Due: @tanstack/query-core

fix(types): support both `Array` and `ReadonlyArray` for typed query and mutation keys
  packages/query-core/src/types.ts
Due: @tanstack/query-core

fix(types): support both `Array` and `ReadonlyArray` for typed query and mutation keys (#8529)
  packages/query-core/src/types.ts
Due: @tanstack/query-core

chore(deps): replace rimraf with premove
  package.json
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/package.json
  packages/eslint-plugin-query/package.json
  packages/query-async-storage-persister/package.json
  packages/query-broadcast-client-experimental/package.json
  packages/query-core/package.json
  packages/query-devtools/package.json
  packages/query-persist-client-core/package.json
  packages/query-sync-storage-persister/package.json
  packages/react-query-devtools/package.json
  packages/react-query-next-experimental/package.json
  packages/react-query-persist-client/package.json
  packages/react-query/package.json
  packages/solid-query-devtools/package.json
  packages/solid-query-persist-client/package.json
  packages/solid-query/package.json
  packages/svelte-query-devtools/package.json
  packages/svelte-query-persist-client/package.json
  packages/svelte-query/package.json
  packages/vue-query-devtools/package.json
  packages/vue-query/package.json
  pnpm-lock.yaml
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

Fix command
  packages/query-devtools/package.json
  packages/query-persist-client-core/package.json
  packages/query-sync-storage-persister/package.json
  packages/react-query-devtools/package.json
  packages/react-query-next-experimental/package.json
  packages/react-query-persist-client/package.json
  packages/react-query/package.json
  packages/solid-query-devtools/package.json
  packages/solid-query-persist-client/package.json
  packages/solid-query/package.json
  packages/svelte-query-devtools/package.json
  packages/svelte-query-persist-client/package.json
  packages/svelte-query/package.json
  packages/vue-query-devtools/package.json
  packages/vue-query/package.json
Due: @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

Fix sherif
  package.json
Due: none

chore(deps): replace rimraf with premove (#8532)
  package.json
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/package.json
  packages/eslint-plugin-query/package.json
  packages/query-async-storage-persister/package.json
  packages/query-broadcast-client-experimental/package.json
  packages/query-core/package.json
  packages/query-devtools/package.json
  packages/query-persist-client-core/package.json
  packages/query-sync-storage-persister/package.json
  packages/react-query-devtools/package.json
  packages/react-query-next-experimental/package.json
  packages/react-query-persist-client/package.json
  packages/react-query/package.json
  packages/solid-query-devtools/package.json
  packages/solid-query-persist-client/package.json
  packages/solid-query/package.json
  packages/svelte-query-devtools/package.json
  packages/svelte-query-persist-client/package.json
  packages/svelte-query/package.json
  packages/vue-query-devtools/package.json
  packages/vue-query/package.json
  pnpm-lock.yaml
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

feat: use Accessor utility type in hooks
  packages/svelte-query/src/context.ts
  packages/svelte-query/src/useIsFetching.svelte.ts
  packages/svelte-query/src/useIsMutating.svelte.ts
  packages/svelte-query/src/useIsRestoring.ts
Due: @tanstack/svelte-query

refactor: replace Accessor<T> wth FunctionedParams<T>
  packages/solid-query/src/infiniteQueryOptions.ts
  packages/solid-query/src/queryOptions.ts
  packages/solid-query/src/types.ts
Due: @tanstack/solid-query

chore: remove logs
  integrations/react-next-15/app/client-component.tsx
  integrations/react-next-15/app/make-query-client.ts
  integrations/react-next-15/app/page.tsx
Due: none

dedupe
  pnpm-lock.yaml
Due: none

fix(react-query): add missing subscribed option to UseInfiniteQueryOptions
  packages/react-query/src/types.ts
Due: @tanstack/react-query

fix(react-query): add missing subscribed option to UseInfiniteQueryOptions (#8546)
  packages/react-query/src/types.ts
Due: @tanstack/react-query

chore: prefer using satisfies instead of type cast in persistQueryClient docs
  docs/framework/react/plugins/persistQueryClient.md
Due: none

docs: prefer using satisfies instead of type cast in persistQueryClient docs (#8551)
  docs/framework/react/plugins/persistQueryClient.md
Due: none

chore: query-query, react-query and persist-core to composite setup
  package.json
  packages/query-core/eslint.config.js
  packages/query-core/root.eslint.config.js
  packages/query-core/root.tsup.config.js
  packages/query-core/tsconfig.json
  packages/query-core/tsconfig.legacy.json
  packages/query-core/tsup.config.js
  packages/query-core/vite.config.ts
  packages/query-persist-client-core/eslint.config.js
  packages/query-persist-client-core/root.eslint.config.js
  packages/query-persist-client-core/root.tsup.config.js
  packages/query-persist-client-core/tsconfig.json
  packages/query-persist-client-core/tsup.config.js
  packages/query-persist-client-core/vite.config.ts
  packages/react-query/eslint.config.js
  packages/react-query/package.json
  packages/react-query/root.eslint.config.js
  packages/react-query/root.tsup.config.js
  packages/react-query/src/__tests__/useMutation.test.tsx
  packages/react-query/tsconfig.json
  packages/react-query/tsconfig.legacy.json
  packages/react-query/tsup.config.js
  packages/react-query/vite.config.ts
  pnpm-lock.yaml
  tsconfig.json
Due: @tanstack/query-core, @tanstack/query-persist-client-core, @tanstack/react-query

fix: add tsConfigPaths to vite config
  packages/angular-query-devtools-experimental/vite.config.ts
  packages/angular-query-experimental/vite.config.ts
  packages/eslint-plugin-query/vite.config.ts
  packages/query-async-storage-persister/vite.config.ts
  packages/query-codemods/vite.config.ts
  packages/query-devtools/vite.config.ts
  packages/query-sync-storage-persister/vite.config.ts
  packages/react-query-devtools/vite.config.ts
  packages/react-query-next-experimental/vite.config.ts
  packages/react-query-persist-client/vite.config.ts
  packages/solid-query-devtools/vite.config.ts
  packages/solid-query-persist-client/vite.config.ts
  packages/solid-query/vite.config.ts
  packages/svelte-query-devtools/vite.config.ts
  packages/svelte-query-persist-client/vite.config.ts
  packages/svelte-query/vite.config.ts
  packages/vue-query-devtools/vite.config.ts
  packages/vue-query/vite.config.ts
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-devtools, @tanstack/query-sync-storage-persister, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

chore: set outDir, rootDir and baseUrl for all packages
  packages/angular-query-devtools-experimental/tsconfig.json
  packages/angular-query-experimental/tsconfig.json
  packages/eslint-plugin-query/tsconfig.json
  packages/query-async-storage-persister/tsconfig.json
  packages/query-broadcast-client-experimental/tsconfig.json
  packages/query-codemods/tsconfig.json
  packages/query-devtools/tsconfig.json
  packages/query-sync-storage-persister/tsconfig.json
  packages/react-query-devtools/tsconfig.json
  packages/react-query-next-experimental/tsconfig.json
  packages/react-query-persist-client/tsconfig.json
  packages/solid-query-devtools/tsconfig.json
  packages/solid-query-persist-client/tsconfig.json
  packages/solid-query/tsconfig.json
  packages/svelte-query-devtools/tsconfig.json
  packages/svelte-query-persist-client/tsconfig.json
  packages/svelte-query/tsconfig.json
  packages/vue-query-devtools/tsconfig.json
  packages/vue-query/tsconfig.json
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-devtools, @tanstack/query-sync-storage-persister, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

chore: make legacy tsconfig extend regular tsconfig
  packages/solid-query/tsconfig.legacy.json
  packages/vue-query/tsconfig.legacy.json
Due: @tanstack/solid-query, @tanstack/vue-query

fix: tsc --build
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/package.json
  packages/eslint-plugin-query/package.json
  packages/query-async-storage-persister/package.json
  packages/query-broadcast-client-experimental/package.json
  packages/query-core/package.json
  packages/query-devtools/package.json
  packages/query-persist-client-core/package.json
  packages/query-sync-storage-persister/package.json
  packages/react-query-devtools/package.json
  packages/react-query-next-experimental/package.json
  packages/react-query-persist-client/package.json
  packages/solid-query-devtools/package.json
  packages/solid-query-persist-client/package.json
  packages/solid-query/package.json
  packages/vue-query/package.json
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/vue-query

feat: setup project references
  packages/angular-query-devtools-experimental/tsconfig.json
  packages/angular-query-experimental/tsconfig.json
  packages/query-async-storage-persister/tsconfig.json
  packages/query-broadcast-client-experimental/tsconfig.json
  packages/query-devtools/tsconfig.json
  packages/query-sync-storage-persister/tsconfig.json
  packages/react-query-devtools/tsconfig.json
  packages/react-query-next-experimental/tsconfig.json
  packages/react-query-persist-client/tsconfig.json
  packages/solid-query-devtools/tsconfig.json
  packages/solid-query-persist-client/tsconfig.json
  packages/solid-query/tsconfig.json
  packages/svelte-query-devtools/tsconfig.json
  packages/svelte-query-persist-client/tsconfig.json
  packages/svelte-query/tsconfig.json
  packages/vue-query-devtools/tsconfig.json
  packages/vue-query/tsconfig.json
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-devtools, @tanstack/query-sync-storage-persister, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

fix: legacy configs also need references
  packages/react-query/tsconfig.legacy.json
  packages/solid-query/tsconfig.legacy.json
  packages/vue-query/tsconfig.legacy.json
Due: @tanstack/react-query, @tanstack/solid-query, @tanstack/vue-query

fix: oops
  packages/query-core/package.json
Due: @tanstack/query-core

Document `staleTime`'s default
  packages/query-core/src/types.ts
Due: @tanstack/query-core

fix: tsup related builds
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-devtools-experimental/tsconfig.prod.json
  packages/angular-query-experimental/package.json
  packages/angular-query-experimental/tsconfig.prod.json
  packages/query-async-storage-persister/package.json
  packages/query-async-storage-persister/tsconfig.prod.json
  packages/query-broadcast-client-experimental/package.json
  packages/query-broadcast-client-experimental/tsconfig.prod.json
  packages/query-core/package.json
  packages/query-core/tsconfig.prod.json
  packages/query-devtools/package.json
  packages/query-devtools/tsconfig.prod.json
  packages/query-persist-client-core/package.json
  packages/query-persist-client-core/tsconfig.prod.json
  packages/query-sync-storage-persister/package.json
  packages/query-sync-storage-persister/tsconfig.prod.json
  packages/react-query-devtools/package.json
  packages/react-query-devtools/tsconfig.prod.json
  packages/react-query-next-experimental/package.json
  packages/react-query-next-experimental/tsconfig.prod.json
  packages/react-query-persist-client/package.json
  packages/react-query-persist-client/tsconfig.prod.json
  packages/react-query/package.json
  packages/react-query/tsconfig.prod.json
  packages/solid-query-devtools/package.json
  packages/solid-query-devtools/tsconfig.prod.json
  packages/solid-query-persist-client/package.json
  packages/solid-query-persist-client/tsconfig.prod.json
  packages/solid-query/package.json
  packages/solid-query/tsconfig.prod.json
  packages/vue-query/package.json
  packages/vue-query/tsconfig.prod.json
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/vue-query

fix: set rootDir for tsup builds
  packages/angular-query-devtools-experimental/tsconfig.prod.json
  packages/angular-query-experimental/tsconfig.prod.json
  packages/query-async-storage-persister/tsconfig.prod.json
  packages/query-broadcast-client-experimental/tsconfig.prod.json
  packages/query-core/tsconfig.prod.json
  packages/query-devtools/tsconfig.prod.json
  packages/query-persist-client-core/tsconfig.prod.json
  packages/query-sync-storage-persister/tsconfig.prod.json
  packages/react-query-devtools/tsconfig.prod.json
  packages/react-query-next-experimental/tsconfig.prod.json
  packages/react-query-persist-client/tsconfig.prod.json
  packages/react-query/tsconfig.prod.json
  packages/solid-query-devtools/tsconfig.prod.json
  packages/solid-query-persist-client/tsconfig.prod.json
  packages/solid-query/tsconfig.prod.json
  packages/vue-query/tsconfig.prod.json
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/vue-query

fix: remove dependencies on ^build
  nx.json
Due: none

fix: add separate out dir for tsc
  .gitignore
  packages/angular-query-devtools-experimental/tsconfig.json
  packages/angular-query-experimental/tsconfig.json
  packages/eslint-plugin-query/tsconfig.json
  packages/query-async-storage-persister/tsconfig.json
  packages/query-broadcast-client-experimental/tsconfig.json
  packages/query-codemods/tsconfig.json
  packages/query-core/tsconfig.json
  packages/query-devtools/tsconfig.json
  packages/query-persist-client-core/tsconfig.json
  packages/query-sync-storage-persister/tsconfig.json
  packages/react-query-devtools/tsconfig.json
  packages/react-query-next-experimental/tsconfig.json
  packages/react-query-persist-client/tsconfig.json
  packages/react-query/tsconfig.json
  packages/solid-query-devtools/tsconfig.json
  packages/solid-query-persist-client/tsconfig.json
  packages/solid-query/tsconfig.json
  packages/svelte-query-devtools/tsconfig.json
  packages/svelte-query-persist-client/tsconfig.json
  packages/svelte-query/tsconfig.json
  packages/vue-query-devtools/tsconfig.json
  packages/vue-query/tsconfig.json
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

fix: include root eslint config in globals
  nx.json
Due: none

refactor: create compile task to depend on
  nx.json
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/package.json
  packages/eslint-plugin-query/package.json
  packages/query-async-storage-persister/package.json
  packages/query-broadcast-client-experimental/package.json
  packages/query-codemods/package.json
  packages/query-core/package.json
  packages/query-devtools/package.json
  packages/query-persist-client-core/package.json
  packages/query-sync-storage-persister/package.json
  packages/react-query-devtools/package.json
  packages/react-query-next-experimental/package.json
  packages/react-query-persist-client/package.json
  packages/react-query/package.json
  packages/solid-query-devtools/package.json
  packages/solid-query-persist-client/package.json
  packages/solid-query/package.json
  packages/svelte-query-devtools/package.json
  packages/svelte-query-persist-client/package.json
  packages/svelte-query/package.json
  packages/vue-query-devtools/package.json
  packages/vue-query/package.json
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

fix: typo
  packages/query-codemods/package.json
Due: none
