Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

docs: Update overview.md (#9181)
  docs/framework/react/overview.md
Due: none

feat(eslint-plugin): add mutation-property-order rule
  packages/eslint-plugin-query/src/index.ts
  packages/eslint-plugin-query/src/rules.ts
  packages/eslint-plugin-query/src/rules/mutation-property-order/constants.ts
  packages/eslint-plugin-query/src/rules/mutation-property-order/mutation-property-order.rule.ts
  packages/eslint-plugin-query/src/rules/mutation-property-order/mutation-property-order.utils.ts
Due: @tanstack/eslint-plugin-query

test(eslint-plugin): add tests for mutation-property-order rule
  packages/eslint-plugin-query/src/__tests__/mutation-property-order.rule.test.ts
Due: @tanstack/eslint-plugin-query

refactor: centralize NonUndefinedGuard type definition
  packages/angular-query-experimental/src/infinite-query-options.ts
  packages/angular-query-experimental/src/query-options.ts
  packages/query-core/src/types.ts
  packages/react-query/src/infiniteQueryOptions.ts
  packages/react-query/src/queryOptions.ts
  packages/solid-query/src/infiniteQueryOptions.ts
  packages/svelte-query/src/queryOptions.ts
  packages/vue-query/src/infiniteQueryOptions.ts
  packages/vue-query/src/useQuery.ts
Due: @tanstack/angular-query-experimental, @tanstack/query-core, @tanstack/react-query, @tanstack/solid-query, @tanstack/svelte-query, @tanstack/vue-query

test(HydrationBoundary): fix broken infinite loop when hydrating promises test
  packages/react-query/src/__tests__/HydrationBoundary.test.tsx
Due: @tanstack/react-query

fix(hydration): do not hydrate promises if existing query is fetching
  packages/query-core/src/hydration.ts
  packages/react-query/src/HydrationBoundary.tsx
Due: @tanstack/query-core, @tanstack/react-query

feat: backport v5 apis to v4
  .nvmrc
  package.json
  packages/query-core/src/mutationObserver.ts
  packages/query-core/src/queryCache.ts
  packages/query-core/src/queryClient.ts
  packages/query-core/src/tests/mutations.test.tsx
  packages/query-core/src/tests/queryClient.types.test.tsx
  packages/query-core/src/tests/utils.ts
  packages/query-core/src/types.ts
  packages/react-query/src/__tests__/queryOptions.types.test.tsx
  packages/react-query/src/__tests__/useQuery.types.test.tsx
  packages/react-query/src/__tests__/useSuspenseQueries.types.test.tsx
  packages/react-query/src/__tests__/useSuspenseQuery.types.test.tsx
  packages/react-query/src/__tests__/utils.tsx
  packages/react-query/src/index.ts
  packages/react-query/src/queryOptions.ts
  packages/react-query/src/useQueries.ts
  packages/react-query/src/useQuery.ts
  packages/react-query/src/useSuspenseQueries.ts
  packages/react-query/src/useSuspenseQuery.ts
  packages/vue-query/src/queryCache.ts
  pnpm-lock.yaml
Due: @tanstack/query-core, @tanstack/react-query, @tanstack/vue-query

chore: remove runaway console.log
  packages/react-query/src/__tests__/HydrationBoundary.test.tsx
Due: @tanstack/react-query

fix(core): do not hydrate promises if existing query is already fetching
  packages/query-core/src/hydration.ts
  packages/react-query/src/HydrationBoundary.tsx
  packages/react-query/src/__tests__/HydrationBoundary.test.tsx
Due: @tanstack/query-core, @tanstack/react-query

feat(eslint-plugin): refactor and add mutation-property-order rule
  packages/eslint-plugin-query/src/__tests__/mutation-property-order.rule.test.ts
  packages/eslint-plugin-query/src/__tests__/sort-data-by-order.utils.test.ts
  packages/eslint-plugin-query/src/index.ts
  packages/eslint-plugin-query/src/rules.ts
  packages/eslint-plugin-query/src/rules/infinite-query-property-order/constants.ts
  packages/eslint-plugin-query/src/rules/mutation-property-order/constants.ts
  packages/eslint-plugin-query/src/rules/mutation-property-order/mutation-property-order.rule.ts
  packages/eslint-plugin-query/src/utils/create-property-order-rule.ts
  packages/eslint-plugin-query/src/utils/sort-data-by-order.ts
Due: @tanstack/eslint-plugin-query

refactor: centralize NonUndefinedGuard type definition (#9187)
  packages/angular-query-experimental/src/infinite-query-options.ts
  packages/angular-query-experimental/src/query-options.ts
  packages/query-core/src/types.ts
  packages/react-query/src/infiniteQueryOptions.ts
  packages/react-query/src/queryOptions.ts
  packages/solid-query/src/infiniteQueryOptions.ts
  packages/svelte-query/src/queryOptions.ts
  packages/vue-query/src/infiniteQueryOptions.ts
  packages/vue-query/src/useQuery.ts
Due: @tanstack/angular-query-experimental, @tanstack/query-core, @tanstack/react-query, @tanstack/solid-query, @tanstack/svelte-query, @tanstack/vue-query

feat: backport v5 apis to v4 (#9140)
  .nvmrc
  package.json
  packages/query-core/src/mutationObserver.ts
  packages/query-core/src/queryCache.ts
  packages/query-core/src/queryClient.ts
  packages/query-core/src/tests/mutations.test.tsx
  packages/query-core/src/tests/queryClient.types.test.tsx
  packages/query-core/src/tests/utils.ts
  packages/query-core/src/types.ts
  packages/react-query/src/__tests__/queryOptions.types.test.tsx
  packages/react-query/src/__tests__/useQuery.types.test.tsx
  packages/react-query/src/__tests__/useSuspenseQueries.types.test.tsx
  packages/react-query/src/__tests__/useSuspenseQuery.types.test.tsx
  packages/react-query/src/__tests__/utils.tsx
  packages/react-query/src/index.ts
  packages/react-query/src/queryOptions.ts
  packages/react-query/src/useQueries.ts
  packages/react-query/src/useQuery.ts
  packages/react-query/src/useSuspenseQueries.ts
  packages/react-query/src/useSuspenseQuery.ts
  packages/vue-query/src/queryCache.ts
  pnpm-lock.yaml
Due: @tanstack/query-core, @tanstack/react-query, @tanstack/vue-query

feat(eslint-plugin): refactor and add mutation-property-order rule (#9191)
  packages/eslint-plugin-query/src/__tests__/mutation-property-order.rule.test.ts
  packages/eslint-plugin-query/src/__tests__/sort-data-by-order.utils.test.ts
  packages/eslint-plugin-query/src/index.ts
  packages/eslint-plugin-query/src/rules.ts
  packages/eslint-plugin-query/src/rules/infinite-query-property-order/constants.ts
  packages/eslint-plugin-query/src/rules/mutation-property-order/constants.ts
  packages/eslint-plugin-query/src/rules/mutation-property-order/mutation-property-order.rule.ts
  packages/eslint-plugin-query/src/utils/create-property-order-rule.ts
  packages/eslint-plugin-query/src/utils/sort-data-by-order.ts
Due: @tanstack/eslint-plugin-query

release: v5.78.0
  examples/react/algolia/package.json
  examples/react/basic/package.json
  examples/react/eslint-legacy/package.json
  examples/solid/simple/package.json
  packages/eslint-plugin-query/package.json
Due: @tanstack/eslint-plugin-query

feat(query-core): add MutationFunctionContext argument to mutateFn
  docs/framework/react/reference/useMutation.md
  packages/query-core/src/__tests__/mutations.test.tsx
  packages/query-core/src/__tests__/utils.test.tsx
  packages/query-core/src/mutation.ts
  packages/query-core/src/mutationCache.ts
  packages/query-core/src/types.ts
Due: @tanstack/query-core

docs: restore react/mutations.md ducumentation
  docs/framework/react/guides/mutations.md
Due: none

Update docs/framework/react/guides/mutations.md
  docs/framework/react/guides/mutations.md
Due: none

Support `Map` and `Set` as query keys
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

perf: change "difference" util function
  packages/query-core/src/queriesObserver.ts
Due: @tanstack/query-core

refactor: narrow onSuccess/onError/onMutate/onSettled callback types to Promise<void> | void
  packages/angular-query-persist-client/src/with-persist-query-client.ts
  packages/query-core/src/mutationCache.ts
  packages/query-core/src/query.ts
  packages/query-core/src/types.ts
  packages/react-query-persist-client/src/PersistQueryClientProvider.tsx
Due: @tanstack/query-core, @tanstack/react-query-persist-client

docs: update callback return types to Promise<void> | void in mutation-related documentation
  docs/framework/react/plugins/persistQueryClient.md
  docs/framework/react/reference/useMutation.md
  docs/reference/MutationCache.md
Due: none

refactor: standardize use of MaybePromise<T> in place of Promise<T> | T
  docs/framework/react/plugins/persistQueryClient.md
  docs/framework/react/reference/useMutation.md
  docs/reference/MutationCache.md
  packages/angular-query-persist-client/src/with-persist-query-client.ts
  packages/query-async-storage-persister/src/index.ts
  packages/query-core/src/mutationCache.ts
  packages/query-core/src/query.ts
  packages/query-core/src/types.ts
  packages/query-persist-client-core/src/createPersister.ts
  packages/react-query-persist-client/src/PersistQueryClientProvider.tsx
  packages/svelte-query-persist-client/src/PersistQueryClientProvider.svelte
Due: @tanstack/query-async-storage-persister, @tanstack/query-core, @tanstack/query-persist-client-core, @tanstack/react-query-persist-client, @tanstack/svelte-query-persist-client

Mention query keys needs to be serializable using `JSON.stringify`
  docs/framework/react/guides/query-keys.md
Due: none

fix(query-core): add reject callback to .then() in tryResolveSync
  packages/query-core/src/thenable.ts
Due: @tanstack/query-core

chore: update dependencies and configuration files
  .github/workflows/ci.yml
  .gitignore
  .prettierignore
  package.json
Due: none

fix(query-core): add check to #combineResult for input parameter length to decide whether to return optimistic(old) or updated results
  packages/query-core/src/queriesObserver.ts
Due: @tanstack/query-core

fix(publish): resolve `cipublish` error on v4 branch
  scripts/publish.ts
Due: none

chore(angular-query): update to angular 20 stable
  examples/angular/auto-refetching/package.json
  examples/angular/basic-persister/package.json
  examples/angular/basic/package.json
  examples/angular/devtools-panel/package.json
  examples/angular/infinite-query-with-max-pages/package.json
  examples/angular/optimistic-updates/package.json
  examples/angular/pagination/package.json
  examples/angular/query-options-from-a-service/package.json
  examples/angular/router/package.json
  examples/angular/rxjs/package.json
  examples/angular/simple/package.json
  integrations/angular-cli-20/package.json
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/package.json
  packages/angular-query-persist-client/package.json
  pnpm-lock.yaml
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental

chore(angular-query): update to angular 20 stable (#9209)
  examples/angular/auto-refetching/package.json
  examples/angular/basic-persister/package.json
  examples/angular/basic/package.json
  examples/angular/devtools-panel/package.json
  examples/angular/infinite-query-with-max-pages/package.json
  examples/angular/optimistic-updates/package.json
  examples/angular/pagination/package.json
  examples/angular/query-options-from-a-service/package.json
  examples/angular/router/package.json
  examples/angular/rxjs/package.json
  examples/angular/simple/package.json
  integrations/angular-cli-20/package.json
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/package.json
  packages/angular-query-persist-client/package.json
  pnpm-lock.yaml
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental

refactor: update more callback signatures to use MaybePromise<T>
  packages/query-core/src/query.ts
  packages/query-core/src/retryer.ts
  packages/query-core/src/types.ts
  packages/query-persist-client-core/src/createPersister.ts
  packages/svelte-query-persist-client/src/PersistQueryClientProvider.svelte
Due: @tanstack/query-core, @tanstack/query-persist-client-core, @tanstack/svelte-query-persist-client

refactor: update promiseOrValue type from any to MaybePromise<TData>
  packages/query-core/src/retryer.ts
Due: @tanstack/query-core

refactor(react-query): change the order of const variables
  packages/react-query/src/useBaseQuery.ts
Due: @tanstack/react-query

fix(publish): update npm publish command to handle version tags correctly
  scripts/publish.ts
Due: none

fix(publish): clarify npmTag handling in publish command
  scripts/publish.ts
Due: none

refactor(core): add generic utilities for resolving value-or-function patterns, replace specialized `resolveStaleTime` and `resolveEnabled`
  packages/query-core/src/query.ts
  packages/query-core/src/queryClient.ts
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/retryer.ts
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

docs: complete mutate() callback override explanation and example
  docs/framework/react/guides/mutations.md
Due: none

refactor(query-core): extract context creation to functions and move type assertions
  packages/query-core/src/infiniteQueryBehavior.ts
  packages/query-core/src/query.ts
Due: @tanstack/query-core

Path conditions:
  @tanstack/angular-query-devtools-experimental: any of: packages/angular-query-devtools-experimental/**
  @tanstack/angular-query-experimental: any of: packages/angular-query-experimental/**
  @tanstack/eslint-plugin-query: any of: packages/eslint-plugin-query/**
  @tanstack/query-async-storage-persister: any of: packages/query-async-storage-persister/**
  @tanstack/query-broadcast-client-experimental: any of: packages/query-broadcast-client-experimental/**
  @tanstack/query-codemods: any of: packages/codemods/**
  @tanstack/query-core: any of: packages/query-core/**
  @tanstack/query-devtools: any of: packages/query-devtools/**
  @tanstack/query-persist-client-core: any of: packages/query-persist-client-core/**
  @tanstack/query-sync-storage-persister: any of: packages/query-sync-storage-persister/**
  @tanstack/react-query: any of: packages/react-query/**
  @tanstack/react-query-devtools: any of: packages/react-query-devtools/**
  @tanstack/react-query-next-experimental: any of: packages/react-query-next-experimental/**
  @tanstack/react-query-persist-client: any of: packages/react-query-persist-client/**
  @tanstack/solid-query: any of: packages/solid-query/**
  @tanstack/solid-query-devtools: any of: packages/solid-query-devtools/**
  @tanstack/solid-query-persist-client: any of: packages/solid-query-persist-client/**
  @tanstack/svelte-query: any of: packages/svelte-query/**
  @tanstack/svelte-query-devtools: any of: packages/svelte-query-devtools/**
  @tanstack/svelte-query-persist-client: any of: packages/svelte-query-persist-client/**
  @tanstack/vue-query: any of: packages/vue-query/**
  @tanstack/vue-query-devtools: any of: packages/vue-query-devtools/**
