Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools, @tanstack/angular-query, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

codecov.yml:

codecov:
  max_report_age: off

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto

comment:
  layout: 'header, reach, diff, flags, components'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  hide_project_coverage: false

component_management:
  individual_components:
    - component_id: angular-query-devtools
      name: '@tanstack/angular-query-devtools'
      paths:
        - packages/angular-query-devtools/**
    - component_id: angular-query
      name: '@tanstack/angular-query'
      paths:
        - packages/angular-query/**
    - component_id: eslint-plugin-query
      name: '@tanstack/eslint-plugin-query'
      paths:
        - packages/eslint-plugin-query/**
    - component_id: query-async-storage-persister
      name: '@tanstack/query-async-storage-persister'
      paths:
        - packages/query-async-storage-persister/**
    - component_id: query-broadcast-client-experimental
      name: '@tanstack/query-broadcast-client-experimental'
      paths:
        - packages/query-broadcast-client-experimental/**
    - component_id: query-codemods
      name: '@tanstack/query-codemods'
      paths:
        - packages/query-codemods/**
    - component_id: query-core
      name: '@tanstack/query-core'
      paths:
        - packages/query-core/**
    - component_id: query-devtools
      name: '@tanstack/query-devtools'
      paths:
        - packages/query-devtools/**
    - component_id: query-persist-client-core
      name: '@tanstack/query-persist-client-core'
      paths:
        - packages/query-persist-client-core/**
    - component_id: query-sync-storage-persister
      name: '@tanstack/query-sync-storage-persister'
      paths:
        - packages/query-sync-storage-persister/**
    - component_id: query-test-utils
      name: '@tanstack/query-test-utils'
      paths:
        - packages/query-test-utils/**
    - component_id: react-query
      name: '@tanstack/react-query'
      paths:
        - packages/react-query/**
    - component_id: react-query-devtools
      name: '@tanstack/react-query-devtools'
      paths:
        - packages/react-query-devtools/**
    - component_id: react-query-next-experimental
      name: '@tanstack/react-query-next-experimental'
      paths:
        - packages/react-query-next-experimental/**
    - component_id: react-query-persist-client
      name: '@tanstack/react-query-persist-client'
      paths:
        - packages/react-query-persist-client/**
    - component_id: solid-query
      name: '@tanstack/solid-query'
      paths:
        - packages/solid-query/**
    - component_id: solid-query-devtools
      name: '@tanstack/solid-query-devtools'
      paths:
        - packages/solid-query-devtools/**
    - component_id: solid-query-persist-client
      name: '@tanstack/solid-query-persist-client'
      paths:
        - packages/solid-query-persist-client/**
    - component_id: svelte-query
      name: '@tanstack/svelte-query'
      paths:
        - packages/svelte-query/**
    - component_id: svelte-query-devtools
      name: '@tanstack/svelte-query-devtools'
      paths:
        - packages/svelte-query-devtools/**
    - component_id: svelte-query-persist-client
      name: '@tanstack/svelte-query-persist-client'
      paths:
        - packages/svelte-query-persist-client/**
    - component_id: vue-query
      name: '@tanstack/vue-query'
      paths:
        - packages/vue-query/**
    - component_id: vue-query-devtools
      name: '@tanstack/vue-query-devtools'
      paths:
        - packages/vue-query-devtools/**

Fixed Solid Query Devtools and Sold Query
  packages/solid-query-devtools/vite.config.ts
  packages/solid-query/src/__tests__/useQueries.test.tsx
Due: @tanstack/solid-query, @tanstack/solid-query-devtools

Svelte query fix
  package.json
  pnpm-lock.yaml
Due: none

Fixed Vue
  packages/vue-query/src/__mocks__/useBaseQuery.ts
  packages/vue-query/src/__mocks__/useQueryClient.ts
  packages/vue-query/src/__tests__/queryClient.test.ts
  packages/vue-query/src/__tests__/useQueries.test.ts
  packages/vue-query/src/__tests__/useQueryClient.test.ts
Due: @tanstack/vue-query

Angular done
  packages/angular-query-experimental/src/__tests__/inject-devtools-panel.test.ts
  packages/angular-query-experimental/src/__tests__/with-devtools.test.ts
Due: none

fix(react-query): fix test flakiness and query cache timing (#9338)
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/react-query/src/useBaseQuery.ts
Due: @tanstack/react-query

typo react /vue
  docs/reference/QueryClient.md
Due: none

test(react-query-persist-client/PersistQueryClientProvider): switch to fake timers, replace 'await' with 'advanceTimersByTimeAsync', and use 'sleep().then()' pattern
  packages/react-query-persist-client/src/__tests__/PersistQueryClientProvider.test.tsx
Due: @tanstack/react-query-persist-client

Fixed React
  packages/react-query/src/__tests__/usePrefetchInfiniteQuery.test.tsx
  packages/react-query/src/__tests__/useQuery.promise.test.tsx
Due: @tanstack/react-query

feat(vue-query): support useQuery options getter
  .changeset/dark-birds-turn.md
  packages/vue-query/src/__tests__/useQuery.test.ts
  packages/vue-query/src/useBaseQuery.ts
  packages/vue-query/src/useQuery.ts
Due: @tanstack/vue-query

feat(vue-query): support useQuery options getter (#9866)
  .changeset/dark-birds-turn.md
  packages/vue-query/src/__tests__/useQuery.test.ts
  packages/vue-query/src/useBaseQuery.ts
  packages/vue-query/src/useQuery.ts
Due: @tanstack/vue-query

feat(react-query-next-experimental): support Next.js 16
  .changeset/old-plants-beg.md
  packages/react-query-next-experimental/package.json
Due: @tanstack/react-query-next-experimental

feat(react-query-next-experimental): support Next.js 16
  examples/react/nextjs-suspense-streaming/next-env.d.ts
  examples/react/nextjs-suspense-streaming/next.config.js
  examples/react/nextjs-suspense-streaming/package.json
  examples/react/nextjs-suspense-streaming/tsconfig.json
  packages/react-query-next-experimental/package.json
  pnpm-lock.yaml
Due: @tanstack/react-query-next-experimental

chore(query-example-nextjs-suspense-streaming): Add .gitignore, remove autogenerated file
  examples/react/nextjs-suspense-streaming/.gitignore
  examples/react/nextjs-suspense-streaming/next-env.d.ts
Due: none

chore(query-example-nextjs-suspense-streaming): revert unintended tsconfig change
  examples/react/nextjs-suspense-streaming/tsconfig.json
Due: none

chore(query-example-nextjs-suspense-streaming): use react 19.0 like the rest of the repo
  examples/react/nextjs-suspense-streaming/package.json
  pnpm-lock.yaml
Due: none

feat(react-query-next-experimental): support Next.js 16 (#9868)
  .changeset/old-plants-beg.md
  examples/react/nextjs-suspense-streaming/.gitignore
  examples/react/nextjs-suspense-streaming/next-env.d.ts
  examples/react/nextjs-suspense-streaming/next.config.js
  examples/react/nextjs-suspense-streaming/package.json
  examples/react/nextjs-suspense-streaming/tsconfig.json
  packages/react-query-next-experimental/package.json
  pnpm-lock.yaml
Due: @tanstack/react-query-next-experimental

fix(types): do not drop readonly for partial QueryFilter matching
  packages/query-core/src/__tests__/utils.test-d.tsx
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

Create new-keys-raise.md
  .changeset/new-keys-raise.md
Due: none

fix(types): do not drop readonly for partial QueryFilter matching (#9872)
  .changeset/new-keys-raise.md
  packages/query-core/src/__tests__/utils.test-d.tsx
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

(fix):commented out automatic regex search and replace
  docs/framework/solid/guides/queries.md
Due: none

(fix): commented out automatic search&replace in solid docs
  docs/framework/solid/guides/queries.md
Due: none

fix(streamedQuery): fall back to initialValue when stream yields no values
  .changeset/puny-walls-eat.md
  packages/query-core/src/__tests__/streamedQuery.test.tsx
  packages/query-core/src/streamedQuery.ts
Due: @tanstack/query-core

chore: address review nitpicks (JSDoc + test cleanup)
  packages/query-core/src/__tests__/streamedQuery.test.tsx
  packages/query-core/src/streamedQuery.ts
Due: @tanstack/query-core

fix(types): allow QueryFilters union with different lengths
  packages/query-core/src/__tests__/utils.test-d.tsx
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

Create orange-boxes-visit.md
  .changeset/orange-boxes-visit.md
Due: none

docs: note that initialValue is returned when the stream yields no values
  docs/reference/streamedQuery.md
Due: none

Apply suggestion from @TkDodo
  .changeset/orange-boxes-visit.md
Due: none

fix(types): do not drop readonly for partial QueryFilter matching (#9878)
  .changeset/orange-boxes-visit.md
  packages/query-core/src/__tests__/utils.test-d.tsx
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

fix(streamedQuery): fall back to initialValue when stream yields no values (#9876)
  .changeset/puny-walls-eat.md
  docs/reference/streamedQuery.md
  packages/query-core/src/__tests__/streamedQuery.test.tsx
  packages/query-core/src/streamedQuery.ts
Due: @tanstack/query-core

chore: use better `Thrower` declaration in tests
  packages/react-query/src/__tests__/HydrationBoundary.test.tsx
Due: @tanstack/react-query

fix: useSusupenseQuery documantation enabled options remove
  docs/framework/react/reference/useSuspenseQuery.md
Due: none

Prevent infinite render loops when useSuspenseQueries has duplicate queryKeys
  packages/query-core/src/queriesObserver.ts
  packages/react-query/src/__tests__/useSuspenseQueries.test.tsx
Due: @tanstack/query-core, @tanstack/react-query

changeset
  .changeset/nine-shoes-tap.md
Due: none

tweaks
  packages/query-core/src/queriesObserver.ts
Due: @tanstack/query-core

smaller diff
  packages/query-core/src/queriesObserver.ts
Due: @tanstack/query-core

lint
  packages/query-core/src/queriesObserver.ts
Due: @tanstack/query-core

feat(devtools): allow passing a theme via prop
  .changeset/olive-ducks-move.md
  packages/query-devtools/src/DevtoolsComponent.tsx
  packages/query-devtools/src/DevtoolsPanelComponent.tsx
  packages/query-devtools/src/TanstackQueryDevtools.tsx
  packages/query-devtools/src/TanstackQueryDevtoolsPanel.tsx
  packages/query-devtools/src/contexts/QueryDevtoolsContext.ts
  packages/react-query-devtools/src/ReactQueryDevtools.tsx
  packages/react-query-devtools/src/ReactQueryDevtoolsPanel.tsx
  packages/solid-query-devtools/src/devtools.tsx
  packages/solid-query-devtools/src/devtoolsPanel.tsx
  packages/vue-query-devtools/src/devtools.vue
  packages/vue-query-devtools/src/devtoolsPanel.vue
  packages/vue-query-devtools/src/types.ts
Due: @tanstack/query-devtools, @tanstack/react-query-devtools, @tanstack/solid-query-devtools, @tanstack/vue-query-devtools

remove newline
  packages/query-core/src/queriesObserver.ts
Due: @tanstack/query-core

remove non-null assertion
  packages/query-core/src/queriesObserver.ts
Due: @tanstack/query-core
