Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools, @tanstack/angular-query, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

test(query-core): assert exact cache event arguments in subscribe callbacks
  packages/query-core/src/__tests__/mutationCache.test.tsx
  packages/query-core/src/__tests__/query.test.tsx
  packages/query-core/src/__tests__/queryCache.test.tsx
  packages/query-core/src/__tests__/queryClient.test.tsx
  packages/query-core/src/__tests__/queryObserver.test.tsx
Due: @tanstack/query-core

test(query-core): assert exact cache event payloads in subscribe callbacks (#11053)
  packages/query-core/src/__tests__/mutationCache.test.tsx
  packages/query-core/src/__tests__/query.test.tsx
  packages/query-core/src/__tests__/queryCache.test.tsx
  packages/query-core/src/__tests__/queryClient.test.tsx
  packages/query-core/src/__tests__/queryObserver.test.tsx
Due: @tanstack/query-core

Guard consistent fetch results during invalidation
  packages/query-core/src/__tests__/queryClient.test.tsx
Due: @tanstack/query-core

Protect restored custom-hash queries in devtools
  packages/query-devtools/src/__tests__/Devtools.test.tsx
Due: @tanstack/query-devtools

test(vue-query/{usePrefetchQuery,usePrefetchInfiniteQuery}): assert exact prefetch options instead of 'objectContaining'
  packages/vue-query/src/__tests__/usePrefetchInfiniteQuery.test.ts
  packages/vue-query/src/__tests__/usePrefetchQuery.test.ts
Due: @tanstack/vue-query

test(vue-query/{usePrefetchQuery,usePrefetchInfiniteQuery}): assert exact prefetch options instead of 'objectContaining' (#11056)
  packages/vue-query/src/__tests__/usePrefetchInfiniteQuery.test.ts
  packages/vue-query/src/__tests__/usePrefetchQuery.test.ts
Due: @tanstack/vue-query

test(*): assert exact values instead of loose matchers
  packages/lit-query/src/tests/infinite-and-options.test.ts
  packages/lit-query/src/tests/mutation-controller.test.ts
  packages/query-core/src/__tests__/timeoutManager.test.tsx
  packages/query-devtools/src/__tests__/Explorer.test.tsx
  packages/vue-query/src/__tests__/useQueryClient.test.ts
Due: @tanstack/query-core, @tanstack/query-devtools, @tanstack/vue-query

test(*): assert exact values instead of loose matchers (#11057)
  packages/lit-query/src/tests/infinite-and-options.test.ts
  packages/lit-query/src/tests/mutation-controller.test.ts
  packages/query-core/src/__tests__/timeoutManager.test.tsx
  packages/query-devtools/src/__tests__/Explorer.test.tsx
  packages/vue-query/src/__tests__/useQueryClient.test.ts
Due: @tanstack/query-core, @tanstack/query-devtools, @tanstack/vue-query

docs(react-query): keep 'errorUpdateCount' before 'errorUpdatedAt' to preserve alphabetical order
  docs/framework/react/reference/useQuery.md
  docs/framework/solid/reference/useQuery.md
Due: none

docs({react,solid}-query): add missing 'errorUpdateCount' to 'useQuery' return signature (#11041)
  docs/framework/react/reference/useQuery.md
  docs/framework/solid/reference/useQuery.md
Due: none

docs(react-query/useSuspenseQueries): correct 'homogenous' typo to 'homogeneous' in comment
  packages/react-query/src/useSuspenseQueries.ts
Due: @tanstack/react-query

docs(*): fix 'homogenous', 'stoage', 'supressed', 'compoennts' spelling typos (#11040)
  docs/framework/react/plugins/createPersister.md
  docs/framework/vue/plugins/createPersister.md
  examples/angular/pagination/src/app/components/example.component.html
  examples/react/pagination/src/pages/index.tsx
  examples/solid/solid-start-streaming/src/routes/with-error.tsx
  packages/angular-query-experimental/src/inject-queries.ts
  packages/preact-query/src/useQueries.ts
  packages/preact-query/src/useSuspenseQueries.ts
  packages/react-query/src/useQueries.ts
  packages/react-query/src/useSuspenseQueries.ts
  packages/solid-query/src/useQueries.ts
  packages/svelte-query/src/createQueries.svelte.ts
  packages/vue-query/src/useQueries.ts
Due: @tanstack/react-query, @tanstack/solid-query, @tanstack/svelte-query, @tanstack/vue-query

fix(query-core): don't reject imperative fetch with CancelledError when a superseding fetch is started
  packages/query-core/src/__tests__/queryClient.test.tsx
  packages/query-core/src/query.ts
Due: @tanstack/query-core

fix(solid-query): expose deferred SSR query errors
  .changeset/settled-ssr-state.md
  packages/solid-query/src/useBaseQuery.ts
Due: @tanstack/solid-query

fix(examples): run nextjs sandboxes through npm run dev and webpack
  examples/react/infinite-query-with-max-pages/package.json
  examples/react/load-more-infinite-scroll/package.json
  examples/react/nextjs-app-prefetching/package.json
  examples/react/nextjs/package.json
  examples/react/optimistic-updates-cache/package.json
  examples/react/optimistic-updates-ui/package.json
  examples/react/pagination/package.json
Due: none

fix(query-core): stop orphaned streamedQuery chunks from corrupting the cache
  packages/query-core/src/__tests__/streamedQuery.test.tsx
  packages/query-core/src/streamedQuery.ts
Due: @tanstack/query-core

fix(query-core): memoize falsy combine results
  .changeset/tidy-lions-cache.md
  packages/query-core/src/__tests__/queriesObserver.test.tsx
  packages/query-core/src/queriesObserver.ts
Due: @tanstack/query-core

docs: CONTRIBUTING says pnpm v10 but the repo uses pnpm v11
  CONTRIBUTING.md
Due: none

fix(query-eslint): ignore call targets in exhaustive deps
  .changeset/soft-pianos-sip.md
  docs/eslint/exhaustive-deps.md
  packages/eslint-plugin-query/src/__tests__/exhaustive-deps.test.ts
  packages/eslint-plugin-query/src/rules/exhaustive-deps/exhaustive-deps.utils.ts
  packages/eslint-plugin-query/src/utils/ast-utils.ts
Due: @tanstack/eslint-plugin-query

fix(query-eslint): guard AST parent access
  packages/eslint-plugin-query/src/__tests__/ast-utils.test.ts
  packages/eslint-plugin-query/src/rules/exhaustive-deps/exhaustive-deps.utils.ts
  packages/eslint-plugin-query/src/utils/ast-utils.ts
Due: @tanstack/eslint-plugin-query

docs(CONTRIBUTING): update pnpm version from 'v10' to 'v11' (#11066)
  CONTRIBUTING.md
Due: none

fix(query-core): settle floating promise in fetchOptimistic and add undefined test
  packages/query-core/src/queryObserver.ts
  packages/react-query/src/__tests__/useSuspenseQuery.test.tsx
Due: @tanstack/query-core, @tanstack/react-query

fix(query-eslint): accept JSX scope references
  packages/eslint-plugin-query/src/rules/exhaustive-deps/exhaustive-deps.utils.ts
Due: @tanstack/eslint-plugin-query

fix(query-core): match the file's existing truthy-check style for query
  packages/query-core/src/streamedQuery.ts
Due: @tanstack/query-core

chore: add changeset for streamedQuery cache-corruption fix
  .changeset/stop-orphaned-streamed-query-writes.md
Due: none

test(query-core): cover the replace-mode finalize guard for streamedQuery
  packages/query-core/src/__tests__/streamedQuery.test.tsx
Due: @tanstack/query-core

Update docs/community-resources.md
  docs/community-resources.md
Due: none

Update packages/query-core/src/utils.ts
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

test(query-core/utils): add tests for 'undefined' key properties and 'isValidTimeout' validation (#11013)
  packages/query-core/src/__tests__/utils.test.tsx
Due: @tanstack/query-core

test(query-core/utils): assert exact booleans with 'toBe' instead of 'toEqual'
  packages/query-core/src/__tests__/utils.test.tsx
Due: @tanstack/query-core

test(query-core/utils): assert exact booleans with 'toBe' instead of 'toEqual' (#11070)
  packages/query-core/src/__tests__/utils.test.tsx
Due: @tanstack/query-core

test(query-core/utils): split 'isValidTimeout' rejection cases into separate 'it' blocks
  packages/query-core/src/__tests__/utils.test.tsx
Due: @tanstack/query-core

test(query-core/utils): split 'isValidTimeout' rejection cases into separate 'it' blocks (#11071)
  packages/query-core/src/__tests__/utils.test.tsx
Due: @tanstack/query-core

fix: replace experimentalDts with dts to fix TS2883 with nodenext module resolution
  packages/angular-query-persist-client/tsup.config.ts
  packages/eslint-plugin-query/root.tsup.config.js
  packages/preact-query-devtools/root.tsup.config.js
  scripts/getTsupConfig.js
Due: @tanstack/eslint-plugin-query

docs(changeset): add changeset for nodenext TS2883 fix
  .changeset/fix-nodenext-ts2883.md
Due: none

Delete .changeset/fix-nodenext-ts2883.md
  .changeset/fix-nodenext-ts2883.md
Due: none

perf: use stable-hash for hashing keys
  packages/query-core/package.json
  packages/query-core/src/__tests__/hydration.test.tsx
  packages/query-core/src/__tests__/infiniteQueryBehavior.test.tsx
  packages/query-core/src/__tests__/query.test.tsx
  packages/query-core/src/__tests__/utils.test.tsx
  packages/query-core/src/hydration.ts
  packages/query-core/src/query.ts
  packages/query-core/src/utils.ts
  pnpm-lock.yaml
Due: @tanstack/query-core

test({react,preact}-query/usePrefetchQuery): assert the 'Loading...' fallback is rendered before the prefetch resolves
  packages/preact-query/src/__tests__/usePrefetchQuery.test.tsx
  packages/react-query/src/__tests__/usePrefetchQuery.test.tsx
Due: @tanstack/react-query

test({react,preact}-query/useSuspenseQuery): assert the 'loading' fallback is rendered when gcTime is 0
  packages/preact-query/src/__tests__/useSuspenseQuery.test.tsx
  packages/react-query/src/__tests__/useSuspenseQuery.test.tsx
Due: @tanstack/react-query

test({react,preact}-query/usePrefetchQuery): assert the 'Loading...' fallback is rendered before the prefetch resolves (#11075)
  packages/preact-query/src/__tests__/usePrefetchQuery.test.tsx
  packages/react-query/src/__tests__/usePrefetchQuery.test.tsx
Due: @tanstack/react-query

Path conditions:
  @tanstack/angular-query-devtools: any of: packages/angular-query-devtools/**
  @tanstack/angular-query: any of: packages/angular-query/**
  @tanstack/eslint-plugin-query: any of: packages/eslint-plugin-query/**
  @tanstack/query-async-storage-persister: any of: packages/query-async-storage-persister/**
  @tanstack/query-broadcast-client-experimental: any of: packages/query-broadcast-client-experimental/**
  @tanstack/query-codemods: any of: packages/query-codemods/**
  @tanstack/query-core: any of: packages/query-core/**
  @tanstack/query-devtools: any of: packages/query-devtools/**
  @tanstack/query-persist-client-core: any of: packages/query-persist-client-core/**
  @tanstack/query-sync-storage-persister: any of: packages/query-sync-storage-persister/**
  @tanstack/query-test-utils: any of: packages/query-test-utils/**
  @tanstack/react-query: any of: packages/react-query/**
  @tanstack/react-query-devtools: any of: packages/react-query-devtools/**
  @tanstack/react-query-next-experimental: any of: packages/react-query-next-experimental/**
  @tanstack/react-query-persist-client: any of: packages/react-query-persist-client/**
  @tanstack/solid-query: any of: packages/solid-query/**
  @tanstack/solid-query-devtools: any of: packages/solid-query-devtools/**
  @tanstack/solid-query-persist-client: any of: packages/solid-query-persist-client/**
  @tanstack/svelte-query: any of: packages/svelte-query/**
  @tanstack/svelte-query-devtools: any of: packages/svelte-query-devtools/**
  @tanstack/svelte-query-persist-client: any of: packages/svelte-query-persist-client/**
  @tanstack/vue-query: any of: packages/vue-query/**
  @tanstack/vue-query-devtools: any of: packages/vue-query-devtools/**
