Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools, @tanstack/angular-query, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

codecov.yml:

codecov:
  max_report_age: off

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto

comment:
  layout: 'header, reach, diff, flags, components'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  hide_project_coverage: false

component_management:
  individual_components:
    - component_id: angular-query-devtools
      name: '@tanstack/angular-query-devtools'
      paths:
        - packages/angular-query-devtools/**
    - component_id: angular-query
      name: '@tanstack/angular-query'
      paths:
        - packages/angular-query/**
    - component_id: eslint-plugin-query
      name: '@tanstack/eslint-plugin-query'
      paths:
        - packages/eslint-plugin-query/**
    - component_id: query-async-storage-persister
      name: '@tanstack/query-async-storage-persister'
      paths:
        - packages/query-async-storage-persister/**
    - component_id: query-broadcast-client-experimental
      name: '@tanstack/query-broadcast-client-experimental'
      paths:
        - packages/query-broadcast-client-experimental/**
    - component_id: query-codemods
      name: '@tanstack/query-codemods'
      paths:
        - packages/query-codemods/**
    - component_id: query-core
      name: '@tanstack/query-core'
      paths:
        - packages/query-core/**
    - component_id: query-devtools
      name: '@tanstack/query-devtools'
      paths:
        - packages/query-devtools/**
    - component_id: query-persist-client-core
      name: '@tanstack/query-persist-client-core'
      paths:
        - packages/query-persist-client-core/**
    - component_id: query-sync-storage-persister
      name: '@tanstack/query-sync-storage-persister'
      paths:
        - packages/query-sync-storage-persister/**
    - component_id: query-test-utils
      name: '@tanstack/query-test-utils'
      paths:
        - packages/query-test-utils/**
    - component_id: react-query
      name: '@tanstack/react-query'
      paths:
        - packages/react-query/**
    - component_id: react-query-devtools
      name: '@tanstack/react-query-devtools'
      paths:
        - packages/react-query-devtools/**
    - component_id: react-query-next-experimental
      name: '@tanstack/react-query-next-experimental'
      paths:
        - packages/react-query-next-experimental/**
    - component_id: react-query-persist-client
      name: '@tanstack/react-query-persist-client'
      paths:
        - packages/react-query-persist-client/**
    - component_id: solid-query
      name: '@tanstack/solid-query'
      paths:
        - packages/solid-query/**
    - component_id: solid-query-devtools
      name: '@tanstack/solid-query-devtools'
      paths:
        - packages/solid-query-devtools/**
    - component_id: solid-query-persist-client
      name: '@tanstack/solid-query-persist-client'
      paths:
        - packages/solid-query-persist-client/**
    - component_id: svelte-query
      name: '@tanstack/svelte-query'
      paths:
        - packages/svelte-query/**
    - component_id: svelte-query-devtools
      name: '@tanstack/svelte-query-devtools'
      paths:
        - packages/svelte-query-devtools/**
    - component_id: svelte-query-persist-client
      name: '@tanstack/svelte-query-persist-client'
      paths:
        - packages/svelte-query-persist-client/**
    - component_id: vue-query
      name: '@tanstack/vue-query'
      paths:
        - packages/vue-query/**
    - component_id: vue-query-devtools
      name: '@tanstack/vue-query-devtools'
      paths:
        - packages/vue-query-devtools/**

don't pass extra prerelase tag
  .github/workflows/release.yml
Due: none

no destructing
  packages/solid-query/src/__tests__/mutationOptions.test.tsx
  packages/solid-query/src/__tests__/useIsMutating.test.tsx
  packages/solid-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/solid-query

address false positives
  packages/eslint-plugin-query/src/__tests__/exhaustive-deps.test.ts
  packages/eslint-plugin-query/src/rules/exhaustive-deps/exhaustive-deps.utils.ts
Due: @tanstack/eslint-plugin-query

test(eslint-plugin-query/stable-query-client): add tests for uncovered branches
  packages/eslint-plugin-query/src/__tests__/stable-query-client.test.ts
Due: @tanstack/eslint-plugin-query

test(eslint-plugin-query/stable-query-client): remove arrow function component valid case
  packages/eslint-plugin-query/src/__tests__/stable-query-client.test.ts
Due: @tanstack/eslint-plugin-query

untrack, pureWrite
  packages/solid-query/src/__tests__/useQuery.test.tsx
  packages/solid-query/src/useBaseQuery.ts
  packages/solid-query/src/useIsFetching.ts
  packages/solid-query/src/useIsMutating.ts
  packages/solid-query/src/useMutation.ts
  packages/solid-query/src/useMutationState.ts
  packages/solid-query/src/useQueries.ts
Due: @tanstack/solid-query

changeset
  .changeset/legal-signs-call.md
Due: none

feat(eslint-plugin): add allowlist option to exhaustive-deps rule (#10295)
  .changeset/exhaustive-deps-allowlist.md
  docs/eslint/exhaustive-deps.md
  examples/react/eslint-plugin-demo/eslint.config.js
  examples/react/eslint-plugin-demo/package.json
  examples/react/eslint-plugin-demo/src/allowlist-demo.tsx
  examples/react/eslint-plugin-demo/tsconfig.json
  packages/eslint-plugin-query/src/__tests__/exhaustive-deps.test.ts
  packages/eslint-plugin-query/src/rules/exhaustive-deps/exhaustive-deps.rule.ts
  packages/eslint-plugin-query/src/rules/exhaustive-deps/exhaustive-deps.utils.ts
  packages/eslint-plugin-query/src/utils/ast-utils.ts
  pnpm-lock.yaml
Due: @tanstack/eslint-plugin-query

fix(examples): guard missing mount targets in remaining react examples (#10305)
  examples/react/algolia/src/index.tsx
  examples/react/basic-graphql-request/src/index.tsx
  examples/react/chat/src/index.tsx
  examples/react/default-query-function/src/index.tsx
  examples/react/devtools-panel/src/index.tsx
  examples/react/eslint-legacy/src/index.tsx
  examples/react/offline/src/index.tsx
  examples/react/playground/src/index.tsx
  examples/react/react-router/src/index.tsx
  examples/react/suspense/src/index.tsx
Due: none

fix(examples): guard missing filmId param in react star-wars example (#10143)
  examples/react/star-wars/src/Film.tsx
Due: none

effect
  packages/solid-query/src/useMutation.ts
Due: @tanstack/solid-query

ref: knip v6
  knip.json
  package.json
  pnpm-lock.yaml
Due: none

fix(query-devtools): sanitize invalid browser locales
  packages/query-devtools/src/Devtools.tsx
  packages/query-devtools/src/DevtoolsComponent.tsx
  packages/query-devtools/src/DevtoolsPanelComponent.tsx
  packages/query-devtools/src/__tests__/locale.test.ts
  packages/query-devtools/src/utils.tsx
Due: @tanstack/query-devtools

chore(changeset): add query-devtools release note
  .changeset/safe-languages-wash.md
Due: none

fix(query-devtools): sanitize time formatting locales
  packages/query-devtools/src/Devtools.tsx
  packages/query-devtools/src/__tests__/locale.test.ts
  packages/query-devtools/src/utils.tsx
Due: @tanstack/query-devtools

refactor(solid-query): solid 2 reactivity compliance (#10316)
  .changeset/legal-signs-call.md
  packages/solid-query/src/__tests__/mutationOptions.test.tsx
  packages/solid-query/src/__tests__/useIsMutating.test.tsx
  packages/solid-query/src/__tests__/useQuery.test.tsx
  packages/solid-query/src/useBaseQuery.ts
  packages/solid-query/src/useIsFetching.ts
  packages/solid-query/src/useIsMutating.ts
  packages/solid-query/src/useMutation.ts
  packages/solid-query/src/useMutationState.ts
  packages/solid-query/src/useQueries.ts
Due: @tanstack/solid-query

fix(timeout): make sure NodeJs.Timout doesn't leak
  packages/query-core/src/timeoutManager.ts
Due: @tanstack/query-core

changeset
  .changeset/funny-views-build.md
Due: none

fix(timeout): make sure NodeJs.Timout doesn't leak (#10323)
  .changeset/funny-views-build.md
  packages/query-core/src/timeoutManager.ts
Due: @tanstack/query-core

fix(tsconfig): include src directory in production configuration
  packages/preact-query/tsconfig.prod.json
  packages/query-core/tsconfig.prod.json
  packages/react-query/tsconfig.prod.json
  packages/solid-query/tsconfig.prod.json
Due: @tanstack/query-core, @tanstack/react-query, @tanstack/solid-query

fix/nodejs timeout (#10325)
  .changeset/funny-views-build.md
  packages/preact-query/tsconfig.prod.json
  packages/query-core/tsconfig.prod.json
  packages/react-query/tsconfig.prod.json
  packages/solid-query/tsconfig.prod.json
Due: @tanstack/query-core, @tanstack/react-query, @tanstack/solid-query

chore: add changeset for #8825
  .changeset/stupid-seals-live.md
Due: none

refactor: apply review feedback - Remove isRejectedThenable check - Inline behavior assignment
  packages/query-core/src/hydration.ts
Due: @tanstack/query-core

fix: preserve infinite query behavior during SSR hydration (#8825)
  packages/query-core/src/__tests__/hydration.test.tsx
  packages/query-core/src/hydration.ts
Due: @tanstack/query-core

refactor: remove unnecessary `any` type assertions
  packages/query-core/src/hydration.ts
Due: @tanstack/query-core

Enhance DevTools support with Rozenite Plugin
  docs/framework/react/react-native.md
Due: none

fix: use Object.is instead of === in replaceEqualDeep for NaN equality
  packages/query-core/src/__tests__/utils.test.tsx
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

chore: add changeset
  .changeset/happy-banks-repeat.md
Due: none

test: add NaN structural sharing test cases for replaceEqualDeep
  packages/query-core/src/__tests__/utils.test.tsx
Due: @tanstack/query-core

docs(react): add polling guide
  docs/config.json
  docs/framework/react/guides/important-defaults.md
  docs/framework/react/guides/polling.md
Due: none

docs(react/polling): add example markers for framework portability
  docs/framework/react/guides/polling.md
Due: none

docs(solid,vue): port polling guide from React
  docs/config.json
  docs/framework/solid/guides/polling.md
  docs/framework/vue/guides/polling.md
Due: none

test(eslint-plugin-query/no-void-query-fn): add coverage for useInfiniteQuery, useSuspenseQuery, queryOptions, fetchQuery
  packages/eslint-plugin-query/src/__tests__/no-void-query-fn.test.ts
Due: @tanstack/eslint-plugin-query

docs(react): fix deduplication note — timers are per observer, not per query
  docs/framework/react/guides/polling.md
Due: none

test(vue-query): add useQueries type tests for queryOptions DataTag inference
  packages/vue-query/src/__tests__/useQueries.test-d.ts
Due: @tanstack/vue-query

chore: add changeset for combine error handling fix
  .changeset/brave-tigers-wave.md
Due: none

fix(query-core): handle combine throwing in QueriesObserver#notify
  packages/query-core/src/__tests__/queriesObserver.test.tsx
  packages/query-core/src/queriesObserver.ts
Due: @tanstack/query-core

fix: infer pageParam from computed queryFn with conditional skipToken
  packages/vue-query/src/__tests__/useInfiniteQuery.test-d.tsx
  packages/vue-query/src/useInfiniteQuery.ts
Due: @tanstack/vue-query

Add IndieStack stack health badge
  README.md
Due: none

fix(eslint-plugin): normalize whitespace in allowList variable matching
  packages/eslint-plugin-query/src/__tests__/exhaustive-deps.test.ts
  packages/eslint-plugin-query/src/rules/exhaustive-deps/exhaustive-deps.utils.ts
Due: @tanstack/eslint-plugin-query
