Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

Remove @typescript-eslint/parser
  packages/eslint-plugin-query/package.json
  packages/eslint-plugin-query/src/__tests__/exhaustive-deps.test.ts
  packages/eslint-plugin-query/src/__tests__/no-rest-destructuring.test.ts
  packages/eslint-plugin-query/src/__tests__/no-unstable-deps.test.ts
  packages/eslint-plugin-query/src/__tests__/stable-query-client.test.ts
  pnpm-lock.yaml
Due: @tanstack/eslint-plugin-query

Fix suggestion for empty queryKey array
  packages/eslint-plugin-query/src/__tests__/exhaustive-deps.test.ts
  packages/eslint-plugin-query/src/rules/exhaustive-deps/exhaustive-deps.rule.ts
Due: @tanstack/eslint-plugin-query

feat(eslint-plugin): use typescript-eslint v8 stable (#7968)
  packages/eslint-plugin-query/package.json
  packages/eslint-plugin-query/src/__tests__/exhaustive-deps.test.ts
  packages/eslint-plugin-query/src/__tests__/no-rest-destructuring.test.ts
  packages/eslint-plugin-query/src/__tests__/no-unstable-deps.test.ts
  packages/eslint-plugin-query/src/__tests__/stable-query-client.test.ts
  packages/eslint-plugin-query/src/rules/exhaustive-deps/exhaustive-deps.rule.ts
  pnpm-lock.yaml
Due: @tanstack/eslint-plugin-query

release: v5.53.0
  examples/react/algolia/package.json
  examples/react/basic/package.json
  examples/solid/simple/package.json
  packages/eslint-plugin-query/package.json
  pnpm-lock.yaml
Due: @tanstack/eslint-plugin-query

chore(deps): update eslint plugins
  examples/react/shadow-dom/package.json
  package.json
  packages/react-query/package.json
  packages/react-query/src/HydrationBoundary.tsx
  packages/react-query/src/useMutationState.ts
  pnpm-lock.yaml
Due: @tanstack/react-query

Refactor shadow-dom example
  examples/react/basic/package.json
  examples/react/shadow-dom/.eslintrc.cjs
  examples/react/shadow-dom/eslint.config.js
  examples/react/shadow-dom/package.json
  examples/react/shadow-dom/src/DogList.tsx
  examples/react/shadow-dom/tsconfig.json
  examples/react/shadow-dom/tsconfig.node.json
  examples/svelte/simple/tsconfig.json
  examples/svelte/simple/tsconfig.node.json
  examples/vue/basic/tsconfig.json
  examples/vue/persister/tsconfig.json
  integrations/vue-vite/tsconfig.json
  integrations/vue-vite/tsconfig.node.json
  pnpm-lock.yaml
Due: none

chore(deps): update eslint plugins (#7984)
  examples/react/basic/package.json
  examples/react/shadow-dom/.eslintrc.cjs
  examples/react/shadow-dom/eslint.config.js
  examples/react/shadow-dom/package.json
  examples/react/shadow-dom/src/DogList.tsx
  examples/react/shadow-dom/tsconfig.json
  examples/react/shadow-dom/tsconfig.node.json
  examples/svelte/simple/tsconfig.json
  examples/svelte/simple/tsconfig.node.json
  examples/vue/basic/tsconfig.json
  examples/vue/persister/tsconfig.json
  integrations/vue-vite/tsconfig.json
  integrations/vue-vite/tsconfig.node.json
  package.json
  packages/react-query/package.json
  packages/react-query/src/HydrationBoundary.tsx
  packages/react-query/src/useMutationState.ts
  pnpm-lock.yaml
Due: @tanstack/react-query

chore(deps): use ESLint v9
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): use ESLint v9 (#7985)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update to @tanstack/config 0.13.1
  eslint.config.js
  package.json
  packages/angular-query-experimental/src/__tests__/test-utils.ts
  packages/angular-query-experimental/src/inject-is-fetching.ts
  packages/angular-query-experimental/src/inject-is-mutating.ts
  packages/query-core/src/utils.ts
  packages/react-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/solid-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/solid-query/src/isRestoring.ts
  packages/vue-query/src/devtools/utils.ts
  packages/vue-query/src/utils.ts
  pnpm-lock.yaml
Due: @tanstack/angular-query-experimental, @tanstack/query-core, @tanstack/react-query, @tanstack/solid-query, @tanstack/vue-query

Fix types
  packages/angular-query-experimental/etc/angular-query-experimental.api.md
  packages/query-core/src/utils.ts
  packages/vue-query/src/utils.ts
Due: @tanstack/angular-query-experimental, @tanstack/query-core, @tanstack/vue-query

chore: message
  packages/query-core/src/__tests__/query.test.tsx
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

fix(query-core): handle errors that occur inside `setData` method (#7966)
  packages/query-core/src/__tests__/query.test.tsx
  packages/query-core/src/query.ts
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

chore(deps): update to @tanstack/config 0.13.1 (#7986)
  eslint.config.js
  package.json
  packages/angular-query-experimental/etc/angular-query-experimental.api.md
  packages/angular-query-experimental/src/__tests__/test-utils.ts
  packages/angular-query-experimental/src/inject-is-fetching.ts
  packages/angular-query-experimental/src/inject-is-mutating.ts
  packages/query-core/src/utils.ts
  packages/react-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/solid-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/solid-query/src/isRestoring.ts
  packages/vue-query/src/devtools/utils.ts
  packages/vue-query/src/utils.ts
  pnpm-lock.yaml
Due: @tanstack/angular-query-experimental, @tanstack/query-core, @tanstack/react-query, @tanstack/solid-query, @tanstack/vue-query

chore(angular-query): add injection context tests
  packages/angular-query-experimental/src/__tests__/inject-infinite-query.test.ts
  packages/angular-query-experimental/src/__tests__/inject-is-fetching.test.ts
  packages/angular-query-experimental/src/__tests__/inject-is-mutating.test.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation-state.test.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation.test.ts
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
Due: @tanstack/angular-query-experimental

chore(angular-query): add injection context tests (#7993)
  packages/angular-query-experimental/src/__tests__/inject-infinite-query.test.ts
  packages/angular-query-experimental/src/__tests__/inject-is-fetching.test.ts
  packages/angular-query-experimental/src/__tests__/inject-is-mutating.test.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation-state.test.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation.test.ts
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
Due: @tanstack/angular-query-experimental

docs(angular-query): update overview and readme
  docs/framework/angular/overview.md
  examples/angular/router/src/app/components/post.component.ts
  packages/angular-query-experimental/README.md
Due: @tanstack/angular-query-experimental

docs(angular-query): update overview and readme (#7994)
  docs/framework/angular/overview.md
  examples/angular/router/src/app/components/post.component.ts
  packages/angular-query-experimental/README.md
Due: @tanstack/angular-query-experimental

let’s do it again
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/types.ts
  packages/react-query/package.json
  packages/react-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/query-core, @tanstack/react-query

fix test group
  packages/react-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/react-query

fix(vue-query): invalidate queries immediately after calling `invalidateQueries` (#7930)
  packages/vue-query/src/__tests__/queryClient.test.ts
  packages/vue-query/src/queryClient.ts
Due: @tanstack/vue-query

maybe
  packages/query-core/src/queryObserver.ts
  packages/react-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/query-core, @tanstack/react-query

docs: update SSR guide for nuxt2
  docs/framework/vue/guides/ssr.md
Due: none

docs(vue-query): update SSR guide for nuxt2 (#8001)
  docs/framework/vue/guides/ssr.md
Due: none

mkay
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/thenable.ts
  packages/react-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/query-core, @tanstack/react-query

cool
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/thenable.ts
  packages/react-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/query-core, @tanstack/react-query

rm console.logs
  packages/react-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/react-query

mkay
  packages/react-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/react-query

fix(query-core): remove error thrown inside `replaceData`
  packages/query-core/src/__tests__/query.test.tsx
  packages/query-core/src/utils.ts
Due: @tanstack/query-core

mkay
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/thenable.ts
Due: @tanstack/query-core

thenable
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/thenable.ts
  packages/react-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/query-core, @tanstack/react-query

Update packages/react-query/src/__tests__/useQuery.test.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/react-query

mkay
  packages/query-core/src/thenable.ts
Due: @tanstack/query-core

Path conditions:
  @tanstack/angular-query-devtools-experimental: any of: packages/angular-query-devtools-experimental/**
  @tanstack/angular-query-experimental: any of: packages/angular-query-experimental/**
  @tanstack/eslint-plugin-query: any of: packages/eslint-plugin-query/**
  @tanstack/query-async-storage-persister: any of: packages/query-async-storage-persister/**
  @tanstack/query-broadcast-client-experimental: any of: packages/query-broadcast-client-experimental/**
  @tanstack/query-codemods: any of: packages/codemods/**
  @tanstack/query-core: any of: packages/query-core/**
  @tanstack/query-devtools: any of: packages/query-devtools/**
  @tanstack/query-persist-client-core: any of: packages/query-persist-client-core/**
  @tanstack/query-sync-storage-persister: any of: packages/query-sync-storage-persister/**
  @tanstack/react-query: any of: packages/react-query/**
  @tanstack/react-query-devtools: any of: packages/react-query-devtools/**
  @tanstack/react-query-next-experimental: any of: packages/react-query-next-experimental/**
  @tanstack/react-query-persist-client: any of: packages/react-query-persist-client/**
  @tanstack/solid-query: any of: packages/solid-query/**
  @tanstack/solid-query-devtools: any of: packages/solid-query-devtools/**
  @tanstack/solid-query-persist-client: any of: packages/solid-query-persist-client/**
  @tanstack/svelte-query: any of: packages/svelte-query/**
  @tanstack/svelte-query-devtools: any of: packages/svelte-query-devtools/**
  @tanstack/svelte-query-persist-client: any of: packages/svelte-query-persist-client/**
  @tanstack/vue-query: any of: packages/vue-query/**
  @tanstack/vue-query-devtools: any of: packages/vue-query-devtools/**
