Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools, @tanstack/angular-query, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

codecov.yml:

codecov:
  max_report_age: off

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto

comment:
  layout: 'header, reach, diff, flags, components'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  hide_project_coverage: false

component_management:
  individual_components:
    - component_id: angular-query-devtools
      name: '@tanstack/angular-query-devtools'
      paths:
        - packages/angular-query-devtools/**
    - component_id: angular-query
      name: '@tanstack/angular-query'
      paths:
        - packages/angular-query/**
    - component_id: eslint-plugin-query
      name: '@tanstack/eslint-plugin-query'
      paths:
        - packages/eslint-plugin-query/**
    - component_id: query-async-storage-persister
      name: '@tanstack/query-async-storage-persister'
      paths:
        - packages/query-async-storage-persister/**
    - component_id: query-broadcast-client-experimental
      name: '@tanstack/query-broadcast-client-experimental'
      paths:
        - packages/query-broadcast-client-experimental/**
    - component_id: query-codemods
      name: '@tanstack/query-codemods'
      paths:
        - packages/query-codemods/**
    - component_id: query-core
      name: '@tanstack/query-core'
      paths:
        - packages/query-core/**
    - component_id: query-devtools
      name: '@tanstack/query-devtools'
      paths:
        - packages/query-devtools/**
    - component_id: query-persist-client-core
      name: '@tanstack/query-persist-client-core'
      paths:
        - packages/query-persist-client-core/**
    - component_id: query-sync-storage-persister
      name: '@tanstack/query-sync-storage-persister'
      paths:
        - packages/query-sync-storage-persister/**
    - component_id: query-test-utils
      name: '@tanstack/query-test-utils'
      paths:
        - packages/query-test-utils/**
    - component_id: react-query
      name: '@tanstack/react-query'
      paths:
        - packages/react-query/**
    - component_id: react-query-devtools
      name: '@tanstack/react-query-devtools'
      paths:
        - packages/react-query-devtools/**
    - component_id: react-query-next-experimental
      name: '@tanstack/react-query-next-experimental'
      paths:
        - packages/react-query-next-experimental/**
    - component_id: react-query-persist-client
      name: '@tanstack/react-query-persist-client'
      paths:
        - packages/react-query-persist-client/**
    - component_id: solid-query
      name: '@tanstack/solid-query'
      paths:
        - packages/solid-query/**
    - component_id: solid-query-devtools
      name: '@tanstack/solid-query-devtools'
      paths:
        - packages/solid-query-devtools/**
    - component_id: solid-query-persist-client
      name: '@tanstack/solid-query-persist-client'
      paths:
        - packages/solid-query-persist-client/**
    - component_id: svelte-query
      name: '@tanstack/svelte-query'
      paths:
        - packages/svelte-query/**
    - component_id: svelte-query-devtools
      name: '@tanstack/svelte-query-devtools'
      paths:
        - packages/svelte-query-devtools/**
    - component_id: svelte-query-persist-client
      name: '@tanstack/svelte-query-persist-client'
      paths:
        - packages/svelte-query-persist-client/**
    - component_id: vue-query
      name: '@tanstack/vue-query'
      paths:
        - packages/vue-query/**
    - component_id: vue-query-devtools
      name: '@tanstack/vue-query-devtools'
      paths:
        - packages/vue-query-devtools/**

test(*): replace deprecated 'toMatchTypeOf' with 'toExtend' (#10413)
  packages/angular-query-experimental/src/__tests__/infinite-query-options.test-d.ts
  packages/preact-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/preact-query/src/__tests__/queryOptions.test-d.tsx
  packages/react-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/react-query/src/__tests__/queryOptions.test-d.tsx
  packages/solid-query/src/__tests__/infiniteQueryOptions.test-d.tsx
Due: @tanstack/react-query, @tanstack/solid-query

test(svelte-query): replace hardcoded query keys with 'queryKey()' utility
  packages/svelte-query/tests/createQueries/createQueries.svelte.test.ts
  packages/svelte-query/tests/createQueries/createQueries.test-d.ts
  packages/svelte-query/tests/createQuery.svelte.test.ts
  packages/svelte-query/tests/createQuery.test-d.ts
  packages/svelte-query/tests/infiniteQueryOptions.test-d.ts
  packages/svelte-query/tests/mutationOptions/mutationOptions.svelte.test.ts
  packages/svelte-query/tests/mutationOptions/mutationOptions.test-d.ts
  packages/svelte-query/tests/queryOptions.test-d.ts
  packages/svelte-query/tests/useMutationState/useMutationState.svelte.test.ts
Due: @tanstack/svelte-query

test(svelte-query): replace hardcoded query keys with 'queryKey()' utility (#10415)
  packages/svelte-query/tests/createQueries/createQueries.svelte.test.ts
  packages/svelte-query/tests/createQueries/createQueries.test-d.ts
  packages/svelte-query/tests/createQuery.svelte.test.ts
  packages/svelte-query/tests/createQuery.test-d.ts
  packages/svelte-query/tests/infiniteQueryOptions.test-d.ts
  packages/svelte-query/tests/mutationOptions/mutationOptions.svelte.test.ts
  packages/svelte-query/tests/mutationOptions/mutationOptions.test-d.ts
  packages/svelte-query/tests/queryOptions.test-d.ts
  packages/svelte-query/tests/useMutationState/useMutationState.svelte.test.ts
Due: @tanstack/svelte-query

test(solid-query): replace hardcoded query keys with 'queryKey()' utility
  packages/solid-query/src/__tests__/createQueries.test-d.tsx
  packages/solid-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/solid-query/src/__tests__/mutationOptions.test-d.tsx
  packages/solid-query/src/__tests__/mutationOptions.test.tsx
  packages/solid-query/src/__tests__/queryOptions.test-d.tsx
  packages/solid-query/src/__tests__/useIsMutating.test.tsx
  packages/solid-query/src/__tests__/useMutationState.test.tsx
  packages/solid-query/src/__tests__/useQuery.test-d.tsx
  packages/solid-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/solid-query

test(solid-query): replace hardcoded query keys with 'queryKey()' utility (#10416)
  packages/solid-query/src/__tests__/createQueries.test-d.tsx
  packages/solid-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/solid-query/src/__tests__/mutationOptions.test-d.tsx
  packages/solid-query/src/__tests__/mutationOptions.test.tsx
  packages/solid-query/src/__tests__/queryOptions.test-d.tsx
  packages/solid-query/src/__tests__/useIsMutating.test.tsx
  packages/solid-query/src/__tests__/useMutationState.test.tsx
  packages/solid-query/src/__tests__/useQuery.test-d.tsx
  packages/solid-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/solid-query

test(vue-query): replace hardcoded query keys with 'queryKey()' utility
  packages/vue-query/src/__tests__/infiniteQueryOptions.test-d.ts
  packages/vue-query/src/__tests__/queryClient.test-d.ts
  packages/vue-query/src/__tests__/queryOptions.test-d.ts
  packages/vue-query/src/__tests__/useInfiniteQuery.test-d.tsx
  packages/vue-query/src/__tests__/useInfiniteQuery.test.ts
  packages/vue-query/src/__tests__/useIsFetching.test.ts
  packages/vue-query/src/__tests__/useIsMutating.test.ts
  packages/vue-query/src/__tests__/useMutation.test.ts
  packages/vue-query/src/__tests__/useMutationState.test.ts
  packages/vue-query/src/__tests__/useQueries.test-d.ts
  packages/vue-query/src/__tests__/useQueries.test.ts
  packages/vue-query/src/__tests__/useQuery.test-d.ts
  packages/vue-query/src/__tests__/useQuery.test.ts
  packages/vue-query/src/__tests__/vueQueryPlugin.test.ts
Due: @tanstack/vue-query

test(vue-query): replace hardcoded query keys with 'queryKey()' utility (#10417)
  packages/vue-query/src/__tests__/infiniteQueryOptions.test-d.ts
  packages/vue-query/src/__tests__/queryClient.test-d.ts
  packages/vue-query/src/__tests__/queryOptions.test-d.ts
  packages/vue-query/src/__tests__/useInfiniteQuery.test-d.tsx
  packages/vue-query/src/__tests__/useInfiniteQuery.test.ts
  packages/vue-query/src/__tests__/useIsFetching.test.ts
  packages/vue-query/src/__tests__/useIsMutating.test.ts
  packages/vue-query/src/__tests__/useMutation.test.ts
  packages/vue-query/src/__tests__/useMutationState.test.ts
  packages/vue-query/src/__tests__/useQueries.test-d.ts
  packages/vue-query/src/__tests__/useQueries.test.ts
  packages/vue-query/src/__tests__/useQuery.test-d.ts
  packages/vue-query/src/__tests__/useQuery.test.ts
  packages/vue-query/src/__tests__/vueQueryPlugin.test.ts
Due: @tanstack/vue-query

test(angular-query-experimental): replace hardcoded query keys with 'queryKey()' utility
  packages/angular-query-experimental/src/__tests__/infinite-query-options.test-d.ts
  packages/angular-query-experimental/src/__tests__/infinite-query-options.test.ts
  packages/angular-query-experimental/src/__tests__/inject-infinite-query.test-d.ts
  packages/angular-query-experimental/src/__tests__/inject-infinite-query.test.ts
  packages/angular-query-experimental/src/__tests__/inject-is-fetching.test.ts
  packages/angular-query-experimental/src/__tests__/inject-is-mutating.test.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation-state.test.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation.test.ts
  packages/angular-query-experimental/src/__tests__/inject-queries.test-d.ts
  packages/angular-query-experimental/src/__tests__/inject-query.test-d.ts
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
  packages/angular-query-experimental/src/__tests__/mutation-options.test-d.ts
  packages/angular-query-experimental/src/__tests__/mutation-options.test.ts
  packages/angular-query-experimental/src/__tests__/pending-tasks.test.ts
  packages/angular-query-experimental/src/__tests__/query-options.test-d.ts
Due: none

test(angular-query-experimental): replace hardcoded query keys with 'queryKey()' utility (#10418)
  packages/angular-query-experimental/src/__tests__/infinite-query-options.test-d.ts
  packages/angular-query-experimental/src/__tests__/infinite-query-options.test.ts
  packages/angular-query-experimental/src/__tests__/inject-infinite-query.test-d.ts
  packages/angular-query-experimental/src/__tests__/inject-infinite-query.test.ts
  packages/angular-query-experimental/src/__tests__/inject-is-fetching.test.ts
  packages/angular-query-experimental/src/__tests__/inject-is-mutating.test.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation-state.test.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation.test.ts
  packages/angular-query-experimental/src/__tests__/inject-queries.test-d.ts
  packages/angular-query-experimental/src/__tests__/inject-query.test-d.ts
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
  packages/angular-query-experimental/src/__tests__/mutation-options.test-d.ts
  packages/angular-query-experimental/src/__tests__/mutation-options.test.ts
  packages/angular-query-experimental/src/__tests__/pending-tasks.test.ts
  packages/angular-query-experimental/src/__tests__/query-options.test-d.ts
Due: none

test(preact-query): replace hardcoded query keys with 'queryKey()' utility
  packages/preact-query/src/__tests__/HydrationBoundary.test.tsx
  packages/preact-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/preact-query/src/__tests__/infiniteQueryOptions.test.tsx
  packages/preact-query/src/__tests__/mutationOptions.test-d.tsx
  packages/preact-query/src/__tests__/mutationOptions.test.tsx
  packages/preact-query/src/__tests__/queryOptions.test-d.tsx
  packages/preact-query/src/__tests__/ssr-hydration.test.tsx
  packages/preact-query/src/__tests__/suspense.test.tsx
  packages/preact-query/src/__tests__/useInfiniteQuery.test-d.tsx
  packages/preact-query/src/__tests__/useMutationState.test.tsx
  packages/preact-query/src/__tests__/usePrefetchInfiniteQuery.test-d.tsx
  packages/preact-query/src/__tests__/usePrefetchQuery.test-d.tsx
  packages/preact-query/src/__tests__/useQueries.test-d.tsx
  packages/preact-query/src/__tests__/useQueries.test.tsx
  packages/preact-query/src/__tests__/useQuery.test-d.tsx
  packages/preact-query/src/__tests__/useQuery.test.tsx
  packages/preact-query/src/__tests__/useSuspenseInfiniteQuery.test-d.tsx
  packages/preact-query/src/__tests__/useSuspenseQueries.test-d.tsx
  packages/preact-query/src/__tests__/useSuspenseQuery.test-d.tsx
Due: none

test(preact-query): replace hardcoded query keys with 'queryKey()' utility (#10419)
  packages/preact-query/src/__tests__/HydrationBoundary.test.tsx
  packages/preact-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/preact-query/src/__tests__/infiniteQueryOptions.test.tsx
  packages/preact-query/src/__tests__/mutationOptions.test-d.tsx
  packages/preact-query/src/__tests__/mutationOptions.test.tsx
  packages/preact-query/src/__tests__/queryOptions.test-d.tsx
  packages/preact-query/src/__tests__/ssr-hydration.test.tsx
  packages/preact-query/src/__tests__/suspense.test.tsx
  packages/preact-query/src/__tests__/useInfiniteQuery.test-d.tsx
  packages/preact-query/src/__tests__/useMutationState.test.tsx
  packages/preact-query/src/__tests__/usePrefetchInfiniteQuery.test-d.tsx
  packages/preact-query/src/__tests__/usePrefetchQuery.test-d.tsx
  packages/preact-query/src/__tests__/useQueries.test-d.tsx
  packages/preact-query/src/__tests__/useQueries.test.tsx
  packages/preact-query/src/__tests__/useQuery.test-d.tsx
  packages/preact-query/src/__tests__/useQuery.test.tsx
  packages/preact-query/src/__tests__/useSuspenseInfiniteQuery.test-d.tsx
  packages/preact-query/src/__tests__/useSuspenseQueries.test-d.tsx
  packages/preact-query/src/__tests__/useSuspenseQuery.test-d.tsx
Due: none

test(react-query): replace hardcoded query keys with 'queryKey()' utility
  packages/react-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/react-query/src/__tests__/infiniteQueryOptions.test.tsx
  packages/react-query/src/__tests__/mutationOptions.test-d.tsx
  packages/react-query/src/__tests__/mutationOptions.test.tsx
  packages/react-query/src/__tests__/queryOptions.test-d.tsx
  packages/react-query/src/__tests__/ssr-hydration.test.tsx
  packages/react-query/src/__tests__/suspense.test.tsx
  packages/react-query/src/__tests__/useInfiniteQuery.test-d.tsx
  packages/react-query/src/__tests__/useMutationState.test.tsx
  packages/react-query/src/__tests__/usePrefetchInfiniteQuery.test-d.tsx
  packages/react-query/src/__tests__/usePrefetchQuery.test-d.tsx
  packages/react-query/src/__tests__/useQueries.test-d.tsx
  packages/react-query/src/__tests__/useQueries.test.tsx
  packages/react-query/src/__tests__/useQuery.test-d.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/react-query/src/__tests__/useSuspenseInfiniteQuery.test-d.tsx
  packages/react-query/src/__tests__/useSuspenseQueries.test-d.tsx
  packages/react-query/src/__tests__/useSuspenseQuery.test-d.tsx
Due: @tanstack/react-query

test(react-query): replace hardcoded query keys with 'queryKey()' utility (#10420)
  packages/react-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/react-query/src/__tests__/infiniteQueryOptions.test.tsx
  packages/react-query/src/__tests__/mutationOptions.test-d.tsx
  packages/react-query/src/__tests__/mutationOptions.test.tsx
  packages/react-query/src/__tests__/queryOptions.test-d.tsx
  packages/react-query/src/__tests__/ssr-hydration.test.tsx
  packages/react-query/src/__tests__/suspense.test.tsx
  packages/react-query/src/__tests__/useInfiniteQuery.test-d.tsx
  packages/react-query/src/__tests__/useMutationState.test.tsx
  packages/react-query/src/__tests__/usePrefetchInfiniteQuery.test-d.tsx
  packages/react-query/src/__tests__/usePrefetchQuery.test-d.tsx
  packages/react-query/src/__tests__/useQueries.test-d.tsx
  packages/react-query/src/__tests__/useQueries.test.tsx
  packages/react-query/src/__tests__/useQuery.test-d.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/react-query/src/__tests__/useSuspenseInfiniteQuery.test-d.tsx
  packages/react-query/src/__tests__/useSuspenseQueries.test-d.tsx
  packages/react-query/src/__tests__/useSuspenseQuery.test-d.tsx
Due: @tanstack/react-query

test(query-core/mutationCache): add test for removing a mutation that does not exist in the cache
  packages/query-core/src/__tests__/mutationCache.test.tsx
Due: @tanstack/query-core

test(query-core/mutationCache): add test for removing a mutation that does not exist in the cache (#10423)
  packages/query-core/src/__tests__/mutationCache.test.tsx
Due: @tanstack/query-core

test(query-core): replace hardcoded query keys with 'queryKey()' utility
  packages/query-core/src/__tests__/hydration.test.tsx
  packages/query-core/src/__tests__/query.test.tsx
  packages/query-core/src/__tests__/queryCache.test.tsx
  packages/query-core/src/__tests__/queryClient.test-d.tsx
  packages/query-core/src/__tests__/queryObserver.test-d.tsx
  packages/query-core/src/__tests__/utils.test.tsx
Due: @tanstack/query-core

test(query-core): replace hardcoded query keys with 'queryKey()' utility (#10425)
  packages/query-core/src/__tests__/hydration.test.tsx
  packages/query-core/src/__tests__/query.test.tsx
  packages/query-core/src/__tests__/queryCache.test.tsx
  packages/query-core/src/__tests__/queryClient.test-d.tsx
  packages/query-core/src/__tests__/queryObserver.test-d.tsx
  packages/query-core/src/__tests__/utils.test.tsx
Due: @tanstack/query-core

feat(query-core): include current query as a placeholder data function param
  .changeset/long-bars-lay.md
  docs/framework/react/reference/useQuery.md
  docs/framework/solid/reference/useQuery.md
  packages/query-core/src/__tests__/queryObserver.test.tsx
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/types.ts
Due: @tanstack/query-core

test(query-core/hydration): replace 'vi.waitFor' with 'vi.advanceTimersByTimeAsync'
  packages/query-core/src/__tests__/hydration.test.tsx
Due: @tanstack/query-core

test(query-core/hydration): replace 'vi.waitFor' with 'vi.advanceTimersByTimeAsync' (#10428)
  packages/query-core/src/__tests__/hydration.test.tsx
Due: @tanstack/query-core

vue again
  docs/framework/vue/guides/prefetching.md
  docs/framework/vue/guides/ssr.md
Due: none

update options
  docs/framework/react/reference/infiniteQueryOptions.md
  docs/framework/react/reference/queryOptions.md
Due: none

types deprecations
  packages/query-core/src/types.ts
Due: @tanstack/query-core

tests fix for prefetching
  packages/preact-query/src/__tests__/usePrefetchInfiniteQuery.test-d.tsx
  packages/preact-query/src/__tests__/usePrefetchQuery.test-d.tsx
  packages/preact-query/src/types.ts
  packages/react-query/src/__tests__/usePrefetchInfiniteQuery.test-d.tsx
  packages/react-query/src/__tests__/usePrefetchQuery.test-d.tsx
  packages/react-query/src/types.ts
Due: @tanstack/react-query

more docs
  docs/framework/angular/typescript.md
  docs/framework/react/guides/migrating-to-v5.md
  docs/framework/react/guides/ssr.md
  docs/framework/react/reference/usePrefetchInfiniteQuery.md
  docs/framework/react/reference/usePrefetchQuery.md
Due: none

update the prefetch hooks
  .changeset/famous-owls-battle.md
  packages/preact-query/src/types.ts
  packages/preact-query/src/usePrefetchInfiniteQuery.tsx
  packages/preact-query/src/usePrefetchQuery.tsx
  packages/react-query/src/types.ts
  packages/react-query/src/usePrefetchInfiniteQuery.tsx
  packages/react-query/src/usePrefetchQuery.tsx
Due: @tanstack/react-query

remove unused query clients in vue ssr
  docs/framework/vue/guides/ssr.md
Due: none

Add back in removed sections in query client reference
  docs/reference/QueryClient.md
Due: none

add query page param.
  docs/reference/QueryClient.md
Due: none

docs typo updates
  docs/framework/react/reference/usePrefetchQuery.md
  docs/framework/vue/guides/prefetching.md
Due: none

add awaits back in
  docs/framework/react/guides/prefetching.md
Due: none

fix prefetch query reference
  docs/framework/preact/reference/functions/usePrefetchQuery.md
  docs/framework/preact/reference/index.md
  docs/framework/preact/reference/interfaces/UsePrefetchQueryOptions.md
  docs/framework/react/reference/usePrefetchQuery.md
Due: none

name infiniteQuery properly
  docs/reference/QueryClient.md
Due: none

Update docs/framework/react/guides/prefetching.md
  docs/framework/react/guides/prefetching.md
Due: none

test title language
  packages/query-core/src/__tests__/queryClient.test.tsx
Due: @tanstack/query-core

Update docs/reference/QueryClient.md
  docs/reference/QueryClient.md
Due: none

fix docs link
  docs/reference/QueryClient.md
Due: none

docs(examples): fix Solid README dev commands
  examples/solid/basic-graphql-request/README.md
  examples/solid/basic/README.md
  examples/solid/default-query-function/README.md
  examples/solid/offline/README.md
  examples/solid/simple/README.md
Due: none
