Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools, @tanstack/angular-query, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

codecov.yml:

codecov:
  max_report_age: off

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto

comment:
  layout: 'header, reach, diff, flags, components'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  hide_project_coverage: false

component_management:
  individual_components:
    - component_id: angular-query-devtools
      name: '@tanstack/angular-query-devtools'
      paths:
        - packages/angular-query-devtools/**
    - component_id: angular-query
      name: '@tanstack/angular-query'
      paths:
        - packages/angular-query/**
    - component_id: eslint-plugin-query
      name: '@tanstack/eslint-plugin-query'
      paths:
        - packages/eslint-plugin-query/**
    - component_id: query-async-storage-persister
      name: '@tanstack/query-async-storage-persister'
      paths:
        - packages/query-async-storage-persister/**
    - component_id: query-broadcast-client-experimental
      name: '@tanstack/query-broadcast-client-experimental'
      paths:
        - packages/query-broadcast-client-experimental/**
    - component_id: query-codemods
      name: '@tanstack/query-codemods'
      paths:
        - packages/query-codemods/**
    - component_id: query-core
      name: '@tanstack/query-core'
      paths:
        - packages/query-core/**
    - component_id: query-devtools
      name: '@tanstack/query-devtools'
      paths:
        - packages/query-devtools/**
    - component_id: query-persist-client-core
      name: '@tanstack/query-persist-client-core'
      paths:
        - packages/query-persist-client-core/**
    - component_id: query-sync-storage-persister
      name: '@tanstack/query-sync-storage-persister'
      paths:
        - packages/query-sync-storage-persister/**
    - component_id: query-test-utils
      name: '@tanstack/query-test-utils'
      paths:
        - packages/query-test-utils/**
    - component_id: react-query
      name: '@tanstack/react-query'
      paths:
        - packages/react-query/**
    - component_id: react-query-devtools
      name: '@tanstack/react-query-devtools'
      paths:
        - packages/react-query-devtools/**
    - component_id: react-query-next-experimental
      name: '@tanstack/react-query-next-experimental'
      paths:
        - packages/react-query-next-experimental/**
    - component_id: react-query-persist-client
      name: '@tanstack/react-query-persist-client'
      paths:
        - packages/react-query-persist-client/**
    - component_id: solid-query
      name: '@tanstack/solid-query'
      paths:
        - packages/solid-query/**
    - component_id: solid-query-devtools
      name: '@tanstack/solid-query-devtools'
      paths:
        - packages/solid-query-devtools/**
    - component_id: solid-query-persist-client
      name: '@tanstack/solid-query-persist-client'
      paths:
        - packages/solid-query-persist-client/**
    - component_id: svelte-query
      name: '@tanstack/svelte-query'
      paths:
        - packages/svelte-query/**
    - component_id: svelte-query-devtools
      name: '@tanstack/svelte-query-devtools'
      paths:
        - packages/svelte-query-devtools/**
    - component_id: svelte-query-persist-client
      name: '@tanstack/svelte-query-persist-client'
      paths:
        - packages/svelte-query-persist-client/**
    - component_id: vue-query
      name: '@tanstack/vue-query'
      paths:
        - packages/vue-query/**
    - component_id: vue-query-devtools
      name: '@tanstack/vue-query-devtools'
      paths:
        - packages/vue-query-devtools/**

chore(preact-query*): remove '@typescript-eslint/no-redeclare'
  packages/preact-query-devtools/eslint.config.js
  packages/preact-query-persist-client/eslint.config.js
  packages/preact-query/eslint.config.js
Due: none

chore(preact-query*): enable '@typescript-eslint/no-unnecessary-condition' outside tests
  packages/preact-query-devtools/eslint.config.js
  packages/preact-query-persist-client/eslint.config.js
  packages/preact-query/eslint.config.js
  packages/preact-query/src/HydrationBoundary.tsx
Due: none

chore(preact-query*): remove '@typescript-eslint/no-redeclare' (#11926)
  packages/preact-query-devtools/eslint.config.js
  packages/preact-query-persist-client/eslint.config.js
  packages/preact-query/eslint.config.js
Due: none

chore(preact-query*): enable '@typescript-eslint/no-unnecessary-condition' outside tests (#11927)
  packages/preact-query-devtools/eslint.config.js
  packages/preact-query-persist-client/eslint.config.js
  packages/preact-query/eslint.config.js
  packages/preact-query/src/HydrationBoundary.tsx
Due: none

chore(preact-query*): clarify why the base rules from 'eslint-config-preact' are turned off
  packages/preact-query-devtools/eslint.config.js
  packages/preact-query-persist-client/eslint.config.js
  packages/preact-query/eslint.config.js
Due: none

chore(preact-query*): clarify why the base rules from 'eslint-config-preact' are turned off (#11928)
  packages/preact-query-devtools/eslint.config.js
  packages/preact-query-persist-client/eslint.config.js
  packages/preact-query/eslint.config.js
Due: none

chore(solid-query*): add 'eslint-plugin-solid'
  packages/solid-query-devtools/eslint.config.js
  packages/solid-query-devtools/package.json
  packages/solid-query-devtools/src/devtools.tsx
  packages/solid-query-persist-client/eslint.config.js
  packages/solid-query-persist-client/package.json
  packages/solid-query/eslint.config.js
  packages/solid-query/package.json
  packages/solid-query/src/__tests__/useIsFetching.test.tsx
  packages/solid-query/src/__tests__/useIsMutating.test.tsx
  packages/solid-query/src/__tests__/useMutation.test.tsx
  packages/solid-query/src/__tests__/useQuery.test.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client

chore(solid-query*): explain why 'solid/reactivity' is off and keep it on in 'solid-query-persist-client'
  packages/solid-query-devtools/eslint.config.js
  packages/solid-query-persist-client/eslint.config.js
  packages/solid-query/eslint.config.js
Due: @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client

chore(solid-query*): add 'eslint-plugin-solid' (#11929)
  packages/solid-query-devtools/eslint.config.js
  packages/solid-query-devtools/package.json
  packages/solid-query-devtools/src/devtools.tsx
  packages/solid-query-persist-client/eslint.config.js
  packages/solid-query-persist-client/package.json
  packages/solid-query/eslint.config.js
  packages/solid-query/package.json
  packages/solid-query/src/__tests__/useIsFetching.test.tsx
  packages/solid-query/src/__tests__/useIsMutating.test.tsx
  packages/solid-query/src/__tests__/useMutation.test.tsx
  packages/solid-query/src/__tests__/useQuery.test.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client

chore(vue-query*): switch Vue plugin back from 'unplugin-vue' to '@vitejs/plugin-vue'
  .changeset/plain-vue-plugin-revert.md
  packages/vue-query-devtools/package.json
  packages/vue-query-devtools/tsdown.config.ts
  packages/vue-query-devtools/vite.config.ts
  packages/vue-query/package.json
  packages/vue-query/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: @tanstack/vue-query, @tanstack/vue-query-devtools

fix(query-core): preserve union narrowing in setQueryData updaters
  .changeset/tidy-keys-narrow.md
  packages/query-core/src/queryClient.ts
  packages/react-query/src/__tests__/queryOptions.test-d.tsx
Due: @tanstack/query-core, @tanstack/react-query

docs(svelte): import browser from $app/env instead of $app/environment
  docs/framework/svelte/ssr.md
  examples/svelte/auto-refetching/src/routes/+layout.svelte
  examples/svelte/basic/src/routes/+layout.svelte
  examples/svelte/load-more-infinite-scroll/src/routes/+layout.svelte
  examples/svelte/optimistic-updates/src/routes/+layout.svelte
  examples/svelte/playground/src/routes/+layout.svelte
  examples/svelte/ssr/src/routes/+layout.ts
  examples/svelte/star-wars/src/routes/+layout.svelte
Due: none

feat(angular): migration schematic
  .changeset/angular-migration-schematic.md
  docs/framework/angular/guides/migrating-from-experimental.md
  knip.ts
  packages/angular-query/schematics-build/migrate-from-experimental.test.ts
  packages/angular-query/schematics-build/ng-add.test.ts
  packages/angular-query/schematics-build/test-utils.ts
  packages/angular-query/schematics/collection.json
  packages/angular-query/schematics/migrate-from-experimental/imports.ts
  packages/angular-query/schematics/migrate-from-experimental/index.ts
  packages/angular-query/schematics/migrate-from-experimental/schema.json
  packages/angular-query/schematics/migrate-from-experimental/source.ts
  packages/angular-query/schematics/migrate-from-experimental/workspace.ts
  packages/angular-query/scripts/inject-schematic-package-info.js
  packages/angular-query/scripts/prepack.js
Due: @tanstack/angular-query

fix(vue-query): export `MutationResult` type (#11796)
  .changeset/export-vue-mutation-result.md
  packages/vue-query/src/index.ts
  packages/vue-query/src/useMutation.ts
Due: @tanstack/vue-query

chore: lint expectTypeOf with vitest valid-expect
  oxlint.config.ts
  package.json
  packages/lit-query/src/__tests__/createQueriesController.test-d.ts
  packages/preact-query/src/__tests__/useQueries.test-d.tsx
  packages/react-query/src/__tests__/useQueries.test-d.tsx
  packages/solid-query/src/__tests__/useQueries.test-d.tsx
  packages/svelte-query/tests/createQueries/createQueries.test-d.ts
  pnpm-lock.yaml
Due: @tanstack/react-query, @tanstack/solid-query, @tanstack/svelte-query

chore: replace prettier with oxfmt
  .oxfmtrc.json
  .prettierignore
  docs/framework/lit/guides/ssr.md
  examples/lit/ssr/src/app.ts
  package.json
  packages/angular-query-experimental/src/pending-tasks-compat.ts
  packages/angular-query-experimental/src/query-options.ts
  packages/lit-query/src/QueryClientProvider.ts
  packages/lit-query/src/__tests__/createQueryController.test-d.ts
  packages/lit-query/src/controllers/BaseController.ts
  packages/lit-query/src/createMutationController.ts
  packages/lit-query/src/queryOptions.ts
  packages/preact-query/src/__tests__/useQuery.test-d.tsx
  packages/preact-query/src/queryOptions.ts
  packages/preact-query/src/suspense.ts
  packages/query-core/src/__tests__/infiniteQueryBehavior.test.tsx
  packages/query-core/src/__tests__/utils.test-d.tsx
  packages/query-core/src/query.ts
  packages/query-core/src/queryCache.ts
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/types.ts
  packages/query-devtools/src/utils.tsx
  packages/react-query/src/__tests__/useQuery.test-d.tsx
  packages/react-query/src/queryOptions.ts
  packages/react-query/src/suspense.ts
  packages/solid-query/src/QueryClient.ts
  packages/solid-query/src/useBaseQuery.ts
  packages/svelte-query/src/queryOptions.ts
  packages/vue-query/src/queryOptions.ts
  packages/vue-query/src/useBaseQuery.ts
  packages/vue-query/src/useIsFetching.ts
  packages/vue-query/src/useMutationState.ts
  packages/vue-query/src/useQuery.ts
  pnpm-lock.yaml
  prettier.config.js
  scripts/generate-labeler-config.ts
Due: @tanstack/query-core, @tanstack/query-devtools, @tanstack/react-query, @tanstack/solid-query, @tanstack/svelte-query, @tanstack/vue-query

docs(vue-query): describe the MutationResult type
  docs/framework/vue/reference/functions/useMutation.md
  docs/framework/vue/reference/type-aliases/MutationResult.md
  docs/framework/vue/reference/type-aliases/UseMutationOptions.md
  docs/framework/vue/reference/type-aliases/UseMutationReturnType.md
  packages/vue-query/src/useMutation.ts
Due: @tanstack/vue-query

docs(vue-query): clarify MutationResult description
  docs/framework/vue/reference/type-aliases/MutationResult.md
  packages/vue-query/src/useMutation.ts
Due: @tanstack/vue-query

docs(vue-query): regenerate reference docs for 'MutationResult'
  docs/framework/vue/reference/functions/useMutation.md
  docs/framework/vue/reference/type-aliases/MutationResult.md
  docs/framework/vue/reference/type-aliases/UseMutationOptions.md
  docs/framework/vue/reference/type-aliases/UseMutationReturnType.md
Due: none

docs(vue-query/useMutation): add JSDoc to 'MutationResult'
  packages/vue-query/src/useMutation.ts
Due: @tanstack/vue-query

docs(vue-query/useMutation): add JSDoc to 'MutationResult' (#11937)
  docs/framework/vue/reference/functions/useMutation.md
  docs/framework/vue/reference/type-aliases/MutationResult.md
  docs/framework/vue/reference/type-aliases/UseMutationOptions.md
  docs/framework/vue/reference/type-aliases/UseMutationReturnType.md
  packages/vue-query/src/useMutation.ts
Due: @tanstack/vue-query

chore: replace prettier with oxfmt
  .oxfmtrc.json
  .prettierignore
  docs/framework/lit/guides/ssr.md
  examples/lit/ssr/src/app.ts
  package.json
  packages/angular-query-experimental/src/pending-tasks-compat.ts
  packages/angular-query-experimental/src/query-options.ts
  packages/lit-query/src/QueryClientProvider.ts
  packages/lit-query/src/__tests__/createQueryController.test-d.ts
  packages/lit-query/src/controllers/BaseController.ts
  packages/lit-query/src/createMutationController.ts
  packages/lit-query/src/queryOptions.ts
  packages/preact-query/src/__tests__/useQuery.test-d.tsx
  packages/preact-query/src/queryOptions.ts
  packages/preact-query/src/suspense.ts
  packages/query-core/src/__tests__/infiniteQueryBehavior.test.tsx
  packages/query-core/src/__tests__/utils.test-d.tsx
  packages/query-core/src/query.ts
  packages/query-core/src/queryCache.ts
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/types.ts
  packages/query-devtools/src/utils.tsx
  packages/react-query/src/__tests__/useQuery.test-d.tsx
  packages/react-query/src/queryOptions.ts
  packages/react-query/src/suspense.ts
  packages/solid-query/src/QueryClient.ts
  packages/solid-query/src/useBaseQuery.ts
  packages/svelte-query/src/queryOptions.ts
  packages/vue-query/src/__tests__/useMutation.test.ts
  packages/vue-query/src/queryOptions.ts
  packages/vue-query/src/useBaseQuery.ts
  packages/vue-query/src/useIsFetching.ts
  packages/vue-query/src/useMutationState.ts
  packages/vue-query/src/useQuery.ts
  pnpm-lock.yaml
  prettier.config.js
  scripts/generate-labeler-config.ts
Due: @tanstack/query-core, @tanstack/query-devtools, @tanstack/react-query, @tanstack/solid-query, @tanstack/svelte-query, @tanstack/vue-query

chore: replace prettier with oxfmt (#11939)
  .oxfmtrc.json
  .prettierignore
  docs/framework/lit/guides/ssr.md
  examples/lit/ssr/src/app.ts
  package.json
  packages/angular-query-experimental/src/pending-tasks-compat.ts
  packages/angular-query-experimental/src/query-options.ts
  packages/lit-query/src/QueryClientProvider.ts
  packages/lit-query/src/__tests__/createQueryController.test-d.ts
  packages/lit-query/src/controllers/BaseController.ts
  packages/lit-query/src/createMutationController.ts
  packages/lit-query/src/queryOptions.ts
  packages/preact-query/src/__tests__/useQuery.test-d.tsx
  packages/preact-query/src/queryOptions.ts
  packages/preact-query/src/suspense.ts
  packages/query-core/src/__tests__/infiniteQueryBehavior.test.tsx
  packages/query-core/src/__tests__/utils.test-d.tsx
  packages/query-core/src/query.ts
  packages/query-core/src/queryCache.ts
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/types.ts
  packages/query-devtools/src/utils.tsx
  packages/react-query/src/__tests__/useQuery.test-d.tsx
  packages/react-query/src/queryOptions.ts
  packages/react-query/src/suspense.ts
  packages/solid-query/src/QueryClient.ts
  packages/solid-query/src/useBaseQuery.ts
  packages/svelte-query/src/queryOptions.ts
  packages/vue-query/src/__tests__/useMutation.test.ts
  packages/vue-query/src/queryOptions.ts
  packages/vue-query/src/useBaseQuery.ts
  packages/vue-query/src/useIsFetching.ts
  packages/vue-query/src/useMutationState.ts
  packages/vue-query/src/useQuery.ts
  pnpm-lock.yaml
  prettier.config.js
  scripts/generate-labeler-config.ts
Due: @tanstack/query-core, @tanstack/query-devtools, @tanstack/react-query, @tanstack/solid-query, @tanstack/svelte-query, @tanstack/vue-query

chore(*): pass the root 'settings' to the package oxlint configs, which 'extends' does not inherit
  packages/angular-query-experimental/oxlint.config.ts
  packages/angular-query-persist-client/oxlint.config.ts
  packages/eslint-plugin-query/oxlint.config.ts
  packages/lit-query/oxlint.config.ts
  packages/preact-query-devtools/oxlint.config.ts
  packages/preact-query-persist-client/oxlint.config.ts
  packages/preact-query/oxlint.config.ts
  packages/query-async-storage-persister/oxlint.config.ts
  packages/query-broadcast-client-experimental/oxlint.config.ts
  packages/query-codemods/oxlint.config.ts
  packages/query-core/oxlint.config.ts
  packages/query-devtools/oxlint.config.ts
  packages/query-persist-client-core/oxlint.config.ts
  packages/query-sync-storage-persister/oxlint.config.ts
  packages/query-test-utils/oxlint.config.ts
  packages/react-query-devtools/oxlint.config.ts
  packages/react-query-next-experimental/oxlint.config.ts
  packages/react-query-persist-client/oxlint.config.ts
  packages/react-query/oxlint.config.ts
  packages/solid-query-devtools/oxlint.config.ts
  packages/solid-query-persist-client/oxlint.config.ts
  packages/solid-query/oxlint.config.ts
  packages/svelte-query-devtools/oxlint.config.ts
  packages/svelte-query-persist-client/oxlint.config.ts
  packages/svelte-query/oxlint.config.ts
  packages/vue-query-devtools/oxlint.config.ts
  packages/vue-query/oxlint.config.ts
Due: @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

chore(*): pass the root 'settings' to the package oxlint configs, which 'extends' does not inherit (#11941)
  packages/angular-query-experimental/oxlint.config.ts
  packages/angular-query-persist-client/oxlint.config.ts
  packages/eslint-plugin-query/oxlint.config.ts
  packages/lit-query/oxlint.config.ts
  packages/preact-query-devtools/oxlint.config.ts
  packages/preact-query-persist-client/oxlint.config.ts
  packages/preact-query/oxlint.config.ts
  packages/query-async-storage-persister/oxlint.config.ts
  packages/query-broadcast-client-experimental/oxlint.config.ts
  packages/query-codemods/oxlint.config.ts
  packages/query-core/oxlint.config.ts
  packages/query-devtools/oxlint.config.ts
  packages/query-persist-client-core/oxlint.config.ts
  packages/query-sync-storage-persister/oxlint.config.ts
  packages/query-test-utils/oxlint.config.ts
  packages/react-query-devtools/oxlint.config.ts
  packages/react-query-next-experimental/oxlint.config.ts
  packages/react-query-persist-client/oxlint.config.ts
  packages/react-query/oxlint.config.ts
  packages/solid-query-devtools/oxlint.config.ts
  packages/solid-query-persist-client/oxlint.config.ts
  packages/solid-query/oxlint.config.ts
  packages/svelte-query-devtools/oxlint.config.ts
  packages/svelte-query-persist-client/oxlint.config.ts
  packages/svelte-query/oxlint.config.ts
  packages/vue-query-devtools/oxlint.config.ts
  packages/vue-query/oxlint.config.ts
Due: @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

chore(oxlint.config): spread the vitest recommended rules instead of listing them
  oxlint.config.ts
Due: none

chore(oxlint.config): spread the vitest recommended rules instead of listing them (#11942)
  oxlint.config.ts
Due: none

chore(oxlint.config): remove the unused '$schema'
  oxlint.config.ts
Due: none

chore(oxlint.config): remove the unused '$schema' (#11943)
  oxlint.config.ts
Due: none

chore(oxfmt.config): replace '.oxfmtrc.json' with 'oxfmt.config.ts'
  .oxfmtrc.json
  oxfmt.config.ts
  scripts/generate-labeler-config.ts
Due: none

chore(oxfmt.config): replace '.oxfmtrc.json' with 'oxfmt.config.ts' (#11944)
  .oxfmtrc.json
  oxfmt.config.ts
  scripts/generate-labeler-config.ts
Due: none

fix(mutation-observer): snapshot mutateOptions before dispatching callbacks
  packages/query-core/src/__tests__/mutationObserver.test.tsx
  packages/query-core/src/mutationObserver.ts
Due: @tanstack/query-core

chore(oxlint.config): load the jsdoc and vitest JS plugins only in the overrides that use them
  oxlint.config.ts
Due: none

chore(oxlint.config): load the jsdoc and vitest JS plugins only in the overrides that use them (#11946)
  oxlint.config.ts
Due: none
