Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 1%

comment:
  layout: 'header, reach, diff, flags, components'

component_management:
  individual_components:
    - component_id: angular-query-devtools-experimental
      name: '@tanstack/angular-query-devtools-experimental'
      paths:
        - packages/angular-query-devtools-experimental/**
    - component_id: angular-query-experimental
      name: '@tanstack/angular-query-experimental'
      paths:
        - packages/angular-query-experimental/**
    - component_id: eslint-plugin-query
      name: '@tanstack/eslint-plugin-query'
      paths:
        - packages/eslint-plugin-query/**
    - component_id: query-async-storage-persister
      name: '@tanstack/query-async-storage-persister'
      paths:
        - packages/query-async-storage-persister/**
    - component_id: query-broadcast-client-experimental
      name: '@tanstack/query-broadcast-client-experimental'
      paths:
        - packages/query-broadcast-client-experimental/**
    - component_id: query-codemods
      name: '@tanstack/query-codemods'
      paths:
        - packages/codemods/**
    - component_id: query-core
      name: '@tanstack/query-core'
      paths:
        - packages/query-core/**
    - component_id: query-devtools
      name: '@tanstack/query-devtools'
      paths:
        - packages/query-devtools/**
    - component_id: query-persist-client-core
      name: '@tanstack/query-persist-client-core'
      paths:
        - packages/query-persist-client-core/**
    - component_id: query-sync-storage-persister
      name: '@tanstack/query-sync-storage-persister'
      paths:
        - packages/query-sync-storage-persister/**
    - component_id: react-query
      name: '@tanstack/react-query'
      paths:
        - packages/react-query/**
    - component_id: react-query-devtools
      name: '@tanstack/react-query-devtools'
      paths:
        - packages/react-query-devtools/**
    - component_id: react-query-next-experimental
      name: '@tanstack/react-query-next-experimental'
      paths:
        - packages/react-query-next-experimental/**
    - component_id: react-query-persist-client
      name: '@tanstack/react-query-persist-client'
      paths:
        - packages/react-query-persist-client/**
    - component_id: solid-query
      name: '@tanstack/solid-query'
      paths:
        - packages/solid-query/**
    - component_id: solid-query-devtools
      name: '@tanstack/solid-query-devtools'
      paths:
        - packages/solid-query-devtools/**
    - component_id: solid-query-persist-client
      name: '@tanstack/solid-query-persist-client'
      paths:
        - packages/solid-query-persist-client/**
    - component_id: svelte-query
      name: '@tanstack/svelte-query'
      paths:
        - packages/svelte-query/**
    - component_id: svelte-query-devtools
      name: '@tanstack/svelte-query-devtools'
      paths:
        - packages/svelte-query-devtools/**
    - component_id: svelte-query-persist-client
      name: '@tanstack/svelte-query-persist-client'
      paths:
        - packages/svelte-query-persist-client/**
    - component_id: vue-query
      name: '@tanstack/vue-query'
      paths:
        - packages/vue-query/**
    - component_id: vue-query-devtools
      name: '@tanstack/vue-query-devtools'
      paths:
        - packages/vue-query-devtools/**

patch(query-devtools): Default font-family to Inter
  packages/query-devtools/src/Devtools.tsx
  packages/query-devtools/src/Explorer.tsx
Due: @tanstack/query-devtools

patch(query-devtools): Default font-family to Inter (#6922)
  packages/query-devtools/src/Devtools.tsx
  packages/query-devtools/src/Explorer.tsx
Due: @tanstack/query-devtools

fix(query-devtools): Include class name to devtools button component
  packages/query-devtools/src/Devtools.tsx
Due: @tanstack/query-devtools

fix(query-devtools): Include class name to devtools button component (#6923)
  packages/query-devtools/src/Devtools.tsx
Due: @tanstack/query-devtools

docs: remove outdated section
  docs/reference/QueryCache.md
Due: none

fix(react-query-next-experimental): fix unnecessary suspensions (#6753)
  docs/framework/react/guides/advanced-ssr.md
  packages/react-query-next-experimental/src/HydrationStreamProvider.tsx
Due: @tanstack/react-query-next-experimental

release: v5.21.6
  examples/react/nextjs-suspense-streaming/package.json
  packages/react-query-next-experimental/package.json
  pnpm-lock.yaml
Due: @tanstack/react-query-next-experimental

refactor(core): use `queryCache.get` instead of `find({ queryKey })` for better perf (#6918)
  packages/query-core/src/queryClient.ts
  packages/query-core/src/tests/queryClient.test.tsx
Due: @tanstack/query-core

feat(angular-query): inject mutation state
  .gitignore
  docs/framework/angular/guides/optimistic-updates.md
  packages/angular-query-experimental/src/__tests__/inject-mutation-state.test.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation.test.ts
  packages/angular-query-experimental/src/create-base-query.ts
  packages/angular-query-experimental/src/index.ts
  packages/angular-query-experimental/src/inject-mutation-state.ts
Due: @tanstack/angular-query-experimental

add type tests
  packages/angular-query-experimental/src/__tests__/inject-mutation-state.test-d.ts
Due: @tanstack/angular-query-experimental

feat(angular-query): injectMutationState (#6925)
  .gitignore
  docs/framework/angular/guides/optimistic-updates.md
  packages/angular-query-experimental/src/__tests__/inject-mutation-state.test-d.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation-state.test.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation.test.ts
  packages/angular-query-experimental/src/create-base-query.ts
  packages/angular-query-experimental/src/index.ts
  packages/angular-query-experimental/src/inject-mutation-state.ts
Due: @tanstack/angular-query-experimental

release: v5.22.0
  examples/angular/basic/package.json
  examples/angular/infinite-query-with-max-pages/package.json
  examples/angular/router/package.json
  examples/angular/simple/package.json
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/package.json
  pnpm-lock.yaml
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental

fix(angular-query): Fix StackBlitz examples by downgrading piscina
  examples/angular/basic/package.json
  examples/angular/infinite-query-with-max-pages/package.json
  examples/angular/router/package.json
  examples/angular/simple/package.json
Due: none

fix(angular-query): Fix StackBlitz examples by downgrading piscina (#6926)
  examples/angular/basic/package.json
  examples/angular/infinite-query-with-max-pages/package.json
  examples/angular/router/package.json
  examples/angular/simple/package.json
Due: none

chore: update
  .github/labeler.yml
Due: none

fix(angular-query): support required input signal
  examples/angular/router/src/app/components/post.component.ts
  packages/angular-query-experimental/src/__tests__/inject-is-fetching.test.ts
  packages/angular-query-experimental/src/create-base-query.ts
  packages/angular-query-experimental/src/lazy-init.ts
Due: @tanstack/angular-query-experimental

fix(angular-query): support required input signal (#6928)
  examples/angular/router/src/app/components/post.component.ts
  packages/angular-query-experimental/src/__tests__/inject-is-fetching.test.ts
  packages/angular-query-experimental/src/create-base-query.ts
  packages/angular-query-experimental/src/lazy-init.ts
Due: @tanstack/angular-query-experimental

release: v5.22.1
  examples/angular/basic/package.json
  examples/angular/infinite-query-with-max-pages/package.json
  examples/angular/router/package.json
  examples/angular/simple/package.json
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/package.json
  pnpm-lock.yaml
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental

docs(react-query): fix typo whan -> when
  docs/framework/react/guides/advanced-ssr.md
Due: none

fix(solid-query): Don't return promise when data is available synchronously
  packages/solid-query/src/createBaseQuery.ts
Due: @tanstack/solid-query

feat(query-devtools): Add picture-in-picture mode
  packages/query-devtools/src/Devtools.tsx
  packages/query-devtools/src/icons/index.tsx
Due: @tanstack/query-devtools

remove margin from pip body
  packages/query-devtools/src/Devtools.tsx
Due: @tanstack/query-devtools

docs(react-query): fix typo whan -> when (#6929)
  docs/framework/react/guides/advanced-ssr.md
Due: none

fix: notify queryCache after updateQuery()
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/tests/queryCache.test.tsx
Due: @tanstack/query-core

fix(query-core): notify queryCache after updateQuery() (#6936)
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/tests/queryCache.test.tsx
Due: @tanstack/query-core

feat(query-devtools): Add picture-in-picture mode (#6931)
  packages/query-devtools/src/Devtools.tsx
  packages/query-devtools/src/icons/index.tsx
Due: @tanstack/query-devtools

ci(eslint): add `typecheck` for cspell words
  .eslintrc.cjs
Due: none

test(react-query-devtools): add test case for production mode
  packages/react-query-devtools/src/__tests__/production.test.tsx
Due: @tanstack/react-query-devtools

chore: update
  .eslintrc.cjs
Due: none

docs: Install the right version of the react devtools
  docs/framework/react/devtools.md
Due: none

test(queryClient): Adjust performance threshholds
  packages/query-core/src/tests/queryClient.test.tsx
Due: @tanstack/query-core

feat(query-devtools): Persist picture-in-picture mode through reloads
  packages/query-devtools/src/Devtools.tsx
Due: @tanstack/query-devtools

Remove comments
  packages/query-devtools/src/Devtools.tsx
Due: @tanstack/query-devtools

Cleanup popup correctly before mounting in-page devtools
  packages/query-devtools/src/Devtools.tsx
Due: @tanstack/query-devtools

clear console logs
  packages/query-devtools/src/Devtools.tsx
Due: @tanstack/query-devtools

Update devtools.md
  docs/framework/react/devtools.md
Due: none
