Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools, @tanstack/angular-query, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

codecov.yml:

codecov:
  max_report_age: off

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto

comment:
  layout: 'header, reach, diff, flags, components'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  hide_project_coverage: false

component_management:
  individual_components:
    - component_id: angular-query-devtools
      name: '@tanstack/angular-query-devtools'
      paths:
        - packages/angular-query-devtools/**
    - component_id: angular-query
      name: '@tanstack/angular-query'
      paths:
        - packages/angular-query/**
    - component_id: eslint-plugin-query
      name: '@tanstack/eslint-plugin-query'
      paths:
        - packages/eslint-plugin-query/**
    - component_id: query-async-storage-persister
      name: '@tanstack/query-async-storage-persister'
      paths:
        - packages/query-async-storage-persister/**
    - component_id: query-broadcast-client-experimental
      name: '@tanstack/query-broadcast-client-experimental'
      paths:
        - packages/query-broadcast-client-experimental/**
    - component_id: query-codemods
      name: '@tanstack/query-codemods'
      paths:
        - packages/query-codemods/**
    - component_id: query-core
      name: '@tanstack/query-core'
      paths:
        - packages/query-core/**
    - component_id: query-devtools
      name: '@tanstack/query-devtools'
      paths:
        - packages/query-devtools/**
    - component_id: query-persist-client-core
      name: '@tanstack/query-persist-client-core'
      paths:
        - packages/query-persist-client-core/**
    - component_id: query-sync-storage-persister
      name: '@tanstack/query-sync-storage-persister'
      paths:
        - packages/query-sync-storage-persister/**
    - component_id: query-test-utils
      name: '@tanstack/query-test-utils'
      paths:
        - packages/query-test-utils/**
    - component_id: react-query
      name: '@tanstack/react-query'
      paths:
        - packages/react-query/**
    - component_id: react-query-devtools
      name: '@tanstack/react-query-devtools'
      paths:
        - packages/react-query-devtools/**
    - component_id: react-query-next-experimental
      name: '@tanstack/react-query-next-experimental'
      paths:
        - packages/react-query-next-experimental/**
    - component_id: react-query-persist-client
      name: '@tanstack/react-query-persist-client'
      paths:
        - packages/react-query-persist-client/**
    - component_id: solid-query
      name: '@tanstack/solid-query'
      paths:
        - packages/solid-query/**
    - component_id: solid-query-devtools
      name: '@tanstack/solid-query-devtools'
      paths:
        - packages/solid-query-devtools/**
    - component_id: solid-query-persist-client
      name: '@tanstack/solid-query-persist-client'
      paths:
        - packages/solid-query-persist-client/**
    - component_id: svelte-query
      name: '@tanstack/svelte-query'
      paths:
        - packages/svelte-query/**
    - component_id: svelte-query-devtools
      name: '@tanstack/svelte-query-devtools'
      paths:
        - packages/svelte-query-devtools/**
    - component_id: svelte-query-persist-client
      name: '@tanstack/svelte-query-persist-client'
      paths:
        - packages/svelte-query-persist-client/**
    - component_id: vue-query
      name: '@tanstack/vue-query'
      paths:
        - packages/vue-query/**
    - component_id: vue-query-devtools
      name: '@tanstack/vue-query-devtools'
      paths:
        - packages/vue-query-devtools/**

fix(query-core): refetch resetQueries matches after state-mutating reset
  .changeset/reset-queries-state-predicate.md
  packages/query-core/src/__tests__/queryClient.test.tsx
  packages/query-core/src/queryClient.ts
Due: @tanstack/query-core

fix(vue-query): preserve reactive query option keys
  packages/vue-query/src/__tests__/queryOptions.test-d.ts
  packages/vue-query/src/queryOptions.ts
Due: @tanstack/vue-query

fix(vue-query): export queryOptions declaration types
  .changeset/calm-vue-query-options.md
  packages/query-core/src/index.ts
  packages/vue-query/src/__tests__/queryOptions.test-d.ts
  packages/vue-query/src/index.ts
  packages/vue-query/src/queryOptions.ts
Due: @tanstack/query-core, @tanstack/vue-query

fix(vue-query): expose useQuery option aliases
  .changeset/calm-vue-query-options.md
  packages/vue-query/src/index.ts
Due: @tanstack/vue-query

docs(react-query/reference): remove stale 'suspense' references left over from the v5 suspense split
  docs/framework/react/reference/useQuery.md
  docs/framework/react/reference/useSuspenseInfiniteQuery.md
  docs/framework/react/reference/useSuspenseQueries.md
Due: none

docs(react-query/reference): fix 'queryClient' nesting in 'HydrationBoundary' options
  docs/framework/react/reference/hydration.md
Due: none

docs(react-query/reference): remove stale 'suspense' references left over from the v5 suspense split (#11200)
  docs/framework/react/reference/useQuery.md
  docs/framework/react/reference/useSuspenseInfiniteQuery.md
  docs/framework/react/reference/useSuspenseQueries.md
Due: none

docs(react-query/reference): fix 'queryClient' nesting in 'HydrationBoundary' options (#11201)
  docs/framework/react/reference/hydration.md
Due: none

docs(vue-query/guides/ssr): fix 'queryKey' to use array form
  docs/framework/vue/guides/ssr.md
Due: none

docs(vue-query/guides/suspense): update example to v5 object syntax (#11159)
  docs/framework/vue/guides/suspense.md
Due: none

docs(vue-query/guides/ssr): fix 'queryKey' to use array form (#11202)
  docs/framework/vue/guides/ssr.md
Due: none

docs(vue-query/reference): hide React-only 'React.use()' mention from useInfiniteQuery
  docs/framework/react/reference/useInfiniteQuery.md
  docs/framework/vue/reference/useInfiniteQuery.md
Due: none

docs(vue-query/reference): hide React-only 'React.use()' mention from useInfiniteQuery (#11203)
  docs/framework/react/reference/useInfiniteQuery.md
  docs/framework/vue/reference/useInfiniteQuery.md
Due: none

chore(scripts/generate-docs): drop 'preact-query' from TypeDoc generation targets
  scripts/generate-docs.ts
Due: none

docs(preact-query/reference): replace 'react-error-boundary' example with 'useErrorBoundary'
  docs/framework/preact/reference/QueryErrorResetBoundary.md
  docs/framework/preact/reference/useQueryErrorResetBoundary.md
  docs/framework/react/reference/QueryErrorResetBoundary.md
  docs/framework/react/reference/useQueryErrorResetBoundary.md
Due: none

docs(query-react): Update links in useQuery documentation (#11006)
  docs/framework/react/reference/useQuery.md
Due: none

docs: fix in-page anchor links to match the docs site's slug format (#11162)
  docs/framework/react/guides/ssr.md
  docs/reference/MutationCache.md
  docs/reference/QueryCache.md
  docs/reference/QueryClient.md
  docs/reference/environmentManager.md
  docs/reference/focusManager.md
  docs/reference/notifyManager.md
  docs/reference/onlineManager.md
  docs/reference/timeoutManager.md
Due: none

fix(scripts): make the docs link check work on Windows (#11181)
  scripts/verify-links.ts
Due: none

fix: Recreate the thenable on query-hash switches.
  packages/query-core/src/__tests__/queryObserver.test.tsx
  packages/query-core/src/thenable.ts
Due: @tanstack/query-core

Update packages/query-core/src/queryObserver.ts
  packages/query-core/src/queryObserver.ts
Due: @tanstack/query-core

fix streaming
  packages/query-core/src/queryObserver.ts
  packages/react-query/src/__tests__/useSuspenseQuery.test.tsx
Due: @tanstack/query-core, @tanstack/react-query

fix(query-core): ignore a retained thenable callback invoked after settling (#11128)
  .changeset/olive-cows-repeat.md
  packages/query-core/src/__tests__/thenable.test.tsx
  packages/query-core/src/thenable.ts
Due: @tanstack/query-core

test(queryObserver): cover cached data resolution
  packages/query-core/src/__tests__/queryObserver.test.tsx
Due: @tanstack/query-core

fix(query-core): resolve suspense when query data is set programmatically (#11036)
  .changeset/resolve-suspense-setquerydata.md
  packages/query-core/src/__tests__/queryObserver.test.tsx
  packages/query-core/src/queryObserver.ts
  packages/react-query/src/__tests__/useSuspenseQuery.test.tsx
Due: @tanstack/query-core, @tanstack/react-query

ref: disallow `enabled`
  packages/query-core/src/__tests__/queryClient.test-d.tsx
  packages/query-core/src/__tests__/queryClient.test.tsx
  packages/query-core/src/queryClient.ts
  packages/query-core/src/types.ts
Due: @tanstack/query-core

remove outdated test
  packages/lit-query/src/tests/type-inference.test.ts
Due: none

pnpm update
  package.json
  packages/angular-query-experimental/package.json
  packages/angular-query-persist-client/package.json
  packages/eslint-plugin-query/package.json
  packages/preact-query-devtools/package.json
  packages/preact-query-persist-client/package.json
  packages/preact-query/package.json
  packages/query-async-storage-persister/package.json
  packages/query-broadcast-client-experimental/package.json
  packages/query-core/package.json
  packages/query-devtools/package.json
  packages/query-persist-client-core/package.json
  packages/query-sync-storage-persister/package.json
  packages/query-test-utils/package.json
  packages/react-query-devtools/package.json
  packages/react-query-next-experimental/package.json
  packages/react-query-persist-client/package.json
  packages/react-query/package.json
  packages/solid-query-devtools/package.json
  packages/solid-query-persist-client/package.json
  packages/solid-query/package.json
  pnpm-lock.yaml
Due: @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client

test(lit): remove other outdated test
  packages/lit-query/src/tests/type-inference.test.ts
Due: none

fix: overwrites
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: CVE-2026-59873 security vulnerability
  package.json
Due: none

upgrate attw
  package.json
  pnpm-lock.yaml
Due: none

lock esbuild
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

feat(query-core): add simplified query methods (#10658)
  .changeset/true-cameras-wash.md
  packages/angular-query-experimental/src/__tests__/infinite-query-options.test-d.ts
  packages/angular-query-experimental/src/__tests__/query-options.test-d.ts
  packages/lit-query/src/tests/type-inference.test.ts
  packages/preact-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/preact-query/src/__tests__/queryOptions.test-d.tsx
  packages/query-core/src/__tests__/queryClient.test-d.tsx
  packages/query-core/src/__tests__/queryClient.test.tsx
  packages/query-core/src/queryClient.ts
  packages/query-core/src/types.ts
  packages/react-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/react-query/src/__tests__/queryOptions.test-d.tsx
  packages/react-query/src/__tests__/queryOptions.test.tsx
  packages/solid-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/solid-query/src/__tests__/queryOptions.test-d.tsx
  packages/svelte-query/tests/infiniteQueryOptions.test-d.ts
  packages/svelte-query/tests/queryOptions.test-d.ts
Due: @tanstack/query-core, @tanstack/react-query, @tanstack/solid-query, @tanstack/svelte-query

fix: resetQueries
  .changeset/swift-actors-brush.md
  packages/query-core/src/__tests__/queryClient.test.tsx
  packages/query-core/src/queryClient.ts
Due: @tanstack/query-core

ref: revert knip
  package.json
  pnpm-lock.yaml
Due: none

fix(query-core): resetQueries now preserves the queries matched before query.reset() changes their state. (#11211)
  .changeset/swift-actors-brush.md
  packages/query-core/src/__tests__/queryClient.test.tsx
  packages/query-core/src/queryClient.ts
Due: @tanstack/query-core

feat(vue-query): add new methods to vue-query
  .changeset/cold-islands-move.md
  packages/vue-query/src/__tests__/infiniteQueryOptions.test-d.ts
  packages/vue-query/src/__tests__/queryClient.test-d.ts
  packages/vue-query/src/__tests__/queryClient.test.ts
  packages/vue-query/src/__tests__/queryOptions.test-d.ts
  packages/vue-query/src/__tests__/usePrefetchInfiniteQuery.test-d.ts
  packages/vue-query/src/__tests__/usePrefetchInfiniteQuery.test.ts
  packages/vue-query/src/__tests__/usePrefetchQuery.test-d.ts
  packages/vue-query/src/__tests__/usePrefetchQuery.test.ts
  packages/vue-query/src/queryClient.ts
  packages/vue-query/src/types.ts
  packages/vue-query/src/usePrefetchInfiniteQuery.ts
  packages/vue-query/src/usePrefetchQuery.ts
  packages/vue-query/src/utils.ts
Due: @tanstack/vue-query

docs(examples): use webpack in Next.js examples for StackBlitz compatibility (#11110)
  examples/react/auto-refetching/package.json
  examples/react/infinite-query-with-max-pages/package.json
  examples/react/load-more-infinite-scroll/package.json
  examples/react/nextjs-app-prefetching/package.json
  examples/react/nextjs/package.json
  examples/react/optimistic-updates-cache/package.json
  examples/react/optimistic-updates-ui/package.json
  examples/react/pagination/package.json
  examples/react/prefetching/package.json
  integrations/react-next-15/package.json
  integrations/react-next-16/package.json
Due: none

fix(query-core): release the retryer once a fetch settles (#11163)
  .changeset/release-settled-retryer.md
  packages/query-core/src/__tests__/query.test.tsx
  packages/query-core/src/query.ts
Due: @tanstack/query-core
