Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools, @tanstack/angular-query, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

docs(angular-query-experimental): add missing JSDoc to 'createBaseQuery' and the mutation state helper
  docs/framework/angular/reference/functions/injectMutationState.md
  docs/framework/angular/reference/interfaces/InjectMutationStateOptions.md
  packages/angular-query-experimental/src/create-base-query.ts
  packages/angular-query-experimental/src/inject-mutation-state.ts
Due: none

docs(*): add missing JSDoc to the persisters and the broadcast client
  packages/query-async-storage-persister/src/asyncThrottle.ts
  packages/query-async-storage-persister/src/index.ts
  packages/query-async-storage-persister/src/utils.ts
  packages/query-broadcast-client-experimental/src/index.ts
  packages/query-persist-client-core/src/createPersister.ts
  packages/query-persist-client-core/src/persist.ts
  packages/query-sync-storage-persister/src/index.ts
  packages/query-sync-storage-persister/src/utils.ts
Due: @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister

docs(query-devtools): add missing JSDoc to components, contexts, and utilities
  packages/query-devtools/src/Explorer.tsx
  packages/query-devtools/src/contexts/DevtoolsOfflineContext.ts
  packages/query-devtools/src/contexts/DevtoolsStateContext.ts
  packages/query-devtools/src/contexts/DevtoolsSubscriptionsContext.ts
  packages/query-devtools/src/contexts/QueryDevtoolsContext.ts
  packages/query-devtools/src/contexts/ThemeContext.ts
  packages/query-devtools/src/createCacheSubscriptionRegistry.ts
  packages/query-devtools/src/icons/index.tsx
  packages/query-devtools/src/providers/DevtoolsOfflineProvider.tsx
  packages/query-devtools/src/providers/DevtoolsStateProvider.tsx
  packages/query-devtools/src/providers/DevtoolsSubscriptionsProvider.tsx
  packages/query-devtools/src/utils.tsx
Due: @tanstack/query-devtools

fix(query-core): start queued scoped mutations while the window is not focused 🤖🤖🤖 (#11679)
  .changeset/quiet-scopes-resume.md
  packages/query-core/src/__tests__/mutation.test.tsx
  packages/query-core/src/retryer.ts
Due: @tanstack/query-core

docs(eslint-plugin-query): add missing JSDoc to rule helpers and utilities
  packages/eslint-plugin-query/src/rules/exhaustive-deps/exhaustive-deps.rule.ts
  packages/eslint-plugin-query/src/rules/exhaustive-deps/exhaustive-deps.utils.ts
  packages/eslint-plugin-query/src/rules/no-rest-destructuring/no-rest-destructuring.utils.ts
  packages/eslint-plugin-query/src/rules/no-unstable-deps/no-unstable-deps.rule.ts
  packages/eslint-plugin-query/src/rules/no-void-query-fn/no-void-query-fn.rule.ts
  packages/eslint-plugin-query/src/rules/prefer-query-options/prefer-query-options.rule.ts
  packages/eslint-plugin-query/src/utils/create-property-order-rule.ts
  packages/eslint-plugin-query/src/utils/detect-react-query-imports.ts
  packages/eslint-plugin-query/src/utils/sort-data-by-order.ts
  packages/eslint-plugin-query/src/utils/unique-by.ts
Due: @tanstack/eslint-plugin-query

chore(eslint.config): exclude '__testfixtures__' from the 'jsdoc' rules
  eslint.config.js
Due: none

docs(*): describe the broadcast event filters and the restore cleanup errors
  packages/query-broadcast-client-experimental/src/index.ts
  packages/query-persist-client-core/src/persist.ts
Due: @tanstack/query-broadcast-client-experimental, @tanstack/query-persist-client-core

docs(angular-query-experimental): note that 'createBaseQuery' keeps functions callable
  packages/angular-query-experimental/src/create-base-query.ts
Due: none

chore(eslint.config): exclude '__testfixtures__' from the 'jsdoc' rules (#11850)
  eslint.config.js
Due: none

docs(react-query-next-experimental): correct where streamed hydration and HTML insertion happen
  packages/react-query-next-experimental/src/HydrationStreamProvider.tsx
  packages/react-query-next-experimental/src/ReactQueryStreamedHydration.tsx
Due: @tanstack/react-query-next-experimental

docs(vue-query): add missing JSDoc and move '@internal' after the descriptions (#11839)
  docs/framework/vue/reference/functions/useMutationState.md
  docs/framework/vue/reference/functions/usePrefetchInfiniteQuery.md
  docs/framework/vue/reference/functions/usePrefetchQuery.md
  docs/framework/vue/reference/functions/useQueryClient.md
  docs/framework/vue/reference/type-aliases/MutationOptions.md
  packages/vue-query/src/devtools/devtools.ts
  packages/vue-query/src/devtools/utils.ts
  packages/vue-query/src/types.ts
  packages/vue-query/src/useBaseQuery.ts
  packages/vue-query/src/useMutationState.ts
  packages/vue-query/src/usePrefetchInfiniteQuery.ts
  packages/vue-query/src/usePrefetchQuery.ts
  packages/vue-query/src/useQueryClient.ts
  packages/vue-query/src/utils.ts
Due: @tanstack/vue-query

docs(svelte-query): add missing JSDoc to svelte-query and svelte-query-persist-client (#11840)
  docs/framework/svelte/reference/functions/getIsRestoringContext.md
  docs/framework/svelte/reference/functions/setIsRestoringContext.md
  docs/framework/svelte/reference/functions/useMutationState.md
  docs/framework/svelte/reference/functions/useQueryClient.md
  packages/svelte-query-persist-client/src/utils.svelte.ts
  packages/svelte-query/src/containers.svelte.ts
  packages/svelte-query/src/context.ts
  packages/svelte-query/src/createBaseQuery.svelte.ts
  packages/svelte-query/src/createQueries.svelte.ts
  packages/svelte-query/src/useMutationState.svelte.ts
  packages/svelte-query/src/useQueryClient.ts
  packages/svelte-query/src/utils.svelte.ts
Due: @tanstack/svelte-query, @tanstack/svelte-query-persist-client

docs(solid-query): add missing JSDoc to solid-query and solid-query-devtools (#11841)
  docs/framework/solid/reference/functions/QueryClientProvider.md
  docs/framework/solid/reference/functions/useMutationState.md
  docs/framework/solid/reference/functions/useQueryClient.md
  docs/framework/solid/reference/type-aliases/QueryClientProviderProps.md
  packages/solid-query-devtools/src/clientOnly.tsx
  packages/solid-query-devtools/src/devtools.tsx
  packages/solid-query-devtools/src/devtoolsPanel.tsx
  packages/solid-query/src/QueryClientProvider.tsx
  packages/solid-query/src/useBaseQuery.ts
  packages/solid-query/src/useMutationState.ts
Due: @tanstack/solid-query, @tanstack/solid-query-devtools

docs(preact-query): add missing JSDoc to preact-query and preact-query-devtools (#11842)
  docs/framework/preact/reference/functions/HydrationBoundary.md
  docs/framework/preact/reference/functions/QueryClientProvider.md
  docs/framework/preact/reference/functions/QueryErrorResetBoundary.md
  docs/framework/preact/reference/functions/useMutationState.md
  docs/framework/preact/reference/functions/usePrefetchInfiniteQuery.md
  docs/framework/preact/reference/functions/usePrefetchQuery.md
  docs/framework/preact/reference/functions/useQueryClient.md
  docs/framework/preact/reference/functions/useQueryErrorResetBoundary.md
  docs/framework/preact/reference/interfaces/QueryErrorResetBoundaryProps.md
  docs/framework/preact/reference/type-aliases/QueryClientProviderProps.md
  docs/framework/preact/reference/type-aliases/QueryErrorResetBoundaryFunction.md
  packages/preact-query-devtools/src/PreactQueryDevtools.tsx
  packages/preact-query-devtools/src/PreactQueryDevtoolsPanel.tsx
  packages/preact-query/src/HydrationBoundary.tsx
  packages/preact-query/src/QueryClientProvider.tsx
  packages/preact-query/src/QueryErrorResetBoundary.tsx
  packages/preact-query/src/useBaseQuery.ts
  packages/preact-query/src/useMutationState.ts
  packages/preact-query/src/usePrefetchInfiniteQuery.tsx
  packages/preact-query/src/usePrefetchQuery.tsx
  packages/preact-query/src/utils.ts
Due: none

docs(react-query): add missing JSDoc to react-query, react-query-next-experimental, and react-query-devtools (#11843)
  docs/framework/react/reference/functions/HydrationBoundary.md
  docs/framework/react/reference/functions/QueryClientProvider.md
  docs/framework/react/reference/functions/QueryErrorResetBoundary.md
  docs/framework/react/reference/functions/useMutationState.md
  docs/framework/react/reference/functions/usePrefetchInfiniteQuery.md
  docs/framework/react/reference/functions/usePrefetchQuery.md
  docs/framework/react/reference/functions/useQueryClient.md
  docs/framework/react/reference/functions/useQueryErrorResetBoundary.md
  docs/framework/react/reference/interfaces/QueryErrorResetBoundaryProps.md
  docs/framework/react/reference/type-aliases/QueryClientProviderProps.md
  docs/framework/react/reference/type-aliases/QueryErrorResetBoundaryFunction.md
  packages/react-query-devtools/src/ReactQueryDevtools.tsx
  packages/react-query-devtools/src/ReactQueryDevtoolsPanel.tsx
  packages/react-query-next-experimental/src/HydrationStreamProvider.tsx
  packages/react-query-next-experimental/src/ReactQueryStreamedHydration.tsx
  packages/react-query-next-experimental/src/htmlescape.ts
  packages/react-query/src/HydrationBoundary.tsx
  packages/react-query/src/QueryClientProvider.tsx
  packages/react-query/src/QueryErrorResetBoundary.tsx
  packages/react-query/src/useBaseQuery.ts
  packages/react-query/src/useMutationState.ts
  packages/react-query/src/usePrefetchInfiniteQuery.tsx
  packages/react-query/src/usePrefetchQuery.tsx
Due: @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental

docs(lit-query): add missing JSDoc to accessors, context errors, and result placeholders (#11844)
  docs/framework/lit/reference/functions/createInfiniteQueryController.md
  docs/framework/lit/reference/functions/createMutationController.md
  docs/framework/lit/reference/functions/createQueriesController.md
  docs/framework/lit/reference/functions/createQueryController.md
  docs/framework/lit/reference/functions/resolveQueryClient.md
  docs/framework/lit/reference/functions/useQueryClient.md
  docs/framework/lit/reference/type-aliases/ValueAccessor.md
  packages/lit-query/src/QueryClientProvider.ts
  packages/lit-query/src/accessor.ts
  packages/lit-query/src/context.ts
  packages/lit-query/src/createInfiniteQueryController.ts
  packages/lit-query/src/createMutationController.ts
  packages/lit-query/src/createQueriesController.ts
  packages/lit-query/src/createQueryController.ts
Due: none

docs(angular-query-experimental): add missing JSDoc to 'createBaseQuery' and the mutation state helper (#11845)
  docs/framework/angular/reference/functions/injectMutationState.md
  docs/framework/angular/reference/interfaces/InjectMutationStateOptions.md
  packages/angular-query-experimental/src/create-base-query.ts
  packages/angular-query-experimental/src/inject-mutation-state.ts
Due: none

docs(*): add missing JSDoc to the persisters and the broadcast client (#11846)
  packages/query-async-storage-persister/src/asyncThrottle.ts
  packages/query-async-storage-persister/src/index.ts
  packages/query-async-storage-persister/src/utils.ts
  packages/query-broadcast-client-experimental/src/index.ts
  packages/query-persist-client-core/src/createPersister.ts
  packages/query-persist-client-core/src/persist.ts
  packages/query-sync-storage-persister/src/index.ts
  packages/query-sync-storage-persister/src/utils.ts
Due: @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister

docs(query-devtools): add missing JSDoc to components, contexts, and utilities (#11847)
  packages/query-devtools/src/Explorer.tsx
  packages/query-devtools/src/contexts/DevtoolsOfflineContext.ts
  packages/query-devtools/src/contexts/DevtoolsStateContext.ts
  packages/query-devtools/src/contexts/DevtoolsSubscriptionsContext.ts
  packages/query-devtools/src/contexts/QueryDevtoolsContext.ts
  packages/query-devtools/src/contexts/ThemeContext.ts
  packages/query-devtools/src/createCacheSubscriptionRegistry.ts
  packages/query-devtools/src/icons/index.tsx
  packages/query-devtools/src/providers/DevtoolsOfflineProvider.tsx
  packages/query-devtools/src/providers/DevtoolsStateProvider.tsx
  packages/query-devtools/src/providers/DevtoolsSubscriptionsProvider.tsx
  packages/query-devtools/src/utils.tsx
Due: @tanstack/query-devtools

docs(eslint-plugin-query): add missing JSDoc to rule helpers and utilities (#11848)
  packages/eslint-plugin-query/src/rules/exhaustive-deps/exhaustive-deps.rule.ts
  packages/eslint-plugin-query/src/rules/exhaustive-deps/exhaustive-deps.utils.ts
  packages/eslint-plugin-query/src/rules/no-rest-destructuring/no-rest-destructuring.utils.ts
  packages/eslint-plugin-query/src/rules/no-unstable-deps/no-unstable-deps.rule.ts
  packages/eslint-plugin-query/src/rules/no-void-query-fn/no-void-query-fn.rule.ts
  packages/eslint-plugin-query/src/rules/prefer-query-options/prefer-query-options.rule.ts
  packages/eslint-plugin-query/src/utils/create-property-order-rule.ts
  packages/eslint-plugin-query/src/utils/detect-react-query-imports.ts
  packages/eslint-plugin-query/src/utils/sort-data-by-order.ts
  packages/eslint-plugin-query/src/utils/unique-by.ts
Due: @tanstack/eslint-plugin-query

chore(eslint.config): enforce the 'jsdoc' rules that have no remaining violations
  eslint.config.js
Due: none

chore(eslint.config): enforce the 'jsdoc' rules that have no remaining violations (#11851)
  eslint.config.js
Due: none

chore(eslint.config): use 'extends' for the 'eslint-plugin-jsdoc' recommended config
  eslint.config.js
Due: none

chore(eslint.config): use 'extends' for the 'eslint-plugin-jsdoc' recommended config (#11852)
  eslint.config.js
Due: none

chore(angular-query-persist-client/eslint.config): remove the package-specific 'jsdoc' rules in favor of the root config
  packages/angular-query-persist-client/eslint.config.js
Due: none

chore(eslint.config): extend the error variant of the 'eslint-plugin-jsdoc' recommended config
  eslint.config.js
Due: none

chore(angular-query-persist-client/eslint.config): remove the package-specific 'jsdoc' rules in favor of the root config (#11853)
  packages/angular-query-persist-client/eslint.config.js
Due: none

chore(eslint.config): extend the error variant of the 'eslint-plugin-jsdoc' recommended config (#11854)
  eslint.config.js
Due: none

chore(eslint.config): enable the 'jsdoc' rules outside the recommended config that have no violations
  eslint.config.js
Due: none

chore(eslint.config): enable the 'jsdoc' rules outside the recommended config that have no violations (#11855)
  eslint.config.js
Due: none

chore(eslint.config): enforce 'jsdoc/require-throws'
  eslint.config.js
Due: none

docs(*): add missing JSDoc '@throws' tags
  docs/framework/angular/reference/classes/QueryObserver.md
  docs/framework/lit/reference/classes/QueryObserver.md
  docs/framework/lit/reference/functions/useQueryClient.md
  docs/framework/preact/reference/classes/QueryObserver.md
  docs/framework/preact/reference/functions/useMutation.md
  docs/framework/preact/reference/functions/useQueries.md
  docs/framework/react/reference/classes/QueryObserver.md
  docs/framework/react/reference/functions/useMutation.md
  docs/framework/react/reference/functions/useQueries.md
  docs/framework/solid/reference/classes/QueryObserver.md
  docs/framework/svelte/reference/classes/QueryObserver.md
  docs/framework/vue/reference/classes/QueryObserver.md
  packages/lit-query/src/QueryClientProvider.ts
  packages/lit-query/src/context.ts
  packages/preact-query/src/useBaseQuery.ts
  packages/preact-query/src/useMutation.ts
  packages/preact-query/src/useQueries.ts
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/utils.ts
  packages/react-query/src/useBaseQuery.ts
  packages/react-query/src/useMutation.ts
  packages/react-query/src/useQueries.ts
Due: @tanstack/query-core, @tanstack/react-query

docs(*): add missing JSDoc '@throws' tags and enforce 'jsdoc/require-throws' (#11856)
  docs/framework/angular/reference/classes/QueryObserver.md
  docs/framework/lit/reference/classes/QueryObserver.md
  docs/framework/lit/reference/functions/useQueryClient.md
  docs/framework/preact/reference/classes/QueryObserver.md
  docs/framework/preact/reference/functions/useMutation.md
  docs/framework/preact/reference/functions/useQueries.md
  docs/framework/react/reference/classes/QueryObserver.md
  docs/framework/react/reference/functions/useMutation.md
  docs/framework/react/reference/functions/useQueries.md
  docs/framework/solid/reference/classes/QueryObserver.md
  docs/framework/svelte/reference/classes/QueryObserver.md
  docs/framework/vue/reference/classes/QueryObserver.md
  eslint.config.js
  packages/lit-query/src/QueryClientProvider.ts
  packages/lit-query/src/context.ts
  packages/preact-query/src/useBaseQuery.ts
  packages/preact-query/src/useMutation.ts
  packages/preact-query/src/useQueries.ts
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/utils.ts
  packages/react-query/src/useBaseQuery.ts
  packages/react-query/src/useMutation.ts
  packages/react-query/src/useQueries.ts
Due: @tanstack/query-core, @tanstack/react-query

docs(framework/*/reference): regenerate reference docs
  docs/framework/angular/reference/classes/InfiniteQueryObserver.md
  docs/framework/angular/reference/functions/keepPreviousData.md
  docs/framework/angular/reference/functions/shouldThrowError.md
  docs/framework/angular/reference/type-aliases/SkipToken.md
  docs/framework/angular/reference/variables/skipToken.md
  docs/framework/lit/reference/classes/InfiniteQueryObserver.md
  docs/framework/lit/reference/functions/keepPreviousData.md
  docs/framework/lit/reference/functions/resolveQueryClient.md
  docs/framework/lit/reference/functions/shouldThrowError.md
  docs/framework/lit/reference/type-aliases/SkipToken.md
  docs/framework/lit/reference/variables/skipToken.md
  docs/framework/preact/reference/classes/InfiniteQueryObserver.md
  docs/framework/preact/reference/functions/keepPreviousData.md
  docs/framework/preact/reference/functions/shouldThrowError.md
  docs/framework/preact/reference/type-aliases/SkipToken.md
  docs/framework/preact/reference/variables/skipToken.md
  docs/framework/react/reference/classes/InfiniteQueryObserver.md
  docs/framework/react/reference/functions/keepPreviousData.md
  docs/framework/react/reference/functions/shouldThrowError.md
  docs/framework/react/reference/type-aliases/SkipToken.md
  docs/framework/react/reference/variables/skipToken.md
  docs/framework/solid/reference/classes/InfiniteQueryObserver.md
  docs/framework/solid/reference/functions/keepPreviousData.md
  docs/framework/solid/reference/functions/shouldThrowError.md
  docs/framework/solid/reference/type-aliases/SkipToken.md
  docs/framework/solid/reference/variables/skipToken.md
  docs/framework/svelte/reference/classes/InfiniteQueryObserver.md
  docs/framework/svelte/reference/functions/keepPreviousData.md
  docs/framework/svelte/reference/functions/shouldThrowError.md
  docs/framework/svelte/reference/type-aliases/SkipToken.md
  docs/framework/svelte/reference/variables/skipToken.md
  docs/framework/vue/reference/classes/InfiniteQueryObserver.md
  docs/framework/vue/reference/functions/keepPreviousData.md
  docs/framework/vue/reference/functions/shouldThrowError.md
  docs/framework/vue/reference/type-aliases/SkipToken.md
  docs/framework/vue/reference/variables/skipToken.md
Due: none

docs(framework/*/reference): regenerate reference docs (#11857)
  docs/framework/angular/reference/classes/InfiniteQueryObserver.md
  docs/framework/angular/reference/functions/keepPreviousData.md
  docs/framework/angular/reference/functions/shouldThrowError.md
  docs/framework/angular/reference/type-aliases/SkipToken.md
  docs/framework/angular/reference/variables/skipToken.md
  docs/framework/lit/reference/classes/InfiniteQueryObserver.md
  docs/framework/lit/reference/functions/keepPreviousData.md
  docs/framework/lit/reference/functions/resolveQueryClient.md
  docs/framework/lit/reference/functions/shouldThrowError.md
  docs/framework/lit/reference/type-aliases/SkipToken.md
  docs/framework/lit/reference/variables/skipToken.md
  docs/framework/preact/reference/classes/InfiniteQueryObserver.md
  docs/framework/preact/reference/functions/keepPreviousData.md
  docs/framework/preact/reference/functions/shouldThrowError.md
  docs/framework/preact/reference/type-aliases/SkipToken.md
  docs/framework/preact/reference/variables/skipToken.md
  docs/framework/react/reference/classes/InfiniteQueryObserver.md
  docs/framework/react/reference/functions/keepPreviousData.md
  docs/framework/react/reference/functions/shouldThrowError.md
  docs/framework/react/reference/type-aliases/SkipToken.md
  docs/framework/react/reference/variables/skipToken.md
  docs/framework/solid/reference/classes/InfiniteQueryObserver.md
  docs/framework/solid/reference/functions/keepPreviousData.md
  docs/framework/solid/reference/functions/shouldThrowError.md
  docs/framework/solid/reference/type-aliases/SkipToken.md
  docs/framework/solid/reference/variables/skipToken.md
  docs/framework/svelte/reference/classes/InfiniteQueryObserver.md
  docs/framework/svelte/reference/functions/keepPreviousData.md
  docs/framework/svelte/reference/functions/shouldThrowError.md
  docs/framework/svelte/reference/type-aliases/SkipToken.md
  docs/framework/svelte/reference/variables/skipToken.md
  docs/framework/vue/reference/classes/InfiniteQueryObserver.md
  docs/framework/vue/reference/functions/keepPreviousData.md
  docs/framework/vue/reference/functions/shouldThrowError.md
  docs/framework/vue/reference/type-aliases/SkipToken.md
  docs/framework/vue/reference/variables/skipToken.md
Due: none

chore(eslint.config): enforce 'jsdoc/sort-tags'
  eslint.config.js
Due: none

docs(*): replace JSDoc descriptions that only repeat the names
  docs/framework/angular/reference/classes/InfiniteQueryObserver.md
  docs/framework/angular/reference/classes/MutationObserver.md
  docs/framework/angular/reference/classes/QueryObserver.md
  docs/framework/lit/reference/classes/InfiniteQueryObserver.md
  docs/framework/lit/reference/classes/MutationObserver.md
  docs/framework/lit/reference/classes/QueryObserver.md
  docs/framework/preact/reference/classes/InfiniteQueryObserver.md
  docs/framework/preact/reference/classes/MutationObserver.md
  docs/framework/preact/reference/classes/QueryObserver.md
  docs/framework/react/reference/classes/InfiniteQueryObserver.md
  docs/framework/react/reference/classes/MutationObserver.md
  docs/framework/react/reference/classes/QueryObserver.md
  docs/framework/solid/reference/classes/InfiniteQueryObserver.md
  docs/framework/solid/reference/classes/MutationObserver.md
  docs/framework/solid/reference/classes/QueryObserver.md
  docs/framework/svelte/reference/classes/InfiniteQueryObserver.md
  docs/framework/svelte/reference/classes/MutationObserver.md
  docs/framework/svelte/reference/classes/QueryObserver.md
  docs/framework/vue/reference/classes/InfiniteQueryObserver.md
  docs/framework/vue/reference/classes/MutationObserver.md
  docs/framework/vue/reference/classes/QueryObserver.md
  packages/eslint-plugin-query/src/rules/no-unstable-deps/no-unstable-deps.rule.ts
  packages/eslint-plugin-query/src/rules/prefer-query-options/prefer-query-options.rule.ts
  packages/eslint-plugin-query/src/utils/create-property-order-rule.ts
  packages/lit-query/src/accessor.ts
  packages/lit-query/src/context.ts
  packages/lit-query/src/createInfiniteQueryController.ts
  packages/lit-query/src/createMutationController.ts
  packages/lit-query/src/createQueriesController.ts
  packages/lit-query/src/createQueryController.ts
  packages/preact-query/src/useBaseQuery.ts
  packages/query-core/src/mutationObserver.ts
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/utils.ts
  packages/query-devtools/src/utils.tsx
  packages/react-query/src/useBaseQuery.ts
  packages/svelte-query-persist-client/src/utils.svelte.ts
  packages/vue-query/src/devtools/utils.ts
Due: @tanstack/eslint-plugin-query, @tanstack/query-core, @tanstack/query-devtools, @tanstack/react-query, @tanstack/svelte-query-persist-client, @tanstack/vue-query

Path conditions:
  @tanstack/angular-query-devtools: any of: packages/angular-query-devtools/**
  @tanstack/angular-query: any of: packages/angular-query/**
  @tanstack/eslint-plugin-query: any of: packages/eslint-plugin-query/**
  @tanstack/query-async-storage-persister: any of: packages/query-async-storage-persister/**
  @tanstack/query-broadcast-client-experimental: any of: packages/query-broadcast-client-experimental/**
  @tanstack/query-codemods: any of: packages/query-codemods/**
  @tanstack/query-core: any of: packages/query-core/**
  @tanstack/query-devtools: any of: packages/query-devtools/**
  @tanstack/query-persist-client-core: any of: packages/query-persist-client-core/**
  @tanstack/query-sync-storage-persister: any of: packages/query-sync-storage-persister/**
  @tanstack/query-test-utils: any of: packages/query-test-utils/**
  @tanstack/react-query: any of: packages/react-query/**
  @tanstack/react-query-devtools: any of: packages/react-query-devtools/**
  @tanstack/react-query-next-experimental: any of: packages/react-query-next-experimental/**
  @tanstack/react-query-persist-client: any of: packages/react-query-persist-client/**
  @tanstack/solid-query: any of: packages/solid-query/**
  @tanstack/solid-query-devtools: any of: packages/solid-query-devtools/**
  @tanstack/solid-query-persist-client: any of: packages/solid-query-persist-client/**
  @tanstack/svelte-query: any of: packages/svelte-query/**
  @tanstack/svelte-query-devtools: any of: packages/svelte-query-devtools/**
  @tanstack/svelte-query-persist-client: any of: packages/svelte-query-persist-client/**
  @tanstack/vue-query: any of: packages/vue-query/**
  @tanstack/vue-query-devtools: any of: packages/vue-query-devtools/**
