Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools, @tanstack/angular-query, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/query-test-utils, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

removeItem if deserialize fails in restoreQueries
  packages/query-persist-client-core/src/createPersister.ts
Due: @tanstack/query-persist-client-core

feat(experimental_createQueryPersister): Add removeQueries (#10186)
  .changeset/fifty-zebras-stay.md
  docs/framework/react/plugins/createPersister.md
  packages/query-persist-client-core/src/__tests__/createPersister.test.ts
  packages/query-persist-client-core/src/createPersister.ts
Due: @tanstack/query-persist-client-core

test(svelte-query/queryOptions): add explicit 'CreateQueryOptions' type annotation
  packages/svelte-query/tests/queryOptions/queryOptions.svelte.test.ts
Due: @tanstack/svelte-query

test(svelte-query/infiniteQueryOptions): add explicit 'CreateInfiniteQueryOptions' type annotation
  packages/svelte-query/tests/infiniteQueryOptions/infiniteQueryOptions.svelte.test.ts
Due: @tanstack/svelte-query

test(preact-query/ssr): add test for 'useMutationState' returning empty array (#10149)
  packages/preact-query/src/__tests__/ssr.test.tsx
Due: none

test(svelte-query/useMutationState): add test for 'select' option in 'useMutationState' (#10150)
  packages/svelte-query/tests/useMutationState/SelectExample.svelte
  packages/svelte-query/tests/useMutationState/useMutationState.svelte.test.ts
Due: @tanstack/svelte-query

chore(svelte-query/vite.config): enable coverage collection by default (#10151)
  packages/svelte-query/vite.config.ts
Due: @tanstack/svelte-query

test(react-query/useQuery): add test for not fetching during restoring period when 'isRestoring' is true (#10166)
  packages/react-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/react-query

test(solid-query/useQuery): add test for refetching query when 'queryClient' changes (#10167)
  packages/solid-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/solid-query

test(solid-query/useQuery): add test for 'isRestoring' transition from true to false triggering refetch (#10168)
  packages/solid-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/solid-query

test(solid-query/useQuery): add test for string 'reconcile' option maintaining referential equality (#10169)
  packages/solid-query/src/__tests__/useQuery.test.tsx
Due: @tanstack/solid-query

test(svelte-query/HydrationBoundary): add test for hydrating queries to the cache on context (#10179)
  packages/svelte-query/tests/HydrationBoundary/BaseExample.svelte
  packages/svelte-query/tests/HydrationBoundary/HydrationBoundary.svelte.test.ts
Due: @tanstack/svelte-query

test(preact-query/useQuery): add test for not fetching during restoring period when 'isRestoring' is true (#10180)
  packages/preact-query/src/__tests__/useQuery.test.tsx
Due: none

test(query-core/mutationCache): add test for deleting scope when removing the only mutation in that scope (#10181)
  packages/query-core/src/__tests__/mutationCache.test.tsx
Due: @tanstack/query-core

test(query-core/queriesObserver): add test for 'trackResult' property tracking synchronization across all observers (#10185)
  packages/query-core/src/__tests__/queriesObserver.test.tsx
Due: @tanstack/query-core

test(react-query/useSuspenseQueries): add test for suspending only pending queries when some already have cached data (#10126)
  packages/react-query/src/__tests__/useSuspenseQueries.test.tsx
Due: @tanstack/react-query

test(svelte-query/infiniteQueryOptions): add runtime test for identity function (#10177)
  packages/svelte-query/tests/infiniteQueryOptions/infiniteQueryOptions.svelte.test.ts
Due: @tanstack/svelte-query

test({react,preact,angular}-query/{queryOptions,infiniteQueryOptions,mutationOptions}): replace 'toStrictEqual' with 'toBe' and add type annotations (#10192)
  packages/angular-query-experimental/src/__tests__/infinite-query-options.test.ts
  packages/angular-query-experimental/src/__tests__/mutation-options.test.ts
  packages/angular-query-experimental/src/__tests__/query-options.test.ts
  packages/preact-query/src/__tests__/infiniteQueryOptions.test.tsx
  packages/preact-query/src/__tests__/mutationOptions.test.tsx
  packages/preact-query/src/__tests__/queryOptions.test.tsx
  packages/react-query/src/__tests__/infiniteQueryOptions.test.tsx
  packages/react-query/src/__tests__/mutationOptions.test.tsx
  packages/react-query/src/__tests__/queryOptions.test.tsx
Due: @tanstack/react-query

docs(angular/guides/caching): fix typo 'date' to 'data' (#10189)
  docs/framework/angular/guides/caching.md
Due: none

refactor(preact-query/useQueries): remove unreachable 'willFetch' branch in suspense promise collection (#10188)
  .changeset/remove-unreachable-willfetch-preact.md
  packages/preact-query/src/useQueries.ts
Due: none

docs(angular): fix QueryClient field in paginated guide (#10147)
  docs/framework/angular/guides/paginated-queries.md
Due: none

Apply suggestions from code review
  docs/framework/react/react-native.md
Due: none

docs(react-native): fix example to include initial state (#10172)
  docs/framework/react/react-native.md
Due: none

test(svelte-query/queryOptions): revert 'CreateQueryOptions' type annotation due to overload mismatch
  packages/svelte-query/tests/queryOptions/queryOptions.svelte.test.ts
Due: @tanstack/svelte-query

docs({solid,vue}-query/broadcastQueryClient): remove unnecessary 'replace' that doesn't match source content
  docs/framework/solid/plugins/broadcastQueryClient.md
  docs/framework/vue/plugins/broadcastQueryClient.md
Due: none

docs({solid,vue}-query/broadcastQueryClient): remove unnecessary 'replace' that doesn't match source content (#10193)
  docs/framework/solid/plugins/broadcastQueryClient.md
  docs/framework/vue/plugins/broadcastQueryClient.md
Due: none

check if error throw in query is redudant
  PR_REVIEW.md
  packages/query-core/src/queryClient.ts
Due: @tanstack/query-core

Add preact query devtools
  docs/config.json
  docs/framework/preact/devtools.md
  packages/preact-query-devtools/.attw.json
  packages/preact-query-devtools/eslint.config.js
  packages/preact-query-devtools/package.json
  packages/preact-query-devtools/root.eslint.config.js
  packages/preact-query-devtools/root.tsup.config.js
  packages/preact-query-devtools/src/PreactQueryDevtools.tsx
  packages/preact-query-devtools/src/PreactQueryDevtoolsPanel.tsx
  packages/preact-query-devtools/src/index.ts
  packages/preact-query-devtools/src/production.ts
  packages/preact-query-devtools/test-setup.ts
  packages/preact-query-devtools/tsconfig.json
  packages/preact-query-devtools/tsconfig.legacy.json
  packages/preact-query-devtools/tsconfig.prod.json
  packages/preact-query-devtools/tsup.config.ts
  packages/preact-query-devtools/vite.config.ts
  pnpm-lock.yaml
Due: none

knip
  packages/preact-query-devtools/package.json
  packages/preact-query-devtools/src/PreactQueryDevtools.tsx
  packages/preact-query-devtools/src/PreactQueryDevtoolsPanel.tsx
  pnpm-lock.yaml
Due: none

test(preact-query/useSuspenseQueries): align cached data test with react-query to verify background refetch
  packages/preact-query/src/__tests__/useSuspenseQueries.test.tsx
Due: none

test(react-query/useQueries): add test for 'isRestoring' to cover restoring period branch
  packages/react-query/src/__tests__/useQueries.test.tsx
Due: @tanstack/react-query

test(preact-query/useQueries): add test for not fetching during restoring period when 'isRestoring' is true
  packages/preact-query/src/__tests__/useQueries.test.tsx
Due: none

remove accidental md commit
  PR_REVIEW.md
Due: none

change error message
  packages/query-core/src/queryClient.ts
Due: @tanstack/query-core

update incorrect enabled
  packages/query-core/src/__tests__/queryClient.test.tsx
Due: @tanstack/query-core

update tests
  packages/query-core/src/__tests__/queryClient.test.tsx
  packages/query-core/src/queryClient.ts
Due: @tanstack/query-core

changeset is patch
  .changeset/hungry-adults-count.md
Due: none

isServer
  packages/preact-query/src/__tests__/ssr-hydration.test.tsx
  packages/preact-query/src/__tests__/ssr.test.tsx
  packages/preact-query/src/__tests__/utils.tsx
  packages/preact-query/src/useBaseQuery.ts
  packages/query-core/src/__tests__/focusManager.test.tsx
  packages/query-core/src/__tests__/onlineManager.test.tsx
  packages/query-core/src/__tests__/query.test.tsx
  packages/query-core/src/__tests__/queryClient.test.tsx
  packages/query-core/src/__tests__/utils.ts
  packages/query-core/src/focusManager.ts
  packages/query-core/src/index.ts
  packages/query-core/src/mutation.ts
  packages/query-core/src/onlineManager.ts
  packages/query-core/src/query.ts
  packages/query-core/src/queryClient.ts
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/removable.ts
  packages/query-core/src/retryer.ts
  packages/query-core/src/types.ts
  packages/query-core/src/utils.ts
  packages/react-query/src/__tests__/ssr-hydration.test.tsx
  packages/react-query/src/__tests__/ssr.test.tsx
  packages/react-query/src/__tests__/utils.tsx
  packages/react-query/src/useBaseQuery.ts
  packages/vue-query/src/queryClient.ts
  packages/vue-query/src/types.ts
  packages/vue-query/src/vueQueryPlugin.ts
Due: @tanstack/query-core, @tanstack/react-query, @tanstack/vue-query

docs
  docs/reference/QueryClient.md
  packages/query-core/src/index.ts
  packages/query-core/src/queryClient.ts
  packages/query-core/src/types.ts
Due: @tanstack/query-core

Path conditions:
  @tanstack/angular-query-devtools: any of: packages/angular-query-devtools/**
  @tanstack/angular-query: any of: packages/angular-query/**
  @tanstack/eslint-plugin-query: any of: packages/eslint-plugin-query/**
  @tanstack/query-async-storage-persister: any of: packages/query-async-storage-persister/**
  @tanstack/query-broadcast-client-experimental: any of: packages/query-broadcast-client-experimental/**
  @tanstack/query-codemods: any of: packages/query-codemods/**
  @tanstack/query-core: any of: packages/query-core/**
  @tanstack/query-devtools: any of: packages/query-devtools/**
  @tanstack/query-persist-client-core: any of: packages/query-persist-client-core/**
  @tanstack/query-sync-storage-persister: any of: packages/query-sync-storage-persister/**
  @tanstack/query-test-utils: any of: packages/query-test-utils/**
  @tanstack/react-query: any of: packages/react-query/**
  @tanstack/react-query-devtools: any of: packages/react-query-devtools/**
  @tanstack/react-query-next-experimental: any of: packages/react-query-next-experimental/**
  @tanstack/react-query-persist-client: any of: packages/react-query-persist-client/**
  @tanstack/solid-query: any of: packages/solid-query/**
  @tanstack/solid-query-devtools: any of: packages/solid-query-devtools/**
  @tanstack/solid-query-persist-client: any of: packages/solid-query-persist-client/**
  @tanstack/svelte-query: any of: packages/svelte-query/**
  @tanstack/svelte-query-devtools: any of: packages/svelte-query-devtools/**
  @tanstack/svelte-query-persist-client: any of: packages/svelte-query-persist-client/**
  @tanstack/vue-query: any of: packages/vue-query/**
  @tanstack/vue-query-devtools: any of: packages/vue-query-devtools/**
