Repository TanStack/query: changes, and which Codecov flags are due for each by the changed paths.
All: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 1%

comment:
  layout: 'header, reach, diff, flags, components'

component_management:
  individual_components:
    - component_id: angular-query-devtools-experimental
      name: '@tanstack/angular-query-devtools-experimental'
      paths:
        - packages/angular-query-devtools-experimental/**
    - component_id: angular-query-experimental
      name: '@tanstack/angular-query-experimental'
      paths:
        - packages/angular-query-experimental/**
    - component_id: eslint-plugin-query
      name: '@tanstack/eslint-plugin-query'
      paths:
        - packages/eslint-plugin-query/**
    - component_id: query-async-storage-persister
      name: '@tanstack/query-async-storage-persister'
      paths:
        - packages/query-async-storage-persister/**
    - component_id: query-broadcast-client-experimental
      name: '@tanstack/query-broadcast-client-experimental'
      paths:
        - packages/query-broadcast-client-experimental/**
    - component_id: query-codemods
      name: '@tanstack/query-codemods'
      paths:
        - packages/codemods/**
    - component_id: query-core
      name: '@tanstack/query-core'
      paths:
        - packages/query-core/**
    - component_id: query-devtools
      name: '@tanstack/query-devtools'
      paths:
        - packages/query-devtools/**
    - component_id: query-persist-client-core
      name: '@tanstack/query-persist-client-core'
      paths:
        - packages/query-persist-client-core/**
    - component_id: query-sync-storage-persister
      name: '@tanstack/query-sync-storage-persister'
      paths:
        - packages/query-sync-storage-persister/**
    - component_id: react-query
      name: '@tanstack/react-query'
      paths:
        - packages/react-query/**
    - component_id: react-query-devtools
      name: '@tanstack/react-query-devtools'
      paths:
        - packages/react-query-devtools/**
    - component_id: react-query-next-experimental
      name: '@tanstack/react-query-next-experimental'
      paths:
        - packages/react-query-next-experimental/**
    - component_id: react-query-persist-client
      name: '@tanstack/react-query-persist-client'
      paths:
        - packages/react-query-persist-client/**
    - component_id: solid-query
      name: '@tanstack/solid-query'
      paths:
        - packages/solid-query/**
    - component_id: solid-query-devtools
      name: '@tanstack/solid-query-devtools'
      paths:
        - packages/solid-query-devtools/**
    - component_id: solid-query-persist-client
      name: '@tanstack/solid-query-persist-client'
      paths:
        - packages/solid-query-persist-client/**
    - component_id: svelte-query
      name: '@tanstack/svelte-query'
      paths:
        - packages/svelte-query/**
    - component_id: svelte-query-devtools
      name: '@tanstack/svelte-query-devtools'
      paths:
        - packages/svelte-query-devtools/**
    - component_id: svelte-query-persist-client
      name: '@tanstack/svelte-query-persist-client'
      paths:
        - packages/svelte-query-persist-client/**
    - component_id: vue-query
      name: '@tanstack/vue-query'
      paths:
        - packages/vue-query/**
    - component_id: vue-query-devtools
      name: '@tanstack/vue-query-devtools'
      paths:
        - packages/vue-query-devtools/**

remove @microsoft/api-extractor
  packages/angular-query-experimental/package.json
  pnpm-lock.yaml
Due: @tanstack/angular-query-experimental

fix svelte tests
  packages/svelte-query/tests/createMutation/FailureExample.svelte
  packages/svelte-query/tests/createMutation/ResetExample.svelte
Due: @tanstack/svelte-query

fix angular test
  packages/angular-query-experimental/src/__tests__/inject-mutation-state.test.ts
Due: @tanstack/angular-query-experimental

update zone.js to 0.15.0
  examples/angular/auto-refetching/package.json
  examples/angular/basic/package.json
  examples/angular/devtools-panel/package.json
  examples/angular/infinite-query-with-max-pages/package.json
  examples/angular/optimistic-updates/package.json
  examples/angular/pagination/package.json
  examples/angular/query-options-from-a-service/package.json
  examples/angular/router/package.json
  examples/angular/rxjs/package.json
  examples/angular/simple/package.json
  integrations/angular-cli-19/package.json
  pnpm-lock.yaml
Due: none

fix react test
  packages/react-query/src/__tests__/useQuery.promise.test.tsx
Due: @tanstack/react-query

remove .only
  packages/react-query/src/__tests__/useQuery.promise.test.tsx
Due: @tanstack/react-query

fix(paths): use customConditions to define internal imports
  packages/query-core/package.json
  tsconfig.json
Due: @tanstack/query-core

the rest of the changes
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/package.json
  packages/eslint-plugin-query/package.json
  packages/query-async-storage-persister/package.json
  packages/query-broadcast-client-experimental/package.json
  packages/query-devtools/package.json
  packages/query-persist-client-core/package.json
  packages/query-sync-storage-persister/package.json
  packages/react-query-devtools/package.json
  packages/react-query-next-experimental/package.json
  packages/react-query-persist-client/package.json
  packages/react-query/package.json
  packages/solid-query-devtools/package.json
  packages/solid-query-persist-client/package.json
  packages/solid-query/package.json
  packages/svelte-query-devtools/package.json
  packages/svelte-query-persist-client/package.json
  packages/svelte-query/package.json
  packages/vue-query-devtools/package.json
  packages/vue-query/package.json
  tsconfig.json
Due: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools

docs: ✏️ Fix typo in `docs/framework/react/overview.md`, "React Query" to "TanStack Query" (#8934)
  docs/framework/react/overview.md
Due: none

docs: typo (#8932)
  docs/framework/react/guides/request-waterfalls.md
  docs/framework/react/guides/ssr.md
  docs/framework/react/guides/suspense.md
  docs/reference/streamedQuery.md
Due: none

Update packages/query-core/src/hydration.ts
  packages/query-core/src/hydration.ts
Due: @tanstack/query-core

chore: allow Preview Bundle Size to fail
  .github/workflows/pr.yml
Due: none

fix(query-core): Rename defaultshouldRedactErrors to defaultShouldRedactErrors (#8933)
  packages/query-core/src/hydration.ts
Due: @tanstack/query-core

fix publint
  packages/eslint-plugin-query/package.json
Due: @tanstack/eslint-plugin-query

use {query.status}
  packages/react-query/src/__tests__/useQuery.promise.test.tsx
Due: @tanstack/react-query

chore: add script to patch missing export equals
  packages/eslint-plugin-query/package.json
  packages/eslint-plugin-query/scripts/patch-missing-export-equals.js
Due: @tanstack/eslint-plugin-query

refactor: replace Accessor<T> wth FunctionedParams<T> (#8535)
  packages/solid-query/src/infiniteQueryOptions.ts
  packages/solid-query/src/queryOptions.ts
  packages/solid-query/src/types.ts
Due: @tanstack/solid-query

release: v5.71.4
  examples/solid/astro/package.json
  examples/solid/basic-graphql-request/package.json
  examples/solid/basic/package.json
  examples/solid/default-query-function/package.json
  examples/solid/simple/package.json
  examples/solid/solid-start-streaming/package.json
  packages/solid-query-devtools/package.json
  packages/solid-query-persist-client/package.json
  packages/solid-query/package.json
Due: @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client

fix(solid-query): move from `createX` syntax to `useQuery`, `useInfiniteQuery`, `useQueries`, `useMutation` like react to ease maintenance. Add alias to createX for backwards compat.
  packages/solid-query-persist-client/src/__tests__/PersistQueryClientProvider.test.tsx
  packages/solid-query/src/__tests__/QueryClientProvider.test.tsx
  packages/solid-query/src/__tests__/createQueries.test-d.tsx
  packages/solid-query/src/__tests__/queryOptions.test-d.tsx
  packages/solid-query/src/__tests__/suspense.test.tsx
  packages/solid-query/src/__tests__/transition.test.tsx
  packages/solid-query/src/__tests__/useInfiniteQuery.test.tsx
  packages/solid-query/src/__tests__/useIsFetching.test.tsx
  packages/solid-query/src/__tests__/useIsMutating.test.tsx
  packages/solid-query/src/__tests__/useMutation.test.tsx
  packages/solid-query/src/__tests__/useMutationState.test.tsx
  packages/solid-query/src/__tests__/useQueries.test.tsx
  packages/solid-query/src/__tests__/useQuery.test-d.tsx
  packages/solid-query/src/__tests__/useQuery.test.tsx
  packages/solid-query/src/__tests__/useQueryOptions.test-d.tsx
  packages/solid-query/src/index.ts
  packages/solid-query/src/types.ts
  packages/solid-query/src/useBaseQuery.ts
  packages/solid-query/src/useInfiniteQuery.ts
  packages/solid-query/src/useMutation.ts
  packages/solid-query/src/useQueries.ts
  packages/solid-query/src/useQuery.ts
Due: @tanstack/solid-query, @tanstack/solid-query-persist-client

sort improt
  packages/solid-query/src/useInfiniteQuery.ts
  packages/solid-query/src/useQueries.ts
  packages/solid-query/src/useQuery.ts
Due: @tanstack/solid-query

feat(react-query): add pause provider
  docs/framework/react/react-native.md
  docs/framework/react/reference/PauseManagerProvider.md
  examples/react/pause/.eslintrc
  examples/react/pause/.gitignore
  examples/react/pause/README.md
  examples/react/pause/index.html
  examples/react/pause/package.json
  examples/react/pause/public/emblem-light.svg
  examples/react/pause/src/index.tsx
  examples/react/pause/tsconfig.json
  examples/react/pause/vite.config.ts
  packages/query-core/src/index.ts
  packages/query-core/src/pauseManager.ts
  packages/react-query/src/PauseManagerProvider.tsx
  packages/react-query/src/index.ts
  packages/react-query/src/useBaseQuery.ts
  packages/react-query/src/useQueries.ts
  pnpm-lock.yaml
Due: @tanstack/query-core, @tanstack/react-query

fix: Update API, add a bunch of tests
  packages/svelte-query/package.json
  packages/svelte-query/src/containers.svelte.ts
  packages/svelte-query/src/context.ts
  packages/svelte-query/src/createBaseQuery.svelte.ts
  packages/svelte-query/src/createInfiniteQuery.ts
  packages/svelte-query/src/createMutation.svelte.ts
  packages/svelte-query/src/createQueries.svelte.ts
  packages/svelte-query/src/createQuery.ts
  packages/svelte-query/src/useIsFetching.svelte.ts
  packages/svelte-query/src/useIsMutating.svelte.ts
  packages/svelte-query/src/useIsRestoring.ts
  packages/svelte-query/src/useMutationState.svelte.ts
  packages/svelte-query/tests/createQuery.svelte.test.ts
Due: @tanstack/svelte-query

merge main
  packages/svelte-query/src/createBaseQuery.svelte.ts
  packages/svelte-query/tests/createQuery.svelte.test.ts
Due: @tanstack/svelte-query

fix(solid-query): add `useQuery`, `useInfiniteQuery`, `useQueries`, `useMutation` as alternative syntax to align with react and ease maintenance (#8938)
  packages/solid-query-persist-client/src/__tests__/PersistQueryClientProvider.test.tsx
  packages/solid-query/src/__tests__/QueryClientProvider.test.tsx
  packages/solid-query/src/__tests__/createQueries.test-d.tsx
  packages/solid-query/src/__tests__/queryOptions.test-d.tsx
  packages/solid-query/src/__tests__/suspense.test.tsx
  packages/solid-query/src/__tests__/transition.test.tsx
  packages/solid-query/src/__tests__/useInfiniteQuery.test.tsx
  packages/solid-query/src/__tests__/useIsFetching.test.tsx
  packages/solid-query/src/__tests__/useIsMutating.test.tsx
  packages/solid-query/src/__tests__/useMutation.test.tsx
  packages/solid-query/src/__tests__/useMutationState.test.tsx
  packages/solid-query/src/__tests__/useQueries.test.tsx
  packages/solid-query/src/__tests__/useQuery.test-d.tsx
  packages/solid-query/src/__tests__/useQuery.test.tsx
  packages/solid-query/src/__tests__/useQueryOptions.test-d.tsx
  packages/solid-query/src/index.ts
  packages/solid-query/src/types.ts
  packages/solid-query/src/useBaseQuery.ts
  packages/solid-query/src/useInfiniteQuery.ts
  packages/solid-query/src/useMutation.ts
  packages/solid-query/src/useQueries.ts
  packages/solid-query/src/useQuery.ts
Due: @tanstack/solid-query, @tanstack/solid-query-persist-client

chore(readme): add readme to solid-query
  packages/solid-query/README.md
Due: @tanstack/solid-query

chore(solid-query): add readme (#8939)
  packages/solid-query/README.md
Due: @tanstack/solid-query

fix: use const
  packages/svelte-query/src/context.ts
  packages/svelte-query/src/createBaseQuery.svelte.ts
  packages/svelte-query/src/createMutation.svelte.ts
  packages/svelte-query/src/createQueries.svelte.ts
Due: @tanstack/svelte-query

fix(solid-query): add compat types
  packages/solid-query/src/index.ts
Due: @tanstack/solid-query

fix(solid-query): add compat types (#8940)
  packages/solid-query/src/index.ts
Due: @tanstack/solid-query

release: v5.71.6
  examples/solid/astro/package.json
  examples/solid/basic-graphql-request/package.json
  examples/solid/basic/package.json
  examples/solid/default-query-function/package.json
  examples/solid/simple/package.json
  examples/solid/solid-start-streaming/package.json
  packages/solid-query-devtools/package.json
  packages/solid-query-persist-client/package.json
  packages/solid-query/package.json
Due: @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client

chore(solid-query): update examples/intergration
  examples/solid/astro/src/components/SolidApp.tsx
  examples/solid/basic-graphql-request/src/index.tsx
  examples/solid/basic/src/index.tsx
  examples/solid/default-query-function/src/index.tsx
  examples/solid/simple/src/index.tsx
  examples/solid/solid-start-streaming/src/components/post-viewer.tsx
  examples/solid/solid-start-streaming/src/components/query-boundary.tsx
  examples/solid/solid-start-streaming/src/components/user-info.tsx
  examples/solid/solid-start-streaming/src/routes/batch-methods.tsx
  examples/solid/solid-start-streaming/src/routes/hydration.tsx
  integrations/solid-vite/src/App.jsx
Due: none

update docs
  docs/config.json
  docs/framework/solid/reference/useQuery.md
Due: none

chore(solid-query): update examples, integration, docs (#8941)
  docs/config.json
  docs/framework/solid/reference/useQuery.md
  examples/solid/astro/src/components/SolidApp.tsx
  examples/solid/basic-graphql-request/src/index.tsx
  examples/solid/basic/src/index.tsx
  examples/solid/default-query-function/src/index.tsx
  examples/solid/simple/src/index.tsx
  examples/solid/solid-start-streaming/src/components/post-viewer.tsx
  examples/solid/solid-start-streaming/src/components/query-boundary.tsx
  examples/solid/solid-start-streaming/src/components/user-info.tsx
  examples/solid/solid-start-streaming/src/routes/batch-methods.tsx
  examples/solid/solid-start-streaming/src/routes/hydration.tsx
  integrations/solid-vite/src/App.jsx
Due: none

chore(solid-query): update docs
  docs/framework/solid/overview.md
  docs/framework/solid/quick-start.md
  docs/framework/solid/typescript.md
Due: none

chore(solid-query): update docs (#8942)
  docs/framework/solid/overview.md
  docs/framework/solid/quick-start.md
  docs/framework/solid/typescript.md
Due: none

perf(query-broadcast-client-experimental): added a cleanup function
  packages/query-broadcast-client-experimental/src/__tests__/index.test.ts
  packages/query-broadcast-client-experimental/src/index.test.ts
  packages/query-broadcast-client-experimental/src/index.ts
Due: @tanstack/query-broadcast-client-experimental

fix(solid-query): use QueryClient from query-core
  packages/solid-query/src/QueryClient.ts
  packages/solid-query/src/QueryClientProvider.tsx
  packages/solid-query/src/__tests__/useQuery.test.tsx
  packages/solid-query/src/__tests__/utils.tsx
  packages/solid-query/src/index.ts
  packages/solid-query/src/types.ts
  packages/solid-query/src/useBaseQuery.ts
  packages/solid-query/src/useInfiniteQuery.ts
  packages/solid-query/src/useIsFetching.ts
  packages/solid-query/src/useIsMutating.ts
  packages/solid-query/src/useMutation.ts
  packages/solid-query/src/useMutationState.ts
  packages/solid-query/src/useQueries.ts
  packages/solid-query/src/useQuery.ts
Due: @tanstack/solid-query
